@import '../../../../styles/variables/vars.scss';
@import '../../../../styles/variables/mixins.scss';

.slider {
  margin: 20px 0 0 0 !important;
}

.orange-button--custom {
  position: relative;
  left: 0;
  right: 0;
  bottom: 150px;

}

.resume-slider {
	border: solid red 1px;
    margin: 10px;
}

.home-slider {
  display: flex;
}