@import '../../../../../styles-mobile/abstracts';

.m-home-header {
    padding: 0 0 0 1.5rem !important;

    .m-top-search-header {
        background-image: none;
        position: relative;
        box-shadow: none;
        display: flex;
        align-items: center;
        padding: 1.5rem 0 0 0;

        .m-btn-search-black {
            background-color: $white;
            height: 5rem;
            box-shadow: none;
            border: none;
            border-top-left-radius: .5rem;
            border-bottom-left-radius: .5rem;
            padding: 0 1rem;
            margin-right: -1px;
        }

        .m-search-input {
            background: $white;
            height: 5rem;
            box-shadow: none;
            border: none;
            padding: 0 1rem 0 0;
            flex: 1 1;
            font-size: 1.2rem;
        }

        .m-btn-voice-search {
            background: $white;
            height: 5rem;
            box-shadow: none;
            border: none;
            border-top-right-radius: .5rem;
            border-bottom-right-radius: .5rem;
            margin-left: -.1rem;
        }
    }
    
    .m-header-nav {
        font-size: 1.3rem;
        color: $white;
        margin: 1.5rem 0 -.5rem 0;
        display: block;

        .micon-home {
            width: 2.5rem;
            float: left;
            position: relative;
            overflow: visible;

            &::after {
                content: '';
                position: absolute;
                left: -.8rem;
                right: .2rem;
                bottom: -1.3rem;
                border-bottom: .4rem solid $white;
            }
        }

        a {
            color: $white;
            margin-left: 1rem;
        }
    }
}