{% extends "console/base_console.html" %}
{% load static %}
{% load humanize %}
{% load console_tags %}

{% block title %}
  <title>Linkedin Profile</title>
{% endblock title %}

{% block css_block %}
  {{ block.super }}
  <!-- Switchery -->
  <link href="{% static "/packages/switchery/dist/switchery.min.css"  %}" rel="stylesheet" type="text/css">
  <link href="{% static "/packages/bootstrap-daterangepicker/daterangepicker.css"  %}" rel="stylesheet" type="text/css">

  <style type="text/css">
      ul.parsley-errors-list {
          list-style: none;
          color: #fff;
          padding-left: 0;
      }
      ul.errorlist {
          list-style: none;
          color: #fff;
          padding-left: 0;
      }
      .empty-form{
        display: none;
      }
      .clearimg a{
        margin-right: 30px;
      }
  
      </style>
                
{% endblock css_block %}

{% block pagecontent %}
        <!-- page content -->
<div class="right_col" role="main">
  <div class="">
    <div class="page-title">
      <div class="title_left">
        <h3></h3>
      </div>

    </div>
    <div class="row">
      <div class="col-md-12 col-sm-12 col-xs-12">
        {% if messages %}
            {% for message in messages %}

              <div{% if message.tags %} class="alert alert-{{ message.tags }} alert-dismissable"{% endif %}>
              <button type="button" class="close" data-dismiss="alert" aria-hidden="true">&times;</button>

              {{ message }}
              </div>
            {% endfor %}
        {% endif %}

      </div>
    </div>
    

    <div class="clearfix"></div>

    <div class="row">
      <div class="col-md-12 col-sm-12 col-xs-12">
        <div class="x_panel">
          <div class="x_title">
            <h2><i class="fa fa-bookmark"></i> Linkedin Profile</h2>
            <ul class="nav navbar-right panel_toolbox">
              <li>
                <a class="collapse-link"><i class="fa fa-chevron-up"></i></a>
              </li>
            </ul>
            <div class="clearfix"></div>
          </div>
          <div class="x_content">

            <div class="" role="tabpanel" data-example-id="togglable-tabs">
              <div id="myTabContent2" class="tab-content">
                
                <div role="tabpanel" class="tab-pane fade active in" id="tab_content11" aria-labelledby="home-tab">
                  <form class="form-horizontal form-label-left" method="POST" action="." id="linkedin-draft-form">
                    {% csrf_token %}
                    {% if form.non_field_errors %}
                      <div class="alert alert-danger alert-dismissible fade in" role="alert">
                        <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">×</span>
                        </button>
                        {{form.non_field_errors}}
                      </div>
                    {% endif %}

                    <div class="item form-group {% if form.active.errors %}bad{% endif %}">
                      <label class="control-label col-md-3 col-sm-3 col-xs-12" for="{{ form.candidate_name.id_for_label }}">Candidate Name <span class="required"></span>
                      </label>
                      <div class="col-md-6 col-sm-6 col-xs-12">
                        {{form.candidate_name}}
                      </div>
                      <div class="alert">{{form.candidate_name.errors}}</div>
                    </div>

                    
                    <div class="item form-group {% if form.headline.errors %}bad{% endif %}">
                      <label class="control-label col-md-3 col-sm-3 col-xs-12" for="{{ form.headline.id_for_label }}">Headline <span class="required">*</span>
                      </label>
                      <div class="col-md-6 col-sm-6 col-xs-12">
                        {{form.headline}}
                      </div>
                      <div class="alert">{{form.headline.errors}}</div>
                    </div>

                    <div class="item form-group {% if form.type_service.errors %}bad{% endif %}">
                      <label class="control-label col-md-3 col-sm-3 col-xs-12" for="{{ form.summary.id_for_label }}">Summary <span class="required">*</span>
                      </label>
                      <div class="col-md-6 col-sm-6 col-xs-12">
                        {{form.summery}}
                      </div>
                      <div class="alert">{{form.summary.errors}}</div>
                    </div>

                    <div class="item form-group {% if form.profile_photo.errors %}bad{% endif %}">
                      <label class="control-label col-md-3 col-sm-3 col-xs-12" for="{{ form.profile_photo.id_for_label }}">Level <span class="required">*</span>
                      </label>
                      <div class="col-md-6 col-sm-6 col-xs-12">
                        {{form.profile_photo}}
                      </div>
                      <div class="alert">{{form.profile_photo.errors}}</div>
                    </div>

                    
                    <div class="item form-group {% if form.recommendation.errors %}bad{% endif %}">
                      <label class="control-label col-md-3 col-sm-3 col-xs-12" for="{{ form.recommendation.id_for_label }}">Recommendation <span class="required"></span>
                      </label>
                      <div class="col-md-6 col-sm-6 col-xs-12">
                        {{form.recommendation}}
                      </div>
                      <div class="alert">{{form.recommendation.errors}}</div>
                    </div>

                    <div class="item form-group {% if form.follow_company.errors %}bad{% endif %}">
                      <label class="control-label col-md-3 col-sm-3 col-xs-12" for="{{ form.follow_company.id_for_label }}">Follow Company <span class="required"></span>
                      </label>
                      <div class="col-md-6 col-sm-6 col-xs-12">
                        {{form.follow_company}}
                      </div>
                      <div class="alert">{{form.follow_company.errors}}</div>
                    </div>

                    <div class="item form-group {% if form.join_group.errors %}bad{% endif %}">
                      <label class="control-label col-md-3 col-sm-3 col-xs-12" for="{{ form.join_group.id_for_label }}">Follow Company <span class="required"></span>
                      </label>
                      <div class="col-md-6 col-sm-6 col-xs-12">
                        {{form.join_group}}
                      </div>
                      <div class="alert">{{form.join_group.errors}}</div>
                    </div>

                    <div class="item form-group {% if form.public_url.errors %}bad{% endif %}">
                      <label class="control-label col-md-3 col-sm-3 col-xs-12" for="{{ form.public_url.id_for_label }}">Public Url <span class="required"></span>
                      </label>
                      <div class="col-md-6 col-sm-6 col-xs-12">
                        {{form.public_url}}
                      </div>
                      <div class="alert">{{form.public_url.errors}}</div>
                    </div>

                    <div class="item form-group {% if form.key_skills.errors %}bad{% endif %}">
                      <label class="control-label col-md-3 col-sm-3 col-xs-12" for="{{ form.key_skills.id_for_label }}">Key Skill <span class="required"></span>
                      </label>
                      <div class="col-md-6 col-sm-6 col-xs-12">
                        {{form.key_skills}}
                      </div>
                      <div class="alert">{{form.key_skills.errors}}</div>
                    </div>
                    
                    <div class="item form-group {% if form.key_skills.errors %}bad{% endif %}">
                      <label class="control-label col-md-3 col-sm-3 col-xs-12" for="{{ form.name.id_for_label }}">Company Name <span class="required"></span>
                      </label>
                      <div class="col-md-6 col-sm-6 col-xs-12">
                        {{form.name}}
                      </div>
                      <div class="alert">{{form.name.errors}}</div>
                    </div>

                    <div class="item form-group {% if form.title.errors %}bad{% endif %}">
                      <label class="control-label col-md-3 col-sm-3 col-xs-12" for="{{ form.title.id_for_label }}">Title <span class="required"></span>
                      </label>
                      <div class="col-md-6 col-sm-6 col-xs-12">
                        {{form.title}}
                      </div>
                      <div class="alert">{{form.title.errors}}</div>
                    </div>

                    <div class="item form-group {% if form.desc.errors %}bad{% endif %}">
                      <label class="control-label col-md-3 col-sm-3 col-xs-12" for="{{ form.desc.id_for_label }}">Description <span class="required"></span>
                      </label>
                      <div class="col-md-6 col-sm-6 col-xs-12">
                        {{form.desc}}
                      </div>
                      <div class="alert">{{form.desc.errors}}</div>
                    </div>

                    <div class="item form-group {% if form.work_date_range.errors %}bad{% endif %}">
                      <label class="control-label col-md-3 col-sm-3 col-xs-12" for="{{ form.work_date_range.id_for_label }}">Work From <span class="required"></span>
                      </label>
                      <div class="col-md-6 col-sm-6 col-xs-12">
                        {{form.work_date_range}}
                      </div>
                      <div class="alert">{{form.work_date_range.errors}}</div>
                    </div>

                    <input type="hidden" name="draft" value="{{object.pk}}">
                    <div class="ln_solid"></div>
                    <div class="form-group">
                      <div class="col-md-9 col-sm-9 col-xs-12 col-md-offset-3">
                        <button type="submit" class="btn btn-success">Submit</button>
                      </div>
                    </div>
                  </form>
                </div>              
</div>
</div>
        <!-- /page content -->
{% endblock pagecontent %}

        
{% block js_block %}
  {{ block.super }}
      <script type="text/javascript" src="//cdn.jsdelivr.net/momentjs/latest/moment.min.js"></script>
      <script type="text/javascript" 
        src="{% static "packages/bootstrap-daterangepicker/daterangepicker.js" %}">
      </script>
      <!-- Parsley Validate Scripts -->
      <script type="text/javascript" 
        src="{% static "packages/parsleyjs/parsley.min.js" %}">
      </script>
      <!-- jQuery Tags Input -->
      <script type="text/javascript" src="{% static "packages/jquery.tagsinput/src/jquery.tagsinput.js" %}"></script>
    
      <!-- Switchery -->
      <script type="text/javascript" src="{% static "packages/switchery/dist/switchery.min.js" %}"></script>

      
      <!-- Custom Theme Scripts -->
      <script type="text/javascript" src="{% static "console/js/shop/console_shop.js" %}">
      </script>
      <script type="text/javascript">
        $('.daterange').daterangepicker();
      </script>
{% endblock js_block %}
