/* category variables */
body {
  background: #f5f5f5;
}

.category-header {
  font-size: 14px;
  font-weight: 400;
  color: #fff;
  text-align: center;
  position: relative;
}
.category-header .category-heading {
  position: absolute;
  left: 0;
  top: 35%;
  right: 0;
  bottom: 0;
  font-size: 14px;
  color: #fff;
}
.category-header .category-heading h1 {
  font-size: 30px;
  font-weight: 300;
  color: #fff;
  display: block;
  margin: 0 auto 5px auto;
  padding: 0;
  text-align: center;
  width: 50%;
  line-height: 36px;
}
.category-header .category-heading a {
  color: #fff;
  font-weight: 400;
  font-size: 14px;
  display: table;
  border-radius: 25px;
  border: 1px solid #fff;
  padding: 10px 20px;
  margin: 20px auto 0 auto;
  text-decoration: none;
}
.category-header .category-heading a:before {
  content: "";
  display: inline-block;
  vertical-align: middle;
  margin: 0 15px 0 0;
  width: 0;
  height: 0;
  border-style: solid;
  border-width: 8.5px 0 8.5px 14px;
  border-color: transparent transparent transparent #fff;
}

/* Starts courses_box */
.courses_box {
  display: block;
  padding: 50px 0;
}
.courses_box .panel {
  background-color: transparent;
  box-shadow: none;
}
.courses_box h2 {
  font-size: 30px;
  font-weight: 300;
  color: #333;
  margin: 0 auto 30px auto;
  display: block;
  text-align: center;
}
.courses_box .cc_box {
  display: inline-block;
  background: #fff;
  position: relative;
  padding-top: 15px;
  text-align: center;
  margin-bottom: 30px;
}
.courses_box .cc_box figure {
  display: block;
  width: 70%;
  margin: 0 auto;
  min-height: 182px;
}
.courses_box .cc_box h3 {
  font-size: 14px;
  color: #333;
  display: block;
  font-weight: 400;
  vertical-align: middle;
  margin: auto;
  text-align: center;
  border-top: 1px solid #e1e1e1;
  padding: 15px 5px;
}
.courses_box .cc_box:focus {
  box-shadow: 0 0px 20px 0px rgba(0, 0, 0, 0.3);
}

.course_nav {
  background: #fff;
  box-shadow: 0 0px 20px 0px rgba(0, 0, 0, 0.2);
  margin: -10px 0 40px 15px;
  width: 97.5%;
  padding: 10px;
  position: relative;
}
.course_nav:after {
  position: absolute;
  top: -20px;
  left: 10%;
  content: "";
  width: 0;
  height: 0;
  border-left: 20px solid transparent;
  border-right: 20px solid transparent;
  border-bottom: 20px solid #fff;
}
.course_nav .nav-tabs {
  border-bottom: none;
}
.course_nav .nav-tabs li a {
  padding: 9px 15px;
}
.course_nav .nav-tabs > li.active > a,
.course_nav .nav-tabs > li.active > a:hover,
.course_nav .nav-tabs > li.active > a:focus {
  background: #f2f2f2;
  border: 1px solid transparent;
  cursor: pointer;
}
.course_nav .nav-link {
  position: relative;
  float: none;
}
.course_nav .nav-link a {
  color: #333;
}
.course_nav .nav-link:hover {
  cursor: pointer;
}
.course_nav .nav-link.active {
  background-color: #f2f2f2;
}
.course_nav .nav-link.active:after {
  content: "";
  width: 0;
  height: 0;
  border-top: 20px solid transparent;
  border-left: 15px solid #f2f2f2;
  border-bottom: 20px solid transparent;
  float: right;
  margin: -39px -15px 0 0;
}
.course_nav .tab-content {
  display: inline-block;
  min-height: 190px;
}
.course_nav .tab-content ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}
.course_nav .tab-content ul li {
  display: block;
  padding: 8px;
}
.course_nav .tab-content ul li a {
  color: #666;
  font-size: 13px;
}
.course_nav .viewall {
  font-size: 14px;
  color: #3f5f94;
  position: absolute;
  bottom: 0;
  right: 15px;
}

.mg1 {
  left: 0;
}

.mg2 {
  left: 25.5%;
}

.mg3 {
  left: 51.5%;
}

.mg4 {
  left: 77%;
}

.arrow1:after {
  left: 10%;
}

.arrow2:after {
  left: 35%;
}

.arrow3:after {
  left: 60%;
}

.arrow4:after {
  left: 85%;
}

.arrow2_1:after {
  left: 7%;
}

.arrow2_2:after {
  left: 27%;
}

.arrow2_3:after {
  left: 48%;
}

.arrow2_4:after {
  left: 68%;
}

.arrow2_5:after {
  left: 89%;
}

/* Starts our vendors */
.vendors_box {
  display: block;
  padding: 50px 0;
  clear: both;
  margin-top: 20px;
}
.vendors_box .panel {
  background-color: transparent;
  box-shadow: none;
}
.vendors_box h2 {
  font-size: 30px;
  font-weight: 300;
  color: #333;
  margin: 0 auto 30px auto;
  display: block;
  text-align: center;
}
.vendors_box .vc_box {
  display: block;
  background: #fff;
  position: relative;
  padding-top: 15px;
  text-align: center;
  margin-bottom: 30px;
}
.vendors_box .vc_box figure {
  display: block;
  margin: 0 auto;
}
.vendors_box .vc_box figure img {
  margin: 20px auto;
}
.vendors_box .vc_box h3 {
  font-size: 14px;
  color: #333;
  display: block;
  font-weight: 400;
  vertical-align: middle;
  margin: auto;
  text-align: center;
  border-top: 1px solid #e1e1e1;
  padding: 15px 5px;
}

/* start of why_scp */
.why_scp {
  display: block;
  text-align: center;
  background: #678eb7;
  padding: 30px 0;
  color: #fff;
  font-size: 14px;
  clear: both;
  margin-top: 40px;
}
.why_scp h2 {
  font-size: 30px;
  font-weight: 300;
  color: #fff;
  margin: 0 auto;
  display: block;
  text-align: center;
}
.why_scp ul {
  list-style-type: none;
  margin: 50px 0 0 0;
  overflow: hidden;
}
.why_scp ul li {
  display: inline-block;
  width: 29%;
  padding: 0 5%;
  vertical-align: top;
  border-left: 1px solid #fff;
  overflow: hidden;
  min-height: 180px;
}
.why_scp ul li:first-child {
  border-left: none;
}
.why_scp ul li .scp_icon {
  display: block;
  height: 90px;
  margin: 0 auto 10px auto;
}

/* end of why_scp */
/* Starts testimonials */
.testimonials {
  display: block;
  padding: 50px 0;
  color: #666;
  font-size: 14px;
}
.testimonials h2 {
  font-size: 30px;
  font-weight: 300;
  color: #333;
  margin: 0 auto;
  display: block;
  text-align: center;
}
.testimonials ul {
  list-style-type: none;
  margin: 40px 0 0 0;
  overflow: hidden;
  padding: 0;
}
.testimonials ul li {
  display: block;
  vertical-align: top;
  margin-bottom: 20px;
}
.testimonials ul li:last-child {
  margin-bottom: 0;
}
.testimonials ul li .box-sh {
  box-shadow: 0px 0px 22px rgba(0, 0, 0, 0.1);
  padding: 30px;
  background: #fff;
}
.testimonials ul li strong {
  display: block;
  font-weight: 600;
  font-style: italic;
  margin-top: 10px;
}

/*# sourceMappingURL=category.css.map */
