header {
  border-bottom: 1px solid #f1f1f1;
}

.detail-course-header {
  clear: both;
  background: url(../../images/detail-header-bg.jpg) no-repeat center top;
  background-size: cover;
  display: block;
}

.course-caption {
  display: table-cell;
}
.course-caption h1 {
  display: block;
  margin-top: 0;
  margin-bottom: 8px;
  line-height: 34px;
  font-size: 24px;
}
.course-caption .course-caption-img {
  display: table-cell;
  padding-right: 20px;
}
.course-caption .course-caption-img figure {
  width: 100px;
  height: 100px;
  background: rgba(255, 255, 255, 0.5);
}
.course-caption .course-caption-img figure img {
  padding-top: 15px;
}
.course-caption .course-caption-content {
  vertical-align: middle;
  display: table-cell;
}
.course-caption .main-package {
  padding: 10px;
  border: 2px solid #2f5da5;
  background-color: #fff;
  font-size: 10px;
  color: #999;
  display: table-cell;
  position: relative;
}
.course-caption .main-package .main-package-arrow {
  position: absolute;
  bottom: -12px;
  left: 0;
  right: 0;
  width: 24px;
  height: 12px;
  display: inline-block;
  background: url(../../images/sprite.png) no-repeat -770px -71px;
  margin: 0 auto;
  z-index: 999;
}
.course-caption .main-package .main-package-img {
  display: table-cell;
  vertical-align: middle;
  padding-right: 10px;
  width: 65px;
  height: 53px;
}
.course-caption .main-package .main-package-content {
  display: table-cell;
  vertical-align: middle;
}
.course-caption .main-package .main-package-content span {
  display: block;
  font-size: 11px;
  color: #333;
  font-weight: 300;
}
.course-caption .main-package .main-package-content strong {
  display: block;
  font-size: 15px;
  color: #3f5f94;
  font-weight: 600;
}
.course-caption .main-package .main-package-content p {
  font-size: 10px;
  color: #999;
  margin: 0;
  padding: 0;
}
.course-caption .main-package .main-package-content p small {
  font-size: 11px;
  color: #333;
}
.course-caption .other-package-box {
  display: table-cell;
  vertical-align: middle;
  padding-left: 20px;
  padding-bottom: 15px;
}
.course-caption .other-package-box .other-package {
  background-color: #fff;
  display: inline-block;
  margin-right: 10px;
  border: 1px solid #fff;
  overflow: hidden;
  width: 84px;
  height: 44px;
}
.course-caption .other-package-box .other-package:hover {
  border: 1px solid #3f5f94;
}
.course-caption .other-package-box .other-package img {
  margin: 0 auto;
}
.course-caption .other-package-box span {
  display: block;
  font-size: 11px;
  color: #333;
  font-weight: 300;
  margin-bottom: 3px;
}
.course-caption .other-package-box a {
  min-width: 90px;
  height: 44px;
  display: inline-block;
  color: #333;
}
.course-caption .other-package-box a p {
  margin: 3px 8px 0 8px;
  padding: 0;
  line-height: 18px;
  font-size: 11px;
}
.course-caption .other-package-box a p strong {
  display: block;
  font-size: 14px;
  color: #3f5f94;
  font-weight: 600;
}

.course-caption-bottom {
  background-color: #fff;
  position: relative;
  z-index: 888;
  border-bottom: 1px solid #f1f1f1;
}
.course-caption-bottom ul {
  list-style-type: none;
  margin: 15px 0;
  padding: 0;
}
.course-caption-bottom ul li {
  display: table-cell;
  border-left: 1px solid #cbcbcb;
  padding: 0 20px;
  vertical-align: middle;
}
.course-caption-bottom ul li:first-child {
  border-left: none;
  padding-left: 0;
}
.course-caption-bottom ul li:first-child a {
  color: #666;
  font-size: 12px;
}
.course-caption-bottom ul li span {
  display: inline-block;
  font-size: 12px;
  color: #333;
  line-height: 14px;
}
.course-caption-bottom ul li span strong {
  font-weight: 600;
  display: block;
}
.course-caption-bottom .rating-review-box {
  color: #666;
  font-size: 12px;
}
.course-caption-bottom .rating-review-box strong {
  font-weight: 600;
  margin-right: 5px;
}
.course-caption-bottom .rating-review-box strong:before {
  content: '';
  display: table;
  clear: both;
}

.detail-box {
  list-style-type: none;
  font-size: 16px;
  color: #333;
  clear: both;
}
.detail-box:nth-child(1n+1) {
  background-color: #fff;
  border-bottom: 50px solid transparent;
}
.detail-box:nth-child(2n+2) {
  background-color: #f6f7f9;
  border-bottom: 50px solid transparent;
}
.detail-box.bt-none {
  border-top: 0 solid transparent;
}
.detail-box li {
  display: block;
  padding: 5px 0;
}
.detail-box li ul {
  margin: 0;
  padding: 0;
}
.detail-box li ul li {
  padding: 5px 0;
}
.detail-box article {
  margin-bottom: 30px;
}
.detail-box iframe {
  margin-bottom: 30px;
}
.detail-box h2 {
  font-size: 30px;
  font-weight: 600;
  color: #333;
  margin: 0 0 20px 0;
}
.detail-box .detail-heading {
  font-size: 18px;
  font-weight: 600;
  color: #333;
  margin-bottom: 10px;
}

.study-mode {
  font-size: 13px;
  margin-top: 20px;
}
.study-mode table {
  background-color: #f6f7f9;
  margin-top: 15px;
}
.study-mode table tr {
  padding: 10px;
}
.study-mode thead tr td {
  font-weight: 600;
  border-top: none;
  padding-top: 20px;
}
.study-mode tbody tr:hover, .study-mode tbody tr:focus, .study-mode tbody tr:visited, .study-mode tbody tr.selected {
  background-color: #fff;
  box-shadow: 0 0 30px rgba(0, 0, 0, 0.1);
  border: none;
}
.study-mode tbody tr:hover .selected, .study-mode tbody tr:focus .selected, .study-mode tbody tr:visited .selected, .study-mode tbody tr.selected .selected {
  background-color: #fff;
  box-shadow: 0 0 30px rgba(0, 0, 0, 0.1);
  border: none;
}
.study-mode tbody tr td {
  border-top: none;
  padding-top: 16px;
  padding-bottom: 9px;
}
.study-mode tbody tr td strong {
  font-size: 16px;
  font-weight: 600;
}
.study-mode tbody tr td label {
  padding-left: 10px;
}
.study-mode input:focus {
  outline: 0;
}

.select-product {
  font-size: 13px;
  margin-top: 40px;
}
.select-product ul {
  list-style-type: none;
  margin: 15px 0 10px 0;
  padding: 0;
  display: block;
  background-color: #f6f7f9;
  width: 100%;
}
.select-product ul li {
  width: 49.7%;
  display: inline-block;
  padding: 13px;
  font-size: 13px;
  position: relative;
}
.select-product ul li:hover, .select-product ul li:focus, .select-product ul li:visited, .select-product ul li.selected {
  background-color: #fff;
  box-shadow: 0 0 30px rgba(0, 0, 0, 0.1);
  overflow: visible;
}
.select-product ul li strong {
  font-size: 15px;
  font-weight: 600;
  float: right;
}
.select-product ul li label {
  font-weight: 300;
  padding-left: 10px;
}
.select-product ul li input {
  margin-right: 3px;
}
.select-product ul li input:focus {
  outline: 0;
}

.select-country {
  font-size: 13px;
  margin-top: 40px;
}
.select-country ul {
  list-style-type: none;
  margin: 15px 0 10px 0;
  padding: 0;
  display: block;
  background-color: #f6f7f9;
  width: 100%;
}
.select-country ul li {
  width: 24.6%;
  display: inline-block;
  padding: 13px;
  font-size: 13px;
  position: relative;
}
.select-country ul li:hover, .select-country ul li:focus, .select-country ul li:visited .select-country ul li.selected {
  background-color: #fff;
  box-shadow: 0 0 30px rgba(0, 0, 0, 0.1);
  overflow: visible;
}
.select-country ul li label {
  font-weight: 300;
  padding-left: 10px;
}
.select-country ul li input {
  margin-right: 3px;
}
.select-country ul li input:focus {
  outline: 0;
}

.combo-includes {
  font-size: 13px;
  margin-top: 20px;
}
.combo-includes ul {
  list-style-type: none;
  margin: 15px 0 10px 0;
  padding: 8px;
  display: block;
  background-color: #f6f7f9;
  width: 100%;
}
.combo-includes ul li {
  width: auto;
  display: inline-block;
  padding: 10px 15px;
  font-size: 11px;
  background-color: #fff;
  box-shadow: 0 0 30px rgba(0, 0, 0, 0.1);
  color: #999;
  margin: 5px;
}
.combo-includes ul li a {
  font-size: 13px;
  color: #3f5f94;
  display: block;
}

.program-structure .panel-group {
  padding-left: 0;
}
.program-structure .panel-body strong, .program-structure .panel-body b {
  font-weight: 600;
}
.program-structure .panel, .program-structure .panel-default {
  box-shadow: none;
  border-top: 2px solid #e4e5e7;
  border-left: none;
  border-right: none;
  border-bottom: none;
  border-radius: 0;
  background-color: transparent;
  padding: 0;
}
.program-structure .panel strong, .program-structure .panel b, .program-structure .panel-default strong, .program-structure .panel-default b {
  font-weight: 600;
}
.program-structure .panel ul, .program-structure .panel-default ul {
  margin: 5px 0 0 20px;
  padding: 0;
  list-style-type: disc;
  display: list-item;
}
.program-structure .panel ul li, .program-structure .panel-default ul li {
  display: list-item;
  padding: 5px 0;
  list-style-type: disc;
  clear: both;
}
.program-structure .panel ul li a, .program-structure .panel-default ul li a {
  color: #3f5f94;
}
.program-structure .panel ul li em, .program-structure .panel-default ul li em {
  font-style: italic;
}
.program-structure .panel ul li p, .program-structure .panel-default ul li p {
  margin: 0;
  padding: 0;
}
.program-structure .panel ul li strong, .program-structure .panel ul li b, .program-structure .panel-default ul li strong, .program-structure .panel-default ul li b {
  font-weight: 600;
}
.program-structure .panel-heading {
  border: none;
  background-color: transparent;
  border-radius: 0;
  padding: 15px 0 10px 0;
}
.program-structure .panel-title {
  font-size: 15px;
  font-weight: 600;
}
.program-structure .panel-group .panel-heading + .panel-collapse > .panel-body, .program-structure .panel-group .panel-heading + .panel-collapse > .list-group {
  border-top: none;
  padding: 15px 0;
}
.program-structure .panel-title > a {
  display: block;
  position: relative;
  color: #666;
  line-height: 20px;
}
.program-structure .panel-title > a:after {
  content: "";
  position: absolute;
  top: 0;
  right: 15px;
  font-size: 40px;
  color: #707070;
  font-weight: 400;
  background: url(../../images/sprite.png) no-repeat -445px -92px;
  width: 16px;
  height: 3px;
}
.program-structure .panel-title > a.collapsed:after {
  content: "";
  position: absolute;
  top: 0;
  right: 15px;
  font-size: 40px;
  color: #707070;
  font-weight: 400;
  background: url(../../images/sprite.png) no-repeat -427px -91px;
  width: 16px;
  height: 17px;
}

.reviews .write-review {
  top: 75px;
  right: 15px;
}

.write-review-box {
  padding: 35px 35px 10px 20px;
  margin-bottom: 25px;
}
.write-review-box input {
  border: 1px solid #b7b7b7;
  height: 50px;
  border-radius: 0;
  box-shadow: none;
}
.write-review-box textarea {
  border: 1px solid #b7b7b7;
  border-radius: 0;
  box-shadow: none;
}
.write-review-box .form-group {
  margin-bottom: 30px;
}
.write-review-box small {
  font-size: 12px;
  color: #999;
}
.write-review-box .control-label {
  font-size: 15px;
  color: #666;
  font-weight: 400;
}
.write-review-box .submit-button {
  display: inline-block;
  border-radius: 2px;
  width: auto;
  height: 45px;
  padding: 0 40px;
}
.write-review-box .your-rating {
  border: 1px solid #b7b7b7;
  display: inline-block;
  padding: 10px 20px;
  margin-right: 15px;
}
.write-review-box .your-rating strong {
  vertical-align: middle;
  margin-left: 10px;
}

.pos-fixed {
  position: fixed;
  right: 0;
  z-index: 999;
}

.price-box {
  position: fixed;
  right: 4%;
  z-index: 999;
  top: 130px;
  width: 400px;
}
@media (max-width: 1190px) {
  .price-box {
    width: 320px;
    right: 2%;
  }
}

.enrol-cart {
  padding: 20px 0 10px 0;
  text-align: center;
  display: block;
  box-shadow: 0 0 30px rgba(0, 0, 0, 0.2);
}
@media (min-width: 1190px) {
  .enrol-cart {
    margin: 0 20px;
  }
}
.enrol-cart strong {
  font-size: 36px;
  display: block;
  color: #333;
  font-weight: 400;
  line-height: 36px;
}
.enrol-cart strike {
  font-size: 15px;
  color: #999;
}
.enrol-cart small {
  font-size: 15px;
  color: #82ca9c;
  font-weight: 600;
}
.enrol-cart small:after {
  content: '';
  clear: both;
  display: table;
}
.enrol-cart .enrol-now {
  background-color: #ffcf26;
  font-size: 16px;
  color: #333;
  display: inline-block;
  font-weight: 600;
  margin-top: 20px;
  padding: 10px 20px;
  border: 1px solid #ffcf26;
}
@media (min-width: 1190px) {
  .enrol-cart .enrol-now {
    padding: 10px 8%;
  }
}
.enrol-cart .add-cart {
  font-size: 16px;
  color: #3f5f94;
  display: inline-block;
  font-weight: 600;
  border: 1px solid #3f5f94;
  margin-top: 20px;
  padding: 10px 20px;
  margin-left: 5%;
}
@media (min-width: 1190px) {
  .enrol-cart .add-cart {
    padding: 10px 8%;
  }
}
.enrol-cart .query-call {
  display: block;
  border-top: 1px solid #f1f1f1;
  font-size: 14px;
  color: #3f5f94;
  padding: 10px 15px 0 15px;
  font-weight: 600;
  margin-top: 20px;
  text-align: center;
}
.enrol-cart .query-call a {
  display: inline-block;
  margin-left: 6%;
  color: #3f5f94;
}
@media (min-width: 1190px) {
  .enrol-cart .query-call a {
    margin-left: 18%;
  }
}
.enrol-cart .query-call a:first-child {
  margin-left: 0;
}

.take-test {
  font-size: 16px;
  color: #3f5f94;
  border-radius: 3px;
  border: 1px solid #b7c1d0;
  display: block;
  text-align: center;
  padding: 10px 0;
  background-color: #fff;
  vertical-align: text-top;
  font-weight: 600;
}
@media (max-width: 1190px) {
  .take-test {
    font-size: 14px;
  }
}
@media (min-width: 1190px) {
  .take-test {
    margin-left: 20px;
    margin-right: 20px;
  }
}
.take-test span {
  margin-right: 10px;
}

.delivery-flow {
  font-size: 14px;
  font-weight: 400;
  color: #333;
}
.delivery-flow ul {
  list-style-type: none;
  margin: 60px 0 0 0;
  padding: 0;
  display: table;
  position: relative;
}
.delivery-flow ul:after {
  position: absolute;
  left: 25px;
  right: 25px;
  top: 43px;
  content: '';
  border-top: 3px solid #ddd;
  display: block;
  z-index: 9;
}
.delivery-flow ul li {
  display: inline-block;
  text-align: center;
  display: table-cell;
  width: 25%;
  padding: 0 10px;
  position: relative;
  z-index: 99;
}
.delivery-flow ul li .submit-order {
  width: 85px;
  height: 85px;
  border-radius: 50%;
  background-color: #2f5da5;
  text-align: center;
  vertical-align: middle;
  display: inline-block;
  margin: 0 auto;
  position: relative;
}
.delivery-flow ul li .submit-order:after {
  position: absolute;
  left: 0;
  top: 0;
  right: 0;
  bottom: 0;
  content: '';
  background: url(../../images/sprite.png) no-repeat -659px -103px;
  width: 34px;
  height: 36px;
  margin: auto;
}
.delivery-flow ul li .coupon-code {
  width: 85px;
  height: 85px;
  border-radius: 50%;
  background-color: #2f5da5;
  text-align: center;
  vertical-align: middle;
  display: inline-block;
  margin: 0 auto;
  position: relative;
}
.delivery-flow ul li .coupon-code:after {
  position: absolute;
  left: 0;
  top: 0;
  right: 0;
  bottom: 0;
  content: '';
  background: url(../../images/sprite.png) no-repeat -702px -104px;
  width: 41px;
  height: 42px;
  margin: auto;
}
.delivery-flow ul li .partner-site {
  width: 85px;
  height: 85px;
  border-radius: 50%;
  background-color: #2f5da5;
  text-align: center;
  vertical-align: middle;
  display: inline-block;
  margin: 0 auto;
  position: relative;
}
.delivery-flow ul li .partner-site:after {
  position: absolute;
  left: 0;
  top: 0;
  right: 0;
  bottom: 0;
  content: '';
  background: url(../../images/sprite.png) no-repeat -752px -108px;
  width: 49px;
  height: 30px;
  margin: auto;
}
.delivery-flow ul li .start-course {
  width: 85px;
  height: 85px;
  border-radius: 50%;
  background-color: #2f5da5;
  text-align: center;
  vertical-align: middle;
  display: inline-block;
  margin: 0 auto;
  position: relative;
}
.delivery-flow ul li .start-course:after {
  position: absolute;
  left: 0;
  top: 0;
  right: 0;
  bottom: 0;
  content: '';
  background: url(../../images/sprite.png) no-repeat -624px -101px;
  width: 29px;
  height: 43px;
  margin: auto;
}
.delivery-flow ul li .dot-icon {
  width: 20px;
  height: 20px;
  text-align: center;
  vertical-align: middle;
  display: inline-block;
  margin: 0 auto;
  position: relative;
}
.delivery-flow ul li .dot-icon:after {
  position: absolute;
  left: 0;
  top: 0;
  right: 0;
  bottom: 0;
  content: '';
  background: url(../../images/sprite.png) no-repeat -404px -92px;
  width: 20px;
  height: 20px;
  margin: auto;
}
.delivery-flow ul li .blue-circle {
  width: 85px;
  height: 85px;
  border-radius: 50%;
  background-color: #2f5da5;
  text-align: center;
  vertical-align: middle;
  display: inline-block;
  margin: 0 auto;
  position: relative;
}
.delivery-flow ul li .blue-circle .df-cart {
  position: absolute;
  left: 0;
  top: 0;
  right: 0;
  bottom: 0;
  content: '';
  background: url(../../images/sprite.png) no-repeat 0 -326px;
  width: 34px;
  height: 36px;
  margin: auto;
}
.delivery-flow ul li .blue-circle .df-contact {
  position: absolute;
  left: 0;
  top: 0;
  right: 0;
  bottom: 0;
  content: '';
  background: url(../../images/sprite.png) no-repeat -38px -327px;
  width: 36px;
  height: 36px;
  margin: auto;
}
.delivery-flow ul li .blue-circle .df-give-feedback {
  position: absolute;
  left: 0;
  top: 0;
  right: 0;
  bottom: 0;
  content: '';
  background: url(../../images/sprite.png) no-repeat -78px -326px;
  width: 31px;
  height: 42px;
  margin: auto;
}
.delivery-flow ul li .blue-circle .df-download {
  position: absolute;
  left: 0;
  top: 0;
  right: 0;
  bottom: 0;
  content: '';
  background: url(../../images/sprite.png) no-repeat -112px -326px;
  width: 31px;
  height: 34px;
  margin: auto;
}
.delivery-flow ul li .blue-circle .df-study-material {
  position: absolute;
  left: 0;
  top: 0;
  right: 0;
  bottom: 0;
  content: '';
  background: url(../../images/sprite.png) no-repeat -147px -327px;
  width: 32px;
  height: 27px;
  margin: auto;
}
.delivery-flow ul li .blue-circle .df-start-learn {
  position: absolute;
  left: 0;
  top: 0;
  right: 0;
  bottom: 0;
  content: '';
  background: url(../../images/sprite.png) no-repeat 0 -365px;
  width: 33px;
  height: 41px;
  margin: auto;
}
.delivery-flow ul li .blue-circle .df-get-certified {
  position: absolute;
  left: 0;
  top: 0;
  right: 0;
  bottom: 0;
  content: '';
  background: url(../../images/sprite.png) no-repeat -36px -366px;
  width: 30px;
  height: 38px;
  margin: auto;
}
.delivery-flow ul li .blue-circle .df-resume-expert {
  position: absolute;
  left: 0;
  top: 0;
  right: 0;
  bottom: 0;
  content: '';
  background: url(../../images/sprite.png) no-repeat -68px -370px;
  width: 29px;
  height: 35px;
  margin: auto;
}
.delivery-flow ul li .blue-circle .df-recieve-feedback {
  position: absolute;
  left: 0;
  top: 0;
  right: 0;
  bottom: 0;
  content: '';
  background: url(../../images/sprite.png) no-repeat -99px -370px;
  width: 30px;
  height: 30px;
  margin: auto;
}
.delivery-flow ul li .blue-circle .df-apply-feedback {
  position: absolute;
  left: 0;
  top: 0;
  right: 0;
  bottom: 0;
  content: '';
  background: url(../../images/sprite.png) no-repeat -133px -362px;
  width: 27px;
  height: 38px;
  margin: auto;
}
.delivery-flow ul li .blue-circle .df-update-profile {
  position: absolute;
  left: 0;
  top: 0;
  right: 0;
  bottom: 0;
  content: '';
  background: url(../../images/sprite.png) no-repeat 0 -410px;
  width: 31px;
  height: 34px;
  margin: auto;
}
.delivery-flow ul li .blue-circle .df-access-profile {
  position: absolute;
  left: 0;
  top: 0;
  right: 0;
  bottom: 0;
  content: '';
  background: url(../../images/sprite.png) no-repeat -34px -408px;
  width: 37px;
  height: 26px;
  margin: auto;
}
.delivery-flow ul li .blue-circle .df-get-job {
  position: absolute;
  left: 0;
  top: 0;
  right: 0;
  bottom: 0;
  content: '';
  background: url(../../images/sprite.png) no-repeat -74px -408px;
  width: 29px;
  height: 29px;
  margin: auto;
}
.delivery-flow ul li .blue-circle .df-featured-shine {
  position: absolute;
  left: 0;
  top: 0;
  right: 0;
  bottom: 0;
  content: '';
  background: url(../../images/sprite.png) no-repeat -106px -404px;
  width: 38px;
  height: 25px;
  margin: auto;
}
.delivery-flow ul li .blue-circle .df-get-views {
  position: absolute;
  left: 0;
  top: 0;
  right: 0;
  bottom: 0;
  content: '';
  background: url(../../images/sprite.png) no-repeat 0 -452px;
  width: 44px;
  height: 21px;
  margin: auto;
}
.delivery-flow ul li .blue-circle .df-verification {
  position: absolute;
  left: 0;
  top: 0;
  right: 0;
  bottom: 0;
  content: '';
  background: url(../../images/sprite.png) no-repeat -48px -440px;
  width: 32px;
  height: 34px;
  margin: auto;
}
.delivery-flow ul li .blue-circle .df-sahred-recruiters {
  position: absolute;
  left: 0;
  top: 0;
  right: 0;
  bottom: 0;
  content: '';
  background: url(../../images/sprite.png) no-repeat 0 -478px;
  width: 56px;
  height: 14px;
  margin: auto;
}
.delivery-flow ul li .blue-circle .df-start-course {
  position: absolute;
  left: 0;
  top: 0;
  right: 0;
  bottom: 0;
  content: '';
  background: url(../../images/sprite.png) no-repeat -83px -440px;
  width: 33px;
  height: 31px;
  margin: auto;
}
.delivery-flow ul li .blue-circle .df-best-educators {
  position: absolute;
  left: 0;
  top: 0;
  right: 0;
  bottom: 0;
  content: '';
  background: url(../../images/sprite.png) no-repeat -119px -432px;
  width: 43px;
  height: 41px;
  margin: auto;
}
.delivery-flow ul li .blue-circle .df-talk-referrals {
  position: absolute;
  left: 0;
  top: 0;
  right: 0;
  bottom: 0;
  content: '';
  background: url(../../images/sprite.png) no-repeat -146px -402px;
  width: 37px;
  height: 30px;
  margin: auto;
}
.delivery-flow ul li article {
  display: block;
  margin-top: 10px;
}
.delivery-flow ul .wd8 {
  width: 4%;
}

.listing li {
  display: block !important;
  padding: 0 15px !important;
}

.detail-course-links {
  font-size: 15px;
  color: #333;
  border-bottom: 1px solid #d8d8d8;
  display: block;
  font-weight: 600;
  background-color: #fff;
  position: relative;
  z-index: 777;
}
.detail-course-links a {
  color: #333;
  margin-left: 4%;
  padding: 15px 0 5px 0;
  display: inline-block;
  line-height: 40px;
  border-bottom: 3px transparent #3f5f94 !important;
}
@media (max-width: 1190px) {
  .detail-course-links a {
    margin-left: 2%;
  }
}
@media (max-width: 800px) {
  .detail-course-links a {
    margin-left: 4%;
  }
}
.detail-course-links a:first-child {
  margin-left: -15px;
}
.detail-course-links a.active {
  border-bottom: 3px solid #3f5f94 !important;
  padding: 9px 0 5px 0;
}

.scroll {
  margin-top: -50px;
  padding-top: 60px;
}

/*sticky menu css*/
.visible-onscroll {
  display: block;
  font-size: 11px;
  color: #333;
  padding-top: 20px;
  margin-bottom: -10px;
}
.visible-onscroll strong {
  font-size: 20px;
  font-weight: 600;
}
.visible-onscroll small {
  font-size: 15px;
  font-weight: 600;
  color: #3f5f94;
}

.goTop {
  position: fixed;
  top: 70px;
  height: 55px;
  z-index: 1;
}

.recomend-product-bg {
  background-color: #f6f7f9 !important;
  border-top: 50px solid transparent;
  border-bottom: 50px solid transparent;
}

#faq:before, #review:before, #delivery:before, #programs:before, #get:before, #course:before {
  padding-top: 60px;
  display: block;
  content: "";
}

.call1 h1 {
  font-size: 20px;
  color: #666;
  display: block;
  margin-bottom: 20px;
}
.call1 .country-code .form-control {
  width: 78% !important;
}

.about-txt a:after {
  content: '...Know less';
}
.about-txt a.collapsed:after {
  content: '...Know more';
}
.about-txt .collapse.in {
  display: inline;
}

.panel-title > a.disabled {
  content: "";
  background: none !important;
}

.panel-title > a.disabled:after {
  content: "";
  background: none !important;
}

footer {
  margin-top: 0 !important;
}