@import '../../../../styles/functions';
@import '../../../../styles/variables';
@import '../../../../styles/mixins';

.parameters {
    background-color: #F8F3FF;
    margin-top: -40px;
    padding: 100px 0 0;
    position: relative;

    &::after {
        content: '';
        position: absolute;
        @include size (100%, 98px);
        background: url('#{$path}/parameters-bg.png') no-repeat;
        bottom: -98px;
        left: 0;
    }

    &__lists {
        display: flex;
        flex-wrap: wrap;
        padding: 0;
    }

    &__item {
        @extend %green-tick;
        flex: 0 0 50%;
        max-width: 50%;
        list-style-type: none;
        padding: 10px 20px 10px 20px;
        position: relative;
    }

    &__head {
        font-weight: 600;
        font-size: 1.6rem;
        color: $gray-300;
    }

    &__image {
        
        @include media-breakpoint-up(lg) {
            width: 35%;
        }
        
        @include media-breakpoint-up(xl) {
            width: 38%;
        }
    }
}