@import '../../../styles/variables/vars.scss';
@import '../../../styles/variables/mixins.scss';


.dataloader {
    width: 100%;
    height: 100vh;
    min-height: 100vh;
    position: absolute;
    background-color: rgba(0, 0, 0, 0.7);
    top: 50px;
    left: 0px;
    z-index: 3;

    display: flex;
    justify-content: center;
    align-content: center;

    img {
        @include size(50px, 50px); 
    }

    &--data {
        text-align: center;
        height: 100px;
        color: $white;
        font-weight: 700;
        position: relative;
        align-self: center;
        top: -40px;

        p {
            font-size: 1.8rem;
        }
    }
}

.loader-overflow{
    overflow:hidden;
}