<div id="popup-modal" class="modal" style="display: block;z-index:99999;">
  <div class="modal-helper">
    <div class="modal-vertical-center">
       <!-- Modal content -->
        <div class="modal-content marketing-popup">
          <div class="header">
            <a class="icon-close" data-dismiss="modal" onclick="closeOverlayModal()">X</a>
            <h2>Resume Writing Services</h2>
            <div class="discount-coupon">
              <div class="discount-price">10% <small>DISCOUNT</small></div>
              <div class="starting-price">Starting at <strike>1510/-</strike> <span class="price">1360/-</span></div>
            </div>
          </div><!-- end of header -->

          <div class="content-box pt-0">
             <form   method="POST" action="{% url 'crmapi:lead-management' %}" id="overlay_lead">
              {% csrf_token %}
              <div class="form-group">
                <input type="text" class="form-control" placeholder="Name" type="Name" class="form-control" id="exampleInputName" name="name">
                <span class="error-txt js-error"></span>
              </div>
              <div class="form-group">
                <input type="email" class="form-control" placeholder="Email" type="Name" class="form-control" id="exampleInputEmail" aria-describedby="emailHelp" name="email">
                <span class="error-txt js-error"></span>
              </div>
              <div class="form-group">
                <div class="pull-left code">
                  <select>
                    <option>+91</option>
                  </select>
                </div>
                <input type="text" class="form-control pull-left number" placeholder="Mobile" placeholder="Mobile Number" maxlength="10"  name="number">
                <span class="error-txt js-error"></span>
                <div class="clearfix"></div>
              </div>
              <div class="form-group">
                <input type="hidden" name="product" value="{% if is_product_page and object %}{{ object.pk }}{% endif %}">
                <input type="hidden" name="prd" value="Resume Writing Service">
                <input type="hidden" name="source" value="{% if source %}{{ source }}{% endif %}">
                <input type="hidden" name="lsource" value="{{ lead_source }}">
              </div>
              <div class="form-group text-center tabs mt-30">
                <button type="submit" id="overlay-submit-btn" class="btn btn-blue w100fl btn-round mb-20">Get a call back</button>
              </div>
            </form>
            <div class="thankyou-popup hide">
              <figure class="tick-icon"></figure>
              <strong>Thank You</strong>
              Our resume service executive will get in touch with you shortly.
            </div>
          </div><!-- Tab content ends here -->
        </div><!-- end of modal content here -->
    </div><!-- end of modal-vertical-center -->
  </div><!-- end of modal-helper -->
</div>