@import '../../../../../styles-mobile/abstracts';

.m-latest-blog {

    &__list {
        list-style-type: none;
        margin: 3rem 0 0 0;
        padding: 0;
        display: flex;
        flex-wrap: wrap;

        .m-card {
            @extend %box-shadow1;
            border: none;
            background: $white;
            padding-bottom: 1rem;
            margin-bottom: 3rem;
            border-bottom: .5rem solid $card-btm-bdr;

            figure {
                border-top-left-radius: .3rem;
                border-top-right-radius: .3rem;
                overflow: hidden;
                position: relative;
                height: 7.4rem;

                img {
                    width: 100%;
                }

                &::after {
                    content: '';
                    position: absolute;
                    left: 0;
                    right: 0;
                    top: 0;
                    bottom: 0;
                    background: rgba($color: $black, $alpha: 0.3);
                    z-index: 9;
                }

                span {
                    background: $black;
                    font-size: .9rem;
                    font-weight: 600;
                    color: $white;
                    border-radius: 2rem;
                    text-transform: uppercase;
                    position: absolute;
                    left: 1rem;
                    bottom: 1rem;
                    z-index: 99;
                    padding: .3rem .6rem;
                }
            }

            strong {
                font-size: 1.3rem;
                font-weight: 600;
                color: $gray-100;
                margin: 1rem 1rem 0 1rem;
                display: block;
                line-height: 1.8rem;
                overflow: hidden;
                height: 5.5rem;
            }

            a {
                display: block;
                color: $gray-100;
            }
        }
    }
}