{% extends "console/base_console.html" %}
{% load static compress %}
{% load humanize %}
{% load console_tags %}

{% block title %}
  <title>Invoice Downloader</title>
{% endblock title %}

{% block css_block %}
  {{ block.super }}

  {% compress css %}
  <!-- Switchery -->
  <link href="{% static 'packages/switchery/dist/switchery.min.css' %}" rel="stylesheet" type="text/css">
  <!-- ColorSelector -->
  <link href="{% static 'packages/bootstrap-colorselector/dist/bootstrap-colorselector.min.css' %}" rel="stylesheet" type="text/css">
  {% endcompress %}

  {% compress css inline %}
  <style type="text/css">
    ul.parsley-errors-list {
        list-style: none;
        color: #fff;
        padding-left: 0;
    }
    ul.errorlist {
        list-style: none;
        color: #fff;
        padding-left: 0;
    }
    .empty-form{
      display: none;
    }
    .clearimg a{
      margin-right: 30px;
    }

  </style>
  {% endcompress %}

{% endblock css_block %}

{% block pagecontent %}
        <!-- page content -->
<div class="right_col" role="main">
  <div class="">
    <div class="page-title">
      <div class="title_left">
        <h3>&nbsp;</h3>


      </div>
    </div>
    <div class="row">
      <div class="col-md-12 col-sm-12 col-xs-12">
        {% if messages %}
            {% for message in messages %}

              <div{% if message.tags %} class="alert alert-{{ message.tags }} alert-dismissable"{% endif %}>
              <button type="button" class="close" data-dismiss="alert" aria-hidden="true">&times;</button>

              {{ message }}
              </div>
            {% endfor %}
        {% endif %}

      </div>
    </div>
    <div class="clearfix"></div>

    <div class="row">
      <div class="col-md-12 col-sm-12 col-xs-12">
        <div class="x_panel">
          <div class="x_title">
            <h2>Download Monthly Invoice <small>( Upto 12 months )</small></h2>
            <div class="clearfix"></div>
          </div>
          <div class="x_content">


<div class="form">

<form method="POST" action="{% url 'users:download-monthly-writer-invoice'%}">
    {%csrf_token%}
<select id="month" name='month' class="col-md-6 col-sm-6 col-xs-12" required="">
        <option value="">Select the month</option>
    {% for m in month%}
        <option value="{{m}}">{{m}}</option>
    {% endfor %}

</select>


&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
<input type="submit"  value="submit" class="btn btn-success">

</div>
</form>

          </div>
        </div>
      </div>
    </div>
  </div>
</div>
        <!-- /page content -->
{% endblock pagecontent %}


{% block js_block %}
  {{ block.super }}

  {% compress js %}
  <!-- Parsley Validate Scripts -->
  <script type="text/javascript" src="{% static 'packages/parsleyjs/parsley.min.js' %}"></script>

  <!-- ColorSelector -->
  <script type="text/javascript"  src="{% static 'packages/bootstrap-colorselector/dist/bootstrap-colorselector.min.js'  %}"></script>

  <!-- Custom Theme Scripts -->
  <script type="text/javascript" src="{% static 'console/js/shop/console_shop.js' %}"></script>
  {% endcompress %}


{% endblock js_block %}
