<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<title>Invoice</title>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
</head>
<body style="margin: 0px; padding: 0px;text-rendering: optimize-speed;font-family: Arial; background-color: #fff;font-size: 11px;">
<table width="600px" border="0" cellspacing="0" cellpadding="0" style="font-family: Arial; font-size: 11px; color: #333; margin: 0 auto; padding: 0;background-color: #fff;">
   <tr>
      <td valign="top" style="padding-top: 5px;">
         <table width="100%" border="0" cellspacing="0" cellpadding="0" style="text-transform: uppercase; border: solid 1px #000; width: 100%;margin: 0 0 0 0; padding: 0 0 0 0;">
		<tr>
		  <td valign="top"  width="33.3%" style="padding: 0 0 0 0;width: 33.33%;margin: 0 0 0 0; "><span style="display: block; margin: 0 0 0 0; padding:5px 0 5px 5px;word-wrap: break-word;">invoice number - {{invoice_no}}</span></td>
		  <td valign="top"  width="33.3%" style="padding: 0 0 0 0;width: 33.33%;margin: 0 0 0 0;"><span style="display: block; margin: 0 0 0 0; padding:5px 0 5px 5px; word-wrap: break-word;">invoice date - {{invoice_date|date:"d M Y"}}</span></td>
		  <td valign="top"  width="33.3%" style="padding: 0 0 0 0;width: 33.33%;margin: 0 0 0 0;"><span style="display: block; margin: 0 0 0 0; padding:5px 0 5px 5px; word-wrap: break-word;">purchase order number - {{writer_po_number}}</span></td>
		</tr>
		</table>
      </td>
    </tr>
    <tr>
      <td valign="top" >
              <table width="100%" border="0" cellspacing="0" cellpadding="0" style="text-transform: uppercase;  width: 100%; margin: 0 0 0 0; padding: 0 0 0 0; border: solid 1px #000;">
    <tr>
      <td valign="top"  colspan="3" style="margin: 0 0 0 0; padding: 0 0 0 0;">
               <table width="100%" border="0" cellspacing="0" cellpadding="0" style="margin: 0 0 0 0; padding:0; width: 100%;">
    <tr>
      <td valign="top"  width="50%" style="padding: 0 0 0 0;margin: 0 0 0 0; width: 50%;"><span style="display: block; margin: 0 0 0 0; padding:5px 0 5px 5px; word-wrap: break-word;">To,</span></td>
      <td valign="top"  width="50%" style="padding: 0 0 0 0;margin: 0 0 0 0; width: 50%;"><span style="display: block; margin: 0 0 0 0; padding:5px 0 5px 5px; word-wrap: break-word;">From:</span></td>
    </tr>
   <tr>
      <td valign="top"  width="50%" style="padding: 0 0 0 0;margin: 0 0 0 0; width: 50%;"><span style="display: block; margin: 0 0 0 0; padding:0 0 2px 5px; word-wrap: break-word;">HT Media Ltd., Park Centra Building,</span></td>
      <td valign="top"  width="50%" style="padding: 0 0 0 0;margin: 0 0 0 0; width: 50%;"><span style="display: block; margin: 0 0 0 0; padding:0 0 2px 5px; word-wrap: break-word;">name of writer: {{writer_name}}</span></td>
    </tr>
         <tr>
      <td valign="top"  width="50%" style="padding: 0 0 0 0;margin: 0 0 0 0; width: 50%;"><span style="margin: 0 0 0 0; padding:0 0 2px 5px;word-wrap: break-word;">11th Floor, Sector 30, Gurgaon, Haryana-122001</span></td>
      <td valign="top"  width="50%" style="padding: 0 0 0 0;margin: 0 0 0 0; width: 50%;"><span style="display: block; margin: 0 0 0 0; padding:0 0 2px 5px; word-wrap: break-word;">pan of writer: {{writer_pan}}</span></td>
    </tr>
         <tr>
      <td valign="top"  width="50%" style="padding: 0 0 0 0;margin: 0 0 0 0; width: 50%;"><span style="margin: 0 0 0 0; padding:0 0 2px 5px;word-wrap: break-word;">Pan: AABCH3165P</span></td>
      <td  valign="top" width="50%" style="padding: 0 0 0 0;margin: 0 0 0 0; width: 50%;"><span style="display: block; margin: 0 0 0 0; padding:0 0 2px 5px; word-wrap: break-word;">gstin of writer: {{writer_gstin}}</span></td>
    </tr>
    <tr>
      <td  valign="top" width="50%" style="padding: 0 0 0 0;margin: 0 0 0 0; width: 50%;"><span style="margin: 0 0 0 0; padding:0 0 2px 5px;word-wrap: break-word;">Gst No: 06AABCH3165P2ZA</span></td>
      <td valign="top"  width="50%" style="padding: 0 0 0 0;margin: 0 0 0 0; width: 50%;"><span style="display: block; margin: 0 0 0 0; padding:0 0 2px 5px; word-wrap: break-word;">address of writer: {{writer_address}}</span></td>
    </tr>
</table>
          </td>
      </tr>
</table>
  </td>
    </tr>
</table>
<table width="600px" border="0" cellspacing="0" cellpadding="0" style="font-family: Arial; font-size: 11px; color: #333; margin: 0 auto; padding: 0;background-color: #fff;">
     <tr>
      <td valign="top" style="padding-top: 5px;">
        <table width="100%" border="0" cellspacing="0" cellpadding="0" style="border: solid 1px #000; width: 100%;margin: 0; padding: 0;">
    <tr>
      <td width="10%" valign="top"  style="padding:0;border-bottom: solid 1px #000;border-right: solid 1px #000; margin:0;"><span style="display: block; margin:0; padding:3px 0 3px 5px; word-wrap: break-word;">S.No</span></td>
      <td width="15%" valign="top"  style="padding:0;border-bottom: solid 1px #000;border-right: solid 1px #000; margin:0;"><span style="display: block; margin:0; padding:3px 0 3px 5px; word-wrap: break-word;">Order Item Id</span></td>
      <td width="30%" valign="top"  style="padding:0;border-bottom: solid 1px #000;border-right: solid 1px #000; margin:0;"><span style="display: block; margin:0; padding:3px 0 3px 5px; word-wrap: break-word;">Product Name</span></td>
      <td width="15%" valign="top"  style="padding:0;border-bottom: solid 1px #000;border-right: solid 1px #000; margin:0;"><span style="display: block; margin:0; padding:3px 0 3px 5px; word-wrap: break-word;">Closure Date</span></td>
      <td width="15%"   valign="top" style="padding:0;border-bottom: solid 1px #000;border-right: solid 1px #000; margin:0;"><span style="display: block; margin:0; padding:3px 0 3px 5px; word-wrap: break-word;">Combo Discount</span></td>
      <td width="15%"  valign="top"  style="padding:0;border-bottom: solid 1px #000;margin: 0;"><span style="display: block; margin:0; padding:3px 0 3px 5px; word-wrap: break-word;">Amount</span></td>
    </tr>
    {% for oi in item_list %}
    <tr>
      <td width="10%" valign="top"  style="padding:0;border-bottom: solid 1px #000;border-right: solid 1px #000; margin:0;"><span style="display: block; margin:0; padding:3px 0 3px 5px; word-wrap: break-word;">{{forloop.counter}}</span></td>
      <td width="15%" valign="top"  style="padding:0;border-bottom: solid 1px #000;border-right: solid 1px #000; margin:0;">{% if oi.item_type == 'older' %}<span style="color:red;">* </span>{% endif %}<span style="display: block; margin:0; padding:3px 0 3px 5px; word-wrap: break-word;">{{oi.item_id}}</span></td>
      <td width="30%" valign="top"  style="padding:0;border-bottom: solid 1px #000;border-right: solid 1px #000; margin:0;"><span style="display: block; margin:0; padding:3px 0 3px 5px; word-wrap: break-word;">{{oi.product_name}}</span></td>
      <td width="15%"  valign="top"  style="padding:0;border-bottom: solid 1px #000;border-right: solid 1px #000; margin:0;"><span style="display: block; margin:0; padding:3px 0 3px 5px; word-wrap: break-word;">{{oi.closed_on|date:"d M Y"}}</span></td>
      <td width="15%"  valign="top"  style="padding:0;border-bottom: solid 1px #000;border-right: solid 1px #000; margin:0;"> <span style="display: block; margin:0; padding:3px 0 3px 5px; word-wrap: break-word;">-{% if oi.combo_discount %} {{oi.combo_discount}}{% endif %}</span></td>
      <td width="15%"  valign="top"  style="padding:0;border-bottom: solid 1px #000;margin: 0;"><span style="display: block; margin:0; padding:3px 0 3px 5px; word-wrap: break-word;">{{oi.amount}}</span></td>
    </tr>
    {% endfor %}

    {% for dummy in "sjkkjhkjhjkhjhjkhj"%}
      <tr>
      <td width="10%" valign="top"  style="padding:0;border-bottom: solid 1px #000;border-right: solid 1px #000; margin:0;"><span style="display: block; margin:0; padding:3px 0 3px 5px; word-wrap: break-word;">{{forloop.counter}}</span></td>
      <td width="15%" valign="top"  style="padding:0;border-bottom: solid 1px #000;border-right: solid 1px #000; margin:0;">{% if oi.item_type == 'older' %}<span style="color:red;">* </span>{% endif %}<span style="display: block; margin:0; padding:3px 0 3px 5px; word-wrap: break-word;">{{oi.item_id}}</span></td>
      <td width="30%" valign="top"  style="padding:0;border-bottom: solid 1px #000;border-right: solid 1px #000; margin:0;"><span style="display: block; margin:0; padding:3px 0 3px 5px; word-wrap: break-word;">{{oi.product_name}}</span></td>
      <td width="15%"  valign="top"  style="padding:0;border-bottom: solid 1px #000;border-right: solid 1px #000; margin:0;"><span style="display: block; margin:0; padding:3px 0 3px 5px; word-wrap: break-word;">{{oi.closed_on|date:"d M Y"}}</span></td>
      <td width="15%"  valign="top"  style="padding:0;border-bottom: solid 1px #000;border-right: solid 1px #000; margin:0;"> <span style="display: block; margin:0; padding:3px 0 3px 5px; word-wrap: break-word;">-{% if oi.combo_discount %} {{oi.combo_discount}}{% endif %}</span></td>
      <td width="15%"  valign="top"  style="padding:0;border-bottom: solid 1px #000;margin: 0;"><span style="display: block; margin:0; padding:3px 0 3px 5px; word-wrap: break-word;">{{oi.amount}}</span></td>
    </tr>
    {% endfor %}

    <tr>
      <td width="70%" valign="top"  colspan="4" style="padding:0;text-align: center; border-bottom: solid 1px #000;border-right: solid 1px #000; margin:0;"><span style="display: block; margin:0; padding:3px 0 3px 5px; word-wrap: break-word;"><strong>Sub Total</strong></span></td>
      <td width="15%" valign="top"  style="padding:0;border-bottom: solid 1px #000;border-right: solid 1px #000; margin:0;"><span style="display: block; margin:0; padding:3px 0 3px 5px; word-wrap: break-word;">-{% if total_combo_discount%} {{total_combo_discount}}{% endif %}</span></td>
      <td width="15%" valign="top"  style="padding:0;border-bottom: solid 1px #000;margin: 0;"><span style="display: block; margin:0; padding:3px 0 3px 5px; word-wrap: break-word;">{{sub_total}}</span></td>
    </tr>
    {% if incentive or penalty %}
    <tr>
      <td width="70%" valign="top"  colspan="4" style="padding:0;border-bottom: solid 1px #000;border-right: solid 1px #000; margin:0; text-align: center;"><strong><span style="display: block; margin:0; padding:3px 0 3px 5px; word-wrap: break-word;">Total</span></strong></td>
      <td width="30%" valign="top"  colspan="2" style="padding:0; border-bottom: solid 1px #000; text-align: center;margin: 0;"><span style="display: block; margin:0; padding:3px 0 3px 5px; word-wrap: break-word;">{{total}}</span></td>
    </tr>
    {% endif %}
    {% if incentive or penalty %}
    <tr>
      <td valign="top"  colspan="4" style="padding:0; border-bottom: solid 1px #000; border-right: solid 1px #000; margin:0; text-align: center;"><strong>
        <span style="display: block; margin:0; padding:3px 0 3px 5px; word-wrap: break-word;">
          {% if incentive %}
            Incentive @ {{incentive_per}}%
          {% elif penalty %}
            Penalty @ {{penalty_per}}%
          {%endif%}
        </span></strong>
      </td>
      <td valign="top"  colspan="2" style="padding:0; border-bottom: solid 1px #000; text-align: center;margin: 0;">
        <span style="display: block; margin:0; padding:3px 0 3px 5px; word-wrap: break-word;">
          {% if incentive %}
            + {{incentive}}
          {% elif penalty %}
            - {{penalty}}
          {% endif %}
        </span>
      </td>
    </tr>
    {% endif %}
    <tr>
      <td valign="top"  colspan="4" style="padding:0;border-right: solid 1px #000; margin:0; text-align: center;"><strong><span style="display: block; margin:0; padding:3px 0 3px 5px; word-wrap: break-word;">Total Payable</span></strong></td>
      <td valign="top"  colspan="2" style="padding:0; text-align: center;margin: 0;"><span style="display: block; margin:0; padding:3px 0 3px 5px; word-wrap: break-word;">{{total_payable}}</span></td>
    </tr>
</table>
        </td>
    </tr>
</table>



<table width="600px" border="0" cellspacing="0" cellpadding="0" style="font-family: Arial; font-size: 11px; color: #333; margin: 0 auto; padding: 0;background-color: #fff;">
     <tr>
      <td valign="top" style="padding-top: 5px;">
        <table width="100%" border="0" cellspacing="0" cellpadding="0" style="border: solid 1px #000; width: 100%;margin: 0; padding: 0;">
    <tr>
      <td width="10%" valign="top"  style="padding:0;border-bottom: solid 1px #000;border-right: solid 1px #000; margin:0;"><span style="display: block; margin:0; padding:3px 0 3px 5px; word-wrap: break-word;">S.No</span></td>
      <td width="15%" valign="top"  style="padding:0;border-bottom: solid 1px #000;border-right: solid 1px #000; margin:0;"><span style="display: block; margin:0; padding:3px 0 3px 5px; word-wrap: break-word;">Order Item Id</span></td>
      <td width="30%" valign="top"  style="padding:0;border-bottom: solid 1px #000;border-right: solid 1px #000; margin:0;"><span style="display: block; margin:0; padding:3px 0 3px 5px; word-wrap: break-word;">Product Name</span></td>
      <td width="15%" valign="top"  style="padding:0;border-bottom: solid 1px #000;border-right: solid 1px #000; margin:0;"><span style="display: block; margin:0; padding:3px 0 3px 5px; word-wrap: break-word;">Closure Date</span></td>
      <td width="15%"   valign="top" style="padding:0;border-bottom: solid 1px #000;border-right: solid 1px #000; margin:0;"><span style="display: block; margin:0; padding:3px 0 3px 5px; word-wrap: break-word;">Combo Discount</span></td>
      <td width="15%"  valign="top"  style="padding:0;border-bottom: solid 1px #000;margin: 0;"><span style="display: block; margin:0; padding:3px 0 3px 5px; word-wrap: break-word;">Amount</span></td>
    </tr>
    {% for oi in item_list %}
    <tr>
      <td width="10%" valign="top"  style="padding:0;border-bottom: solid 1px #000;border-right: solid 1px #000; margin:0;"><span style="display: block; margin:0; padding:3px 0 3px 5px; word-wrap: break-word;">{{forloop.counter}}</span></td>
      <td width="15%" valign="top"  style="padding:0;border-bottom: solid 1px #000;border-right: solid 1px #000; margin:0;">{% if oi.item_type == 'older' %}<span style="color:red;">* </span>{% endif %}<span style="display: block; margin:0; padding:3px 0 3px 5px; word-wrap: break-word;">{{oi.item_id}}</span></td>
      <td width="30%" valign="top"  style="padding:0;border-bottom: solid 1px #000;border-right: solid 1px #000; margin:0;"><span style="display: block; margin:0; padding:3px 0 3px 5px; word-wrap: break-word;">{{oi.product_name}}</span></td>
      <td width="15%"  valign="top"  style="padding:0;border-bottom: solid 1px #000;border-right: solid 1px #000; margin:0;"><span style="display: block; margin:0; padding:3px 0 3px 5px; word-wrap: break-word;">{{oi.closed_on|date:"d M Y"}}</span></td>
      <td width="15%"  valign="top"  style="padding:0;border-bottom: solid 1px #000;border-right: solid 1px #000; margin:0;"> <span style="display: block; margin:0; padding:3px 0 3px 5px; word-wrap: break-word;">-{% if oi.combo_discount %} {{oi.combo_discount}}{% endif %}</span></td>
      <td width="15%"  valign="top"  style="padding:0;border-bottom: solid 1px #000;margin: 0;"><span style="display: block; margin:0; padding:3px 0 3px 5px; word-wrap: break-word;">{{oi.amount}}</span></td>
    </tr>
    {% endfor %}

    {% for dummy in "sjkkjhkjhjkhjhjkhj"%}
      <tr>
      <td width="10%" valign="top"  style="padding:0;border-bottom: solid 1px #000;border-right: solid 1px #000; margin:0;"><span style="display: block; margin:0; padding:3px 0 3px 5px; word-wrap: break-word;">{{forloop.counter}}</span></td>
      <td width="15%" valign="top"  style="padding:0;border-bottom: solid 1px #000;border-right: solid 1px #000; margin:0;">{% if oi.item_type == 'older' %}<span style="color:red;">* </span>{% endif %}<span style="display: block; margin:0; padding:3px 0 3px 5px; word-wrap: break-word;">{{oi.item_id}}</span></td>
      <td width="30%" valign="top"  style="padding:0;border-bottom: solid 1px #000;border-right: solid 1px #000; margin:0;"><span style="display: block; margin:0; padding:3px 0 3px 5px; word-wrap: break-word;">{{oi.product_name}}</span></td>
      <td width="15%"  valign="top"  style="padding:0;border-bottom: solid 1px #000;border-right: solid 1px #000; margin:0;"><span style="display: block; margin:0; padding:3px 0 3px 5px; word-wrap: break-word;">{{oi.closed_on|date:"d M Y"}}</span></td>
      <td width="15%"  valign="top"  style="padding:0;border-bottom: solid 1px #000;border-right: solid 1px #000; margin:0;"> <span style="display: block; margin:0; padding:3px 0 3px 5px; word-wrap: break-word;">-{% if oi.combo_discount %} {{oi.combo_discount}}{% endif %}</span></td>
      <td width="15%"  valign="top"  style="padding:0;border-bottom: solid 1px #000;margin: 0;"><span style="display: block; margin:0; padding:3px 0 3px 5px; word-wrap: break-word;">{{oi.amount}}</span></td>
    </tr>
    {% endfor %}

    <tr>
      <td width="70%" valign="top"  colspan="4" style="padding:0;text-align: center; border-bottom: solid 1px #000;border-right: solid 1px #000; margin:0;"><span style="display: block; margin:0; padding:3px 0 3px 5px; word-wrap: break-word;"><strong>Sub Total</strong></span></td>
      <td width="15%" valign="top"  style="padding:0;border-bottom: solid 1px #000;border-right: solid 1px #000; margin:0;"><span style="display: block; margin:0; padding:3px 0 3px 5px; word-wrap: break-word;">-{% if total_combo_discount%} {{total_combo_discount}}{% endif %}</span></td>
      <td width="15%" valign="top"  style="padding:0;border-bottom: solid 1px #000;margin: 0;"><span style="display: block; margin:0; padding:3px 0 3px 5px; word-wrap: break-word;">{{sub_total}}</span></td>
    </tr>
    {% if incentive or penalty %}
    <tr>
      <td width="70%" valign="top"  colspan="4" style="padding:0;border-bottom: solid 1px #000;border-right: solid 1px #000; margin:0; text-align: center;"><strong><span style="display: block; margin:0; padding:3px 0 3px 5px; word-wrap: break-word;">Total</span></strong></td>
      <td width="30%" valign="top"  colspan="2" style="padding:0; border-bottom: solid 1px #000; text-align: center;margin: 0;"><span style="display: block; margin:0; padding:3px 0 3px 5px; word-wrap: break-word;">{{total}}</span></td>
    </tr>
    {% endif %}
    {% if incentive or penalty %}
    <tr>
      <td valign="top"  colspan="4" style="padding:0; border-bottom: solid 1px #000; border-right: solid 1px #000; margin:0; text-align: center;"><strong>
        <span style="display: block; margin:0; padding:3px 0 3px 5px; word-wrap: break-word;">
          {% if incentive %}
            Incentive @ {{incentive_per}}%
          {% elif penalty %}
            Penalty @ {{penalty_per}}%
          {%endif%}
        </span></strong>
      </td>
      <td valign="top"  colspan="2" style="padding:0; border-bottom: solid 1px #000; text-align: center;margin: 0;">
        <span style="display: block; margin:0; padding:3px 0 3px 5px; word-wrap: break-word;">
          {% if incentive %}
            + {{incentive}}
          {% elif penalty %}
            - {{penalty}}
          {% endif %}
        </span>
      </td>
    </tr>
    {% endif %}
    <tr>
      <td valign="top"  colspan="4" style="padding:0;border-right: solid 1px #000; margin:0; text-align: center;"><strong><span style="display: block; margin:0; padding:3px 0 3px 5px; word-wrap: break-word;">Total Payable</span></strong></td>
      <td valign="top"  colspan="2" style="padding:0; text-align: center;margin: 0;"><span style="display: block; margin:0; padding:3px 0 3px 5px; word-wrap: break-word;">{{total_payable}}</span></td>
    </tr>
</table>
        </td>
    </tr>
</table>





<table width="100%" border="0" cellspacing="0" cellpadding="0" style="font-family: Arial; font-size: 11px; color: #333; margin: 0 auto; padding: 0;background-color: #fff;">
    <tr>
      <td valign="top" style="padding-top: 5px;">
            <table width="100%" border="0" cellspacing="0" cellpadding="0" style="text-transform: uppercase; border: solid 1px #000;width: 100%;margin: 0; padding: 0;">
    <tr>
      <td valign="top"  width="33.3%" style="padding: 0;border-right: solid 1px #000;width: 33.3%;margin: 0;"><span style="display: block; margin:0; padding:5px 0 5px 5px; word-wrap: break-word;">Place</span></td>
      <td valign="top"  width="33.3%" style="padding: 0;border-right: solid 1px #000;width: 33.3%;margin: 0;"><span style="display: block; margin:0; padding:5px 0 5px 5px; word-wrap: break-word;">Date</span></td>
      <td valign="top"  width="33.3%" style="padding: 0; width: 33.3%;margin: 0;"><span style="display: block; margin:0; padding:5px 0 5px 5px; word-wrap: break-word;">Sign</span></td>
    </tr>
</table>
     </td>
    </tr>
</table>
</body>
</html>
