
  <!-- content start -->
  <h1>{{main_article.heading}}</h1>

  <!-- author-view-box -->
  <div class="author-view-box">
    <!-- author-date -->
    <div class="author-date">
      <figure>
        <i><img src="{{main_article.author.image.url}}" alt="{{main_article.author.image_alt}}"></i>
      <figure>
      <strong><a href="#">{{main_article.author.name}}</a></strong> {{main_article.publish_date.date}}
    </div><!-- /.author-date -->

    <!-- comment-view -->
    <div class="comment-view float-right">
      {% if main_article.comment_moderated > 0 %}
      <figure>
        <i class="icon-comment-detail"></i>
        <figcaption>{{main_article.comment_moderated}}</figcaption>
      </figure>
      {% endif %}

      {% if main_article.no_views > 0 %}
      <figure>
        <i class="icon-view-detail"></i>
        <figcaption>{{main_article.no_views}}</figcaption>
      </figure>
      {% endif %}
<!-- 
      <figure>
        <i class="icon-forward-detail"></i>
        <figcaption>43</figcaption>
      </figure> -->
    </div><!-- /.comment-view -->
  </div><!-- /.author-view-box -->

  <!-- /.article detail content -->
  <div class="article-detail-content">
    <!-- social Login -->
    <div class="social-login">
      <a class="icon-fb-social" id="article_share" target="_blank" article-slug="{{main_article.slug}}"  href="https://www.facebook.com/sharer/sharer.php?u={{SITEDOMAIN}}{{main_article.get_absolute_url}}"></a>

      <a class="icon-twitter-social" id="article_share" target="_blank" article-slug="{{main_article.slug}}" href="https://twitter.com/home?status=https://{{SITEDOMAIN}}{{main_article.get_absolute_url}}"></a>

      <a class="icon-gplus-social" id="article_share" target="_blank" article-slug="{{main_article.slug}}" href="https://plus.google.com/share?url={{SITEDOMAIN}}{{main_article.get_absolute_url}}"></a>
      
      <a class="icon-whatsapp-social" id="article_share" target="_blank" article-slug="{{article.slug}}" href="#"></a>

      <a class="icon-linkedin-social" id="article_share" target="_blank" article-slug="{{main_article.slug}}" href="https://www.linkedin.com/shareArticle?mini=true&url=https://{{SITEDOMAIN}}{{main_article.get_absolute_url}}&title={{main_article.title}}&summary={{main_article.meta_desc}}&source={{SITEDOMAIN}}/"></a>
    </div>

    <!--tagged-in -->
    {% with main_article.tags.all as tags %}
    {% if tags %}
    <div class="tagged-in mt-30">
      <strong>Tagged in</strong>
        {% for tag in tags %}
        <span><a href="{% url "hrinsider:hr-tag-article" tag.slug %}" title="{{tag.name}}">{{tag.name}}</a></span> 
        {% endfor %}
    </div>
    {% endif %}
    {% endwith %}<!-- /.tagged-in -->

    <!-- /.social Login -->

    <!-- <blockquote>
      Whoever said job search is easy is lying. The way one conducts it also defines the potentials in the individuals. Know the three most common ways to do it and bring out the best in you.
    </blockquote>  -->               

    <!-- Main Image -->
    <figure>
      <img src="{{main_article.image.url}}" alt="{{main_article.image.url_alt}}" class="img-responsive">
    </figure>
    <!-- /.main Image -->
    
    <!-- /.Article  -->
    <article class="article-content">
      {{main_article.content|safe}}
    </article>
    <!-- /.Article -->
    
    <!-- social Login -->
    <div class="social-login">
      <a class="icon-fb-social" id="article_share" target="_blank" article-slug="{{main_article.slug}}"  href="https://www.facebook.com/sharer/sharer.php?u={{SITEDOMAIN}}{{main_article.get_absolute_url}}"></a>

      <a class="icon-twitter-social" id="article_share" target="_blank" article-slug="{{main_article.slug}}" href="https://twitter.com/home?status=https://{{SITEDOMAIN}}{{main_article.get_absolute_url}}"></a>

      <a class="icon-gplus-social" id="article_share" target="_blank" article-slug="{{main_article.slug}}" href="https://plus.google.com/share?url={{SITEDOMAIN}}{{main_article.get_absolute_url}}"></a>
      
      <!-- <a class="icon-whatsapp-social" id="article_share" target="_blank" article-slug="{{article.slug}}" href="#"></a> -->

      <a class="icon-linkedin-social" id="article_share" target="_blank" article-slug="{{main_article.slug}}" href="https://www.linkedin.com/shareArticle?mini=true&url=https://{{SITEDOMAIN}}{{main_article.get_absolute_url}}&title={{main_article.title}}&summary={{main_article.meta_desc}}&source={{SITEDOMAIN}}/"></a>
    </div><!-- /.social Login -->


    <!--tagged-in -->
    {% with main_article.tags.all as tags %}
    {% if tags %}
    <div class="tagged-in mt-30">
      <strong>Tagged in</strong>
        {% for tag in tags %}
        <span><a href="{% url "hrinsider:hr-tag-article" tag.slug %}" title="{{tag.name}}">{{tag.name}}</a></span> 
        {% endfor %}
    </div>
    {% endif %}
    {% endwith %}<!-- /.tagged-in -->

    {% comment %}
    <!-- Comments-box -->
    {% if main_article.allow_comment %}
    <div class="comments-box mb-40 mt-40">
        <!-- comments box heading-->
        <div class="comments-box-heading is-clickable">
            <span class="icon-comments"></span> 
            <strong>
                <label for="total_comment{{main_article.id}}" class="is-clickable">{% if main_article.comment_moderated > 0 %}{{main_article.comment_moderated}} comments{% else %}Click to Comment {% endif %}</label>
            </strong>
            <!-- <a role="button" data-toggle="collapse" href="#collapseExample" aria-expanded="false" aria-controls="collapseExample">Leave a comment</a> -->
            <input type="radio" class="hide" onchange="openCommentBox('{{main_article.id}}', 2)" id="total_comment{{main_article.id}}">
        </div>
        <div id="comment-box{{main_article.id}}" class="mt-20"></div>
    </div>
    {% endif %}<!-- /. comments-box -->
    {% endcomment %}

  </div><!-- /.article detail content -->