<div class="leave-comment" id="collapseExample">
    <strong>Leave a comment</strong>

    <form id="blog-comment-form{{article.id}}">
        {% csrf_token %}
        <div class="form-group">
            <textarea class="form-control" placeholder="Your comment" rows="3" id="id_comment{{article.id}}" name="message"></textarea>
        </div>

        <input type="hidden" id="id_slug" name="slug" value="{{article.slug}}">
        <input type="hidden" id="pk_id" name="pk" value="{{article.pk}}" />
      <!--   <div class="form-inline row hidden">
            <div class="form-group col-sm-6">
                <input type="text" class="form-control" id="exampleInputName1" placeholder="Name">
            </div>
            <div class="form-group col-sm-6">
                <input type="email" class="form-control" id="exampleInputEmail1" placeholder="Email">
            </div>
        </div> -->
        <button type="button" class="submit-button" onclick="commentSubmit('{{article.id}}', '{{login_status}}')" id="comment-submit{{article.id}}">Post comment</button>
    </form>
</div>

<div id="page_comment{{article.id}}" class="mt-20">
  {{ comment_list|safe|default:'' }}
</div>
