<footer>
  <div class="footer">
    <div class="row">
      <div class="col-sm-10">
        <div class="contact-footer">
          <article>If you are looking for any information, please feel free to contact us. We will be glad to help.</article>
          <a href="#"><i class="icon-phone"></i>+91 8067363434</a>
          <a href="mailto:recruiterservices@shine.com"><i class="icon-email"></i>recruiterservices@shine.com</a>
        </div>
      </div>
      <div class="col-sm-2 follow-us">
        <article>Follow us on</article>
        <a href="#"><i class="icon-linkedin"></i></a> 
        <a href="#"><i class="icon-fb"></i></a> 
        <a href="#"><i class="icon-twitter"></i></a>
      </div>
    </div>        
  </div>
  <div class="footer-links">
    <a href="/about-us">About Us</a> <a href="/privacy-policy">Privacy Policy</a> <a href="/tnc">Terms & Condition</a> <a href="/contact-us">Contact us</a> 
    <span class="float-right">Copyright © {% now "Y" %} HT Media Limited.</span>
  </div>
</footer>