<!-- navbar -->
<nav class="navbar navbar-expand-lg">
  <a class="navbar-brand" href="https://recruiter.shine.com/"></a>
  <div class="navbar-collapse">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item active">
        <a class="nav-link" href="https://recruiter.shine.com/aboutus">About Us</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="https://recruiter.shine.com/online-package/">Hiring Plans</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="https://www.shine.com/?utm_source=recruiter.shine.com&amp;utm_medium=jobwidget&amp;utm_campaign=jobwidget" target="_blank">Job Seeker?</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="/hr-insider/">HR Insider</a>
      </li>
    </ul>
    <div class="form-inline my-2 my-lg-0">
      <div class="mobile-mail">
        <a href="tel:08047105555">080-47105555</a>
        <a href="mailto:recruiterservices@shine.com">recruiterservices@shine.com</a>
      </div>

      <div class="login">
        <a href="https://recruiter.shine.com/"><button>Recruiter Login</button></a>
      </div>

    </div>
  </div>
</nav><!-- /. navbar -->