<div class="pastconclave">
    <h2 class="secondary-heading">Past Conclaves</h2>
    <div class="greybox">
        <ul>
            {% for past_conclave in past_conclaves %}
                <li>
                    <a href="{{past_conclave.get_absolute_url}}">
                        <figure>
                            {% if past_conclave.image %}
                            <i>
                                <img src="{{past_conclave.image.url}}" alt="{{past_conclave.image_alt}}">
                            </i>
                            {% endif %}
                            <figcaption>
                                <h3>{{past_conclave.display_name}}</h3> <em>{{past_conclave.city}} Edition</em>
                            </figcaption>
                        </figure>
                    </a>
                </li>
            {% endfor %}
        </ul>
    </div>
</div>
