h2 {
    font-size: 26px;
    font-weight: $font-weight + 300;
    text-align: center;
    display: block;
}

.popular_test {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    margin-top: 40px;
    margin-bottom: 40px;


    .testinside {

        border: 1px solid $border;
        background: $white-bg;
        border-radius: $border-radius;
        padding: 10px 10px 10px 0;
        font-size: 16px;
        position: relative;
        box-shadow: $box-shadow;
        align-items: center;
        width: 22.4%;
        min-height: 75px;
        display: flex;
        position: relative;
        font-weight: $font-weight + 100;
        margin: 0 15px;

        @media(max-width: 1191px) {
            width: 22%;
        }

        .border-left {
            background: #BCF5E8;
            height: 45px;
            position: absolute;
            top: 25%;
            left: 0;
            z-index: 1;
            width: 5px;
        }

        .purple {
            background: $purple;


        }

        .olive {
            background: $olive;
        }

        .green {
            background: $green;

        }




        a {
            color: $btn-default-color;
            display: flex;
            padding-left: 15px;
            min-height: 45px;
            flex-direction: column;
            flex-grow: 1;
            justify-content: center;

            &:hover{box-shadow: 0 3px 24px 0 #DEE7F3;
            }



            .white_hover {
                position: absolute;
                width: 100%;
                height: 100%;
                display: none;
                background: $white-bg;
                opacity: .8;
                z-index: 3;
                left: 0px;
                box-shadow: 0 3px 24px 0 #DEE7F3;
            }




            .taketest {

                display: none;
                color: $white-bg;
                border-radius: 42px;
                font-size: 13px;
                background: $p-blue;
                width: 114px;
                padding: 5px;
                text-align: center;
                position: absolute;
                top: 35%;
                left: 25%;
                z-index: 10;

            }

            .test {

                color: $primary-color;
                font-size: 13px;
                display: block;
            }

            &:hover .taketest,
            &:hover .white_hover {
                display: block;

            }

        }

        .test-box {
            &:hover {
                box-shadow: none;
                color: $p-blue;
            }
        }

    }

    .testinside-inner {
        box-shadow: $box-shadow;
        
        &:hover {
            box-shadow: 0 3px 20px 0 #DEE7F3;
            background: $white-bg;
            color: $p-blue;
        }
    }
}