@import "../path";
@import "../common/bootstrap/variables";
@import "../common/bootstrap/mixins";

//pages
@import "landing.scss";
@import "icons.scss";
@import "popular_test.scss";
@import "fa_test.scss";
@import "loading.scss";



.btn_white {
	
background:$white-bg;
border: 1px solid #EBEAEA;
box-shadow: 0 3px 24px 0 rgba(192,192,192,0.50);
border-radius: 42px;
text-align: center;
font-size: 16px;

display: block;
 

 a {
 	display: block;
 	 color: $text-333;
 	 
 	&:hover{
 		color: $p-blue;
 	
 }

a:focus, a:active {
    outline: 0;
    border: none;
    -moz-outline-style: none;
}

button:focus, button:active {
    outline: 0;
    border: none;
    -moz-outline-style: none;
}

input[type="button"] {
 outline: none;
}
}
}
.loadmore {
	margin:20px auto;

	width: 220px; 
	height: 50px;

	a {
		padding-top: 13px;
	}

}


:focus {
outline: 0;
}


.overlay-background {
  background: #000000;  
  display: none;        
  position: fixed;   
  top: 0;                 
  right: 0;             
  bottom: 0;
  left: 0;
  opacity: 0.5;
  z-index: 999;
  
}

.loader-position {
  transform: translate(900%, 500%);
}

.body-noscroll {
 overflow: hidden;
}

.price-box-vskill {
  display: flex;
  justify-content: space-between;

  .hide-redeem {
    display: none;
  }
}

.flex-column {
  flex-direction: column;

  .hide-redeem {
    display: block !important;
  }
}

.tooltip-icon {
  width: 20px;
  height: 20px;
  background: $p-blue;
  color: $white-color;
  font-style: italic;
  font-weight: 700;
  font-size: 12px;
  border-radius: 100%;
  display: inline-block;
  text-align: center;
  line-height: 20px;
  margin-left: 5px;
}

.tooltip {
  opacity: 1;
  .tooltip-inner {
    background-color: $white-color;
    color: $primary-color;
    line-height: 15px;
    box-shadow: $shadow1;
    opacity: 1;
    text-align: left;
    padding: 10px;
    max-width: 300px;
  }
}

.tooltip.top {
  .tooltip-arrow {
    border-top-color: $white-color;
    color: $primary-color;
  }
}