@import "bootstrap/functions";
@import "bootstrap/mixins";
@import "bootstrap/variables";
@import "bootstrap/forms";
@import "bootstrap/input-group";
@import "bootstrap/utilities/spacing";


a {
	text-decoration: none;

	&:hover {
		text-decoration: none;
	}
}

body {
	font-family: $font-family;
	font-size: $font-size+2;
}

.nopad-lr {
	padding-left: 0;
	padding-right: 0;
}

figure {
	margin-bottom: 0;
}

.mt-0 {
	margin-top: 0;
}

.ml-20 {
	margin-left: ($spacer * 1.25);
}

.mt-20 {
	margin-top: ($spacer * 1.25);
}

.mt-30 {
	margin-top: ($spacer * 1.875);
}

.mt-25 {
	margin-top: ($spacer * 1.563);
}

.mt-20-less {
	margin-top: -20px;
}


.mt-50 {
	margin-top: 50px;
}

.pr-0 {
	padding-right: 0;
}

.pb-20 {
	padding-bottom: 20px;
}

h1 {
	font-size: $font-size+21;
}

.primary-heading {
	font-size: $font-size+15;
	color: $link-color;
	font-weight: $font-weight+400;
	display: block;
}

.secondary-heading {
	font-size: $font-size+15;
	color: $link-color;
	font-weight: $font-weight+400;
	display: block;
}

.sub-heading {
	font-size: $font-size+6;
	color: $secondary-color;
	font-weight: $font-weight+200;
}

nav {
	@extend %gradient-header;

	.navbar-collapse {
		margin-top: -5px;
	}
}

.mobile-mail {
	display: block;
	font-size: $font-size+1;
	color: $white;
	text-align: right;

	a {
		display: block;
		color: $white;
	}
}

.login {
	margin-left: 20px;

	button {
		box-shadow: 1px 1px 5px 5px rgba(0,0,0,0.1);
		@include border-radius(4px);
		background: $white;
		font-size: $font-size+4;
		padding: 6px 12px 6px 50px;
		border: none;
		color: $link-color;
		position: relative;
		cursor: pointer;

		&:before {
			content: '';
			background: $sprite -83px 0;
			width: 20px;
			height: 20px;
			display: inline-block;
			position: absolute;
			left: 10px;
			top: 8px;
			margin-right: 20px;
		}
	}
}

.tab-header {
	@extend %gradient;
	@extend %gutter-space;
	@include clearfix();
	padding-top: 15px;
	padding-bottom: 15px;
	overflow: hidden;

	.col-sm-4 {
		a {
			&.tab-box {
				@extend %box-shadow-header;
				font-size: $font-size+7;
				font-weight: $font-weight+200;
				color: $primary-color;
				background: $white;
				display: block;
				padding: 6px 15px;
				position: relative;

				&:hover {
					color: $primary-color;
				}

				figcaption {
					display: inline-block;
					margin-left: 5px;
				}

				.arrow {
					position: absolute;
					bottom: -10px;
					left: 0;
					right: 0;
					margin: 0 auto;
					display: inline-block;
					width: 0;
					height: 0;
					border-left: 8px solid transparent;
					border-right: 8px solid transparent;
					border-top: 10px solid $white;
				}
			}
		}
	}
}


/*icons css*/
[class^="icon-"] {
    display: block;
    text-indent: 200%;
    overflow: hidden;
    white-space: nowrap;
}

.icon-article {
	@include icon-inblock (41px, 49px, -106px 0);
	background-image: url($image-path);
	vertical-align: middle;
}

.icon-conclave {
	@include icon-inblock (50px, 49px, -151px 0);
	background-image: url($image-path);
	vertical-align: middle;
}

.icon-jobfair {
	@include icon-inblock (49px, 49px, -206px 0);
	background-image: url($image-path);
	vertical-align: middle;
}

.icon-phone {
	@include icon-inblock (19px, 27px, 0 -56px);
	background-image: url($image-path);
	vertical-align: middle;
}

.icon-email {
	@include icon-inblock (27px, 26px, -26px -57px);
	background-image: url($image-path);
	vertical-align: middle;
}

.icon-linkedin {
	@include icon-inblock (20px, 19px, -63px -57px);
	background-image: url($image-path);
	vertical-align: middle;
}

.icon-fb {
	@include icon-inblock (10px, 18px, -90px -59px);
	background-image: url($image-path);
	vertical-align: middle;
}

.icon-twitter {
	@include icon-inblock (12px, 17px, -109px -59px);
	background-image: url($image-path);
	vertical-align: middle;
}

.icon-view {
	@include icon-inblock (19px, 11px, -81px -39px);
	background-image: url($image-path);
	vertical-align: middle;
}

.icon-forward {
	@include icon-inblock (21px, 18px, -85px -21px);
	background-image: url($image-path);
	vertical-align: middle;
}

.icon-linkedin-social {
	@include icon-inblock (52px, 35px, -296px -54px);
	background-image: url($image-path);
	vertical-align: middle;
	border: 1px solid #3aa9de;
	text-align: center;
}

.icon-fb-social {
	@include icon-inblock (52px, 35px, -124px -54px);
	@include border-radius (2px);
	background-image: url($image-path);
	vertical-align: middle;
	border: 1px solid #3b5896;
	text-align: center;
}

.icon-twitter-social {
	@include icon-inblock (52px, 35px, -163px -54px);
	@include border-radius (2px);
	background-image: url($image-path);
	vertical-align: middle;
	border: 1px solid #3aa9de;
	text-align: center;
}

.icon-whatsapp-social {
	@include icon-inblock (52px, 35px, -255px -54px);
	@include border-radius (2px);
	background-image: url($image-path);
	vertical-align: middle;
	border: 1px solid #44c455;
	text-align: center;
}

.icon-gplus-social {
	@include icon-inblock (52px, 35px, -212px -54px);
	@include border-radius (2px);
	background-image: url($image-path);
	vertical-align: middle;
	border: 1px solid #d14635;
	text-align: center;
}

.icon-comment-detail {
	@include icon-inblock (15px, 13px, -349px -51px);
	background-image: url($image-path);
	vertical-align: middle;
}

.icon-view-detail {
	@include icon-inblock (18px, 10px, -349px -70px);
	background-image: url($image-path);
	vertical-align: middle;
	margin-right: 5px;
}

.icon-forward-detail {
	@include icon-inblock (14px, 11px, -369px -51px);
	background-image: url($image-path);
	vertical-align: middle;
}

.icon-comments {
	@include icon-inblock (23px, 19px, -389px -50px);
	background-image: url($image-path);
	vertical-align: middle;
	margin-right: 5px;
}

.icon-conclave1 {
	@include icon-inblock (33px, 32px, -136px -91px);
	background-image: url($image-path);
	vertical-align: middle;
	margin-right: 5px;
}

.icon-conclave2 {
	@include icon-inblock (33px, 32px, -176px -91px);
	background-image: url($image-path);
	vertical-align: middle;
	margin-right: 5px;
}

.icon-conclave3 {
	@include icon-inblock (31px, 33px, -216px -91px);
	background-image: url($image-path);
	vertical-align: middle;
	margin-right: 5px;
}


.header-carousel-box {
	@extend %gutter-space;
	background: #f0f0f0;
	padding-top: 25px;
	padding-bottom: 25px;
	position: relative;

	.carousel {
		position: static;
	}

	.carousel-inner {
		height: 315px;

		.carousel-item {
			img {
				margin-top: -10%;
				width: 100%;
				height: auto;
				position: relative;
			}
		}
	}

	.carousel-control-prev-icon {
		background: $sprite -335px 0;
		width: 41px;
		height: 41px;
		display: inline-block;
	}

	.carousel-control-prev,
	.carousel-control-next {
		width: 41px;
	}

	.carousel-control-next-icon {
		background: $sprite -380px 0;
		width: 41px;
		height: 41px;
		display: inline-block;
	}
}

.home-slide {
	.slide1 {
		a {
			display: block;
		}

		figure {
			height: 325px;
			position: relative;
			overflow: hidden;
		}

		figcaption {
			@extend %gradient-black;
			position: absolute;
			left: 0;
			right: 0;
			bottom: 0;
			z-index: 9;
			padding: 20px 30px;
			height: 100px;

			strong {
				font-size: $font-size+13;
				color: $white;
				display: block;
				line-height: 27px;
			}				
		}
	}

	.slide2 {
		margin-top: 15px;
		position: relative;

			&:first-child {
				margin-top: 0;
			}

			a {
				display: block;
			}

			figure {
				height: 152px;
				position: relative;
				overflow: hidden;
			}

		figcaption {
			@extend %gradient-black;
			position: absolute;
			left: 0;
			right: 0;
			bottom: 0;
			z-index: 9;
			padding: 10px;
			height: 60px;

			strong {
				font-size: $font-size+6;
				color: $white;
				display: block;
				line-height: 20px;
				font-weight: $font-weight+100;
			}				
		}
	}

		.caption {
			@include border-radius (10px);
			background: rgba(0, 0, 0, .7);
			font-size: $font-size;
			padding: 6px 10px;
			display: none;
			line-height: 9px;
			font-weight: $font-weight+200;
			text-transform: uppercase;
			color: $white;
			margin-bottom: 10px;
		}			

}

.conclave-slide {
	figure {
		position: relative;
	}

	.overlay {
		@extend %gradient;
		position: absolute;
		left: 0;
		right: 0;
		top: 0;
		bottom: 0;
		opacity: 0.7;
		z-index: 9;
	}

	.conclave-slide-content {
		position: absolute;
		left: 5%;
		right: 0;
		top: 12%;
		bottom: 0;
		z-index: 99;

		strong {
			font-size: $font-size+25;
			color: $white;
			display: block;
			margin-bottom: 15px;
			font-weight: $font-weight+200;
		}

		.caption {
			@include border-radius (10px);
			background: rgba(0, 0, 0, .7);
			font-size: $font-size;
			padding: 6px 10px;
			display: table;
			line-height: 9px;
			font-weight: $font-weight+200;
			text-transform: uppercase;
			color: $white;
			margin-bottom: 10px;
		}

		img {
			width: auto !important;
		}

		.sub-text {
			font-size: $font-size+7;
			color: $white;

			.icon-conclave1 {
				display: table-cell;
			}

			p {
				margin: 0;
				padding: 0 0 0 10px;
				font-size: $font-size+3;
				display: table-cell;

				b {
					font-weight: $font-weight+200;
					display: inline;
				}
			}
		}

		.conclave-img {
			padding: 30px 20px 0 0;
		}
	}		
}


/*breadcrumb*/
.breadcrumb-box {
	@extend %gutter-space;
	margin-top: 10px;

	nav {
		background: none;

		.breadcrumb {
			background: none;
			padding: 0;
			margin-bottom: 5px;
			font-size: $font-size+1;
			color: $grey-color;

			a {
				color: $grey-color;
			}

			li {
				&.active {
					color: $grey-color;
				}
			}
		}
	}
}

/*listing box*/
.listing-box {
	@extend %gutter-space;

	h1 {
		margin: 30px 0;
	}
}

.listing {
	display: inline-block;

	.box-panel {
		@extend %box-shadow;
		overflow: hidden;
		padding-bottom: 15px;
		margin-bottom: 30px; 
	}

	figure {
		display: block;
		position: relative;
		height: 210px;
		overflow: hidden;

		i {
			img {
				width: 100%;
				margin-top: -5%;
			}
		}

		figcaption {
			@include border-radius (10px);
			background: rgba(0, 0, 0, .5);
			font-size: $font-size;
			padding: 6px 10px;
			display: table;
			line-height: 9px;
			font-weight: $font-weight+200;
			text-transform: uppercase;
			color: $white;
			position: absolute;
			top: 10px;
			right: 10px;
		}
	}

	h3, h2 {
		margin: 15px 10px;
		text-align: center;
		height: 40px;
	}

	article {
		font-size: $font-size+2;
		color: $grey-color;
		text-align: center;
		margin: 15px 10px;
	}

	.author {
		text-align: center;
		display: block;
		i {
			img {
				width: 20px;
				height: 20px;
				@include border-radius (100%);
				margin-right: 5px;
			}
		}

		strong {
			font-size: $font-size+3;
			color: $grey-color;
			font-weight: $font-weight+200;
			display: inline-block;
		}
	}

	.view-forward {
		@extend %gradient-black;
		position: absolute;
		bottom: 0;
		left: 0;
		right: 0;
		height: 80px;
		padding: 50px 10px 0 0;
		text-align: right;
		color: $white;
	}
}

/*author carousel*/
.author-carousel-box {
	background: #f8fbff;
	padding: 57px 57px 37px 57px;
	position: relative;

	h2 {
		margin: 0 0 30px 0;
	}

	.carousel {
		position: static;
	}

	.carousel-control-prev-icon {
		background: $sprite -430px 0;
		width: 30px;
		height: 30px;
		display: inline-block;
	}

	.carousel-control-prev,
	.carousel-control-next {
		width: 30px;
	}

	.carousel-control-next-icon {
		background: $sprite -466px 0;
		width: 30px;
		height: 30px;
		display: inline-block;
	}
}

.author-carousel {
	display: inline-block;

	.box-panel {
		@extend %box-shadow;
		overflow: hidden;
		padding-bottom: 15px;
		margin-bottom: 30px;
		display: block;
	}

	figure {
		display: block;

		i {
			height: 165px;
			overflow: hidden;
			display: block;

			img {
				width: 100%;
				margin: 0 auto;
			}
		}

		figcaption {
			display: block;

			.author-info {
				text-align: center;
				margin: 5px;
				font-weight: $font-weight+100;
				display: block;

				&-primary {
					font-size: $font-size+5;
					color: $secondary-color;
					margin-top: 15px;
					height: 35px;
					overflow: hidden;
					line-height: 17px;
				} 

				&-secondary {
					font-size: $font-size+2;
					color: $grey-color;
				}
			}
		}
	}
}

footer {
	font-size: $font-size+6;
	color: $primary-color;

	.footer {
		padding: 47px 57px 0 57px;

		.contact-footer {
			margin-bottom: 20px;

			article {
				display: block;
				margin-bottom: 10px;
			}

			a {
				font-size: $font-size+13;
				margin-right: 15px;

				i {
					margin-right: 10px;
				}
			}
		}

		.follow-us {
			border-left: 1px solid $border-color;
			article {
				margin-left: 10px;
			}
			a {
				margin: 15px 5px 0 10px;
			}
		}
	}

	.footer-links {
		border-top: 1px solid $border-color;
		padding: 20px 57px 20px 57px;
		margin-top: 20px;
		display: block;
		font-size: $font-size+4;

		a {
			margin-right: 20px;
			color: $primary-color;
		}
	}
}

.hide {
	display: none !important;
}

.load-button {
	padding: 10px 20px;
	font-size: $font-size+4;
	color: $anchor-color;
	border: 1px solid $blue-color;
	display: table;
	border-radius: 2px;
	background-color: $white-color;
	margin: 0 auto;
	text-align: center;
	cursor: pointer;

	&:hover, &:focus {
		background-color: $white-color;
		border: 1px solid $blue-color;;
		color: $anchor-color;
		cursor: pointer;
	}
}

.icon-load {
	width: 24px;
	height: 25px;
	background: $sprite -301px -93px;
	display: inline-block;
	vertical-align: sub;
}

.mr-10{
	margin-right: 10px;
}

.input-button-search{
    display: flex;
    align-items: center;
    padding: 0.375rem 0.75rem;
    margin-bottom: 0;
    font-size: 1rem;
    font-weight: 400;
    line-height: 1.5;
    color: #fff;
    text-align: center;
    white-space: nowrap;
    background-color: #3f51b5;
    border: 1px solid #3f51b5;
    border-radius: 0.25rem;
}

/* conclave slides*/ 

.conclave_head_slide {

    @extend %gradient;
    @extend %gutter-space;
    padding-top: 20px;
    color: $white-color !important;

    a {
    	color: $white-color !important;
    }

    h1 {

        font-size: 40px;
        font-weight: $font-weight+200;
    }

    .event_speakers_slide {
        font-size: $font-size + 3;


        &:before {

            width: 29px;
            height: 40px;
            background-image: url($image-path);
            background-position: -3px -89px;
            content: '';
            display: inline-block;
            vertical-align: middle;
        }

        &:after {
            border-bottom: solid 1px $white-color;
            content: '';
            vertical-align: middle;
            opacity: .2;
            width: 85%;
            float: right;
            margin: 20px 12px 0 5px;
        }
    }

    .speakers_slide {
        margin: 25px 0 45px;

        strong {
            font-size: $font-size +7;
            font-weight: $font-weight + 100;
        }
        em {
            display: block;
            font-style: normal;
             color: $lightgrey;
            line-height: 12px;
        }

        img {
            display: block;
            border-radius: 100%;
            border: solid 1px $blue-color;
            box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.1);
            width: 88px !important;
            height: 88px !important;
        }
    }
    .conclave-img-slide {
		width: 110px !important;
		height: 86px !important;
		margin-top: 0 !important;
	}

	.primary-heading {
		color: $white-color;
	}
}
