@import '../../../../../styles/functions';
@import '../../../../../styles/variables';
@import '../../../../../styles/mixins';


.db-breadcrumb {
    font-size: 1.2rem;
    display: flex;
    flex-wrap: wrap;
    margin: 1.5rem 0 2rem 0;
    padding: 0.75rem 0;
    margin-bottom: 1rem;

    &-item {
        display: flex;
        align-items: center;

        +&-item {
            padding-left: 5px;
        }

        &:not(:last-child) {
            &::after {
                content: '';
                width: 3px;
                height: 5px;
                background: $spriteDb;
                background-position: 0 0;
                margin-left: 5px;
                display: block;
                position: relative;
                top: 0;
            }
        }
    }
}

.db-breadcrumb-item + .db-breadcrumb-item {
    padding-left: 0.7rem;
}

.db-filter-by {
    display: flex;
    align-items: center;
    font-size: 1.3rem;

    .form-control {
        height: 30px;
        font-size: 1.2rem;
        color: $gray-200;
        line-height: 1;
        padding: 5px 20px 5px 5px;
        border-color: #D7E8F8;
        box-shadow: inset 0 1px 3px rgba($black, 0.08);
        appearance: none;
        background-image: url('/media/images/drop-down.png');
        background-repeat: no-repeat;
        background-position: 94% 12px;
    }
}