// New CSS for input group using felx
// $static-url: get('staticUrl');
// $path: $static-url + "score-checker/images";

.form-group {
    margin-bottom: 30px;
    position: relative;
}

.form--control {
  @include border-radius(4px);
  @include appearance(none);
  @include size(100%, 48px, flex);
  background-color: $white;
  font-family: $font-family;
  border: 1px solid #c1c1c1;
  color: $gray-medium;
  font-size: $font-base;
  line-height: 1.42857;
  padding: 6px 12px;
  transition: border-color 0.15s ease-in-out 0s, box-shadow 0.15s ease-in-out 0s;
  flex: 1;
  
    &::-moz-placeholder {
      color: $gray-medium;
      opacity: 1;
    }
  }


  select {
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    width: 100%;
    height: 40px;
    background: url('#{$path}/dropdown.svg');
    background-color: #fff;
    background-position: 96% 5px;
    background-repeat: no-repeat;
    border: 1px solid #c1c1c1;
    color: #999;
    font-family: "Open Sans",sans-serif;
    font-size: 12px;
    outline: 0;
    padding: 6px 30px 6px 6px;
    text-align: left;
    transition: all .3s ease;
  }