
  // Icons Starts here 
//   $static-url: get('staticUrl');
//   $path: $static-url + "score-checker/images";

  .sprite {
    background-image: url('#{$path}/sprite.png');
    background-repeat:  no-repeat;
}

.upload {
    @include icon-block (14px, 19px, 0 0);
}

.export {
    @include icon-block (14px, 18px, -18px 0);
}

.layout-resume {
    @include icon-inblock (43px, 63px, 0 -22px);
}

.tips {
    @include icon-inblock (52px, 63px, 0 -88px);
}

.review-score {
    @include icon-inblock (46px, 63px, 0px -160px);
}

.expert-guidance {
    @include icon-inblock (45px, 63px, 0px -224px);
}

.upload-resume {
    @include icon-inblock (19px, 27px, 0 -308px);
}

.fb-black {
    @include icon-inblock (13px, 24px, -71px 0px);
}

.linledin-black{
    @include icon-inblock (25px, 24px, -59px -28px);
}

.tw-black {
    @include icon-inblock (20px, 24px, -58px -56px);
}

.green-tick {
    @include icon-inblock (14px, 11px, -28px -310px);
}

.question-mark {
    @include icon-inblock (13px, 20px, -27px -383px);
}

.caution-mark {
    @include icon-inblock (6px, 20px, 0 -416px);
}

.back-icon {
    @include icon-inblock (22px, 17px, -62px -158px);
}
.resume-analysis {
    @include size(27px, 27px);
    background-position: 0 -341px;
}

.get-resume {
    @include size(20px, 27px);
    background-position: 0 -380px;
}

.clip {
    @include icon-inblock (7px, 15px, -33px -328px);
    position: relative;
    margin-right: 5px;
    top: 2px;
}

.icon-home {
    @include icon-inblock (18px, 20px, -66px -180px);
    position: relative;
    top: -2px;
}

.icon-courses {
    @include icon-inblock (18px, 21px, -66px -204px);
    position: relative;
    top: -2px;
}

.job-assistance {
    @include icon-inblock (18px, 18px, -66px -227px);
    position: relative;
    top: 0;
}

.practice-tests {
    @include icon-inblock (16px, 20px, -68px -275px);
    position: relative;
    top: -2px;
}

.free-resources {
    @include icon-inblock (21px, 20px, -63px -298px);
    position: relative;
    top: -1px;
}

.blog {
    @include icon-inblock (22px, 21px, -62px -250px);
    position: relative;
    top: 0;
}