@import '../../common/checkbox.scss';
@import '../../components/buttons';
@import '../../components/popup';
@import '../../components/bullet';

// COMPONENTS
@import'../components/feature_test';



.test-result {
    background-color: #4377C5;
    border-radius: 5px;
    box-shadow: $box-shadow;
    margin-top: 20px;
    padding: 15px 30px 30px;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-content: center;

    h2 {
        color: $txt-white;
        text-align: center;
        font-size: 26px;
        line-height: 30px;
        font-weight: 400;
    }

    &__you-scored {
        background-color: $bg-white;
        padding: 15px;
        text-align: center;
        box-shadow: $box-shadow-2; 
        border-radius: 5px;

        &--text {
            text-transform: uppercase;
            color: $txt-grey-999;
            font-size: $font-size-base;
            padding-bottom: 0;
        }

        &--percentage {
            font-size: 46px;
            color: $bg-yellow;
            margin: 15px 0 15px 0;
            padding-bottom: 0;
            line-height: 40px;
        }
    }

    &--time-taken {
        color: $txt-white;
        text-align: center;
        padding-top: 15px;
        font-size: $font-size-14;
    }
}

.test-answers {
    @extend %white-box;

    ol {
        padding-left: 15px;
        margin-top: 30px;

        li {
            list-style: decimal;
            font-weight: 600;
            font-size: $font-size-md;

            &:not(:last-child) {
                margin-bottom: 30px;
            }

            ul {
                margin-top: 15px;
                margin-left: 5px;

                li {
                    list-style: none;
                    font-weight: 400;
                    color: $txt-grey-666;
                    font-size: $font-size-14;
                    position: relative;

                    &:not(:last-child) {
                        margin-bottom: 15px;
                    }

                    span {
                        display: block;
                        position: absolute;
                        left: -18px;
                        top: 4px;
                    }
                }
            }
        }
    }
}

.check-result {
    @extend %white-box;
    position: relative;

    ul {
        li {
            position: relative;

            &:not(:last-child) {
                margin-bottom: 20px;
            }

            .form-control {
                background:transparent;
                border-radius: 5px;

                &:-internal-autofill-selected {
                    background-color: transparent;
                }

                &:focus {
                    border: 2px solid $blue;
                }
            }
        }
    }

    .error-message {
        position: absolute;
        right: 15px;
        top: 10px;
        font-size: 12px;
    }
}


.form-control ~ label{
    position: absolute; 
    left: 14px;
    top: 10px; 
    color: #aaa; 
    transition: 0.3s;
}

.form-control:focus ~ label, 
.has-content.form-control ~ label {
    top: -10px; 
    left: 15px; 
    font-size: 12px; 
    padding: 0px 5px;
    background-color: $bg-white;
    color: $txt-blue; 
    transition: 0.3s;
}

.has-content.form-control {
    border: 2px solid $bg-blue;
}


.improve-skills {
    @extend %white-box;
    border-bottom: 5px solid $blue;

    h2 {
        font-size: $font-size-lg - .1;
        box-shadow: 0 0 10px $box-shadow-2;
        border-bottom: 1px solid $border-grey-c1;
        margin-bottom: 15px;
        padding-bottom: 15px;
    }
}


.media-flex {
    display: flex;

    &--img {
        width: 150px;
        display: block;
    }
}