.test-option-box {
    @extend %white-box;
    position: relative;
    margin-top: 20px !important;

    &--test-wrap,
    &--cta {
        display: flex;
        justify-content: space-between;
        align-items: center;
    }

    &--content {
        span {
            color: $txt-grey-999;
            font-size: $font-size-xs;
        }

        p {
            padding-bottom: 0;
        }
    }

    &--cta {
        margin-top: 20px;

        strong {
            align-self: center;
        }

    }

    &--price {
        span {
            color: $txt-grey-999;
            font-size: $font-size-14;
            display: block;
            text-decoration: line-through;
        }

        strong {
            font-weight: $font-weight-medium;
            font-size: $font-size-lg + .2;
        }
    }

    &--recommended {
        position: absolute;
        right: 0;
        background-color: $yellow;
        top: 10px;
        color: $txt-black;
        text-transform: uppercase;
        padding-right: 10px;
        padding-left: 9px;
        font-size: 0.613rem;
        font-weight: 600;

        &::before {
            content: '';
            width: 0;
            height: 0;
            border-style: solid;
            border-width: 0 20px 20px 0;
            border-color: transparent $yellow transparent transparent;

            position: absolute;
            left: -10px;
        }

        &::after {
            content: '';
            width: 0;
            height: 0;
            border-style: solid;
            border-width: 0 0 10px 10px;
            border-color: transparent transparent $yellow transparent;
            position: absolute;
            left: -10px;
            bottom: 0;
        }
    }
}