<!DOCTYPE html>
<html lang="en">
  <head>
    <title>Category Page</title>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags -->	
    <!-- Bootstrap -->
    <link href="css/bootstrap.css" rel="stylesheet">
    <link href="css/category.css" rel="stylesheet">
    <link rel="preconnect" href="https://fonts.gstatic.com/" crossorigin>
    <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Open+Sans&display=swap" media="print" onload="this.media='all'"> 
    <!-- HTML5 shim and Respond.js for IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
      <script src="https://oss.maxcdn.com/html5shiv/3.7.2/html5shiv.min.js"></script>
      <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
    <![endif]-->
</head>  <body>

  	
         	<header>
                    <div class="container-fluid">
                        <div class="row rel">
                        <a href="#" class="cp_logo"></a>
                        <img src="images/cp-header.jpg" alt="" class="img-fluid cp_img">
                            <div class="col-sm-12 cpheader">
                                <strong>India's largest e learning platform</strong>
                                Join the club of 4mn learners with <h1>our partners</h1> like Skillsoft, ACCA etc
                                <a href="#">Why you should you buy?</a>
                            </div>
                        </div>
                    </div>
                </header>
    


<!-- Courses and Certifications  -->

<div class="container">
<div class="row">

<div class="courses_box">
<h2>Courses and Certifications</h2>
<div class="panel" id="accordion" role="tablist" aria-multiselectable="true">

<!-- courses 1 -->
  <div class="panel col-sm-3" role="tab" id="headingOne">
        <a class="cc_box" data-toggle="collapse" data-parent="#accordion" href="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
        <span class="ccbgcol bgcol1">
            <span class="cc_logo1"></span>
        </span>
        <span class="cc_heading"><strong>Finance</strong></span>
        </a>
  </div>

<!-- courses 2 -->
  <div class="panel col-sm-3" role="tab" id="headingTwo">
           <a class="cc_box collapsed" data-toggle="collapse" data-parent="#accordion" href="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo">
        <span class="ccbgcol bgcol2">
            <span class="cc_logo2"></span>
        </span>
        <span class="cc_heading"><strong>Certifications</strong></span>
        </a>
  </div>

<!-- courses 3 -->
  <div class="panel col-sm-3" role="tab" id="headingThree">
        <a class="cc_box" data-toggle="collapse" data-parent="#accordion" href="#collapseThree" aria-expanded="true" aria-controls="collapseThree">
        <span class="ccbgcol bgcol3">
            <span class="cc_logo3"></span>
        </span>
        <span class="cc_heading"><strong>Finance</strong></span>
        </a>
  </div>

<!-- courses 4 -->
 <div class="panel col-sm-3" role="tab" id="headingFour">
        <a class="cc_box" data-toggle="collapse" data-parent="#accordion" href="#collapseFour" aria-expanded="true" aria-controls="collapseFour">
        <span class="ccbgcol bgcol4">
            <span class="cc_logo4"></span>
        </span>
        <span class="cc_heading"><strong>Finance</strong></span>
        </a>
  </div>


<!-- courses 1 box -->
<div id="collapseOne" class="panel-collapse collapse col-md-12 course_nav arrow1" role="tabpanel" aria-labelledby="headingOne">
  <!-- tabs nav -->
  <ul class="nav nav-tabs col-md-5 col-lg-4 col-xl-3" role="tablist">
    <li class="nav-item">
      <a class="nav-link" data-toggle="tab" href="#nav1_1" role="tab">GetCertGo certifications</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" data-toggle="tab" href="#nav1_2" role="tab">AON Hewitt HR certifications</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" data-toggle="tab" href="#nav1_3" role="tab">Govt of India- Vskills certification</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" data-toggle="tab" href="#nav1_4" role="tab">ICFL Training Programs</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" data-toggle="tab" href="#nav1_5" role="tab">ICFL Training Programs</a>
    </li>
  </ul><!-- / tabs nav -->
  <!-- Tabs nav panes -->
  <div class="tab-content col-md-7 col-lg-8 col-xl-9">
    <div class="tab-pane active" id="nav1_1" role="tabpanel">
        <strong>Online Couses</strong>
        <a href="#">AON Hewitt HR certifications</a>
        <a href="#">ICFL Training Programs</a>
        <a href="#">Classroom Training for ACCA IFRS from Gold approved Learning Provider</a>
        <a href="#">Govt of India- Vskills certification</a>
        <a href="#" class="viewall">View all courses</a>

        <strong class="mt15">Online Couses</strong>
        <a href="#">ICFL Training Programs</a>
        <a href="#">AON Hewitt HR certifications</a>
        <a href="#">Classroom Training for ACCA IFRS from Gold approved Learning Provider</a>
        <a href="#">Govt of India- Vskills certification</a>
        <a href="#" class="viewall">View all courses</a>
    </div>

    <div class="tab-pane" id="nav1_2" role="tabpanel">
        <strong>Online Couses</strong>
        <a href="#">ICFL Training Programs</a>
        <a href="#">AON Hewitt HR certifications</a>
        <a href="#">Classroom Training for ACCA IFRS from Gold approved Learning Provider</a>
        <a href="#">Govt of India- Vskills certification</a>
        <a href="#" class="viewall">View all courses</a>

        <strong class="mt15">Online Couses</strong>
        <a href="#">AON Hewitt HR certifications</a>
        <a href="#">ICFL Training Programs</a>
        <a href="#">Govt of India- Vskills certification</a>
        <a href="#" class="viewall">View all courses</a>
    </div>
    <div class="tab-pane" id="nav1_3" role="tabpanel">
        <strong>Online Couses</strong>
        <a href="#">Classroom Training for ACCA IFRS from Gold approved Learning Provider</a>
        <a href="#">AON Hewitt HR certifications</a>
        <a href="#">ICFL Training Programs</a>
        <a href="#">Govt of India- Vskills certification</a>
        <a href="#" class="viewall">View all courses</a>

        <strong class="mt15">Online Couses</strong>
        <a href="#">AON Hewitt HR certifications</a>
        <a href="#">ICFL Training Programs</a>
        <a href="#">Classroom Training for ACCA IFRS from Gold approved Learning Provider</a>
        <a href="#">Govt of India- Vskills certification</a>
        <a href="#" class="viewall">View all courses</a>
    </div>
    <div class="tab-pane" id="nav1_4" role="tabpanel">
        <strong>Online Couses</strong>
        <a href="#">Govt of India- Vskills certification</a>
        <a href="#">AON Hewitt HR certifications</a>
        <a href="#">ICFL Training Programs</a>
        <a href="#">Classroom Training for ACCA IFRS from Gold approved Learning Provider</a>
        <a href="#" class="viewall">View all courses</a>

        <strong class="mt15">Online Couses</strong>
        <a href="#">AON Hewitt HR certifications</a>
        <a href="#">ICFL Training Programs</a>
        <a href="#">Classroom Training for ACCA IFRS from Gold approved Learning Provider</a>
        <a href="#">Govt of India- Vskills certification</a>
        <a href="#" class="viewall">View all courses</a>
    </div>
    <div class="tab-pane" id="nav1_5" role="tabpanel">
        <strong>Online Couses</strong>
        <a href="#">AON Hewitt HR certifications</a>
        <a href="#">ICFL Training Programs</a>
        <a href="#">Classroom Training for ACCA IFRS from Gold approved Learning Provider</a>
        <a href="#">Govt of India- Vskills certification</a>
        <a href="#" class="viewall">View all courses</a>

        <strong class="mt15">Online Couses</strong>
        <a href="#">AON Hewitt HR certifications</a>
        <a href="#">ICFL Training Programs</a>
        <a href="#">Classroom Training for ACCA IFRS from Gold approved Learning Provider</a>
        <a href="#">Govt of India- Vskills certification</a>
        <a href="#" class="viewall">View all courses</a>
    </div>
  </div><!-- / Tabs nav panes -->
</div><!-- / courses 1 box -->

<!-- courses 2 box -->
        <div id="collapseTwo" class="panel-collapse collapse col-sm-12 course_nav arrow2" role="tabpanel" aria-labelledby="headingTwo">
      <!-- tabs nav -->
<ul class="nav nav-tabs col-md-5 col-lg-4 col-xl-3" role="tablist">
  <li class="nav-item">
    <a class="nav-link" data-toggle="tab" href="#nav2_1" role="tab">GetCertGo certifications</a>
  </li>
  <li class="nav-item">
    <a class="nav-link" data-toggle="tab" href="#nav2_2" role="tab">AON Hewitt HR certifications</a>
  </li>
  <li class="nav-item">
    <a class="nav-link" data-toggle="tab" href="#nav2_3" role="tab">Govt of India- Vskills certification</a>
  </li>
  <li class="nav-item">
    <a class="nav-link" data-toggle="tab" href="#nav2_4" role="tab">ICFL Training Programs</a>
  </li>
  <li class="nav-item">
    <a class="nav-link" data-toggle="tab" href="#nav2_5" role="tab">ICFL Training Programs</a>
  </li>
</ul>

<!-- Tabs nav panes -->
<div class="tab-content col-md-7 col-lg-8 col-xl-9">
  <div class="tab-pane active" id="nav2_1" role="tabpanel">
      <strong>Online Couses</strong>
      <a href="#">AON Hewitt HR certifications</a>
      <a href="#">ICFL Training Programs</a>
      <a href="#">Classroom Training for ACCA IFRS from Gold approved Learning Provider</a>
      <a href="#">Govt of India- Vskills certification</a>
      <a href="#" class="viewall">View all courses</a>

      <strong class="mt15">Online Couses</strong>
      <a href="#">ICFL Training Programs</a>
      <a href="#">AON Hewitt HR certifications</a>
      <a href="#">Classroom Training for ACCA IFRS from Gold approved Learning Provider</a>
      <a href="#">Govt of India- Vskills certification</a>
      <a href="#" class="viewall">View all courses</a>
  </div>

  <div class="tab-pane" id="nav2_2" role="tabpanel">
      <strong>Online Couses</strong>
      <a href="#">ICFL Training Programs</a>
      <a href="#">AON Hewitt HR certifications</a>
      <a href="#">Classroom Training for ACCA IFRS from Gold approved Learning Provider</a>
      <a href="#">Govt of India- Vskills certification</a>
      <a href="#" class="viewall">View all courses</a>

      <strong class="mt15">Online Couses</strong>
      <a href="#">AON Hewitt HR certifications</a>
      <a href="#">ICFL Training Programs</a>
      <a href="#">Govt of India- Vskills certification</a>
      <a href="#" class="viewall">View all courses</a>
  </div>
  <div class="tab-pane" id="nav2_3" role="tabpanel">
      <strong>Online Couses</strong>
      <a href="#">Classroom Training for ACCA IFRS from Gold approved Learning Provider</a>
      <a href="#">AON Hewitt HR certifications</a>
      <a href="#">ICFL Training Programs</a>
      <a href="#">Govt of India- Vskills certification</a>
      <a href="#" class="viewall">View all courses</a>

      <strong class="mt15">Online Couses</strong>
      <a href="#">AON Hewitt HR certifications</a>
      <a href="#">ICFL Training Programs</a>
      <a href="#">Classroom Training for ACCA IFRS from Gold approved Learning Provider</a>
      <a href="#">Govt of India- Vskills certification</a>
      <a href="#" class="viewall">View all courses</a>
  </div>
  <div class="tab-pane" id="nav2_4" role="tabpanel">
      <strong>Online Couses</strong>
      <a href="#">Govt of India- Vskills certification</a>
      <a href="#">AON Hewitt HR certifications</a>
      <a href="#">ICFL Training Programs</a>
      <a href="#">Classroom Training for ACCA IFRS from Gold approved Learning Provider</a>
      <a href="#" class="viewall">View all courses</a>

      <strong class="mt15">Online Couses</strong>
      <a href="#">AON Hewitt HR certifications</a>
      <a href="#">ICFL Training Programs</a>
      <a href="#">Classroom Training for ACCA IFRS from Gold approved Learning Provider</a>
      <a href="#">Govt of India- Vskills certification</a>
      <a href="#" class="viewall">View all courses</a>
  </div>
  <div class="tab-pane" id="nav2_5" role="tabpanel">
      <strong>Online Couses</strong>
      <a href="#">AON Hewitt HR certifications</a>
      <a href="#">ICFL Training Programs</a>
      <a href="#">Classroom Training for ACCA IFRS from Gold approved Learning Provider</a>
      <a href="#">Govt of India- Vskills certification</a>
      <a href="#" class="viewall">View all courses</a>

      <strong class="mt15">Online Couses</strong>
      <a href="#">AON Hewitt HR certifications</a>
      <a href="#">ICFL Training Programs</a>
      <a href="#">Classroom Training for ACCA IFRS from Gold approved Learning Provider</a>
      <a href="#">Govt of India- Vskills certification</a>
      <a href="#" class="viewall">View all courses</a>
  </div>
</div>
    </div>

<!-- courses 3 box -->
        <div id="collapseThree" class="panel-collapse collapse col-sm-12 course_nav arrow3" role="tabpanel" aria-labelledby="headingThree">
      <!-- tabs nav -->
<ul class="nav nav-tabs col-md-5 col-lg-4 col-xl-3" role="tablist">
  <li class="nav-item">
    <a class="nav-link" data-toggle="tab" href="#nav3_1" role="tab">GetCertGo certifications</a>
  </li>
  <li class="nav-item">
    <a class="nav-link" data-toggle="tab" href="#nav3_2" role="tab">AON Hewitt HR certifications</a>
  </li>
  <li class="nav-item">
    <a class="nav-link" data-toggle="tab" href="#nav3_3" role="tab">Govt of India- Vskills certification</a>
  </li>
  <li class="nav-item">
    <a class="nav-link" data-toggle="tab" href="#nav3_4" role="tab">ICFL Training Programs</a>
  </li>
  <li class="nav-item">
    <a class="nav-link" data-toggle="tab" href="#nav3_5" role="tab">ICFL Training Programs</a>
  </li>
</ul>

<!-- Tabs nav panes -->
<div class="tab-content col-md-7 col-lg-8 col-xl-9">
  <div class="tab-pane active" id="nav3_1" role="tabpanel">
      <strong>Online Couses</strong>
      <a href="#">AON Hewitt HR certifications</a>
      <a href="#">ICFL Training Programs</a>
      <a href="#">Classroom Training for ACCA IFRS from Gold approved Learning Provider</a>
      <a href="#">Govt of India- Vskills certification</a>
      <a href="#" class="viewall">View all courses</a>

      <strong class="mt15">Online Couses</strong>
      <a href="#">ICFL Training Programs</a>
      <a href="#">AON Hewitt HR certifications</a>
      <a href="#">Classroom Training for ACCA IFRS from Gold approved Learning Provider</a>
      <a href="#">Govt of India- Vskills certification</a>
      <a href="#" class="viewall">View all courses</a>
  </div>

  <div class="tab-pane" id="nav3_2" role="tabpanel">
      <strong>Online Couses</strong>
      <a href="#">ICFL Training Programs</a>
      <a href="#">AON Hewitt HR certifications</a>
      <a href="#">Classroom Training for ACCA IFRS from Gold approved Learning Provider</a>
      <a href="#">Govt of India- Vskills certification</a>
      <a href="#" class="viewall">View all courses</a>

      <strong class="mt15">Online Couses</strong>
      <a href="#">AON Hewitt HR certifications</a>
      <a href="#">ICFL Training Programs</a>
      <a href="#">Govt of India- Vskills certification</a>
      <a href="#" class="viewall">View all courses</a>
  </div>
  <div class="tab-pane" id="nav3_3" role="tabpanel">
      <strong>Online Couses</strong>
      <a href="#">Classroom Training for ACCA IFRS from Gold approved Learning Provider</a>
      <a href="#">AON Hewitt HR certifications</a>
      <a href="#">ICFL Training Programs</a>
      <a href="#">Govt of India- Vskills certification</a>
      <a href="#" class="viewall">View all courses</a>

      <strong class="mt15">Online Couses</strong>
      <a href="#">AON Hewitt HR certifications</a>
      <a href="#">ICFL Training Programs</a>
      <a href="#">Classroom Training for ACCA IFRS from Gold approved Learning Provider</a>
      <a href="#">Govt of India- Vskills certification</a>
      <a href="#" class="viewall">View all courses</a>
  </div>
  <div class="tab-pane" id="nav3_4" role="tabpanel">
      <strong>Online Couses</strong>
      <a href="#">Govt of India- Vskills certification</a>
      <a href="#">AON Hewitt HR certifications</a>
      <a href="#">ICFL Training Programs</a>
      <a href="#">Classroom Training for ACCA IFRS from Gold approved Learning Provider</a>
      <a href="#" class="viewall">View all courses</a>

      <strong class="mt15">Online Couses</strong>
      <a href="#">AON Hewitt HR certifications</a>
      <a href="#">ICFL Training Programs</a>
      <a href="#">Classroom Training for ACCA IFRS from Gold approved Learning Provider</a>
      <a href="#">Govt of India- Vskills certification</a>
      <a href="#" class="viewall">View all courses</a>
  </div>
  <div class="tab-pane" id="nav3_5" role="tabpanel">
      <strong>Online Couses</strong>
      <a href="#">AON Hewitt HR certifications</a>
      <a href="#">ICFL Training Programs</a>
      <a href="#">Classroom Training for ACCA IFRS from Gold approved Learning Provider</a>
      <a href="#">Govt of India- Vskills certification</a>
      <a href="#" class="viewall">View all courses</a>

      <strong class="mt15">Online Couses</strong>
      <a href="#">AON Hewitt HR certifications</a>
      <a href="#">ICFL Training Programs</a>
      <a href="#">Classroom Training for ACCA IFRS from Gold approved Learning Provider</a>
      <a href="#">Govt of India- Vskills certification</a>
      <a href="#" class="viewall">View all courses</a>
  </div>
</div>
    </div>

<!-- courses 4 box -->
    <div id="collapseFour" class="panel-collapse collapse col-sm-12 course_nav arrow4" role="tabpanel" aria-labelledby="headingFour">
      <!-- tabs nav -->
<ul class="nav nav-tabs col-md-5 col-lg-4 col-xl-3" role="tablist">
  <li class="nav-item">
    <a class="nav-link" data-toggle="tab" href="#nav4_1" role="tab">GetCertGo certifications</a>
  </li>
  <li class="nav-item">
    <a class="nav-link" data-toggle="tab" href="#nav4_2" role="tab">AON Hewitt HR certifications</a>
  </li>
  <li class="nav-item">
    <a class="nav-link" data-toggle="tab" href="#nav4_3" role="tab">Govt of India- Vskills certification</a>
  </li>
  <li class="nav-item">
    <a class="nav-link" data-toggle="tab" href="#nav4_4" role="tab">ICFL Training Programs</a>
  </li>
  <li class="nav-item">
    <a class="nav-link" data-toggle="tab" href="#nav4_5" role="tab">ICFL Training Programs</a>
  </li>
</ul>

<!-- Tabs nav panes -->
<div class="tab-content col-md-7 col-lg-8 col-xl-9">
  <div class="tab-pane active" id="nav4_1" role="tabpanel">
      <strong>Online Couses</strong>
      <a href="#">AON Hewitt HR certifications</a>
      <a href="#">ICFL Training Programs</a>
      <a href="#">Classroom Training for ACCA IFRS from Gold approved Learning Provider</a>
      <a href="#">Govt of India- Vskills certification</a>
      <a href="#" class="viewall">View all courses</a>

      <strong class="mt15">Online Couses</strong>
      <a href="#">ICFL Training Programs</a>
      <a href="#">AON Hewitt HR certifications</a>
      <a href="#">Classroom Training for ACCA IFRS from Gold approved Learning Provider</a>
      <a href="#">Govt of India- Vskills certification</a>
      <a href="#" class="viewall">View all courses</a>
  </div>

  <div class="tab-pane" id="nav4_2" role="tabpanel">
      <strong>Online Couses</strong>
      <a href="#">ICFL Training Programs</a>
      <a href="#">AON Hewitt HR certifications</a>
      <a href="#">Classroom Training for ACCA IFRS from Gold approved Learning Provider</a>
      <a href="#">Govt of India- Vskills certification</a>
      <a href="#" class="viewall">View all courses</a>

      <strong class="mt15">Online Couses</strong>
      <a href="#">AON Hewitt HR certifications</a>
      <a href="#">ICFL Training Programs</a>
      <a href="#">Govt of India- Vskills certification</a>
      <a href="#" class="viewall">View all courses</a>
  </div>
  <div class="tab-pane" id="nav4_3" role="tabpanel">
      <strong>Online Couses</strong>
      <a href="#">Classroom Training for ACCA IFRS from Gold approved Learning Provider</a>
      <a href="#">AON Hewitt HR certifications</a>
      <a href="#">ICFL Training Programs</a>
      <a href="#">Govt of India- Vskills certification</a>
      <a href="#" class="viewall">View all courses</a>

      <strong class="mt15">Online Couses</strong>
      <a href="#">AON Hewitt HR certifications</a>
      <a href="#">ICFL Training Programs</a>
      <a href="#">Classroom Training for ACCA IFRS from Gold approved Learning Provider</a>
      <a href="#">Govt of India- Vskills certification</a>
      <a href="#" class="viewall">View all courses</a>
  </div>
  <div class="tab-pane" id="nav4_4" role="tabpanel">
      <strong>Online Couses</strong>
      <a href="#">Govt of India- Vskills certification</a>
      <a href="#">AON Hewitt HR certifications</a>
      <a href="#">ICFL Training Programs</a>
      <a href="#">Classroom Training for ACCA IFRS from Gold approved Learning Provider</a>
      <a href="#" class="viewall">View all courses</a>

      <strong class="mt15">Online Couses</strong>
      <a href="#">AON Hewitt HR certifications</a>
      <a href="#">ICFL Training Programs</a>
      <a href="#">Classroom Training for ACCA IFRS from Gold approved Learning Provider</a>
      <a href="#">Govt of India- Vskills certification</a>
      <a href="#" class="viewall">View all courses</a>
  </div>
  <div class="tab-pane" id="nav4_5" role="tabpanel">
      <strong>Online Couses</strong>
      <a href="#">AON Hewitt HR certifications</a>
      <a href="#">ICFL Training Programs</a>
      <a href="#">Classroom Training for ACCA IFRS from Gold approved Learning Provider</a>
      <a href="#">Govt of India- Vskills certification</a>
      <a href="#" class="viewall">View all courses</a>

      <strong class="mt15">Online Couses</strong>
      <a href="#">AON Hewitt HR certifications</a>
      <a href="#">ICFL Training Programs</a>
      <a href="#">Classroom Training for ACCA IFRS from Gold approved Learning Provider</a>
      <a href="#">Govt of India- Vskills certification</a>
      <a href="#" class="viewall">View all courses</a>
  </div>
</div>
    </div>

<!-- courses 5 -->
  <div class="panel col-sm-3" role="tab" id="headingFive">
        <a class="cc_box" data-toggle="collapse" data-parent="#accordion" href="#collapseFive" aria-expanded="true" aria-controls="collapseFive">
        <span class="ccbgcol bgcol5">
            <span class="cc_logo5"></span>
        </span>
        <span class="cc_heading"><strong>Finance</strong></span>
        </a>
  </div>

<!-- courses 6 -->
  <div class="panel col-sm-3" role="tab" id="headingSix">
           <a class="cc_box collapsed" data-toggle="collapse" data-parent="#accordion" href="#collapseSix" aria-expanded="false" aria-controls="collapseSix">
        <span class="ccbgcol bgcol6">
            <span class="cc_logo6"></span>
        </span>
        <span class="cc_heading"><strong>Certifications</strong></span>
        </a>
  </div>

<!-- courses 7 -->
  <div class="panel col-sm-3" role="tab" id="headingSeven">
        <a class="cc_box" data-toggle="collapse" data-parent="#accordion" href="#collapseSeven" aria-expanded="true" aria-controls="collapseSeven">
        <span class="ccbgcol bgcol7">
            <span class="cc_logo7"></span>
        </span>
        <span class="cc_heading"><strong>Finance</strong></span>
        </a>
  </div>

<!-- courses 8 -->
 <div class="panel col-sm-3" role="tab" id="headingEight">
        <a class="cc_box" data-toggle="collapse" data-parent="#accordion" href="#collapseEight" aria-expanded="true" aria-controls="collapseEight">
        <span class="ccbgcol bgcol8">
            <span class="cc_logo8"></span>
        </span>
        <span class="cc_heading"><strong>Finance</strong></span>
        </a>
  </div>


<!-- courses 5 box -->
<div id="collapseFive" class="panel-collapse collapse col-md-12 course_nav arrow1" role="tabpanel" aria-labelledby="headingFive">
      <!-- tabs nav -->
<ul class="nav nav-tabs col-md-5 col-lg-4 col-xl-3" role="tablist">
  <li class="nav-item">
    <a class="nav-link" data-toggle="tab" href="#nav5_1" role="tab">GetCertGo certifications</a>
  </li>
  <li class="nav-item">
    <a class="nav-link" data-toggle="tab" href="#nav5_2" role="tab">AON Hewitt HR certifications</a>
  </li>
  <li class="nav-item">
    <a class="nav-link" data-toggle="tab" href="#nav5_3" role="tab">Govt of India- Vskills certification</a>
  </li>
  <li class="nav-item">
    <a class="nav-link" data-toggle="tab" href="#nav5_4" role="tab">ICFL Training Programs</a>
  </li>
  <li class="nav-item">
    <a class="nav-link" data-toggle="tab" href="#nav5_5" role="tab">ICFL Training Programs</a>
  </li>
</ul>

<!-- Tabs nav panes -->
<div class="tab-content col-md-7 col-lg-8 col-xl-9">
  <div class="tab-pane active" id="nav5_1" role="tabpanel">
      <strong>Online Couses</strong>
      <a href="#">AON Hewitt HR certifications</a>
      <a href="#">ICFL Training Programs</a>
      <a href="#">Classroom Training for ACCA IFRS from Gold approved Learning Provider</a>
      <a href="#">Govt of India- Vskills certification</a>
      <a href="#" class="viewall">View all courses</a>

      <strong class="mt15">Online Couses</strong>
      <a href="#">ICFL Training Programs</a>
      <a href="#">AON Hewitt HR certifications</a>
      <a href="#">Classroom Training for ACCA IFRS from Gold approved Learning Provider</a>
      <a href="#">Govt of India- Vskills certification</a>
      <a href="#" class="viewall">View all courses</a>
  </div>

  <div class="tab-pane" id="nav5_2" role="tabpanel">
      <strong>Online Couses</strong>
      <a href="#">ICFL Training Programs</a>
      <a href="#">AON Hewitt HR certifications</a>
      <a href="#">Classroom Training for ACCA IFRS from Gold approved Learning Provider</a>
      <a href="#">Govt of India- Vskills certification</a>
      <a href="#" class="viewall">View all courses</a>

      <strong class="mt15">Online Couses</strong>
      <a href="#">AON Hewitt HR certifications</a>
      <a href="#">ICFL Training Programs</a>
      <a href="#">Govt of India- Vskills certification</a>
      <a href="#" class="viewall">View all courses</a>
  </div>
  <div class="tab-pane" id="nav5_3" role="tabpanel">
      <strong>Online Couses</strong>
      <a href="#">Classroom Training for ACCA IFRS from Gold approved Learning Provider</a>
      <a href="#">AON Hewitt HR certifications</a>
      <a href="#">ICFL Training Programs</a>
      <a href="#">Govt of India- Vskills certification</a>
      <a href="#" class="viewall">View all courses</a>

      <strong class="mt15">Online Couses</strong>
      <a href="#">AON Hewitt HR certifications</a>
      <a href="#">ICFL Training Programs</a>
      <a href="#">Classroom Training for ACCA IFRS from Gold approved Learning Provider</a>
      <a href="#">Govt of India- Vskills certification</a>
      <a href="#" class="viewall">View all courses</a>
  </div>
  <div class="tab-pane" id="nav5_4" role="tabpanel">
      <strong>Online Couses</strong>
      <a href="#">Govt of India- Vskills certification</a>
      <a href="#">AON Hewitt HR certifications</a>
      <a href="#">ICFL Training Programs</a>
      <a href="#">Classroom Training for ACCA IFRS from Gold approved Learning Provider</a>
      <a href="#" class="viewall">View all courses</a>

      <strong class="mt15">Online Couses</strong>
      <a href="#">AON Hewitt HR certifications</a>
      <a href="#">ICFL Training Programs</a>
      <a href="#">Classroom Training for ACCA IFRS from Gold approved Learning Provider</a>
      <a href="#">Govt of India- Vskills certification</a>
      <a href="#" class="viewall">View all courses</a>
  </div>
  <div class="tab-pane" id="nav5_5" role="tabpanel">
      <strong>Online Couses</strong>
      <a href="#">AON Hewitt HR certifications</a>
      <a href="#">ICFL Training Programs</a>
      <a href="#">Classroom Training for ACCA IFRS from Gold approved Learning Provider</a>
      <a href="#">Govt of India- Vskills certification</a>
      <a href="#" class="viewall">View all courses</a>

      <strong class="mt15">Online Couses</strong>
      <a href="#">AON Hewitt HR certifications</a>
      <a href="#">ICFL Training Programs</a>
      <a href="#">Classroom Training for ACCA IFRS from Gold approved Learning Provider</a>
      <a href="#">Govt of India- Vskills certification</a>
      <a href="#" class="viewall">View all courses</a>
  </div>
</div>
    </div>

<!-- courses 6 box -->
        <div id="collapseSix" class="panel-collapse collapse col-sm-12 course_nav arrow2" role="tabpanel" aria-labelledby="headingSix">
      <!-- tabs nav -->
<ul class="nav nav-tabs col-md-5 col-lg-4 col-xl-3" role="tablist">
  <li class="nav-item">
    <a class="nav-link" data-toggle="tab" href="#nav6_1" role="tab">GetCertGo certifications</a>
  </li>
  <li class="nav-item">
    <a class="nav-link" data-toggle="tab" href="#nav6_2" role="tab">AON Hewitt HR certifications</a>
  </li>
  <li class="nav-item">
    <a class="nav-link" data-toggle="tab" href="#nav6_3" role="tab">Govt of India- Vskills certification</a>
  </li>
  <li class="nav-item">
    <a class="nav-link" data-toggle="tab" href="#nav6_4" role="tab">ICFL Training Programs</a>
  </li>
  <li class="nav-item">
    <a class="nav-link" data-toggle="tab" href="#nav6_5" role="tab">ICFL Training Programs</a>
  </li>
</ul>

<!-- Tabs nav panes -->
<div class="tab-content col-md-7 col-lg-8 col-xl-9">
  <div class="tab-pane active" id="nav6_1" role="tabpanel">
      <strong>Online Couses</strong>
      <a href="#">AON Hewitt HR certifications</a>
      <a href="#">ICFL Training Programs</a>
      <a href="#">Classroom Training for ACCA IFRS from Gold approved Learning Provider</a>
      <a href="#">Govt of India- Vskills certification</a>
      <a href="#" class="viewall">View all courses</a>

      <strong class="mt15">Online Couses</strong>
      <a href="#">ICFL Training Programs</a>
      <a href="#">AON Hewitt HR certifications</a>
      <a href="#">Classroom Training for ACCA IFRS from Gold approved Learning Provider</a>
      <a href="#">Govt of India- Vskills certification</a>
      <a href="#" class="viewall">View all courses</a>
  </div>

  <div class="tab-pane" id="nav6_2" role="tabpanel">
      <strong>Online Couses</strong>
      <a href="#">ICFL Training Programs</a>
      <a href="#">AON Hewitt HR certifications</a>
      <a href="#">Classroom Training for ACCA IFRS from Gold approved Learning Provider</a>
      <a href="#">Govt of India- Vskills certification</a>
      <a href="#" class="viewall">View all courses</a>

      <strong class="mt15">Online Couses</strong>
      <a href="#">AON Hewitt HR certifications</a>
      <a href="#">ICFL Training Programs</a>
      <a href="#">Govt of India- Vskills certification</a>
      <a href="#" class="viewall">View all courses</a>
  </div>
  <div class="tab-pane" id="nav6_3" role="tabpanel">
      <strong>Online Couses</strong>
      <a href="#">Classroom Training for ACCA IFRS from Gold approved Learning Provider</a>
      <a href="#">AON Hewitt HR certifications</a>
      <a href="#">ICFL Training Programs</a>
      <a href="#">Govt of India- Vskills certification</a>
      <a href="#" class="viewall">View all courses</a>

      <strong class="mt15">Online Couses</strong>
      <a href="#">AON Hewitt HR certifications</a>
      <a href="#">ICFL Training Programs</a>
      <a href="#">Classroom Training for ACCA IFRS from Gold approved Learning Provider</a>
      <a href="#">Govt of India- Vskills certification</a>
      <a href="#" class="viewall">View all courses</a>
  </div>
  <div class="tab-pane" id="nav6_4" role="tabpanel">
      <strong>Online Couses</strong>
      <a href="#">Govt of India- Vskills certification</a>
      <a href="#">AON Hewitt HR certifications</a>
      <a href="#">ICFL Training Programs</a>
      <a href="#">Classroom Training for ACCA IFRS from Gold approved Learning Provider</a>
      <a href="#" class="viewall">View all courses</a>

      <strong class="mt15">Online Couses</strong>
      <a href="#">AON Hewitt HR certifications</a>
      <a href="#">ICFL Training Programs</a>
      <a href="#">Classroom Training for ACCA IFRS from Gold approved Learning Provider</a>
      <a href="#">Govt of India- Vskills certification</a>
      <a href="#" class="viewall">View all courses</a>
  </div>
  <div class="tab-pane" id="nav6_5" role="tabpanel">
      <strong>Online Couses</strong>
      <a href="#">AON Hewitt HR certifications</a>
      <a href="#">ICFL Training Programs</a>
      <a href="#">Classroom Training for ACCA IFRS from Gold approved Learning Provider</a>
      <a href="#">Govt of India- Vskills certification</a>
      <a href="#" class="viewall">View all courses</a>

      <strong class="mt15">Online Couses</strong>
      <a href="#">AON Hewitt HR certifications</a>
      <a href="#">ICFL Training Programs</a>
      <a href="#">Classroom Training for ACCA IFRS from Gold approved Learning Provider</a>
      <a href="#">Govt of India- Vskills certification</a>
      <a href="#" class="viewall">View all courses</a>
  </div>
</div>
    </div>

<!-- courses 7 box -->
        <div id="collapseSeven" class="panel-collapse collapse col-sm-12 course_nav arrow3" role="tabpanel" aria-labelledby="headingSeven">
      <!-- tabs nav -->
<ul class="nav nav-tabs col-md-5 col-lg-4 col-xl-3" role="tablist">
  <li class="nav-item">
    <a class="nav-link" data-toggle="tab" href="#nav7_1" role="tab">GetCertGo certifications</a>
  </li>
  <li class="nav-item">
    <a class="nav-link" data-toggle="tab" href="#nav7_2" role="tab">AON Hewitt HR certifications</a>
  </li>
  <li class="nav-item">
    <a class="nav-link" data-toggle="tab" href="#nav7_3" role="tab">Govt of India- Vskills certification</a>
  </li>
  <li class="nav-item">
    <a class="nav-link" data-toggle="tab" href="#nav7_4" role="tab">ICFL Training Programs</a>
  </li>
  <li class="nav-item">
    <a class="nav-link" data-toggle="tab" href="#nav7_5" role="tab">ICFL Training Programs</a>
  </li>
</ul>

<!-- Tabs nav panes -->
<div class="tab-content col-md-7 col-lg-8 col-xl-9">
  <div class="tab-pane active" id="nav7_1" role="tabpanel">
      <strong>Online Couses</strong>
      <a href="#">AON Hewitt HR certifications</a>
      <a href="#">ICFL Training Programs</a>
      <a href="#">Classroom Training for ACCA IFRS from Gold approved Learning Provider</a>
      <a href="#">Govt of India- Vskills certification</a>
      <a href="#" class="viewall">View all courses</a>

      <strong class="mt15">Online Couses</strong>
      <a href="#">ICFL Training Programs</a>
      <a href="#">AON Hewitt HR certifications</a>
      <a href="#">Classroom Training for ACCA IFRS from Gold approved Learning Provider</a>
      <a href="#">Govt of India- Vskills certification</a>
      <a href="#" class="viewall">View all courses</a>
  </div>

  <div class="tab-pane" id="nav7_2" role="tabpanel">
      <strong>Online Couses</strong>
      <a href="#">ICFL Training Programs</a>
      <a href="#">AON Hewitt HR certifications</a>
      <a href="#">Classroom Training for ACCA IFRS from Gold approved Learning Provider</a>
      <a href="#">Govt of India- Vskills certification</a>
      <a href="#" class="viewall">View all courses</a>

      <strong class="mt15">Online Couses</strong>
      <a href="#">AON Hewitt HR certifications</a>
      <a href="#">ICFL Training Programs</a>
      <a href="#">Govt of India- Vskills certification</a>
      <a href="#" class="viewall">View all courses</a>
  </div>
  <div class="tab-pane" id="nav7_3" role="tabpanel">
      <strong>Online Couses</strong>
      <a href="#">Classroom Training for ACCA IFRS from Gold approved Learning Provider</a>
      <a href="#">AON Hewitt HR certifications</a>
      <a href="#">ICFL Training Programs</a>
      <a href="#">Govt of India- Vskills certification</a>
      <a href="#" class="viewall">View all courses</a>

      <strong class="mt15">Online Couses</strong>
      <a href="#">AON Hewitt HR certifications</a>
      <a href="#">ICFL Training Programs</a>
      <a href="#">Classroom Training for ACCA IFRS from Gold approved Learning Provider</a>
      <a href="#">Govt of India- Vskills certification</a>
      <a href="#" class="viewall">View all courses</a>
  </div>
  <div class="tab-pane" id="nav7_4" role="tabpanel">
      <strong>Online Couses</strong>
      <a href="#">Govt of India- Vskills certification</a>
      <a href="#">AON Hewitt HR certifications</a>
      <a href="#">ICFL Training Programs</a>
      <a href="#">Classroom Training for ACCA IFRS from Gold approved Learning Provider</a>
      <a href="#" class="viewall">View all courses</a>

      <strong class="mt15">Online Couses</strong>
      <a href="#">AON Hewitt HR certifications</a>
      <a href="#">ICFL Training Programs</a>
      <a href="#">Classroom Training for ACCA IFRS from Gold approved Learning Provider</a>
      <a href="#">Govt of India- Vskills certification</a>
      <a href="#" class="viewall">View all courses</a>
  </div>
  <div class="tab-pane" id="nav7_5" role="tabpanel">
      <strong>Online Couses</strong>
      <a href="#">AON Hewitt HR certifications</a>
      <a href="#">ICFL Training Programs</a>
      <a href="#">Classroom Training for ACCA IFRS from Gold approved Learning Provider</a>
      <a href="#">Govt of India- Vskills certification</a>
      <a href="#" class="viewall">View all courses</a>

      <strong class="mt15">Online Couses</strong>
      <a href="#">AON Hewitt HR certifications</a>
      <a href="#">ICFL Training Programs</a>
      <a href="#">Classroom Training for ACCA IFRS from Gold approved Learning Provider</a>
      <a href="#">Govt of India- Vskills certification</a>
      <a href="#" class="viewall">View all courses</a>
  </div>
</div>
    </div>

<!-- courses 8 box -->
    <div id="collapseEight" class="panel-collapse collapse col-sm-12 course_nav arrow4" role="tabpanel" aria-labelledby="headingEight">
      <!-- tabs nav -->
<ul class="nav nav-tabs col-md-5 col-lg-4 col-xl-3" role="tablist">
  <li class="nav-item">
    <a class="nav-link" data-toggle="tab" href="#nav8_1" role="tab">GetCertGo certifications</a>
  </li>
  <li class="nav-item">
    <a class="nav-link" data-toggle="tab" href="#nav8_2" role="tab">AON Hewitt HR certifications</a>
  </li>
  <li class="nav-item">
    <a class="nav-link" data-toggle="tab" href="#nav8_3" role="tab">Govt of India- Vskills certification</a>
  </li>
  <li class="nav-item">
    <a class="nav-link" data-toggle="tab" href="#nav8_4" role="tab">ICFL Training Programs</a>
  </li>
  <li class="nav-item">
    <a class="nav-link" data-toggle="tab" href="#nav8_5" role="tab">ICFL Training Programs</a>
  </li>
</ul>

<!-- Tabs nav panes -->
<div class="tab-content col-md-7 col-lg-8 col-xl-9">
  <div class="tab-pane active" id="nav8_1" role="tabpanel">
      <strong>Online Couses</strong>
      <a href="#">AON Hewitt HR certifications</a>
      <a href="#">ICFL Training Programs</a>
      <a href="#">Classroom Training for ACCA IFRS from Gold approved Learning Provider</a>
      <a href="#">Govt of India- Vskills certification</a>
      <a href="#" class="viewall">View all courses</a>

      <strong class="mt15">Online Couses</strong>
      <a href="#">ICFL Training Programs</a>
      <a href="#">AON Hewitt HR certifications</a>
      <a href="#">Classroom Training for ACCA IFRS from Gold approved Learning Provider</a>
      <a href="#">Govt of India- Vskills certification</a>
      <a href="#" class="viewall">View all courses</a>
  </div>

  <div class="tab-pane" id="nav8_2" role="tabpanel">
      <strong>Online Couses</strong>
      <a href="#">ICFL Training Programs</a>
      <a href="#">AON Hewitt HR certifications</a>
      <a href="#">Classroom Training for ACCA IFRS from Gold approved Learning Provider</a>
      <a href="#">Govt of India- Vskills certification</a>
      <a href="#" class="viewall">View all courses</a>

      <strong class="mt15">Online Couses</strong>
      <a href="#">AON Hewitt HR certifications</a>
      <a href="#">ICFL Training Programs</a>
      <a href="#">Govt of India- Vskills certification</a>
      <a href="#" class="viewall">View all courses</a>
  </div>
  <div class="tab-pane" id="nav8_3" role="tabpanel">
      <strong>Online Couses</strong>
      <a href="#">Classroom Training for ACCA IFRS from Gold approved Learning Provider</a>
      <a href="#">AON Hewitt HR certifications</a>
      <a href="#">ICFL Training Programs</a>
      <a href="#">Govt of India- Vskills certification</a>
      <a href="#" class="viewall">View all courses</a>

      <strong class="mt15">Online Couses</strong>
      <a href="#">AON Hewitt HR certifications</a>
      <a href="#">ICFL Training Programs</a>
      <a href="#">Classroom Training for ACCA IFRS from Gold approved Learning Provider</a>
      <a href="#">Govt of India- Vskills certification</a>
      <a href="#" class="viewall">View all courses</a>
  </div>
  <div class="tab-pane" id="nav8_4" role="tabpanel">
      <strong>Online Couses</strong>
      <a href="#">Govt of India- Vskills certification</a>
      <a href="#">AON Hewitt HR certifications</a>
      <a href="#">ICFL Training Programs</a>
      <a href="#">Classroom Training for ACCA IFRS from Gold approved Learning Provider</a>
      <a href="#" class="viewall">View all courses</a>

      <strong class="mt15">Online Couses</strong>
      <a href="#">AON Hewitt HR certifications</a>
      <a href="#">ICFL Training Programs</a>
      <a href="#">Classroom Training for ACCA IFRS from Gold approved Learning Provider</a>
      <a href="#">Govt of India- Vskills certification</a>
      <a href="#" class="viewall">View all courses</a>
  </div>
  <div class="tab-pane" id="nav8_5" role="tabpanel">
      <strong>Online Couses</strong>
      <a href="#">AON Hewitt HR certifications</a>
      <a href="#">ICFL Training Programs</a>
      <a href="#">Classroom Training for ACCA IFRS from Gold approved Learning Provider</a>
      <a href="#">Govt of India- Vskills certification</a>
      <a href="#" class="viewall">View all courses</a>

      <strong class="mt15">Online Couses</strong>
      <a href="#">AON Hewitt HR certifications</a>
      <a href="#">ICFL Training Programs</a>
      <a href="#">Classroom Training for ACCA IFRS from Gold approved Learning Provider</a>
      <a href="#">Govt of India- Vskills certification</a>
      <a href="#" class="viewall">View all courses</a>
  </div>
</div>
    </div>




</div>
</div>


</div>
</div>



<!-- Our Vendors  -->

<div class="container">
<div class="row">

<div class="courses_box">
<h2>Our Vendors</h2>
<div class="panel" id="accordion" role="tablist" aria-multiselectable="true">

<!-- Vendors 1 -->
  <div class="panel col-sm-3" role="tab" id="headingTwentyone">
        <a class="cc_box" data-toggle="collapse" data-parent="#accordion" href="#collapseTwentyone" aria-expanded="true" aria-controls="collapseTwentyone">
        <span class="ccbgcol">
            <span class="ov_logo1"></span>
        </span>
        <span class="cc_heading"><strong class="cc_tpbdr">ACCA</strong></span>
        </a>
  </div>

<!-- Vendors 2 -->
  <div class="panel col-sm-3" role="tab" id="headingTwentytwo">
           <a class="cc_box collapsed" data-toggle="collapse" data-parent="#accordion" href="#collapseTwentytwo" aria-expanded="false" aria-controls="collapseTwentytwo">
        <span class="ccbgcol">
            <span class="ov_logo2"></span>
        </span>
        <span class="cc_heading"><strong class="cc_tpbdr">GetCertGo</strong></span>
        </a>
  </div>

<!-- Vendors 3 -->
  <div class="panel col-sm-3" role="tab" id="headingTwentythree">
        <a class="cc_box" data-toggle="collapse" data-parent="#accordion" href="#collapseTwentythree" aria-expanded="true" aria-controls="collapseTwentythree">
        <span class="ccbgcol">
            <span class="ov_logo3"></span>
        </span>
        <span class="cc_heading"><strong class="cc_tpbdr">Skillsoft</strong></span>
        </a>
  </div>

<!-- Vendors 4 -->
 <div class="panel col-sm-3" role="tab" id="headingTwentyfour">
        <a class="cc_box" data-toggle="collapse" data-parent="#accordion" href="#collapseTwentyfour" aria-expanded="true" aria-controls="collapseTwentyfour">
        <span class="ccbgcol">
            <span class="ov_logo4"></span>
        </span>
        <span class="cc_heading"><strong class="cc_tpbdr">V Skills</strong></span>
        </a>
  </div>


<!-- Vendors 1 box -->
<div id="collapseTwentyone" class="panel-collapse collapse col-md-12 course_nav vendors_nav arrow1" role="tabpanel" aria-labelledby="headingTwentyone">
      <!-- tabs nav -->
<ul class="nav nav-tabs col-md-5 col-lg-4 col-xl-3">
  <li class="nav-item">
    <a class="nav-link" href="#">GetCertGo certifications</a>
  </li>
  <li class="nav-item">
    <a class="nav-link" href="#">AON Hewitt HR certifications</a>
  </li>
  <li class="nav-item">
    <a class="nav-link" href="#">Govt of India- Vskills certification</a>
  </li>
  <li class="nav-item">
    <a class="nav-link" href="#">ICFL Training Programs</a>
  </li>
  <li class="nav-item">
    <a class="nav-link" href="#">ICFL Training Programs</a>
  </li>
</ul>

<!-- Tabs nav panes -->
<div class="tab-content col-md-7 col-lg-8 col-xl-9">
  <div class="tab-pane active">
      <a href="#">AON Hewitt HR certifications</a>
      <a href="#">ICFL Training Programs</a>
      <a href="#">Classroom Training for ACCA IFRS from Gold approved Learning Provider</a>
      <a href="#">Govt of India- Vskills certification</a>
      <a href="#">ICFL Training Programs</a>
      <a href="#">AON Hewitt HR certifications</a>
      <a href="#">Classroom Training for ACCA IFRS from Gold approved Learning Provider</a>
      <a href="#">Govt of India- Vskills certification</a>
      <a href="#" class="viewall">View all courses</a>
  </div>

</div>
    </div>

<!-- Vendors 2 box -->
        <div id="collapseTwentytwo" class="panel-collapse collapse col-sm-12 course_nav vendors_nav arrow2" role="tabpanel" aria-labelledby="headingTwentytwo">
      <!-- tabs nav -->
<ul class="nav nav-tabs col-md-5 col-lg-4 col-xl-3">
  <li class="nav-item">
    <a class="nav-link" href="#">AON Hewitt HR certifications</a>
  </li>
  <li class="nav-item">
    <a class="nav-link" href="#">GetCertGo certifications</a>
  </li>
  <li class="nav-item">
    <a class="nav-link" href="#">Govt of India- Vskills certification</a>
  </li>
  <li class="nav-item">
    <a class="nav-link" href="#">ICFL Training Programs</a>
  </li>
  <li class="nav-item">
    <a class="nav-link" href="#">ICFL Training Programs</a>
  </li>
</ul>

<!-- Tabs nav panes -->
<div class="tab-content col-md-7 col-lg-8 col-xl-9">
  <div class="tab-pane active">
      <a href="#">AON Hewitt HR certifications</a>
      <a href="#">ICFL Training Programs</a>
      <a href="#">Classroom Training for ACCA IFRS from Gold approved Learning Provider</a>
      <a href="#">Govt of India- Vskills certification</a>
      <a href="#">ICFL Training Programs</a>
      <a href="#">AON Hewitt HR certifications</a>
      <a href="#">Classroom Training for ACCA IFRS from Gold approved Learning Provider</a>
      <a href="#">Govt of India- Vskills certification</a>
      <a href="#" class="viewall">View all courses</a>
  </div>

</div>
    </div>

<!-- Vendors 3 box -->
        <div id="collapseTwentythree" class="panel-collapse collapse col-sm-12 course_nav vendors_nav arrow3" role="tabpanel" aria-labelledby="headingTwentythree">
      <!-- tabs nav -->
<ul class="nav nav-tabs col-md-5 col-lg-4 col-xl-3">
    <li class="nav-item">
    <a class="nav-link" href="#">Govt of India- Vskills certification</a>
  </li>
  <li class="nav-item">
    <a class="nav-link" href="#">GetCertGo certifications</a>
  </li>
  <li class="nav-item">
    <a class="nav-link" href="#">AON Hewitt HR certifications</a>
  </li>
  <li class="nav-item">
    <a class="nav-link" href="#">ICFL Training Programs</a>
  </li>
  <li class="nav-item">
    <a class="nav-link" href="#">ICFL Training Programs</a>
  </li>
</ul>

<!-- Tabs nav panes -->
<div class="tab-content col-md-7 col-lg-8 col-xl-9">
  <div class="tab-pane active">
      <a href="#">AON Hewitt HR certifications</a>
      <a href="#">ICFL Training Programs</a>
      <a href="#">Classroom Training for ACCA IFRS from Gold approved Learning Provider</a>
      <a href="#">Govt of India- Vskills certification</a>
      <a href="#">ICFL Training Programs</a>
      <a href="#">AON Hewitt HR certifications</a>
      <a href="#">Classroom Training for ACCA IFRS from Gold approved Learning Provider</a>
      <a href="#">Govt of India- Vskills certification</a>
      <a href="#" class="viewall">View all courses</a>
  </div>

</div>
    </div>

<!-- Vendors 4 box -->
    <div id="collapseTwentyfour" class="panel-collapse collapse col-sm-12 course_nav vendors_nav arrow4" role="tabpanel" aria-labelledby="headingTwentyfour">
      <!-- tabs nav -->
<ul class="nav nav-tabs col-md-5 col-lg-4 col-xl-3">
  <li class="nav-item">
    <a class="nav-link" href="#">ICFL Training Programs</a>
  </li>
  <li class="nav-item">
    <a class="nav-link" href="#">GetCertGo certifications</a>
  </li>
  <li class="nav-item">
    <a class="nav-link" href="#">AON Hewitt HR certifications</a>
  </li>
  <li class="nav-item">
    <a class="nav-link" href="#">Govt of India- Vskills certification</a>
  </li>
  <li class="nav-item">
    <a class="nav-link" href="#">ICFL Training Programs</a>
  </li>
</ul>

<!-- Tabs nav panes -->
<div class="tab-content col-md-7 col-lg-8 col-xl-9">
  <div class="tab-pane active">
      <a href="#">AON Hewitt HR certifications</a>
      <a href="#">ICFL Training Programs</a>
      <a href="#">Classroom Training for ACCA IFRS from Gold approved Learning Provider</a>
      <a href="#">Govt of India- Vskills certification</a>
      <a href="#">ICFL Training Programs</a>
      <a href="#">AON Hewitt HR certifications</a>
      <a href="#">Classroom Training for ACCA IFRS from Gold approved Learning Provider</a>
      <a href="#">Govt of India- Vskills certification</a>
      <a href="#" class="viewall">View all courses</a>
  </div>

</div>
    </div>















</div>
</div>


</div>
</div>



<!-- Why Shine Career Plus -->
<div class="container-fluid">
<div class="row">
<div class="why_scp"> <h2>Why Shine Career Plus?</h2>
<ul>
<li><span class="scp_icon1"></span>Our experts will guide you through the variety of courses suited for your profile</li>
<li><span class="scp_icon2"></span>Invest in your career and get a jump in your salary</li>
<li><span class="scp_icon3"></span>We bridge the gap between education and employment with a free 1 month featured profile on shine.com</li>
</ul>
</div>
</div>
</div>



<!-- Testimonials -->
<div class="container">
<div class="row">
<div class="testimonials"> <h2>Testimonials</h2>
<ul>
<li>I experienced a good interaction with the writer. The content of the resume is also very concise and short which contains all the relevant info. Format is also simple and neat. If all put together is up to the mark. <strong>"SP Shree Kumar"</strong></li>
<li>I experienced a good interaction with the writer. The content of the resume is also very concise and short which contains all the relevant info. Format is also simple and neat. If all put together is up to the mark. <strong>"SP Shree Kumar"</strong></li>
<li>I experienced a good interaction with the writer. The content of the resume is also very concise and short which contains all the relevant info. Format is also simple and neat. If all put together is up to the mark. <strong>"SP Shree Kumar"</strong></li>
</ul>
</div>
</div>
</div>






<!-- Footer -->    
 <div class="container-fluid">
<div class="row">   
	<footer class="footerlinks">
    <ul>
    <li>
    <strong>Oprations</strong>
<a href="#">GetCertGo certifications</a>
<a href="#">AON Hewitt HR certifications</a>
<a href="#">Govt of India- Vskills certification</a>
<a href="#">ICFL Training Programs</a>
<a href="#">GetCertGo certifications</a>
<a href="#">AON Hewitt HR certifications</a>
<a href="#">Govt of India- Vskills certification</a>
<a href="#">ICFL Training Programs</a>
    </li> 
    <li>
    <strong>Oprations</strong>
<a href="#">GetCertGo certifications</a>
<a href="#">AON Hewitt HR certifications</a>
<a href="#">Govt of India- Vskills certification</a>
<a href="#">ICFL Training Programs</a>
<a href="#">GetCertGo certifications</a>
<a href="#">AON Hewitt HR certifications</a>
<a href="#">Govt of India- Vskills certification</a>
<a href="#">ICFL Training Programs</a>
    </li> 
    <li>
    <strong>Oprations</strong>
<a href="#">GetCertGo certifications</a>
<a href="#">AON Hewitt HR certifications</a>
<a href="#">Govt of India- Vskills certification</a>
<a href="#">ICFL Training Programs</a>
<a href="#">GetCertGo certifications</a>
<a href="#">AON Hewitt HR certifications</a>
<a href="#">Govt of India- Vskills certification</a>
<a href="#">ICFL Training Programs</a>
    </li> 
    <li>
    <strong>Oprations</strong>
<a href="#">GetCertGo certifications</a>
<a href="#">AON Hewitt HR certifications</a>
<a href="#">Govt of India- Vskills certification</a>
<a href="#">ICFL Training Programs</a>
<a href="#">GetCertGo certifications</a>
<a href="#">AON Hewitt HR certifications</a>
<a href="#">Govt of India- Vskills certification</a>
<a href="#">ICFL Training Programs</a>
    </li> 
    <li>
    <strong>Oprations</strong>
<a href="#">GetCertGo certifications</a>
<a href="#">AON Hewitt HR certifications</a>
<a href="#">Govt of India- Vskills certification</a>
<a href="#">ICFL Training Programs</a>
<a href="#">GetCertGo certifications</a>
<a href="#">AON Hewitt HR certifications</a>
<a href="#">Govt of India- Vskills certification</a>
<a href="#">ICFL Training Programs</a>
    </li>  
    </ul>
    <div class="footbtmlinks"><a href="#">About Us</a> <a href="#">Partners</a> <a href="#">Privacy Policy</a> <a href="#">Terms & Condition</a> <a href="#">Contact us</a></div>
    <div class="copyright">Copyright © {% now "Y" %} HT Media Limited</div>
    </footer> 
</div>
</div>


    <!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.4/jquery.min.js"></script>
    <!-- Include all compiled plugins (below), or include individual files as needed -->
    <script src="js/bootstrap4.js"></script>

    <script type="text/javascript">
        $('.nav-tabs > li > a').hover(function() {
  $(this).tab('show');
});
    </script>
<script type="text/javascript">
        hash = window.location.hash
$("a[href=#{hash}]").click()
    </script>
  </body>
</html>