{% extends "basic/base1.html" %}
{% load static meta compress %}

{% block title %}
  {% if meta.title %}{{ meta.title }}{% else %}{{prd_H1}}{% endif %}
{% endblock title %}
{% block canonical_url %}
  <link rel="canonical" href="//{{ SITE_DOMAIN }}{{canonical_url}}">
  <link rel="alternate" media="only screen and (maxwidth:640px)" href="https://{{ MOBILE_SITE_DOMAIN }}{{ request.path }}">
  <link rel="alternate" media="handheld" href="https://{{ MOBILE_SITE_DOMAIN }}{{ request.path }}">
{% endblock canonical_url %}

        {% block django_meta %}
            {% include 'meta/meta.html' %}
        {% endblock django_meta %}
 
{% block css_section %}
    {{block.super}}
    {% compress css %}
    <link type="text/scss" href="{% static 'shinelearn/css/executive/exe-common.scss' %}" rel="stylesheet">
    <link type="text/scss" href="{% static 'shinelearn/css/executive/exe-faculty.scss' %}" rel="stylesheet">
    {% endcompress %}
{% endblock css_section %}


{% block navigation %}
   {{block.super}}
{% endblock navigation %}


{% block main_container %}
    
    <div id="id-detail-body">
      {% block page_heading %}

      <!-- header -->
      <header class="exe-header-faculty" style="background: linear-gradient( rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5) ), url({% static 'shinelearn/images/executive/university-pic.jpg' %}) no-repeat center top;">
        <div class="exe-header-txt container pr">
          <div class="row">
          <!-- breadcrums -->
            <ol class="breadcrumb mt-30">
              <li><a href="#">Home</a></li>
              <li><a href="#">XLRI</a></li>
              <li class="active">Faculty</li>
            </ol>
          </div>
        </div>
      </header>

    {% endblock page_heading %}



    {% block section2 %}

    
      
      <!-- main parent section start -->
      <section class="container-fluid">
        <div class="row">
            <!-- main container -->
            <div class="container mb-50">
              <div class="row">

                <div class="faculty">
                  <div class="faculty-pic">
                    <figure>
                      <img src="{% static 'shinelearn/images/executive/principal-pic.jpg' %}" class="img-responsive" alt="Principal speak">
                      <i><img src="{% static 'shinelearn/images/executive/xlri-logo.jpg' %}" alt="Logo" class="img-responsive"></i>
                    </figure>
                  </div>
                  <div class="faculty-intro">
                    <h1 class="heading-primary-exe1 mt-20">Dr Ajay Garg</h1>
                    <p class="mt-20 sm-intro">Associate Professor – Digital Marketing <span>XLRI Jamshedpur</span></p>
                    <p>Dr. Ajay Garg is a full-time professor of information Management. Professor Garg’s primary expertise and interest is in the area of business analytics including text mining, data mining, aftificial intelligence, machine learning, predictive analytics, big data and various  techniques for knowledge discovery in databases.</p>
                    <p>Ajay graduated from the XLRI, in 1997, with a Post Graduate Diploma in Communications and a specialisation
                    in Media Planning & Media Marketing. During the course of his career, he has worked with leading global agencies like Mediacom, Lintas Media Group, Universal McCann, OMD and Dentsu. He has also worked with leading global market research agencies like ACNielsen
                    & TNS Global.</p>
                    <p>Over course of his career, Ajay has had the opportunity to manage the traditional as well as digital media mandates for clients across categories viz. Toyota, Lexus, Hitachi,
                    Toshiba, McDonald’s, Fonterra, Carlsberg, Ikea, Guinness, Etisalat Telecom, Mitsubhishi Motors, Bajaj Auto, Haier Electronics, Videocon, Sansui, Standard Chartered Bank, Stanbic Bank (SA), Arab National Bank, Tata AIG Insurance, SBI Mutual Funds, Big Bazaar,
                    McDonald’s, Reckitt Benckiser, Beiersdorf, Nestle CPW, GroupeDanone, Parle Biscuits, Britannia, Wrigley’s, GlaxoSmithKline, Pfizer.</p>
                    <p>In 2013, he setup the 1-year specialization course in Digital Communications Management at MICA, which is offered as a part of the 2-years Post Graduate program.</p>
                  </div>
                </div>
              </div>
            </div>
            <!-- bottom container end -->
      </div>
      </section>
      <!-- main parent section end -->   

      <!-- Courses taken -->
      <section class="exe-courses-taken-box container-fluid">
        <div class="row">
          <h2 class="heading-primary-exe1 text-center mt-40 mb-20">Courses taken by Ajay Garg</h2>
          <div class="container">
            <div class="row">
              <div class="row d-flex justify-content-center">
                <div class="col-sm-4">
                  <div class="exe-box exe-courses-offered pr">
                    <div class="media">
                      <div class="media-body">
                        <figure>
                          <i class="exe-university-small-img"><img src="{% static 'shinelearn/images/executive/xlri-logo.jpg' %}" alt="Logo" class="img-responsive"></i>
                          <figcaption>
                            <h3>Material Management Professional</h3>
                            <p> <i class="exe-icon-batch-grey"></i> Starts  <strong>Dec 2018</strong>  |  <strong>6 months</strong></p>
                          </figcaption>
                        </figure>
                      </div>
                      <div class="media-right">
                        <span class="admission-open">Admission open</span>
                        <figure>
                          <img src="https://static1.shine.com/l/m/product_image/276/1509558215_9064.png" alt="Logo">
                        </figure>
                      </div>
                    </div>
                  </div>
                </div>
                <div class="col-sm-4">
                  <div class="exe-box exe-courses-offered pr">
                    <div class="media">
                      <div class="media-body">
                        <figure>
                          <i class="exe-university-small-img"><img src="{% static 'shinelearn/images/executive/xlri-logo.jpg' %}" alt="Logo" class="img-responsive"></i>
                          <figcaption>
                            <h3>Management Fundamentals</h3>
                            <p> <i class="exe-icon-batch-grey"></i> Starts  <strong>Dec 2018</strong>  |  <strong>6 months</strong></p>
                          </figcaption>
                        </figure>
                      </div>
                      <div class="media-right">
                        <span class="admission-open">Admission open</span>
                        <figure>
                          <img src="https://static1.shine.com/l/m/product_image/275/1508147934_5947.png" alt="Logo">
                        </figure>
                      </div>
                    </div>
                  </div>
                </div>
                <div class="col-sm-4">
                  <div class="exe-box exe-courses-offered pr">
                    <div class="media">
                      <div class="media-body">
                        <figure>
                          <i class="exe-university-small-img"><img src="{% static 'shinelearn/images/executive/xlri-logo.jpg' %}" alt="Logo" class="img-responsive"></i>
                          <figcaption>
                            <h3>Operation Management</h3>
                            <p> <i class="exe-icon-batch-grey"></i> Starts  <strong>Dec 2018</strong>  |  <strong>6 months</strong></p>
                          </figcaption>
                        </figure>
                      </div>
                      <div class="media-right">
                        <span class="admission-open">Admission open</span>
                        <figure>
                          <img src="https://static1.shine.com/l/m/product_image/276/1509558215_9064.png" alt="Logo">
                        </figure>
                      </div>
                    </div>
                  </div>
                </div>
                <div class="clearfix"></div>
                <div class="col-sm-4">
                  <div class="exe-box exe-courses-offered pr">
                    <div class="media">
                      <div class="media-body">
                        <figure>
                          <i class="exe-university-small-img"><img src="{% static 'shinelearn/images/executive/xlri-logo.jpg' %}" alt="Logo" class="img-responsive"></i>
                          <figcaption>
                            <h3>Campaign Management</h3>
                            <p> <i class="exe-icon-batch-grey"></i> Starts  <strong>Dec 2018</strong>  |  <strong>6 months</strong></p>
                          </figcaption>
                        </figure>
                      </div>
                      <div class="media-right">
                        <span class="admission-open">Admission open</span>
                        <figure>
                          <img src="https://static1.shine.com/l/m/product_image/280/1509340449_60.png" alt="Logo">
                        </figure>
                      </div>
                    </div>
                  </div>
                </div>
                <div class="col-sm-4">
                  <div class="exe-box exe-courses-offered pr">
                    <div class="media">
                      <div class="media-body">
                        <figure>
                          <i class="exe-university-small-img"><img src="{% static 'shinelearn/images/executive/xlri-logo.jpg' %}" alt="Logo" class="img-responsive"></i>
                          <figcaption>
                            <h3>Talent Management Essentials</h3>
                            <p> <i class="exe-icon-batch-grey"></i> Starts  <strong>Dec 2018</strong>  |  <strong>6 months</strong></p>
                          </figcaption>
                        </figure>
                      </div>
                      <div class="media-right">
                        <span class="admission-open">Admission open</span>
                        <figure>
                          <img src="https://static1.shine.com/l/m/product_image/276/1509558215_9064.png" alt="Logo">
                        </figure>
                      </div>
                    </div>
                  </div>
                </div>
                <div class="col-sm-4">
                  <div class="exe-box exe-courses-offered pr">
                    <div class="media">
                      <div class="media-body">
                        <figure>
                          <i class="exe-university-small-img"><img src="{% static 'shinelearn/images/executive/xlri-logo.jpg' %}" alt="Logo" class="img-responsive"></i>
                          <figcaption>
                            <h3>Event Management Professional</h3>
                            <p> <i class="exe-icon-batch-grey"></i> Starts  <strong>Dec 2018</strong>  |  <strong>6 months</strong></p>
                          </figcaption>
                        </figure>
                      </div>
                      <div class="media-right">
                        <span class="admission-open">Admission open</span>
                        <figure>
                          <img src="https://static1.shine.com/l/m/product_image/1767/1516793620_175.png" alt="Logo">
                        </figure>
                      </div>
                    </div>
                  </div>
                </div>
                <div class="clearfix mt-20"></div>
              </div>
            </div>
          </div>
        </div>
      </section>   
    {% endblock section2 %}

      
   </div>
{% endblock main_container %}



{% block js_section %}
    {{block.super}}
    {% compress js %}
    <script src="{% static 'shinelearn/js/common/plugin.activeOnScroll-executive.js' %}"></script>
    <script src="{% static 'shinelearn/js/cart/cart.js' %}"></script>
    <script src="{% static 'shinelearn/js/shop/detail.js' %}"></script>
    <script src="{% static 'shinelearn/js/common/scroller-executive.js' %}" type="text/javascript"></script>
    <script src="{% static 'shinelearn/js/users/login.js' %}"></script>
    {% endcompress %}
{% endblock js_section %}

  {% block zendesk %}
    {% if sqs.id in linkedin_resume_services %}
    {% else %}
      {{block.super}}
    {% endif %}
  {% endblock zendesk %}