{% extends "basic/base1.html" %}
{% load static meta compress %}

{% block title %}
  {% if meta.title %}{{ meta.title }}{% else %}{{prd_H1}}{% endif %}
{% endblock title %}
{% block canonical_url %}
  <link rel="canonical" href="//{{ SITE_DOMAIN }}{{canonical_url}}">
  <link rel="alternate" media="only screen and (maxwidth:640px)" href="https://{{ MOBILE_SITE_DOMAIN }}{{ request.path }}">
  <link rel="alternate" media="handheld" href="https://{{ MOBILE_SITE_DOMAIN }}{{ request.path }}">
{% endblock canonical_url %}

        {% block django_meta %}
            {% include 'meta/meta.html' %}
        {% endblock django_meta %}
 
{% block css_section %}
    {{block.super}}
    {% compress css %}
    <link type="text/scss" href="{% static 'shinelearn/css/executive/exe-common.scss' %}" rel="stylesheet">
    <link type="text/scss" href="{% static 'shinelearn/css/executive/exe-detail.scss' %}" rel="stylesheet">
    {% endcompress %}
{% endblock css_section %}


{% block navigation %}
   {{block.super}}
{% endblock navigation %}


{% block main_container %}
    
    <div id="id-detail-body">
      {% block page_heading %}

      <!-- header -->
      <header class="exe-header-detail">
        <div class="exe-header-txt container pr">
          <div class="row">
          <!-- breadcrums -->
          <ol class="breadcrumb mt-30">
            <li><a href="#">Home</a></li>
            <li><a href="#">XLRI Courses</a></li>
            <li class="active">Digital Marketing</li>
          </ol>
          
          <div class="row">
            <div class="exe-course-box col-md-8 col-lg-9">
              <!-- course heading -->
              <h1>Executive development <br>program in leadership</h1>

              <!-- course image -->
              <div class="exe-course-img mt-30">
                <figure>
                  <img src="{% static 'shinelearn/images/executive/xlri-logo.jpg' %}" alt="Logo" class="img-responsive">
                </figure>
              </div>
              <div class="exe-course-sep"></div>
            </div>
            <!-- course detail -->
            <div class="exe-enrol-now col-md-4 col-lg-3">
              <div class="exe-box">
                <figure>
                  <i class="exe-icon-batch-blk"></i>
                  <figcaption>
                    Batch starts:
                    <strong>05 Jan 2019</strong>
                    <span>Duration: <strong>4 months</strong></span>
                    <div class="sep mt-10 mb-10"></div>
                    Fees
                    <div class="exe-price">
                      Rs.90,000
                    </div>
                    <a class="exe-button-enrol mt-10" href="#">Enroll Now</a>
                    <a href="#" class="exe-download-brochure">
                      <i class="exe-icon-brochure"></i>
                      Download Brochure
                    </a>
                  </figcaption>
                </figure>
              </div>
            </div>
          </div>


          </div>
        </div>
        <!-- course highligts -->
        <div class="exe-course-highlights container-fluid">
          <div class="col-sm-12">
            <div class="row">
              <div class="col-sm-4">
                <div class="exe-course-highlights-box">
                  <i class="exe-icon-highilights"></i>
                  <span><strong>40%</strong> Projected Growth in global data generated each year.</span>
                </div>
              </div>
              <div class="col-sm-4">
                <div class="exe-course-highlights-box left-bdr">
                  <i class="exe-icon-highilights"></i>
                  <span><strong>92%</strong> Fortune 500 companies will need to exploit Big Data by 2020.</span>
                </div>
              </div>
              <div class="col-sm-4">
                <div class="exe-course-highlights-box left-bdr">
                  <i class="exe-icon-highilights"></i>
                  <span><strong>2.5 Lac</strong> 2.5 Lac Projected Demand of Data Scientist in India by 2018.</span>
                </div>
              </div>
            </div>
          </div>
        </div>
      </header>

    {% endblock page_heading %}



    {% block section1 %}
      <!-- main parent1 section start -->
      <section class="cls_sticky_scroller_p pr">
            <!-- sticky sub header 1 -->
            <div class="cls_sticky_scroller" >
            </div>
      </section>
      <!-- main parent1 section end -->

    {% endblock section1 %}

    {% block section2 %}
      
      <!-- main parent2 section start -->
      <section class="container cls_scroller_parent pr mt-30">
        <div class="row">
            
              <!-- About course container -->
              <section id="about-course" class="container-fluid">
                <div class="row exe-detail-course-links cls_scroller pr">
                <!-- sticky sub header 2 -->
                  <div class="container no-pad">
                    <div class="col-sm-12 about-tab cls_scroll_tab">

                      <a title="About Course" class="active cls_tab_child" href="#about-course">About Course</a>                      
                      <a title="Who Should Attend" class=" cls_tab_child" href="#who-should-attend">Who Should Attend</a>

                      <a title="Faculty Profile" class=" cls_tab_child" href="#faculty-profile">Faculty Profile</a>

                      <a title="Exclusive Benefits" class=" cls_tab_child" href="#execlusive-benefits">Exclusive Benefits</a>

                      <a title="Program Structure" class="cls_tab_child" href="#program-structure">Program Structure</a>

                      <a title="Fees & Payments Modes" class="cls_tab_child" href="#fees-payments">Fees & Payments Modes</a>

                    </div>
                  </div>
                </div>
              </section>

            <div class="row mt-30">

              <!-- inner left container -->
              <div class="col-sm-9">

              <!-- About Course -->
                <section class="exe-box mb-30">
                  <div id="about-course" class="scroll">
                    <div class="e-btm-bdr">
                      <figure class="pr">
                        <i class="exe-icon-about-program"></i>
                      </figure>
                      <h2 class="heading-primary-exe">About Course</h2>
                    </div>
                    <article class="col-sm-12 pad-25">
                      The objective of the course is to develop knowledge of various analytical techniques in order to help better decision making in sales and marketing. CMOs and Marketing Managers usually depend on data analysts in their firms to crunch data. This course will help them communicate their marketing objectives in a focused manner to data analysts and help them critically evaluate the results of data analysis better. Participants will understand the underlying principles of statistical and analytical techniques. Participants will also develop a working familiarity of implementing these techniques on data sets.

                      <ul class="e-program-list mt-20">
                        <li>
                          <h3>Execute 4 real life projects</h3>
                          Acquire hands-on knowledge and expertise!
                        </li>
                        <li>
                          <h3>Hands-on training on 5+ tools</h3>
                          Learn various tools which includes Google AdWords, Google Analytics, Facebook, etc
                        </li>
                        <li>
                          <h3>10 simulation test papers</h3>
                          Gain confidence to ace the certification exams!
                        </li>
                        <li>
                          <h3>Training by industry experts</h3>
                          Get trained by “Dream Team” of Silicon Valley authors for Digital marketing role.
                        </li>
                        <li>
                          <h3>Comprehensive Course Curriculum </h3>
                          Go through in-depth knowledge on 8 topics and 11 domains which covers solid foundation learning for all digital marketing aspects.
                        </li>
                      </ul>
                    </article>
                  </div>
                </section>

                <!-- Who Should Attend -->
                <section class="exe-box mb-30">
                  <div id="who-should-attend" class="scroll">
                    <div class="e-btm-bdr">
                      <figure class="pr">
                        <i class="exe-icon-who-attend"></i>
                      </figure>
                      <h2 class="heading-primary-exe">Who Should Attend</h2>
                    </div>
                    <article class="col-sm-12 pad-25">

                      <div class="row exe-who-attend">

                        <div class="media col-sm-6">
                          <div class="media-left">
                            <figure class="exe-icon-manager"></figure>
                          </div>
                          <div class="media-body media-middle">
                            <h3 class="media-heading">Managers, Decision makers</h3>
                          </div>
                        </div>

                        <div class="media col-sm-6">
                          <div class="media-left">
                            <figure class="exe-icon-division"></figure>
                          </div>
                          <div class="media-body media-middle">
                            <h3 class="media-heading">Division / Department Heads</h3>
                            Sales & Marketing heads who wants to market products of service.
                          </div>
                        </div>

                        <div class="media col-sm-6">
                          <div class="media-left">
                            <figure class="exe-icon-srmanager"></figure>
                          </div>
                          <div class="media-body media-middle">
                            <h3 class="media-heading">Mid to Senior Level Managers </h3>
                            who drive marketing strategies.
                          </div>
                        </div>

                        <div class="media col-sm-6">
                          <div class="media-left">
                            <figure class="exe-icon-lnmanager"></figure>
                          </div>
                          <div class="media-body media-middle">
                            <h3 class="media-heading">Line Managers</h3>
                          </div>
                        </div>

                      </div>
                    </article>
                  </div>
                </section>

                <!-- Eligibility criteria -->
                <section class="exe-box mb-30">
                  <div class="e-btm-bdr">
                    <figure class="pr">
                      <i class="exe-icon-criteria"></i>
                    </figure>
                    <h2 class="heading-primary-exe">Eligibility criteria</h2>
                  </div>
                  <article class="col-sm-12 pad-25">
                    <ul class="exe-criteria-list">
                      <li>Any graduates with minimum 50% marks in graduation.</li>
                      <li>Proficiency in English, spoken & written is mandatory.</li>
                      <li>Working knowledge of Excel.</li>
                      <li>For Indian Participants – Graduates (10+2+3) from a recognized university (UGC/AICTE/DEC/AIU/State Government) in any discipline.</li>
                    </ul>
                  </article>
                </section>

                {% block prdrecommended %}
                <!-- recommended product -->
                <section class="container-fluid detail-box you-may-like-carousel mb-30">
                  <div class="scroll">
                    <h2 class="heading-primary-exe mt-30 mb-10 text-center">You may also like</h2>
                    <article class="col-sm-12">
                      <div id="carousel-example-generic2" class="carousel slide" data-ride="carousel">

                        <!-- Wrapper for slides -->
                        <div class="carousel-inner d-flex justify-content-center" role="listbox">
                          <div class="item col-sm-12 active">
                            <ul class="listing">
                              <li class="col-sm-6"><a title="CSS Designer" class="box-panel" href="/course/it-information-technology/css-designer/pd-276"><div class="media"><div class="media-body"><h3 class="listing-heading">CSS Designer</h3><div class="rating-review-box"><strong>10</strong> people bought
                              <span class="jobs-available"><strong>5950</strong> jobs available</span></div></div><div class="media-left"><figure><img class="img-responsive" src="https://static1.shine.com/l/m/product_image/276/1509558215_9064.png" alt="CSS Designer"></figure></div></div></a></li>
                              <li class="col-sm-6"><a title="HTML Designer" class="box-panel" href="/course/it-information-technology/html-designer/pd-275"><div class="media"><div class="media-body"><h3 class="listing-heading">HTML Designer</h3><div class="rating-review-box"><strong>1</strong> people bought
                              <span class="jobs-available"><strong>6143</strong> jobs available</span></div></div><div class="media-left"><figure><img class="img-responsive" src="https://static1.shine.com/l/m/product_image/275/1508147934_5947.png" alt="Certified HTML Designer"></figure></div></div></a></li>
                            </ul>
                          </div>

                          <div class="item col-sm-12">
                            <ul class="listing">
                              <li class="col-sm-6"><a title="CSS Designer" class="box-panel" href="/course/it-information-technology/css-designer/pd-276"><div class="media"><div class="media-body"><h3 class="listing-heading">CSS Designer</h3><div class="rating-review-box"><strong>10</strong> people bought
                              <span class="jobs-available"><strong>5950</strong> jobs available</span></div></div><div class="media-left"><figure><img class="img-responsive" src="https://static1.shine.com/l/m/product_image/276/1509558215_9064.png" alt="CSS Designer"></figure></div></div></a></li>
                              <li class="col-sm-6"><a title="HTML Designer" class="box-panel" href="/course/it-information-technology/html-designer/pd-275"><div class="media"><div class="media-body"><h3 class="listing-heading">HTML Designer</h3><div class="rating-review-box"><strong>1</strong> people bought
                              <span class="jobs-available"><strong>6143</strong> jobs available</span></div></div><div class="media-left"><figure><img class="img-responsive" src="https://static1.shine.com/l/m/product_image/275/1508147934_5947.png" alt="Certified HTML Designer"></figure></div></div></a></li>
                            </ul>
                          </div>
                          
                        </div>

                        <!-- Controls -->
                        <a class="left carousel-control" href="#carousel-example-generic2" role="button" data-slide="prev">
                          <span class="exe-icon-chevron-left mt-10" aria-hidden="true"></span>
                        </a>
                        <a class="right carousel-control" href="#carousel-example-generic2" role="button" data-slide="next">
                          <span class="exe-icon-chevron-right mt-10" aria-hidden="true"></span>
                        </a>
                      </div>
                    </article>
                  </div>
                </section>

                <!-- end recommended product -->
                {% endblock prdrecommended %}

                <!-- Faculty Profile -->
                <section class="exe-box mb-30">
                  <div id="faculty-profile" class="scroll">
                    <div class="e-btm-bdr">
                      <figure class="pr">
                        <i class="exe-icon-faculty"></i>
                      </figure>
                      <h2 class="heading-primary-exe">Faculty Profile</h2>
                    </div>
                    <article class="col-sm-12 pad-25">
                      <div id="carousel-example-generic" class="carousel slide exe-faculty-carousel" data-ride="carousel">

                        <!-- Wrapper for slides -->
                        <div class="carousel-inner" role="listbox">
                          <div class="item col-sm-12 active">
                            <div class="col-sm-6 text-center">
                              <figure>
                                <a class="faculty-thumb" href="#"><img src="{% static 'shinelearn/images/executive/faculty-pic1.jpg' %}" alt="Faculty Profile"></a>
                                <figcaption>
                                  <strong><a href="#">Dr Ajay Garg</a></strong>
                                  <div class="exe-designation">Associate Professor – 
                                    <span>Marketing XLRI Jamshedpur</span>
                                  </div>
                                  <p>Dr. Ajay Garg is a full-time professor of Information Management.  Professor Garg’s primary expertise and interest is in the area of business...   <a href="#">read more</a></p>
                                </figcaption>
                              </figure>
                            </div>

                            <div class="col-sm-6 text-center">
                              <figure>
                                <a class="faculty-thumb" href="#"><img src="{% static 'shinelearn/images/executive/faculty-pic2.jpg' %}" alt="Faculty Profile"></a>
                                <figcaption>
                                  <strong><a href="#">Dr. Soumyakanti Chakraborty</a></strong>
                                  <div class="exe-designation">Fellow (IIM Calcutta), B.Tech (Calcutta University) – 
                                    <span>Marketing XLRI Jamshedpur</span>
                                  </div>
                                  <p>Dr. Soumyakanti Chakraborty joined XLRI Information Systems Area in 2009. His primary teaching interests include Strategies...   <a href="#">read more</a></p>
                                </figcaption>
                              </figure>
                            </div>
                          </div>

                          <div class="item col-sm-12">
                            <div class="col-sm-6 text-center">
                              <figure>
                                <a class="faculty-thumb" href="#"><img src="{% static 'shinelearn/images/executive/faculty-pic1.jpg' %}" alt="Faculty Profile"></a>
                                <figcaption>
                                  <strong><a href="#">Dr Ajay Garg</a></strong>
                                  <div class="exe-designation">Associate Professor – 
                                    <span>Marketing XLRI Jamshedpur</span>
                                  </div>
                                  <p>Dr. Ajay Garg is a full-time professor of Information Management.  Professor Garg’s primary expertise and interest is in the area of business...   <a href="#">read more</a></p>
                                </figcaption>
                              </figure>
                            </div>

                            <div class="col-sm-6 text-center">
                              <figure>
                                <a class="faculty-thumb" href="#"><img src="{% static 'shinelearn/images/executive/faculty-pic2.jpg' %}" alt="Faculty Profile"></a>
                                <figcaption>
                                  <strong><a href="#">Dr. Soumyakanti Chakraborty</a></strong>
                                  <div class="exe-designation">Fellow (IIM Calcutta), B.Tech (Calcutta University) – 
                                    <span>Marketing XLRI Jamshedpur</span>
                                  </div>
                                  <p>Dr. Soumyakanti Chakraborty joined XLRI Information Systems Area in 2009. His primary teaching interests include Strategies...   <a href="#">read more</a></p>
                                </figcaption>
                              </figure>
                            </div>
                          </div>
                          
                        </div>

                        <!-- Controls -->
                        <a class="left carousel-control" href="#carousel-example-generic" role="button" data-slide="prev">
                          <span class="exe-icon-chevron-left mt-20" aria-hidden="true"></span>
                        </a>
                        <a class="right carousel-control" href="#carousel-example-generic" role="button" data-slide="next">
                          <span class="exe-icon-chevron-right mt-20" aria-hidden="true"></span>
                        </a>
                      </div>
                    </article>
                  </div>
                </section>

                 <!-- Exclusive Benefits -->
                <section class="exe-box mb-30">
                  <div id="execlusive-benefits" class="scroll">
                    <div class="e-btm-bdr">
                      <figure class="pr">
                        <i class="exe-icon-benefit"></i>
                      </figure>
                      <h2 class="heading-primary-exe">Exclusive Benefits</h2>
                    </div>
                    <article class="col-sm-12 pad-25">
                      <div class="row exe-exclusive-benefits">
                        <h3 class="col-sm-12 mb-20">Exclusive Benefits</h2>

                        <div class="col-sm-4">
                          <figure class="thumbnail">
                            <i class="exe-icon-feat-profile"></i>
                            <figcaption class="caption">
                              <h3>Free featured profile</h3>
                              <p>FREE featured profile worth Rs. 1440 for 1 month on Shine.com</p>
                            </figcaption>
                          </figure>
                        </div>

                        <div class="col-sm-4">
                          <figure class="thumbnail">
                            <i class="exe-icon-shine-credit"></i>
                            <figcaption class="caption">
                              <h3>Shine credits </h3>
                              <p>10% Shine credits redeemable on next purchase*</p>
                            </figcaption>
                          </figure>
                        </div>
                        <div class="col-sm-4">
                          <figure class="thumbnail">
                            <i class="exe-icon-education-provider"></i>
                            <figcaption class="caption">
                              <h3>Global Education Providers </h3>
                              <p>Choose from a list of global providers as per your requirement.</p>
                            </figcaption>
                          </figure>
                        </div>

                        <div class="clearfix e-btm-bdr mb-30 mt-10 col-sm-12"></div>

                        <h3 class="col-sm-12 mb-20">Why Shine Learning?</h2>
                        <ul class="exe-why-shine-learning">
                          <li class="col-sm-4">
                            <figure class="thumbnail">
                              <figcaption class="caption">
                                <h3>0% EMI</h3>
                                <p>Easy EMI payment option.</p>
                              </figcaption>
                            </figure>
                          </li>

                          <li class="col-sm-4">
                            <figure class="thumbnail">
                              <figcaption class="caption">
                                <h3>Free Services</h3>
                                <p>Free Resume, Cover Letter Formats and Career Guidance Services.</p>
                              </figcaption>
                            </figure>
                          </li>

                          <li class="col-sm-4">
                            <figure class="thumbnail">
                              <figcaption class="caption">
                                <h3>Refer and Earn</h3>
                                <p>Refer your friend and get an Amazon Voucher worth Rs. 2000*</p>
                              </figcaption>
                            </figure>
                          </li>
                        </ul>
                      </div>
                    </article>
                  </div>
                </section>

                <!-- Program Structure 1 -->
                <section class="exe-box mb-30">
                  <div id="program-structure" class="scroll">
                    <div class="e-btm-bdr">
                      <figure class="pr">
                        <i class="exe-icon-program-structure"></i>
                      </figure>
                      <h2 class="heading-primary-exe">Program Structure</h2>
                    </div>
                    <article class="col-sm-12 pad-25">
                      <ul class="exe-structure-list1">
                        <li><h3>Search Engine Optimization</h3></li>
                        <li><h3>Social Media</h3></li>
                        <li><h3>Content Writing</h3></li>
                        <li><h3>Email Marketing</h3></li>
                        <li><h3>Mobile Marketing</h3></li>
                        <li><h3>Pay-Per-Click</h3></li>
                        <li><h3>Website Conversion Optimization</h3></li>
                        <li><h3>Digital Analytics</h3></li>
                        <li><h3>Marketing Automation</h3></li>
                        <li><h3>Programmatic Buying</h3></li>
                        <li><h3>Digital Marketing Strategy</h3></li>
                        <li><h3>Twitter Advertising</h3></li>
                      </ul>
                    </article>
                  </div>
                </section>

                <!-- Program Structure 2 -->
                <section class="exe-box mb-30">
                  <div class="scroll">
                    <div class="e-btm-bdr">
                      <figure class="pr">
                        <i class="exe-icon-program-structure"></i>
                      </figure>
                      <h2 class="heading-primary-exe">Program Structure</h2>
                    </div>
                    <article class="col-sm-12 pad-25 exe-accordian exe-structure-list2">
                      <ul class="panel-group" id="accordion" role="tablist" aria-multiselectable="true">
                        <li class="panel panel-default">
                          <div class="panel-heading" role="tab" id="headingOne">
                            <h3 class="panel-title">
                              <a role="button" data-toggle="collapse" data-parent="#accordion" href="#collapseOneExe" aria-expanded="true" aria-controls="collapseOneExe">
                                Module 1: Basic Concepts & Applications of Project Management
                              </a>
                            </h3>
                          </div>
                          <div id="collapseOneExe" class="panel-collapse collapse in" role="tabpanel" aria-labelledby="headingOne">
                            <div class="panel-body">
                              <ul>
                                <li><h3>Project Management Simulation Exercise – Scope, Resources & Scheduling</h3></li>
                                <li><h3>An Introduction to MS-Project</h3></li>
                                <li><h3>Interpreting the output of an MS-Project Report</h3></li>
                                <li><h3>Applications to Technical Scheduling and Resource Scheduling</h3></li>
                                <li><h3>Resource Levelling</h3></li>
                                <li><h3>Tracking and Monitoring Project Progress</h3></li>
                                <li><h3>Modern tools for Project Management (TILOS, Bentley, SD BIM Modeling, RIB2)</h3></li>
                              </ul>
                            </div>
                          </div>
                        </li>

                        <li class="panel panel-default no-content">
                          <div class="panel-heading" role="tab" id="headingTwo">
                            <h3 class="panel-title">
                              <a class="collapsed" role="button" data-toggle="collapse" data-parent="#accordion" href="#collapseTwoExe" aria-expanded="false" aria-controls="collapseTwoExe">
                                Module 2: Project Modelling and Management with Applications in MS-Project
                              </a>
                            </h3>
                          </div>
                          <div id="collapseTwoExe" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingTwo">
                            <div class="panel-body">
                              <ul>
                                <li><h3>Project Management Simulation Exercise – Scope, Resources & Scheduling</h3></li>
                                <li><h3>An Introduction to MS-Project</h3></li>
                                <li><h3>Interpreting the output of an MS-Project Report</h3></li>
                                <li><h3>Applications to Technical Scheduling and Resource Scheduling</h3></li>
                                <li><h3>Resource Levelling</h3></li>
                                <li><h3>Tracking and Monitoring Project Progress</h3></li>
                                <li><h3>Modern tools for Project Management (TILOS, Bentley, SD BIM Modeling, RIB2)</h3></li>
                              </ul>
                            </div>
                          </div>
                        </li>
                        <li class="panel panel-default">
                          <div class="panel-heading" role="tab" id="headingThree">
                            <h3 class="panel-title">
                              <a class="collapsed" role="button" data-toggle="collapse" data-parent="#accordion" href="#collapseThreeExe" aria-expanded="false" aria-controls="collapseThreeExe">
                                Module 3: Financial & Risk Aspects of Projects
                              </a>
                            </h3>
                          </div>
                          <div id="collapseThreeExe" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingThree">
                            <div class="panel-body">
                              <ul>
                                <li><h3>Project Management Simulation Exercise – Scope, Resources & Scheduling</h3></li>
                                <li><h3>An Introduction to MS-Project</h3></li>
                                <li><h3>Interpreting the output of an MS-Project Report</h3></li>
                                <li><h3>Applications to Technical Scheduling and Resource Scheduling</h3></li>
                                <li><h3>Resource Levelling</h3></li>
                                <li><h3>Tracking and Monitoring Project Progress</h3></li>
                                <li><h3>Modern tools for Project Management (TILOS, Bentley, SD BIM Modeling, RIB2)</h3></li>
                              </ul>
                            </div>
                          </div>
                        </li>
                        <li class="panel panel-default">
                          <div class="panel-heading" role="tab" id="headingFour">
                            <h3 class="panel-title">
                              <a class="collapsed" role="button" data-toggle="collapse" data-parent="#accordion" href="#collapseFourExe" aria-expanded="false" aria-controls="collapseFourExe">
                                Module 4: Workshop on Risk Assessment & Management in Projects
                              </a>
                            </h3>
                          </div>
                          <div id="collapseFourExe" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingFour">
                            <div class="panel-body">
                              <ul>
                                <li><h3>Project Management Simulation Exercise – Scope, Resources & Scheduling</h3></li>
                                <li><h3>An Introduction to MS-Project</h3></li>
                                <li><h3>Interpreting the output of an MS-Project Report</h3></li>
                                <li><h3>Applications to Technical Scheduling and Resource Scheduling</h3></li>
                                <li><h3>Resource Levelling</h3></li>
                                <li><h3>Tracking and Monitoring Project Progress</h3></li>
                                <li><h3>Modern tools for Project Management (TILOS, Bentley, SD BIM Modeling, RIB2)</h3></li>
                              </ul>
                            </div>
                          </div>
                        </li>
                        <li class="panel panel-default">
                          <div class="panel-heading" role="tab" id="headingFive">
                            <h3 class="panel-title">
                              <a class="collapsed" role="button" data-toggle="collapse" data-parent="#accordion" href="#collapseFiveExe" aria-expanded="false" aria-controls="collapseFiveExe">
                                Module 5: People Management in Projects
                              </a>
                            </h3>
                          </div>
                          <div id="collapseFiveExe" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingFive">
                            <div class="panel-body">
                              <ul>
                                <li><h3>Project Management Simulation Exercise – Scope, Resources & Scheduling</h3></li>
                                <li><h3>An Introduction to MS-Project</h3></li>
                                <li><h3>Interpreting the output of an MS-Project Report</h3></li>
                                <li><h3>Applications to Technical Scheduling and Resource Scheduling</h3></li>
                                <li><h3>Resource Levelling</h3></li>
                                <li><h3>Tracking and Monitoring Project Progress</h3></li>
                                <li><h3>Modern tools for Project Management (TILOS, Bentley, SD BIM Modeling, RIB2)</h3></li>
                              </ul>
                            </div>
                          </div>
                        </li>
                      </ul>
                    </article>
                  </div>
                </section>

                <!-- Assessment & Evaluation -->
                <section class="exe-box mb-30">
                  <div class="scroll">
                    <div class="e-btm-bdr">
                      <figure class="pr">
                        <i class="exe-icon-program-structure"></i>
                      </figure>
                      <h2 class="heading-primary-exe">Assessment & Evaluation</h2>
                    </div>
                    <article class="col-sm-12 pad-25">
                      <ul class="exe-structure-list1">
                        <li><p>
                          A minimum of 70% attendance to the LIVE lectures is a prerequisite for the successful completion of thiscourse. There are periodic evaluations built in throughout the duration of the course. 
                        </p></li>
                        <li><p>
                          These maybe in the form of a quiz, assignment, case studies or other objective/subjective assessments. The evaluations are designed ensure continuous student engagement with the course and encourage learning. Students who successfully clear the same along with the requisite attendance criteria will be awarded a Certificate from SPJIMR as appropriate.
                        </p></li>
                      </ul>

                      <div class="exe-sample-certificate mt-20">
                        <figure>
                          <img class="img-responsive" src="{% static 'shinelearn/images/executive/sample-certificate.jpg' %}" alt="Sample certificate">
                        </figure>
                        <h3 class="mt-30 ml-40">Sample Certificate</h3>
                        <a class="exe-button-view-sample pull-right mt-20 mr-20" href="#" type="button" data-toggle="modal" data-target=".bs-example-modal-lg">View sample certificate</a>
                      </div>
                    </article>
                  </div>
                </section>

                <!-- sample certificate modal -->
                <div class="modal fade bs-example-modal-lg" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel">
                  <div class="modal-dialog modal-lg" role="document">
                    <div class="modal-content">
                      <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                        <h3 class="heading-primary-exe" id="myModalLabel">Sample Certificate</h3>
                      </div>
                      <div class="modal-body exe-sample-certificate-modal">
                        <img class="img-responsive text-center" src="{% static 'shinelearn/images/executive/xlri-cert.png' %}" alt="Sample certificate">
                      </div>
                    </div>
                  </div>
                </div>

                <!-- Institute -->
                <section class="exe-box mb-30">
                  <div class="scroll">
                    <div class="e-btm-bdr">
                      <figure class="pr">
                        <i class="exe-icon-program-structure"></i>
                      </figure>
                      <h2 class="heading-primary-exe">Institute</h2>
                    </div>
                    <article class="col-sm-12 pad-25 exe-institute">
                      <figure>
                        <span class="institute-txt">
                          <h3>XLRI Jamshedpur</h3>
                          <a class="exe-button-view-course pull-right" href="#">View all courses</a>
                        </span>
                      </figure>
                      <p class="mt-20">
                        XLRI is one of India’s leading management school based in Jamshedpur, Jharkhand, India. Established in 1949 as the Xavier Labor Relations Institute, by Fr. Quinn Enright, XLRI is acknowledged as India’s oldest business management school.
                        <br><br>
                        XLRI with its single vision of Magis, i.e., pursuit of excellence, focuses on three areas: academic excellence, personal values and social concern. XLRI spares no effort to make its curriculum world-class and deliver it in the most effective manner. It constantly scans the developments in business and in society and tries to pro-act to meet the challenges. Its world-class faculty with its commitment and deep sense of service delivers the curriculum very effectively...   <a href="#">read more</a>
                      </p>
                    </article>
                  </div>
                </section>

                <!-- Testimonials -->
                <section class="exe-box mb-30">
                  <div class="scroll">
                    <div class="e-btm-bdr">
                      <figure class="pr">
                        <i class="exe-icon-testimonials"></i>
                      </figure>
                      <h2 class="heading-primary-exe">Testimonials</h2>
                    </div>
                    <article class="col-sm-12">
                      <div id="carousel-example-generic1" class="carousel slide exe-testimonial-carousel" data-ride="carousel">

                        <!-- Wrapper for slides -->
                        <div class="carousel-inner text-center" role="listbox">
                          <div class="item col-sm-12 active">
                            <p class="mb-20 mt-20">One of the best courses. Faculty is the best of the lot in the industry. It was a case study based learning. One of the best courses. Faculty is the best of the lot in the industry. It was a case study based learning. One of the best courses. Faculty is the best of the lot in the industry.</p>
                            <figure>
                              <img src="{% static 'shinelearn/images/executive/testimonial-pic.jpg' %}" alt="Faculty Profile">
                              <figcaption>
                                <strong>Bhaskar</strong>
                                <div class="exe-designation">
                                  Project Leader, Amnet Systems Pvt. Ltd.
                                </div>
                              </figcaption>
                            </figure>
                          </div>

                          <div class="item col-sm-12">
                            <p class="mb-20 mt-20">One of the best courses. Faculty is the best of the lot in the industry. It was a case study based learning. One of the best courses. Faculty is the best of the lot in the industry. It was a case study based learning. One of the best courses. Faculty is the best of the lot in the industry.</p>
                            <figure>
                              <img src="{% static 'shinelearn/images/executive/testimonial-pic.jpg' %}" alt="Faculty Profile">
                              <figcaption>
                                <strong>Bhaskar</strong>
                                <div class="exe-designation">
                                  Project Leader, Amnet Systems Pvt. Ltd.
                                </div>
                              </figcaption>
                            </figure>
                          </div>
                          
                        </div>

                        <!-- Controls -->
                        <a class="left carousel-control" href="#carousel-example-generic1" role="button" data-slide="prev">
                          <span class="exe-icon-chevron-left mt-20" aria-hidden="true"></span>
                        </a>
                        <a class="right carousel-control" href="#carousel-example-generic1" role="button" data-slide="next">
                          <span class="exe-icon-chevron-right mt-20" aria-hidden="true"></span>
                        </a>
                      </div>
                    </article>
                  </div>
                </section>

                <!-- Fees & Payments Modes -->
                <section class="exe-box mb-30">
                  <div id="fees-payments" class="scroll">
                    <div class="e-btm-bdr">
                      <figure class="pr">
                        <i class="exe-icon-fee-payments"></i>
                      </figure>
                      <h2 class="heading-primary-exe">Fee and Payment Modes</h2>
                    </div>
                    <article class="col-sm-12 pad-25 exe-accordian exe-fee-payments-box">
                      <ul class="panel-group" id="accordion1" role="tablist" aria-multiselectable="true">
                        <li class="panel panel-default">
                          <div class="panel-heading" role="tab" id="headingOne">
                            <h3 class="panel-title">
                              <a role="button" data-toggle="collapse" data-parent="#accordion1" href="#collapseOneExe1" aria-expanded="true" aria-controls="collapseOneExe1">
                                Program Fee
                              </a>
                            </h3>
                          </div>
                          <div id="collapseOneExe1" class="panel-collapse collapse in" role="tabpanel" aria-labelledby="headingOne">
                            <div class="panel-body exe-program-fee">
                              <div class="payment-deadline pull-right">
                                Payment Deadline                                  
                                <strong>21/09/2018</strong> 
                              </div> 
                              <div class="overall-fees">
                                Overall fees                                  
                                <strong>Rs. 90,000</strong> 
                              </div> 
                              <span class="e-blue-bdr mt-15"></span>
                              <div class="installment text-center">
                                <span class="text-uppercase col-sm-12 mb-15">Installment Available</span>
                                <div class="col-sm-4 installment-available">
                                  1st Instalment
                                  <strong>Rs. 30000</strong>
                                  <span>Payment Deadline: <b>27/12/2018</b></span>
                                </div>
                                <div class="col-sm-4 installment-available">
                                  2nd Instalment
                                  <strong>Rs. 35000</strong>
                                  <span>Payment Deadline: <b>27/01/2019</b></span>
                                </div>
                                <div class="col-sm-4 installment-available">
                                  3rd Instalment
                                  <strong>Rs. 25000</strong>
                                  <span>Payment Deadline: <b>27/03/2019</b></span>
                                </div>
                              </div>
                            </div>
                          </div>
                        </li>
                        <li class="panel panel-default">
                          <div class="panel-heading" role="tab" id="headingTwo">
                            <h3 class="panel-title">
                              <a class="collapsed" role="button" data-toggle="collapse" data-parent="#accordion1" href="#collapseTwoExe1" aria-expanded="false" aria-controls="collapseTwoExe1">
                                Application Process
                              </a>
                            </h3>
                          </div>
                          <div id="collapseTwoExe1" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingTwo">
                            <div class="panel-body exe-application-process">
                              <figure class="col-sm-3 process-box">
                                <span class="circle"><i class="exe-icon-place-order"></i></span>
                                <figcaption>Place Order</figcaption>
                              </figure>
                              <figure class="col-sm-3 process-box">
                                <span class="exe-arrow"></span>
                                <span class="circle"><i class="exe-icon-study-material"></i></span>
                                <figcaption>Receive online access/study material</figcaption>
                              </figure>
                              <figure class="col-sm-3 process-box">
                                <span class="exe-arrow"></span>
                                <span class="circle"><i class="exe-icon-start-learning"></i></span>
                                <figcaption>Access the material and start learning</figcaption>
                              </figure>
                              <figure class="col-sm-3 process-box">
                                <span class="exe-arrow"></span>
                                <span class="circle"><i class="exe-icon-get-certified"></i></span>
                                <figcaption>Appear for exam – Get Certified</figcaption>
                              </figure>
                            </div>
                          </div>
                        </li>
                        <li class="panel panel-default">
                          <div class="panel-heading" role="tab" id="headingThree">
                            <h3 class="panel-title">
                              <a class="collapsed" role="button" data-toggle="collapse" data-parent="#accordion1" href="#collapseThreeExe1" aria-expanded="false" aria-controls="collapseThreeExe1">
                                Late Fee
                              </a>
                            </h3>
                          </div>
                          <div id="collapseThreeExe1" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingThree">
                            <div class="panel-body exe-late-fee">
                              <p>Requests for refund of fees on account of cancellation of enrolment shall be considered only if such requests are received prior to closure of registration or 21 days before date of course commencement    whichever is earlier.</p>
                            </div>
                          </div>
                        </li>
                      </ul>
                    </article>
                  </div>
                </section>

                <!-- Frequenty Asked Questions -->
                <section class="exe-box mb-30">
                  <div id="fees-payments" class="scroll">
                    <div class="e-btm-bdr">
                      <figure class="pr">
                        <i class="exe-icon-faq"></i>
                      </figure>
                      <h2 class="heading-primary-exe">Frequenty Asked Questions</h2>
                    </div>
                    <article class="col-sm-12 pad-25 exe-accordian">
                      <ul class="panel-group" id="accordion2" role="tablist" aria-multiselectable="true">
                        <li class="panel panel-default">
                          <div class="panel-heading" role="tab" id="headingOne">
                            <h3 class="panel-title">
                              <a class="collapsed" role="button" data-toggle="collapse" data-parent="#accordion2" href="#collapseOneExe2" aria-expanded="true" aria-controls="collapseOneExe2">
                                What is the cancellation policy?
                              </a>
                            </h3>
                          </div>
                          <div id="collapseOneExe2" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingOne">
                            <div class="panel-body">
                              <ol type="I">
                                <li>Requests for refund of fees on account of cancellation of enrolment shall be considered only if such requests are received prior to closure of registration or 21 days before date of course commencement whichever is earlier.</li>
                                <li>In event that such valid requests for refund of fees are received, the application money shall be refunded after deducting a penalty of Rs.5000 and applicable taxes for Indian participants & USD 125 for foreign participants.</li>
                                <li>In all other cases, no refund shall be made.</li>
                              </ol>
                            </div>
                          </div>
                        </li>
                        <li class="panel panel-default">
                          <div class="panel-heading" role="tab" id="headingTwo">
                            <h3 class="panel-title">
                              <a class="collapsed" role="button" data-toggle="collapse" data-parent="#accordion2" href="#collapseTwoExe2" aria-expanded="false" aria-controls="collapseTwoExe2">
                                Can I  join next batch after paying for this batch?
                              </a>
                            </h3>
                          </div>
                          <div id="collapseTwoExe2" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingTwo">
                            <div class="panel-body">
                              <ol type="I">
                                <li>Requests for refund of fees on account of cancellation of enrolment shall be considered only if such requests are received prior to closure of registration or 21 days before date of course commencement whichever is earlier.</li>
                                <li>In event that such valid requests for refund of fees are received, the application money shall be refunded after deducting a penalty of Rs.5000 and applicable taxes for Indian participants & USD 125 for foreign participants.</li>
                                <li>In all other cases, no refund shall be made.</li>
                              </ol>
                            </div>
                          </div>
                        </li>
                        <li class="panel panel-default">
                          <div class="panel-heading" role="tab" id="headingThree">
                            <h3 class="panel-title">
                              <a class="collapsed" role="button" data-toggle="collapse" data-parent="#accordion2" href="#collapseThreeExe2" aria-expanded="false" aria-controls="collapseThreeExe2">
                                Do we get placement opportunity with this course?
                              </a>
                            </h3>
                          </div>
                          <div id="collapseThreeExe2" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingThree">
                            <div class="panel-body">
                              <ol type="I">
                                <li>Requests for refund of fees on account of cancellation of enrolment shall be considered only if such requests are received prior to closure of registration or 21 days before date of course commencement whichever is earlier.</li>
                                <li>In event that such valid requests for refund of fees are received, the application money shall be refunded after deducting a penalty of Rs.5000 and applicable taxes for Indian participants & USD 125 for foreign participants.</li>
                                <li>In all other cases, no refund shall be made.</li>
                              </ol>
                            </div>
                          </div>
                        </li>
                      </ul>
                    </article>
                  </div>
                </section>

              </div>
              <!-- inner left container end -->

              <!-- inner right container -->
              <div class="col-sm-3 pr">

              <!-- box-scroll start -->
              <div class="query-price-box-scroll">
                <div class="cls_samples_enquiry samples_enquiry">
                  <div class="col-sm-12 no-pad">
                    <!-- Enrol Now -->
                    <section class="exe-box mb-30 exe-show-enrol-now">
                      <figure>
                        <i></i>
                        <figcaption>
                          Batch starts:
                          <strong>05 Jan 2019</strong>
                          <span>Duration: <strong>4 months</strong></span>
                          <div class="sep mt-10 mb-10"></div>
                          Fees
                          <div class="exe-price">
                            Rs.90,000
                          </div>
                          <a class="exe-button-enrol mt-10" href="#">Enroll Now</a>
                          <a href="#" class="exe-download-brochure">
                            <i class="exe-icon-brochure"></i>
                            Download Brochure
                          </a>
                        </figcaption>
                      </figure>
                    </section>

                    <!-- Request a call -->
                    <section class="exe-box mb-30 exe-request-call-form">
                      <h2>Want help with this course?</h2>
                      <strong>Let our learning specialists guide you</strong>
                      <article class="col-sm-12 exe-box mt-15">
                        <form class="mt-10">
                          <div class="form-group">
                            <input type="text" class="form-control" id="exampleInputName" placeholder="Name">
                          </div>
                          <div class="form-group">
                            <input type="text" class="form-control" id="exampleInputEmail" placeholder="Email">
                          </div>
                          <div class="form-group">
                            <div class="country-code">
                              <div class="custom-select">
                                <select class="form-control" name="country_code">
                                  <option>+91</option>
                                  <option>+911</option>
                                </select>
                              </div>
                              <input type="text" class="form-control" id="exampleInputPhone" placeholder="Phone Number">
                            </div>
                          </div>
                          
                          <button type="submit" class="exe-button-submit mb-15">Request callback</button>
                        </form>
                      </article>
                    </section>
                  </div>
                  </div>
                </div>

              </div>
              <!-- inner right container end -->
            </div>
      </div>
      </section>
      <!-- main parent2 section end -->      
    {% endblock section2 %}

      
   </div>
   <div class="cls_hide_sticky_panel"></div>
{% endblock main_container %}



{% block js_section %}
    {{block.super}}
    {% compress js %}
    <script src="{% static 'shinelearn/js/common/plugin.activeOnScroll-executive.js' %}"></script>
    <script src="{% static 'shinelearn/js/cart/cart.js' %}"></script>
    <script src="{% static 'shinelearn/js/shop/detail.js' %}"></script>
    <script src="{% static 'shinelearn/js/common/scroller-executive.js' %}" type="text/javascript"></script>
    <script src="{% static 'shinelearn/js/users/login.js' %}"></script>
    {% endcompress %}
{% endblock js_section %}

  {% block zendesk %}
    {% if sqs.id in linkedin_resume_services %}
    {% else %}
      {{block.super}}
    {% endif %}
  {% endblock zendesk %}