{% load static compress resume_tags %}

{% if extracurricular|length >= 1 %}
  <div style="display: block; vertical-align: top; word-break: break-all;">
    <strong style="font-size: {{ current_config.heading_font_size|heading_font_size_choice }}px; display: block; font-weight: normal; color: #ffffff; text-transform: uppercase; margin-bottom: 15px; border-bottom: 1px solid #bd9f5e; padding-bottom: 5px;">Interest</strong>
    <ul style="margin: 20px 0 30px 0; padding: 0; font-size: {{ current_config.text_font_size|text_font_size }}px; color: #ffffff; list-style-type: disc;">
      {% for interest in extracurricular %}
        <li style="display: table; margin-bottom: 15px;"><span style="width: 8px; height: 8px; border-radius: 100%; background: #ffffff; display: inline-block; vertical-align: baseline; margin-right: 10px;"></span>{{interest}}</li>
      {% endfor %}
    </ul>
  </div>
{% endif %}