{% load static compress resume_tags %}
{% if languages|length >= 1 %}

<div style="display: block; vertical-align: top; word-break: break-word;">
    <strong style="font-size: {{ current_config.heading_font_size|heading_font_size_choice }}px; display: block; font-weight: normal; color: #ffffff; text-transform: uppercase; margin-bottom: 15px; border-bottom: 1px solid rgba(255, 255, 255, 0.5); overflow: hidden; padding-bottom: 5px;">{{preference_list.8.entity_text}}</strong>
    <ul style="margin: 20px 0 30px 0; padding: 0; font-size: 14px; color: #c5e6ff; list-style-type: none;">
        {% for language in languages %}
            <li style="vertical-align: top; display: inline-block; margin-bottom: 15px; width: 46.3%;">
                <span style="font-size: {{ current_config.text_font_size|text_font_size }}px; color: #ffffff; display: inline-block; vertical-align: top;">{{language.name}}</span> 
            </li>
        {% endfor %}
    </ul>
</div>
{% endif %}