{% load static compress resume_tags %}
<div style="vertical-align: top; font-size: 13px; color: #999999; margin-bottom: 30px;">
  <strong style="background: #333333; padding: 10px; display: block; text-transform: uppercase; color: #ffffff; font-weight: normal; font-size: {{ current_config.heading_font_size|heading_font_size_choice }}px;">{{ preference_list.3.entity_text }}</strong>
  <ul style="padding: 10px 0 0 0; margin: 0; list-style-type: none;">
    {% for project in projects %}
      <li style="vertical-align: top; margin: 10px 0;">
        <span style="width: 13px; height: 13px; border-radius: 100%; background: {{ current_config.color|background_color_choice }}; display: inline-block; margin-right: 10px; vertical-align: middle;"></span> 
        <span style="display: inline-block; width: 94%; vertical-align: top;">
          <strong style="display: block; font-size: {{ current_config.text_font_size|sub_heading_font_size }}px; color: #333333;">{{ project.project_name }}</strong>
          <p style="font-size: {{ current_config.text_font_size|text_font_size }}px; color: #777777; margin-top: 5px;">{{ project.description }}</p>
        </span>
      </li>
    {% endfor %}
  </ul>
</div>