.bullet {
  li {
    list-style-type: circle;
    list-style-position: inside;
    padding-bottom: 10px;
  }
}

.cms {
  .bullet {
    padding-left: 15px;

    li {
      // @extend %half-width;
      float: left;
      padding-right: 5px;
      // padding: 10px 5px;
      list-style-position: outside;
      min-height: 45px;
      padding-bottom: 0;
    }
  }
}

.bullet-blue {
  padding: 0 !important;

  li {
    position: relative;
    padding-left: 20px;
    list-style-type: none !important;

    &:not(:last-child) {
      margin-bottom: 15px;
    }

    &::before {
      @include size(6px, 6px, inline-block);
      @include border-radius(50%);
      content: '';
      background-color: $blue;
      position: absolute;
      left: 0;
      top: 7px;
    }
  }
}


.bullet-custom {
  padding: 0 !important;

  li {
    position: relative;
    padding-left: 20px;
    display:inline-block;
    list-style-type: none !important;

    &:not(:last-child) {
      margin-bottom: 20px;
    }

    &:after{
      // @extend %tick-blue;
      content: '';
      position: absolute;
      left: 0;
      top: 7px;
    }
  }

  &.tick {
    li {
      &:after{
        @extend %tick-blue;
      }
    }
  }
  
  &.arrow {
    li {
      display: block;

      &:not(:last-child) {
        margin-bottom: 10px;
      }

      &:after{
        @extend %arrow-blue;
      }
    }
  }
}

