.call-us {

  .ui-grid-a {
    width: 100%;
    margin: 0;
  }

  .ui-block-a {
    background-color: #3f8bff;
    font-size: 1em;

    span {
      @include icon-inblock (16px, 17px, 0 -376px);
      margin-right: 5px;
      position: relative;
      top: 2px;
    }
  }

  .ui-block-b {
    background-color: #5b9cff;

    span {
      @include icon-inblock (16px, 16px, 0 -215px);
      margin-right: 5px;
      position: relative;
      top: 3px;
    }
  }

  .ui-block-c {
    background-color: #3f8bff;

    span {
      @include icon-inblock (20px, 15px, -22px -216px);
      margin-right: 5px;
      position: relative;
      top: 3px;
    }
  }

  .ui-block-a, .ui-block-b, .ui-block-c {
    padding: 15px 10px;
    color: $txt-white;
    height: 50px;
    float: left;

    a {
      color: $txt-white;
    }
  }
}

.block-3 {
    .ui-block-a, .ui-block-b, .ui-block-c {
      width: 33.33%
    }
}


.enquire {
  position: fixed;
  top: 0;
  width: 100%;
  background-color: $bg-white;
  z-index: 999;
  height: 100vh;
  display: none;

  &::after {
    content: '';
    position: fixed;
    width: 100%;
    height: 100%;
    background-color: rgba($bg-black, .5);
    z-index: 1;
    left: 0;
  }

  &__wrap {
    padding: 15px;
    height: 100%;

    &--head {
      font-weight: 600;
      color: $txt-grey-333;
    }

    &--subhead {
      color: $txt-grey-666;
    }
  }

  .content-box {
    padding: 0;
  }

  &__flex {
    display: flex;
  }
}

.show {
  display: block !important;
}

.hide {
  display: none !important;
}
