.call-us {

  .ui-grid-a {
    width: 100%;
    margin: 0;
  }

  .ui-block-a {
    background-color: #3f8bff;
    font-size: 1em;

    span {
      @include icon-inblock (16px, 17px, 0 -376px);
      margin-right: 5px;
      position: relative;
      top: 2px;
    }
  }

  .ui-block-b {
    background-color: #5b9cff;

    span {
      @include icon-inblock (16px, 16px, 0 -215px);
      margin-right: 5px;
      position: relative;
      top: 3px;
    }
  }

  .ui-block-c {
    background-color: #3f8bff;

    span {
      @include icon-inblock (20px, 15px, -22px -216px);
      margin-right: 5px;
      position: relative;
      top: 3px;
    }
  }

  .ui-block-a, .ui-block-b, .ui-block-c {
    padding: 15px 10px;
    color: $txt-white;
    height: 50px;
    float: left;

    a {
      color: $txt-white;
    }
  }
}

.block-3 {
    .ui-block-a, .ui-block-b, .ui-block-c {
      width: 33.33%
    }
}

.enquire {
  position: fixed;
  top: 0;
  width: 100%;
  background-color: $bg-white;
  z-index: 999;
  height: 100vh;
  display: none;

  &::after {
    content: '';
    position: fixed;
    width: 100%;
    height: 100%;
    background-color: rgba($bg-black, .5);
    z-index: 1;
    left: 0;
  }

  &__wrap {
    padding: 15px;
    height: 100%;

    &--head {
      font-weight: 600;
      color: $txt-grey-333;
    }

    &--subhead {
      color: $txt-grey-666;
    }
  }

  .content-box {
    padding: 0;

    .number {
      margin-left: 0;
    }
  }

  &__flex {
    display: flex;
  }

  .mobile_input {
    width: 83%;
    padding-left: 15px;

    .form-control {
      width: 100%;
    }
  }
}

.show {
  display: block !important;
}

.hide {
  display: none !important;
}


.error{
    color:red;
}

#snackbar {
    visibility: hidden;
    background-color: #333;
    color: #fff;
    text-align: center;
    padding: 15px;
    position: fixed;
    left: 0;
    font-size: 17px;
    top: 0;
    height: 50px;
    width:100%;
    z-index:99;
}

#snackbar.show {
    visibility: visible;
    -webkit-animation: fadein 0.5s, fadeout 0.5s 2.5s;
    animation: fadein 0.5s, fadeout 0.5s 2.5s;
}

.enquire-cta {
  display: flex;
  background-color: $bg-blue;
  height: 50px;
  color: $txt-white;
  box-shadow: 0 0 6px rgba($bg-black, .2);

  a {
    color: $txt-white;
    text-align: center;
    font-size: $font-size-xs;
    padding: 0 10px;
    flex-grow: 1;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    &:not(:last-child) {
        border-right: 1px solid rgba($bg-white, .5);
    }

    i {
      @include size (18px, 17px, block);
      margin-top: 4px;
    }
  }
}



.new-enquire{
  position: fixed;
  top:  0px;
  width: 100%;
  background-color: $bg-white;
  z-index: 999;
  height: 100vh;
  display: none;
  transition: all 0.3s;


  &__wrap {
    padding: 15px;
    height: 100%;

    &--image {
      display: block;
      margin: 50px 0 10px 0;
      text-align: center;
    }

    &--head {
      font-weight: 600;
      color: $txt-grey-333;
      text-align: center;
    }

    &--subhead {
      color: $txt-grey-666;
      text-align: center;
      font-weight: 100;
      padding-top: 10px;
      padding-bottom: 30px;
    }

    .form-group {
      margin-bottom: 30px;
    }

    select {
      height: 48px;
      border-radius: 4px;
    }

  }
}

.new-login-form{
  display: block;

  .code{
    margin-right: 10px;
    width: 30%;
  }
  
  .number-w67{
    width: 67%;
  }

}

.close {
  position: absolute;
  right: 32px;
  top: 32px;
  width: 32px;
  height: 32px;
  opacity: 0.8;
  display: block;
  cursor: pointer;
}
.close:hover {
  opacity: 1;
}
.close:before, .close:after {
  position: absolute;
  left: 15px;
  content: ' ';
  height: 22px;
  width: 2px;
  background-color: #333;
}
.close:before {
  transform: rotate(45deg);
}
.close:after {
  transform: rotate(-45deg);
}

.enquire-focus{
  transform: translateY(-130px);
  height:130vh;
}



.offer-modal {
  &--image {
    background-image: url(#{$fullpath}offer-image.png);
    @include size(100%, 185px, block);
    background-repeat: no-repeat;
    background-size: cover;
  }

  &--head {
    font-size: $font-size-lg;
    margin-bottom: 10px;
    margin-top: 15px;
    color: $gray-darker;
  }

  &--formBox {
    padding: 15px;

    select {
      background-position: 93% 6px !important;
    }
  }


  &__counter {
    display: flex;

    li {
      text-align: center;

      &:not(:last-child) {
        margin-right: 10px;
      }
    }

    &--box {
      @include size(45px, 39px, flex);
      align-items: center;
      justify-content: center;
      font-size: 1.375rem;
      color: $white;
      border-radius: 2px;
      background: #4cb1c0;
      background: -moz-linear-gradient(-45deg,  #4cb1c0 0%, #569cc8 22%, #7067dc 100%);
      background: -webkit-linear-gradient(-45deg,  #4cb1c0 0%,#569cc8 22%,#7067dc 100%);
      background: linear-gradient(135deg,  #4cb1c0 0%,#569cc8 22%,#7067dc 100%);

    }

    &--title {
      font-size: 0.625rem;
      color: $gray-dark;
      text-transform: uppercase;
    }
  }


}



