
.error {
  color: $error;
  
  .form-control,
  .form--control {
    border-color: $error;
    /*color: $error;*/
  }

  .mgs {
    font-size: 85%;
    padding-top: 3px;
    color: $error;
    display: block;
    padding-bottom: 0;
  }
  .form--control {
    box-shadow: 0 0 10px rgba($error, .3);
  }

  &--mgs {
    font-size: $font-size-xs;
    color: $error;
    position: absolute;
    right: 10px;
    top: 13px;
    display: none;
  }

  .error--mgs {
    display: block;
  }
}



.mgs {
  display: none;
}

.error-txt {
  display: none; 
}

.error-txt{
  color: $error;
  font-size: 11px;
}


.form-group label.error {
    font-size: 11px;
    padding-top: 3px;
    color: #f34a38;
    display: block;
    padding-bottom: 0;
}