.form-group {
  margin-bottom: 15px;
  position: relative;
}

// clear all inputs
%normal-input {
  font-family: $font-family;
  font-size: 0.875em;
  line-height: 1.3;
  margin: 0;
}

input {
  @extend %normal-input;

  &:focus {
    border: 1;
    box-shadow: none;
    outline: none;
  }
}

select {
  @extend %normal-input;
  @include appearance(none);
  @include size(100%, 40px);
  background: url($dropdown-default);
  background-color: $bg-white;
  background-position: 98% 2px;
  background-repeat: no-repeat;
  border: 1px solid $border-grey-c1;
  color: $txt-grey-999;
  font-family: $font-family;
  font-size: 12px;
  outline: 0;
  padding: 6px 30px 6px 6px;
  text-align: left;
  transition: all .3s ease;

  option {
    padding: 6px;
  }
}


textarea {
  @extend %normal-input;

  &.form-control {
    height: auto;
  }
}

button {
  @extend %normal-input;
  @include appearance(none);
}




.input-group {
  border-collapse: separate;
  display: table;
  position: relative;
  margin-bottom: 15px;
  width: 100%;

  .form-control {
    border: 1px solid $border-grey-c1;
    float: left;
    margin-bottom: 0;
    position: relative;
    width: 100%;
    z-index: 2;
  }
}


.input-group {
  .form-control {
    @extend %display-cell;
  }
}

.input-group-addon {
  @extend %display-cell;
  @extend %table-gap;
  background-color: $bg-white;
  color: #555;
  padding: 6px 12px;
  text-align: center;
  font-weight: 400;
  line-height: 1;
  text-align: center;
  border: 1px solid #ddd;

  &:first-child {
    border-bottom-right-radius: 0;
    border-top-right-radius: 0;
    border-right: 0;
  }

  &:last-child {
    border-left: 0 none;
    border-radius: 0;
  }
}

.input-group-btn {
  @extend %display-cell;
  @extend %table-gap;
}

.form-control {
  @extend %form-control;
  
  &::-moz-placeholder {
    color: $txt-grey-999;
    opacity: 1;
  }
}


.comment-wrap {
  ul {
    border-bottom: 1px solid $border-grey-f2;
    margin-bottom: 15px;

    li {
      padding-left: 50px;
      font-size: 100%;
      margin-bottom: 20px;
      list-style-type: none !important;

      sup {
        @include box (40px, 40px);
        @include border-radius (50%);
        background-color: $bg-grey-eb;
        position: absolute;
        left: 15px;

        img {
          @include box (40px, 40px);
          @include border-radius (50%);
        }
      }
    }
  }
}

.leave-comment {
  background-color: $gray-g6;
  overflow: hidden;
  padding: 15px;

  &--head {
    font-size: $font-size-md;
    font-weight: $font-weight-bold;
  }

  &--textarea {
    border: 1px solid #E6E6E6;
    background-color: $white;
    padding: 12px;
    height: 80px;
    width: 100%;
  }

  strong {
    font-size: $font-base;
    color: $gray-dark;
    font-weight: 600;
    text-transform: uppercase;
    margin-bottom: 15px;
    display: block;
  }
}