header {
  @include box(100%, 50px);
  @include position(relative, 0 0 null null, 9);
  background-color: $bg-blue;
  //box-shadow: $box-shadow-first;
  padding: 15px;

  img {
    position: absolute;
    right: 0;
    top: 0;
    width: auto;
    height: 100%;
    opacity: .15
  }
}

.heading-back {
  font-size: 1.250em;
  color: $txt-white;
  font-weight: 600;
  margin: 15px 0 0;
  line-height: 26px;
}

.header-taging {
  li {
    display: inline-block;
    font-size: 14px;
    margin: 3px 2px;

    a {
      @include border-radius (3px); 
      background-color: $blue-opacity;
      display: block;
      padding: 5px 10px;
      color: $txt-white;
    }
  }
}