.offer {
    background: #4cb1c0;
    background: -moz-linear-gradient(-45deg, #4cb1c0 0%, #559ec7 48%, #7067dc 100%);
    background: -webkit-linear-gradient(-45deg, #4cb1c0 0%,#559ec7 48%,#7067dc 100%);
    background: linear-gradient(135deg, #4cb1c0 0%,#559ec7 48%,#7067dc 100%);
    color: $white;
    font-size: $font-size-14;
    padding: 10px 15px;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;

    &--link {
        font-weight: $font-weight-bold;
        color: $yellow;
        text-decoration: underline;
    }

    .close {
        top: 3px;
        right: 3px;
        opacity: .6;

        &::before,
        &::after {
            height: 15px;
            width: 2px;
            background-color: $white;
            left: 18px;
            top: 9px;
        }
    }
}