.rating {
  color: $txt-grey-666;
  margin: 0 5px;

  span {
    color: $txt-grey-333;
  }

  sup {
    @include size (13px, 12px, inline-block);
    position: relative;
    top: 5px;
  }

  .fill-star {
    background-position: -35px -110px;
  }

  .unfill-star {
    background-position: -50px -110px;
  }
}



/* Ratings widget */
.rate {
  display: inline-block;
  border: 0;
}

/* Hide radio */
.rate > input {
  display: none;
}

/* Order correctly by floating highest to the right */
.rate > label {
  color: #e1e1e1;
  float: right;
  height: 16px;
}

/* The star of the show */
.rate > label:before {
  content: "\2605" !important;
  display: inline-block;
  font-size: 18px;
  padding: 0;
  margin: 0;
  cursor: pointer;
  border: 0 !important;
  /* full star */
}

/* Half star trick */
.rate .half:before {
  content: "\2605 ";
  position: absolute;
  padding-right: 0;
}

/* Click + hover color */
.rating-feedback input:checked ~ label,
.rating-feedback label:hover, label:hover ~ label {
  color: #3f5f94;
}

/* color previous stars on hover */
/* Hover highlights */
.rating-feedback input:checked + label:hover, 
.rating-feedback input:checked ~ label:hover,
.rating-feedback input:checked ~ label:hover ~ label,
.rating-feedback label:hover ~ input:checked ~ label {
  color: #3f5f94;
}

.rating-feedback input:checked ~ label:hover:before {
  border: 0 none;
}


.rating-feedback [type="radio"]:checked + label:after, 
.rating-feedback [type="radio"]:not(:checked) + label:after {
  background: none;
}

.rating-feedback [type="radio"]:checked + label, 
.rating-feedback [type="radio"]:not(:checked) + label {
  padding-left: 22px;
}