.related-article {
  background-color: $bg-grey-eb;
  padding: 15px;

  a {
    color: $txt-grey-666;
  }

  h2 {
    color: $txt-blue-1f3;
    font-weight: 600;
  }

  .media-heading {
    color: $txt-grey-666;
    font-weight: 600;
    font-size: 14px;
  }

  .media-body {
    font-size: 1.2em;
    font-weight: 600;

    p {
      line-height: 1.2em;
      font-size: 14px;
      font-weight: 600;
    }
  }
}

.related-article {
  .slick-initialized .slick-slide {
    width: 345px;
    padding-right: 15px;
  }
}


.related-article-new {

  &__list {
    display: flex;
    margin: 0 -10px;
    width: 100%;
    overflow-x: auto;
    overflow-y: hidden;
    padding-bottom: 15px;

    &--item {
      flex: 0 0 230px;
      padding: 10px;
    }

    &--box {
      border-radius: 4px;
      overflow: hidden;
      box-shadow: 0 0 10px rgba($bg-black, .1);
    }

    &--content {
      padding: 15px;
    }
  }

  .heading-article {
    height: 60px;

    a {
      color: $txt-grey-666;
      text-decoration: none !important;
    }
  }

  
}