{% extends "console/base_console.html" %}
{% load static compress %}
{% load humanize %}
{% load console_tags %}

{% block title %}
  <title>Change Article</title>
{% endblock title %}

{% block css_block %}
  {{ block.super }}

  {% compress css %}
  <link type="text/css" href="{% static 'console/css/myadmin/django-admin-widgets.css' %}" rel="stylesheet">
  <link type="text/css" href="{% static "console/css/datepicker/bootstrap-datetimepicker.min.css" %}" rel="stylesheet">
  {% endcompress %}                
{% endblock css_block %}


{% block pagecontent %}
        <!-- page content -->
<div class="right_col" role="main">
  <div class="">
    <div class="page-title">
        <div class="col-lg-3">
           <a class="btn btn-app" target="_blank" href="{% url "console:blog-article-add" %}">
          <i class="fa fa-edit"></i> Add Article</a>
        </div>
        <div class="col-lg-3">
           <a class="btn btn-app" target="_blank" href="{% url "console:blog-tag-add" %}">
          <i class="fa fa-edit"></i> Add Tag</a>
        </div>

        <div class="col-lg-3">
           <a class="btn btn-app" target="_blank" href="{% url "console:blog-category-add" %}">
          <i class="fa fa-edit"></i> Add Category</a>
        </div>
        <div class="col-lg-3">
           <a class="btn btn-app" target="_blank" href="{{object.get_absolute_url}}">
          <i class="fa fa-eye"></i> View on Site</a>
        </div>
    </div>

    <div class="row">
      <div class="col-md-12 col-sm-12 col-xs-12">
        {% if messages %}
            {% for message in messages %}

              <div{% if message.tags %} class="alert alert-{{ message.tags }} alert-dismissable"{% endif %}>
              <button type="button" class="close" data-dismiss="alert" aria-hidden="true">&times;</button>

              {{ message }}
              </div>
            {% endfor %}
        {% endif %}

      </div>
    </div>
    <div class="clearfix"></div>

    <div class="row">
      <div class="col-md-12 col-sm-12 col-xs-12">
        <div class="x_panel">
          <div class="x_title">
            <h2>Change Article <small>(change existing article.)</small></h2>

            <ul class="nav navbar-right panel_toolbox">
              <li><a class="collapse-link"><i class="fa fa-chevron-up"></i></a>
              </li>
            </ul>
            <div class="clearfix"></div>
          </div>
          <div class="x_content">
            <form class="form-horizontal form-label-left" data-parsley-validate method="POST" enctype='multipart/form-data'  action="." id="article-change-form">
              {% csrf_token %}
              {{ form.media }}
              
              {% if form.non_field_errors %}
                <div class="alert alert-danger alert-dismissible fade in" role="alert">
                  <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">×</span>
                  </button>
                  {{form.non_field_errors}}
                </div>
              {% endif %}

              <fieldset>
                  {% for field in form %}
                      {% if field.errors %}
                          <div class="form-group error">
                              <label class="control-label col-md-3 col-sm-3 col-xs-12">{{ field.label }}</label> 
                              <div class="col-md-6 col-sm-6 col-xs-12">{{ field }}
                              <p class="text-danger">
                                  {% for error in  field.errors %}{{ error }}{% endfor %}
                              </p>
                              </div>
                          </div>
                      {% else %}

                          {% comment %}
                          {% if field.name == 'start_date' %}
                          <div class="form-group">
                            <label class="control-label col-md-3 col-sm-3 col-xs-12">{{ field.label }}</label>
                            <div class="">

                              <div class="col-md-6 col-sm-6 col-xs-12">
                                {{ field }}
                                {% if field.help_text %}
                                    <p class="text-muted"><small>{{ field.help_text }}</small></p>
                                {% endif %}
                              </div>
                            </div>
                          </div>

                          {% else %}
                          {% endcomment %}
                          <div class="form-group">
                              <label class="control-label col-md-3 col-sm-3 col-xs-12">{{ field.label }}</label> 

                              <div class="col-md-6 col-sm-6 col-xs-12">
                                  {{ field }}
                                  {% if field.help_text %}
                                      <p class="text-muted"><small>{{ field.help_text }}</small></p>
                                  {% endif %}
                              </div>
                          </div>
                      {% endif %}
                      <br/>
                  {% endfor %}
                </fieldset>
                <div class="form-group">
                  <div class="col-md-6 col-sm-6 col-xs-12 col-md-offset-3">
                    <center><button type="submit" class="btn btn-success">Submit</button></center>
                  </div>
              </div>
            </form>
                    
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
        <!-- /page content -->
{% endblock pagecontent %}

        
{% block js_block %}
  {{ block.super }}

  {% compress js %}
  <script src="{% static 'console/js/myadmin/django-admin.multiselect.js' %}"></script>

  <script src="{% static 'console/js/blog/blog.js' %}"></script>
  <!-- Parsley Validate Scripts -->
  <script type="text/javascript" src="{% static 'packages/parsleyjs/parsley.min.js' %}"></script>
  <script src="{% static 'console/js/blog/article-change.js' %}">
  </script>

  <script src="{% static 'console/js/datepicker/bootstrap-datetimepicker.js' %}"></script>
  {% endcompress %}


{% endblock js_block %}
