{% extends "console/base_console.html" %}
{% load static compress %}
{% load humanize %}
{% load thumbnail %}

{% block title %}
  <title>Article Listing</title>
{% endblock title %}

{% block css_block %}
    {{block.super}} 
{% endblock css_block %}



{% block pagecontent %}
<!-- page content -->
<div class="right_col" role="main">
  <div class="">
    <div class="page-title">
      <div class="title_left">
        <h3>Articles</h3>
      </div>

      <form class="form-group" method="GET" action="{% url 'console:blog-article-list' %}" id="filter-tables">
          <div class="title_right">
            <div class="col-md-6 col-sm-6 col-xs-12 form-group pull-right top_search">
              <div class="input-group">
                <input type="text" name="query" class="form-control" {% if query %} value="{{query}}" {% endif %} placeholder="Search for...">
                {% if sel_writer %}
                   <input type="hidden" name="user" value="{{sel_writer}}">
               {% endif %}
               {% if not sel_status == -1 %}
                   <input type="hidden" name="status" value="{{sel_status}}">
               {% endif %}
               {% if sel_p_cat %}
                   <input type="hidden" name="p_cat" value="{{sel_p_cat}}">
               {% endif %}
                <span class="input-group-btn">
                  <button type="submit" class="btn btn-default" id="search_button" type="button">Go!</button>
                </span>
              </div>
            </div>
          </div>
      </form>
    </div>

    <div class="row top_tiles">
      <div class="col-lg-3 col-md-3 col-sm-6 col-xs-12">
           <a class="btn btn-app" href="{% url "console:blog-article-add" %}">
          <i class="fa fa-edit"></i> Add New Article</a>
      </div>
      <div class="col-lg-3 col-md-3 col-sm-6 col-xs-12">
        <button type="button" class="btn btn-app" data-toggle="modal" data-target=".bs-example-modal-sm"><i class="fa fa-filter"></i> Filter Articles</button>
        <div class="modal fade bs-example-modal-sm filter" tabindex="-1" role="dialog" aria-hidden="true">
            <div class="modal-dialog modal-sm">
              <div class="modal-content">

                <div class="modal-header">
                  <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">×</span>
                  </button>
                  <h4 class="modal-title" id="myModalLabel2">Filter By</h4>
                </div>
                <div class="modal-body">
                  <form class="form-group" method="GET" action="{% url 'console:blog-article-list' %}" id="filter-article-form">
                      {% for field in filter_form %}
                      <div class="form-group">
                            <label class="control-label col-md-3 col-sm-3 col-xs-12">{{ field.label }}</label> <br/>

                            <div class="col-md-12 col-sm-12 col-xs-12">
                                {{ field }}
                                {% if field.help_text %}
                                    <p class="text-muted"><small>{{ field.help_text }}</small></p>
                                {% endif %}
                            </div>
                            <br/>
                        </div>
                       {% endfor %}
                       {% if self.query %}
                           <input type="hidden" name="query" value="{{query}}">
                       {% endif %}
                    </form>
                </div>
                <div class="modal-footer">
                  <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                  <button type="button" id="id_filter" class="btn btn-primary" data-dismiss="modal">Filter</button>
                </div>
              </div>
            </div>
        </div>
        <!-- /modals -->
      </div>
    </div>

    <div class="row">
      <div class="col-md-12 col-sm-12 col-xs-12">
        {% if messages %}
            {% for message in messages %}

              <div{% if message.tags %} class="alert alert-{{ message.tags }} alert-dismissable"{% endif %}>
              <button type="button" class="close" data-dismiss="alert" aria-hidden="true">&times;</button>

              {{ message }}
              </div>
            {% endfor %}
        {% endif %}

      </div>
    </div>



    
    <div class="clearfix"></div>
    
    <div class="row">

      <div class="col-md-12 col-sm-12 col-xs-12">
        <div class="x_panel">
          <div class="x_title">
            <h2>Listing</h2>
            <ul class="nav navbar-right panel_toolbox">
              <li><a class="collapse-link"><i class="fa fa-chevron-up"></i></a>
              </li>
            </ul>
            <div class="clearfix"></div>
          </div>

          <div class="x_content">

            <div class="table-responsive">
              <table class="table table-striped jambo_table bulk_action">
                <thead>
                  <tr class="headings">
                    <th class="column-title">#</th>
                    <th class="column-title">Name</th>
                    <th class="column-title">Slug</th>
                    <th class="column-title" style="cursor: pointer;" onclick="sortByLastModified()">Last Modified<i id="sortAngle_lm" class="fa {% if sortdate_lm == 3 %} fa-angle-down {% else %} fa-angle-up {% endif %} "></i></th>
                    <th class="column-title">Status</th>
                    <th class="column-title" style="cursor: pointer;" onclick="sortByDate()">Publish Date <i id="sortAngle" class="fa {% if sortdate == 1 %} fa-angle-down {% else %} fa-angle-up {% endif %} "></i></th>
                    <th class="column-title">View on Site</th>
                  </tr>
                </thead>

                <tbody>
                  {% for obj in page %}
                  
                    <tr class="even pointer">
                      <td>{{obj.pk}}&nbsp;<small><a href="{% url "console:blog-article-update" obj.pk %}" class="btn btn-info btn-xs"><i class="fa fa-pencil"></i> Edit </a></small>
                      </td>

                      <td>
                        <a >{{obj.name}}</a>
                        <br />
                        <small>Modified {{obj.last_modified_on|naturaltime}}</small>
                      </td>
                      <td>
                        {{obj.slug}}
                      </td>
                      <td>
                        {{obj.last_modified_on}}
                      </td>
                      <td>
                        {{obj.get_status}}
                      </td>
                      <td>
                        {% if obj.publish_date %}
                            {{obj.publish_date}}
                        {% else %}
                            Not Published
                        {% endif %}
                      </td>
                        <td>
                             <a class="btn btn-info btn-xs" target="_blank" href="{{obj.get_absolute_url}}">
                             <i class="fa fa-eye"></i>View</a>

                        </td>
                    </tr>
                  {% endfor %}
                </tbody>
              </table>
            </div>
                   
            {% block main_pagination %}
                <div class="main_pagination">
                  {% if page %}
                  <div class="col-sm-4">
                       <div class="pull-left" style="display: inline-block;adding-left: 0;margin: 20px 0;">
                        {% with current_page=page.number total_page=page.paginator.num_pages %}Page {{ current_page }} of {{ total_page }}
                        {% endwith %}
                      </div>
                  </div>
                  

                <div class="col-sm-8">
                    <div class="pull-right">
                        <ul class="pagination">
                        {% if page.has_previous %}
                            <li class="paginate_button previous">
                                <a href="?page={{ page.previous_page_number }}{% for key,value in request.GET.items %}{% ifnotequal key 'page' %}&{{ key }}={{ value }}{% endifnotequal %}{% endfor %}" >&laquo;</a>
                            </li>
                        {% endif %}

                        {% for page_number in begin %}
                            <li class="paginate_button {% ifequal page.number page_number %} active disable {% endifequal %} ">
                                <a href="?page={{ page_number }}{% for key,value in request.GET.items %}{% ifnotequal key 'page' %}&{{ key }}={{ value }}{% endifnotequal %}{% endfor %}" >{{ page_number }}</a>
                            </li>
                        {% endfor %}

                        {% if middle %}
                            <li class="paginate_button disable"><a href="javascript:void(0);">&hellip;</a></li>
                            {% for page_number in middle %}
                                <li class="paginate_button {% ifequal page.number page_number %} active disable {% endifequal %}">
                                    <a href="?page={{ page_number }}{% for key,value in request.GET.items %}{% ifnotequal key 'page' %}&{{ key }}={{ value }}{% endifnotequal %}{% endfor %}" >{{ page_number }}</a>
                                    
                                </li>
                            {% endfor %}
                        {% endif %}

                        {% if page_end %}
                            <li class="paginate_button disable"><a href="javascript:void(0);">&hellip;</a></li>
                            {% for page_number in page_end %}
                                <li class="paginate_button {% ifequal page.number page_number %} active disable {% endifequal %}">
                                    <a href="?page={{ page_number }}{% for key,value in request.GET.items %}{% ifnotequal key 'page' %}&{{ key }}={{ value }}{% endifnotequal %}{% endfor %}" >{{ page_number }}</a>
                                </li>
                            {% endfor %}
                        {% endif %}

                        {% if page.has_next %}
                            <li class="paginate_button next">
                                <a href="?page={{ page.next_page_number }}{% for key,value in request.GET.items %}{% ifnotequal key 'page' %}&{{ key }}={{ value }}{% endifnotequal %}{% endfor %}" >&raquo;</a>
                            </li>
                        {% endif %}
                    </ul>
                  </div>
                </div>
                {% endif %}


      </div><!-- main_pagination end here -->
      {% endblock main_pagination %}
     
                
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<!-- /page content -->


{% endblock pagecontent %}

        
{% block js_block %}
  {{ block.super }}
<script>
   var sorting = '{{sortdate}}';
   var sorting_lm = '{{sortdate_lm}}';
   </script>
  <!-- Parsley Validate Scripts -->
  {% compress js %}
  <script type="text/javascript" src="{% static 'packages/parsleyjs/parsley.min.js' %}"></script>
  <script src="{% static 'console/js/blog/blog-list.js' %}"></script>
  {% endcompress %}

{% endblock js_block %}
