{% extends "console/base_console.html" %}
{% load static compress %}
{% load humanize %}
{% load console_tags %}

{% block title %}
  <title>Change Tag</title>
{% endblock title %}

{% block css_block %}
  {{ block.super }}

  {% compress css %}
  <!-- Switchery -->
  <link href="{% static 'packages/switchery/dist/switchery.min.css' %}" rel="stylesheet" type="text/css">
  {% endcompress %}
                
{% endblock css_block %}


{% block pagecontent %}
        <!-- page content -->
<div class="right_col" role="main">
  <div class="">
    <div class="page-title">
      <div class="title_left">
        <h3>&nbsp;</h3>

        
      </div>
    </div>
    <div class="row">
      <div class="col-md-12 col-sm-12 col-xs-12">
        {% if messages %}
            {% for message in messages %}

              <div{% if message.tags %} class="alert alert-{{ message.tags }} alert-dismissable"{% endif %}>
              <button type="button" class="close" data-dismiss="alert" aria-hidden="true">&times;</button>

              {{ message }}
              </div>
            {% endfor %}
        {% endif %}

      </div>
    </div>
    <div class="clearfix"></div>

    <div class="row">
      <div class="col-md-12 col-sm-12 col-xs-12">
        <div class="x_panel">
          <div class="x_title">
            <h2>Change Tag <small>(change existing Tag.)</small></h2>

            <ul class="nav navbar-right panel_toolbox">
              <li><a class="collapse-link"><i class="fa fa-chevron-up"></i></a>
              </li>
            </ul>
            <div class="clearfix"></div>
          </div>
          <div class="x_content">
                <form class="form-horizontal form-label-left" data-parsley-validate method="POST" action="." novalidate id="tag-change-form">
              {% csrf_token %}
              {{form.media}}
              
              {% if form.non_field_errors %}
                <div class="alert alert-danger alert-dismissible fade in" role="alert">
                  <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">×</span>
                  </button>
                  {{form.non_field_errors}}
                </div>
              {% endif %}

              <fieldset>
                  {% for field in form %}
                      {% if field.errors %}
                          <div class="form-group error">
                              <label class="control-label col-md-3 col-sm-3 col-xs-12">{{ field.label }}</label> 
                              <div class="col-md-6 col-sm-6 col-xs-12">{{ field }}
                                  <p class="text-danger">
                                      {% for error in  field.errors %}{{ error }}{% endfor %}
                                  </p>
                              </div>
                          </div>
                      {% else %}
                          <div class="form-group">
                              <label class="control-label col-md-3 col-sm-3 col-xs-12">{{ field.label }}</label> 

                              <div class="col-md-6 col-sm-6 col-xs-12">
                                  {{ field }}
                                  {% if field.help_text %}
                                      <p class="text-muted"><small>{{ field.help_text }}</small></p>
                                  {% endif %}
                              </div>
                          </div>
                      {% endif %}
                      <br/>
                  {% endfor %}
                </fieldset>
                <div class="form-group">
                  <div class="col-md-6 col-sm-6 col-xs-12 col-md-offset-3">
                    <center><button type="submit" class="btn btn-success">Submit</button></center>
                  </div>
              </div>
            </form>
                    
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
        <!-- /page content -->
{% endblock pagecontent %}

        
{% block js_block %}
  {{ block.super }}

  {% compress js %}
  <!-- Parsley Validate Scripts -->
  <script type="text/javascript" src="{% static 'packages/parsleyjs/parsley.min.js' %}"></script>

  <!-- Switchery -->
  <script type="text/javascript" src="{% static 'packages/switchery/dist/switchery.min.js' %}"></script>
  {% endcompress %}


{% endblock js_block %}
