@import '../../../../styles/functions';
@import '../../../../styles/variables';
@import '../../../../styles/mixins';

.resume-detail {
    display: flex;
    box-shadow: 0 0 20px rgba($black, .1);
    border-radius: 5px;
    overflow: hidden;

    &__list {
        padding: 15px 0;
        margin: 0;
        background-color: #F8F3FF;
        max-width: 400px;
        flex: 0 0 405px;

        li {
            list-style-type: none;
            padding: 20px 15px 20px 25px;
            font-size: $font-size-base + .2;
            position: relative;
            box-shadow: -15px 0 20px rgba($black, 0);
            display: flex;
            justify-content: space-between;
            align-items: center;
            cursor: pointer;
            border-left: 3px solid transparent;
            transition: box-shadow 0.3s ease-in-out;

            &:hover, 
            &.active {
                background-color: $white;
                box-shadow: -15px 0 20px rgba($black, .1);
                font-weight: $font-weight-semibold;
                border-left-color: $blue;
            }

            &:not(:last-child) {
                border-bottom: 1px solid rgba($black, 0.07);
            }

            span {
                color: $gray-900;

                strong {
                    color: $gray-300;
                    font-size: $font-size-base;
                }
            }
        }
    }

    &__contentWrap {
        padding: 30px 40px 40px;
        flex: 1;
    }

    &__content {
        &--head {
            display: flex;
            align-items: center;
            justify-content: space-between;
            border-bottom: 1px solid rgba($black, 0.07);
            margin-bottom: 30px;
            padding-bottom: 15px;
        }

        ul {
            padding-left: 15px;

            li {
                @extend %blue-bullet ;
                list-style-type: none;
                display: flex;
                position: relative;

                &:not(:last-child) {
                    padding-bottom: 15px;
                }
            }
        }
    }
}


.mark-info {
    margin: 15px 0;
    display: flex;
    justify-content: flex-end;
    align-items: center;
}


// Sm Progress Circle



.sm-progress-circle {
	width:  $circle-size-sm;
    height: $circle-size-sm;
	background-color: $circle-background;
    border-radius: 50%;
    position: relative;

    &__text {
        position: absolute;
        z-index: 1;
        color: $gray-300;
        width: 100%;
        text-align: center;

        strong {
            font-size: 18px;
            position: relative;
            top: 12px;
            
        }
    }
    
        .sm-progress-circle__slice, 
        .sm-progress-circle__fill {
			width:    $circle-size-sm;
			height:   $circle-size-sm;
			position: absolute;
			-webkit-backface-visibility: hidden;
			transition: transform $transition-length;
			border-radius: 50%;
		}
		.sm-progress-circle__slice {
			clip: rect(0px, $circle-size-sm, $circle-size-sm, $circle-size-sm/2);
			.sm-progress-circle__fill {
				clip: rect(0px, $circle-size-sm/2, $circle-size-sm, 0px);
				background-color: $circle-color;
			}
	}
	.sm-progress-circle__overlay {
		width:       $inset-size-sm;
		height:      $inset-size-sm;
		position:    absolute;
		margin-left: ($circle-size-sm - $inset-size-sm)/2;
		margin-top:  ($circle-size-sm - $inset-size-sm)/2;

		background-color: $inset-color;
		border-radius: 50%;
	}

	$i: 0;
	$increment: 180deg / 100;
	@while $i <= 100 {
		&[data-progress='#{$i}'] {
				.sm-progress-circle__slice.full, .sm-progress-circle__fill {
          transform: rotate($increment * $i);
				}	
				.sm-progress-circle__fill.sm-progress-circle__bar {
					transform: rotate($increment * $i * 2);
				}
      $i: $i + 1;
		}
	}
}