@import '../../../styles/variables/vars.scss';
@import '../../../styles/variables/mixins.scss';

footer {
	background: #2e5da5;
	@include flexbox();
	flex-direction: row;
	height: 70px;
	color: #9dabd0;

	.container {
		@include flexbox();
		align-items: center;
  		justify-content: center;

		&--footer-links {
			flex: 1;
			flex-direction: column;
			margin-top: 25px;

			a {
				color: #9dabd0;
				margin-right: 30px;
			}
		}

		&--footer-txt {
			justify-content: flex-end;
			flex: 0 0 250px;
			flex-direction: column;
			margin-top: 25px;
		}
	}
}