{% load static compress resume_tags %}
<div style="vertical-align: top; font-size: 13px; color: #333333; margin-bottom: 30px; display: inline-block; width: 47.5%; margin-right: 2%;">
          <strong style="background: #333333; padding: 10px; display: block; text-transform: uppercase; color: #ffffff; font-weight: normal; font-size: 16px;">Skills</strong>

          <div style="width: 65%; margin: 3% 0 0 19%; display: inline-block; font-size: 13px; color: #333333; text-align: center;">
            <!--5 skills-->
            <div style="padding: 0; display: table; margin: 20% 0 5% 30%; height: 200px;">
              <div style="position: relative;">
                <div style="position: absolute; left: 0; right: 0; display: table-cell; margin: 10px auto; width: 130px; height: 130px; border-radius: 50%; background-color: #ebebeb; background-image: linear-gradient(14.4deg, #d8d8d8 50%, transparent 50.1%, transparent),linear-gradient(270deg, #d8d8d8 50%, #ebebeb 50.1%, #ebebeb); text-align: center;">
                  <span style=" position: absolute; left: 50%; top: 50%; display: block; width: 100px; height: 100px; margin-left: -38%; margin-top: -38%; text-align: center; border-radius: 50%; background: #f4f4f4; z-index: 1; vertical-align: middle;">
                    <span style="display: block; margin: 36% 1px 0 1px; color: #333333; font-size: 13px; line-height: 13px;">Data Engineering</span>
                  </span>
                </div>
                <div style="position: absolute; top: -80px; left: 25px; display: table-cell; margin: 10px auto; width: 85px; height: 85px; border-radius: 50%; background-color: #ebebeb; background-image: linear-gradient(14.4deg, #ef8080 50%, transparent 50.1%, transparent),linear-gradient(270deg, #ef8080 50%, #ebebeb 50.1%, #ebebeb); text-align: center;">
                  <span style=" position: absolute; left: 50%; top: 50%; display: block; width: 65px; height: 65px; margin-left: -38%; margin-top: -39%; text-align: center; border-radius: 50%; background: #f4f4f4; z-index: 1; vertical-align: middle;">
                    <span style="display: block; margin: 36% 1px 0 1px; color: #333333; font-size: 13px; line-height: 13px;">Dev OPS</span>
                  </span>
                </div>
                <div style="position: absolute; top: 25px; right: -210px; display: table-cell; margin: 10px auto; width: 85px; height: 85px; border-radius: 50%; background-color: #ebebeb; background-image: linear-gradient(14.4deg, #a7c4f4 50%, transparent 50.1%, transparent),linear-gradient(270deg, #a7c4f4 50%, #ebebeb 50.1%, #ebebeb); text-align: center;">
                  <span style=" position: absolute; left: 50%; top: 50%; display: block; width: 65px; height: 65px; margin-left: -38%; margin-top: -39%; text-align: center; border-radius: 50%; background: #f4f4f4; z-index: 1; vertical-align: middle;">
                    <span style="display: block; margin: 36% 1px 0 1px; color: #333333; font-size: 13px; line-height: 13px;">Full stack developer</span>
                  </span>
                </div>
                <div style="position: absolute; bottom: -230px; left: 25px; display: table-cell; margin: 10px auto; width: 85px; height: 85px; border-radius: 50%; background-color: #ebebeb; background-image: linear-gradient(14.4deg, #e2bd58 50%, transparent 50.1%, transparent),linear-gradient(270deg, #e2bd58 50%, #ebebeb 50.1%, #ebebeb); text-align: center;">
                  <span style=" position: absolute; left: 50%; top: 50%; display: block; width: 65px; height: 65px; margin-left: -38%; margin-top: -39%; text-align: center; border-radius: 50%; background: #f4f4f4; z-index: 1; vertical-align: middle;">
                    <span style="display: block; margin: 36% 1px 0 1px; color: #333333; font-size: 13px; line-height: 13px;">Machine</span>
                  </span>
                </div>
                <div style="position: absolute; top: 25px; left: -80px; display: table-cell; margin: 10px auto; width: 85px; height: 85px; border-radius: 50%; background-color: #ebebeb; background-image: linear-gradient(14.4deg, #abc881 50%, transparent 50.1%, transparent),linear-gradient(270deg, #abc881 50%, #ebebeb 50.1%, #ebebeb); text-align: center;">
                  <span style=" position: absolute; left: 50%; top: 50%; display: block; width: 65px; height: 65px; margin-left: -38%; margin-top: -39%; text-align: center; border-radius: 50%; background: #f4f4f4; z-index: 1; vertical-align: middle;">
                    <span style="display: block; margin: 36% 1px 0 1px; color: #333333; font-size: 13px; line-height: 13px;">OOP</span>
                  </span>
                </div>
              </div>
            </div>
            <!--4 skills-->
            <div style="padding: 0; display: table; margin: 20% 0 5% 30%; height: 120px; display: none;">
              <div style="position: relative;">
                <div style="position: absolute; left: 0; right: 0; display: table-cell; margin: 10px auto; width: 130px; height: 130px; border-radius: 50%; background-color: #ebebeb; background-image: linear-gradient(14.4deg, #d8d8d8 50%, transparent 50.1%, transparent),linear-gradient(270deg, #d8d8d8 50%, #ebebeb 50.1%, #ebebeb); text-align: center;">
                  <span style=" position: absolute; left: 50%; top: 50%; display: block; width: 100px; height: 100px; margin-left: -38%; margin-top: -38%; text-align: center; border-radius: 50%; background: #f4f4f4; z-index: 1; vertical-align: middle;">
                    <span style="display: block; margin: 36% 1px 0 1px; color: #333333; font-size: 13px; line-height: 13px;">Data Engineering</span>
                  </span>
                </div>
                <div style="position: absolute; top: -80px; left: 25px; display: table-cell; margin: 10px auto; width: 85px; height: 85px; border-radius: 50%; background-color: #ebebeb; background-image: linear-gradient(14.4deg, #ef8080 50%, transparent 50.1%, transparent),linear-gradient(270deg, #ef8080 50%, #ebebeb 50.1%, #ebebeb); text-align: center;">
                  <span style=" position: absolute; left: 50%; top: 50%; display: block; width: 65px; height: 65px; margin-left: -38%; margin-top: -39%; text-align: center; border-radius: 50%; background: #f4f4f4; z-index: 1; vertical-align: middle;">
                    <span style="display: block; margin: 36% 1px 0 1px; color: #333333; font-size: 13px; line-height: 13px;">Dev OPS</span>
                  </span>
                </div>
                <div style="position: absolute; top: 50px; right: -205px; display: table-cell; margin: 10px auto; width: 85px; height: 85px; border-radius: 50%; background-color: #ebebeb; background-image: linear-gradient(14.4deg, #a7c4f4 50%, transparent 50.1%, transparent),linear-gradient(270deg, #a7c4f4 50%, #ebebeb 50.1%, #ebebeb); text-align: center;">
                  <span style=" position: absolute; left: 50%; top: 50%; display: block; width: 65px; height: 65px; margin-left: -38%; margin-top: -39%; text-align: center; border-radius: 50%; background: #f4f4f4; z-index: 1; vertical-align: middle;">
                    <span style="display: block; margin: 36% 1px 0 1px; color: #333333; font-size: 13px; line-height: 13px;">Full stack developer</span>
                  </span>
                </div>
                <div style="position: absolute; top: 50px; left: -75px; display: table-cell; margin: 10px auto; width: 85px; height: 85px; border-radius: 50%; background-color: #ebebeb; background-image: linear-gradient(14.4deg, #abc881 50%, transparent 50.1%, transparent),linear-gradient(270deg, #abc881 50%, #ebebeb 50.1%, #ebebeb); text-align: center;">
                  <span style=" position: absolute; left: 50%; top: 50%; display: block; width: 65px; height: 65px; margin-left: -38%; margin-top: -39%; text-align: center; border-radius: 50%; background: #f4f4f4; z-index: 1; vertical-align: middle;">
                    <span style="display: block; margin: 36% 1px 0 1px; color: #333333; font-size: 13px; line-height: 13px;">OOP</span>
                  </span>
                </div>
              </div>
            </div>
            <!--3 skills-->
            <div style="padding: 0; display: table; margin: 1% 0 5% 30%; height: 125px; display: none;">
              <div style="position: relative;">
                <div style="position: absolute; left: 0; right: 0; display: table-cell; margin: 10px auto; width: 130px; height: 130px; border-radius: 50%; background-color: #ebebeb; background-image: linear-gradient(14.4deg, #d8d8d8 50%, transparent 50.1%, transparent),linear-gradient(270deg, #d8d8d8 50%, #ebebeb 50.1%, #ebebeb); text-align: center;">
                  <span style=" position: absolute; left: 50%; top: 50%; display: block; width: 100px; height: 100px; margin-left: -38%; margin-top: -38%; text-align: center; border-radius: 50%; background: #f4f4f4; z-index: 1; vertical-align: middle;">
                    <span style="display: block; margin: 36% 1px 0 1px; color: #333333; font-size: 13px; line-height: 13px;">Data Engineering</span>
                  </span>
                </div>
                <div style="position: absolute; top: 25px; right: -210px; display: table-cell; margin: 10px auto; width: 85px; height: 85px; border-radius: 50%; background-color: #ebebeb; background-image: linear-gradient(14.4deg, #a7c4f4 50%, transparent 50.1%, transparent),linear-gradient(270deg, #a7c4f4 50%, #ebebeb 50.1%, #ebebeb); text-align: center;">
                  <span style=" position: absolute; left: 50%; top: 50%; display: block; width: 65px; height: 65px; margin-left: -38%; margin-top: -39%; text-align: center; border-radius: 50%; background: #f4f4f4; z-index: 1; vertical-align: middle;">
                    <span style="display: block; margin: 36% 1px 0 1px; color: #333333; font-size: 13px; line-height: 13px;">Full stack developer</span>
                  </span>
                </div>
                <div style="position: absolute; top: 25px; left: -80px; display: table-cell; margin: 10px auto; width: 85px; height: 85px; border-radius: 50%; background-color: #ebebeb; background-image: linear-gradient(14.4deg, #abc881 50%, transparent 50.1%, transparent),linear-gradient(270deg, #abc881 50%, #ebebeb 50.1%, #ebebeb); text-align: center;">
                  <span style=" position: absolute; left: 50%; top: 50%; display: block; width: 65px; height: 65px; margin-left: -38%; margin-top: -39%; text-align: center; border-radius: 50%; background: #f4f4f4; z-index: 1; vertical-align: middle;">
                    <span style="display: block; margin: 36% 1px 0 1px; color: #333333; font-size: 13px; line-height: 13px;">OOP</span>
                  </span>
                </div>
              </div>
            </div>
            <!--2 skills-->
            <div style="padding: 0; display: table; margin: 1% 0 5% 20%; height: 125px; display: none;">
              <div style="position: relative;">
                <div style="position: absolute; left: 0; right: 0; display: table-cell; margin: 10px auto; width: 130px; height: 130px; border-radius: 50%; background-color: #ebebeb; background-image: linear-gradient(14.4deg, #d8d8d8 50%, transparent 50.1%, transparent),linear-gradient(270deg, #d8d8d8 50%, #ebebeb 50.1%, #ebebeb); text-align: center;">
                  <span style=" position: absolute; left: 50%; top: 50%; display: block; width: 100px; height: 100px; margin-left: -38%; margin-top: -38%; text-align: center; border-radius: 50%; background: #f4f4f4; z-index: 1; vertical-align: middle;">
                    <span style="display: block; margin: 36% 1px 0 1px; color: #333333; font-size: 13px; line-height: 13px;">Data Engineering</span>
                  </span>
                </div>
                <div style="position: absolute; top: 25px; right: -210px; display: table-cell; margin: 10px auto; width: 85px; height: 85px; border-radius: 50%; background-color: #ebebeb; background-image: linear-gradient(14.4deg, #a7c4f4 50%, transparent 50.1%, transparent),linear-gradient(270deg, #a7c4f4 50%, #ebebeb 50.1%, #ebebeb); text-align: center;">
                  <span style=" position: absolute; left: 50%; top: 50%; display: block; width: 65px; height: 65px; margin-left: -38%; margin-top: -39%; text-align: center; border-radius: 50%; background: #f4f4f4; z-index: 1; vertical-align: middle;">
                    <span style="display: block; margin: 36% 1px 0 1px; color: #333333; font-size: 13px; line-height: 13px;">Full stack developer</span>
                  </span>
                </div>
              </div>
            </div>
            <!--1 skills-->
            <div style="padding: 0; display: table; margin: 1% 0 5% 30%; height: 125px; display: none;">
              <div style="position: relative;">
                <div style="position: absolute; left: 0; right: 0; display: table-cell; margin: 10px auto; width: 130px; height: 130px; border-radius: 50%; background-color: #ebebeb; background-image: linear-gradient(14.4deg, #d8d8d8 50%, transparent 50.1%, transparent),linear-gradient(270deg, #d8d8d8 50%, #ebebeb 50.1%, #ebebeb); text-align: center;">
                  <span style=" position: absolute; left: 50%; top: 50%; display: block; width: 100px; height: 100px; margin-left: -38%; margin-top: -38%; text-align: center; border-radius: 50%; background: #f4f4f4; z-index: 1; vertical-align: middle;">
                    <span style="display: block; margin: 36% 1px 0 1px; color: #333333; font-size: 13px; line-height: 13px;">Data Engineering</span>
                  </span>
                </div>
              </div>
            </div>
          </div>
          <p style="margin-bottom: 0; padding: 0; color: #000000; line-height: 20px; text-align: left;">Markdown  |  Git  |  Vim  |  Sublime Text Eclipse  |  Android Studio  |  Coral Draw Adobe Illustrator  |  Photoshop</p>
        </div>