@import '../../../../../styles-mobile/abstracts';

.m-combo-includes {
    padding: 1.5rem;
    border-radius: $border-radius;
    background-color: $lightblue2;

    .heading2 {
        font-size: 2rem;
    }

    &__list {
        list-style-type: none;
        margin: 1.5rem 0 0 0;
        padding: 0;

        li {

            &:not(:last-child) {
                margin-bottom: .8rem;
            }

            &::before {
                content: '';
                background: $sprite -34px -17px;
                width: .5rem;
                height: .9rem;
                display: inline-block;
                margin-right: 1rem;
            }
        }
    }
}