@import '../../../../styles-mobile/abstracts';

.m-header {
    margin: 0;
    padding: 1.5rem 1.5rem 1.5rem 0 !important;
    @extend %gradient;
    font-size: 1.4rem;
    color: $white;
    box-shadow: 0 2px 7px 0 #5262AD;

    strong {
        margin: 0 0 0 5.5rem;
        color: $white;
    }

    &__links {
        margin-left: auto;
        a {
            &:not(:last-child){
                margin-right: 2rem;
            }
        }
    }

    &__counter {
        position: relative;
        overflow: visible !important;
        text-indent: 0 !important;

        span {
            width: 1.8rem;
            height: 1.8rem;
            @include border-radius(100%);
            background: $yellow;
            font-size: 1.1rem;
            font-weight: 600;
            color: $gray-100;
            display: flex;
            align-items: center;
            justify-content: center;
            position: absolute;
            top: -.8rem;
            right: -1rem;
        }
    }
}