@import '../../../../styles-mobile/abstracts';

.m-header {
    margin: 0;
    padding: 1.5rem 1.5rem 1.5rem 0 !important;
    @extend %gradient;
    font-size: 1.4rem;
    color: $white;
    box-shadow: 0 2px 7px 0 #5262AD;

    strong {
        margin: 0;
        color: $white;
    }

    &__links {
        margin-left: auto;
        a {
            &:not(:last-child){
                margin-right: 2rem;
            }
        }
    }

    &__counter {
        position: relative;
        overflow: visible !important;
        text-indent: 0 !important;

        span {
            width: 1.8rem;
            height: 1.8rem;
            @include border-radius(100%);
            background: $yellow;
            font-size: 1.1rem;
            font-weight: 600;
            color: $gray-100;
            display: flex;
            align-items: center;
            justify-content: center;
            position: absolute;
            top: -.8rem;
            right: -1rem;
        }
    }
}

.m-user-intent-search-result {
    background: $white;
    color: $gray-100;
    font-size: 1.3rem;
    position: absolute;
    box-shadow: inset 0 1px 6px 0 rgba(201,199,199,0.50);
    padding: 0;
    z-index: 99999;
    width: -webkit-fill-available;

    strong {
        font-weight: 600;
        background: $lightblue;
        padding: 1rem 1.5rem;
        display: block;
    }
    span {
        padding: 1rem 1.5rem;
        color: $gray-100;
        display: block;

        &:hover, &:focus {
            background-color: $blue;
            color: $white;
        }
    }
}