@import '../../../../../styles-mobile/abstracts';

.filters {
    display: flex;
    align-items: center;
    margin-bottom: 20px;
    font-size: 13px;

    &__box {
        background-color: $white;
        height: 30px;
        border-radius: .4rem;
        border: 1px solid #D7E8F8;
        box-shadow: 0 4px 4px -1px rgba(#D9D9D9, .5);
        margin-left: 10px;
        line-height: 30px;
        position: relative;

        &.last-month {
            max-width: 48%;
            flex: 0 0 48%;
        }

        &.all-item {
            max-width: 30%;
            flex: 0 0 30%;
        }

        &::after {
            content: '';
            background: $spriteDb;
            @include icon-block(3px, 5px, 0 0);
            position: absolute;
            top: 12px;
            right: 12px;
            transform: scale(2) rotate(90deg);
            z-index: 11;
        }

        ul {
            padding: 0 10px;
            height: 30px;
            overflow: hidden;
            list-style-type: none;

            li {
                font-size: 11px;

                &:not(:last-child) {
                    border-bottom: 1px solid rgba(#979797, .2);
                }
            }
        }

        &.open {

            ul {
                height: auto;
                overflow: visible;
                position: absolute;
                border: 1px solid #D7E8F8;
                box-shadow: 0 4px 4px -1px rgba(#D9D9D9, .5);
                width: 102%;
                background-color: $white;
                z-index: 10;
                top: -4px;
                left: -1px;
                border-radius: .4rem;
                list-style-type: none;

                li {
                    padding: 3px 0;
                }
            }
        }

    }
} 