{% extends "basic/base.html" %}
{% load static compress %}

{% block meta_html %}
    {{ block.super }}
{% endblock meta_html %}

{% block title %}
    Payment Options - Shine Learning
{% endblock title %}

{% block css_section %}
    {{ block.super }}
    {% compress css %}
        <link href="{% static 'shinelearn/css/bootstrap-datepicker.min.css' %}" rel="stylesheet">
        <link type="text/scss" href="{% static 'shinelearn/css/cart/payment.scss' %}" rel="stylesheet">
    {% endcompress %}
    {% compress css inline %}
        <style type="text/css">
            .danger-txt {
                color: red;
            }

            .error {
                color: red;
            }
        </style>
    {% endcompress %}
{% endblock css_section %}

{% block navigation %}
    <!-- navigation bar -->
    <nav class="navbar navbar-default navbar-fixed-top">
        <div class="container-fluid">
            <!-- Brand and toggle get grouped for better mobile display -->
            <div class="navbar-header">
                <a class="navbar-brand" href="/"></a>
            </div>

            <!-- Collect the nav links, forms, and other content for toggling -->
            <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">

                <ul class="nav navbar-nav navbar-right">
                    <li class="dropdown have-query">

                        <a href="tel:{{ ggn_contact }}">Have a query? Call us at <strong>{{ ggn_contact }}</strong></a>

                    </li>
                </ul>
            </div><!-- /.navbar-collapse -->
        </div><!-- /.container-fluid -->
    </nav>

{% endblock navigation %}


{% block container %}
    <section class="container mt-53">
        <!-- page content body start -->
        <div class="row greybg2 pad-25">

            <!-- left content start -->
            <div class="col-sm-3 payment-summary-tab">
                <a href="{% url "cart:payment-summary" %}"><span class="green-circle">1</span> Summary</a>
                <a href="{% url "cart:payment-login" %}"><span class="green-circle">2</span> Logged in <strong>as {%if first_name%}{{first_name}}{% else %}{{email_id}}{% endif %}</strong></a>
                <a href="{% url "payment:payment-option" %}" class="active"><span>3</span> Payment</a>

                <!-- secure payment -->
                <!-- <div class="secure-payment">
                    <figure class="secure-icon-payment"></figure>
                    <strong>100% SECURE PAYMENT</strong>
                    All major Credit and Debit cards accepted
                    <figure class="cards-payment-icon mt-20"></figure>
                </div> -->
            </div>
            <!-- left content end -->

            <!-- right content start -->
            <div class="col-sm-9 payment-option box-shadow round-border">
                <div class="payable">
                    Total <strong>Rs. {{ total_amount }}</strong>
                    <a href="{% url "cart:payment-summary" %}" class="review-order">Review order</a>
                </div>


                <div class="panel-group payment-tabs-content" id="accordion" role="tablist" aria-multiselectable="true">
                    <div class="panel panel-default box-shadow1">
                    <div class="panel-heading">
                      <h4 class="panel-title">
                        <a class="no-bg" href="{% url "payment:ccavenue_request" cart_id 'all' %}">
                          Card & Netbanking
                        </a>
                      </h4>
                    </div>
                  </div>
                {% if type_flow != 17 %}
                  <div class="panel panel-default box-shadow1">
                    <div class="panel-heading" role="tab" id="headingOne">
                      <h4 class="panel-title">
                        <a class="collapsed" role="button" data-toggle="collapse" data-parent="#accordion" href="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
                          Cash
                        </a>
                      </h4>
                    </div>
                    <div id="collapseOne" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingOne">
                      <div class="panel-body other-payment" id="cash">
                        <!-- cash payment method -->
                        <article>Deposit your cash at ICICI bank branches accross the country!</article>

                        <b>Step to follow</b>
                        <ul>
                            <li>Confirm the payment below to generate your Transaction ID</li>
                            <li>Deposit the cash at the nearest ICICI Bank branch</li>
                            <li>Mail us a scanned copy of the deposit slip at <a href="mailto:resumeservices@shine.com">resumeservices@shine.com</a>
                            </li>
                        </ul>

                        <span class="bank-details">
                            <strong>Our Account Details with ICICI Bank</strong>
                            <p><small>Account Name</small> : HT Media Limited</p>
                            <p><small>Account No.</small> : 000705038629</p>
                        </span>

                        <form role="form" id="id-cash-form" method="post" action=".">{% csrf_token %}
                            <span class="custom-select">
                                 <select class="form--control" id="states_list" name="state">
                                    <option disabled>Select State</option>
                                     {% for state in state_list %}
                                         <option value="{{state.0}}" >{{ state.1}}</option>
                                     {% endfor  %}
                                 </select>
                              </span>
                            <input type="hidden" name="payment_type" value="cash">

                            <strong class="mt-30">Rs. {{ total_amount }}
                                <small>(amount payable)</small>
                            </strong>

                            <div class="continue">
                                <button type="submit" class="make-payment">Make Payment</button>
                            </div>
                        </form>
                        <!-- cash payment method end -->
                      </div>
                    </div>
                  </div>
                  <div class="panel panel-default box-shadow1">
                    <div class="panel-heading" role="tab" id="headingTwo">
                      <h4 class="panel-title">
                        <a class="collapsed" role="button" data-toggle="collapse" data-parent="#accordion" href="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo">
                          Cheque
                        </a>
                      </h4>
                    </div>
                    <div id="collapseTwo" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingTwo">
                      <div class="panel-body other-payment" id="cheque">
                        <!-- cheque payment method -->
                        <article>Pay by Cheque</article>

                        <form class="personal-details" id="check-pay-form" method="post" action="">{% csrf_token %}
                            <fieldset>
                                <div class="form-group cheque-no">
                                       <input maxlength="100" placeholder=" " name="cheque_no" required class="form-control form--control" type="text">
                                        <label for="cheque_no">Cheque no. *</label>
                                        <span class="error-txt"></span>
                                </div>
                                <div class="form-group cheque-no">
                                       <input maxlength="255" name="drawn_bank" required class="form-control form--control" type="text" placeholder=" ">
                                        <label for="drawn_bank">Drawn on bank *</label>
                                        <span class="error-txt"></span>
                                </div>
                                <div class="form-group cheque-no">
                                       <input  type="date"  name="deposit_date"  required class="form-control" placeholder=" ">
                                        <label for="deposit_date">Date of deposit *</label>
                                        <span class="error-txt"></span>
                                </div>
                            </fieldset>
                            <input type="hidden" name="payment_type" value="cheque">

                        </form>

                        <span class="bank-details">
                            <strong>Our Account Details with ICICI Bank</strong>
                            <p><small>Account Name</small> : HT Media Limited</p>
                            <p><small>Account No.</small> : 000705038629</p>
                        </span>

                        Step to follow
                        <ul>
                            <li>Confirm the payment below to generate your Transaction ID</li>
                            <li>Deposit the cash at the nearest ICICI Bank branch</li>
                            <li>Mail us a scanned copy of the deposit slip at <a href="mailto:resumeservices@shine.com">resumeservices@shine.com</a>
                            </li>
                        </ul>

                        <strong>Rs. {{ total_amount }}
                            <small>(amount payable)</small>
                        </strong>

                        <div class="continue">
                            <button type="button" id="check-sumit-button" class="make-payment">Make Payment</button>
                        </div>
                        <!-- cheque payment method -->
                      </div>
                    </div>
                  </div>
                {% endif %}
                  <div class="panel panel-default box-shadow1">
                    <div class="panel-heading">
                      <h4 class="panel-title">
                        <a class="no-bg" href="{% url "payment:epaylater-request" cart_id %}">
                          Buy now, Pay Later <img src="{% static 'shinelearn/images/payments/epaylater-logo.svg' %}" width="89" alt="ePayLater" class="ml-5">
                        </a>
                      </h4>
                    </div>
                  </div>
                </div>


            </div>
            <!-- right content end -->

        </div>
        <!-- page content body end -->
    </section>
    <!-- main section end -->
{% endblock container %}


{% block js_section %}
    {{ block.super }}
        <script type="text/javascript" src="{% static 'packages/select2/dist/js/select2.min.js' %}"></script>
    <script>
        var site_domain = "{{ SITE_PROTOCOL }}://{{ SITE_DOMAIN}}";
    </script>
    {% compress js %}
        <script src="{% static 'shinelearn/js/common/bootstrap-datepicker.min.js' %}"></script>
        <script src="{% static 'shinelearn/js/payment/payment.js' %}"></script>
    {% endcompress %}
{% endblock js_section %}
{% block johukum %}
{% endblock johukum %}

{% block zendesk %}
{% endblock zendesk %}
