<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width">
    <title>Razor Pay</title>
</head>
<body>

<form  action="{{action}}" method="POST" name="payu_form">
    
<script src="https://checkout.razorpay.com/v1/checkout.js"
    data-key="{{key}}"
    data-amount="{{amount}}"
    data-currency="{{currency}}"
    data-order_id="{{order_id}}"
    data-buttontext="Pay with Razorpay"
    data-name="{{pname}}"
    data-description="{{desc}}"
    data-prefill.name="{{name}}"
    data-prefill.email="{{email}}"
    data-prefill.contact="{{mobile_number}}"

></script>
    <input type="hidden" name="order_id" value={{order_id}}>
        <input type="hidden" name="key_id" value={{key}}>
</form>

</body>
</html>