@import '../../../../styles/functions';
@import '../../../../styles/variables';
@import '../../../../styles/mixins';

.dashboard-warp {
    display: flex;

    &--tab {
        max-width: 140px;
        flex: 0 0 140px;
        padding-right: 30px;
        position: relative;
        width: 100%;
    }

    &--wrap {    
        flex-grow: 1;
        position: relative;
    }

    &--content {
        background-color: #F9F9F9;
        border-radius: 0.4rem;
        padding: 20px;
        position: relative;
        width: 100%;
    }
}

.db-white-box {
    border-radius: 0.4rem;
    background-color: $white;
    padding: 15px 30px;
    box-shadow: $box-shadow;
    font-size: 12px;
    color: $gray-200;
    border: 0;

    &:not(:last-child) {
        margin-bottom: 20px;
    }
}

  
.db-green-tick {
  @include size(13px, 13px);
  display: inline-block;
  background: $spriteDb;
  background-position: 0 -193px;
  position: relative;
  top: 2px;
}

.db-status {
    width: 172px;
    font-size: 1.1rem;

    .progress {
        background-color: $white;
        border: 1px solid #C7D6F0;

        .progress-bar {
            background-color: #C7D6F0;
        }
    }

    .last-update {
        margin-bottom: 0;
        font-size: 1rem;
        color: $gray-600;
        margin-top: 5px;
    }
}

.db-custom-select-form {
    .custom-control {
        padding-left: 2rem;
        font-size: 1.3rem;
    }
    
    .custom-control-label::before {
        @include size(1.3rem, 1.3rem);
        top: 2px;
        left: -20px;
    }
    
    .custom-control-input:checked ~ .custom-control-label::before {
        border-color: #B6B6B6;
        background-color: $white;
        box-shadow: inset 0px 0px 2px 1px rgba($gray-200, 0.1);
    }
    
    .custom-checkbox .custom-control-input:checked ~ .custom-control-label::after {
        background: $spriteDb;
        background-position: -83px -196px;
        left: -17px;
        top: 6px;
    }

    .custom-radio {
        .custom-control-label::before {
            top: 2px;
            left: -20px;
        }

        .custom-control-input:checked ~ .custom-control-label::before {
            background-color: $white;
        }

        .custom-control-input:checked ~ .custom-control-label::after {
            @include size(5px, 5px);
            background-color: $blue;
            border-radius: 50%;
            background-image: none;
            left: -16px;
            top: 6px;
        }
    }
}


.modal {
    .need-help {
        padding: 0;
        box-shadow: none;
    }

    .modal-body {
        padding: 1rem 3rem 2rem;
    }
}

.modal-header .close,
.bd-btn-close {
    position: absolute;
    right: 18px;
    top: 15px;
    width: 32px;
    height: 32px;
    opacity: 0.6;
    z-index: 1;

    &:hover {
        opacity: 1;
    }

    &::before,
    &::after {
        content: '';
        position: absolute;
        left: 15px;
        height: 16px;
        width: 2px;
        background-color: #333;
        border-radius: 5px;
        top: 8px;
    }

    &::before {
        transform: rotate(45deg);
      }
    &::after {
        transform: rotate(-45deg);
      }

      span {
          display: none;
      }
}

.db-timeline-list {
    margin-bottom: 10px;
    margin-top: -14px;

    li {
        position: relative;
        padding-left: 30px;
        
        &:first-child {
            padding-top: 30px;
        }

        &:not(:last-child) {
            border-left: 1px dashed rgba(151, 151, 151, .5);
            padding-bottom: 15px;
        }

    }

    &--dot {
        @include size(11px, 11px);
        border: 1px solid rgba(151, 151, 151, 1);
        background-color: $white;
        position: absolute;
        left: -6px;
        border-radius: 50%;

        &::before {
            content: '';
            @include size(5px, 5px);
            background-color: $blue;
            position: absolute;
            border-radius: 50%;
            top: 2px;
            left: 2px;
        }
    }

    &--text {
        font-weight: 600;
        margin-bottom: 0;
        color: $gray-200;
        margin-top: 5px;
    }
}



.lightgrey-bg {
    background-color: #F9F9F9;
}

.arrow-box {
    background-color: $white;
    box-shadow: $box-shadow;
    border-radius: .4rem;

    &.top {
        &::before {
            content: '';
            @include size(8px, 8px);
            background-color: $white;
            box-shadow: $box-shadow;
            position: absolute;
            left: 50%;
            transform: translateX(-50%) rotate(45deg);
            top: -4px;
        }
    }
    
    &.top-big {
        &::before {
            content: '';
            @include size(15px, 15px);
            background-color: $white;
            box-shadow: -1px -1px 4px -2px rgba($gray-100, 0.2);
            position: absolute;
            left: 50%;
            transform: translateX(-50%) rotate(45deg);
            top: -7px;
        }
    }
    
    &.left-big {
        &::before {
            content: '';
            @include size(15px, 15px);
            background-color: $white;
            box-shadow: -1px 2px 6px -2px rgba($gray-100, 0.2);
            position: absolute;
            top: 50%;
            transform: translateY(-50%) rotate(45deg);
        }
    }
}

.btn-close {
    color: rgba($gray-100, 0.6);
    font-size: 1.8rem;
    cursor: pointer;
}

.border-bottom-gray {
    border-bottom: 1px solid rgba(151, 151, 151, .2);
}

.disabled-before {
    &::before {
        content: none !important;
    }
}

.cursor-pointer {
    cursor: pointer;
}

.upload-btn-wrapper {
    position: relative;
    overflow: hidden;
    display: inline-block;
    cursor: pointer;
        
    input[type=file] {
        font-size: 100px;
        position: absolute;
        left: 0;
        top: 0;
        opacity: 0;
    }
}
  
