{% load static %}
{% if products %}
{% for product in products %}
    <li class="box-panel">
    	<a title="{{product.name}}" href="{{site}}{{product.pURL}}">
            <div class="media">
            	<div class="media-left">
                	<img class="media-object" src="{{product.pImg}}" alt="{{product.pNm}}" height="130px" width="130px">
            	</div>
            	<div class="media-body">
                  <div class="certification-jobs-box">
                    {% if "true" in product.pCert %}<span class="certification-jobs"><figure class="certification-icon"></figure> Certification</span>{% endif %}
                    {% if product.pNJ %}<span class="certification-jobs"><figure class="jobs-icon"></figure> <span class="jobs-number">{{ product.pNJ }}</span> jobs available</span>{% endif %}
                  </div>
                	<h3 class="listing-heading">{{ product.pHd|default:product.pNm }}</h3>

                  <div class="rating-review-box">
                    {% for star in product.pStar %}
                    <figure {% if star == '*' %}class="full-star"{% elif star == '+'%}class="half-star"{% else %}class="blank-star"{% endif %}></figure>
                    {% endfor %}
                    <strong>{{ product.pARx|floatformat:1 }}/5</strong> 
                  </div>
	                <div class="providers">
	                   Providers
	                   <span>{{product.pPvn}}</span>
	                </div>
                  <div class="pricing-box">
                    Starting at <strong>Rs. {{ product.pPin |floatformat:'0' }}/-</strong>{% if product.pPfin|floatformat:0|add:"0" %}<strike>Rs. {{ product.pPfin|floatformat:"0" }}/-</strike> <span class="discount">{{ product.discount }}% OFF</span>{% endif %}
                  </div>
              	</div>
            </div>
      	</a>
    </li>
{% endfor %}
{% endif %}
  {% if products.has_next %}  
            <input type="hidden" name="page" 
            value="{{products.next_page_number}}" id="page_id">
            <input type="hidden" name="slug" value="{{slug}}" 
            id="slug_id">
            <a href="javascript:void(0);" id="product_load_more" class="load-more loadmore"> Load more</a>            
{% endif %}   