<<<<<<< HEAD
@import '../../../../styles/variables/vars.scss';
.left{
	color: $primary;
}

.top-baneer {
	&--banner-heading {

	}
	
}
=======
@import '../../../../styles/variables/vars';

.New-color {
  color: $primary;
  font-size: 20px;
}
>>>>>>> 67d22e5510621835ee207c75fa92a4ef1f376e1b
