@import '../../../../styles/functions';
@import '../../../../styles/variables';
@import '../../../../styles/mixins';

.resume-checker {
    box-shadow: 0 0 10px rgba($black, .2);
    border-radius: 5px;
    padding: 50px;
    position: relative;
    z-index: 1;
    background-color: $white;

    &__heading {
        font-size: 30px;
        font-weight: 700;
    }

    &__steps {
        list-style-type: none;
        margin-top: 50px;
    }

    &__step {
        display: flex;
        padding-left: 50px;
        
        &:not(:last-child) {
            padding-bottom: 40px;
            border-left: 1px dashed rgba($black, .2);
        }
    }

    &__stepCircle {
        @include size(49px, 49px);
        @extend %blue-gr;
        max-width: 49px;
        flex: 0 0 49px;
        border-radius: 50%;
        display: flex;
        align-items: center;
        justify-content: center;
        position: absolute;
        left: 31px;
    }

    &__content {
        font-size: $font-size-base + .1;

        &--heading {
            font-size: 1.6rem;
            color: $gray-300;
        }
    }   
}
