:root {
  --gradient-col1: #07c0e6;
  --gradient-col2: #0b59e0;
  --white: #fff;
  --black: #333;
  --txt: #666;
  --blue: #366FD1;
  --bdrcol1: #E4EEFF;
  --bdrcol2: #C4D1E6;
  --bdrcol3: #efefef;
  --chatbgcol: #F7FAFF;
  --orange: #fca508;
  --bdr: #aaaaaa;
  --gradient1: linear-gradient(177deg, #76C3FF 0%, #314DCC 100%, #314DCC 100%, #1B34A2 100%);
}

/* body {
  margin: 0;
  padding: 0;
} */

/* *,
*::before,
*::after {
  box-sizing: inherit;
} */

/* html {
  margin:0;
  padding: 0;
} */


.chat-bot {
  font-family: "Open Sans", sans-serif;
  box-sizing: border-box;
}

.botButton:focus,
.botButton:active {
  outline:0;
}

/* .mr-10 {
  margin-right: 10px;
}

.ml-10 {
  margin-left: 10px;
}

.mb-10 {
  margin-bottom: 10px;
}

.mb-20 {
  margin-bottom: 20px;
}

.mb-0 {
  margin-bottom: 0px;
}

.ml-auto {
  margin-left: auto;
}

.d-flex {
  display: flex;
} */

.icon-comment-dots {
  background: url(https://static1.shine.com/l/cm/sprite.png) no-repeat 0 0;
  width: 23px;
  height: 19px;
  display: inline-block;
  margin-top: 5px;
}

.icon-shiney {
  background: $sprite_bot no-repeat 0 0;
  width: 34px;
  height: 37px;
  display: inline-block;
  vertical-align: middle;
}

.icon-shiney-sm {
  background: url(https://static1.shine.com/l/cm/sprite.png) no-repeat -40px -21px;
  width: 24px;
  height: 26px;
  display: inline-block;
  background-size: cover;
}

/* Button used to open the chat form - fixed at the bottom of the page */
.btn-chat {
  background-image: var(--gradient1);
  width: 50px;
  height: 50px;
  border-radius: 50%;
  position: fixed;
  bottom: 23px;
  right: 28px;
  cursor: pointer;
  border: none;
  color: var(--white);
  box-shadow: 0 10px 20px rgba(0,0,0, .4);
}

#submit-button {
  background: var(--orange);
  border-radius: 20px;
  cursor: pointer;
  border: none;
  color: var(--white);
  margin: 10px auto 0 auto;
  box-shadow: 0 4px 5px rgba(0,0,0, .3);
  padding: 10px 30px;
  display: block;
  font-weight: 400;
  font-size: 15px;
  opacity: 0.5;
}

.submit-button {
  background: var(--orange);
  border-radius: 20px;
  cursor: pointer;
  border: none;
  color: var(--white);
  margin: 10px auto 0 auto;
  box-shadow: 0 4px 5px rgba(0,0,0, .3);
  padding: 10px 30px;
  display: block;
  font-weight: 400;
  font-size: 15px;
  opacity: 1;
}


/* The popup chat - hidden by default */
.chat-popup {
  display: none;
  position: fixed;
  bottom: 90px;
  right: 20px;
  background: var(--chatbgcol);
  z-index: 999;
  border-radius: 10px;
  border-bottom-right-radius: 0;
  width: 320px;
  box-shadow: 0px 7px 15px 0px rgba(0, 0, 0, 0.3);
}

.chat-body {
  position: relative;
}
.chat-body::after {
  content: "";
  position: absolute;
  width: 0;
  height: 0;
  border-top: 15px solid var(--chatbgcol);
  border-left: 25px solid transparent;
  bottom: -15px;
  right: 0;
}

.white-arrow {
  padding-bottom: 25px;
}

.white-arrow::after {
  content: "";
  position: absolute;
  width: 0;
  height: 0;
  border-top: 15px solid var(--white) !important;
  border-left: 25px solid transparent;
  bottom: -15px;
  right: 0;
}

.chat-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-image: var(--gradient1);
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
  padding: 8px 10px;
}

.chat-header__heading {
  font-size: 18px;
  color: var(--white);
  margin: 0 0 0 5px;
  font-weight: 600;
}

.chat-header__close {
  border: none;
  background: $sprite_bot no-repeat -95px 0;
  width: 14px;
  height: 14px;
  display: inline-block;
  margin-right: 10px;
  margin-left: 20px;
}

.chat-header__refresh {
  border: none;
  background: url(https://static1.shine.com/l/cm/sprite.png) no-repeat -57px 0;
  width: 22px;
  height: 18px;
  display: inline-block;
  margin-left: auto;
}

.chatflow {
  font-size: 13px;
  color: var(--black);
  font-weight: 600;
  overflow: auto;
  max-height: 300px;
}

#messages {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  list-style-type: none;
  margin: 0;
  padding: 0;
}

#messages .question-asked{
  margin: 30px 4% 0px 4%;
  padding: 20px 0 0 0;
  background: var(--white);
  border-radius: 15px;
  border-top-left-radius: 0;
  position: relative;
  border: 1px solid var(--bdrcol1);
  display: block;
  width: 92%;
}

#messages .question-asked p {
  font-size: 13px;
  margin: 0 0 0 10px;
  font-weight: 400;
}

#messages .question-asked strong {
  font-size: 13px;
  font-weight: 700;
  margin: 0 0 10px 10px;
  display: block;
}

#messages .question-asked::before {
  content: "";
  position: absolute;
  left: 10px;
  top: -20px;
  display: inline-block;
  background: $sprite_bot no-repeat -46px 0;
  width: 34px;
  height: 34px;
}

#messages .question-asked .answersUl {
  list-style-type: none;
  padding: 0;
  display: flex;
  flex-direction: column;
}

#messages .question-asked .answersLi {
  padding: 12px 25px 12px 10px;
  color: var(--blue);
  font-weight: 400;
  background: var(--chatbgcol);
  border-top: 1px solid var(--bdrcol3);
  cursor: pointer;
  font-size: 13px;
  position: relative;
}

#messages .question-asked .answersLi::after {
  content: '';
  display: inline-block;
  background: $sprite_bot no-repeat -100px -24px;
  width: 5px;
  height: 9px;
  position: absolute;
  right: 10px;
  top: 17px;
}

#messages .question-asked .answersActive {
  font-weight: 700;
}

#messages .user-response {
  list-style-type: none;
  display: inline-block;
  background: var(--blue);
  color: var(--white);
  border-bottom-right-radius: 0;
  padding: 10px 20px;
  margin: 10px 10px 10px 50px;
  align-self: flex-end;
  border-radius: 12px 12px 0 12px;
}

#messages .response-comment{
  margin: 0 10px 10px 10px;
  padding: 15px;
  background: var(--white);
  border-radius: 15px;
  border-top-left-radius: 0;
  position: relative;
  border: 1px solid var(--bdrcol1);
}

.chatflow .responses ul {
  /*display: flex;
  justify-content: flex-start;
  align-items: flex-start;
  flex-direction: column;*/
  display: block;
  margin: 0 30px 10px 50px;
  padding: 0;
  /* border: 1px solid var(--bdrcol1);
  border-radius: 15px;
  border-top-left-radius: 0; */
}

.chatflow .responses li {
  list-style-type: none;
  display: inline-block;
  background: var(--white);
  color: var(--blue);
  border: 1px solid var(--blue);
  border-radius: 20px;
  padding: 6px 15px;
  margin: 0 10px 10px 0;
}

.chatflow .responses li.feedback-response-list {
  list-style-type: none;
  display: block;
  background: var(--white);
  color: var(--blue);
  border: transparent;
  border-radius: 20px;
  padding: 20px 15px;
  margin-bottom: 10px;
  width: 100%;
}

.chatflow .responses li.feedback-response-list .input-body{
  display: flex;
  align-items: flex-start;
  color: var(--txt);
  font-size: 13px;
  font-weight: 400;
  margin-bottom: 5px;
}

.chatflow .responses li.feedback-response-list .input-body .feedback-response {
  display: none;
}

.chatflow .responses li.feedback-response-list .input-body label{
  display: flex;
  justify-content: flex-start;
  font-weight: 400;
}

.chatflow .responses li.feedback-response-list .input-body label span{
  width: 15px;
  height: 15px;
  display: inline-block;
  border: 1px solid var(--bdr);
  border-radius: 2px;
  flex: 0 0 15px;
  position: relative;
  margin-right: 10px;
}

.chatflow .responses li.feedback-response-list .input-body label span::after{
  content: "";
  background: url(https://static1.shine.com/l/cm/sprite.png) no-repeat -88px 0;
  width: 11px;
  height: 9px;
  display: inline-block;
  position: absolute;
  left: 1px;
  right: 0;
  top: 2px;
  opacity: 0;
  transition: opacity .2s;
}

.chatflow .responses li.feedback-response-list .input-body input:checked ~ label span::after {
  opacity: 1;
}

.input-field {
  height: 30px;
  margin: 5px 0 10px 0;
  padding: 0 5px;
  border: 1px solid #ccc;
}

#messages .final-message{
  margin: 0 10px 10px 10px;
  padding: 15px;
  background: var(--white);
  border-radius: 15px;
  position: relative;
  border: 1px solid var(--bdrcol1);
}

#messages .confirm-button{
  margin: 0;
  padding: 13px 10px;
  border-bottom-left-radius: 15px;
  border-bottom-right-radius: 15px;
  background: var(--bdrcol1);
  border: none;
  width: 100%;
  font-size: 13px;
  font-weight: 600;
  text-align: center;
  color: var(--blue);
  text-transform: uppercase;
  cursor: pointer;
}

.chatbot-courses {
  background: var(--white);
  display: flex;
  margin: 10px 10px 0 10px;
  list-style-type: none;
  padding: 0;
}

.chatbot-courses figure {
  margin: 0 10px 10px 0;
  width: 50px;
  height: 50px;
}

.chatbot-courses figure img{
  max-width: 100%;
}

.chatbot-courses .course-data {
  flex: 1 1;
  font-size: 11px;
  color: var(--txt);
  font-weight: 400;
}

.chatbot-courses .course-data h3{
  display: block;
  font-size: 13px;
  font-weight: 600;
  color: var(--blue);
  margin: 0 0 5px 0;
}

.chatbot-courses .course-data .rating .fullstar{
  width: 11px;
  height: 10px;
  background: url(https://static1.shine.com/l/cm/sprite.png) no-repeat -121px -1px;
  display: inline-block;
}

.chatbot-courses .course-data .rating .blankstar{
  width: 11px;
  height: 10px;
  background: url(https://static1.shine.com/l/cm/sprite.png) no-repeat -139px -1px;
  display: inline-block;
}

.chatbot-courses .course-data .rating .halfstar{
  width: 11px;
  height: 10px;
  background: url(https://static1.shine.com/l/cm/sprite.png) no-repeat -157px -1px;
  display: inline-block;
}

#skillsDiv {
  display: flex;
  align-items: center;
  margin-bottom: 10px;
  flex-wrap: wrap;
}

#skillsDiv .skills-tag-bot {
  border: 1px solid var(--blue);
  padding: 10px;
  margin: 5px 0 5px 10px;
  border-radius: 20px;
  color: var(--blue);
  font-size: 12px;
  font-weight: 400;
  cursor: pointer;
  white-space: nowrap;
}

#skillsDiv .selectedSkill {
  font-weight: 600;
  cursor: pointer;
  background: var(--chatbgcol);
}

.divScroll {
  overflow-x: scroll;
  flex-wrap: nowrap !important;
}

/* Add a red background color to the cancel button */


/*-------- old css -------*/

.responses {
  cursor: pointer;
  margin-top: 10px;
}


#success-message {
  visibility: hidden;
  min-width: 250px;
  margin-left: -125px;
  background-color: #333;
  color: #fff;
  text-align: center;
  border-radius: 2px;
  padding: 16px;
  position: fixed;
  z-index: 1;
  left: 50%;
  bottom: 30px;
  font-size: 17px;
}

#success-message.show {
  visibility: visible;
  -webkit-animation: fadein 0.5s, fadeout 0.5s 2.5s;
  animation: fadein 0.5s, fadeout 0.5s 2.5s;
}

@-webkit-keyframes fadein {
  from {bottom: 0; opacity: 0;} 
  to {bottom: 30px; opacity: 1;}
}

@keyframes fadein {
  from {bottom: 0; opacity: 0;}
  to {bottom: 30px; opacity: 1;}
}

@-webkit-keyframes fadeout {
  from {bottom: 30px; opacity: 1;} 
  to {bottom: 0; opacity: 0;}
}

@keyframes fadeout {
  from {bottom: 30px; opacity: 1;}
  to {bottom: 0; opacity: 0;}
}

@media only screen and (max-width: 1023px) {
  .btn-chat {
    bottom: 60px;
    right: 10px;
  }

  .chat-popup {
    bottom: 120px;
    right: 10px;
  }
}




/* chips demo css */

.background-blue{
  color: #01538b;
  border: 1.5px solid #01538b;
  cursor: pointer;
  align-items: center;
}



.selectedSk {
  color: #fff;
  background-color: #0074c3;
  border: 1.5px solid #0074c3;
}

#enter-keyword {
  background: var(--bdrcol1);
  padding: 0;
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  border-bottom-left-radius: 15px;
}
#enter-keyword input {
  width: 100%;
  border: unset;
  padding: 20px 15px;
  margin: 0;
  background: var(--white);
  font-size: 13px;
  border-bottom-left-radius: 15px;
}

#enter-keyword input:focus {
  outline: 0;
}

.skillBoxLi {
  width: 100%;
    height: 100%;
    overflow: hidden;
}

.skillBoxDiv {
  display: inline-flex;
  align-items: center;
  width: 100%;
  height: 100%;
  overflow-x: scroll;
  box-sizing: content-box;
  cursor: pointer;
}

.noDisplay {
  display: none !important;
}

/* .p-10 {
  padding: 10px 0;
} */

.d-inline-flex {
  display: flex;
  justify-content: space-between;
}

.d-inline-flex img {
  width: 60px !important;
  height: 60px !important;
}

/* .mt-5 {
  margin-top: 5px;
} */