.ml-5 {
    margin-left: .5rem !important;
}

.ml-15 {
    margin-left: 1.5rem !important;
}

.mt-0 {
    margin-top: 0;
}

.mt-5 {
    margin-top: .5rem !important;
}

.mt-10 {
    margin-top: 1rem;
}

.mt-20 {
    margin-top: 2rem;
}

.mt-30 {
    margin-top: 3rem;
}

.mt-40 {
    margin-top: 4rem;
}

.mr-10 {
    margin-right: 1rem;
}

.mb-30 {
    margin-bottom: 3rem;
}

.pt-20 {
    padding-top: 2rem;
}

.pt-30 {
    padding-top: 3rem;
}

.pt-40 {
    padding-top: 4rem;
}

.pb-20 {
    padding-bottom: 2rem;
}

@media (min-width:1201px) and (max-width:1500px) {
    max-width: 95%;
}

.lightblue-bg {
    background-color: $lightblue;
}

.read-more-state {
    display: none;
}

.read-more-target {
    opacity: 0;
    max-height: 0;
    font-size: 0;
    transition: .25s ease;
    // display: block;
}

.read-more-state {
    &:checked {
        ~ .read-more-wrap {
            .read-more-target {
                opacity: 1;
                font-size: inherit;
                max-height: 999em;
            }
        }
    }
}

.read-more-state {
    ~ .read-more-trigger {
        &:before {
            content: 'Know more';
        }
    } 
}

.read-more-state {
    &:checked {
        ~ .read-more-trigger {
            &:before {
                content: 'Show less';
            }
        }
    }
}

.read-more-trigger {
    cursor: pointer;
    display: inline;
    color: $blue;
    font-size: 1.3rem;
}

.pos-rel{
    position: relative;
}

.flex-1 {
    flex: 1;
}

.fs-13 {
    font-size: 1.3rem;
}