@import '../../path';

@import '../library/variables';

@import '../library/mixin';

/* Color Start From Here */
@import '../components/color';

/* Slider Start From Here */
@import '../components/slider-widget';

.executive-bg {
    background-color: $grey-f4f;
    padding-bottom: 119px;

    .container {
        padding: 10px 0;
    }

    footer {
        .content-box  {
            padding-bottom: 60px;
        }
    }

    .acc_content {
        ol {
            padding-left: 15px;
            margin: 15px 0;

            li {
                position: relative;
                margin-bottom: 15px;
                list-style-type: decimal;
            }
        }
    }

    .arrow-tick {
        li {
            position: relative;
            padding-left: 15px;
            margin-bottom: 15px;
            list-style: none;
    
            &::before {
                content: '';
                @include icon-block (5px, 7px, -437px -9px);
                background-image: url($executive-sprite);
                background-repeat: no-repeat;
                position: absolute;
                left: 0;
                top: 7px;
            }
        }
    }
}



.exec-header {
    background-color: transparent;
    display: flex;
    align-items: flex-end;
    padding: 0;
    position: relative;

    .main-menu {
        position: absolute;
        padding: 15px;
        z-index: 10;
        top: 0;
    }

    img {
        width: 100%;
        height: auto;
        opacity: 1;
        display: block;
    }

    .header-content {
        position: absolute;
        width: 100%;
        left: 0;
        z-index: 2;

        h1 {
            line-height: 30px;
            font-size: $font-size-lg + .25;
            padding-left: 15px;
        }
    }

    .info-band {
        background-color: rgba(0, 0, 0, 0.6);
        height: 65px;
        margin-top: 30px;
        position: relative;
        padding-left: 65px;
        color: $txt-white;

        .slide-container {
            height: 100%;
        }

        span {
            position: absolute;
            left: 15px;
            top: 15px;
        }

        ul {
            li {
                display: flex;
                align-items: center;
                height: 65px;
                padding-right: 15px;
            }
        }


    }
}

.university-logo {
    @include size (144px, 70px);
    @include border-radius(4px);
    border-bottom: 3px solid $blue;
    background-color: $bg-white;
    padding: 10px 15px;
    margin-left: 15px;
    display: flex;
    align-items: center;
    justify-content: center;
    overflow: hidden;

    img {
        max-width: 100%;
        max-height: 100%;
        width: auto;
        display: inline-block;
    }
}

.university-info {
    background-color: lighten($blue, 33.3%);
    color: $txt-white;
    padding: 20px;

    ul {
        margin-bottom: 20px;
        border-bottom: 1px solid $border-grey-c1;
        padding-bottom: 20px;
    }

    li {
        margin-bottom: 13px;

        &:last-child {
            margin-bottom: 0;
        }

        span {
            color: $bg-grey-777;
            font-size: $font-size - 1;
            &::before {
                vertical-align: middle;
                content: '';
                margin-right: 5px;
            }

            span {
                width: 85px;
                display: inline-block;
            }

            sup {
                top: 5px;
                position: relative;
            }
    
            strong {
                color: $txt-grey-333;
                font-size: $font-size + 2;
                vertical-align: middle;

                &.price {
                    color: $blue;
                }
            }
        }
    }   
}

.white-box {
    background-color: $bg-white;
    box-shadow: 0px 0px 7px rgba(0, 0, 0, 0.03);
    border-radius: $global-radius;
    position: relative;
    font-size: $font-size-base;
    color: $bg-grey-777;

    h2 {
        border-bottom: 1px solid $bg-grey-f1;
        font-size: $font-size-lg;
        color: $txt-grey-333;
        position: relative;
        padding-left: 70px;
        height: 55px;
        display: flex;
        align-items: center;
        margin-bottom: 0;

        @media (max-width: 320px) { 
            font-size: $font-size-md;
        }

        span {
            @include border-radius(4px 0 0);
            background-color: $blue;
            height: 55px;
            width: 55px;
            display: block;
            position: absolute;
            top: 0;
            left: 0;

            i {
                position: absolute;
                top: 50%;
                left: 50%;
            }
        }
    }

    h3 {
        font-size: $font-size-md;
        font-weight: $font-weight-medium;
    }

    .content {
        padding: 15px;
    }

    .subhead {
        font-weight: $font-weight-medium;
        font-size: $font-size-md;
        color: $txt-grey-333;
        
    }
}

.pointers {
    margin-left: 7px;

    li {
        border-left: 1px dashed lighten($blue, 15%);
        position: relative;
        padding: 0 0 20px 20px;

        p {
            padding-bottom: 0;
        }

        &:last-child {
            padding-bottom: 0;
        }

        h3,
        strong {
            font-size: $font-size-base;
            line-height: 1.2;
            display: block;
            
            strong {
                font-weight: $font-weight-medium;
            }
        }

        &::before {
            @include border-radius (50%);
            @include size (10px);
            content: '';
            background-color: $bg-white;
            border: 3px solid lighten($blue, 15%);
            position: absolute;
            top: 0;
            left: -8px;
        }
    }
}

.who-attend {
    li {
        position: relative;
        display: flex;
        margin-bottom: 20px;
        padding-left: 50px;
        min-height: 40px;

        div {
            display: flex;
            flex-direction: column;
            
        }

        p {
            line-height: 1.4;
            padding-bottom: 0;
        }

        h3 {
            display: inline-block;
        }

        &::before {
            content: '';
            position: absolute;
            left: 0;
            flex: 1;
        }
    }
}

.key-benefits {
    .media {
        display: flex;
        flex-direction: row;
        align-items: flex-start;
        margin-bottom: 15px;
    }
}

.tick-list {
    li {
        font-size: 0.875rem;
        position: relative;
        padding-left: 25px;
        margin-bottom: 15px;

        &:last-child {
            margin-bottom: 0;
        }

        &::before {
            content: '';
            @include icon-block (17px, 17px, -488px -4px);
            background-image: url($executive-sprite);
            background-repeat: no-repeat;
            position: absolute;
            left: 0;
            top: 3px;
        }
    }
}

.faculty-profile {
    h3.name {
        color: $txt-grey-333;
        font-size: $font-size-md;  
    }
    .desigation {
        color: $txt-grey-999;
        line-height: 18px;

        span {
            height: 2px;
            background-color: #ddd;
            width: 20%;
            display: block;
            margin: 15px auto 0;
        }
    }

    .faculty-image {
        @include border-radius(50%);
        @include size(90px);
        display: inline-block;
        overflow: hidden;
        margin-bottom: 10px;

        img {
            max-width: 100%;
            position: relative;
        }
    }
}

.content {
    .accordion-wrap {
        background-color: $bg-grey-fc;

        .accordion_in {
            @include border-radius(4px);
            border: 1px solid lighten($blue, 10%);
            margin-bottom: 10px;

            &.acc_active {
                .acc_icon_expand {
                    background-position: -469px -5px;
                }
            }

            .acc_content {
                background-color: $bg-grey-fc !important;
                
                ul {
                    padding-left: 0;
                    color: $bg-grey-777;

                    li {
                        list-style-type: none;
                    }
                }
            }
        }

        .acc_head {
            background-color: $bg-grey-fc !important;
            font-size: $font-size-base;
            color: $txt-grey-555;

            .acc_icon_expand {
                @include icon-block (14px, 14px, -445px -6px);
                margin-top: -4px;
                position: absolute;
                right: 10px;
                top: 50%;
            }
        }

        .no-content {
            .acc_icon_expand {
                background: none !important;
            }
        }
    }  
}

.sample-certificate {
    @include border-radius(3px);
    border: 1px solid $grey-f0f;
    background-color: $grey-f9f;
    padding: 10px 10px 6px;

    @media (max-width: 320px) { 
        font-size: $font-size-base;
        padding: 5px 4px 0px;
    }
    .media-left {
        img {
            width: 100px;
            height: 74px;
        }
    }

    .subhead {
        
        @media (max-width: 320px) { 
            font-size: $font-size-base;
        }
    }
}

.instutite-image {
    position: relative;

    h3 {
        position: absolute;
        color: #fff;
        z-index: 1;
        bottom: 10px;
        left: 10px;
        font-size: $font-size-lg + .2;
    }

    img {
        opacity: .3;
    }
}

.gr_instutite {
    /* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#295986+0,625287+44,413986+100 */
background: #295986; /* Old browsers */
background: -moz-linear-gradient(left, #295986 0%, #625287 44%, #413986 100%); /* FF3.6-15 */
background: -webkit-linear-gradient(left, #295986 0%,#625287 44%,#413986 100%); /* Chrome10-25,Safari5.1-6 */
background: linear-gradient(to right, #295986 0%,#625287 44%,#413986 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#295986', endColorstr='#413986',GradientType=1 ); /* IE6-9 */
}

.testimonials {
    background: url($executive-images + 'testimonial-bg.jpg') no-repeat center top;
    padding-bottom: 10px;

    .testimonial-image {
        @include size(60px);
        border-radius: 4px;
        overflow: hidden;
        display: block;

        img {
            @include size(100%);
        }
    }
}

.romain-list {
    padding-left: 10px;

    li {
        list-style-type: upper-roman;
        margin-bottom: 15px;
    }
}

.blueborder {
    border-top: 3px solid $blue;

}


.payment-mode {
    .overall-fees {
        display: flex;
        justify-content: space-between;
        margin: 10px 0 20px;

        .title {
            font-size: $font-size-base + .1;
        }

        .fee {
            font-size: $font-size-lg;
            font-weight: $font-weight-bold + .1;
            color: $txt-grey-333;
        }

        .payment-deadline {
            @include border-radius(4px);
            border: 1px solid $blue;
            padding: 5px;

            span {
                display: block;
                text-align: center;
            }
        }

    }
    .payment-instament {
        li {
            border-bottom: 1px solid #eae9e9;
            margin-bottom: 20px !important;
            padding-bottom: 20px;
            padding-left: 0;

            &::before {
                content: '';
                background-image: none !important;
            }
    
            &:last-child {
                border-bottom: 0;
                margin-bottom: 0 !important;
                padding-bottom: 0;
            }
    
            .price {
                font-size: $font-size-lg;
                font-weight: $font-weight-bold;
                color: $txt-grey-333;
            }
    
            p {
                padding-bottom: 0;
    
                strong {
                    font-weight: $font-weight-medium;
                    color: $txt-grey-333;
                }
            }
        }
    }
}


.you-may-like {
    padding: 0;
    background-color: #e8edf0;
    margin: 10px 0;

    h2 {
        text-align: left;
    }

    .home-banner-img {
        @include size(100px);
        display: block;
    }
}

.application-process {
    li {
        .white-circle {
            @include border-radius(50%);
            @include size(70px);
            box-shadow: 0 0 30px rgba(0, 0, 0, 0.10);
            position: relative;
            display: inline-block;

            i {
                @include box(32px, 35px);
                position: absolute;
                margin: 0 auto;
                top: 18px;
                bottom: 0;
                left: 0;
                right: 0;
            }
        }
        &::before {
            content: none;
            background-image: none !important;
        }
    }
}


.topSticky-enrollNow {
    position: fixed;
    background-color: #2b3c5a;
    top: -30px;
    width: 100%;
    z-index: 9;
    left: 0;
    box-shadow: 0 0 20px rgba(0,0,0, .2);
    height: 63px;
    color: $txt-white;
    opacity: 0;
    transition-property: opacity, top;
    transition-delay: 0s, 0s;
    transition-duration: 0.3s, 0.3s;

    .content-box {
        position: relative;
        z-index: 1;
        display: flex;
        align-items: center;
        justify-content: space-between;
        padding-top: 0;
        padding-bottom: 0;
        height: 100%;
        font-size: $font-size-md;
        font-weight: $font-weight-bold;
    }

    img {
        opacity: .1;
        position: absolute;
        top: 0;
        left: 0;
    }
}

.stick-enroll {
    opacity: 1;
    top: 0;
}

.weeked-batch {
    opacity: .7;
}

.university-detail,
.faculty-detail {

    .overlay {
        z-index: 1;;
        /* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#000000+0,000000+100&0.39+0,0.8+100 */
        background: -moz-linear-gradient(top, rgba(0,0,0,0.5) 0%, rgba(0,0,0,0.8) 100%); /* FF3.6-15 */
        background: -webkit-linear-gradient(top, rgba(0,0,0,0.5) 0%,rgba(0,0,0,0.8) 100%); /* Chrome10-25,Safari5.1-6 */
        background: linear-gradient(to bottom, rgba(0,0,0,0.39) 0%,rgba(0,0,0,0.8) 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
        filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#63000000', endColorstr='#cc000000',GradientType=0 ); /* IE6-9 */
    }

    .request-callback {
        border-bottom: 5px solid $blue;
    }

    .university-logo {
        border-bottom-color: $blue;
    }
    
    .university-logo img {
        width: 80%;
    }

    .banner-image {
        @include size(100%, 360px);
        background-repeat: no-repeat;
        background-size: cover;
    }
    
    .banner-list {
        padding-left: 15px;
        color: $txt-white;
        padding-bottom: 15px;
        width: 100%;
        
        li {
            list-style-type: disc;
            margin-bottom: 10px;

            &:last-child {
                margin-bottom: 0;
            }
        }
    }

    .want-help {
        h2 {
            @include border-radius(4px 4px 0 0);
            background-color: $blue;
            justify-content: center;
            color: $txt-white;
            padding: 0 15px;
        }
    }

    // faculty Profile css
    .heading-override {
        h2 {
            border-bottom: 0;
            padding-top: 15px;
            padding-bottom: 5px;
            padding-left: 15px;
            height: auto;

            span {
                display: none;
            }
        }
    }

    .form-group {
        margin-bottom: 10px;
    }
}

.courses-offered {
    .white-box {
        margin-bottom: 20px;

        &:last-child {
            margin-bottom: 0;
        }
    }
    
    .university-logo {
        width: 20%;
        padding: 10px 5px 8px 5px;
        box-shadow: $box-shadow;
        margin-left: 0;
    }

    .course-logo {
        @include size (100px, 65px);
        display: block;
        overflow: hidden;
    }

    .date-icon {
        color: $txt-grey-999;

        &::before {
            content: '';
            display: inline-block;
            position: relative;
            top: 4px;
            margin-right: 8px;
        }
    }
}

.spacer {
    color: $txt-grey-999;
    padding: 0 5px;
}


.offer-tag {
    color: $txt-white;
    height: 21px;
    position: relative;
    background: $orange;
    position: absolute;
    right: 0;
    font-size: $font-size-xs;
    text-align: right;
    padding-right: 10px;
    padding-left: 20px;

    &::after {
        content: "";
        position: absolute;
        left: 0;
        bottom: 0;
        width: 0;
        height: 0;
        border-left: 8px solid white;
        border-top: 10px solid transparent;
        border-bottom: 11px solid transparent;
    }
  }


.college-image-about {
    position: relative;
    padding-top: 20px;

    .image-wrap {
        @include border-radius (0 0 4px 4px);
        position: relative;
        bottom: 0;
        overflow: hidden;

        img {
            display: block;
        }
    }

    .university-logo {
        position: absolute;
        top: -8px;
        left: 15px;
        z-index: 1;
        box-shadow: $box-shadow;
        padding: 30px 15px 25px;
    }
}


.principal-image-wrap {
    @include size(200px);
    position: relative;
    margin: 25px auto 30px;

    .university-logo {
        padding: 15px 10px;
        position: absolute;
        z-index: 1;
        right: -35px;
        width: 35%;
        top: 25px;
        box-shadow: $box-shadow;
    }

    .principle-image {
        @include size (100%);
        @include border-radius(4px);
        position: relative;
        overflow: hidden;
    }
}

.principal-detail {
    .principal-name {
        text-transform: uppercase;
        display: block;
        font-size: $font-size-md;
        color: $txt-grey-333;
        font-weight: $font-weight-medium;
    }

    .principal-location {
        color: $txt-grey-999;
        padding-top: 3px;
        display: block;
    }
}

.faculty-detail {
    .banner-image {
        height: 222px;;
    }

    .principal-image-wrap {
        position: absolute;
        margin: 0;
        z-index: 1;
        bottom: -75px;
        left: 15px;   
        box-shadow: $box-shadow-2; 
    }
}

.white-container {
    background-color: $bg-white;
    padding: 15px;
    box-shadow: $box-shadow-2;

    h1 {
        font-weight: $font-weight-bold;
        font-size: $font-size-lg * 1.7;
        color: $txt-grey-333;
        margin: 0 0 5px;
        line-height: 1.3;
    }
}


.program-structure {
    .modal-content{
        height: 90%;
        overflow: scroll;
        margin-top: 2rem;
    }
}

.stop-bodyScroll {
    position: fixed;
    width: 100%;
    height: 100%;
    overflow: hidden;
}

.row {
    margin-left: -15px;
    margin-right: -15px;
}