@import '../../../../styles-mobile/abstracts';

.courses-tray {
    .category {
        .nav-link {
            text-transform: none;
        }
    }
}

.stick-search-header {
    position: fixed;
    top: 0;
    right: 0;
    left: 0;
    z-index: 9999;
}

.home-offer {
    .bm-burger-button {
        #react-burger-menu-btn {
            top: 10rem !important;
        }
    }
}