.set-cursor{
    cursor: pointer;
}

#customer-email{
    display: none;
}

#customer-mobile{
    display: none;
}

.padding-item{
    padding-top:16px!important;
}

.modal-item{
    padding: 9px 10px;
}

.button-maring-top{
    margin-top:13px;
}

.button-margin-left{
    margin-left:14px;
}

.edit-icon{
    margin-right:3px;
}

.review-button{
    transform: translateY(-8px) scale(0.8);
}

.follow-date{
    margin-top: 9px;
}
.help-block{
    margin:0;
}
.scalling .select2-container{
    transform: scale(0.8) translateX(-10%);
}
.scalling .help-block{
    transform: scale(0.8) translateX(-10%);
}
.filter-dropdown{
    transform: translateY(40%);
}

.feedback-loader{
    background-color: rgba(0,0,0,0.5);
    position: fixed;
    height: 100%;
    width: 100%;
    z-index: 10;
    display: none;
}

.body-overflow{
    overflow: hidden;
}

.feedback-loader-image{
    width: 100px;
    position: fixed;
    left: 50%;
    top: 50%;
}

.filter-remove-icon{
    position: absolute;
    right: 10px;
    top: 35px;
    z-index:3;
    cursor: pointer;
}

.filter-div{
    position: relative;
}

.has-error .select2-selection {
    border-color: rgb(185, 74, 72) !important;
}

.orderitem-id{
    font-weight: 800;
    text-decoration: underline;

}
.oi-type{
    float:right;
    margin-bottom:20px;
}
.truncate{
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden;
    max-width: 200px;
    width: 200px;
}
.view-more{
    font-weight: 900;
    cursor: pointer;
}