@import '../../../../../styles/functions';
@import '../../../../../styles/variables';
@import '../../../../../styles/mixins';

.popular-courses {
    box-shadow: $box-shadow;
    padding: 2rem;
    border-radius: $border-radius;
    background-color: $white;

    &__list {
        list-style-type: none;
        margin: 0;
        padding: 0;

        li {
            display: flex;
            margin-bottom: 1.5rem;

            figure {
                width: 5rem;
                height: 5rem;
                margin: 0 .5rem 0 0;

                img {
                    max-width: 100%;
                }
            }

            .links {
                font-size: 1.1rem;
                a {
                    display: block;
                    font-size: 1.3rem;
                    color: $blue;
                    font-weight: 600;
                    margin-bottom: .5rem;
                }
                .rating {
                    display: inline-flex;
                    font-size: 1.1rem;
                    align-items: center;
                    figure {
                        margin: 0 .3rem 0 0;
                    }
                }  
            }
        }
    }

    .view-all {
        font-size: 1.2rem;
        font-weight: 700;
        color: $blue;
        display: flex;
        justify-content: flex-end;
    }
}