// @import '../../../Common/scss/library/variables';
// @import '../../../Common/scss/utilities/flex';

@import '../../../../styles/library/variables';
@import '../../../../styles/utilities/flex';

.call-to-action {
    background-color: $primary;
    padding: 15px;
    position: fixed;
    bottom: 0;
    width: 100%;
    z-index: 1;
}

.file-upload {
    &__input_left {
        position: absolute;
        font-size: 50px;
        opacity: 0;
        left: 216px;
        top: 0;
    }
}