@import '../../../../../styles/functions';
@import '../../../../../styles/variables';
@import '../../../../../styles/mixins';

.learning-advantage{
    background-image: linear-gradient(172deg, #A68BF2 0%, #8E3E59 100%);
    color: $white;

    h2 {
        color: $white;
    }

    ul {
        display: flex;
        li {
            display: flex;
            justify-content: center;
            text-align: center;

            .learning-advantage__txt {
                display: flex;
                flex-direction: column;
                align-items: center;
            }

            p {
                margin: 2rem;
            }
        }
    }
}