[class^="micon-"] {
  text-indent: 200%;
  overflow: hidden;
  white-space: nowrap;
}

.micon-round-arrow {
  background: $sprite;
  @include icon-inblock(40px, 27px, 0 0);
}

.micon-choose1 {
  background: $sprite;
  @include icon-inblock(44px, 36px, -43px 0);
}

.micon-choose2 {
  background: $sprite;
  @include icon-inblock(44px, 30px, -99px -1px);
}

.micon-choose3 {
  background: $sprite;
  @include icon-inblock(44px, 37px, -159px 0);
}

.micon-choose4 {
  background: $sprite;
  @include icon-inblock(44px, 37px, -216px 0);
}

.micon-choose5 {
  background: $sprite;
  @include icon-inblock(44px, 32px, -269px -1px);
}

.micon-choose6 {
  background: $sprite;
  @include icon-inblock(44px, 33px, -326px 0);
}

.micon-fullstar {
  background: $sprite;
  @include icon-inblock(11px, 10px, -466px -24px);
}

.micon-blankstar {
  background: $sprite;
  @include icon-inblock(11px, 10px, -484px -24px);
}

.micon-halfstar {
  background: $sprite;
  @include icon-inblock(11px, 10px, -484px -24px);
}

.micon-pdf {
  background: $sprite;
  @include icon-inblock(15px, 20px, -476px 0);
}

