.fs-11 {
    font-size: $font-size-xs - .1;
}

.fs-12 {
    font-size: $font-size-xs;
}

.fs-13 {
    font-size: $font-size-base;
}

.fs-14 {
    font-size: $font-size-md;
}

.fs-16 {
    font-size: $font-size-lg;
}

.fs-18 {
    font-size: $font-size-base * 1.3846153846;
}

.fs-20 {
    font-size: $font-size-base * 1.5384615385;
}

.fs-22 {
    font-size: $font-size-base * 1.6923076923;
}