// Margin From top

.mt-5 {
    margin-top: .5rem;
}

.mt-10 {
    margin-top: 1rem;
}

.mt-15 {
    margin-top: 1.5rem !important;
}

.mt-20 {
    margin-top: 2rem !important;
}

.mb-25 {
    margin-bottom: 2.5rem !important;
}

.mt-30 {
    margin-top: 3rem !important;
}

.mt-40 {
    margin-top: 4rem !important;
}

.mt-50 {
    margin-top: 5rem !important;
}


// Margin From Bottom

.mb-0 {
    margin-bottom: 0 !important;
}

.mb-5 {
    margin-bottom: .5rem !important;
}

.mb-10 {
    margin-bottom: 1rem !important;
}


.mb-15 {
    margin-bottom: 1.5rem !important;
}

.mb-20 {
    margin-bottom: 2rem !important;
}

.mb-30 {
    margin-bottom: 3rem !important;
}


.mr-0 {
    margin-right: 0;
}

.mr-5 {
    margin-right: .5rem;
}

.mr-10 {
    margin-right: 1rem;
}

.mr-15 {
    margin-right: 1.5rem;
}

.mr-20 {
    margin-right: 2rem;
}

.mr-25 {
    margin-right: 2.5rem;
}

.mr-30 {
    margin-right: 3rem;
}

.mt-n10 {
    margin-top: -10px;
}


.ml-5 {
    margin-left: 5px;
}

.ml-10 {
    margin-left: 10px;
}




// Margin in top/bottom
.my-5 {
    margin-top: 5px;
    margin-bottom: 5px;
}

.my-10 {
    margin-top: 10px;
    margin-bottom: 10px;
}

.my-15 {
    margin-top: 15px;
    margin-bottom: 15px;
}

.my-20 {
    margin-top: 20px !important;
    margin-bottom: 20px !important;
}

.my-25 {
    margin-top: 25px;
    margin-bottom: 25px;
}

.my-30 {
    margin-top: 30px;
    margin-bottom: 30px;
}

.my-35 {
    margin-top: 35px;
    margin-bottom: 35px;
}

.my-40 {
    margin-top: 40px;
    margin-bottom: 40px;
}

.my-45 {
    margin-top: 45px;
    margin-bottom: 45px;
}


// Margin in Left/Right

.mx-5 {
    margin-left: 5px;
    margin-right: 5px;
}

.mx-10 {
    margin-left: 10px;
    margin-right: 10px;
}

.mx-15 {
    margin-left: 15px;
    margin-right: 15px;
}

.mx-20 {
    margin-left: 20px;
    margin-right: 20px;
}

.mx-25 {
    margin-left: 25px;
    margin-right: 25px;
}

.mx-30 {
    margin-left: 30px;
    margin-right: 30px;
}

.mx-35 {
    margin-left: 35px;
    margin-right: 35px;
}

.mx-40 {
    margin-left: 40px;
    margin-right: 40px;
}

.mx-45 {
    margin-left: 45px;
    margin-right: 45px;
}

