@import '../../../../../styles-mobile/abstracts';

.m-who-learn {
    ul {
        list-style-type: none;
        margin: 0;
        padding: 0;

        li {
            padding-left: 2.5rem;
            position: relative;

            &:not(:last-child) {
                margin-bottom: 1.5rem;
            }
            
            &::before {
                content: '';
                background: $sprite -32px 0;
                width: 1rem;
                height: .8rem;
                display: inline-block;
                position: absolute;
                left: 0;
                top: .7rem;
            }
        }
    }
}