@import '../../../../../styles/functions';
@import '../../../../../styles/variables';
@import '../../../../../styles/mixins';

.sticky-nav {
    display: block;
    box-shadow: $box-shadow;
    padding: 2rem 1rem 0 1rem;
    position: sticky; //fixed
    top: 0rem;
    z-index: 99999;

    .container {
        justify-content: flex-start;
        align-items: center;

        .flex-100 {
            flex: 100%;
        }

        .btn {
            margin-top: -2rem;
            font-size: 1.3rem;
            padding-left: 2.5rem;
            padding-right: 2.5rem;
        }
    }

    h2 {
        font-size: 2rem;
    }

    .nav-item, .nav-link {
        padding: 1rem 2rem !important;

        // &.active {
        //     color: $blue !important;
        //     font-weight: 600;
        //     border-bottom: 3px solid $blue;
        // }
    }

    .navbar-nav {
        .active {
            // color: $black !important;
            // font-weight: 600;
            border-bottom: 3px solid $blue;
            font-weight: 600;

            .nav-link {
                color: $blue;
            }
        }
    }

    .navbar-light .navbar-nav .show > .nav-link, .navbar-light .navbar-nav .active > .nav-link, .navbar-light .navbar-nav .nav-link.show, .navbar-light .navbar-nav .nav-link.active {
        color: $black !important;
    }
}