.wrapper {
    display: block;
    min-height: 100%;
    position: relative;
    width: 100%;
}

.content-box {
    padding: 15px;
}

.media-right {
    @extend %tablecell-top;
  }
  
  .media-body {
    @extend .media-right;
    width: 10000px;
  }
  
  .media-left {
    @extend .media-right;
    padding-right: 15px;
  }

.white-box {
    @include border-radius($border-radius-base);
    background-color: $white;
    box-shadow: $box-shadow;
    padding: 15px;
    position: relative;

    h2 {
        position: relative;
        margin-bottom: 12px;

        &::before {
            content: '';
            @include size(5px, 35px, block);
            position: absolute;
            left: -15px;
            background-color: $primary-light;
        }
    }
}

.body-wrapper {
    width: 100%;
    padding: 0 0 190px;
    clear: both;
}

.border-bottom-blue {
    overflow: hidden;

    &::after {
        content: '';
        position: absolute;
        bottom: 0;
        width: 100%;
        height: 5px;
        left: 0;
        background-color: $primary-light;;
    }
}

.position-relative {
    position: relative;
}

.row {
    margin-left: -15px;
    margin-right: -15px;
}

.stick_bottom {
    position: fixed;
    bottom: 0;
    z-index: 999;
    background-color: #fff;
    -webkit-box-shadow: 0 -2px 4px 1px rgba(0, 0, 0, 0.1);
    -moz-box-shadow: 0 -2px 4px 1px rgba(0, 0, 0, 0.1);
    box-shadow: 0 -2px 4px 1px rgba(0, 0, 0, 0.1);
    width: 100%;
    left: 0;

    .content-box {
      padding-bottom: 10px;
      padding-top: 10px;
    } 
}

.gradient_base {
    @include gradient-directional($primary, $primary-gr, 45deg);
}