@import '../../../../../styles-mobile/abstracts';

.m-why-choose-us {
    ul {
        list-style-type: none;
        padding: 0;
        margin: 0;

        li {
            display: flex;
            padding: 1rem 0;

            &:not(:last-child) {
                margin-bottom: 1rem;
                border-bottom: 1px solid $gray-900;
            }

            p {
                font-size: 1.3rem;

                strong {
                    color: $gray-100;
                    font-weight: 700;
                    display: block;
                    font-size: 2.6rem;
                    line-height: 2.9rem;

                    span {
                        font-weight: 400;
                    }
                }

                span {
                    font-weight: 700;
                }
            }

            figure {
                margin-top: .3rem;
            }
        }
    }
}