.hide {
    display: none;
}

.show {
    display: block;
}

.visible {
    visibility: visible;
}

.hidden {
    visibility: hidden;
}

.h-300 {
    height: 30.0rem;
}

// Fonts

.fs-12 {
    font-size: 1.2rem;
}

.fs-14 {
    font-size: 1.4rem !important;
}

.fs-16 {
    font-size: 1.6rem !important;
}

.fs-20 {
    font-size: 2.0rem !important;
}

.fs-22 {
    font-size: 2.2rem !important;
}

.fs-26 {
    font-size: 2.6rem !important;
}

.bold {
    font-weight: 700;
}

.semi-bold {
    font-weight: 600;
}

.line-through {
    text-decoration: line-through;
}

// Color 

.color-333 {
    color: #333;
}