<section class="contributor-container mt-40 mb-40">
	<div class="container">
		<h2 class="main-heading-article">Contributors</h2>
		<div class="col-sm-12 col-md-offset-0">
			<div class="contributor-slide row">
				<div class="item">
				{% for author in authors %}
					<div class="col">
						<a class="box-panel" href="{% url 'talent:authors-detail' author.slug %}">
							<figure>
								{% if author.image %}
								<img data-lazy="{{author.image.url}}" class="img-responsive">
								{% endif %}
							</figure>
							<figcaption>
								{{author.name}} <strong>{{author.designation}}</strong>
								<span class="read">{{author.no_of_blog}} articles</span>
							</figcaption>
						</a>
					</div>
				{% endfor %}
				</div>
			</div>
		</div>

		{% if authors.count > 4 %}
		<a class="left carousel-control" href="javascript:void(0)" data-slide="prev"></a>
		<a class="right carousel-control" href="javascript:void(0)" data-slide="next"></a>
		<a href="{% url 'talent:authors-listing' %}" class="view-all mt-20 mr-0" title="View all Contributors">View all</a>
		{% endif %}
	</div>
</section>