<section class="contributor-carousel mt-40">
	<div class="container">
		<h2 class="main-heading-article">Contributors</h2>
		<div class="col-sm-12 col-md-offset-0">
			<div class="carousel slide row" data-ride="carousel" data-type="multi" data-interval="3000" id="myCarousel1">
				
				<div class="carousel-inner">
					{% for author_l in authors_list %}
						<div class="item {% if forloop.counter == 1 %}active{% endif %}">
							{% for author in author_l %}
								{% if author %}
									<div class="col">
										<a class="box-panel" href="{% url 'talent:authors-detail' author.slug %}" title="{{author.name}}" onclick="MyGA.SendEvent('contributor_click','ln_contributor_click', 'ln_contributor_name_click', 'ln_{{author name}}','', false, true)">
											<figure>
												{% if author.image %}
												<img loading="lazy" aria-label="{{author.image_alt}}" src="{{author.image.url}}" class="img-responsive" alt="{{author.image_alt}}">
												{% endif %}
											</figure>
											<figcaption>
												{{author.name}} <strong>{{author.designation}}</strong>
												<span class="read">{{author.no_of_blog}} articles</span>
											</figcaption>
										</a>
									</div>
								{% endif %}
							{% endfor %}
						</div>
					{% endfor %}
				</div>
			</div>
		</div>
		<a class="left carousel-control" href="#myCarousel1" data-slide="prev" onclick="MyGA.SendEvent('contributor_click','ln_contributor_click', 'ln_slider', 'ln_left_slider','', false, true)"></a>
		<a class="right carousel-control" href="#myCarousel1" data-slide="next" onclick="MyGA.SendEvent('contributor_click','ln_contributor_click', 'ln_slider', 'ln_right_slider','', false, true)"></a>
		<a href="{% url 'talent:authors-listing' %}" class="view-all" title="View all Contributors" onclick="MyGA.SendEvent('contributor_click','ln_contributor_click', 'ln_view_all', '','', false, true)">View all</a>
		
	</div>
</section>