<div class="leave-comment" id="collapseExample">
    <strong>Leave a comment</strong>

    <form>
        <div class="form-group">
            <textarea class="form-control" placeholder="Your comment" rows="3"></textarea>
        </div>
        <div class="form-inline row hidden">
            <div class="form-group col-sm-6">
                <input type="text" class="form-control" id="exampleInputName1" placeholder="Name">
            </div>
            <div class="form-group col-sm-6">
                <input type="email" class="form-control" id="exampleInputEmail1" placeholder="Email">
            </div>
        </div>
        <button type="submit" class="submit-button" onclick="commentSubmit('{{main_article.id}}', '{{login_status}}')" id="comment-submit{{main_article.id}}">Post comment</button>
    </form>
</div>


{% for i in '12' %}
<div class="media mt-30" >
    <div class="media-left">
        <figure>
            <a href="#">
            <img class="media-object" src="images/talent-author-pic1.jpg" alt="shine">
          </a>
        </figure>
    </div>
    <figcaption class="media-body">
        <span class="author-name">Krishna Singh</span>
        <span class="time">1 hr ago</span>
        <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry’s standard dummy text ever since the 1500s</p>
        <a href="#">Reply</a>
    </figcaption>
</div>
{% endfor %}

  <a class="comments-links mb-40"> <span class="comments-icon mr-10"></span>More Comments</a>