<!-- content start -->
<div class="article-detail-content" itemscope itemtype="https://schema.org/Article">

    <!-- page heading -->
    <div class="page-header">
        <h1 itemprop="name">{{main_article.heading}}</h1>
        <div class="editor-comments-views">
            <span>
              <img src="{{main_article.author.image.url}}" class="author-small-pic" alt="{{main_article.author.image_alt}}">
              <a href="/talenteconomy/authors/{{main_article.author.slug}}">{{main_article.author.name}}</a> / <span itemprop="datePublished">{{main_article.publish_date.date}}</span>
            </span>
            <meta itemprop="author" content={{main_article.author.name}}>

            {% if main_article.comment_moderated > 0 %}
            <span>
              <a href="#">
                <figure class="comment-small-icon"></figure> 
                <strong>{{main_article.comment_moderated}}</strong> comments</a>
            </span>
            {% endif %}

            <span>
            {% if main_article.no_views > 0 %}
              <figure class="view-icon"></figure> 
              <strong>{{main_article.no_views}}</strong>
            </span>
            {% endif %}
        </div>
        <div class="social-login">
            <a class="facebook" id="article_share" href="https://www.facebook.com/sharer/sharer.php?u={{SITEDOMAIN}}{{main_article.get_absolute_url}}" article-slug="{{main_article.slug}}" target="_blank"></a>
            
            <a class="twitter" id="article_share" article-slug="{{article.slug}}" href="https://twitter.com/home?status=={{SITEDOMAIN}}{{main_article.get_absolute_url}}"></a>

            <a class="gplus" id="article_share" target="_blank" article-slug="{{article.slug}}" href="https://plus.google.com/share?url={{SITEDOMAIN}}{{main_article.get_absolute_url}}"></a>

            <a class="linkedin" id="article_share" target="_blank" article-slug="{{article.slug}}" href="https://www.linkedin.com/shareArticle?mini=true&url={{SITEDOMAIN}}{{main_article.get_absolute_url}}&title={{main_article.title}}&summary={{main_article.meta_desc}}&source={{SITEDOMAIN}}/"></a>

        </div>
    </div>

    <figure>
        <img src="{{main_article.image.url}}" alt="{{main_article.image_alt}}" class="img-responsive" itemprop="image">
    </figure>

    <article class="article-content" itemprop="articleBody">
        {{main_article.content|safe}}
    </article>

    <div class="social-login">
        <a class="facebook" id="article_share" href="https://www.facebook.com/sharer/sharer.php?u={{SITEDOMAIN}}{{main_article.get_absolute_url}}" article-slug="{{main_article.slug}}" target="_blank"></a>
        
        <a class="twitter" id="article_share" article-slug="{{article.slug}}" href="https://twitter.com/home?status=={{SITEDOMAIN}}{{main_article.get_absolute_url}}"></a>

        <a class="gplus" id="article_share" target="_blank" article-slug="{{article.slug}}" href="https://plus.google.com/share?url={{SITEDOMAIN}}{{main_article.get_absolute_url}}"></a>

        <a class="linkedin" id="article_share" target="_blank" article-slug="{{article.slug}}" href="https://www.linkedin.com/shareArticle?mini=true&url={{SITEDOMAIN}}{{main_article.get_absolute_url}}&title={{main_article.title}}&summary={{main_article.meta_desc}}&source={{SITEDOMAIN}}/"></a>
    </div>

    <meta itemprop="headline" content="{{main_article.heading}}">
    <meta itemprop="dateModified" content="{{main_article.publish_date.date}}">
    <meta itemprop="mainEntityOfPage" content="{% url 'talent:talent-landing' %}">
    
  <div itemprop="publisher" itemscope itemtype="https://schema.org/Organization" >
    <div itemprop="logo" itemscope itemtype="https://schema.org/ImageObject">
      <meta itemprop="url" content="https://learning.shine.com/media/static/shinelearn/images/logo.png">
    </div>
    <meta itemprop="name" content="Shine">
  </div>

    <!-- Tagged in box -->
    {% with main_article.tags.all as tags %}
    {% if tags %}
    <div class="tagged-in mt-40">
        <strong>Tagged in</strong>
        {% for tag in tags %}
        <span><a href="#">{{tag.name}}</a></span>
        {% endfor %}
    </div>
    {% endif %}
    {% endwith %}

    <!-- comments box -->
    {% if article.allow_comment %}
    <div class="comments-box mb-40 mt-40">
        <!-- comments box heading-->
        <div class="comments-box-heading">
            <span class="comments-icon mr-10"></span> <strong>23 comments</strong>
            <a role="button" data-toggle="collapse" href="#collapseExample" aria-expanded="false" aria-controls="collapseExample">Leave a comment</a>
        </div>

        <!-- Leave a comment box-->
        <div class="collapse leave-comment" id="collapseExample">
            <strong>Leave a comment</strong>

            <form>
                <div class="form-group">
                    <textarea class="form-control" placeholder="Your comment" rows="3"></textarea>
                </div>
                <div class="form-inline row hidden">
                    <div class="form-group col-sm-6">
                        <input type="text" class="form-control" id="exampleInputName1" placeholder="Name">
                    </div>
                    <div class="form-group col-sm-6">
                        <input type="email" class="form-control" id="exampleInputEmail1" placeholder="Email">
                    </div>
                </div>
                <button type="submit" class="submit-button">Post comment</button>
            </form>
        </div>

        <!-- comments-->
        {% for i in '12' %}
        <div class="media mt-30">
            <div class="media-left">
                <figure>
                    <a href="#">
                    <img class="media-object" src="images/talent-author-pic1.jpg" alt="shine">
                  </a>
                </figure>
            </div>
            <figcaption class="media-body">
                <span class="author-name">Krishna Singh</span>
                <span class="time">1 hr ago</span>
                <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry’s standard dummy text ever since the 1500s</p>
                <a href="#">Reply</a>
            </figcaption>
        </div>
        {% endfor %}
        <a href="#" class="comments-links mb-40"> <span class="comments-icon mr-10"></span>More Comments</a>

    </div>
    {% endif %}

</div>