<div class="popular-courses box-panel col-sm-6 col-md-12 mb-40 look-interesting">
    <h2 class="heading-right-talent">Look interestinf?</h2>
    <p class="mt-15">Know more about our services, just fill the details below!</p>

    <form action="" class="mt-15 register">
        <div class="form-group">
            <input type="text" name="name" placeholder="Name" class="form-control" maxlength="60" required="" id="id_name" aria-required="true" aria-invalid="true">
            <span class="error-txt">Please enter a name.</span>
        </div>

        <div class="form-group ">
            <div class="country-code">
                <div class="custom-select">
                    <select name="country_code" class="form-control" id="id_country_code">
                        <option value="93">93</option>
                        <option value="358-18">358-18</option>
                        <option value="355">355</option>
                        <option value="213">213</option>
                        <option value="1-684">1-684</option>
                        <option value="376">376</option>
                        <option value="244">244</option>
                        </select>
                    </div>
                    <input type="text" name="cell_phone" class="form-control" placeholder="Mobile" maxlength="15" required="" id="id_cell_phone" aria-required="true">
                    <span class="error-txt"></span>
            </div>
        </div>

        <div class="form-group">
            <textarea class="form-control" placeholder="Message"></textarea>
            <span class="error-txt">Please enter a valid email address.</span>
        </div>

        <button type="submit" class="btn btn-primary submit">Submit</button>
    </form>
	
</div>

