<div class="popular-courses right-box box-panel col-sm-6 col-md-12 mb-40">
	<h2 class="heading-right-talent">
		{% if titleCourses %}
		{{titleCourses}}
		{% else %}
		Popular Courses
		{% endif %}
	</h2>
	<ul>
		{% for popularCourses in popular_courses %}
		<li>
			<a href="{{popularCourses.url}}?itm_source=TE&itm_medium=PopularCourses&itm_campaign={{page}}&itm_content={{popularCourses.name.split|join:"-"}}"
				title="{% if popularCourses.display_name %} {{popularCourses.display_name}} {% else %} {{popularCourses.name}} {% endif %}" onclick="MyGA.SendEvent('ln_popular_courses','ln_popular_courses', 'ln_click_popular_course', '{{popularCourses.name}}', '', false, true)">
				<h3>
					{% if popularCourses.display_name %}
					{{popularCourses.display_name}}
					{% else %}
					{{popularCourses.name}}
					{% endif %}
				</h3>
				<div class="rating-box">
					{% for star in popularCourses.star %}
					{% if star == '*' %}
					<figure class="full-star"></figure>
					{% endif %}
					{% if star == '+' %}
					<figure class="half-star"></figure>
					{% endif %}
					{% if star == '-' %}
					<figure class="blank-star"></figure>
					{% endif %}
					{% endfor %}
					<strong>{{popularCourses.avg_rating_exact}}<small>/5</small></strong>
				</div>
				<span class="jobs-available">
					{{popularCourses.num_jobs}} jobs available
				</span>
				<span class="people-bought">
					{{popularCourses.buy_count}} people bought
				</span>
			</a>
		</li>
		{% endfor %}
	</ul>
	<a type="button" href="{{page_url}}" target="_blank" class="submit-button" onclick="MyGA.SendEvent('ln_popular_courses','ln_popular_courses', 'ln_click_popular_course', 'view_all', '', false, true);">View All</a>
</div>