html { margin:0; padding:0;}
body { margin:0; padding:0; font-family: 'Open Sans', sans-serif; font-size:13px; font-weight:400; color:#000;}
.sprite { background:url("pmp_sprite.png") 0 0 no-repeat}
.container { margin:0 auto; padding:0; background:#f7f7f7;}
.header {background: #1f3d6e; display:block; padding:0; height: 54px; position: relative;}
/*.logo { 
	width:63px; 
	height:52px; 
	display:inline-block; background:url("logo-white.png"); 
	margin-left:100px; 
	float:left;
}*/
.logo {
    width: 245px;
    height: 81px;
    display: inline-block;
    background: url(logo-white.png);
    margin-left: 100px;
    float: left;
    position: absolute;
}

.mobile_email { float:right; margin:17px 9% 0 0; color:#fff; font-size:14px;}
.mobile_email a{ color:#fff; text-decoration:none;}
.mobile_email  .mobile_icon { display:inline-block; width:20px; height:20px; background-position:-162px 0; margin:0 5px 0 0; vertical-align:top;}
.mobile_email  .email_icon { display:inline-block; width:23px; height:17px; background-position:-185px 0; margin:0 5px 0 20px; vertical-align:top;}
.header_banner { background:url("img1.jpg") no-repeat; background-size:cover; display:block; clear:both; overflow:hidden;}
.punchline {
    width: 32%;
    margin: 9% 0 9% 32%;
    display: inline-block;
    float: left;
}
.punchline  h1{display:block; color:#000; font-size:36px; line-height:45px; font-weight:400; margin:0;}
.punchline span { background:#ffcf25; font-size:16px; padding:5px 4px; display:block; margin-top:5px; text-align:center;}

.query { width:26%; background:#fff; border-top:10px solid #ffcf25; display:inline-block; margin:15px 0 15px 20px; text-align:center; position:fixed; box-shadow:0 2px 8px -5px rgba(0, 0, 0, 5); right:9%; top:50px;}
.query  h2{ margin:20px 0; padding:0; display:block; text-transform:uppercase; font-size:30px; font-weight:600;}
.query input { border:1px solid #b1b1b1; border-radius:5px; line-height:35px; display:block; margin:0 2% 10px 5%; color:#999; width:86%; font-size:16px; font-weight:300; padding-left:10px;}
.query  .submit { background:#5d9dd7; font-size:16px; color:#fff; border:1px solid #5d9dd7; width:90%; text-transform:uppercase; margin-bottom:20px;}
.query  .error { color:#ff0000;}
.query label{ float: left; margin-left: 18px}
.marqueebox {background:#9ddfe0; padding:25px 0 0 0; clear:both;}
.marqueebox  .marquee { width:54%; margin:0 0 0 8%; padding:0;}
.marqueebox  .marquee .mcontent { display:inline-block; width:44%; text-align:left; font-size:14px; margin:0 4% 25px 0; vertical-align:top;}
.marqueebox  .marquee .mcontent p{ display:inline-block; margin:0; padding:0; display:table-cell;}
.marqueebox  .marquee .mcontent  .hike{ display:inline; float:left; width:62px; height:61px; background-position:-90px -165px; margin:0 10px 0 0;}
.marqueebox  .marquee .mcontent  .verified{ display:inline; float:left; width:78px; height:48px; background-position:-156px -167px; margin:5px 10px 0 0;}
.marqueebox  .marquee .mcontent  .course{ display:inline; float:left; width:50px; height:58px; background-position:-238px -167px; margin:0 16px 0 7px;}
.marqueebox  .marquee .mcontent  .expert{ display:inline; float:left; width:51px; height:58px; background-position:-166px -220px; margin:0 24px 0 13px;}

.about { margin:30px 0 0 9%; width:55%;}
.about h3{ margin:0 0 20px 0; padding:0; font-size:35px; font-weight:600; color:#666; display:block;}
.about ul { list-style-type:none; margin:0; padding:0;}
.about li { display:block; margin:0 0 20px 0; padding:0 0 0 15px; line-height:22px; vertical-align:top; position:relative;}
.about li::before {content:""; display:inline-block; width:7px; height:8px; background:url("pmp_sprite.png") no-repeat -139px 0; position:absolute; top:7px; left:0;}

.course { margin:30px 0 0 9%; width:55%;}
.course h3{ margin:0 0 20px 0; padding:0; font-size:35px; font-weight:600; color:#000; display:block;}
.course  img{ max-width:100%; max-height:100%;}
.course .course1{ display:inline-block; margin:0 5% 40px 0; padding:0; width:45%; background:#fff;}
.course .course1 h4{ display:block; margin:0; padding:5px 10px; color:#515151; font-size:20px; font-weight:400;}
.course .course1 a{ color:#666; text-decoration:none;}
.course .course2{ display:inline-block; margin:0 0 40px 4%; padding:0; color:#666; font-size:20px; width:45%; background:#fff;}
.course .course2 h4{ display:block; margin:0; padding:5px 10px; color:#515151; font-size:20px; font-weight:400;}
.course .course2 a{ color:#666; text-decoration:none;}

.footer { background:#333; padding:10px;}
.footer p{ margin:0 0 0 9%; width:55%; padding:0; color:#fff; font-size:13px; font-weight:600;}

.visible-xs { display:none;}


@media (max-width: 1024px) {
.query { width:30%; right:1%;}
.mobile_email { margin:20px 20px 0 0;}
.punchline { width:32%; margin:5% 0 9% 35%;}
.punchline span { padding:10px 10px; font-size:13px; text-align:left;}
.marqueebox  .marquee { width:68%; margin:0 0 0 8%; padding:0;}
.marqueebox  .marquee .mcontent { width:41%; font-size:13px;}

}

@media (max-width: 800px) {
.logo { margin-left:10px; float:none;}
.query { width:34%; }
.query  h2{ margin:10px 0; font-size:24px;}
.marqueebox  .marquee { width:68%; margin:0 0 0 2%; padding:0;}
.marqueebox  .marquee .mcontent { width:41%; font-size:13px;}
.punchline { margin:25% 0 0 0; width:100%; background:rgba(255, 255, 255, 0.50) none repeat scroll 0 0}
.punchline  h1{font-size:24px; line-height:32px; padding:5px 10px; width:60%;}
.query input { line-height:34px; font-size:14px;}
.about { margin:30px 0 0 4%;}
.about h3{ font-size:30px;}
.course { margin:30px 0 0 4%;}
.course h3{ font-size:30px;}
.course .course1 h4 { font-size:16px;}
.course .course2 h4 { font-size:16px;}
}

@media (max-width: 767px) {
.mobile_email { float:none; margin:20px 0 5px 0; font-size:13px;}
.mobile_email  .mobile_icon {  margin:0 5px 0 0;}
.mobile_email  .email_icon { margin:0 5px 0 20px;}
.logo { display:block; margin:0 auto; float:none;}
.header { overflow:hidden; text-align:center;}
.punchline { margin:5% 0 0 0; width:100%; background:none;}
.punchline  h1{font-size:21px; line-height:26px; float:right; margin:0 10px 5% 0; width:50%; padding:0;}
.punchline span { clear:both; font-size:12px; text-align:center;}
.marqueebox  .marquee{ width:90%; margin:0 5%;}
.marqueebox  .marquee .mcontent { width:20%;}
.marqueebox  .marquee .mcontent  .hike{ margin:0 24px 0 0;}
.marqueebox  .marquee .mcontent  .course{ margin:0 24px 0 16px;}
.about { margin:30px 4% 0 4%; width:91%;}
.about h3{ font-size:26px;}
.course h3{ font-size:26px;}
.course { margin:30px 4% 0 4%; width:91%;}
.course .course1{ display:block; margin:0 0 30px 0; width:100%;}
.course .course1 br{ display:none;}
.course .course2{ display:block; margin:0 0 30px 0; width:100%;}
.course .course2 br{ display:none;}
.footer p{ margin:0; width:100%; font-size:12px;}
.query { width:90%; right:0; left:0; top:0; bottom:0; position:relative; margin:20px auto; display:block; padding-bottom:1px; box-shadow:0 0px 3px 0px rgba(0, 0, 0, 0.5);}
}

@media (max-width: 640px) {
.marqueebox .marquee { width:90%;}
}
@media (max-width: 639px) {
.marqueebox { padding:20px 0 1px 0;}
.marqueebox  .marquee { width:90%; margin:0 4%; clear:both; }
.marqueebox  .marquee .mcontent { display:block; width:100%; margin:0 0 20px 0; font-size:13px; overflow:hidden; clear:both;}

}
@media (max-width: 320px) {
.punchline  h1{margin:0 0 10px 0; width:47%; font-size:19px;}
}
