{% extends "basic/base.html" %}
{% load static humanize thumbnail compress %}
    {% block title %}
       Profile - Shine Learning
    {% endblock title %}
    
    {% block css_section %}
        {{block.super}}
        {% compress css %}
        <link type="text/scss" href="{% static 'shinelearn/css/dashboard/dashboard.scss' %}" rel="stylesheet">
        {% endcompress %}
    {% endblock css_section %}

   {% block pageheading %}
  <header>
    <div class="feedback-header">
      <div class="container">
        <div class="queries">
          Queries? <a href="mailto:support@roundone.in">support@roundone.in</a>
        </div>
      <!-- breadcrums -->
        <ol class="breadcrumb mt-30">
          <li><a href="/">Home</a></li>
          <li class="active">Profile</li>
        </ol>
        <div class="feedback-heading">
          <h1>Profile</h1>
        </div>
      </div>
    </div>
  </header>
   {% endblock pageheading %}

{% block container %}

<section class="container mt-10">

    <!-- page content body start -->
    <div class="row">

    <!-- left content start -->
    <div class="col-sm-12 mt-30">
      <ul class="profile-data">
        <li>
            <div class="col-sm-12 bdr-bottom">
                <div class="row">
                    <div class="col-sm-2 col-md-1">
                        <img src="{% static 'shinelearn/images/user-pic.jpg' %}" class="img-responsive" alt="">
                    </div>
                    <div class="col-sm-10 col-md-10 user-info">
                        <h1>{{personal_detail.first_name}}</h1>
                        <p>{{personal_detail.job_tilte}}</p>
                    </div>
                </div>
            </div>
        </li>
        <li>
            <div id="detail_roundone_personal" class="col-sm-12 bdr-bottom">
                <h2 class="profile-head" data-id="personal">Personal Details</h2>
                <button class="btn btn-profile" data-role="button" 
                id="edit_roundone_personal">Edit</button>
                <div class="row mt-10">
                    <div class="col-sm-3 col-md-3">Email</div>
                    <div class="col-sm-9 col-md-9" data-role="input" 
                    data-editable data-name="name">
                    {{personal_detail.email}}
                    </div>
                </div>
                <div class="row mt-10">
                    <div class="col-sm-3 col-md-3">Contact no</div>
                    <div class="col-sm-9 col-md-9" data-role="mobile" data-editable data-name="contact">+{{personal_detail.country_code}}-{{personal_detail.cell_phone}}</div>
                </div>
                <div class="row mt-10">
                    <div class="col-sm-3 col-md-3">Designation</div>
                    <div class="col-sm-9 col-md-9" data-role="input" data-editable>
                      {{personal_detail.resume_title}}
                    </div>
                </div>
                <div class="row mt-10">
                    <div class="col-sm-3 col-md-3">Gender</div>
                    {% if personal_detail.gender == 1 %}
                      <div class="col-sm-9 col-md-9" data-role="input" data-editable>
                        Male
                      </div>
                    {% elif personal_detail.gender == 2 %}
                      <div class="col-sm-9 col-md-9" data-role="input" data-editable>
                        Femail
                      </div>
                    {% endif %}
                </div>
                <!--
                <div class="row mt-10">
                    <div class="col-sm-3 col-md-3">Total Experience</div>
                    <div class="col-sm-9 col-md-9" data-role="input" 
                    data-editable data-name="total_exp">
                      {{total_exp.0.experience_in_years}} years
                      {{total_exp.0.experience_in_months}} months
                    </div>
                </div>
                -->
                <div class="row mt-10">
                    <div class="col-sm-3 col-md-3">Skills</div>
                    <div class="col-sm-9 col-md-9">
                      {% for skill in skill_detail %} 
                        <div class="block-inline">
                            <div class="skill-box"  data-role="inputSelect" data-editable data-type="yrs">
                                <div class="skill-name"> 
                                    {{skill.value}}
                                </div>
                                <!--
                                <div class="skill-time">
                                    {{skill.years_of_experience}} years
                                </div>-->
                            </div>
                        </div>
                      {% endfor %}                      
                    </div>
                </div>
                <div class="row mt-10 save-event" style="display: none;">
                    <div class="col-sm-9 col-md-9 col-sm-push-3 col-md-push-3">
                        <a href="#" class="addElement">+ Add Skills</a>
                    </div>
                </div>
                <div class="row mt-10 save-event" style="display: none;">
                    <div class="col-sm-9 col-md-9 col-sm-push-3 col-md-push-3">
                        <button class="btn btn-primary" type="submit">Save</button>
                        <a id="cancel_roundone_personal" role="button" class="btn">Cancel</a>
                    </div>
                </div>
            </div>
          <form id="form_roundone_personal" method="post" style="display:none;">
              <div style="display:none">
                <input type="hidden" name="csrfmiddlewaretoken" 
                value="{{csrf_token_value}}">
              </div>
            <div class="col-sm-12 bdr-bottom">
              <h2 class="profile-head" data-id="personal">Personal Details</h2>
              <div class="row mt-10">
                <div class="col-sm-3 col-md-3">Email</div>
                <div class="col-sm-9 col-md-9" data-role="input" 
                data-editable>
                  <input class="pro-input" type="text" name="email" 
                  value="{{personal_detail.email}}">
                </div>
              </div>
              <div class="row mt-10">
                <div class="col-sm-3 col-md-3">Contact no</div>
                <div class="col-sm-9 col-md-9" data-role="mobile" 
                data-editable>
                  <input class="pro-mob" type="text" name="mobile_country" 
                  value="{{personal_detail.country_code}}">
                  <input class="pro-input2" type="text" name="mobile" 
                  value="{{personal_detail.cell_phone}}">
                </div>
              </div>
              <div class="row mt-10">
                <div class="col-sm-3 col-md-3">Designation</div>
                <div class="col-sm-9 col-md-9" data-role="input" 
                data-editable>
                  <input class="pro-input" type="text" name="resume_title" 
                  value="{{personal_detail.resume_title}}">
                </div>
              </div>
              <div class="row mt-10">
                <div class="col-sm-3 col-md-3">Gender</div>
                {% if personal_detail.gender == 1 %}
                <div class="col-sm-9 col-md-9" data-role="input" data-editable>
                  <input class="pro-input" type="text" name="gender" 
                  value="Mail">
                </div>
                {% elif personal_detail.gender == 2 %}
                <div class="col-sm-9 col-md-9" data-role="input" data-editable>
                  <input class="pro-input" type="text" name="gender" 
                  value="Femail">
                </div> 
                {% endif %}
              </div>
              <div class="row mt-10">
                  {% if skill_detail %}
                    <div class="col-sm-3 col-md-3">Skills</div>
                    <div class="col-sm-9 col-md-9">
                      {% for skill in skill_detail %} 
                        <div class="row mt-10">
                          <div class="col-sm-9 col-md-9 mb-10" data-role="inputSelect" data-editable data-type="yrs">
                            <input class="pro-input2" type="text" 
                            name="skill" value="{{skill.value}}">
                            <!--
                            <select class="pro-select2" name="level_id">
                            {% for year in years %}
                              {% if year == skill.years_of_experience %}
                                <option selected>{{year}}</option>
                              {% else %}
                                <option>{{year}}</option>
                              {% endif %}
                            {% endfor %}
                            </select>
                            -->
                            <a href="#" class="removeElement">Remove</a>
                          </div>
                        </div>
                      {% endfor %}                      
                    </div>
                  {% endif %}
                </div>
                <div class="row mt-10 save-event">
                    <div class="col-sm-9 col-md-9 col-sm-push-3 col-md-push-3">
                        <a href="#" class="addElement">+ Add Skills</a>
                    </div>
                </div>
                <input type="hidden" name="first" value="{{personal_detail.first_name}}">
                <input type="hidden" name="last" value="{{personal_detail.last_name}}">
                <input type="hidden" name="total_exp" value="{{total_exp.0.experience_in_years}}">
                <input type="hidden" name="edit_type" value="editpersonal">
                <input type="hidden" name="skilllength" value="{{skill_len}}">
                <div class="row mt-10 save-event">
                    <div class="col-sm-9 col-md-9 col-sm-push-3 col-md-push-3">
                        <button class="btn btn-primary" type="submit">Save</button>
                        <a id="cancel_roundone_personal" role="button" class="btn">Cancel</a>
                    </div>
                </div>
            </div>
          </form>
          <input type="hidden" name="post_personal_detail" value='{% url "dashboard:post_shine_detail" %}'>
        </li> 
        <li>
          <div class="col-sm-12 bdr-bottom" id="div_workex">
            <h2 class="profile-head" data-id="work">Work Experience</h2> 
            <button class="btn btn-profile" data-role="button" 
              id="js_edit_workex">Edit</button>
            {% if experience_detail %}  
              {% for exp in experience_detail %}
                <div class="row mt-10">
                    <div class="col-sm-3 col-md-3">Company</div>
                    <div class="col-sm-9 col-md-9" data-role="input" data-editable>
                      {{exp.company_name}}
                    </div>
                </div>
                <div class="row mt-10">
                    <div class="col-sm-3 col-md-3">Job Title</div>
                    <div class="col-sm-9 col-md-9" data-role="input" data-editable>
                      {{exp.job_title}}
                    </div>
                </div>
                <div class="row mt-10">
                    <div class="col-sm-3 col-md-3">Duration</div>
                    <div class="col-sm-9 col-md-9" data-role="input2" data-editable>{{exp.start_month}},{{exp.start_year}} to {% if exp.is_current %}Present{% else %} {{exp.end_month}}, {{exp.end_year}} {% endif %}</div>
                </div>
              {% endfor %}
            {% else %}
                <div class="row mt-10">
                    <div class="col-sm-3 col-md-3">Company</div>
                    <div class="col-sm-9 col-md-9" data-role="input" data-editable>
                    </div>
                </div>
                <div class="row mt-10">
                    <div class="col-sm-3 col-md-3">Job Title</div>
                    <div class="col-sm-9 col-md-9" data-role="input" data-editable>
                    </div>
                </div>
                <div class="row mt-10">
                    <div class="col-sm-3 col-md-3">Duration</div>
                    <div class="col-sm-9 col-md-9" data-role="input2" 
                    data-editable>
                    </div>
                </div>
            {% endif %}
              <div class="row mt-10 save-event" style="display: none;">
                  <div class="col-sm-9 col-md-9 col-sm-push-3 col-md-push-3">
                      <label for="current" class="current-comp"><input type="checkbox" name="current"> I work here</label>
                      <a href="#" class="btn btn-primary">Save</a>
                      <a href="#" class="btn">Cancel</a>
                  </div>
              </div>
          </div>
          <form id="form_edit_workex" method="post" style="display:none;">
            <div style="display:none">
              <input type="hidden" name="csrfmiddlewaretoken" 
              value="{{csrf_token_value}}">
            </div>
            <div class="col-sm-12 bdr-bottom">
              <h2 class="profile-head" data-id="work">Work Experience</h2>
              <div class="row mt-10 save-event">
                <div class="col-sm-3 col-md-3">Are You</div>
              {% if total_exp %}
                {% for fresh_exp in total_exp %}
                <div class="col-sm-9 col-md-9">
                    <label class="block-inline mright20">
                        <input type="radio" name="freshexp"
                        {% if fresh_exp.experience_in_months < 0 %} checked {% endif %}>
                        Fresher
                    </label>
                    <label class="block-inline">
                        <input type="radio" name="freshexp"
                        {% if fresh_exp.experience_in_months > 0 %} checked {% endif %}>
                        Experience
                    </label>
                </div>
                {% endfor %}
              {% else %}
                <div class="col-sm-9 col-md-9">
                    <label class="block-inline mright20">
                        <input type="radio" name="freshexp">
                        Fresher
                    </label>
                    <label class="block-inline">
                        <input type="radio" name="freshexp">
                        Experience
                    </label>
                </div>
              {% endif %}
              </div>
              {% if experience_detail %}
                {% for exp in experience_detail %}
                  <div class="row mt-10">
                      <div class="col-sm-3 col-md-3">Company</div>
                      <div class="col-sm-9 col-md-9" data-role="input" data-editable="">
                        <input class="pro-input js_company" type="text" 
                        name="company" value="{{exp.company_name}}">
                      </div>
                  </div>
                  <div class="row mt-10">
                      <div class="col-sm-3 col-md-3">Job Title</div>
                      <div class="col-sm-9 col-md-9" data-role="input" data-editable="">
                        <input class="pro-input js_position" type="text" 
                        name="position" value="{{exp.job_title}}">
                      </div>
                  </div>
                  {% if exp.is_current %}
                  <div class="row mt-10">
                    <div class="col-sm-3 col-md-3">Duration</div>
                      <div class="col-sm-9 col-md-9">
                        From <div class="pro-select22" data-role="select" 
                        data-editable="" data-type="year">
                        <select class="pro-select" name="start_year">
                        {% for st_year in st_years %}
                          {% if st_year == exp.start_year %}
                            <option selected>{{st_year}}</option>
                          {% else %}
                            <option>{{st_year}}</option>
                          {% endif %}
                        {% endfor %}
                        </select>
                      </div>
                      <div class="pro-select22" data-role="select" 
                      data-editable="" data-type="months">
                      <select class="pro-select" name="start_month">
                       {% for key, val in month_dict.items %}
                          {% if val == exp.start_month %}
                            <option value="{{val}}" selected>{{key}}</option>
                          {% else %}
                            <option value="{{val}}">{{key}}</option>
                          {% endif %}
                        {% endfor %}
                      </select>
                      </div>
                    </div>
                  </div>
                  {% else %}
                  <div class="row mt-10">
                    <div class="col-sm-3 col-md-3">Duration</div>
                      <div class="col-sm-9 col-md-9">
                        <span>From</span>
                        <div class="pro-select22" data-role="select" 
                        data-editable="" data-type="year">
                        <select class="pro-select" name="start_year">
                        {% for st_year in st_years %}
                          {% if st_year == exp.start_year %}
                            <option selected>{{st_year}}</option>
                          {% else %}
                            <option>{{st_year}}</option>
                          {% endif %}
                        {% endfor %}
                        </select>
                      </div>
                      <div class="pro-select22" data-role="select" 
                      data-editable="" data-type="months">
                      <select class="pro-select" name="start_month">
                       {% for key, val in month_dict.items %}
                          {% if val == exp.start_month %}
                            <option value="{{val}}" selected>{{key}}</option>
                          {% else %}
                            <option value="{{val}}">{{key}}</option>
                          {% endif %}
                        {% endfor %}
                      </select>
                      </div>
                    </div>
                  </div>
                  <div class="row mt-10">
                    <div class="col-sm-3 col-md-3"></div>
                      <div class="col-sm-9 col-md-9">
                        <span>To</span>
                        <div class="pro-select22" data-role="select" 
                        data-editable="" data-type="year">
                        <select class="pro-select endyear" name="end_year">
                        {% for st_year in st_years %}
                          {% if st_year == exp.end_year %}
                            <option selected>{{st_year}}</option>
                          {% else %}
                            <option>{{st_year}}</option>
                          {% endif %}
                        {% endfor %}
                        </select>
                      </div>
                      <div class="pro-select22" data-role="select" 
                      data-editable="" data-type="months">
                      <select class="pro-select endmonth" name="end_month">
                       {% for key, val in month_dict.items %}
                          {% if val == exp.end_month %}
                            <option value="{{val}}" selected>{{key}}</option>
                          {% else %}
                            <option value="{{val}}">{{key}}</option>
                          {% endif %}
                        {% endfor %}
                      </select>
                      </div>
                    </div>
                  </div>
                  {% endif %}
                  <div class="row mt-10">
                      <div class="col-sm-3 col-md-3">Is current Job?</div>
                      <div class="col-sm-9 col-md-9" data-role="input" data-editable="">
                        <label for="current" class="current-comp">
                          <input type="checkbox" name="current" {% if exp.is_current %}checked{% endif %}> 
                          I work here
                        </label>
                      </div>
                  </div>
                  <input type="hidden" name="industry_id" value="{{exp.industry_id}}">
                  <input type="hidden" name="sub_field" value="{{exp.sub_field}}">
                  <input type="hidden" name="id" value="{{exp.id}}">
                {% endfor %}
              {% else %}
                  <div class="row mt-10">
                      <div class="col-sm-3 col-md-3">Company</div>
                      <div class="col-sm-9 col-md-9" data-role="input" data-editable="">
                        <input class="pro-input js_company" type="text" 
                        name="company" value="">
                      </div>
                  </div>
                  <div class="row mt-10">
                      <div class="col-sm-3 col-md-3">Job Title</div>
                      <div class="col-sm-9 col-md-9" data-role="input" 
                      data-editable="">
                        <input class="pro-input js_position" type="text" 
                        name="position" value="">
                      </div>
                  </div>
                  <div class="row mt-10">
                    <div class="col-sm-3 col-md-3">Duration</div>
                      <div class="col-sm-9 col-md-9">
                        <span>From</span>
                        <div class="pro-select22" data-role="select" 
                        data-editable="" data-type="year">
                        <select class="pro-select" name="start_year">
                        {% for st_year in st_years %}
                            <option>{{st_year}}</option>
                        {% endfor %}
                        </select>
                      </div>
                      <div class="pro-select22" data-role="select" 
                      data-editable="" data-type="months">
                      <select class="pro-select" name="start_month">
                        {% for key, val in month_dict.items %}
                            <option value="{{val}}">{{key}}</option>
                        {% endfor %}
                      </select>
                      </div>
                    </div>
                  </div>
                  <div class="row mt-10">
                    <div class="col-sm-3 col-md-3"></div>
                      <div class="col-sm-9 col-md-9">
                        <span>To</span>
                        <div class="pro-select22" data-role="select" 
                        data-editable="" data-type="year">
                        <select class="pro-select endyear" name="end_year">
                        {% for st_year in st_years %}
                            <option>{{st_year}}</option>
                        {% endfor %}
                        </select>
                      </div>
                      <div class="pro-select22" data-role="select" 
                      data-editable="" data-type="months">
                      <select class="pro-select endmonth" name="end_month">
                       {% for key, val in month_dict.items %}
                            <option value="{{val}}">{{key}}</option>
                        {% endfor %}
                      </select>
                      </div>
                    </div>
                  </div>
                  <div class="row mt-10">
                      <div class="col-sm-3 col-md-3">Is current Job?</div>
                      <div class="col-sm-9 col-md-9" data-role="input" 
                      data-editable="">
                        <label for="current" class="current-comp">
                          <input type="checkbox" name="current"> 
                          I work here
                        </label>
                      </div>
                  </div>
                  <input type="hidden" name="industry_id" value="">
                  <input type="hidden" name="sub_field" value="">
                  <input type="hidden" name="id" value="">
              {% endif %}
                <div class="row mt-10 save-event">
                  <div class="col-sm-9 col-md-9 col-sm-push-3 col-md-push-3">
                      <button class="btn btn-primary" type="submit">Save</button>
                      <a href="#" class="btn">Cancel</a>
                  </div>
                </div>
              </div>
              <input type="hidden" name="edit_type" value="editworkexp">
          </form>
          <input type="hidden" name="post_workex_detail" value='{% url "dashboard:post_shine_detail" %}'>
        </li>
        <li>
            <div class="col-sm-12 bdr-bottom" id="div_education">
                <h2 class="profile-head" data-id="education">Education Details</h2>
                <button class="btn btn-profile js_edit_education_btn" data-role="button">Edit</button>
              {% if education_detail %}
                {% for education in education_detail %}
                  <div class="row mt-10">
                      <div class="col-sm-3 col-md-3">Qualification level</div>
                      <div class="col-sm-9 col-md-9" data-role="select" data-editable data-type="qualification">{{education.education_level}}</div>
                  </div>
                  <div class="row mt-10">
                      <div class="col-sm-3 col-md-3">Education Stream</div>
                      <div class="col-sm-9 col-md-9" data-role="input"
                      data-editable>{{education.education_specialization}}</div>
                  </div>
                  <div class="row mt-10">
                      <div class="col-sm-3 col-md-3">Institute Name</div>
                      <div class="col-sm-9 col-md-9" data-role="input"
                      data-editable>{{education.institute_name}}</div>
                  </div>
                  <div class="row mt-10">
                      <div class="col-sm-3 col-md-3">Year of Passing</div>
                      <div class="col-sm-9 col-md-9" data-role="select"
                      data-editable data-type="year">{{education.year_of_passout}}</div>
                  </div>
                {% endfor %}
              {% else %}
                <div class="row mt-10">
                      <div class="col-sm-3 col-md-3">Qualification level</div>
                      <div class="col-sm-9 col-md-9" data-role="select" data-editable data-type="qualification"></div>
                  </div>
                  <div class="row mt-10">
                      <div class="col-sm-3 col-md-3">Education Stream</div>
                      <div class="col-sm-9 col-md-9" data-role="input"
                      data-editable></div>
                  </div>
                  <div class="row mt-10">
                      <div class="col-sm-3 col-md-3">Institute Name</div>
                      <div class="col-sm-9 col-md-9" data-role="input"
                      data-editable></div>
                  </div>
                  <div class="row mt-10">
                      <div class="col-sm-3 col-md-3">Year of Passing</div>
                      <div class="col-sm-9 col-md-9" data-role="select"
                      data-editable data-type="year"></div>
                  </div>
              {% endif %}
              <div class="row mt-10 save-event" style="display: none;">
                  <div class="col-sm-9 col-md-9 col-sm-push-3 col-md-push-3">
                      <label for="current" class="current-comp"><input type="checkbox" name="current"> I work here</label>
                      <a href="#" class="btn btn-primary">Save</a>
                      <a href="#" class="btn">Cancel</a>
                  </div>
              </div>
            </div>
            <form id="form_edit_education" method="post" style="display:none;"
              class="js_form_edit_education">
                  <div style="display:none">
                    <input type="hidden" name="csrfmiddlewaretoken" 
                    value="{{csrf_token_value}}">
                  </div>
                  <h2 class="profile-head" data-id="education">Education Details</h2>
                {% if education_detail %}
                  {% for education in education_detail %}
                  <div class="row mt-10">
                      <div class="col-sm-3 col-md-3">Qualification level</div>
                      <div class="col-sm-9 col-md-9" data-role="mobile" data-editable="">
                        <input class="pro-input js_degree" type="text" 
                        name="level" value="{{education.education_level}}">
                      </div>
                  </div>
                  <div class="row mt-10">
                      <div class="col-sm-3 col-md-3">Education Stream</div>
                      <div class="col-sm-9 col-md-9" data-role="input" data-editable="">
                      <input class="pro-input js_major" type="text" name="specialization" 
                      value="{{education.education_specialization}}">
                      </div>
                  </div>
                  <div class="row mt-10">
                      <div class="col-sm-3 col-md-3">Institute</div>
                      <div class="col-sm-9 col-md-9" data-role="input" data-editable="">
                      <input class="pro-input js_institute" type="text" name="institute" value="{{education.institute_name}}"></div>
                  </div>
                  <div class="row mt-10">
                      <div class="col-sm-3 col-md-3">Marks</div>
                      <div class="col-sm-9 col-md-9" data-role="input" data-editable="">
                        <input class="pro-input" type="text" name="marks" value="">
                      </div>
                  </div>
                  <div class="row mt-10">
                      <div class="col-sm-3 col-md-3">Year of Passing</div>
                      <div class="col-sm-9 col-md-9" data-role="select" data-editable="" data-type="year">
                        <select class="pro-select" name="passout_year">
                          {% for year in passout_yr %}
                            {% if year == education.year_of_passout %}
                              <option selected>{{year}}</option>
                            {% else %}
                              <option>{{year}}</option>
                            {% endif %}
                          {% endfor %}
                        </select>
                      </div>
                  </div>
                  <input type="hidden" name="id" value="{{education.id}}">
                  <input type="hidden" name="course_type" value="{{education.course_type}}">
                  {% endfor %}
                {% else %}
                  <div class="row mt-10">
                      <div class="col-sm-3 col-md-3">Qualification level</div>
                      <div class="col-sm-9 col-md-9" data-role="mobile" data-editable="">
                        <input class="pro-input js_degree" type="text" 
                        name="level" value="">
                      </div>
                  </div>
                  <div class="row mt-10">
                      <div class="col-sm-3 col-md-3">Education Stream</div>
                      <div class="col-sm-9 col-md-9" data-role="input" 
                      data-editable="">
                      <input class="pro-input js_major" type="text" 
                      name="specialization" value="">
                      </div>
                  </div>
                  <div class="row mt-10">
                      <div class="col-sm-3 col-md-3">Institute</div>
                      <div class="col-sm-9 col-md-9" data-role="input" 
                      data-editable="">
                      <input class="pro-input js_institute" type="text" 
                      name="institute" value=""></div>
                  </div>
                  <div class="row mt-10">
                      <div class="col-sm-3 col-md-3">Marks</div>
                      <div class="col-sm-9 col-md-9" data-role="input" data-editable="">
                        <input class="pro-input" type="text" name="marks" value="">
                      </div>
                  </div>
                  <div class="row mt-10">
                      <div class="col-sm-3 col-md-3">Year of Passing</div>
                      <div class="col-sm-9 col-md-9" data-role="select" 
                      data-editable="" data-type="year">
                        <select class="pro-select" name="passout_year">
                          {% for year in passout_yr %}
                              <option>{{year}}</option>
                          {% endfor %}
                        </select>
                      </div>
                  </div>
                  <input type="hidden" name="id" value="">
                  <input type="hidden" name="course_type" value="">
                {% endif %}
                  <input type="hidden" name="edit_type" value="editeducation">
                  <div class="row mt-10 save-event">
                      <div class="col-sm-9 col-md-9 col-sm-push-3 col-md-push-3">
                          <button id="save_edit_education" class="btn btn-primary" 
                          type="submit">Save</button>
                          <a id="cancel_edit_education" class="btn js_cancel_edit_education">Cancel
                          </a>
                      </div>
                  </div>
            </form>
            <input type="hidden" name="post_education" value='{% url "dashboard:post_shine_detail" %}'>
        </li>
        <li>
            <div class="col-sm-12 gap-bottom">
              <h2 class="profile-head">Resume</h2>
              <div class="row mt-10">
                <div class="col-sm-12">
                {% if resumes %}
                  <span class="default-resume">{{resumes}}</span>
                {% endif %}
                  <form class="resume-file-input" id="resume_form" method="post" data-url='{% url "dashboard:post_shine_detail" %}' enctype="multipart/form-data">
                    <div style="display:none">
                      <input type="hidden" name="csrfmiddlewaretoken" 
                      value="{{csrf_token_value}}">
                    </div>
                    <div class="error-profile">  
                      <div class="input-file">
                        <a class='' href='javascript:void;'>
                          <input maxlength="200" type="file" style='position:absolute;z-index:2;top:0;left:0;width:100%;filter: alpha(opacity=0);-ms-filter:"progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";opacity:0;background-color:transparent;color:transparent;' name="resume" size="30"  onchange='$("#upload-file-info").html($(this).val());' 
                          id="inputfile">
                          <span class="choose-file">Add Resume</span>
                        </a>
                        <span class="upload-file" id="upload-file-info"></span>
                      </div>
                      <span class="error-txt" id="error_id"></span>
                    </div>
                    <input type="hidden" name="edit_type" value="uploadresume">
                    <button type="submit" class="blue-button">Submit</button>
                  </form>
                </div>
              </div>
            </div>
        </li>
    </ul>

    </div> 
    <!-- left content end -->
  </div>
    <!-- page content body end -->

</section>

{% endblock container %}
{% block js_section %}
   {{ block.super }} 
    {% compress js %}
    <script src="{% static 'shinelearn/js/dashboard/profile.js' %}"></script>
    <script src="{% static 'shinelearn/js/dashboard/dashboard.js' %}"></script>
    {% endcompress %}
{% endblock js_section %}