{% extends "mobile/basic/base.html" %}
{% load static compress %}
{% load static thumbnail compress %}
{% block title %}Shine learning{% endblock %}
{% block css_section %}
{{ block.super }}
{% compress css %}
<link type="text/scss" href="{% static 'shinelearn/css/mobile/vskill/practice_tests.scss' %}" rel="stylesheet">
<link type="text/scss" href="{% static 'shinelearn/css/mobile/common/slick.scss' %}" rel="stylesheet">
<link type="text/css" href="{% static 'shinelearn/css/common/mobile/typeaheadjs.css' %}" rel="stylesheet">
{% endcompress %}
{% endblock css_section %}
{% block canonical_url %}
<link rel="canonical" href="//{{ SITE_DOMAIN }}/">
{% endblock canonical_url %}
{% block django_meta %}
{% include 'meta/meta.html' %}
{% endblock django_meta %}
{% block header %}
{% endblock header %}

{% block container %}
<div class="body-wrapper practice-test ">
    <div class="practice-test-inside"></div>
    <div class="back"></div>

    <h1>Search Engine Optimisation Test</h1>
    <div class="bread-crums"> 
        <a href="#">Home</a> -  <a href="#">Free test</a> - <a href="#">Sales and marketing test</a> - SEO Test
    </div>

    <div class="row question-timer">
        <div class="question-timer--wrap">
            <div class="question-timer__score-wrap">
                <span class="question-timer__score-wrap--score">6</span>
                <span>/10</span>
            </div>
    
            <div class="question-timer--score-text">Time left</div>
            <div class="question-timer__count-down">
                <div class="question-timer__count-down--time">
                    04
                    <span>MINUTES</span>
                </div>
                <span>:</span>
                <div class="question-timer__count-down--time">
                    25
                    <span>SECONDS</span>
                </div>
            </div>
        </div>

        <div class="question-timer__question-count">
            <ul>
                <li>1</li>
                <li>2</li>
                <li class="skip">3</li>
                <li>4</li>
                <li>5</li>
                <li class="active">6</li>
                <li>7</li>
            </ul>

            <div id="more_question">
                <ul>
                    <li>8</li>
                    <li>9</li>
                    <li>10</li>
                    <li>11</li>
                    <li>12</li>
                    <li>13</li>
                    <li>14</li>
                    <li>15</li>
                    <li>16</li>
                    <li>17</li>
                    <li>18</li>
                    <li>19</li>
                    <li>20</li>
                </ul>
            </div>
            <div class="pt-sprite icon-open-aarow" id="btn-more-question"></div>
        </div>

    </div><!-- /. question-timer -->

    <div class="take-test">
        <h2>6) SEO = 'Search Engine optimization', then SEM = ?</h2>
        <ul>
            <li>
                <input type="radio" name="question" value="test" id="search_1">
                <label for="search_1">Search Engine Manipulation</label>
            </li>
            <li>
                <input type="radio" name="question" value="test" id="search_2">
                <label for="search_2">Search Engine Marketing</label>
            </li>
            <li>
                <input type="radio" name="question" value="test" id="search_3">
                <label for="search_3">Social Ethical Marketing</label>
            </li>
            <li>
                <input type="radio" name="question" value="test" id="search_4">
                <label for="search_4">Safe Easy Marketing</label>
            </li>
        </ul>
        
        <div class="btn btn-round-30 btn-blue w-100" id="btn_check_result">
            Next question 
            <span class="pt-sprite icon-arrow"></span>
        </div>
        <div class="take-test--button-wrap mt-15">
            <span class="btn btn-outline btn-round-30">Skip</span>
            <span class="btn btn-outline btn-round-30">End test</span>
        </div>
    </div>

    <div class="feature-test">
        <h2>Advanced Search Engine Optimisation Test</h2>
        <div class="feature-test--price">
            <strong>Rs. 699</strong>
            <span class="stirke-through">Rs. 999</span>
        </div>

        <div class="feature-test__benefits">
            <p><strong>Benefits</strong></p>
            <ul class="blue-bullet">
                <li><span></span>500+ questions</li>
                <li><span></span>Real exam & Practice environment
                </li>
                <li><span></span>Answers & Detailed Explanations</li>
            </ul>

            <div class="feature-test__btn-wrap">
                <button class="btn btn-round-30 btn-yellow w-50">Add to cart</button>
            </div>

        </div>
    </div><!-- /. feature-test -->
</div><!-- Practice test -->


<div class="modal">
    <span class="close-big">+</span>
    <div class="modal-content">
       <div class="view-test">
           <span class="overlay"></span>
           <div class="view-test__content">
            <h2>Oops!  Your free test limit for this skill has been exhausted.</h2>
            <h3>Continue your learning, with our paid practice tests</h3>
           </div>
        <img src="{% static 'shinelearn/images/mobile/practice_test/view-test.png' %}" class="img-responsive"/>
       </div>

       <div class="p-15">
           <p><strong>Benefits</strong></p>
           <ul class="blue-bullet">
                <li><span></span>500+ questions</li>
                <li><span></span>Real exam & Practice environment
                </li>
                <li><span></span>Answers & Detailed Explanations</li>
            </ul>
            <button class="btn btn-round-30 btn-blue btn-lg mt-20">View test</button>
       </div>
    </div>
</div><!-- /. modal -->

<div class="practice-test check-result-wrap" id="check_results">
    <div class="practice-test-inside"></div>
    <h1>Check result</h1>
    <div class="check-result mt-15">
        <p class="fs-18">Enter your details to check the Test result</p>
        <ul class="mt-10">
            <li class="check-result__item input-effect error">
                <span class="error-message">Required</span>
                <input type="text" class="form-control" id="name" aria-describedby="name" placeholder="">
                <label for="name">Name</label>
            </li>
            <li class="check-result__item input-effect">
                <input type="email" class="form-control" id="email" aria-describedby="email" placeholder="">
                <label for="email">Email</label>
            </li>
            <li class="check-result__item input-effect">
                <input type="tel" class="form-control" id="mobile" aria-describedby="mobile" placeholder="">
                <label for="mobile">Mobile</label>
            </li>
            <li class="mt-40 mb-20">
                <!-- <button class="btn btn-round-30 btn-blue w-100">Submit</button> -->
                <a href="result/" class="btn btn-round-30 btn-blue w-100">Submit</a>
            </li>
        </ul>
    </div><!-- Check Result -->
</div>



<!-- Script here -->
<script src="https://code.jquery.com/jquery-2.2.3.min.js"></script>
<script>
// JavaScript for label effects only
	$(window).load(function(){
		$(".check-result__item input").val("");
		
		$(".input-effect input").focusout(function(){
			if($(this).val() != ""){
				$(this).addClass("has-content");
			}else{
				$(this).removeClass("has-content");
			}
		})
    });

    $("#btn_check_result").click(function(){
     $("#check_results").addClass("open");
    });
    
    $("#close").click(function(){
     $("#check_results").removeClass("open");
    });

    // $('#btn-more-question').click(function(){
    //     $('#more_question').toggleClass('open');
    // });


    $(function()
    {
        $("#btn-more-question").click(function()
        {
            $("#more_question").slideToggle();
            return false;
        }); 
    });
    
    
    $('#btn-more-question').click(function(){
        $('#btn-more-question').toggleClass('icon-close-aarow');
    });



    
</script>
{% endblock container %}
{% block johukum %}
{% endblock johukum %}
{% block zendesk %}
{% endblock zendesk %}