{% extends "mobile/basic/base.html" %}
{% load static compress %}
{% load static thumbnail compress %}
{% block title %}Shine learning{% endblock %}
{% block css_section %}
{{ block.super }}
{% compress css %}
<link type="text/scss" href="{% static 'shinelearn/css/mobile/vskill/practice_tests.scss' %}" rel="stylesheet">
<link type="text/scss" href="{% static 'shinelearn/css/mobile/common/slick.scss' %}" rel="stylesheet">
<link type="text/css" href="{% static 'shinelearn/css/common/mobile/typeaheadjs.css' %}" rel="stylesheet">
{% endcompress %}
{% endblock css_section %}
{% block canonical_url %}
<link rel="canonical" href="//{{ SITE_DOMAIN }}/">
{% endblock canonical_url %}
{% block django_meta %}
{% include 'meta/meta.html' %}
{% endblock django_meta %}
{% block container %}
<div class="body-wrapper practice-test pt-0">
    <div class="headband_practice row">
        <img src="{% static 'shinelearn/images/mobile/practice_test/home_banner.png' %}" class="img-responsive">
        <div class="pl-15 pr-15">
            <h1>Take free practice tests</h1>
            <h2><strong>Start preparing</strong> for competitive exams and job interviews</h2>
            <ul>
                <li><strong>500+ Specialized </strong> Tests
                </li>
                <li class="strength">Strength & Weakness <strong>analysis</strong></li>
                <li class="recommendation">Custom course <strong>Recommendations</strong></li>
            </ul>
        </div>
        
    </div>

    <div class="search mb-50">
        <div class="search_base"></div>
        <div class="searchbox">
            <input type="text" name="" placeholder="Search popular tests"><span class="icon_search"></span>
        </div>
    </div><!-- /. search -->

    <div class="popular_test">
        <h2>Most popular tests</h2>

            <div class="popular_test_inside"><a href="#">
                <span class="border border0"></span>
                <span class="name">Email Marketing Master</span>
                <span class="btn btn-md btn-round-30 btn-blue">Take free test</span>
            </a>
            </div>

            <div class="popular_test_inside">
                <a href="#">
                    <span class="border border1"></span>
                    <span class="name">Search Engine Optimisation</span>
                    <span class="btn btn-md btn-round-30 btn-blue">Take free test</span>
                </a>
            </div>

            <div class="popular_test_inside">
                <a href="#">
                    <span class="border border2"></span>
                    <span class="name">Brand Manager</span>
                    <span class="btn btn-md btn-round-30 btn-blue">Take free test</span>
                </a>
            </div>

            <div class="popular_test_inside">
                <a href="#">
                    <span class="border border3"></span>
                    <span class="name">Digital Marketing Digital MarketingDigital MarketingDigital MarketingDigital MarketingDigital Marketing
                    Master</span>
                    <span class="btn btn-md btn-round-30 btn-blue">Take free test</span>
                </a>
            </div>
    
    </div><!-- /. popular test -->

    <div class="functional_area mt-40">

            <h2>Tests by functional area</h2>
            
            
                
            <div class="functional_area_inside border-0">
            <a href="#">
            <span class="icon fa-17"></span>
                <span class="fa_name">Sales and Marketing</span>
            (23 Tests)</a> </div>
            
            <div class="functional_area_inside border-1">
                <a href="#">
            <span class="icon fa-22"></span>
                <span class="fa_name">Information Technology</span>
            (45 Tests) </a></div>
            <div class="functional_area_inside border-2">
            <a href="#">
            <span class="icon fa-20"></span>
                <span class="fa_name">Banking & Finance</span>
            (32 Tests) </a></div>
            <div class="functional_area_inside border-3">
            <a href="#">
            <span class="icon fa-19"></span>
                <span class="fa_name">Operation Management</span>
            (25 Tests)
            </a>
                </div>
            
            <div class="load_more_button"><a href="#">Load more</a></div>
            
            
            
    </div>





</div>
{% endblock container %}
{% block johukum %}
{% endblock johukum %}
{% block zendesk %}
{% endblock zendesk %}