{% extends "mobile/basic/base.html" %}
{% load static compress %}
{% load static thumbnail compress %}
{% block title %}Shine learning{% endblock %}
{% block css_section %}
{{ block.super }}
{% compress css %}
<link type="text/scss" href="{% static 'shinelearn/css/mobile/vskill/practice_tests.scss' %}" rel="stylesheet">
<link type="text/scss" href="{% static 'shinelearn/css/mobile/common/slick.scss' %}" rel="stylesheet">
<link type="text/css" href="{% static 'shinelearn/css/common/mobile/typeaheadjs.css' %}" rel="stylesheet">
{% endcompress %}
{% endblock css_section %}
{% block canonical_url %}
<link rel="canonical" href="//{{ SITE_DOMAIN }}/">
{% endblock canonical_url %}
{% block django_meta %}
{% include 'meta/meta.html' %}
{% endblock django_meta %}
{% block container %}
<div class="body-wrapper practice-test pt-0">
    <div class="headband_practice row">
        <img src="{% static 'shinelearn/images/mobile/practice_test/home_banner.png' %}" class="img-responsive">
        <div class="pl-15 pr-15">
            <h1>Take free practice tests</h1>
            <h2><strong>Start preparing</strong> for competitive exams and job interviews</h2>
            <ul>
                <li><strong>500+ Specialized </strong> Tests
                </li>
                <li class="strength">Strength & Weakness <strong>analysis</strong></li>
                <li class="recommendation">Custom course <strong>Recommendations</strong></li>
            </ul>
        </div>
        
    </div>

     <div class="search mb-50">
        <div class="search_base"></div>
        <div class="search__searchbox" id="bloodhound" >
            <input type="text" class="typeahead"  name="" placeholder="Search popular tests">
            <span class="icon_search"></span>
        </div>
    </div><!-- /. searc -->


    <div class="popular_test">
        <h2>Most popular tests</h2>
         {% for test in test_list %}

            <div class="popular_test_inside">
     <a id="{{test.id}}" onclick="testModal(event);" data-attr-value='{"id":"{{test.id}}","catid":"{{test.category.id}}","quescount":"{{test.get_question_count}}","testSlug":"{{test.slug}}","vendor":"{{test.vendor.id}}","courseName":"{{test.course.name}}","courseDuration":"{{test.course.get_duration_in_day}}","coursePrice":"{{test.course.inr_price}}","productName":"{{test.product.name}}","productDuration":"{{test.product.get_duration_day}}","productPrice":"{{test.product.inr_price}}","productId":"{{test.product.id}}","courseId":"{{test.course.id}}" }'>
                <span class="border border{{forloop.counter0}}"></span>
                <span class="name">{{test.title}}</span>
                <span class="btn btn-md btn-round-30 btn-blue" >Take free test</span>
            </a>
            </div>
            {% endfor %}
    </div><!-- /. popular test -->
      
    <div class="functional_area mt-40" id="funcDiv">
            <h2>Tests by functional area</h2>
           {% for fa in func_area|slice:":8" %}

            <div class="functional_area_inside border-{{forloop.counter0}}">
            <a href="{% url 'assessment:vskill-category' slug=fa.slug %}">
            <span class="icon fa-{{fa.id}}"></span>
                <span class="fa_name">{{fa.heading}}</span></a> </div>
              {%endfor%}
            
            {% if  func_area.count > 8  %}

            <div class="load_more_button" id="loadmorebtn" onclick="loadmore();">Load more</div>
        {% endif %}
    </div>
</div>

    <div class="practice-test check-result-wrap pt-30" id="check_results">
        <div class="practice-test-inside"></div>
        <div class="back" id="close"></div>
        <h1 class="mt-30">Digital Marketing Scientist Test</h1>
        <p class="c6">Make your choice and go ahead</p>

        <div class="test-option-box">
            <h2 class="fs-20"><a href="#">{{test.title}}</a></h2>
            <div class="test-option-box--test-wrap">
                <div class="test-option-box--content">
                    <span>Test Format</span>
                    <p>Practice Exam</p>
                </div>

                <div class="test-option-box--content">
                    <span>No. of Questions</span>
                    <p id="questCount">25 Questions</p>
                </div>
            </div>

            <div class="test-option-box--cta">
                <strong class="fs-20">FREE</strong>
                <a class="btn btn-lg btn-round-30 btn-blue semi-bold" id="startTestLink">Take free test</a>
            </div>
        </div><!-- option test box-->

        <div class="test-option-box">
            <h2 class="fs-20 mt-30"><a href="#" id="productName">Practice Tests</a></h2>
            <span class="test-option-box--recommended">
                Recommended
            </span>
            <div class="test-option-box--test-wrap">
                <div class="test-option-box--content">
                    <span>Test Format</span>
                    <p>Practice Exam</p>
                </div>

                <div class="test-option-box--content">
                    <span>No. of Questions</span>
                    <p>500+ Questions</p>
                </div>
            </div>

            <ul class="blue-bullet mt-20">
                <li>
                    <span></span>
                    Real exam & Practice environment
                </li>
                <li>
                    <span></span>
                    Answers and Detailed Explanations
                </li>
            </ul>

            <div class="test-option-box--cta mt-20">
                <div class="test-option-box--price">
                    <span>Rs. 999</span>
                    <strong id="productPrice">Rs. </strong>
                </div>
                <button class="btn btn-lg btn-round-30 btn-yellow semi-bold" id="testAddToCart">Add to cart</button>
            </div>
        </div><!-- Practice Tests box-->

        <div class="test-option-box" id="testCourse" style="display:none">
            <h2 class="fs-20"><a href="#" id="courseName">Online Course</a></h2>
            <div class="test-option-box--test-wrap">
                <div class="test-option-box--content">
                    <span>Duration</span>
                    <p id="courseDuration">8 Days</p>
                </div>

                <div class="test-option-box--content">
                    <span>Availability</span>
                    <p>Unlimited</p>
                </div>
            </div>

            <div class="test-option-box--cta mt-20">
                <div class="test-option-box--price">
                    <span>Rs. 1999</span>
                    <strong id="coursePrice"></strong>
                </div>
                <button class="btn btn-lg btn-round-30 btn-blue semi-bold" id="courseCartBtn">Add to cart</button>
            </div>
        </div><!-- option test box-->
    </div>


{% endblock container %}
{% block js_section %}
{{block.super}}
<script src="{% static 'shinelearn/js/assessment/landing.js' %}"></script>
   <script type="text/javascript">
   var page_number= 2;
   var facolor = 0;
   function loadmore(){
            page_number = page_number+1;
             element = document.getElementById('funcDiv');
           $.ajax({
               url: '/api/get-category-level-products',
               type: "GET",
               data : {'tl': 2, 'page_size' : 4, 'page':page_number,'only_test_level2category':true },
               dataType: 'json',
               success: function(json) {
               if (json.next == null){
                 $('#loadmorebtn').hide();
               }
               for (fa in json.results){
                element.innerHTML= element.innerHTML +'<div class="functional_test_inside border-'+color+'"><a href="/practice-tests/'+ json.results[fa].slug+ '"><span class= "fa-'+ json.results[fa].id + '"></span>'+ json.results[fa].heading +'</a></div>';
               }
               },
               error: function(xhr, ajaxOptions, thrownError) {
               if(xhr.status == 404){
                     alert("No more Categories to show ");
                     $('#loadmorebtn').hide();
                     }
                     else{

                   alert("Something went wrong. Try again later");
                   }
               }
           });
   }


   </script>
   <script>
    function testModal(e){
    modalobject = JSON.parse(e.currentTarget.dataset.attrValue);
        $('body').addClass('overflow-hidden');
        $("#check_results").addClass("open");
         $('#productName').text(modalobject.productName);
        $('#productDuration').text(modalobject.productDuration);
        $('#productPrice').text(modalobject.productPrice);
        $('#courseDuration').text(modalobject.courseDuration);
        $('#coursePrice').text(modalobject.coursePrice);
        $('#courseName').text(modalobject.courseName);
        $('#questCount').text(modalobject.quescount);
       if(modalobject.courseName == ""|| modalobject.courseName == "undefined" ){
        $('#testCourse').hide();
        }
        else{
         $('#testCourse').show();
        }
        $('#startTestLink').attr('href','/practice-tests/'+ modalobject.testSlug +'-test/');
        $('#testAddToCart').click( function()
         {
            updateToCart(modalobject.productId,'cart');
         }
      );
        $('#courseCartBtn').click(function(){
        updateToCart(modalobject.courseId,'cart');
        });

    }


        $("#btn_check_result").click(function(){
            $("#check_results").addClass("open");
        });

        $("#close").click(function(){
            $("#check_results").removeClass("open");
            $('body').removeClass('overflow-hidden');
        });



    </script>
<script src="{% static 'shinelearn/js/assessment/assessment_search.js' %}"></script>
{% endblock js_section %}

{% block johukum %}
{% endblock johukum %}
{% block zendesk %}
{% endblock zendesk %}