{% extends "basic/base-new.html" %}
{% load render_bundle from webpack_loader %}
{% load static thumbnail humanize compress %}


{% block head %}
    {{block.super}}

   <title> {% block title %} 
       Hello Title 
    {% endblock title %} </title>
     
    {% block meta_html %}
    {{block.super}}

    {% endblock meta_html %}

    {% block css_section %}
    {{block.super}}
        {% compress css %}
        
        {% endcompress %}
    {% endblock css_section %}

{% endblock head %}

{% block navigation %}

{% endblock navigation %}


{% block container %}

<!-- Navbar start here -->
<nav class="navbar navbar-expand-lg navbar-light bg-light">
    <a class="navbar-brand" href="#"></a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav ml-auto">
        <li class="nav-item active">
            <a class="nav-link" href="#">Home <span class="sr-only">(current)</span></a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="#">Link</a>
        </li>
        <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
            Dropdown
            </a>
            <div class="dropdown-menu" aria-labelledby="navbarDropdown">
            <a class="dropdown-item" href="#">Action</a>
            <a class="dropdown-item" href="#">Another action</a>
            <div class="dropdown-divider"></div>
            <a class="dropdown-item" href="#">Something else here</a>
            </div>
        </li>
        <li class="nav-item">
            <a class="nav-link disabled" href="#">Disabled</a>
        </li>
        </ul>
    </div>
</nav>
<!-- Navbar ends here -->


<!-- Header Start Here -->
<section class="banner">
    <div class="container h-100">
        <div class="row h-100">
            <div class="col-md-6 h-100 d-flex align-items-self-start justify-content-center flex-column">
                <h1>
                    <span>Smart Resume Score Checker</span>
                </h1>
                <p class="">Get the <strong>free review</strong> of your resume in <strong>just 30 sec</strong></p>

                <div class="d-flex mt-5">
                    <div class="file-upload btn btn-secondary btn-round-40 font-weight-bold d-flex px-5 py-4 mr-4">
                        <i class="sprite upload mr-3"></i> Upload resume                                
                        <input class="file-upload__input" type="file" name="file"/>
                    </div>

                    <a href="#" class="d-flex align-items-center btn btn-outline-light btn-round-40 font-weight-bold px-4">
                        <i class="sprite export mr-3"></i>
                        Export from shine.com
                    </a>
                </div>
                <p class="banner__text">PDF, DOC, DOCX only  |  Max file size: 5MB</p>
            </div><!-- // COL -->
            <div class="col-md-6">
                <div class="banner__image">
                    <img aria-label="header image" class="banner__image" src="{% static 'shinelearn/images/score-checker/banner-img.png' %}">
                </div>
            </div>
        </div><!-- // row -->
    </div><!-- // Container -->
</section><!-- // banner -->
<!-- Header Ends Here -->


<!-- How It Works Start here  -->
<section class="howItWork">
    <div class="container h-100">
        <div class="row h-100 howItWork__wrap">
            <div class="col-md-3 h-100">
                <div class="d-flex flex-column align-items-center">
                    <i class="sprite layout-resume"></i>
                    <p class="mb-0 mt-3 font-weight-bold text-center">Better formatting <br/>&amp; layout of Resume</p>
                </div>
            </div>
            <div class="col-md-3 h-100">
                <div class="d-flex flex-column align-items-center">
                    <i class="sprite tips"></i>
                    <p class="mb-0 mt-3 font-weight-bold text-center">Tips to improve the <br/>resume to stand you out</p>
                </div>
            </div>
            <div class="col-md-3 h-100">
                <div class="d-flex flex-column align-items-center">
                    <i class="sprite review-score"></i>
                    <p class="mb-0 mt-3 font-weight-bold text-center">Detailed review of <br/>each section with score</p>
                </div>
            </div>
            <div class="col-md-3 h-100">
                <div class="d-flex flex-column align-items-center">
                    <i class="sprite expert-guidance"></i>
                    <p class="mb-0 mt-3 font-weight-bold text-center">Expert Guidance to <br/>increase resume views</p>
                </div>
            </div>
        </div>
    </div>
</section>


<section class="container resume-checker my-0">
    <div class="row">
        <div class="col-md-5 pr-5">
            <h2>
                <span>How Resume Checker Works?</span>
            </h2>
            <p class="fs-15">When you upload your resume, our system analyzes it against key criteria required per the industry standards and assigns an overall score to your resume which gives you the fair idea of its quality and how it represents you in front of the recruiters and the hiring manager. We also provide you a detailed review and ways to improve the score further. You could also reach out to our professional resume experts to perfect the score.</p>
        </div>
        <div class="col-md-7 pl-4">
            <ul class="resume-checker__steps">
                <li class="resume-checker__step">
                    <span class="resume-checker__stepCircle mr-3"><i class="sprite upload-resume d-block"></i></span>
                    <div class="resume-checker__content">
                        <p class="resume-checker__content--heading mb-0 font-weight-bold">Upload Resume</p>
                        <p>Just upload your resume or export it from shine.com</p>
                    </div>
                </li>
                <li class="resume-checker__step">
                    <span class="resume-checker__stepCircle mr-3"><i class="sprite resume-analysis d-block"></i></span>
                    <div class="resume-checker__content">
                        <p class="resume-checker__content--heading mb-0 font-weight-bold">Resume Analysis</p>
                        <p>Style and content of resume will be checked by industry experts</p>
                    </div>
                </li>
                <li class="resume-checker__step">
                    <span class="resume-checker__stepCircle mr-3"><i class="sprite get-resume d-block"></i></span>
                    <div class="resume-checker__content"
                    >
                        <p class="resume-checker__content--heading mb-0 font-weight-bold">Get Report in 30 sec</p>
                        <p>After checking your resume you will get your resume score also will let you know how to get it improved</p>
                    </div>
                </li>
            </ul>
        </div>
    </div>

    <div class="text-center mt-5"><a href="#" class="btn btn-primary btn-round-40 px-5 py-4 mr-5">Check the score now</a></div>
</section>

<section class="parameters">
    <div class="container">
        <div class="d-flex justify-content-center">
            <h2><span>Resume checker Parameters</span></h2>
        </div>

        <div class="media align-items-center">
            <div class="media-body">
              <ul class="parameters__lists mt-5">
                  <li class="parameters__item">
                      <p class="parameters__head">Format /Style</p>
                      <p>Font style, size, length of the resume analyzed as per the industry standards</p>
                  </li>
                  <li class="parameters__item">
                      <p class="parameters__head">Education Details</p>
                      <p>Latest qualifications, colleges, year of graduation, scores are the</p>
                  </li>
                  <li class="parameters__item">
                      <p class="parameters__head">Summary & Objective</p>
                      <p>30 secs is usually the time recruiters take to skim through the resume, make the best of this section to make an impression</p>
                  </li>
                  <li class="parameters__item">
                      <p class="parameters__head">Skills & Work Experience</p>
                      <p>Make sure you have skills and work experience in your resume based on opportunities you're looking for</p>
                  </li>
                  <li class="parameters__item">
                      <p class="parameters__head">Accomplishments</p>
                      <p>Provides you an edge over other applicants, use it to make your candidature stand out among the crowd</p>
                  </li>
                  <li class="parameters__item">
                      <p class="parameters__head">Contact Details</p>
                      <p>The most important section recruiters need to reach out to you</p>
                  </li>
              </ul>
            </div>
            <img class="ml-5 img-fluid parameters__image" src="{% static 'shinelearn/images/score-checker/parameters-image.png' %}">
        </div>

        <div class="text-center mt-5">
            <a href="#" class="btn btn-primary btn-round-40 px-5 py-4 mr-5">Check the score now</a>
        </div>

    </div>
</section>


<section class="container">
    <div class="row benefits">
        <div class="col-md-6 benefits__left">
            <h2><span>What next- Benefits after getting resume score</span></h2>
            <p>For a small fee, our professional resume writers can help you take those tips and make your resume, cover letter, and even LinkedIn profile into exactly what recruiters are looking for.</p>
            <a href="#" class="btn btn-primary btn-round-40 px-5 py-4 mr-5 mt-5">Check the score now</a>
        </div>
        <div class="col-md-6 pl-5 justify-content-end">
            <div class="benefits__listBox">
                <ul class="benefits__lists">
                    <li class="benefits__item">One-on-one support from a professional writer.</li>
                    <li class="benefits__item">Get resume services & increase your resume views</li>
                    <li class="benefits__item">Optimize your job search funnel</li>
                    <li class="benefits__item">Rich in keywords to set you up with the desired jobs</li>
                </ul>
            </div>

            <span class="circle"></span>
            <span class="dots"></span>
            <span class="benefits__men"></span>
        </div>
    </div>
</section>


<!-- navigation bar -->
<footer class="mt-40">
    <div class="container">
      <nav class="navbar navbar-expand-lg">
        <div class="collapse navbar-collapse" id="navbarText">
          <ul class="navbar-nav mr-auto">
            <li class="nav-item">
              <a class="nav-link" href="/about-us">About Us</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="/privacy-policy">Privacy Policy</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="/tnc">Terms & Conditions</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="/contact-us">Contact Us</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="/disclaimer">Disclaimer</a> 
            </li>
          </ul>
          <span class="navbar-text social-icon">
            <a href="https://www.facebook.com/shinelearningdotcom/" class="b4-icon-facebook"></a>
            <a href="https://www.linkedin.com/showcase/13203963/" class="b4-icon-linkedin"></a>
            <a href="https://twitter.com/shinelearning" class="b4-icon-twitter"></a>
          </span>
        </div>
      </nav>
      <div class="d-flex justify-content-between align-items-center mt-20">
        <div class="secure-payment">
          <figure class="b4-icon-secure mr-20"></figure>
          <span>
            <strong>100% Secure Payment</strong>
            All major credit & debit cards accepted
          </span>
        </div>
        <div class="payment-option">
            Payment options
            <figure class="b4-icon-payment-option"></figure>
        </div>
        <div class="copyright">
            Copyright © {% now "Y" %} HT Media Limited.
        </div>
      </div>
    </div>
</footer>




{% endblock container %}

{% block js_section %}
     
{% endblock js_section %}

{% block banner_ads %}

{% endblock banner_ads %}

{% block banner_ads_bottom %}

{% endblock banner_ads_bottom %}


{% block footer %}

{% endblock footer %}

{% block marketingpopup %}

{% endblock marketingpopup %}

{% block  jquery_block %}

{%endblock jquery_block %}

{% block zendesk %}

{% endblock zendesk %}