{% extends "basic/base-new.html" %}
{% load render_bundle from webpack_loader %}
{% load static thumbnail humanize compress %}


{% block head %}
    {{block.super}}

   <title> {% block title %} 
       Hello Title 
    {% endblock title %} </title>
     
    {% block meta_html %}
    {{block.super}}

    {% endblock meta_html %}

    {% block css_section %}
    {{block.super}}
        {% compress css %}
        
        {% endcompress %}
    {% endblock css_section %}

{% endblock head %}

{% block navigation %}

{% endblock navigation %}


{% block container %}

<!-- navigation bar -->
{% include 'inc/navbar.html' %}


{% include 'inc/inner-banner.html' %}

{% include 'inc/resume-review.html' %}

{% include 'inc/improve-score.html' %}

{% include 'inc/get-experts.html' %}

<!-- Footer  -->
{% include 'inc/footer.html' %}




{% endblock container %}

{% block js_section %}
<script>
  window.randomize = function() {
    $('.ko-progress-circle').attr('data-progress', Math.floor(Math.random() * 100));
  }
  setTimeout(window.randomize, 200);
  $('.ko-progress-circle').click(window.randomize);

  window.randomize = function() {
    $('.sm-progress-circle').attr('data-progress', Math.floor(Math.random() * 100));
  }
  setTimeout(window.randomize, 200);
  $('.sm-progress-circle').click(window.randomize);

</script>
{% endblock js_section %}

{% block banner_ads %}

{% endblock banner_ads %}

{% block banner_ads_bottom %}

{% endblock banner_ads_bottom %}


{% block footer %}

{% endblock footer %}

{% block marketingpopup %}

{% endblock marketingpopup %}

{% block  jquery_block %}

{%endblock jquery_block %}

{% block zendesk %}

{% endblock zendesk %}