{% extends "basic/base1.html" %}
{% load static meta thumbnail compress %}
{% block title %}Job Assistance Services | Online Courses - Shine Learning {% endblock title %}
{% block canonical_url %}
<link rel="canonical" href="//{{ SITE_DOMAIN }}/">
<link rel="alternate" href="//{{ MOBILE_SITE_DOMAIN }}/">
{% endblock canonical_url %}
{% block django_meta %}
{% include 'meta/meta.html' %}
{% endblock django_meta %}
{% block css_section %}
{{block.super}}
{% compress css %}
<link type="text/scss" charset="utf-8" href="{% static 'shinelearn/css/practice-skill/practice-skill.scss' %}" rel="stylesheet">
<link type="text/css" href="{% static 'shinelearn/css/common/inputTags.css' %}" rel="stylesheet">
{% endcompress %}
{% endblock css_section %}
{% block main_container %}
<div class="practice-skill__wrap-inner">
   <div class="right_base"></div>
      <div class="container">
         {% block breadcrumb %}
         <ol class="breadcrumb  black " itemscope="" itemtype="http://schema.org/BreadcrumbList">
            {% for bread in breadcrumbs %}
            {% if bread.url %}
            <li><a href='{{bread.url}}'>{{bread.name}}</a></li>
            {% else %}
            <li class="active">{{bread.name}}</li>
            {% endif %}
            {% endfor %}
         </ol>
         {% endblock breadcrumb %}
      
      <div class="row">
         <div class="col-sm-12 col-lg-12 col-md-12">
            <h1>Your Test Result</h1>
         </div>

         <!-- result header -->
         <div class="col-sm-12 col-lg-12 col-md-12">
            <div class="result-box mt-20">
               <div class="col-sm-2">
                  <img src="{% static 'shinelearn/images/free_skill/test-result-bg.png' %}" class="img-responsive">
               </div>
               <div class="col-sm-8 col-md-7">
                  <h2>Congratulations, you are doing great</h2>
                  <strong>6 out of 10 correct answers </strong>
                  <div class="flexbox mt-20 mb-15">
                     <a href="#" class="result_btn">Next test &nbsp; &rsaquo;</a>
                     <a href="#" class="result_btn ml-20">Explore other test</a>
                  </div>
               </div>
               <div class="col-sm-2 col-md-3">
                  <div class="test-paper-box final-result pull-right">
                     You scored
                     <strong>60%</strong>
                  </div>
                  <span class="time-taken pull-right mt-10">Time taken: <strong>04 min 55 secs</strong></span>
               </div>
            </div>
         </div>

         <!-- tests starts -->
         <div class="col-sm-9 mt-30">
            <div class="test-paper-box white-box">
               <h2>Test Answers</h2>

               <!-- paper starts -->
                 {% for quest in questions_list %}
               <div class="test-paper">

                  <div class="flexbox">
                     <h3>{{forloop.counter}} {{quest.question_text}}</h3>
                  </div>
                  <ul class="test-paper__question">
                        {% for ans in quest.question_options %}
                     <li>
                        <label class="custom-radio">{{ans.option}}
                           <input type="radio" id="{{ans.option_id}}" disabled  name="radio{{ans.option_id}}">
                           <span class="checkmark"></span>
                           <span id="check{{ans.option_id}}" class=""></span>
                        </label>
                     </li>
                        {%endfor %}
                  </ul>
               </div>
                   {% endfor %}
               <!-- paper end -->
            </div>

            <div class="flexbox ml-20 mt-30">
               <button class="blue_btn mr-20">Next test&nbsp; &rsaquo;</button>
               <button class="white_btn">Explore other test</button>
            </div>
         </div>

         <!-- right section starts -->
         <div class="col-sm-3 mt-30">

            <div class="white-box bdr-bottom">
               <div class="test-benefits benefits-bg">
               <span class="pad-15">
                  <h3><a href="#">Advanced Search Engine Optimisation Test</a></h3>
                  <h4 class="mt-0">Rs. 699</h4>
                  <strike>Rs. 999</strike>
                  <span class="grey-border mt-15 mb-15"></span>
                  <strong>Benefits</strong>
                  <p>500+ questions</p>
                  <p>Real exam & Practice environment</p>
                  <p>Answers & Detailed Explanations</p>
                  <span class="flexbox align-items-center mt-20">
                     <button class="yellow_btn">Add to cart</button>
                  </span>
               </span>
              </div>
            </div>

            <div class="white-box mt-20 bdr-bottom">
               <div class="improve-skills">
               <span class="pad-15">
                  <h4 class="mt-0">Improve your skills with this course</h4>
                  <span class="grey-border mt-15 mb-15"></span>
                  <i class="tcell"><img src="https://static1.shine.com/l/m/product_image/322/1509343566_8542.png" class="img-responsive"></i>
                  <span class="tcell">
                     <h3><a href="#">Search Engine Optimisation Master Training Course</a></h3>
                     <p><strong>1096</strong> people bought</p>
                     <p><strong>12</strong> jobs available</p>
                  </span>
               </span>
              </div>
            </div>

         </div>
      </div>
      </div>
   </div>
</div>
{% endblock main_container %}
{% block js_section %}
{{block.super}}
<script>
var tKey = 'Test-' + '{{object.id}}',myStorage = window.localStorage,questionAttempt = null;
$(document).ready(function() {
        questionAttempt = JSON.parse(myStorage.getItem(tKey));
        if (questionAttempt != null) {
            for (var id in Object.keys(questionAttempt)) {
                if (Object.values(questionAttempt)[id] != "") {
                    console.log($('#' + Object.values(questionAttempt)[id]).is(":checked"))
                    $('#' + Object.values(questionAttempt)[id]).attr('checked',true);
                }
            }
         }


});
</script>
{% endblock js_section %}
{% block johukum %}
{% endblock johukum %}
{% block zendesk %}
{% endblock zendesk %}