{% extends "basic/base1.html" %}
{% load static meta thumbnail compress %}
{% block title %}Job Assistance Services | Online Courses - Shine Learning {% endblock title %}
{% block canonical_url %}
<link rel="canonical" href="//{{ SITE_DOMAIN }}/">
<link rel="alternate" href="//{{ MOBILE_SITE_DOMAIN }}/">
{% endblock canonical_url %}
{% block django_meta %}
{% include 'meta/meta.html' %}
{% endblock django_meta %}
{% block css_section %}
{{block.super}}
{% compress css %}
<link type="text/scss" charset="utf-8" href="{% static 'shinelearn/css/practice-skill/practice-skill.scss' %}" rel="stylesheet">
<link type="text/css" href="{% static 'shinelearn/css/common/inputTags.css' %}" rel="stylesheet">
{% endcompress %}
{% endblock css_section %}
{% block main_container %}
<div class="practice-skill__wrap-inner">
   <div class="right_base"></div>
      <div class="container">
         {% block breadcrumb %}
         <ol class="breadcrumb  black " itemscope="" itemtype="http://schema.org/BreadcrumbList">
            {% for bread in breadcrumbs %}
            {% if bread.url %}
            <li><a href='{{bread.url}}'>{{bread.name}}</a></li>
            {% else %}
            <li class="active">{{bread.name}}</li>
            {% endif %}
            {% endfor %}
         </ol>
         {% endblock breadcrumb %}
      
      <div class="row">
         <div class="col-sm-12 col-lg-12 col-md-12">
            <h1>Your Test Result</h1>
         </div>

         <!-- result header -->
         <div class="col-sm-12 col-lg-12 col-md-12">
            <div class="result-box mt-20">
               <div class="col-sm-2">
                  <img src="{% static 'shinelearn/images/free_skill/test-result-bg.png' %}" class="img-responsive">
               </div>
               <div class="col-sm-8 col-md-7">
                  <h2>Congratulations, you are doing great</h2>
                  <strong id="correctMsg"></strong>
                  <div class="flexbox mt-20 mb-15">
                     <a data-toggle="modal"  href="#TestLimitModal" class="result_btn" >Next test &nbsp; &rsaquo;</a>
                     <a href="/practice-tests/{{object.category.slug}}/sub" class="result_btn ml-20">Explore other test</a>
                  </div>
               </div>
               <div class="col-sm-2 col-md-3">
                  <div class="test-paper-box final-result pull-right">
                     You scored
                     <strong id="scoringPercent" ></strong>
                  </div>
                  <span class="time-taken pull-right mt-10">Time taken: <strong id="timeTaken"></strong></span>
               </div>
            </div>
         </div>

         <!-- tests starts -->
         <div class="col-sm-9 mt-30">
            <div class="test-paper-box white-box">
               <h2>Test Answers</h2>

               <!-- paper starts -->
                 {% for quest in questions_list %}
               <div class="test-paper">

                  <div class="flexbox" id="{{quest.id}}">
                     <h3 >{{forloop.counter}} {{quest.question_text}}</h3>
                  </div>
                  <ul class="test-paper__question">
                        {% for ans in quest.question_options %}
                     <li>
                        <label class="custom-radio">{{ans.option}}
                           <input type="radio" id="{{ans.option_id}}" disabled  name="radio{{ans.option_id}}">
                           <span class="checkmark"></span>
                           <span id="check{{ans.option_id}}" class=""></span>
                        </label>
                     </li>
                        {%endfor %}
                  </ul>
               </div>
                   {% endfor %}
               <!-- paper end -->
            </div>

            <div class="flexbox ml-20 mt-30">
               <a class="blue_btn mr-20" data-toggle="modal"  href="#TestLimitModal">Next test&nbsp; &rsaquo;</a>
               <a class="white_btn" href="/practice-tests/{{object.category.slug}}/sub" >Explore other test</a>
            </div>
         </div>

         <!-- right section starts -->
         <div class="col-sm-3 mt-30" id="test-product" style="visibility:hidden;">

            <div class="white-box bdr-bottom">
               <div class="test-benefits benefits-bg">
               <span class="pad-15">
                  <h3><a href="#" id="test-product-name">Advanced Search Engine Optimisation Test</a></h3>
                  <h4 class="mt-0" id="test-price">Rs. 699</h4>
                  <strike>Rs. 999</strike>
                  <span class="grey-border mt-15 mb-15"></span>
                  <strong>Benefits</strong>
                  <p>500+ questions</p>
                  <p>Real exam & Practice environment</p>
                  <p>Answers & Detailed Explanations</p>
                  <span class="flexbox align-items-center mt-20">
                     <button class="yellow_btn" onclick="=addToCart('{{object.vendor.id}}','{{object.category.id}}')">Add to cart</button>
                  </span>
               </span>
              </div>
            </div>

            <div class="white-box mt-20 bdr-bottom" id="testCourse" style="visibility:hidden";>
               <div class="improve-skills">
               <span class="pad-15">
                  <h4 class="mt-0" >Improve your skills with this course</h4>
                  <span class="grey-border mt-15 mb-15"></span>
                  <i class="tcell"><img id="courseImg" src="https://static1.shine.com/l/m/product_image/322/1509343566_8542.png" class="img-responsive"></i>
                  <span class="tcell">
                     <h3><a href="#" id="courseName">Search Engine Optimisation Master Training Course</a></h3>
                     <p><strong id="courseBought">1096</strong> people bought</p>
                     <p><strong id="courseJobsAvailable">12</strong> jobs available</p>
                  </span>
               </span>
              </div>
            </div>

         </div>
      </div>
      </div>
   </div>
</div>

<!------  Modal test limit ---------->
   <div class="modal fade" id="TestLimitModal" tabindex="-1" role="dialog" aria-labelledby="ModalCenterTitle" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered modal-xs" role="document" style="width: 500px;">
    <div class="modal-content test-limit-modal-box">
      <div class="modal-header pb-0 test-limit-bg">
         <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
        <h3>Oops!  Your free test limit for this skill has been exhausted. </h3>
        <strong>Continue your learning, with our paid practice tests</strong>
      </div>
      <div class="modal-body">
        <div class="col-sm-12">
         <div class="test-limit-modal">
               <strong>Benefits</strong>
               <p>500+ questions</p>
               <p>Real exam & Practice environment</p>
               <p>Answers & Detailed Explanations</p>
               <span class="flexbox mt-20 mb-30">
                  <button class="blue_btn">View test</button>
               </span>
         </div>
        </div>
      </div>

    </div>
  </div>
</div>

<!------  EndModal test limit ---------->

<!------  Modal login ---------->
   <div class="modal fade" id="leadCreationModal" tabindex="-1" role="dialog" aria-labelledby="ModalCenterTitle" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered modal-xs" role="document">
    <div class="modal-content details-modal-box">
      <div class="modal-header pb-0">
         <!--<button type="button" class="close" data-dismiss="modal" aria-label="Close">-->
          <!--<span aria-hidden="true">&times;</span>-->
        <!--</button>-->
        <h3 id="exampleModalLongTitle">Fill your details below</h3>
      </div>
      <div class="modal-body">
        <div class="col-sm-7">
         <form method = "post" id="leadCreationForm">
            {% csrf_token %}
            <div class="details-modal">
               <div class="form-group">
                  <input type="text" class="form-control" id="name" name="name" placeholder="   " value = "{{request.session.name}}"/>
                  <label for="">Name</label>
               </div>
               <div class="form-group">
                  <input type="text" class="form-control" id="email" name="email" value="{{request.session.email}}" placeholder="  "/>
                  <label for="">Email</label>
               </div>
               <div class="form-group">
                  <input type="text" class="form-control" id="number" name="number" value="{{request.session.mobile_no}}" placeholder="  "/>
                  <label for="">Mobile</label>
               </div>
               <div class="form-group">
                  <button class="blue_btn mr-20"  type="submit" id="leadCreationSubmit">Submit</button>
               </div>
            </div>
         </form>
        </div>
        <div class="col-sm-5">
         <div class="check-result">
            <i><img src="{% static 'shinelearn/images/free_skill/details-list.png' %}" class="img-responsive"></i>
            <p>Enter your details to check the Test result</p>
         </div>
        </div>
      </div>

    </div>
  </div>
</div>

<!------  EndModal login ---------->




{% endblock main_container %}
{% block js_section %}
{{block.super}}
<script src="{% static 'shinelearn/js/assessment/take_test.js' %}"></script>

<script>
var tKey = 'Test-' + '{{object.id}}',myStorage = window.localStorage,
right=0,questionAttempt = null,total = {{questions_list.count}};




$(document).ready(function() {
        getCourseDetail('{{object.vendor.id}}','{{object.category.id}}','{{object.id}}');

       {%if not lead_created %}

      {% if request.session.candidate_id %}
      $('#leadCreationSubmit').click();
      {% else %}
       $("#leadCreationModal").modal('show');
        {% endif %}
        {% endif %}


});



function getCoptions(){
        getProductDetail('{{object.vendor.id}}','{{object.category.id}}');
        questionAttempt = JSON.parse(myStorage.getItem(tKey));
        if (questionAttempt != null) {
            for (var id in Object.keys(questionAttempt)) {
                if (Object.values(questionAttempt)[id] != "") {
                    $('#' + Object.values(questionAttempt)[id]).attr('checked',true);
                }
            }
         }
 $.ajax({
         url   : '/api/v1/question/?test_id={{object.id}}',
         type  : 'get',
         success: function(response){
         for(i of response){
            $('#check'+i.question_options[0]).addClass('ans-right');
            if(Object.values(questionAttempt).includes(i.question_options[0])){
                  right+= 1 ;
                     }
                            }
              $('#correctMsg').text( right+ ' out of '+total+' correct answers ');
              $('#scoringPercent').text((right/total)*100 +"%");
              $('#timeTaken').text(secondsToMinutes(questionAttempt['testTime'+{{object.id}}]));
                                    }
    });



}


function secondsToMinutes(time){
    return Math.floor(time / 60)+' Min:'+Math.floor(time % 60) +" Secs";
}





$("#leadCreationForm").submit(function(e){
    var form = $(this);
    $.ajax({
         url   : '/lead/lead-management/',
         type  : 'post',
         data  : form.serialize(), // data to be submitted
         success: function(response){
         }
    });
    testSession({'lead_create':true});
    getCoptions();
    return false;

 });




</script>

{% endblock js_section %}
{% block johukum %}
{% endblock johukum %}
{% block zendesk %}
{% endblock zendesk %}