{% extends "basic/base1.html" %}
{% load static meta thumbnail compress %}
{% block title %}Practice Tests | Online Mock Tests | Exam Preparation Question @ Shine Learning {% endblock title %}
{% block canonical_url %}
<link rel="canonical" href="https://{{ SITE_DOMAIN }}/practice-tests/">
{% endblock canonical_url %}
{% block meta_html %}
 <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">

    <link rel="shortcut icon" href="{% static 'shinelearn/images/fav_icon.png' %}">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1,user-scalable=0"/>
    <meta name="description" content="Take practice tests for every skill & functional area online. Start preparing mock tests questions for competitive exams and job interviews on shine learning.">
	<meta property="og:title" content="Practice Tests | Online Mock Tests | Exam Preparation Question @ Shine Learning">
	<meta property="og:url" content="https://{{ SITE_DOMAIN }}/practice-tests/">
	<meta property="og:description" content="Take practice tests for every skill & functional area online. Start preparing mock tests questions for competitive exams and job interviews on shine learning.">
	<meta property="og:type" content="Website">
	<meta property="og:site_name" content="ShineLearning">
	<meta property="og:image" content="{% static 'shinelearn/images/free_skill/submit-test.png' %}">
	<meta property="fb:profile_id" content="282244838633660">

    <meta itemprop="name" content="Practice Tests | Online Mock Tests | Exam Preparation Question @ Shine Learning ">
    <meta itemprop="dateModified" content="{% if test_list %} {{test_list.0.modified}} {% endif %}">
    <meta itemprop="url" content="https://{{ SITE_DOMAIN }}/practice-tests/">
    <meta itemprop="description" content="Take practice tests for every skill & functional area online. Start preparing mock tests questions for competitive exams and job interviews on shine learning.">
      <meta name="twitter:card" content="summary">
        <meta name="twitter:site" content="@shinelearning">

        <meta name="twitter:domain" content="learning.shine.com">
        <meta name="twitter:title" content="Practice Tests | Online Mock Tests | Exam Preparation Question @ Shine Learning">
        <meta name="twitter:description" content="Take practice tests for every skill & functional area online. Start preparing mock tests questions for competitive exams and job interviews on shine learning." />
        <!--<meta name="twitter:image:src" content="{{obj.image.url}}">-->
{% endblock meta_html %}
{% block css_section %}
{{block.super}}
{% compress css %}
<link type="text/scss" charset="utf-8" href="{% static 'shinelearn/css/practice-skill/practice-skill.scss' %}" rel="stylesheet">
<link type="text/css" href="{% static 'shinelearn/css/common/inputTags.css' %}" rel="stylesheet">
{% endcompress %}



{% endblock css_section %}
{% spaceless %}
{% block main_container %}
<div class="  practice-skill__wrap">
   <div class="left_base"></div>
   <div class="right_base"></div>
      <div class="container">
         {% block breadcrumb %}
         <ol class="breadcrumb  black mb-0" itemscope="" itemtype="http://schema.org/BreadcrumbList">
      {% for bradcbs in breadcrumbs %}
              {% if bradcbs.url %}
                <li itemprop="itemListElement" itemscope itemtype="http://schema.org/ListItem">
                   <a href="{{bradcbs.url}}" itemprop="item">
                      <span itemprop="name">{{bradcbs.name}}</span>
                   </a>
                 <meta itemprop="position" content="{{forloop.counter}}" />
                </li>
              {% else %}
                <li class="active">{{bradcbs.name}}</li>
              {% endif %}
            {% endfor %}
         </ol>
         {% endblock breadcrumb %}
      
      <div class="row">
         <div class="col-sm-6 col-lg-6 col-md-6">
            <h1>Take free practice tests</h1>
            <em><strong>Start preparing</strong> for competitive exams and job interviews</em>
            <ul class="practice_test">
               <li>
                  <div class="round"> <span class="icon-skill specialized"></span></div>
                  <strong>500+ Specialized</strong>  Tests
               </li>
               <li>
                  <div class="round"> <span class="icon-skill custom"></span></div>
                  Strength & Weakness <strong>analysis</strong>
               </li>
               <li>
                  <div class="round"> <span class="icon-skill weaker "></span></div>
                  Custom course
                  <strong>Recommendations</strong>
               </li>
            </ul>
            <div class="search_content">
               <!--<div class="form-inline">-->
                  <!--<input type="text" class="form-control" placeholder="Search popular tests">-->
                  <!--<button type="submit" class=" skill-jobs-btn btn no-bgcol"></button>-->
               <!--</div>-->
                <div id="bloodhound" class="form-inline">
                   <input id ="bloodhound_input" type="text" class="typeahead form-control" placeholder="Search popular tests">
                   <button id="bloodhound_submit" type="submit" class="skill-jobs-btn btn" onclick="MyGA.SendEvent('practicetest_search','ln_practicetest_search', 'ln_search_initiated', 'click_on_search','', false, true)"></button>
                </div>
                <div id="bloodhound_message" style="display: none;">
                  <p style="color:red;"> Test not available</p>
                </div>
            </div>
         </div>
             <!--test by prep-->

           {% if test_prep %}
           {% for testPrep in test_prep %}
                    <div class="col-sm-12 col-lg-12 col-md-12">
            <h2 class="text-center">{{testPrep.heading}}</h2>

            <div class="popular_test row" id="funcDivi">
              <p class="txt mt-10 mb-30">
Shine learning brings to you one of the largest collection of test preps for all  business and tech certifications. Say good bye to anxiety and crack the certification exams in the first attempt !              </p>
                  {% for fa in test_prep_children %}

                   <div class="testinside-home testinside-inner">
                    <a class="test-box" href="{% url 'assessment:vskill-subcategory' slug=fa.slug %}" title="{{fa.name}}" onclick="MyGA.SendEvent('test_preps_select','ln_test_preps_select', 'ln_take_free_test_preps', 'ln_{{fa.name}}','', false, true)">
                  <span class="border-left {% cycle 'default' 'purple' 'olive' 'green' %}"></span>
                    <span>
                     {{fa.name}}
                     <span class="test"> {{fa.get_assessment_test_count}}
                 {% if fa.get_assessment_test_count < 2 %}Test {% else %}Tests{% endif %}
                     </span>
                   </span>

                   <figure class="company-icons">
                              <span>
                             {% if fa.icon %}
                <img class="img-responsive" src= "{{fa.icon.url}}" alt="fa-icons" onclick="MyGA.SendEvent('test_preps_select','ln_test_preps_select', 'ln_take_free_test_preps', 'ln_{{fa.name}}','', false, true)">
                                               {% endif %}
                                  </span>
                   </figure>
                  </a>
               </div>
                  {% endfor %}

               </div>
                {% if  testPrep.get_test_category_ids.count > 8  %}
                        <a style="color:#333333" href="{% url 'assessment:vskill-category' slug=testPrep.slug %}">
                                        <button class="btn_white loadmore" id="testPrepLoadMore" >View All</button>

                        </a>
                  {% endif %}

            </div>
  {% endfor %}
                  {% endif %}
         <!-- Most popular tests starts -->
         <!-- Tests by functional area starts -->
         <div class="col-sm-12 col-lg-12 col-md-12">
            <h2 class="text-center">Tests by functional area</h2>

            <p class="txt mt-20">
Shine learning brings to you one of the largest collection of functional tests. Test your skills on these free tests and know which is the course most suitable for you to grow in your career !
            </p>
            <div class="functional_test row" id="funcDiv">
                  {% for fa in func_area|slice:":8" %}
               <div class="functional_test_inside border-{{forloop.counter}}">
                  <a title="{{fa.name}}" href="{% url 'assessment:vskill-category' slug=fa.slug %}" onclick="MyGA.SendEvent('test_preps_select','ln_test_preps_select', 'ln_take_free_test_functional_area', 'ln_{{fa.name}}','', false, true)">
                      {% if fa.icon %}
                     <span><img class="img-responsive" src= "{{fa.icon.url}}" alt="fa-icons" onclick="MyGA.SendEvent('test_preps_select','ln_test_preps_select', 'ln_take_free_test_functional_area', 'ln_{{fa.name}}','', false, true)"></span>
                     {% else %}
                     <span><img class="img-responsive" src="#" alt="fa-icons" onclick="MyGA.SendEvent('test_preps_select','ln_test_preps_select', 'ln_take_free_test_functional_area', 'ln_{{fa.name}}','', false, true)"></span>
                     {% endif %}
                  {{fa.name}}
                  </a>
               </div>
                  {% endfor %}

               </div>
                {% if  func_area.count > 8  %}
            <button class="btn_white loadmore" id="loadmorebtn" onclick="loadmore();MyGA.SendEvent('test_preps_select','ln_test_preps_select', 'ln_take_free_test_functional_area', 'ln_load_more','', false, true);">Load more</button>
                {% endif %}
            </div>

                <!-- Most popular tests starts -->
         <div class="col-sm-12 col-lg-12 col-md-12">
            <h2 class="text-center">Most popular tests</h2>
            <div class="popular_test row">
         {% for test in test_list %}
               <div class="testinside">
                  <span class="border-left"></span>
                  <a id="{{test.id}}" data-attr-value='{"id":"{{test.id}}","catid":"{{test.category.id}}","catname":"{{test.category.name}}","quescount":"{{test.get_question_count}}","testSlug":"{{test.slug}}","vendor":"{{test.vendor.id}}","courseName":"{{test.course.name}}","courseDuration":"{{test.course.get_duration_in_day}}","coursePrice":"{{test.course.inr_price}}","productName":"{{test.product.name}}","productDuration":"{{test.product.get_duration_day}}","productPrice":"{{test.product.inr_price}}","productId":"{{test.product.id}}","courseId":"{{test.course.id}}","courseUrl":"{{test.course.get_absolute_url}}","productUrl":"{{test.product.get_absolute_url}}" }' data-toggle="modal"  data-target="#testModal" onclick="MyGA.SendEvent('test_preps_select','ln_test_preps_select', 'ln_take_free_test_most_popular', 'ln_{{fa.name}}','', false, true)">
                     {{test.title}}
                     <div class="white_hover"></div>
                     <span class="taketest" >Take Free Test</span>
                  </a>
               </div>
               {% endfor %}

            </div>
         </div>

         </div>
         <!-- Tests by functional area ends -->
      </div>

      </div>
<!------  Modal ---------->
     <div class="modal fade" id="testModal" tabindex="-1" role="dialog" aria-labelledby="ModalCenterTitle" aria-hidden="true">
         <div class="modal-dialog modal-dialog-centered modal-lg" role="document">
            <div class="modal-content vskill-modal-box">
               <div class="modal-header">
                  <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                  <span aria-hidden="true">&times;</span>
               </button>
               <h2 class="text-center" id="exampleModalLongTitle">Digital Marketing Scientist</h2>
               <strong class="text-center">Make your choice and go ahead</strong>
               </div>
               <div class="modal-body">
               <!-- <a >start free test</a> -->
               <div class="pad-15">
                  <div class="vskill-modal">
                     <i>
                        <img src="{% static 'shinelearn/images/free_skill/free-test-bg.jpg' %}" alt="test-bg" class="img-responsive">
                     </i>
                     <span class="pad-15">
                        <h3>Free Test</h3>
                        <ul>
                           <li>
                              Test Format <strong>Practice Exam</strong>
                           </li>
                           <li>
                        No. of Questions <strong id="questCount">{{test.get_question_count}}</strong>

                           </li>
                        </ul>
                        <span>
                        <a class="blue_btn pull-right" id="startTestLink" >Start test</a>
                        <h4 class="mt-10">FREE</h4>
                        </span>
                     </span>
                  </div>
               </div>

               <div class="pad-15">
                  <div class="recommended-head">Recommended</div>
                  <div class="vskill-modal recommended">
                     <i>
                        <img src="{% static 'shinelearn/images/free_skill/practice-test-bg.jpg' %}" alt="practice-test-bg" class="img-responsive">
                     </i>
                     <span class="pad-15">
                        <h3><a id="productName" title="">Practice Tests</a></h3>
                        <ul>
                           <li>
                              Test Format <strong>Practice Exam</strong>
                           </li>
                           <li>
                              No. of Questions <strong>500+ Questions</strong>
                           </li>
                        </ul>
                        <p>Real exam & Practice environment</p>
                        <p class="pb-30">Explanation to every questions</p>
                        <button class="yellow_btn pull-right" id="testAddToCart" >Add to cart</button>
                        <strike id="fakeProductPrice"></strike>
                        <h4 class="mt-0" id="productPrice">Rs.</h4>
                     </span>
                  </div>
               </div>
               <div class="pad-15" id="testCourse"  style="display: none;">
                  <div class="vskill-modal">
                     <i>
                        <img src="{% static 'shinelearn/images/free_skill/online-course-bg.jpg' %}" alt="course-bg" class="img-responsive">
                     </i>
                     <span class="pad-15">
                        <h3><a id="courseName">Practice Tests</a></h3>
                        <ul>
                           <li>
                              Duration <strong id="courseDuration">8 Days</strong>
                           </li>
                           <li>
                              Availability <strong>Unlimited</strong>
                           </li>
                        </ul>
                        <button class="blue_btn pull-right" id="courseCartBtn">Add to cart</button>
                        <strike id="fakeCoursePrice"></strike>
                        <h4 class="mt-0" id="coursePrice">Rs. </h4>
                     </span>
                  </div>
               </div>

               </div>

            </div>
         </div>
      </div>
<!------  EndModal ---------->
   </div>

{% endblock main_container %}
{% endspaceless %}
{% block js_section %}
{{block.super}}
    {% compress js %}
<script src="{% static 'shinelearn/js/assessment/landing.js' %}"></script>
<script src="{% static 'shinelearn/js/assessment/assessment_search.js' %}"></script>
{% endcompress %}
<script type="text/javascript">
   var page_number= 2;
   var facolor = 7;
   function loadmore(){
            page_number = page_number+1;
             element = document.getElementById('funcDiv');
           $.ajax({
               url: '/api/get-category-level-products/',
               type: "GET",
               data : {'tl': 2, 'page_size' : 4, 'page':page_number,'only_test_level2category':true },
               dataType: 'json',
               success: function(json) {
               if (json.next == null){
                 $('#loadmorebtn').hide();
               }
               for (fa in json.results){
                color = counter(facolor)
                element.innerHTML= element.innerHTML +
                `<div class="functional_test_inside border-${color}"><a title="${json.results[fa].name}" href="/practice-tests/${json.results[fa].slug}">
                <span> <img class="img-responsive" alt="fa-icons" src="${json.results[fa].icon}"></span>
                 ${json.results[fa].name} </a></div>`;
                   facolor +=1;
               }
               },
               error: function(xhr, ajaxOptions, thrownError) {
               if(xhr.status == 404){
                     alert("No more Categories to show ");
                     $('#loadmorebtn').hide();
                     }
                     else{

                   alert("Something went wrong. Try again later");
                   }
               }
           });
           return false;
   }


</script>

{% endblock js_section %}
{% block johukum %}
{% endblock johukum %}
{% block zendesk %}
{% endblock zendesk %}

