@import '../../../../../../styles/variables/vars.scss';
@import '../../../../../../styles/variables/mixins.scss';
@import '~react-widgets/dist/css/react-widgets.css';


.react-datepicker-wrapper {
    @extend %input;

    border-top-left-radius: 0;
    border-bottom-left-radius: 0;
    position: relative;
    flex: 1 1 auto;
    width: 1%;
    margin-bottom: 0;

    .react-datepicker__input-container {
        width: 100%;

        input {
            width: 100%;
            border: 0;
        }
    }
}

.flex-auto {
    flex: 1 1 auto;

    .css-bg1rzq-control {
        border-left: 0 none;
        border-top-left-radius: 0;
        border-bottom-left-radius: 0;
        border-color: $grey-light;
    }
}

input:focus {
    outline: 0;
}

input:disabled,
input::placeholder {
    color: $grey-333 !important;
}

.react-datepicker-wrapper .react-datepicker__input-container input {
    color: $grey-333;
    font-size: 14px;
}

.multi-select{
    width: 100%;
}