.download-pdf {
  clear: both;
  position: relative;
  display: block;
}
.download-pdf a {
  color: #fff;
  font-size: 20px;
  font-weight: 600;
}
.download-pdf .download-box {
  display: block;
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  margin: auto;
  width: 185px;
  height: 70px;
}
.download-pdf .download-box figure {
  margin: 0 auto;
  display: block;
}

.box-panel {
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.05);
  background-color: #fff;
}

.download-resume {
  color: #333;
  padding: 25px;
}
.download-resume h2 {
  font-size: 19px;
  color: #333;
  margin: 0 0 10px 0;
}
.download-resume h3 {
  font-size: 15px;
  background-color: #e5e5e5;
  border-radius: 5px;
  padding: 5px 10px;
  display: inline-block;
}
.download-resume ul {
  list-style-type: none;
  margin: 0;
  padding: 0 0 0 20px;
}
.download-resume ul li {
  display: block;
  font-size: 14px;
  margin: 5px 0 10px 0;
  position: relative;
}
.download-resume ul li:before {
  content: '';
  background: url(../images/sprite.png) no-repeat -991px 0;
  display: inline-block;
  position: absolute;
  left: -20px;
  top: 7px;
  width: 8px;
  height: 9px;
}
.download-resume ul li a {
  color: #3f5f94;
}
.download-resume ul li a:hover {
  color: #2f5da5;
}

.formatting {
  color: #333;
  padding: 25px;
}
.formatting h2 {
  font-size: 16px;
  color: #333;
  margin: 30px 0 15px 0;
  font-weight: 600;
}
.formatting ul {
  list-style-type: none;
  margin: 0;
  padding: 0 0 0 20px;
}
.formatting ul li {
  display: block;
  font-size: 14px;
  margin: 5px 0 10px 0;
  position: relative;
}
.formatting ul li:before {
  content: '';
  background: url(../images/sprite.png) no-repeat -991px 0;
  display: inline-block;
  position: absolute;
  left: -20px;
  top: 7px;
  width: 8px;
  height: 9px;
}
.formatting ul li a {
  color: #3f5f94;
}
.formatting ul li a:hover {
  color: #2f5da5;
}
.formatting article {
  font-size: 16px;
}

.writer-comments {
  padding: 25px;
}
.writer-comments h2 {
  font-size: 19px;
  color: #333;
  margin: 0 0 10px 0;
}
.writer-comments article {
  border-top: 1px solid #f1f1f1;
  border-bottom: 1px solid #f1f1f1;
  display: block;
  font-size: 15px;
  font-weight: 300;
  padding: 15px 0;
}
.writer-comments article strong {
  font-weight: 400;
  display: block;
  margin: 20px 0 3px 0;
}
.writer-comments article strong:first-child {
  margin-top: 0;
}
.writer-comments .media-body {
  font-size: 16px;
  font-weight: 300;
}
.writer-comments .media-body strong {
  font-size: 22px;
  font-weight: 400;
  display: block;
  margin: 0;
}
.writer-comments .sample-resume {
  font-size: 16px;
  font-weight: 600;
  text-align: center;
  display: table;
  margin: 15px auto 0 auto;
}
.writer-comments .sample-resume span {
  margin-left: 5px;
}

.comments-box {
  font-size: 15px;
  color: #666;
  margin-top: 100px;
}
.comments-box .media-body {
  overflow: visible;
}
.comments-box .form-group {
  position: relative;
}
.comments-box .form-group:before {
  content: '';
  position: absolute;
  left: -12px;
  top: 0;
  width: 13px;
  height: 21px;
  background: url(../images/sprite.png) no-repeat -1053px 0;
  display: inline-block;
}
.comments-box .form-group textarea {
  box-shadow: none;
}
.comments-box .form-control {
  border: 1px solid #e5e5e5;
  border-radius: 0;
}
.comments-box .submit-button {
  display: inline-table;
  float: right;
  width: auto;
  padding: 7px 15px;
  border-radius: 2px;
}
.comments-box .time {
  display: block;
  color: #999;
  font-size: 12px;
  margin-top: 5px;
}

.related {
  padding: 20px;
}
.related .media {
  margin-top: 20px;
}
.related .media .media-body {
  font-size: 15px;
  color: #666;
  line-height: 20px;
  text-decoration: none;
  font-weight: 600;
}

.heading-right {
  font-size: 15px;
  color: #3f5f94;
  font-weight: 600;
  border-bottom: 2px solid #3f5f94;
  margin: 0;
  padding-bottom: 5px;
  text-transform: uppercase;
}

.request-call {
  padding: 20px;
}
.request-call .form-control {
  border-radius: 0;
  border: 1px solid #e1e1e1;
  color: #e1e1e1;
  font-size: 13px;
}
.request-call .form-group {
  position: relative;
}
.request-call .call-service {
  font-size: 11px;
  color: #999;
  text-align: center;
  text-transform: uppercase;
}
.request-call .call-service strong {
  font-size: 18px;
  font-weight: 600;
  color: #2f5da5;
  display: block;
  margin: 10px 0 0 0;
}

.practice-test {
  padding: 20px;
}

/*login signup css*/
.login-signup-box {
  -webkit-box-shadow: 0px 0px 21px 3px #ededed;
  -moz-box-shadow: 0px 0px 21px 3px #ededed;
  box-shadow: 0px 0px 21px 3px #ededed;
  position: absolute;
  right: 15%;
  top: 100px;
  width: 320px;
}

.register {
  background-color: #fff;
  font-family: "Open Sans", sans-serif;
  padding: 20px;
}
.register h1 {
  font-size: 20px;
  color: #666;
  display: block;
  margin-bottom: 20px;
}
.register input {
  border-top: 1px solid #fff;
  border-right: 1px solid #fff;
  border-bottom: 1px solid #ccc;
  border-left: 1px solid #fff;
  border-radius: 0;
  font-size: 14px;
  color: #333;
  padding-left: 0;
}
.register .form-check-label {
  font-size: 13px;
  color: #666;
  margin-top: 10px;
  font-weight: 300;
}
.register .form-check-input {
  vertical-align: sub;
  margin-right: 3px;
}
.register .submit {
  background-color: #2f5da5;
  font-size: 14px;
  font-weight: 600;
  color: #fff;
  display: block;
  width: 100%;
  line-height: 25px;
  margin: 20px 0 10px 0;
}
.register .form-control:focus {
  border-top: 1px solid #fff;
  border-right: 1px solid #fff;
  border-bottom: 1px solid #5cb3fd;
  border-left: 1px solid #fff;
}
.register a, .register a:hover {
  color: #2f5da5;
  text-decoration: none;
}
.register .form-group {
  position: relative;
}
.register .form-group .form-control {
  box-shadow: none;
}
.register small {
  display: block;
}
.register .error {
  font-size: 11px;
  color: #ff0000;
  position: absolute;
  right: 0;
  top: 10px;
}
.register .social-login {
  text-align: center;
  display: block;
  font-size: 14px;
  color: #666;
  margin: 15px 0 15px 0;
}
.register .social-login span {
  display: block;
  margin-bottom: 15px;
}
.register .social-login .facebook {
  border-radius: 2px;
  background: url(../images/sprite.png) no-repeat -764px 5px;
  width: 52px;
  height: 35px;
  border: 1px solid #3b5896;
  display: inline-block;
  text-align: center;
}
.register .social-login .twitter {
  border-radius: 2px;
  background: url(../images/sprite.png) no-repeat -800px 6px;
  width: 52px;
  height: 35px;
  border: 1px solid #3aa9de;
  display: inline-block;
  text-align: center;
  margin-left: 10px;
}
.register .social-login .gplus {
  border-radius: 2px;
  background: url(../images/sprite.png) no-repeat -844px 6px;
  width: 52px;
  height: 35px;
  border: 1px solid #d14635;
  display: inline-block;
  text-align: center;
  margin-left: 10px;
}
.register .social-login .linkedin {
  border-radius: 2px;
  background: url(../images/sprite.png) no-repeat -1100px 4px;
  width: 52px;
  height: 35px;
  border: 1px solid #3aa9de;
  display: inline-block;
  text-align: center;
  margin-left: 10px;
}

/*# sourceMappingURL=custom.css.map */
