@import '../../styles/variables/vars.scss';
@import '../../styles/variables/mixins.scss';

.help-modal {
	h2 {
		margin: 20px auto 20px auto !important;
		display: block;
		font-size: 2.6rem;
		font-weight: 600;
	}

	p {
		font-size: 1.5rem;
		color: $txt1;
		line-height: 2rem;
		margin-bottom: 20px;
	}

	.orange-button {
		margin: 0 auto 20px auto;
		display: table;
	}

	:local(.icon-close) {
		top: 130px;
	}

	:local(.icon-close--position1) {
		right: 0;
		top: 19%;
		position: absolute;
		cursor: pointer;
	}
}

.help-modal1 {
    overflow: hidden;
    background: $white;
    margin: 10% auto 0 auto;
    @include border-radius(5px);
    width: 400px;
    padding: 0 20px;

    .icon-close--position1 {
		right: 0;
		top: 0;
		position: absolute;
	}
}

.suggestion-error{
	text-align: center;
	color: red;
	margin-bottom: 20px;
}