@import '../../styles/variables/vars.scss';
@import '../../styles/variables/mixins.scss';

modal {
	position: relative;
}

.modal-header {
	position: absolute;
	top: 0;
	left: 0;
	right: 0;
	background: $white;
}

.pr {
	position: relative;
	z-index: 11;
}

.icon-close--position {
	position: absolute;
	right: 10.5%;
	top: -45px;

	&:before {
		background: $white;
		content: '';
		display: inline-block;
	}
}