{% extends "console/base_console.html" %}
{% load static compress %}
{% load humanize %}
{% load thumbnail %}

{% block title %}
  <title>Raise Request - Shine Learning</title>
{% endblock title %}

{% block css_block %}
    {{block.super}}

    {% compress css inline %}
    <style>
        ul.parsley-errors-list {
            list-style: none;
            color: #E74C3C !important;
            padding-left: 0;
        }
        ul.parsley-errors-list {
            list-style: none;
            color: #E74C3C;
            padding-left: 0;
        }
        .error{
            color: #E74C3C;
        }
    </style>
    {% endcompress %}

{% endblock css_block %}



{% block pagecontent %}
<!-- page content -->
<div class="right_col" role="main">
  <div class="">
    <div class="page-title">
      <div class="title_left">
        <h3>Raise Request</h3>
      </div>

      <form class="form-group" method="GET" action="{% url "console:refund-raiserequest" %}" id="filter-tables">
          <div class="title_right">
            <div class="col-md-8 col-sm-8 col-xs-12 form-group pull-right top_search">
              <div class="input-group">
                <input type="text" name="query" class="form-control" {% if query %} value="{{query}}" {% endif %} placeholder="raise request for order number..">
                <span class="input-group-btn">
                  <button type="submit" class="btn btn-default" id="search_button" type="button">Go!</button>
                </span>
              </div>
            </div>
          </div>
      </form>
    </div>

    <div class="row">
      <div class="col-md-12 col-sm-12 col-xs-12">
        {% if messages %}
            {% for message in messages %}

              <div{% if message.tags %} class="alert alert-{{ message.tags }} alert-dismissable"{% endif %}>
              <button type="button" class="close" data-dismiss="alert" aria-hidden="true">&times;</button>

              {{ message }}
              </div>
            {% endfor %}
        {% endif %}

      </div>
    </div>

    <div class="clearfix"></div>
    {% if order %}
    <div class="row">
       <div class="col-md-12 col-sm-12 col-xs-12">
        <div class="x_panel">
          <div class="x_title">
            <h2>Order Details</h2>
            <ul class="nav navbar-right panel_toolbox">
              <li><a class="collapse-link"><i class="fa fa-chevron-up"></i></a>
              </li>
            </ul>
            <div class="clearfix"></div>
          </div>

          <div class="x_content">
            <div class="table-responsive">
              <table class="table table-striped jambo_table bulk_action">
                <thead>
                  <tr class="headings">
                    <th class="column-title">#OrderNumber</th>
                    <th class="column-title">Email</th>
                    <th class="column-title">Mobile</th>
                    <th class="column-title">Name</th>
                    <th class="column-title">Order Status</th>
                    <th class="column-title">Currency</th>
                    <th class="column-title">Payment Date</th>
                    <th class="column-title">Order Details</th>
                    <th class="column-title">Agent Name</th>
                    <th class="column-title">TL Name</th>
                    <th class="column-title">BH Name</th>
                  </tr>
                </thead>

                <tbody>
                    <tr class="even pointer">
                      <td>{{order.number}}</td>

                              <td>
                    <div id="email{{order.id}}">
                      <div id="email_field{{order.id}}"></div>
                    </div>
                    <div>
                      <button type="button" class="btn btn-primary btn-xs" onclick="order_get_details('{{order.id}}','email,alt_email','email');"><i class="fa fa-search" aria-hidden="true"></i>ClickToView</button>
                    </div>
                  </td>
                  <td>
                    <div id="mobile{{order.id}}" style="display: -moz-inline-stack;">
                      <div id="mobile_field{{order.id}}"></div>
                    </div>
                      {% if exoitel_status%}
                      <button id="{{order.id}}callingBtn" class="fa fa-phone-square" style="font-size:30px;color:orange;border-width:0px;background:transparent;" type="button" title = "click to call" onclick="makeCallBtn({{order.id}});"></button>
                      <span style="height:100px; overflow-y: auto; overflow-x: hidden;" id="{{order.id}}callingbtn-error"></span>
                      {% endif %}
                    <button type="button" onclick="order_get_details('{{order.id}}','mobile,alt_mobile','mobile');" class="btn btn-primary btn-xs"><i class="fa fa-phone-square" aria-hidden="true"></i> ClickToView</button>
                  </td>


                      <td>{{order.first_name}} {{order.last_name}}</td>
                      <td>{{order.get_status}}</td>
                      <td>{{order.get_currency}}</td>
                      <td>{{order.payment_date}}</td>
                      <td><a target="_blank" href="{% url "console:order-detail" order.pk %}"><button type="button" class="btn btn-success btn-xs"><i class="fa fa-eye"></i>Order Details</button></a></td>
                      <td></td>
                      <td></td>
                      <td></td>
                    </tr>
                </tbody>
              </table>
            </div>
          </div>
        </div>
      </div>

      <div class="col-md-12 col-sm-12 col-xs-12">
        <div class="x_panel">
          <div class="x_title">
            <h2>Order items</h2>
            <ul class="nav navbar-right panel_toolbox">
              <li><a class="collapse-link"><i class="fa fa-chevron-up"></i></a>
              </li>
            </ul>
            <div class="clearfix"></div>
          </div>

          <div class="x_content">
           <form id="refund-request-form" method="post" action="." enctype="multipart/form-data" data-parsley-validate>{% csrf_token %}
           <div style="display:none">
               <input type="hidden" name="order_pk" value="{{order.pk}}" >
           </div>
            <div class="table-responsive">
              <table class="table table-striped jambo_table">
                <thead>
                  <tr class="headings">
                    <th class="column-title">#</th>
                    <th class="column-title">Item Name</th>
                    <th class="column-title">Refund Type</th>
                    <th class="column-title">Refund Amount</th>
                    <th class="column-title">Actual Amount</th>
                  </tr>
                </thead>
                <tbody>
                    {% for data in refundedit_items %}
                    {% with oi=data.oi combos=data.combos %}
                        <tr class="even pointer">
                          <td>
                              <input type="checkbox" class="item-checked" onclick="clickItemAction('{{oi.pk}}')" data-id="{{oi.pk}}" id="item-{{oi.pk}}" name="item_name" value="{{oi.pk}}" data-price="{{oi.get_refund_amount}}">
                          </td>
                          <td>
                              {% if oi.parent and oi.is_variation %}
                                <strong>{{oi.parent.product.get_name}}{% if oi.parent.product.get_exp_db %} - Exp: {{oi.parent.product.get_exp_db}}{% endif %}:</strong><br/>
                              {% endif %}
                                  {{oi.product.get_name}}<br/>
                              {%if oi.product.get_exp_db %}
                                  <strong>Exp:</strong> {{oi.product.get_exp_db}}<br/>
                              {% endif %}
                              {% if oi.product.get_studymode_db %}
                                  <strong>Study mode:</strong> {{oi.product.get_studymode_db}}<br/>
                              {% endif %}
                              {% if oi.product.get_coursetype_db %}
                                  <strong>Course type:</strong> {{oi.product.get_coursetype_db}}<br/>
                              {% endif %}
                              {% if oi.product.get_duration_db %}
                                  <strong>Duration:</strong> {{oi.product.get_duration_db}}
                              {% endif %}
                              {% if combo %}
                                   <br>
                                   <h3>This Package includes:</h3>
                                  {% for combo in combos %}
                                      {{combo.product.name}}<br/>
                                  {% endfor %}
                              {% endif %}
                          </td>
                          <td>
                            <div class="col-md-9 col-sm-9 col-xs-12">
                              <select class="form-control" onchange="changePaymentType('{{oi.pk}}')" id="payment-type-id{{oi.pk}}" name="type-payment{{oi.pk}}">
                                {% for key, value in type_refund_dict.items %}
                                    <option value="{{key}}" {% if key == 'select'%}selected{% endif %}>{{value}}</option>
                                {% endfor %}
                              </select>
                              <span class="error"></span>
                            </div>
                          </td>
                          <td>
                              <div class="col-md-9 col-sm-9 col-xs-12">
                                <input class="form-control" onchange="changeRefundAmount('{{oi.pk}}')" id="refund-amount-id{{oi.pk}}" data-id="{{oi.pk}}" name="refund-amount-{{oi.pk}}" value="" disabled="disabled">
                                <span class="error"></span>
                              </div>
                          </td>
                          <td>{{oi.get_refund_amount}}</td>
                        </tr>    
                    {% endwith %}
                  {% endfor %}
                </tbody>
              </table>
            </div>

            <label for="message">Message:</label>
            <textarea id="message" required="required" class="form-control" name="message" data-parsley-trigger="keyup" data-parsley-minlength="10" data-parsley-maxlength="300" data-parsley-minlength-message="Come on! You need to enter at least a 10 caracters long comment.."
            data-parsley-validation-threshold="10"></textarea>
            <br/>

            <label>Attach File:</label>
            <input type="file" name="attach_file"><br/>
            <span><strong>Total Refundable Amount: </strong></span><span id="total-refundable-amount-id" total-refund="0">0</span><br/><br/>
            <button type="button" id="raise-request-submit-id" class="btn btn-success">Raise Refund Request</button>
            <br/>
            <span class="error"></span>
            <div class="modal fade bs-example-modal-lg" tabindex="-1" role="dialog" aria-hidden="true" id="confirmModal">
                <div class="modal-dialog modal-lg">
                  <div class="modal-content">

                    <div class="modal-header">
                      <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">×</span>
                      </button>
                      <h4 class="modal-title" id="myModalLabel">Raise Refund Request</h4>
                    </div>
                    <div class="modal-body" id="myModalbody">
                      Are you sure to raise refund request on order number {{order.number}} and send for approval?
                    </div>
                    <div class="modal-footer">
                      <button type="button" class="btn btn-default" data-dismiss="modal">No</button>
                      <button type="button" class="btn btn-primary" id="action_confirm">Yes</button>
                    </div>

                  </div>
                </div>
            </div>
            </form>
          </div>
        </div>
      </div>
    </div>
    {% endif %}
  </div>
</div>
<!-- /page content -->


{% endblock pagecontent %}

        
{% block js_block %}
  {{ block.super }}

  {% compress js %}
  <!-- Parsley Validate Scripts -->
  <script type="text/javascript" src="{% static 'packages/parsleyjs/parsley.min.js' %}"></script>
  <script type="text/javascript" src="{% static 'console/js/order/exotelCall.js' %}"></script>
  <script type="text/javascript" src = "{% static 'console/js/order-info.js' %}"></script>
  <script type="text/javascript" src="{% static 'console/js/refund/refund.js' %}"></script>
  {% endcompress %}

{% endblock js_block %}
