{% extends "console/base_console.html" %}
{% load static compress %}
{% load humanize %}
{% load thumbnail %}

{% block title %}
  <title>Edit Refund Request - Shine Learning</title>
{% endblock title %}

{% block css_block %}
    {{block.super}}

    {% compress css inline %}
    <style>
        ul.parsley-errors-list {
            list-style: none;
            color: #E74C3C !important;
            padding-left: 0;
        }
        ul.parsley-errors-list {
            list-style: none;
            color: #E74C3C;
            padding-left: 0;
        }
        .error{
            color: #E74C3C;
        }
    </style>
    {% endcompress %}
{% endblock css_block %}



{% block pagecontent %}
<!-- page content -->
<div class="right_col" role="main">
  <div class="">
    <div class="page-title">
      <div class="title_left">
        <h3>Edit Refund Request</h3>
      </div>
    </div>

    <div class="row">
      <div class="col-md-12 col-sm-12 col-xs-12">
        {% if messages %}
            {% for message in messages %}

              <div{% if message.tags %} class="alert alert-{{ message.tags }} alert-dismissable"{% endif %}>
              <button type="button" class="close" data-dismiss="alert" aria-hidden="true">&times;</button>

              {{ message }}
              </div>
            {% endfor %}
        {% endif %}

      </div>
    </div>

    <div class="clearfix"></div>
    {% if order %}
    <div class="row">
       <div class="col-md-12 col-sm-12 col-xs-12">
        <div class="x_panel">
          <div class="x_title">
            <h2>Order Details</h2>
            <ul class="nav navbar-right panel_toolbox">
              <li><a class="collapse-link"><i class="fa fa-chevron-up"></i></a>
              </li>
            </ul>
            <div class="clearfix"></div>
          </div>

          <div class="x_content">
            <div class="table-responsive">
              <table class="table table-striped jambo_table bulk_action">
                <thead>
                  <tr class="headings">
                    <th class="column-title">#OrderNumber</th>
                    <th class="column-title">Refund Status</th>
                    <th class="column-title">Email</th>
                    <th class="column-title">Mobile</th>
                    <th class="column-title">Name</th>
                    <th class="column-title">Order Status</th>
                    <th class="column-title">Currency</th>
                    <th class="column-title">Payment Date</th>
                    <th class="column-title">Order Details</th>
                    <th class="column-title">Agent Name</th>
                    <th class="column-title">TL Name</th>
                    <th class="column-title">BH Name</th>
                  </tr>
                </thead>

                <tbody>
                    <tr class="even pointer">
                      <td>{{order.number}}</td>
                      <td>{{refund_obj.get_status}}</td>
                                  <td>
                    <div id="email{{order.id}}">
                      <div id="email_field{{order.id}}"></div>
                    </div>
                    <div>
                      <button type="button" class="btn btn-primary btn-xs" onclick="order_get_details('{{order.id}}','email,alt_email','email');"><i class="fa fa-search" aria-hidden="true"></i>ClickToView</button>
                    </div>
                  </td>
                  <td>
                    <div id="mobile{{order.id}}" style="display: -moz-inline-stack;">
                      <div id="mobile_field{{order.id}}"></div>
                    </div>
                      {% if exoitel_status%}
                      <button id="{{order.id}}callingBtn" class="fa fa-phone-square" style="font-size:30px;color:orange;border-width:0px;background:transparent;" type="button" title = "click to call" onclick="makeCallBtn({{order.id}});"></button>
                      <span style="height:100px; overflow-y: auto; overflow-x: hidden;" id="{{order.id}}callingbtn-error"></span>
                      {% endif %}
                    <button type="button" onclick="order_get_details('{{order.id}}','mobile,alt_mobile','mobile');" class="btn btn-primary btn-xs"><i class="fa fa-phone-square" aria-hidden="true"></i> ClickToView</button>
                  </td>

                      <td>{{order.first_name}} {{order.last_name}}</td>
                      <td>{{order.get_status}}</td>
                      <td>{{order.get_currency}}</td>
                      <td>{{order.payment_date}}</td>
                      <td><a target="_blank" href="{% url "console:order-detail" order.pk %}"><button type="button" class="btn btn-success btn-xs"><i class="fa fa-eye"></i>Order Details</button></a></td>
                      <td></td>
                      <td></td>
                      <td></td>
                    </tr>
                </tbody>
              </table>
            </div>
          </div>
        </div>
      </div>

      <div class="col-md-12 col-sm-12 col-xs-12">
        <div class="x_panel">
          <div class="x_title">
            <h2>Change Refund Request</h2>
            <ul class="nav navbar-right panel_toolbox">
              <li><a class="collapse-link"><i class="fa fa-chevron-up"></i></a>
              </li>
            </ul>
            <div class="clearfix"></div>
          </div>

          <div class="x_content">
           <form id="refund-request-form" method="post" action="." enctype="multipart/form-data" data-parsley-validate>{% csrf_token %}
           <div style="display:none">
               <input type="hidden" name="order_pk" value="{{order.pk}}" >
           </div>
            <div class="table-responsive">
              <table class="table table-striped jambo_table">
                <thead>
                  <tr class="headings">
                    <th class="column-title">#</th>
                    <th class="column-title">Item Name</th>
                    <th class="column-title">Refund Type</th>
                    <th class="column-title">Refund Amount</th>
                    <th class="column-title">Actual Amount</th>
                  </tr>
                </thead>
                <tbody>
                  {% for data in refundedit_items %}
                    {% with oi=data.oi combos=data.combos refund_item=data.refund_item %}
                        <tr class="even pointer">
                          <td>
                              <input {% if refund_item %}checked{% endif %} type="checkbox" class="item-checked" onclick="clickItemAction('{{oi.pk}}')" data-id="{{oi.pk}}" id="item-{{oi.pk}}" name="item_name" value="{{oi.pk}}" data-price="{{oi.get_refund_amount}}">
                          </td>
                          <td>
                              {% if oi.parent and oi.is_variation %}
                                <strong>{{oi.parent.product.get_name}}{% if oi.parent.product.get_exp_db %} - Exp: {{oi.parent.product.get_exp_db}}{% endif %}:</strong><br/>
                              {% endif %}
                                  {{oi.product.get_name}}<br/>
                              {%if oi.product.get_exp_db %}
                                  <strong>Exp:</strong> {{oi.product.get_exp_db}}<br/>
                              {% endif %}
                              {% if oi.product.get_studymode_db %}
                                  <strong>Study mode:</strong> {{oi.product.get_studymode_db}}<br/>
                              {% endif %}
                              {% if oi.product.get_coursetype_db %}
                                  <strong>Course type:</strong> {{oi.product.get_coursetype_db}}<br/>
                              {% endif %}
                              {% if oi.product.get_duration_db %}
                                  <strong>Duration:</strong> {{oi.product.get_duration_db}}
                              {% endif %}
                              
                              {% if combo %}
                                   <br>
                                   <h3>This Package includes:</h3>
                                  {% for combo in combos %}
                                      {{combo.product.name}}<br/>
                                  {% endfor %}
                              {% endif %}
                          </td>
                          <td>
                            <div class="col-md-9 col-sm-9 col-xs-12">
                              <select class="form-control" onchange="changePaymentType('{{oi.pk}}')" id="payment-type-id{{oi.pk}}" name="type-payment{{oi.pk}}">
                                {% for key, value in type_refund_dict.items %}
                                    {% if refund_item %}
                                        <option value="{{key}}" {% if key == refund_item.type_refund %}selected{% endif %}>{{value}}</option>
                                    {% else %}
                                        <option value="{{key}}" {% if key == 'select'%}selected{% endif %}>{{value}}</option>
                                    {% endif %}
                                {% endfor %}
                              </select>
                              <span class="error"></span>
                            </div>
                          </td>
                          <td>
                              <div class="col-md-9 col-sm-9 col-xs-12">
                                 {% if refund_item %}
                                    <input class="form-control" onchange="changeRefundAmount('{{oi.pk}}')" id="refund-amount-id{{oi.pk}}" data-id="{{oi.pk}}" name="refund-amount-{{oi.pk}}" value="{{refund_item.amount}}" {% if refund_item.type_refund == 'full' %}disabled="disabled"{% endif %}>
                                 {% else %}
                                    <input class="form-control" onchange="changeRefundAmount('{{oi.pk}}')" id="refund-amount-id{{oi.pk}}" data-id="{{oi.pk}}" name="refund-amount-{{oi.pk}}" value="" disabled="disabled">
                                  {% endif %}
                                  <span class="error"></span>
                              </div>
                          </td>
                          <td>{{oi.get_refund_amount}}</td>
                          
                        </tr>    
                    {% endwith %}
                  {% endfor %}
                </tbody>
              </table>
            </div>

            <label for="message">Message:</label>
            <textarea id="message" required="required" class="form-control" name="message" data-parsley-trigger="keyup" data-parsley-minlength="10" data-parsley-maxlength="300" data-parsley-minlength-message="Come on! You need to enter at least a 10 caracters long comment.."
            data-parsley-validation-threshold="10">{{refund_obj.message}}</textarea>
            <br/>

            <label>Attach File:</label>
            {% if refund_obj.document %}
               <p>Currently:<a href="{{refund_obj.document.url}}">{{refund_obj.document.url}}</a></p>
               <p>Change:</p>
            {% endif %}
            <input type="file" name="attach_file"><br/>
            <span><strong>Total Refundable Amount: </strong></span><span id="total-refundable-amount-id" total-refund="{{refund_obj.refund_amount}}">{{refund_obj.refund_amount}}</span> ({{order.get_currency}})<br/><br/>
            <button type="button" id="raise-request-submit-id" class="btn btn-success">Save Refund Request</button>
            {% if cancel_permission %}
                  <button type="button" onclick="cancelRequestAction('{{refund_obj.pk}}')" class="btn btn-danger"><i class="fa fa-close"></i>Cancel Refund Request</button>
            {% endif %}
            <br/>
            <span class="error"></span>
            <div class="modal fade bs-example-modal-lg" tabindex="-1" role="dialog" aria-hidden="true" id="confirmModal">
                <div class="modal-dialog modal-lg">
                  <div class="modal-content">

                    <div class="modal-header">
                      <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">×</span>
                      </button>
                      <h4 class="modal-title" id="myModalLabel">Edit Refund Request</h4>
                    </div>
                    <div class="modal-body" id="myModalbody">
                      Are you sure to change the raised refund request on order number {{order.number}}?
                    </div>
                    <div class="modal-footer">
                      <button type="button" class="btn btn-default" data-dismiss="modal">No</button>
                      <button type="button" class="btn btn-primary" id="action_confirm">Yes</button>
                    </div>

                  </div>
                </div>
            </div>
            </form>
          </div>
        </div>
      </div>
    </div>
    {% endif %}
  </div>
</div>
<!-- /page content -->


<!-- cancel modal-->
<div class="modal fade bs-example-modal-lg" tabindex="-1" role="dialog" aria-hidden="true" id="cancel-modal{{refund_obj.pk}}">
    <div class="modal-dialog modal-sm">
      <div class="modal-content">

        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">×</span>
          </button>
          <h4 class="modal-title" id="myModalLabel2">Action on refund request (order no. {{refund_obj.order.number}})</h4>
        </div>
        <div class="modal-body">
          Are you sure to cancel refund request?
          <form class="form-group" method="POST" action="{% url "console:refundrequest-cancel" %}" id="cancel-request-form{{refund_obj.pk}}" data-parsley-validate>{% csrf_token %}
           <div style="display:none">
            <input type="hide" name="refund_pk" value="{{refund_obj.pk}}">
           </div>
           <textarea id="message" required="required" class="form-control" name="message" data-parsley-trigger="keyup" data-parsley-maxlength="300"
           placeholder="type cancel reason here.." 
           data-parsley-validation-threshold="10">
           </textarea>
              
          </form>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
          <button type="button" id="cancel-confirm-button{{refund_obj.pk}}" class="btn btn-primary">Yes</button>
        </div>
      </div>
    </div>
</div>
<!-- /modals -->


{% endblock pagecontent %}

        
{% block js_block %}
  {{ block.super }}

  {% compress js %}
  <!-- Parsley Validate Scripts -->
  <script type="text/javascript" src="{% static 'packages/parsleyjs/parsley.min.js' %}"></script>
  <script type="text/javascript" src="{% static 'console/js/order/exotelCall.js' %}"></script>
  <script type="text/javascript" src = "{% static 'console/js/order-info.js' %}"></script>
  <script type="text/javascript" src="{% static 'console/js/refund/refund.js' %}"></script>
  {% endcompress %}

{% endblock js_block %}
