{% extends "basic/base1.html" %}
{% load static custom_filters %}

{% block css_section %}
    {{block.super}}
    <link rel="stylesheet" type="text/css" href="http://ajax.googleapis.com/ajax/libs/jqueryui/1/themes/flick/jquery-ui.css">
    <link href="{% static '/shinelearn/css/common/jquery.tagit.css' %}" rel="stylesheet" type="text/css">
    <link type="text/css" href="{% static '/shinelearn/css/search/jquery.mCustomScrollbar.css' %}" rel="stylesheet">
    <link type="text/css" href="{% static '/shinelearn/css/search/listing.css' %}" rel="stylesheet">
{% endblock css_section %}
{% block title %}Search Result Page - Shine Learning{% endblock title %}

{% block main_container %}
    {% block page_heading %}
        <!-- header -->
        <header class="search-header">
            <div class="container">
                <!-- breadcrums -->
                {% block breadcrumbs %}
                  {% include "product/partials/breadcrumb.html" %}
                {% endblock breadcrumbs %}

                {% block product_header %}
                    <div class="search-caption">
                        <div class="search-box">
                            <form class="form-inline" id="search_form" data-role="form">
                                {% for field in form %}
                                <div class="form-group">
                                    {{field}}
                                </div>
                                {% endfor %}
                                <button type="submit" class="find-jobs-btn btn">Find</button>
                            </form>
                        </div>
                    </div>
                {% endblock product_header %}
            </div>
        </header>
    {% endblock page_heading %}



    <!-- main section start -->
    <section class="container">

    <!-- page content body start -->
    <div class="row">

    {% include "search/partials/search_filters.html" %}


    <!-- mid content start -->
    <div class="col-sm-9 col-md-10 mt-40 ">
        {% if page.object_list|length > 0 %}
        <div class="listing-heading-box">
            <div class="form-group custom-select">
                <select name="sort" hdn="id_sort" class="form-control cls_filter">
                    <option value="">Relevance</option>
                    <option value="1" {% if search_params.sort == '1' %}selected="selected"{% endif %}>Latest</option>
                    <option value="2" {% if search_params.sort == '2' %}selected="selected"{% endif %}>Review(High to Low)</option>
                </select>
            </div>
            <h2>{{ paginator.count }} products found</h2>
        </div>

        <ul class="listing js_listing">
            {% include 'search/ajax/search_listing.html' %}
        </ul>
        {% if paginator.num_pages > page.number %}
            <a href="#" class="load-more cls_load_more">Load more</a>
        {% endif %}
        {% else %}
            <span>No results found</span>
        {%endif%}
    </div>       
    <!-- mid content end -->
    </div>
    <!-- page content body end -->

</section>
<!-- main section end -->
{% endblock main_container %}

{% block js_section %}
    {{block.super}}
    <!-- Include all compiled plugins (below), or include individual files as needed -->
    <script src="{% static 'shinelearn/js/common/jquery.mCustomScrollbar.concat.min.js' %}"></script>
    <script src="{% static 'shinelearn/js/search/bootstrap-slider.min.js' %}"></script>
    <script src="{% static 'shinelearn/js/common/typeahead.min.js' %}"></script>
    <script src="{% static 'shinelearn/js/search/search.js' %}"></script>

    <script type="text/javascript">
        $('.nav-tabs > li > a').hover(function() {
            $(this).tab('show');
        });
        $('.dropdown').hover(function(){
            $('.dropdown-toggle', this).trigger('click');
        });
    </script>

    <script>
        (function($){
            $(window).on("load",function(){
                $("#filters .scroll").mCustomScrollbar({
                  setHeight:140,
                  theme:"dark-3"
                });
            });
        })(jQuery);
    </script>

    <script type="text/javascript">
        $("#ex2").slider({});
    </script>

    <script type="text/javascript">
        $('#id_q').typeahead({
            local: ['career','international','six','six sigma','profile','logistics','supply chain','transport','analytics']
        });

        $('.tt-query').css('background-color','#fff');
    </script>

{% endblock js_section %}
