@import 'library/variables';
@import 'library/mixin';

/* Share Components */
@import 'components/share';


.hr-box {
  margin: 0 -3px;
  display: flex;
  align-items: center;

  li {
    @include box (33.33%, auto, block);
    @include border-radius (4px);
    background-color: $bg-white;
    text-align: center;
    margin: 3px;
    position: relative;

    a {
      display: block;
      padding: 5px;
      color: $txt-grey-333;
      font-size: $font-size-base;

      @media only screen and (max-width: 320px) {
          font-size: $font-size-xs;
      }
    }

    sup {
      width: 0;
      height: 0;
      border-style: solid;
      border-width: 6px 6px 0 6px;
      border-color: #ffffff transparent transparent transparent;
      position: absolute;
      bottom: -6px;
      left: 50%;
      margin-left: -3px;
      display: none;
    }

    span {
      margin-top: 3px;
    }
  }

  .active {
    sup {
      display: block;
    }
  }
}

.box-panel {
  @extend %white-box;
}

/* Blog landing page */
.trending-articles {

  .slick-dots {
    bottom: 0;
  }

  .article-slider {
    overflow: hidden;
    padding-bottom: 25px;
  }

  .caption-bg-txt {
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    width: 100%;
    z-index: 1;

    .caption-heading {
      font-size: 0.750rem;
      color: $txt-white;
      text-transform: uppercase;
      font-weight: 600;
      position: absolute;
      top: 5px;
      left: 10px;
    }
  }

  li {
    position: relative;
    margin: 15px 15px 0;
    height: 200px;

    img {
      max-width: 100%;
      width: 100%;
      height: auto;
      opacity: .2;
    }

    a {
      display: block;

      h2 {
        color: $txt-white;
        font-size: 80%;
        text-transform: uppercase;
        position: absolute;
        top: 2px;
        left: 10px;
        font-weight: 600;
      }

      .bottom-text {
        position: absolute;
        bottom: 15px;
        font-size: 1.4rem;
        left: 10px;
        color: $txt-white;
        font-weight: 600;
        padding-right: 15px;

        .main-head {
          @include border-radius(15px);
          color: $txt-white;
          background-color: rgba(0,0,0, .5);
          border: 1px solid rgba(255,255,255, .5);
          padding: 1px 8px;
          text-transform: uppercase;
          font-size: 11px;
          margin-bottom: 5px;
          display: inline-block;
          font-weight: 700;
          text-transform: uppercase;
        }

        p{
          line-height: 24px;
          font-weight: 700;
        }

      }
    }
  }
}/* /.trending-articles */



.editor {
  position: relative;
  line-height: 18px;
  font-weight: $font-weight-medium;

  div {
    position: absolute;
    right: 5px;
    top: 0;
  }
}

.blog-heading {
  color: $txt-grey-999;
  font-size: 86%;
  margin-bottom: 10px;
  margin-top: -5px;
  font-weight: 600;
}

.view-forward {
  color: $txt-grey-999;
  display: inline-block;
  margin-top: 3px;
}

.bottom-btn-wrap {
  position: fixed;
  bottom: 0;
  z-index: 2;
  padding: 10px;
}

.blog-author {
  width: 100%;
  margin-top: 5px;
  float: left;
}



article {
  line-height: 1.5;
  font-size: 100%;
  color: $txt-grey-333;

  iframe {
    width:100%;
  }

    img {
      width: 100% !important;
    }

  h1 {
    color: $txt-grey-333;
    font-weight: 600;
    font-size: 130%;
  }

  ul {
    padding-left: 25px;
    padding-bottom: 15px;

    li {
      padding-bottom: 10px;
      list-style-type: disc;
    }
  }
}


// Article CSS Starts here
.talent-gr {
  /* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#545c98+0,267c7b+100 */
background: rgb(84,92,152); /* Old browsers */
background: -moz-linear-gradient(-45deg, rgb(84,92,152) 0%, rgb(38,124,123) 100%); /* FF3.6-15 */
background: -webkit-linear-gradient(-45deg, rgb(84,92,152) 0%,rgb(38,124,123) 100%); /* Chrome10-25,Safari5.1-6 */
background: linear-gradient(135deg, rgb(84,92,152) 0%,rgb(38,124,123) 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#545c98', endColorstr='#267c7b',GradientType=1 ); /* IE6-9 fallback on horizontal gradient */
}

.black-gr {
  /* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#000000+0,000000+100&0+0,0.7+100 */
background: -moz-linear-gradient(left, rgba(0,0,0,0) 0%, rgba(0,0,0,0.7) 100%); /* FF3.6-15 */
background: -webkit-linear-gradient(left, rgba(0,0,0,0) 0%,rgba(0,0,0,0.7) 100%); /* Chrome10-25,Safari5.1-6 */
background: linear-gradient(to right, rgba(0,0,0,0) 0%,rgba(0,0,0,0.7) 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#00000000', endColorstr='#b3000000',GradientType=1 ); /* IE6-9 */
}

.talent-gr .slick-initialized .slick-slide {
 width: 278px;
}

.talent-economy {
  @include border-radius(3px);
  position: relative;
  overflow: hidden;
  width: 100%;
  height: 100%;
  margin-top: 15px;
  margin-bottom: 15px;
}

.talent-content {
  position: absolute;
  width: 100%;
  height: 100%;
  z-index: 1;
  color: $txt-white;;
  padding: 15px;
  font-size: 0.813rem;
}

.talent-content h1 {
  color: $txt-white;;
  margin-bottom: 5px;
  font-size: 1.063rem;
  font-weight: bold;
  margin-top: 0;
}

.semi-head {
  font-size: -imp(1.250rem);
  font-weight: $font-weight-bold ;
  color: $blue;
}

.contributors {
  li {
    background-color: $bg-white;
    width: 130px;
    display: block;
    text-align: center;
    -webkit-box-shadow: 0px 0px 15px rgba(0, 0, 0, 0.1);
    -moz-box-shadow: 0px 0px 15px rgba(0, 0, 0, 0.1);
    box-shadow: 0px 0px 15px rgba(0, 0, 0, 0.1);
    margin-right: 20px;
    margin-bottom: 10px;

    img {
      width: 100%;
    }
  }

  .head {
    font-size: 0.875rem;
    font-weight: 600;
  }

  a {
    color: $txt-grey-999;
  }
}

.bg-grey {
  background-color: #f6f6f6;
}

.take-me {
  text-transform: uppercase;
  font-weight: 600;
  font-size: 1.125rem;
  border-bottom: 2px solid #eaf8ff;
  position: relative;

  .line {
    width: 50px;
    height: 2px;
    position: absolute;
    left: 0;
    background-color: #62b2d6;
    bottom: -2px;

    sup {
      position: absolute;
      width: 0;
      height: 0;
      border-style: solid;
      border-width: 6px 6px 0 0;
      border-color: #62b1d6 transparent transparent transparent;
      left: 0;
    }
  }
}


blockquote {
  background-color: #ecf6f5;
  border-left: 5px #2fc2e3 solid;
  margin-left: 0;
  margin-right: 0;
  padding: 15px;
  font-size: 15px;
  color: $txt-grey-333;
  font-weight: $font-weight-bold;
}


.article-comment {
  border-bottom: -imp(0 none );

  li {
    border-bottom: 1px solid #f2f2f2;
    padding-bottom: 15px;

    &:last-child {
      border-bottom: 0 none;
      padding-bottom: 0;
    }
  }
}


.author-item {
  position: relative;
  padding-left: 110px;

  .author-img {
    display: block;
    left: 0;
    position: absolute;

    img {
      @include square (90px);
      @include border-radius (100%);
    }
  }/* author-img ends here */

  .author-detail {
    h2, h1 {
      display: inline-block;
      color: $txt-grey-333;
      font-weight: 600;

         sup {
          @extend %sub-line;
          display: block;
          margin-top: 5px;
          width: 45px;
        }
    }
  } /* author-detail ends here */

  ul {
    li {
      margin-right: 5px;
    }
  }
}/* author-item ends here */

.italic {
  font-style: italic;
}

.no-shadow {
  box-shadow: none;
}

.contributors.slick-slider .slick-track {
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-box;
  display: -ms-flexbox;
  display: flex;
}

.contributors.slick-slider li {
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
     -moz-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-flex-wrap: wrap;
      -ms-flex-wrap: wrap;
          flex-wrap: wrap;
    height: auto;
}


.link-grey {
  color: $txt-grey-333;
}

.article-list {
  li {
    border-bottom: 1px solid #f5f5f5;
    padding-bottom: 10px;
    margin-bottom: 10px;

    a {
      display: block;
    }
  }
}

.light-blue-bg {
  background-color: $light-blue;
}

.bottom-mail {
  li {
    margin-bottom: 10px;

    &:last-child {
      margin-bottom: 0;
    }
  }
}

.article-list-bottom {
  li {
    &:last-child {
      border-bottom: 0 none;
      padding-bottom: 0;
      margin-bottom: 0;
    }
  }
}


.hr-analytics {
  padding-right: 100px;
  position: relative;

  h2 {
    color: #fff;
    font-size: $font-size-lg;
    font-weight: $font-weight-bold;
    line-height: 1.1;
  }

  span {
    position: absolute;
    right: -10px;
    top: -10px;
    display: block;
  }
}

.mic-line {
  color: $txt-white;
  font-weight: $font-weight-bold;
  position: relative;
  padding-left: 15px;
  padding-top: 5px;
  padding-bottom: 10px;

  .wrap-icon {
    position: relative;
    padding-left: 30px;
  }

  .line {
    height: 1px;
    background-color: $white-opacity;
    display: block;
    width: 52%;
    position: relative;
    top: 12px;

    @media only screen and (max-width: 360px) {
      width: 48%;
    }

    @media only screen and (max-width: 320px) {
      width: 40%;
    }
  }
}

.speakers-slider {
  color: $txt-white;
  overflow: hidden;
  position: relative;

  li {
    float: left;
    padding: 0 15px;
    margin-bottom: 15px;
    width: 140px;

    img {
      width: 100%;
      height: 100%;
    }
  }

  span {
    @include border-radius(50%);
    @include square (58px, block);
    border: 2px solid $border-blue;
    overflow: hidden;
    margin-bottom: 10px;
  }

  h3 {
    font-size: $font-size-sm;
    font-weight: $font-weight-bold;
  }

  .slick-initialized .slick-slide {
    width: 148px !important;
    padding-left: 30px;
  }
}

.speaker-slider-wrap {
  position: relative;
  height: 190px;
  overflow: hidden;

  .black-gr {
    width: 40px;
    height: 100%;
    position:absolute;
    top: 18px;
    right: 0;
  }
}


.grey-bg {
  background-color: $bg-grey-f6;
}

.event-detail {
    li {
      position: relative;
      padding-left: 45px;
      display: flex;
      align-items: center;
      height: 35px;
      margin-bottom: 10px;

      span {
        @include square(32px, block);
        @include border-radius(50%);
        position: absolute;
        left: 0;
        padding-right: 15px;
        border-width: 2px;
        border-style: solid;

        i {
          left: 50%;
          top: 50%;
          margin: -7.5px 0 0 -7.5px;
          position: absolute;
        }
      }

      &:last-child {
        margin-bottom: 0;
      }
    }

    .calendar {
      border-color: #ffcc00;
    }

    .clock {
      border-color: #ec6682;
    }

    .location {
      border-color: #8ddd88;
    }
}

.follow-widgets {
  @include flexbox;
  border-top: 1px solid $border-grey-f2;
  font-size: $font-size-base;
  padding-top: 15px;

  p {
    position: relative;
    top: 4px;
    margin-right: 10px;
  }

  ul {
    

    li {
      @include box(45px, 30px, inline-block);
      @include border-radius(4px);
      border-width: 1px;
      border-style: solid;
      vertical-align: top;
      margin: 0 3px;
      text-align: center;

      a {
        display: block;
      }

      span {
        display: inline-block;
        margin-top: 6px;

      }
    }
  }

  .fb {
    border-color: #3b5896;
  }

  .twitter {
    border-color: #76a9ea;
  }
  .whatsapp {
    border-color: #44c455;
  }
  .linkedin {
    border-color: #3aa9de;
  }
  .gPlus {
    border-color: #f34a38;
  }
}


.schedule {
  padding-left: 7px;

    li {
      border-left: 2px solid #ffce01;
      padding-left: 15px;
      padding-bottom: 20px;

      &:last-child {
        padding-bottom: 0;
      }

      div {
        top: -2px;
      }

      span {
        @include border-radius(50%);
        @include square(15px, inline-block);
        border: 2px solid #ffce01;
        position: absolute;
        left: 15px;
        background-color: #fff;
      }
    }
}


.sponsorship {
  background-color: #7127b0;
  position: relative;

  .wrap {
    padding: 15px;
    position: absolute;
    top: 0;
    z-index: 2;

    h3 {
      color: $txt-white;
      font-size: $font-size-lg + .3;
      font-weight: $font-weight-bold;
    }

    p {
      color: $txt-white;
    }

    .btn-outline {
      border-color: $bg-white;
      border-width: 2px;
      color: $txt-white;
      font-size: $font-size-lg - .1;
    }
  }

  img {
    opacity: .1;
  }
}


.association {
  background-color: #7079bd;
  height: 230px;

  a {
    font-weight: $font-weight-medium;
  }
}


.post-conclaves {
  border-top: 1px solid $border-grey-c1;

  li {
    padding: 15px 10px 15px 145px;
    background-color: $bg-grey-f6;
    border-bottom: 1px solid $border-grey-c1;

    @media only screen and (max-width: 360px) {
      padding-left: 110px;
    }

    a {
      color: $txt-grey-333;
      display: block;
      /*height: 65px;*/
    }

    div {
      h3 {
        font-size: $font-size-lg - .25;
        font-weight: $font-weight-bold;
        margin-bottom: 3px;

        @media only screen and (max-width: 360px) {
          font-size: $font-size-sm;
        }
      }

      span {
        font-size: $font-size-sm;

        @media only screen and (max-width: 360px) {
          font-size: $font-size-xs;
        }

      }
    }

    

    .youtube-img {
      @include box(120px, 68px, block);
      overflow: hidden;
      position: absolute;
      left: 25px;

      @media only screen and (max-width: 360px) {
        @include box(90px, 45px, block);
      }

      img {
        position: relative;
        top: -11px;
      }
    }
  }
}

.job-fair-content {
  background-color: rgba(68, 68, 68, .3);
  position: absolute;
  width: 100%;
  height: 100%;
  padding: 15px;
  z-index: 1;

  h1 {
    color: $txt-white;
  }

  ul {
    li {
      margin-bottom: 7px;
      color: $txt-white;
      font-weight: $font-weight-medium;

      &:last-child {
        margin-bottom: 0;
      }
    }
  }
}

.bg-img {
  position: absolute;
  bottom: 0;
}



.job-fair {

  .flex-item { 
    h2 {
      font-size: $font-size-md;
      position: absolute;
      top: 0;
      width: 100%;
    }
  }

  .logo-box {
    border: 1px solid $border-grey-f5;
    position: relative;
    padding: 15px;
    width: 100%;
    height: 100%;

    .table-cell {
      width: 1000px;
    }
  }
}

.job-fair-text {
  font-size: $font-size-base;
  color: $txt-white;
}

.features {
  padding: 0;

  li {
    position: relative;
    list-style-type: none;
    font-size: $font-size-base;
    padding: 8px 0 8px 30px;

    span {
      @include border-radius(50%);
      @include square(20px, inline-block);
      text-align: center;
      background-color: $bg-blue;
      color: $txt-white;
      position: absolute;
      left: 0;
      font-size: $font-size-xs;
      font-weight: $font-weight-bold;
      line-height: 1.2rem;
    }
  }
}

.primary-heading {
  font-size: $font-size-lg;
  font-weight: $font-weight-bold;
  line-height: $line-height-base;
  margin-bottom: 15px;
  color: $blue;
}

.secondary-heading {
  font-size: $font-size-base;
  line-height: 1.2rem;
  font-weight: $font-weight-medium;
  margin: 0;
  padding: 0;
  color: #333;
}

.past-conclave-heading {
  font-size: $font-size-base;
  line-height: 1.2rem;
  font-weight: $font-weight-medium + 100;
  color: #333;
  margin-bottom: 3px;
}
