@import '../../../../../styles/functions';
@import '../../../../../styles/variables';
@import '../../../../../styles/mixins';

.take-test-free {
    margin-right: 2rem;
    box-shadow: $box-shadow;
    padding: 2rem 2rem 4rem 2rem;
    background: $lightblue2 url(/media/images/take-free-test.png) no-repeat right bottom;

    strong {
        font-size: 1.8rem;
    }

    p {
        margin: 2rem 0 3rem 0;

        strong {
            font-size: 1.4rem;
        }
    }
}