@import './variables/vars.scss';
@import './variables/mixins.scss';

[class^="icon-"] {
    text-indent: 200%;
    overflow: hidden;
    white-space: nowrap;
}

.icon-edit {
    @include icon-inblock (15px, 15px, -76px -1px);
}

.icon-preview {
    @include icon-inblock (15px, 22px, -107px -1px);
}

.icon-delete {
    @include icon-inblock (14px, 18px, -312px -1px);
}

.icon-add {
    @include icon-inblock (20px, 19px, -437px -40px);
}

.icon-info {
    @include icon-inblock (27px, 20px, -423px -1px);
}

.icon-summary {
    @include icon-inblock (27px, 25px, -267px -38px);
}

.icon-experience {
    @include icon-inblock (27px, 19px, -309px -39px);
}

.icon-education {
    @include icon-inblock (27px, 24px, -189px 0);
}

.icon-skills {
    @include icon-inblock (27px, 25px, -232px -1px);
}

.icon-languages {
    @include icon-inblock (27px, 23px, -69px -74px);
}

.icon-awards {
    @include icon-inblock (27px, 25px, -154px -75px);
}

.icon-courses {
    @include icon-inblock (27px, 23px, -234px -75px);
}

.icon-projects {
    @include icon-inblock (27px, 25px, -320px -75px);
}

.icon-references {
    @include icon-inblock (27px, 21px, -400px -75px);
}

.icon-info1 {
    @include icon-inblock (20px, 20px, -273px -1px);
}

.icon-summary1 {
    @include icon-inblock (19px, 25px, -355px -38px);
}

.icon-experience1 {
    @include icon-inblock (21px, 19px, -397px -39px);
}

.icon-education1 {
    @include icon-inblock (27px, 24px, -339px 0);
}

.icon-skills1 {
    @include icon-inblock (25px, 25px, -382px -1px);
}

.icon-languages1 {
    @include icon-inblock (26px, 23px, -111px -74px);
}

.icon-awards1 {
    @include icon-inblock (21px, 25px, -194px -75px);
}

.icon-courses1 {
    @include icon-inblock (21px, 23px, -277px -75px);
}

.icon-projects1 {
    @include icon-inblock (21px, 25px, -362px -75px);
}

.icon-references1 {
    @include icon-inblock (21px, 21px, -441px -75px);
}

.icon-linkedin {
    @include icon-inblock (20px, 22px, -151px -37px);
}