{% load static %}
{% load humanize %}
{% load humanize_tags %}

{% for comment in comments %}
     <div class="media mb-40">
        <div class="media-left">
          <!--a href="#"-->
            <img aria-label="username" class="media-object" src="{% static 'shinelearn/images/blog/user-pic.jpg' %}" alt="username">
          <!--/a-->
        </div>
        <div class="media-body">
          {{comment.message}}
        <span class="time">
          {% get_humanize_date comment.created_on %}
        </span>
        </div>
      </div>
{% endfor %}

{% if comments.has_next %}
<div id="load_more{{page_obj.id}}">
    <form role="form" id="loadform{{page_obj.id}}">
        <input type="hidden" name="page" value="{{comments.next_page_number}}">
        <input type="hidden" name="slug" value="{{page_obj.slug}}">
    </form>
    <a id="comment_load_more{{page_obj.id}}" role="button" onclick="loadMoreComment('{{page_obj.id}}')" class="comments-links mb-40"> <span class="comments-icon mr-10"></span>Load more Comments</a>
</div>
{% endif %}
