{% extends "mobile/basic/base.html" %}
{% load static compress %}
{% load thumbnail %}

{% block django_meta %}
   {% include 'meta/meta.html' %}
{% endblock django_meta %}

{% block canonical_url %}
    <link rel="canonical" href="https://{{ tag.get_absolute_url }}">
{% endblock canonical_url %}

{% block title %}{{tag.name}} Career Articles | Shine learning{% endblock %}

{% block css_section %}
    {{ block.super }}
    {% compress css%}
    <link type="text/scss" href="{% static 'shinelearn/css/mobile/common/checkbox.scss' %}" rel="stylesheet">
    <link type="text/scss" href="{% static 'shinelearn/css/mobile/blog/blog.scss' %}" rel="stylesheet">
    <link type="text/css" href="{% static 'shinelearn/css/common/mobile/typeaheadjs.css' %}" rel="stylesheet">
    {%endcompress%}
    
{% endblock css_section %}

{% block header %}

    <!-- header menu Icon Starts here -->
    <header class="w100fl he-auto">
    
    
        <img src="{% static 'shinelearn/images/mobile/common/header-back-img.png' %}">
        
        <!-- header menu Icon Starts here -->
        <div class="main-menu w100fl">
            <div class="pull-left">
                
                <a class="pull-left" id="sidebar-main-trigger" href="#"></a> 

                
                <a class="icon-back pull-left" role="button"  onclick="goBack()"></a> 
            </div><!-- / Left side Icon ends here -->

            <div class="pull-right" style="width:90%;">
                <a class="icon-cart pull-right" href="{% url "cart:cart-product-list" %}" >cart <span id="cart-counter-id">{{cart_count}}</span></a>
                <form method='get' id="search-form">
                    <div class="searchbox">
                        <input id='id_q' type="text" placeholder="Search here" name="search" class="searchbox-input" autocomplete="off">
                        <span class="searchbox-icon"></span>
                    </div>
                </form>
            </div>
        </div><!-- header menu Icon ends here -->


    {% block breadcrumb %}
        <section class="container">
            <ol class="breadcrumb">
                {% for bread in breadcrumbs %}
                    {% if bread.url %}
                        <li><a href='{{bread.url}}'>{{bread.name}}</a></li>
                    {% else %}
                        <li class="active">{{bread.name}}</li>
                    {% endif %}
                {% endfor %}
            </ol>
        </section>
    {% endblock breadcrumb %}
        
        
        <h1 class="heading-back w100fl pb-0">{{tag.name}}</h1>
        

    </header><!-- header ends here -->

{% endblock header %}

{% block container %}

<div class="body-wrapper mb-50">

<div class="tab-container">

  <ul class="tabs box-panel p-0">
    <li class="current" data-tab="tab-1"><a role="button" >Recent</a></li>
    <li data-tab="tab-2"><a role="button">Popularity</a></li>
  </ul>

  <!-- Tab content Satrts here -->
  <div id="tab-1" class="tab-content current">

  {% for obj in recent_page %}
  <div class="box-panel row ">
    <div class="media">
      <a title="{{obj.display_name}}" href="{% url "blog:articles-deatil" obj.slug obj.pk %}">
        {% if obj.image %}
            <figure class="media-left">
                {% thumbnail obj.image "96x73" crop="center" as im %}
                   <img class="media-object w-auto" src="{{im.url}}" width="{{ im.width }}" height="{{ im.height }}" alt="{{obj.image_alt}}">
                {% endthumbnail %}
            </figure>
        {% endif %}
        <div class="media-body rel">
          <h3 class="media-heading">{{obj.display_name}}</h3>

          <div class="blog-author fs-11">
            <span class="editor">{% if obj.author %}{{obj.author.name}}, {% endif %}{{obj.publish_date.date}}</span>
            <span class="view-forward pull-right">
              <figure class="icon-forward"></figure> {{obj.comment_moderated}} 
              <figure class="icon-view icon-grey-view ml-10"></figure> {{obj.no_views}}
            </span>
          </div>
        </div>
      </a>
    </div>
  </div>
  {% endfor %}

  {% if recent_page.has_next %}
        <div id="load_more_recent">
            <form role="form" id="loadmore-recent-form">
                <input type="hidden" name="page" value="{{recent_page.next_page_number}}">
                <input type="hidden" name="tab" value="0">
                <input type="hidden" name="tag_slug" value="{{tag.slug}}">
            </form>
            <div class="w100 text-center">
                <a class="btn-slg btn-grey block" role="button" id="recent-loadmore-tag" href="javascript:void();" >Load more</a>
            </div>
        </div>
    {% endif %}
      
  </div><!-- Tab content ends here -->

  <div id="tab-2" class="tab-content">
    {% for obj in pop_page %}
        <div class="box-panel row ">
          <div class="media">
            <a title="{{obj.display_name}}" href="{% url "blog:articles-deatil" obj.slug obj.pk %}">

            {% if obj.image %}
                <figure class="media-left">
                    {% thumbnail obj.image "96x73" crop="center" as im %}
                       <img class="media-object w-auto" src="{{im.url}}" width="{{ im.width }}" height="{{ im.height }}" alt="{{obj.image_alt}}">
                    {% endthumbnail %}
                </figure>
            {% endif %}

              <div class="media-body rel">
                <h3 class="media-heading">{{obj.display_name}}</h3>

                <div class="blog-author fs-11">
                  <span class="editor">{% if obj.author %}{{obj.author.name}}, {% endif %}{{obj.publish_date.date}}</span>
                  <span class="view-forward pull-right">
                    <figure class="icon-forward"></figure> {{obj.comment_moderated}}
                    <figure class="icon-view icon-grey-view ml-10"></figure> {{obj.no_views}}
                  </span>
                <div class="clearfix"></div>  
                </div>
              </div>
            </a>
          </div>
        </div>
    {% endfor %}

    {% if pop_page.has_next %}
        <div id="load_more_pop">
            <form role="form" id="loadmore-pop-form">
                <input type="hidden" name="page" value="{{pop_page.next_page_number}}">
                <input type="hidden" name="tab" value="1">
                <input type="hidden" name="tag_slug" value="{{tag.slug}}">
            </form>
             <div class="w100 text-center">
                  <a class="btn-slg btn-grey block" role="button" id="popular-loadmore-tag" href="javascript:void();" >Load more</a>
              </div>
        </div>
    {% endif %}
    
  </div>
</div><!-- Tab container -->

<div class="bottom-btn-wrap w100 text-center">
  <a href="{% url "blog:article-mobile-categories" %}" class="btn-slg btn-blue block">More categories</a>
</div>

</div>
{% endblock container %}

{% block js_section %}
    {{block.super}}
    <script src="{% static 'shinelearn/js/mobile/blog/blog.js' %}"></script>
{% endblock js_section %}
{% block johukum %}
{% endblock johukum %}

{% block zendesk %}
{% endblock zendesk %}