{% extends "mobile/basic/base.html" %}
{% load static %}

{% block django_meta %}
   {% include 'meta/meta.html' %}
{% endblock django_meta %}
{% block title %}Article Landing | Shinelearning{% endblock %}
{% block css_section %}
    {{ block.super }}
    <link href="{% static 'shinelearn/css/mobile/common/checkbox.css' %}" rel="stylesheet">
    <link href="{% static 'shinelearn/css/mobile/common/slick.css' %}" rel="stylesheet">
    <link href="{% static 'shinelearn/css/mobile/blog/blog.css' %}" rel="stylesheet">
    
{% endblock css_section %}

<!-- main section start -->
{% block container %}
<div class="body-wrapper mb-50">
    {% block trending_article %}
        <!-- Trending articles Starts here -->
        <div class="trending-articles">
            <div class="content-box">
                <p class="heading">Trending articles</p>
                <ul class="home-slider">
                    {% for cat in categories %}
                        {% with cat.primary_category.all.first as art %}
                           {% if art %}
                                <li>
                                    <a href="{% url "blog:articles-deatil" art.slug art.pk %}" class="caption-bg-txt">
                                        <span class="caption-heading">{{cat.name}}</span>
                                        <div class="bottom-text">
                                            <p class="pb-5">{{art.display_name}}</p>

                                            <span class="view-forward text-white mr-10 fs-12"><figure class="icon-view"></figure> {{art.no_views}}</span>
                                            <span class="editor fs-12">{{art.created_by.name}}, {{art.publish_date.date}}</span>
                                        </div>
                                    </a>
                                    {% if art.image %}
                                        <img src="{{art.image.url}}" alt="{{art.image_alt}}" width="220" height="177">
                                    {% endif %}
                                </li>
                            {% endif %}
                        {% endwith %}
                    {% endfor %}

                </ul>
            </div>
        </div>
        <!-- Trending articles Ends here -->
    {% endblock trending_article %}

    <div id="category_container">

       {{article_list|safe}}

    </div>
    <div class="bottom-btn-wrap w100 text-center">
        <a href="{% url "blog:article-mobile-categories" %}" class="btn-slg btn-blue block">More categories</a>
    </div>
</div>
    
{% endblock container %}


{% block js_section %}
    {{block.super}}
    <script src="{% static 'shinelearn/js/blog/blog-landing.js' %}"></script>
{% endblock js_section %}
