@import '../../../../../styles/functions';
@import '../../../../../styles/variables';
@import '../../../../../styles/mixins';

.recent-courses {

    &__list {
        list-style-type: none;
        margin: 3rem 0 0 0;
        padding: 0;
        display: flex;

        .card {
            box-shadow: $box-shadow;
            border: none;
            background: $white;

            &:hover {
                box-shadow: $box-shadow-hover; 
            }

            &__box {
                padding: 0 1.5rem 1rem 6.5rem;
                min-height: 6rem;
                font-size: 1.1rem;
            }

            &__heading {
                background: $white;
                padding: 1.5rem 1rem 0 1rem;
                display: flex;
                position: relative;
                border-top-left-radius: .5rem;
                border-top-right-radius: .5rem;

                figure {
                    width: 5.1rem;
                    height: 5.5rem;
                    margin: 0 .5rem 0 0;

                    img {
                        max-width: 100%;
                    }
                }

                h3 {
                    margin-top: .5rem;
                    height: 3.8rem;
                    overflow: hidden;
                    font-size: 1.4rem;
                    font-weight: 600;
                    flex: 1;
                    line-height: 2rem;

                    a, :hover, :focus {
                        color: $gray-100;
                    }
                }
            }

            &__rating {
                display: flex;
                align-items: center;

                .rating {
                    display: flex;
                    font-size: 1.1rem;
                    align-items: center;
                    em {
                        margin: 0 .3rem 0 0;
                    }
                }
            }

            &__price {
                display: flex;
                align-items: center;
                strong {
                    font-size: 1.3rem;
                    font-weight: 600;
                    color: $gray-100;

                    &::before {
                        content: '\20B9';
                        margin-right: .5rem;
                    }
                }
            }
        }
    }
}

.courses-popover {
    border: none;
    border-radius: $border-radius;
    max-width: 36rem;
    
    .popover-body {
        box-shadow: $box-shadow-lg;
        border-radius: $border-radius;
        padding: 2rem;
        font-size: 1.2rem;

        strong {
            display: block;
            font-size: 1.2rem;
            font-weight: 600;
            margin-bottom: .5rem;
        }

        .type {
            font-size: 1.1rem;

            strong {
                display: inline;
                margin-bottom: 0;
                font-size: 1.1rem;
            }
        }

        ul {
            list-style-type: none;
            margin: 0;
            padding: 0;
    
            li {
                
                &:not(:last-child) {
                    margin-bottom: .3rem;
                }
                
                &::before {
                    content: '';
                    background: $sprite -32px 0;
                    width: 1rem;
                    height: .8rem;
                    display: inline-block;
                    margin-right: 1rem;
                }
            }
        }

        .btn-secondary {
            font-size: 1.2rem;
            text-transform: uppercase;
            color: $gray-100;
            font-weight: 700;
            margin-top: 1rem;
        }
    }
}

.bs-popover-right > .arrow::after, .bs-popover-auto[x-placement^="right"] > .arrow::after {
    left: -.6rem;
    border-width: 2rem 2rem 2rem 0;
}

.bs-popover-right > .arrow::before, .bs-popover-auto[x-placement^="right"] > .arrow::before {
    display: none;
}