{% extends "basic/base.html" %}
{% load static compress %}

{% block django_meta %}
        {% include 'meta/meta.html' %}
 <link href="https://fonts.googleapis.com/css2?family=Montserrat&display=swap" media="print" onload="this.media='all'"
 rel="stylesheet">

  <meta name="twitter:domain" content="learning.shine.com">
        <meta name="twitter:card" content="summary">
        <meta name="twitter:site" content="@shinelearning">

   {% if main_article %}

        {% if main_article.image %}
        <meta name="twitter:image:src" content="{{main_article.image.url}}">
         <meta property="og:image" content="{{main_article.image.url}}">
        {% endif %}

<meta name="twitter:title" content="{{main_article.title}}">
<meta name="twitter:description" content="{{ main_article.get_description }}" />

{% endif %}




{%  endblock django_meta %}
{% block canonical_url %}
  <link rel="canonical" href="https://{{ SITE_DOMAIN }}{{ request.path }}">
{% endblock canonical_url %}


{% block title %}
	{{main_article.title}} - Talent Economy
{% endblock title %}

{% block css_section %}
    <link type="text/css" href="{% static 'shinelearn/css/common/popup.css' %}" rel="stylesheet">
    {{block.super}}
    {% compress css %}
    <link type="text/scss" href="{% static 'shinelearn/css/talenteconomy/article.scss' %}" rel="stylesheet">
    <link type="text/css" href="{% static 'shinelearn/css/talenteconomy/prism.css' %}" rel="stylesheet">
    {% endcompress %}
{% endblock css_section %}

{% block container %}
<!-- breadcrums -->
<section class="container">
	{% include './include/breadcrumbs.tmpl.html' with breadcrumbs=breadcrumbs %}
</section>

<section class="container mb-20">
	<!-- page content body start -->
	<div class="row">
        <!-- left content start -->
        <div class="col-md-9 col-sm-12">

          <div id="related-container">
            <div class="cls_ajax_article" data-url="{{main_article.get_absolute_url}}" data-title="{{main_article.display_name}}">
            {{detail_article}}
            </div>
          </div>
          <div id="id_ajax_article"></div>
          <!-- content start -->
        </div>

		<!-- left content end -->

		<!-- right content start -->
		<div class="col-md-3 col-sm-12">
			
			<!-- take me to -->
			{% if categories %}
				{% include './include/category.tmpl.html' with categories=categories %}
			{% endif %}

			<!-- Popular Courses -->
			{% if popular_courses %}
				{% include './include/popular.tmpl.html' with popular_courses=popular_courses page='talenteconomy-article-details' %}
      {% endif %}
      
      <!-- Article categories -->
      <div class="right-box box-panel col-sm-6 col-md-12 mb-40">
        <h2 class="heading-right-talent">Article Categories</h2>
        <ul class="blue-list">
          <li><a href="https://learning.shine.com/talenteconomy/career-help/">Career help</a></li>
          <li><a href="https://learning.shine.com/talenteconomy/resume-tips/">Resume tips</a></li>
          <li><a href="https://learning.shine.com/talenteconomy/job-search-guidance/">Job search guidance</a></li>
          <li><a href="https://learning.shine.com/talenteconomy/interview-tips/">Interview tips</a></li>
          <li><a href="https://learning.shine.com/talenteconomy/interview-questions/">Interview questions</a></li>
          <li><a href="https://learning.shine.com/talenteconomy/career-prospects/">Career prospects</a></li>
          <li><a href="https://learning.shine.com/talenteconomy/human-resources/">Human resources</a></li>
        </ul>
      </div>
      <!-- // Article categories -->

      <!-- Looks interesting? -->

      <div id="snackbar"></div>


<!--      <div id="sticker" class="right-box query-form-right box-panel col-sm-6 col-md-12 cleafix">-->


<!--        <h2 class="heading-right">Looks interesting?</h2>-->
<!--          <p>Subscribe & Get our daily newsletter. Fill the details below.</p>-->
<!--          <form class="te-form mt-20" role="form"  id="enquireform" name="enq" >-->
<!--            <div style='display:none'>-->
<!--                <input type='hidden' name='csrfmiddlewaretoken' value='{{ csrf_token }}'/>-->
<!--            </div>-->

<!--            <div class="form-group">-->
<!--              <input type="text" class="input_field form-control" name="name"  id="id_name"  placeholder="Name"-->
<!--              maxlength="100" value="{{request.session.full_name}}">-->
<!--              &lt;!&ndash; <label class="input_label" for="id_name">Name<sup>*</sup></label> &ndash;&gt;-->
<!--            </div>-->
<!--            -->
<!--            <div class="form-group">-->
<!--              <input type="email" class="input_field form-control" name="email"  id="id_email"  placeholder="Email"-->
<!--              maxlength="100" value="{{request.session.email}}">-->
<!--              &lt;!&ndash; <label class="input_label" for="id_email">Email<sup>*</sup></label> &ndash;&gt;-->
<!--            </div>-->

<!--            <div class="form-group" style="display: flex;">-->
<!--                <div class="country-code">-->
<!--                    <div class="custom-select">-->
<!--                      <select class="form-control" name="country">-->
<!--                        {% for country in country_choices %}-->
<!--                           <option value="{{country.0}}" {% if country.0 == initial_country %} selected {% endif %} >{{country.0}}&nbsp;&nbsp;&nbsp;&nbsp; &#45;&#45; &nbsp;&nbsp;&nbsp;&nbsp;{{country.1}}</option>-->
<!--                      {% endfor %}-->
<!--                      </select>-->
<!--                    </div>-->
<!--                </div>-->
<!--                <div style="position: relative;">-->
<!--                    <input type="text" class="input_field form-control" name="number" id="id_cell_phone"-->
<!--                    placeholder="Mobile" maxlength="15" value="{{request.session.mobile_no}}">-->
<!--                    &lt;!&ndash; <label class="input_label" for="id_cell_phone">Mobile</label> &ndash;&gt;-->
<!--                    <span class="error-txt position-error"></span>-->
<!--                </div>-->
<!--            </div>-->

<!--            <div class="form-group">-->
<!--              <textarea class="form-control" rows="1" name="msg" placeholder="Message" maxlength="500"></textarea>-->
<!--              <span class="error-txt"></span>-->
<!--            </div>-->


<!--            <input type="hidden" name="product" value="{{category_obj.pk}}">-->
<!--            <input type="hidden" name="prd" value="{{category_obj.heading}}">-->
<!--            <input type="hidden" name="path" value="{{request.build_absolute_uri}}">-->
<!--            &lt;!&ndash; <input type="hidden" name="email" class="form-control" value="{{request.session.email}}"> &ndash;&gt;-->
<!--            <input type="hidden" name="lsource" value="8">-->
<!--           <input type="hidden" name="campaign" value="blogsonline">-->
<!--           <button type="button" id="enquire_form" class="submit-button">Subscribe Now</button>-->
<!--          </form>-->

<!--      </div>-->
      <!-- Looks interesting Popup? -->

            <div id="popup_subscribe" class="modal">
                <!-- Modal content -->
                <div class="modal-content">
                    <span class="close_popup_modal">&times;</span>
                    <h2 class="heading-right">Looks interesting?</h2>
                    <p>Subscribe & Get our daily newsletter. Fill the details below.</p>
                    <form class="te-form mt-20" role="form"  id="enquireform" name="enq" >
                        <div style='display:none'>
                            <input type='hidden' name='csrfmiddlewaretoken' value='{{ csrf_token }}'/>
                        </div>

                        <div class="form-group">
                            <input type="text" class="input_field form-control" name="name"  id="id_name"  placeholder="Name"
                                   maxlength="100" value="{{request.session.full_name}}">
                            <!-- <label class="input_label" for="id_name">Name<sup>*</sup></label> -->
                        </div>

                        <div class="form-group">
                            <input type="email" class="input_field form-control" name="email"  id="id_email"  placeholder="Email"
                                   maxlength="100" value="{{request.session.email}}">
                            <!-- <label class="input_label" for="id_email">Email<sup>*</sup></label> -->
                        </div>

                        <div class="form-group" style="display: flex;">
                            <div class="country-code">
                                <div class="custom-select">
                                    <select class="form-control" name="country">
                                        {% for country in country_choices %}
                                        <option value="{{country.0}}" {% if country.0 == initial_country %} selected {% endif %} >{{country.0}}&nbsp;&nbsp;&nbsp;&nbsp; -- &nbsp;&nbsp;&nbsp;&nbsp;{{country.1}}</option>
                                        {% endfor %}
                                    </select>
                                </div>
                            </div>
                            <div style="position: relative;">
                                <input type="text" class="input_field form-control" name="number" id="id_cell_phone"
                                       placeholder="Mobile" maxlength="15" value="{{request.session.mobile_no}}">
                                <!-- <label class="input_label" for="id_cell_phone">Mobile</label> -->
                                <span class="error-txt position-error"></span>
                            </div>
                        </div>

                        <div class="form-group">
                            <textarea class="form-control" rows="1" name="msg" placeholder="Message" maxlength="500"></textarea>
                            <span class="error-txt"></span>
                        </div>


                        <input type="hidden" name="product" value="{{category_obj.pk}}">
                        <input type="hidden" name="prd" value="{{category_obj.heading}}">
                        <input type="hidden" name="path" value="{{request.build_absolute_uri}}">
                        <!-- <input type="hidden" name="email" class="form-control" value="{{request.session.email}}"> -->
                        <input type="hidden" name="lsource" value="8">
                        <input type="hidden" name="campaign" value="blogsonline">
                        <button type="button" id="enquire_form" class="submit-button">Subscribe Now</button>
                    </form>
                </div>

            </div>

      <!-- Look interesting -->
				<!--{% include './include/look-interesting.tmpl.html' with popular_courses=popular_courses page='talenteconomy-article-details' %}-->

		</div>
		<!-- right content end -->

	</div>
<!-- page content body end -->
</section>

<!--modals-->
<!--login-->
<div class="modal fade bs-example-modal-sm login-div" tabindex="-1" role="dialog" aria-labelledby="mySmallModalLabel" id="login-model">
  <div class="modal-dialog modal-sm" role="document">
    <div class="modal-content">
     <div class="register">
     <div>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <span class="modal-title" id="myModalLabel">Login</span>
        <label id="non-field-error" class="error-msg"></label>
      </div>

       <form role method="post" id="login_form" >{% csrf_token %}
          
          <div class="form-group {% if loginform.email.errors %} error {% endif %}">
            {{loginform.email}}
            <span class="error-txt">{{loginform.email.errors.0}}</span>
          </div>
          <div class="form-group {% if loginform.password.errors %} error {% endif %}">
               {{loginform.password}}
               <span class="error-txt">{{loginform.password.errors.0}}</span>
          </div>
          <div class="form-check">
            <label class="form-check-label">
              <input type="checkbox" name="remember_me" class="form-check-input">
              Remember me
            </label>
          </div>
          <button type="button" id="login-button" class="btn btn-primary submit">Login</button>
          <small class="form-text text-muted text-center">
            <a href="javascript:void(0)" data-toggle="modal" data-dismiss="modal" 
            id="modalforgot">
              Forgot Password?
            </a>
          </small>
          <div class="social-login">
            <span>or login with</span>
            <a class="facebook" onclick="Login();"></a>
            <a class="linkedin" href="{% url 'users:linkedin-code' %}"></a>
            <!-- <a class="gplus" onclick="glogin();"></a> -->
          </div>
          <small class="form-text text-muted text-center">Don’t have an account yet? <a role="button" data-toggle="modal" data-target=".bs-example-modal-sm2" data-dismiss="modal">Register Now</a></small>
        </form>

      </div>
    </div>
  </div>
</div>  

<!--signup-->
<div class="modal fade bs-example-modal-sm2" tabindex="-1" role="dialog" aria-labelledby="mySmallModalLabel">
  <div class="modal-dialog modal-sm" role="document">
    <div class="modal-content">
     <div class="register">
     <div>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <span class="modal-title" id="myModalLabel">Register</span>
        <label id="non-field-error-register" class="error"></label>
      </div>

      <form autocomplete="off" role="form" id="register_form" >
        {% csrf_token %}
          <div class="form-group {% if registerform.email.errors %}error{% endif %}">
            {{ registerform.email }}
            <span class="error-txt">{{ registerform.email.errors.0 }}</span>
          </div>
          <div id="user_email"></div>
          <div class="form-group {% if registerform.email.errors %}error{% endif %}">
            {{ registerform.raw_password }}
            <span class="error-txt">{{ registerform.raw_password.errors.0 }}</span>
          </div>
          <div id="raw_psd"></div>
          <div class="form-group {% if registerform.cell_phone.errors or registerform.country_code.errors %}error{% endif %}">
            <div class="country-code">
              <div class="custom-select">
                {{registerform.country_code}}
              </div>
               {{registerform.cell_phone}}
              <span class="error-txt">
                   {% if registerform.cell_phone.errors %}
                      {{registerform.cell_phone.errors.0}}
                   {% else %}
                       {{registerform.country_code.errors.0}}
                   {% endif %}
              </span>
            </div>
          </div>
          <div id="cell_phone"></div>
          <div class="form-group">
            {{registerform.vendor_id }}
          </div>
          <div class="form-check">
            <label class="form-check-label">
              <input type="checkbox" class="form-check-input" name="term_conditions">
              I agree to Terms & conditions
            </label>
          </div>
          <div id="terms"></div>
          <button type="button" id="register-button" class="btn btn-primary submit">Register</button>
          <div class="social-login">
            <span style="margin-right:20px;">or Register with</span>
            <a class="facebook" onclick="Login();"></a>
            <a class="linkedin" href="{% url 'users:linkedin-code' %}"></a>
            <!-- <a class="gplus" onclick="glogin();"></a> -->
          </div>
          <small class="form-text text-muted text-center mt-4">Already have an account? <a role="button" data-toggle="modal" data-target=".login-div" data-dismiss="modal">Login Now</a></small>
        </form>

      </div>
    </div>
  </div>
</div>
<!--forgot password div-->
<div class="modal fade bs-example-modal-sm forgotdiv" tabindex="-1" role="dialog" aria-labelledby="mySmallModalLabel" id="forgot_div">
  <div class="modal-dialog modal-sm modal-custom" role="document">
    <div class="modal-content">
     <div class="register">
     <div>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <span class="modal-title" id="myModalLabel">Forgot Password</span>
      </div>
      <div id="msg_for_user"></div>
        <form method="post" id="forgot_form" 
        action="{% url "users:forgot-email-sent" %}">
        {% csrf_token %}
            {% for field in reset_form %}
                <div class="form-group {% if field.errors %}error{% endif %}">
                    {{field}}
                    <span class="error-txt">{{ field.errors.0 }}</span>
                </div>
            {% endfor %}
          <button type="submit" class="btn btn-primary submit mt-20">Submit</button>
        </form>
      </div>
    </div>
  </div>
</div>


{% endblock container %}
{% block js_section %}
<script>
(function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
  (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
  m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
  })(window,document,'script','https://www.google-analytics.com/analytics.js','ga');
  ga('create', 'UA-3537905-41', 'auto', {'name': 'a'});
  ga('a.send', 'pageview');
  ga('create', 'UA-3537905-41', 'auto');
  ga('send', 'pageview');

function gaEvent(event_cat,event_lab,event_action){
  ga('send', 'event', event_cat, event_action, event_lab);
 }

 function gaEventFunc(status,typeOfProduct){
    var event_cat='Form Interactions';
    gaEvent(event_cat,typeOfProduct,status);
 }

</script>

    {{ block.super }}
    {% compress js %}
    <script type="text/javascript" src="{% static 'packages/parsleyjs/parsley.min.js' %}"></script>
    <script src="{% static 'shinelearn/js/blog/blog-detail.js' %}"></script>
    <script src="{% static 'shinelearn/js/blog/login-register.js' %}"></script>
    <script src="{% static 'shinelearn/js/users/login.js' %}"></script>
    <script src="{% static 'shinelearn/js/talenteconomy/prism.js' %}"></script>
    <script type="text/javascript">
      $(document).ready(function() {
        var s = $("#sticker");
        var pos = s.position(); 
        var sticky_height = s.height()      
        $(window).scroll(function() {
          var windowpos = $(window).scrollTop();
          var footer_top = $('#footer').position().top;
          // s.html("Distance from top:" + pos.top + "<br />Scroll position: " + windowpos);
          if (windowpos >= (pos.top + 120)) {
            s.addClass("stick");
            if(windowpos + s.position().top + sticky_height >= footer_top){
              s.removeClass("stick");
            }
          } 
          else{
            s.removeClass("stick");
          }
        });
      });
    </script>
    {% endcompress %}
    <script>
      openCommentBox('{{main_article.id}}', 2)
    </script>

    {% compress js inline %}
    <script>
      $(function(){
        Article.init();
      });
      if (window.location.hash == '#_=_') {
          open(location, '_self').close();
      }
      showArticleOnScroll.scroll(); /* for calling infinite articles */
    </script>
    {% endcompress %}
{% endblock js_section %}