<!-- content start -->
<div class="article-detail-content">

    <!-- page heading -->
    <div class="page-header">
        <h1>Career management: Defining the process and purpose</h1>
        <div class="editor-comments-views">
            <span>
      <img src="images/author-pic.jpg" class="author-small-pic" alt="author">
      <a href="#">Ajay Mishra</a> / 03 Nov 2016
    </span>
            <span>
      <a href="#">
        <figure class="comment-small-icon"></figure> 
        <strong>23</strong> comments</a>
      </span>
            <span>
      <figure class="view-icon"></figure> 
      <strong>21</strong>
    </span>
        </div>
        <div class="social-login">
            <a class="facebook" href="#"></a>
            <a class="twitter" href="#"></a>
            <a class="gplus" href="#"></a>
            <a class="whatsapp" href="#"></a>
            <a class="linkedin" href="#"></a>
        </div>
    </div>

    <figure>
        <img src="images/article-detail-pic.jpg" alt="Detail Pic" class="img-responsive">
    </figure>

    <article class="article-content">
        <p>In order to be eligible for the <a href="#">Civil Services Examination</a> - 2015, candidates must possess a Graduate degree or above. Candidates who are in their final year of Graduation examination are also eligible to apply for the Examination.</p>

        <p>The minimum age limit for candidates is 21 years and the maximum age limit is 32 years. The upper age limit is further relaxed by 5 years and 3 years for candidates belonging to SC/ST and OBC categories respectively.</p>

        <blockquote>
            The minimum age limit for candidates is 21 years and the maximum age limit is 32 years. The upper age limit is further relaxed by 5 years and 3 years for candidates belonging to SC/ST and OBC categories respectively.
        </blockquote>

        <h3>Examination Pattern:</h3>
        <p>As we all know, the <a href="#">CSE</a> is conducted in two stages - first, the preliminary examination and the second, Mains (Written examination and Interview)</p>

        <h3>Preliminary Examination</h3>
        <p>The <a href="#">UPSC CSE</a> 2015 preliminary examination will be an objective type examination, consisting of two papers as given below. Both these papers are worth two hundred marks and are of two hours duration each.</p>

        <p>
            <span class="list-mid-head">A) General Studies paper </span> There have been no changes in the General Studies paper I and therefore, the syllabus the paper is as follows:
        </p>

        <img src="images/article-listing-pic.jpg" class="img-responsive" style="float: right; width: 266px;" alt="Talent Economy">

        <ol>
            <li>Current events of national and international importance.
                <ul>
                    <li>The independent learning Career Management Skills Unit has been designed by the Careers Service and meets the 8 learning outcomes.</li>
                    <li>The Careers Service updates the materials and has ownership of Route A.</li>
                </ul>
            </li>
            <li>History of India and Indian National Movement
                <ul>
                    <li>The independent learning Career Management Skills Unit has been designed by the Careers Service and meets the 8 learning outcomes.</li>
                    <li>The Careers Service updates the materials and has ownership of Route A.</li>
                </ul>
            </li>
            <li>Indian Polity and Governance - Constitution, Political System, Panchayat Raj, Public Policy, Rights issues etc.</li>
            <li><a href="#">Economic and Social Development</a> - Sustainable development, poverty, Inclusion, Demographics, Social Sector Initiatives etc.</li>
            <li>Indian and world Geography - Physical, Social, Economic</li>
            <li>General Issues on Environmental Ecology, Bio- diversity and Climate Change</li>
            <li>General Science</li>
        </ol>
    </article>

    <div class="social-login">
        <a class="facebook" href="#"></a>
        <a class="twitter" href="#"></a>
        <a class="gplus" href="#"></a>
        <a class="whatsapp" href="#"></a>
        <a class="linkedin" href="#"></a>
    </div>

    <!-- Tagged in box -->
    <div class="tagged-in mt-40">
        <strong>Tagged in</strong>
        <span><a href="#">CIVILSERVICES</a></span> <span><a href="#">UPSC</a></span> <span><a href="#">Government News</a></span>
    </div>

    <!-- comments box -->
    <div class="comments-box mb-40 mt-40">
        <!-- comments box heading-->
        <div class="comments-box-heading">
            <span class="comments-icon mr-10"></span> <strong>23 comments</strong>
            <a role="button" data-toggle="collapse" href="#collapseExample" aria-expanded="false" aria-controls="collapseExample">Leave a comment</a>
        </div>

        <!-- Leave a comment box-->
        <div class="collapse leave-comment" id="collapseExample">
            <strong>Leave a comment</strong>

            <form>
                <div class="form-group">
                    <textarea class="form-control" placeholder="Your comment" rows="3"></textarea>
                </div>
                <div class="form-inline row hidden">
                    <div class="form-group col-sm-6">
                        <input type="text" class="form-control" id="exampleInputName1" placeholder="Name">
                    </div>
                    <div class="form-group col-sm-6">
                        <input type="email" class="form-control" id="exampleInputEmail1" placeholder="Email">
                    </div>
                </div>
                <button type="submit" class="submit-button">Post comment</button>
            </form>
        </div>

        <!-- comments-->
        {% for i in '12' %}
        <div class="media mt-30">
            <div class="media-left">
                <figure>
                    <a href="#">
                    <img class="media-object" src="images/talent-author-pic1.jpg" alt="shine">
                  </a>
                </figure>
            </div>
            <figcaption class="media-body">
                <span class="author-name">Krishna Singh</span>
                <span class="time">1 hr ago</span>
                <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry’s standard dummy text ever since the 1500s</p>
                <a href="#">Reply</a>
            </figcaption>
        </div>
        {% endfor %}
        <a href="#" class="comments-links mb-40"> <span class="comments-icon mr-10"></span>More Comments</a>

    </div>

</div>