{% extends "basic/base.html" %}
{% load static compress %}

{% block django_meta %}
        {% include 'meta/meta.html' %}
{%  endblock django_meta %}
{% block canonical_url %}
  <link rel="canonical" href="//{{ SITE_DOMAIN }}{{ request.path }}">
  <link rel="alternate" href="//{{ MOBILE_SITE_DOMAIN }}{{ request.path }}">
{% endblock canonical_url %}


{% block title %}
	Talent Economy: Career Skilling for a future ready India
{% endblock title %}

{% block css_section %}
    {{block.super}}
    {% compress css %}
    <link type="text/css" href="{% static 'shinelearn/css/talenteconomy/article.css' %}" rel="stylesheet">
    {% endcompress %}
{% endblock css_section %}

{% block container %}
<!-- Article carousel -->
<header id="carousel-example-generic2" class="carousel slide article-carousel" data-ride="carousel">
  <!-- Wrapper for slides -->
  <div class="container">
  	<!-- breadcrums -->
    <ol class="breadcrumb ">
    {% for bradcbs in breadcrumbs %}
      {% if bradcbs.url %}
      	<li><a href="{{bradcbs.url}}">{{bradcbs.name}}</a></li>
      {% else %}
      	<li><a href="{{bradcbs.url}}">{{bradcbs.name}}</a></li>
      {% endif %}
    {% endfor %}
    </ol>
	 {% if top_article_list %}
      <div class="carousel-inner" role="listbox">

      	{% for topArtList in top_article_list %}
        <div class="item {% if forloop.counter == 1 %}active{% endif %}">
          <!-- big images -->
          <div class="col-sm-8 pr pl-0">
            <a href="{{topArtList.0.url}}">
              <figure class="big-image">
                <img src="{{topArtList.0.image.url}}" alt="{{topArtList.0.image_alt}}">
              </figure>
              <div class="carousel-heading-container">
                <span class="product-title">{{topArtList.0.p_cat.name}}</span>
                <strong class="heading-carousel heading-carousel-primary">{{topArtList.0.name}}</strong>
                <span class="author author-primary">{{topArtList.0.author.name}}</span>
              </div>
            </a>
          </div>
          <!-- small images -->
          <div class="col-sm-4">
          	{% if topArtList.1 %}
            <div class="pr mb-20">
              <a href="{{topArtList.1.url}}">
                <figure>
                  <img src="{{topArtList.1.image}}" alt="{{topArtList.1.image_alt}}">
                </figure>
                <div class="carousel-heading-container b-mini">
                  <span class="product-title">{{topArtList.1.p_cat.name}}</span>
                  <strong class="heading-carousel heading-carousel-secondary">{{topArtList.1.name}}</strong>
                  <span class="author author-primary">{{topArtList.1.author.name}}</span>
                </div>
              </a>
            </div>
            {% endif %}
            {% if topArtList.2 %}
            <div class="pr">
              <a href="{{topArtList.2.url}}">
                <figure>
                  <img src="{{topArtList.2.image}}" alt="{{topArtList.2.image_alt}}">
                </figure>
                <div class="carousel-heading-container b-mini">
                  <span class="product-title">{{topArtList.2.p_cat.name}}</span>
                  <strong class="heading-carousel heading-carousel-secondary">{{topArtList.2.name}}</strong>
                  <span class="author author-primary">{{topArtList.2.author.name}}</span>
                </div>
              </a>
            </div>
            {% endif %}
          </div>
        </div>
        {% endfor %}
      </div>
      {% endif %}
  </div>
  <!-- Controls -->
  <a class="left carousel-control" href="#carousel-example-generic2" role="button" data-slide="prev">
  </a>
  <a class="right carousel-control" href="#carousel-example-generic2" role="button" data-slide="next">
  </a>
</header>

 <!-- main section start -->
<section class="container mt-40">
	<!-- page content body start -->
	<div class="row">
		<!-- left content start -->
	    <div class="col-md-9 col-sm-12">
			<div class="talent-economy">
				<h1>Talent Economy</h1>
				<p>It goes without saying that over time, jobs will require a different set of
					unique skillsets, as opposed to the ones required now. By applying for the
					online professional courses present on this platform, you'll be able to stay ahead of the curve and massively improve your job prospects by staying future-ready at all times. </p>
			</div>
			{% if article_list %}
            <div class="row" itemscope itemtype="https://schema.org/ItemList">
                <h2 class="main-heading-article ml-15">Recently added</h2>
                {% for artList in article_list %}
                <div class="article-list col-sm-6" itemprop="itemListElement" itemscope itemtype="http://schema.org/Article">
                  	<a class="box-panel" href="{% url 'talent:te-articles-detail' artList.p_cat.slug artList.slug %}" title="{{artList.title}}" itemprop="url">
                    	<figure class="pr">
                      		<img src="{{artList.image.url}}" alt="{{artList.image_alt}}" itemprop="image">
                      		<span class="product-title product-title-pos">{{artList.p_cat.name}}</span>
                    	</figure>
                    	<h3 class="heading-article" itemprop="name">{{artList.heading}}</h3>
                    	<article>
	                      {{artList.summary|striptags|safe}}
	                    </article>
                    	<hr>
                    	<span class="view-forward">
	                    	<figure class="forward-icon"></figure> {{artList.no_shares}}
	                  		<figure class="view-icon ml-20"></figure> {{artList.no_views}}
                		</span>
		                <div class="author author-secondary">
		                  <figure>
		                  	{% if artList.author.image %}
		                    <img src="{{artList.author.image.url}}" alt="{{artList.author.name}}">
		                    {% endif %}
		                  </figure>
		                  <span itemprop="author">{{artList.author.name}}</span>

		                </div>
              		</a>
              		<meta itemprop="datePublished" content="{{artList.publish_date.date}}"></meta>
              		<meta itemprop="position" content="{{forloop.counter}}">
              		<meta itemprop="headline" content="{{artList.heading}}">
            	</div>
            	{% endfor %}
			</div>
			{% endif %}
		</div>
		<!-- left content end -->
		<!-- right content start -->
		<div class="col-md-3 col-sm-12">
			<!-- take me to -->
			{% if categories %}
			<div class="take-me-to box-panel col-sm-6 col-md-12 mb-40">
				<h2 class="heading-right-talent">take me to</h2>
				<ul>
                	{% for category in categories %}
					<li>
						<a href="{{category.url}}" title="{{category.title}}">
							<figure>
								{% if category.image %}
								<img src="{{category.image.url}}" alt="{{category.image_alt}}" class="img-responsive">
								{% endif %}
							</figure>
							<h4>{{category.name}}</h4>
						</a>
					</li>
					{% endfor %}
				</ul>
			</div>
			{% endif %}
			<!-- Popular Courses -->
			{% if popular_courses %}
			<div class="popular-courses box-panel col-sm-6 col-md-12 mb-40">
				<h2 class="heading-right-talent">Popular Courses</h2>
				<ul>
					{% for pCourses in popular_courses %}
					<li>
						<a href="{{pCourses.url}}">
						  <h3>{{pCourses.name}}</h3>
						  <div class="rating-box">
							  {% for star in pCourses.star %}
							  	{% if star == '*' %}
							      <figure class="full-star"></figure>
							    {% endif %}
							  	{% if star == '+' %}
							      <figure class="half-star"></figure>
							    {% endif %}
							  	{% if star == '-' %}
							      <figure class="blank-star"></figure>
							    {% endif %}
						      {% endfor %}
						      <strong>{{pCourses.avg_rating_exact}}<small>/5</small></strong> 
						  </div>
						  <span class="jobs-available">
						    <strong>21735</strong>  jobs available
						  </span>
						  <span class="people-bought">
						    <strong>{{pCourse.buy_count}}</strong>  people bought
						  </span>
						</a>
					</li>
					{% endfor %}
				</ul>
			</div>
			{% endif %}
		</div>
		<!-- right content end -->
	</div>
</section>
<!-- main section end -->
<!-- contributors start -->
{% if authors %}
<section class="contributor-carousel mt-40">
	<div class="container">
		<h2 class="main-heading-article">Contributors</h2>
		<div class="col-sm-12 col-md-offset-0">
			<div class="carousel slide row" data-ride="carousel" data-type="multi" data-interval="3000" id="myCarousel1">
				<div class="carousel-inner">
					{% for author in authors %}
					<div class="item {% if forloop.counter == 1 %}active{% endif %}">
						<div class="col">
							<a class="box-panel" href="#">
								<figure>
									{% if author.image %}
									<img src="{{author.image.url}}" class="img-responsive">
									{% endif %}
									<figcaption>
										{{author.name}} <strong>{{author.designation}}</strong>
										<span class="read">{{author.no_of_blog}} articles</span>
									</figcaption>
								</figure>
							</a>
						</div>
					</div>
					{% endfor %}
				</div>
			</div>
		</div>
		<a class="left carousel-control" href="#myCarousel1" data-slide="prev"></a>
		<a class="right carousel-control" href="#myCarousel1" data-slide="next"></a>
		<a href="{% url 'talent:authors-listing' %}" class="view-all">View all</a>
	</div>
</section>
{% endif %}
<!-- contributors end -->
{% endblock container %}
{% block js_section %}
    {{ block.super }}
    {% compress js %}
    <script src="{% static 'shinelearn/js/talenteconomy/article.js' %}"></script>
    <script>
    	$(function(){
    		Article.init();
    	});
    </script>
    {% endcompress %}
{% endblock js_section %}