.have-query {
  font-size: 14px;
}
.have-query strong {
  font-weight: 600;
}

.payment-summary-tab {
  padding-right: 0;
}
.payment-summary-tab a {
  background-color: #f9f9f9;
  display: block;
  position: relative;
  z-index: 9;
  font-size: 22px;
  font-weight: 600;
  color: #333;
  padding: 20px 0 20px 20px;
}
@media (max-width: 991px) {
  .payment-summary-tab a {
    font-size: 20px;
  }
}
.payment-summary-tab a.active {
  background-color: #fff;
  border-top: 1px solid #e1e1e1;
  border-bottom: 1px solid #e1e1e1;
  border-left: 1px solid #e1e1e1;
  border-right: 1px solid #fff;
  position: relative;
  z-index: 99;
  margin-right: -1px;
}
.payment-summary-tab a span {
  background-color: #e7e7e7;
  width: 38px;
  height: 38px;
  border-radius: 100%;
  display: inline-block;
  text-align: center;
  vertical-align: middle;
  margin-right: 10px;
  line-height: 35px;
}
@media (max-width: 991px) {
  .payment-summary-tab a span {
    width: 32px;
    height: 32px;
  }
}
.payment-summary-tab a span.yellow-circle {
  background-color: #ffcf00;
}
.payment-summary-tab .secure-payment {
  text-align: center;
  padding: 20px;
  display: block;
  font-size: 14px;
  color: #999;
  margin-top: 20px;
}
@media (max-width: 991px) {
  .payment-summary-tab .secure-payment {
    padding-left: 0;
  }
}
.payment-summary-tab .secure-payment strong {
  display: block;
  font-size: 22px;
  font-weight: 600;
  line-height: 22px;
  margin: 10px 0;
  color: #333;
}
@media (max-width: 991px) {
  .payment-summary-tab .cards-payment-icon {
    margin-left: -10px;
  }
}

.payment-summary {
  font-size: 13px;
  color: #666;
}
.payment-summary ul {
  list-style-type: none;
  margin: 20px;
  padding: 0 0 10px 0;
  border-bottom: 1px solid #e1e1e1;
}
.payment-summary ul li {
  display: block;
  margin-bottom: 10px;
  overflow: hidden;
}
.payment-summary ul li.bdr-btm {
  border-bottom: 1px solid #e1e1e1;
}
.payment-summary ul li.bdr-tp-btm {
  border-top: 1px solid #e1e1e1;
  border-bottom: 1px solid #e1e1e1;
}
.payment-summary ul li .item-heading {
  font-size: 18px;
  font-weight: 600;
  color: #333;
  text-transform: uppercase;
  display: block;
  margin: 10px 0;
}
.payment-summary ul li .item-sub-heading {
  font-size: 16px;
  color: #666;
  margin-bottom: 10px;
  display: block;
}
.payment-summary ul li .item-sub-heading strong {
  display: block;
  font-size: 22px;
  font-weight: 400;
}
.payment-summary ul li strong {
  display: block;
  font-size: 16px;
  font-weight: 600;
}
.payment-summary ul li .total-amount {
  margin: 0 0 20px 0;
  font-size: 18px;
  color: #333;
}
.payment-summary ul li .hidden-div {
  display: none;
  margin-top: 10px;
}
.payment-summary ul li .coupon {
  margin: 0 0 20px 0;
}
.payment-summary ul li .coupon a {
  padding: 0 5px;
  color: #3f5f94;
  display: inline-block;
}
.payment-summary ul li .coupon a:first-child {
  padding-left: 0;
}
@media (max-width: 991px) {
  .payment-summary ul li .coupon a {
    padding: 0;
    display: block;
  }
}
.payment-summary ul li .coupon input {
  border-bottom: 1px solid #e1e1e1;
  border-top: 1px solid #fff;
  border-left: 1px solid #fff;
  border-right: 1px solid #fff;
  font-size: 13px;
  color: #999;
  padding: 7px 0;
  margin-right: 10px;
  width: 65%;
}
@media (max-width: 991px) {
  .payment-summary ul li .coupon input {
    width: 100%;
    margin-top: 10px;
  }
}
.payment-summary ul li .coupon button {
  background-color: #3f5f94;
  padding: 7px 10px;
  color: #fff;
  display: inline-block;
  margin-top: 10px;
  border-radius: 2px;
  border: 1px solid #3f5f94;
  width: 75px;
  text-align: center;
}
@media (max-width: 991px) {
  .payment-summary ul li .coupon button {
    width: 100%;
  }
}
.payment-summary ul li.payable-amount {
  font-size: 25px;
  font-weight: 600;
}
@media (max-width: 1190px) {
  .payment-summary .continue button {
    padding: 10px 9px;
  }
}
.payment-summary .continue span {
  text-align: left;
  margin-right: 22px;
}
@media (max-width: 1190px) {
  .payment-summary .continue span {
    margin-right: 0;
  }
}
.payment-summary .edit-cart {
  text-align: right;
  display: block;
  margin: 30px 20px;
}
.payment-summary .edit-cart a {
  font-size: 14px;
  color: #3f5f94;
  clear: both;
  border: 1px solid #e1e1e1;
  border-radius: 2px;
  padding: 7px 25px;
}

.personal-details {
  clear: both;
  display: block;
  margin: 0 0 50px 0;
}
.personal-details .form-control {
  border-radius: 0;
  box-shadow: none;
  border-top: 1px solid #fff;
  border-left: 1px solid #fff;
  border-right: 1px solid #fff;
  border-bottom: 1px solid #e1e1e1;
  padding-left: 0;
  font-size: 13px;
  color: #999;
}
.personal-details .form-control:focus {
  box-shadow: none;
  border-top: 1px solid #fff;
  border-left: 1px solid #fff;
  border-right: 1px solid #fff;
  border-bottom: 1px solid #e1e1e1;
}
.personal-details .form-control.wd2 {
  width: 70%;
}
.personal-details .form-control .select {
  box-shadow: none;
  border-top: 1px solid #fff;
  border-left: 1px solid #fff;
  border-right: 1px solid #fff;
  border-bottom: 1px solid #e1e1e1;
}
.personal-details .form-group {
  margin-bottom: 20px;
}
.personal-details .personal-details-heading {
  font-size: 20px;
  color: #333;
  display: block;
  margin: 30px 0 10px 0;
  font-weight: 600;
}
.personal-details small {
  display: block;
  margin-left: 15px;
  font-size: 12px;
  color: #999;
}
.personal-details button {
  margin-top: 10px;
}
.personal-details .custom-select {
  position: relative;
}
.personal-details .custom-select select {
  -webkit-appearance: none;
  -moz-appearance: none;
  text-indent: 0;
  text-overflow: '';
  border-radius: 0;
  height: 44px;
  padding: 6px 0;
}
.personal-details .custom-select select::-ms-expand {
  display: none;
}
.personal-details .custom-select:after {
  content: '';
  width: 0;
  height: 0;
  border-left: 4px solid transparent;
  border-right: 4px solid transparent;
  border-top: 6px solid #7f7f7f;
  position: absolute;
  right: 20px;
  top: 20px;
  text-indent: 1px;
  text-overflow: '';
}
.personal-details .country-code {
  display: block;
}
.personal-details .country-code .custom-select {
  width: 51px;
  display: inline-block;
  height: 40px;
}
.personal-details .country-code .custom-select:after {
  right: 8px;
  top: 16px;
}
.personal-details .country-code .custom-select select {
  height: 35px;
}
.personal-details .country-code .custom-select select option {
  min-width: 100px;
}
.personal-details .country-code .custom-select .form-control {
  width: 85%;
}
.personal-details .country-code .form-control {
  width: 85%;
  display: inline-block;
}
@media (max-width: 1190px) {
  .personal-details .country-code .form-control {
    width: 82%;
  }
}
@media (max-width: 991px) {
  .personal-details .country-code .form-control {
    width: 75%;
  }
}
.personal-details .error-txt {
  left: 15px;
}

.continue {
  text-align: center;
  font-size: 12px;
  color: #999;
  margin: 10px 0 20px 0;
  display: table;
}
.continue button {
  display: table;
  background-color: #ff5d00;
  font-size: 18px;
  color: #fff;
  border-radius: 0;
  border: none;
  padding: 10px 15px;
  margin-bottom: 5px;
}
.continue figure {
  display: inline-block;
  margin-right: 3px;
}

.payment-option {
  padding-left: 30px;
  padding-right: 30px;
}
.payment-option .payable {
  border-bottom: 2px solid #e1e1e1;
  font-size: 22px;
  margin: 0 0 15px 0;
  display: block;
  padding: 20px 0;
}
.payment-option .payable strong {
  font-weight: 600;
}
.payment-option .payable .review-order {
  font-size: 18px;
  color: #3f5f94;
  float: right;
  margin-top: 5px;
  font-weight: 600;
}
.payment-option .payment-tabs {
  font-size: 15px;
  margin: 30px 0 50px 0;
  border: none;
}
@media (max-width: 991px) {
  .payment-option .payment-tabs {
    font-size: 14px;
  }
}
.payment-option .payment-tabs li {
  display: block;
  float: none;
  position: relative;
}
.payment-option .payment-tabs li a, .payment-option .payment-tabs li > a:hover, .payment-option .payment-tabs li > a:focus {
  border: none;
  background-color: transparent;
  border-radius: 0;
  color: #666;
  padding: 12px 15px;
}
@media (max-width: 991px) {
  .payment-option .payment-tabs li a, .payment-option .payment-tabs li > a:hover, .payment-option .payment-tabs li > a:focus {
    padding: 12px 10px;
  }
}
.payment-option .payment-tabs li.active > a, .payment-option .payment-tabs li.active > a:hover, .payment-option .payment-tabs li.active > a:focus {
  border: none;
  background-color: #f2f2f2;
  border-radius: 0;
  color: #666;
}
.payment-option .payment-tabs li.active > a:after, .payment-option .payment-tabs li.active > a:hover:after, .payment-option .payment-tabs li.active > a:focus:after {
  border-bottom: 23px solid transparent;
  border-left: 15px solid #f2f2f2;
  border-top: 23px solid transparent;
  content: "";
  height: 0;
  position: absolute;
  right: -15px;
  top: 0;
  width: 0;
}
.payment-option .payment-tabs-content {
  font-size: 15px;
  margin: 30px 0 50px 0;
}
@media (max-width: 991px) {
  .payment-option .payment-tabs-content {
    font-size: 14px;
  }
}
.payment-option .payment-tabs-content .card-banking ul {
  list-style-type: none;
  margin: 30px 0 0 0;
  padding: 0;
}
.payment-option .payment-tabs-content .card-banking ul li {
  margin-right: 3%;
  width: 30%;
  font-size: 16px;
  color: #3f5f94;
  border-radius: 10px;
  height: 90px;
  display: table;
  float: left;
  margin-bottom: 20px;
}
@media (max-width: 991px) {
  .payment-option .payment-tabs-content .card-banking ul li {
    width: 45%;
    height: 70px;
  }
}
.payment-option .payment-tabs-content .card-banking ul li a {
  display: table-cell;
  vertical-align: middle;
  text-align: center;
}
.payment-option .payment-tabs-content .card-banking ul li.credit-card {
  background-color: #efedb9;
}
.payment-option .payment-tabs-content .card-banking ul li.debit-card {
  background-color: #ffd2c1;
}
.payment-option .payment-tabs-content .card-banking ul li.net-banking {
  background-color: #fff0c1;
}
.payment-option .payment-tabs-content .card-banking ul li.internaiton-card {
  background-color: #c1e7ff;
}
.payment-option .payment-tabs-content .card-banking ul li.emi {
  background-color: #e4dced;
}
.payment-option .payment-tabs-content .other-payment {
  margin-top: 12px;
}
.payment-option .payment-tabs-content .other-payment strong {
  display: block;
  margin-bottom: 20px;
  font-weight: 600;
}
.payment-option .payment-tabs-content .other-payment strong small {
  font-size: 16px;
  font-weight: 400;
}
.payment-option .payment-tabs-content .other-payment ul {
  list-style-type: none;
  margin: 5px 0 20px 0;
  padding: 0;
}
.payment-option .payment-tabs-content .other-payment ul li {
  display: block;
  margin-bottom: 5px;
  position: relative;
  padding-left: 10px;
}
.payment-option .payment-tabs-content .other-payment ul li:before {
  border-bottom: 5px solid transparent;
  border-left: 5px solid #ccc;
  border-top: 5px solid transparent;
  content: "";
  height: 0;
  left: 0;
  position: absolute;
  top: 7px;
  width: 0;
}
.payment-option .payment-tabs-content .other-payment article {
  margin-bottom: 20px;
  display: block;
}
.payment-option .payment-tabs-content .other-payment select {
  display: table;
  border-radius: 0;
  border: 1px solid #e1e1e1;
  box-shadow: none;
  margin-bottom: 30px;
  width: 340px;
}
.payment-option .payment-tabs-content .other-payment .bank-details {
  border: 1px solid #e1e1e1;
  min-width: 345px;
  display: table;
  padding: 15px;
  margin: 5px 0 30px 0;
  clear: both;
}
.payment-option .payment-tabs-content .other-payment .bank-details strong {
  margin: 0 0 5px 0;
  display: block;
  font-size: 18px;
}
.payment-option .payment-tabs-content .other-payment .bank-details p {
  margin: 0;
}
.payment-option .payment-tabs-content .other-payment .bank-details p small {
  width: 100px;
  font-size: 14px;
  display: inline-block;
}
.payment-option .payment-tabs-content .other-payment .custom-select {
  position: relative;
  display: inline-block;
}
.payment-option .payment-tabs-content .other-payment .custom-select select {
  -webkit-appearance: none;
  -moz-appearance: none;
  text-indent: 1px;
  text-overflow: '';
  border-radius: 0;
  height: 30px;
  padding: 4px;
  border: 1px solid #e1e1e1;
  font-size: 13px;
  box-shadow: none;
  width: 200px;
}
.payment-option .payment-tabs-content .other-payment .custom-select select::-ms-expand {
  display: none;
}
.payment-option .payment-tabs-content .other-payment .custom-select:after {
  content: '';
  width: 0;
  height: 0;
  border-left: 4px solid transparent;
  border-right: 4px solid transparent;
  border-top: 6px solid #7f7f7f;
  position: absolute;
  right: 8px;
  top: 12px;
  text-indent: 1px;
  text-overflow: '';
}
.payment-option .payment-tabs-content .other-payment .form-inline {
  margin-bottom: 30px;
}
.payment-option .payment-tabs-content .other-payment .form-inline .form-group {
  width: 30%;
  margin-right: 10px;
  overflow: hidden;
}
@media (max-width: 991px) {
  .payment-option .payment-tabs-content .other-payment .form-inline .form-group {
    margin-right: 0;
  }
}
.payment-option .payment-tabs-content .other-payment .form-inline .form-group .form-control {
  border-radius: 0;
  box-shadow: none;
  border: 1px solid #e1e1e1;
  color: #999;
  width: 100%;
}
.payment-option .payment-tabs-content .other-payment .make-payment {
  font-size: 20px;
  padding: 10px 20px;
}
.payment-option .payment-tabs-content .other-payment .continue {
  margin-bottom: 0;
}

.pd-40 {
  padding: 40px 35px;
  margin-bottom: 40px;
}
@media (max-width: 991px) {
  .pd-40 {
    padding: 20px 20px 20px 10px;
  }
}

.payment-done {
  font-size: 15px;
  color: #999;
  padding: 0 20px 0 0;
}
@media (max-width: 991px) {
  .payment-done {
    padding: 0 10px 20px 10px;
  }
}
.payment-done article {
  margin-top: 25px;
  display: block;
}
.payment-done article strong {
  font-weight: 600;
}
.payment-done p {
  margin: 30px 0 0 0;
  padding: 30px 0 0 0;
  font-size: 14px;
  color: #333;
  border-top: 1px solid #e1e1e1;
}

.subcribe-box {
  padding: 30px;
  font-size: 12px;
  color: #666;
}
@media (max-width: 991px) {
  .subcribe-box {
    padding: 15px;
  }
}
.subcribe-box h2 {
  margin: 0 0 20px 0;
}
.subcribe-box .subcribe-services {
  border-top: 1px solid #e1e1e1;
  padding: 15px 0;
}
.subcribe-box .subcribe-services strong {
  display: block;
  font-weight: 600;
  font-size: 14px;
}
.subcribe-box .subcribe-services ul {
  list-style-type: none;
  margin: 20px 0 0 0;
  padding: 0;
}
.subcribe-box .subcribe-services ul li {
  display: block;
  margin-bottom: 5px;
}
.subcribe-box .subcribe-services ul li:before {
  width: 11px;
  height: 12px;
  background: url(../../images/sprite.png) no-repeat -507px -106px;
  display: inline-block;
  vertical-align: sub;
  content: '';
  margin-right: 5px;
}

.latest-resume {
  margin-top: 20px;
  font-size: 15px;
  color: #333;
  text-align: center;
  display: inline-block;
  border: 1px solid #e1e1e1;
  padding: 15px 15px 10px 15px;
  min-height: 150px;
  width: 48%;
  vertical-align: top;
  margin-left: 1%;
  overflow: hidden;
}
.latest-resume:first-child {
  margin-left: 0;
}
.latest-resume:hover, .latest-resume:focus, .latest-resume:visited, .latest-resume.selected {
  border: 1px solid #85b1c8;
  cursor: pointer;
}
.latest-resume:hover figure, .latest-resume:focus figure, .latest-resume:visited figure, .latest-resume.selected figure {
  background: url(../../images/sprite.png) no-repeat -287px -120px;
}
@media (max-width: 991px) {
  .latest-resume {
    width: 100%;
    margin-left: 0;
  }
}
.latest-resume figure {
  display: block;
  margin: 0 auto 10px auto;
  width: 27px;
  height: 27px;
  background: url(../../images/sprite.png) no-repeat -317px -120px;
  display: block;
  vertical-align: sub;
}
.latest-resume input {
  margin: 10px auto;
  border: 1px solid transparent;
  font-size: 13px;
  width: 180px;
}
.latest-resume input:focus, .latest-resume input:hover {
  border: 1px solid transparent;
}

.cart {
  font-size: 13px;
  color: #333;
  padding: 20px;
  border: 1px solid #e1e1e1;
}
.cart ul {
  list-style-type: none;
  margin: 0 0 15px 0;
  padding: 0;
  clear: both;
  display: block;
  overflow: hidden;
}
.cart ul.bdr-btm {
  border-bottom: 2px solid #e1e1e1;
  padding-bottom: 15px;
  margin-bottom: 25px;
}
.cart ul.bdr-tp {
  border-top: 1px solid #e1e1e1;
  padding-top: 25px;
  margin-top: 25px;
}
.cart ul.addons {
  font-size: 13px;
  font-weight: 600;
  color: #666;
}
.cart ul.addons strong {
  font-weight: 400;
  color: #333;
}
.cart ul.addons a {
  font-weight: 400;
}
.cart ul li {
  display: inline-block;
  vertical-align: top;
}
.cart ul li.disabled {
  opacity: 0.5;
  position: relative;
  z-index: -9;
}
.cart ul li strong {
  display: block;
  font-weight: 600;
}
@media (max-width: 991px) {
  .cart ul li strong {
    font-size: 11px;
  }
}
@media (max-width: 1190px) {
  .cart ul li a {
    font-size: 11px;
  }
}
.cart ul li .cart-heading {
  font-size: 15px;
  color: #999;
  display: block;
  margin-bottom: 10px;
}
.cart ul li .cart-sub-heading {
  font-size: 16px;
  display: block;
  font-weight: 600;
}
.cart ul li .provided-by {
  font-size: 12px;
  display: block;
}
.cart ul li .delivery-charges {
  font-size: 12px;
  font-weight: 600;
  display: block;
  color: #77ad50;
}
@media (max-width: 991px) {
  .cart ul li .delivery-charges {
    font-size: 11px;
  }
}
.cart ul li .not-available {
  font-size: 15px;
  font-weight: 600;
  display: block;
  color: #d31515;
}
@media (max-width: 991px) {
  .cart ul li .not-available {
    font-size: 11px;
  }
}
.cart ul li .custom-select {
  position: relative;
  display: inline-block;
}
.cart ul li .custom-select select {
  -webkit-appearance: none;
  -moz-appearance: none;
  text-indent: 1px;
  text-overflow: '';
  border-radius: 0;
  height: 30px;
  padding: 4px;
  border: 1px solid #e1e1e1;
  font-size: 12px;
  box-shadow: none;
  width: 100px;
}
.cart ul li .custom-select select::-ms-expand {
  display: none;
}
.cart ul li .custom-select:after {
  content: '';
  width: 0;
  height: 0;
  border-left: 4px solid transparent;
  border-right: 4px solid transparent;
  border-top: 6px solid #7f7f7f;
  position: absolute;
  right: 8px;
  top: 12px;
  text-indent: 1px;
  text-overflow: '';
}
.cart .addons-heading {
  display: block;
  border-top: 1px solid #e1e1e1;
  position: relative;
  margin: 35px 0 15px 30px;
}
.cart .addons-heading:before {
  background-color: #fff;
  font-size: 12px;
  color: #999;
  display: inline-block;
  position: absolute;
  content: 'Addons';
  left: 0;
  top: -11px;
  padding-right: 5px;
}

.checkout-box {
  padding: 30px 20px;
  font-size: 15px;
  text-align: center;
}
.checkout-box strong {
  display: block;
  font-size: 25px;
  font-weight: 600;
  margin: 5px 0 20px 0;
}
.checkout-box a {
  display: block;
  background-color: #ff5d00;
  font-size: 18px;
  padding: 10px;
  color: #fff;
  font-weight: 400;
}
@media (max-width: 1190px) {
  .checkout-box a {
    font-size: 16px;
  }
}

.empty-cart {
  font-size: 18px;
  color: #666;
  text-align: center;
  padding: 50px;
  border-radius: 2px;
}
.empty-cart .empty-cart-pic {
  width: 158px;
  height: 83px;
  display: block;
  margin: 0 auto;
  background: url(../../images/sprite.png) no-repeat -52px -242px;
}
.empty-cart article {
  display: block;
  margin: 30px 0;
}
.empty-cart article strong {
  font-weight: 600;
}
.empty-cart .search-button {
  width: auto;
  display: table;
  margin: 0 auto;
  background-color: #3f5f94;
  color: #fff;
  font-size: 18px;
  font-weight: 600;
  border-radius: 2px;
  padding: 10px 30px;
}

.listing {
  list-style-type: none;
  padding: 0;
  margin: 0;
}
.listing li {
  display: block;
  padding: 0 15px;
  margin: 0 0 25px 0;
}
.listing li a {
  display: block;
  overflow: hidden;
}
.listing li a:hover {
  box-shadow: 0 0 40px rgba(0, 0, 0, 0.1);
}
.listing .media {
  margin-top: 0;
}
.listing .media .media-left {
  border-spacing: 0 12px 0 0;
}
.listing .media .media-left figure {
  width: 125px;
  height: 125px;
}
.listing .listing-heading {
  margin: 10px 10px 5px 0;
  display: block;
  color: #3f5f94;
  font-size: 18px;
  font-weight: 600;
}
.listing .rating-review-box {
  display: block;
  color: #666;
  font-size: 13px;
}
.listing .rating-review-box strong {
  font-weight: 600;
  margin-left: 5px;
}
.listing .rating-review-box .jobs-available {
  font-size: 13px;
  color: #666;
  display: block;
  margin-top: 10px;
}
.listing .rating-review-box .jobs-available strong {
  font-weight: 600;
}

/*# sourceMappingURL=payment.css.map */