{% load static %}
{% spaceless %}
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<title>Shine Learning</title>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
</head>

<body style="margin: 0; padding: 0;">
<table width="100%" border="0" cellspacing="0" cellpadding="0" align="center" style="max-width: 600px; border: 1px solid #efefef; font-family: arial; font-size: 13px; color: #666666; line-height: 20px;">
  <tbody>
    <tr>
      <td bgcolor="#fff3be">
      	<img src="{% static 'shinelearn/images/emailers/reset_pass.jpg' %}" alt="Shine Learning" style="display: block; border: 0; max-width: 100%">
      	<strong style="text-align: center; display: block; font-size: 19px; font-weight: bold; color: #002d66; padding: 5px 10px 15px 10px;">
      		{{subject}} 
      	</strong>
      </td>
    </tr>
    <tr>
      <td style="padding: 10px">
      	<strong style="font-size: 14px; display: block; font-weight: normal; color: #333333; padding-bottom: 5px; padding-top: 2px;">Dear Candidate,</strong>
      	<span style="">
          {{subject}}
        </span>
      </td>
    </tr>
    <tr>
      <td style="padding: 0 10px 10px 10px;">
      	<a href="{{reset_url}}" style="text-decoration: none; font-size: 14px; background: #3c5b9b; color: #ffffff; display: inline-block; padding: 7px 20px; border-radius: 3px;">
        Click Here to reset password for your Shine account</a>
      </td>
    </tr>
    <tr>
      <td style="padding: 0 10px 10px 10px; color: #333333">
        Note: This link will be valid for <strong>4 hours</strong>.
      </td>
    </tr>
    <tr>
      <td style="padding: 10px; color: #333333">
        <span>For any queries or assistance, please contact us at <a href="mailto:support@shine.com" style="color: #2196f3; text-decoration: none;">support@shine.com</a></span>
      </td>
    </tr>
    <tr>
      <td style="padding: 10px; color: #333333">
        We look forward to helping you build a great career!
      </td>
    </tr>
    <tr>
    	<td style="padding: 10px;">
    		<strong style="display: block; font-weight: normal; font-size: 12px; color: #333333; padding-top: 10px;">
    		 Warm Regards, <br>
    		 Shine Learning Team
    		</strong>
    	</td>
    </tr>
    {%  include "emailers/includes/mailer_footer.html" %}
  </tbody>
</table>

</body>
</html>
{% endspaceless %}