{% load static %}
{% spaceless %}
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<title>Shine Learning</title>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
</head>

<body style="margin: 0; padding: 0;">
<table width="100%" border="0" cellspacing="0" cellpadding="0" align="center" style="max-width: 600px; border: 1px solid #efefef; font-family: arial; font-size: 13px; color: #666666; line-height: 20px;">
  <tbody>
    <tr>
      <td bgcolor="#ffeb8f">
      	<img src="{% static 'shinelearn/images/emailers/payment_realisation.jpg' %}" alt="Shine Learning" style="display: block; border: 0; max-width: 100%">
      	<strong style="text-align: center; display: block; font-size: 19px; font-weight: bold; color: #18549e; padding: 5px 10px 15px 10px;">
      		{{subject}}
      	</strong>
      </td>
    </tr>
    <tr>
      <td style="padding: 10px">
      	<strong style="font-size: 14px; display: block; font-weight: normal; color: #333333; padding-bottom: 5px; padding-top: 2px;">Dear {% if first_name %}{{first_name}}{% else %}Candidate{% endif %},</strong>
      	<span>We have received your payment of Rs <strong>{{total_payable_amount}}</strong>
        </span>
      </td>
    </tr>
    <tr>
      <td style="padding: 10px;" >
      	<p style="border-top: 2px solid #ebebeb; width: 100%; margin: 0; padding: 0 0 15px 0;"></p>
      	<span style="display: block; font-size: 14px;">
          Your order ID: <strong> {{order_id}} </strong>.
        </span>
        <span style="display: block; font-size: 13px;">
          Your transaction ID: {{txn}}.
        </span>
      	<p style="border-bottom: 2px solid #ebebeb; width: 100%; margin: 0; padding: 15px 0 0 0;"></p>
      </td>
    </tr>
    <tr>
      <td style="padding: 10px;">
        You may quote the order ID, in your future communications with us.  
      </td>
    </tr>
    <tr>
      <td style="padding: 10px;">
        <span style="background: #fffbe9; border-radius: 5px; display: block; padding: 20px 15px; font-size: 14px; line-height: 17px;">
          <table width="100%" border="0" cellspacing="0" cellpadding="4" style="font-size: 13px; color: #333;">
            <tbody>
              <tr>
                <td style="font-size: 18px; color: #333333; font-weight: bold;">Order Details</td>
                <td></td>
              </tr>
              <tr style="padding: 5px 0;">
                <td><strong>Subscription</strong></td>
                <td><strong>Price (in Rs.)</strong></td>
              </tr>
            {% for data in order_items %}
              {% with oi=data.oi addons=data.addons variations=data.variations combos=data.combos %}

              {% if oi.product.is_course and variations %}
                <tr valign="top">
                  <td>{{oi.product.get_name}}<br>
                  {% if oi.product.get_exp_db %} - {{oi.product.get_exp_db}}{% endif %}</td>
                  <td>{{variations.first.cost_price|floatformat:2}}</td>
                </tr>

                {% if oi.delivery_service %}
                  <td>{{oi.delivery_service.name}}</td>
                  <td>{{oi.delivery_price_excl_tax|floatformat:2}}</td>
                {% endif %}

                {% for addon in addons %}
                  <tr valign="top">
                    <td>{{addon.product.get_name}}</td>
                    <td>{{addon.cost_price}}</td>
                  </tr>
                {% endfor %}

              {% else %}
                <tr valign="top">
                  <td>{{oi.product.get_name}}<br>
                  {% if oi.product.get_exp_db %} - {{oi.product.get_exp_db}}{% endif %}</td>
                  <td>{{oi.cost_price}}</td>
                </tr>

                {% if oi.delivery_service %}
                  <td>{{oi.delivery_service.name}}</td>
                  <td>{{oi.delivery_price_excl_tax|floatformat:2}}</td>
                {% endif %}

                {% for combo in combos %}
                  <tr valign="top">
                    <td>{{combo.product.get_name}}</td>
                    <td>{{combo.cost_price}}</td>
                  </tr>
                {% endfor %}

                {% for var in variations %}
                  <tr valign="top">
                    <td>{{var.product.get_name}}</td>
                    <td>{{var.cost_price}}</td>
                  </tr>
                {% endfor %}

                {% for addon in addons %}
                  <tr valign="top">
                    <td>{{addon.product.get_name}}</td>
                    <td>{{addon.cost_price}}</td>
                  </tr>
                {% endfor %}

              {% endif %}
              {% endwith %}
            {% endfor %}
              <tr>
                <td colspan="2"><span style="display: block; border-top: 1px dashed #333; margin: 5px 0"></span></td>
              </tr>
              <tr valign="top" style="font-size: 16px;">
                <td><strong>Total (T)</strong></td>
                <td><strong>{{total_amount_before_discount|floatformat:2}}</strong></td>
              </tr>
              <tr valign="top">
                <td>Discount / Shine loyalty points</td>
                {% if coupon_amount %}
                  <td>{{coupon_amount|floatformat:2}}</td>
                {% elif redeemed_reward_point %}
                  <td>{{redeemed_reward_point|floatformat:2}}</td>
                {% endif %}
              </tr>
              <tr>
                <td colspan="2"><span style="display: block; border-top: 1px dashed #333; margin: 5px 0"></span></td>
              </tr>
              <tr valign="top" style="font-size: 18px;">
                <td><strong>Net Payable</strong></td>
                <td><strong>{{total_payable_amount|floatformat:2}}</strong></td>
              </tr>
              <tr>
                <td style="font-size: 12px;" colspan="2">The above Net Payable amount includes GST of {{tax_amount|floatformat:2}}</td>
              </tr>
            </tbody>
          </table>
        </span>  
      </td>
    </tr>
        <tr>
      <td style="padding: 10px;">
        Shortly, you will receive an email and call from us explaining the whole process for obtaining your services.  
      </td>
    </tr>
    <tr>
      {% if feature_coupon_code %}
    	<td style="padding: 10px;">
    		<span style="background: #ecf9ff; color: #333333; border-radius: 5px; display: block; padding: 10px; font-size: 14px;">Use code <strong>{{feature_coupon_code}}</strong> at the time of checkout to avail your free <a style="text-decoration: none; color: #2196f3;" href="#">Featured Profile</a> on Shine<br>(Offer Valid for 3 Months)</span>
    	</td>
      {% endif %}
    </tr>
    <tr>
      <td style="padding: 10px;">
        <strong style="display: block; font-weight: normal; font-size: 12px; color: #333333; padding-top: 10px;">
         Warm Regards, <br>
         Shine Learning Team
        </strong>
      </td>
    </tr>
    <tr>
    	<td style="padding: 10px; border-top: 1px solid #f4f4f4">
    		<span style="color: #999999; padding-bottom: 5px; display: block; font-size: 11px; line-height: 16px;">
	    		Please add <a href="mailto:alert@shinelearning.com" style="color: #2196f3; text-decoration: none;">alert@shinelearning.com</a> to your Address Book or Safe List to prevent future Shine Updates from being classified as Junk/Bulk Mail.
	    	</span>
	    	<span style="color: #999999; padding-bottom: 10px; display: block; font-size: 11px; line-height: 16px;">
	    		<strong style="color: #525252; font-weight: normal;">Security Alert</strong> - In case you receive a suspicious mail from anyone claiming to be a client of Shine, asking for your personal information or some money by pretending to offer you a job please do not respond to such mails and bring it to the immediate notice of <a href="/" style="color: #2196f3; text-decoration: none;">Shinelearning.com</a> by writing to us at <a href="mailto:contactus@shinelearning.com" style="color: #2196f3; text-decoration: none;">contactus@shinelearning.com</a>. Please note that such offers / emails are a violation of our Terms and Conditions, and Shine.com does not endorse such communication with candidates. Please <a href="#" style="color: #2196f3; text-decoration: none;">click here</a> if you do not want to receive any further communication from us.
	    	</span>
    	</td>
    </tr>
  </tbody>
</table>

</body>
</html>
{% endspaceless %}