{% load static %}
{% spaceless %}
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<title>Shine Learning</title>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
</head>

<body style="margin: 0; padding: 0;">
<table width="100%" border="0" cellspacing="0" cellpadding="0" align="center" style="max-width: 600px; border: 1px solid #efefef; font-family: arial; font-size: 13px; color: #666666; line-height: 20px;">
  <tbody>
    <tr>
      <td bgcolor="#79c3e0">
        <img src="{% static 'shinelearn/images/emailers/pending_item.jpg' %}" alt="Shine Learning" style="display: block; border: 0; max-width: 100%">
        <strong style="text-align: center; display: block; font-size: 19px; font-weight: bold; color: #18549e; padding: 5px 10px 15px 10px;">
          {{subject}}
        </strong>
      </td>
    </tr>
    <tr>
      <td style="padding: 10px; background-color: #f8f8f8;">
        <strong style="font-size: 14px; display: block; font-weight: normal; color: #333333; padding-bottom: 5px; padding-top: 2px;">Dear {% if user %}{{user}}
        {% else %}Candidate{% endif %},</strong>
        
      </td>
    </tr>
  {% if type_flow == 1 or  type_flow == 3 or type_flow == 4 or type_flow == 5 or type_flow == 12 or type_flow == 13 or type_flow == 7 or type_flow == 8 or type_flow == 15 %}
    <tr>
      <td style="padding:10px;background-color: #f8f8f8;">
        <table width="100%" border="0" cellspacing="0" cellpadding="0" style="padding:15px 10px; background-color: #fff;">
          <tbody>
            <tr>
              <td style="font-size:13px; color:#666; padding-bottom:10px;">
              <span>To start  with <a href="{{product_url}}" style="text-decoration: none; color: #2196f3">{% if parent_name %} {{parent_name}} ({{product_name}}){% else %} {{product_name}} {% endif %}</a> services, please upload your resume.</span></td>
            </tr>
            <tr>
             <td style="">
                <a href="{{upload_url}}" style="text-decoration: none; font-size: 14px; background: #3c5b9b; color: #ffffff; display:table; padding: 7px 0px; border-radius: 3px; width:160px; text-align: center;">Upload your resume</a>
              </td>
            </tr>
          </tbody>
        </table>
      </td>
    </tr>
  {% endif %}
  <!--{% if type_flow == 8 %}
    <tr>
      <td style="padding:10px;background-color: #f8f8f8;">
        <table width="100%" border="0" cellspacing="0" cellpadding="0" style="padding:15px 10px; background-color: #fff;">
          <tbody>
            <tr>
              <td style="font-size:13px; color:#666; padding-bottom:10px;"><span>To start with your <a href="{{product_url}}" style="text-decoration: none; color: #2196f3">LinkedIn</a> services,  please complete your counselling form.</span></td>
            </tr>
            <tr>
             <td style="">
                <a href="{{upload_url}}" style="text-decoration: none; font-size: 14px; background: #3c5b9b; color: #ffffff; display:table; padding: 7px 0px; border-radius: 3px; width:160px; text-align: center;">Complete your form</a>
              </td>
            </tr>
          </tbody>
        </table>
      </td>
    </tr>
  {% endif %}-->
  {% if type_flow == 9 %}
   <tr>
      <td style="padding:10px;background-color: #f8f8f8;">
        <table width="100%" border="0" cellspacing="0" cellpadding="0" style="padding:15px 10px; background-color: #fff;">
          <tbody>
            <tr>
              <td style="font-size:13px; color:#666; padding-bottom:10px;"> <span>To start your <a href="{{product_url}}" style="text-decoration: none; color: #2196f3">Round one service</a>,  complete round one profile.</span></td>
            </tr>
            <tr>
             <td style="">
                <a href="{{upload_url}}" style="text-decoration: none; font-size: 14px; background: #3c5b9b; color: #ffffff; display:table; padding: 7px 0px; border-radius: 3px; width:170px; text-align: center;">Complete your profile</a>
              </td>
            </tr>
          </tbody>
        </table>
      </td>
    </tr>
  {% endif %}
  {% if type_flow == 10 %}
    <tr>
      <td style="padding:10px;background-color: #f8f8f8;">
        <table width="100%" border="0" cellspacing="0" cellpadding="0" style="padding:15px 10px; background-color: #fff;">
          <tbody>
            <tr>
              <td style="font-size:13px; color:#666; padding-bottom:10px;"> <span>Take a compulsory test to start your <a href="#" style="text-decoration: none; color: #2196f3">study mate course</a>.</span></td>
            </tr>
            <tr>
             <td style="">
                <a href="#" style="text-decoration: none; font-size: 14px; background: #3c5b9b; color: #ffffff; display:table; padding: 7px 0px; border-radius: 3px; width:90px; text-align: center;">Take now</a>
              </td>
            </tr>
          </tbody>
        </table>
      </td>
    </tr>
  {% endif %}
    <tr>
      <td style="padding: 10px;background-color: #f8f8f8;">
        <strong style="display: block; font-weight: normal; font-size: 12px; color: #333333; padding-top: 10px;">
         Warm Regards, <br>
         Shine Learning Team
        </strong>
      </td>
    </tr>
    {%  include "emailers/includes/mailer_footer.html" %}
  </tbody>
</table>

</body>
</html>
{% endspaceless %}