@charset "UTF-8";
.input-group .form-control,
.input-group-addon,
.input-group-btn {
    display: table-cell;
}
.input-group-addon,
.input-group-btn {
    vertical-align: middle;
    white-space: nowrap;
    width: 1%;
}
/* current element like this */
/* Share Button Start From Here */

.share-wrap {
    position: fixed;
    bottom: 15px;
    right: 15px;
    display: block;
    z-index: 99;
}
.share-wrap #share-icon {
    display: none;
}
.share-wrap .share-bg a {
    background-color: #fff;
}
.share-wrap .fb-bg a {
    background-color: #3b5896;
}
.share-wrap .tw-bg a {
    background-color: #76a9ea;
}
.share-wrap .gp-bg a {
    background-color: #f34a38;
}
.share-wrap .wp-bg a {
    background-color: #2dd54b;
}
.share-wrap li {
    display: block;
    height: 50px;
    width: 50px;
    margin-top: 7px;
    margin-bottom: 7px;
    margin-left: auto;
    margin-right: auto;
}
.share-wrap li a {
    display: table-cell;
    height: 50px;
    width: 50px;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    border-radius: 50%;
    text-align: center;
    font-size: 11px;
    line-height: 12px;
    vertical-align: middle;
    color: #666;
    -webkit-box-shadow: 0px 0px 15px rgba(0, 0, 0, 0.5);
    -moz-box-shadow: 0px 0px 15px rgba(0, 0, 0, 0.5);
    box-shadow: 0px 0px 15px rgba(0, 0, 0, 0.5);
    position: relative;
}
/* Tabbing Start From Here */

.tab-search {
    position: absolute;
    bottom: 10px;
    left: 0;
    right: 0;
    width: 90%;
    margin: 0 auto;
}
.tab-search .tabs {
    text-align: center;
}
.tab-search .tabs li {
    display: inline-block;
}
.tab-search .tabs li a {
    padding: 7px 5px;
    margin: 0 10px;
    display: block;
    font-size: 100%;
    color: #fff;
    font-weight: 400;
}
.tab-search .tabs .current {
    color: #fff;
    border-bottom: 2px solid #ffca4f;
}
.tab-search .tab-content {
    display: none;
    padding: 15px;
}
.tab-search .tab-content .box-panel {
    margin-bottom: 15px;
}
.tab-search .tab-content .box-panel .media {
    border-bottom: 0 none;
    margin-bottom: 0;
    padding-bottom: 0;
}
.tab-search .tab-content .custom-search {
    position: relative;
}
.tab-search .tab-content .custom-search .form-control {
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    border-radius: 4px;
    border: 0 none;
    width: 100%;
}
.tab-search .tab-content .custom-advnaced-search {
    position: relative;
}
.tab-search .tab-content .custom-advnaced-search .form-control {
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    border-radius: 4px;
    border: 0 none;
    width: 85%;
    display: inline-block;
}
.tab-search .tab-content .custom-advnaced-search .form-control.bdr1 {
    width: 100%
}
.tab-search .tab-content .custom-advnaced-search .form-control.bdr2 {
    -webkit-border-top-left-radius: 0;
    -moz-border-radius-topleft: 0;
    border-top-left-radius: 0;
    -webkit-border-bottom-left-radius: 0;
    -moz-border-radius-bottomleft: 0;
    border-bottom-left-radius: 0;
}
.tab-search .tab-content.current {
    display: inherit;
}
.tab-search .search-icon-tab {
    width: 19px;
    height: 20px;
    display: inline-block;
    background-position: -215px -175px;
    cursor: pointer;
    border: none;
    position: absolute;
    right: 10px;
    top: 12px;
    background-color: transparent;
}
/* Tabbing Start From Here */

.form-group {
    margin-bottom: 15px;
    position: relative;
}
input,
select,
textarea,
button {
    font-family: "Open Sans", sans-serif;
    font-size: 0.875em;
    line-height: 1.3;
    margin: 0;
}
input:focus {
    border: 1;
    -webkit-box-shadow: none;
    -moz-box-shadow: none;
    box-shadow: none;
    outline: none;
}
select {
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    width: 100%;
    height: 40px;
    background: url("../../../images/mobile/common/dropdown.svg");
    background-color: #fff;
    background-position: 98% 2px;
    background-repeat: no-repeat;
    border: 1px solid #c1c1c1;
    color: #999;
    font-family: "Open Sans", sans-serif;
    font-size: 12px;
    outline: 0;
    padding: 6px 30px 6px 6px;
    text-align: left;
    -webkit-transition: all .3s ease;
    -o-transition: all .3s ease;
    -moz-transition: all .3s ease;
    transition: all .3s ease;
}
select option {
    padding: 6px;
}
textarea.form-control {
    height: auto;
}
button {
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
}
.input-group {
    border-collapse: separate;
    display: table;
    position: relative;
    margin-bottom: 15px;
    width: 100%;
}
.input-group .form-control {
    border: 1px solid #ddd;
    float: left;
    margin-bottom: 0;
    position: relative;
    width: 100%;
    z-index: 2;
}
.input-group-addon {
    background-color: #fff;
    color: #555;
    padding: 6px 12px;
    text-align: center;
    font-weight: 400;
    line-height: 1;
    text-align: center;
    border: 1px solid #ddd;
}
.input-group-addon:first-child {
    -webkit-border-bottom-right-radius: 0;
    -moz-border-radius-bottomright: 0;
    border-bottom-right-radius: 0;
    -webkit-border-top-right-radius: 0;
    -moz-border-radius-topright: 0;
    border-top-right-radius: 0;
    border-right: 0;
}
.input-group-addon:last-child {
    border-left: 0 none;
    -webkit-border-radius: 0;
    -moz-border-radius: 0;
    border-radius: 0;
}
.form-control {
    display: block;
    height: 40px;
    width: 100%;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    background-color: #fff;
    font-family: "Open Sans", sans-serif;
    border: 1px solid #c1c1c1;
    -webkit-border-radius: 0;
    -moz-border-radius: 0;
    border-radius: 0;
    color: #555;
    font-size: 12px;
    line-height: 1.42857;
    padding: 6px 12px;
    -webkit-transition: border-color 0.15s ease-in-out 0s, -webkit-box-shadow 0.15s ease-in-out 0s;
    transition: border-color 0.15s ease-in-out 0s, -webkit-box-shadow 0.15s ease-in-out 0s;
    -o-transition: border-color 0.15s ease-in-out 0s, box-shadow 0.15s ease-in-out 0s;
    -moz-transition: border-color 0.15s ease-in-out 0s, box-shadow 0.15s ease-in-out 0s, -moz-box-shadow 0.15s ease-in-out 0s;
    transition: border-color 0.15s ease-in-out 0s, box-shadow 0.15s ease-in-out 0s;
    transition: border-color 0.15s ease-in-out 0s, box-shadow 0.15s ease-in-out 0s, -webkit-box-shadow 0.15s ease-in-out 0s, -moz-box-shadow 0.15s ease-in-out 0s;
}
.form-control::-moz-placeholder {
    color: #999;
    opacity: 1;
}
.comment-wrap ul {
    border-bottom: 1px solid #f2f2f2;
    margin-bottom: 15px;
}
.comment-wrap ul li {
    padding-left: 50px;
    font-size: 100%;
    margin-bottom: 20px;
}
.comment-wrap ul li sup {
    height: 40px;
    width: 40px;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    border-radius: 50%;
    background-color: #ebebeb;
    position: absolute;
    left: 15px;
}
.comment-wrap ul li sup img {
    height: 40px;
    width: 40px;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    border-radius: 50%;
}
/* Color Start From Here */

.sigma-pro {
    display: block;
    height: 50px;
    width: 50px;
}
.sigma-pro img {
    width: 100%;
    height: 100%;
}
.home-banner-img {
    display: block;
    height: 100px;
    width: 100px;
}
.color1 {
    background-color: #b7ade7;
}
.color2 {
    background-color: #59a1de;
}
.color3 {
    background-color: #81bb64;
}
.color4 {
    background-color: #50b69f;
}
.color5 {
    background-color: #bca7c2;
}
.color6 {
    background-color: #c48fe3;
}
.color7 {
    background-color: #e5b647;
}
.color8 {
    background-color: #e58e8c;
}
.color9 {
    background-color: #c8c04a;
}
.color10 {
    background-color: #e99065;
}
.color11 {
    background-color: #da6b9b;
}
.color12 {
    background-color: #97c03b;
}
.color13 {
    background-color: #e86a5a;
}
.color14 {
    background-color: #e6ae8d;
}
.color15 {
    background-color: #c78946;
}
.color16 {
    background-color: #eac367;
}
.color17 {
    background-color: #80b7e8;
}
.color18 {
    background-color: #53bdad;
}
.color19 {
    background-color: #4dc7c8;
}
.color20 {
    background-color: #8dcee5;
}
.color21 {
    background-color: #8b56d9;
}
.color22 {
    background-color: #6284e8;
}
.color23 {
    background-color: #ebaaab;
}
.color24 {
    background-color: #6fe3c0;
}
.color25 {
    background-color: #646ecb;
}
.color26 {
    background-color: #63d64b;
}
.color27 {
    background-color: #eeac56;
}
.color28 {
    background-color: #b3da4e;
}
.color29 {
    background-color: #d95e60;
}
.color30 {
    background-color: #ac80f1;
}
.tag-bg {
    -webkit-border-radius: 2px;
    -moz-border-radius: 2px;
    border-radius: 2px;
    background-color: #ededed;
    padding: 0 5px 1px;
    color: #2f5ea6;
}
.strike-through {
    text-decoration: line-through;
    margin: 0 8px;
}
.off {
    color: #45b34e;
}
/* Rating Start From Here */

.rating {
    color: #666;
    margin: 0 5px;
}
.rating span {
    color: #333;
}
.rating sup {
    display: inline-block;
    width: 13px;
    height: 12px;
    position: relative;
    top: 5px;
    margin-right: 3px;
}
.rating .fill-star {
    background-position: -35px -110px;
}
.rating .unfill-star {
    background-position: -50px -110px;
}
/* Ratings widget */

.rate {
    display: inline-block;
    border: 0;
}
/* Hide radio */

.rate > input {
    display: none;
}
/* Order correctly by floating highest to the right */

.rate > label {
    color: #e1e1e1;
    float: right;
    height: 16px;
}
/* The star of the show */

.rate > label:before {
    display: inline-block;
    font-size: 20px;
    padding: 0 1px;
    margin: 0;
    cursor: pointer;
    content: "\2605 ";
    /* full star */
}
/* Zero stars rating */

.rate > label:last-child:before {
    content: "\2605 ";
    /* empty star outline */
}
/* Half star trick */

.rate .half:before {
    content: "\2605 ";
    /* half star no outline */

    position: absolute;
    padding-right: 0;
}
/* Click + hover color */

.rating-feedback input:checked ~ label,
.rating-feedback label:hover,
label:hover ~ label {
    color: #3f5f94;
}
/* color previous stars on hover */
/* Hover highlights */

.rating-feedback input:checked + label:hover,
.rating-feedback input:checked ~ label:hover,
.rating-feedback input:checked ~ label:hover ~ label,
.rating-feedback label:hover ~ input:checked ~ label {
    color: #3f5f94;
}
.rating-feedback input:checked ~ label:hover:before {
    border: 0 none;
}
/* call-us Start From Here */

.call-us .ui-grid-a {
    width: 100%;
    margin: 0;
}
.call-us .ui-block-a {
    background-color: #3f8bff;
    font-size: 1em;
}
.call-us .ui-block-a span {
    background-position: -47px -216px;
    width: 16px;
    height: 12px;
    display: inline-block;
    margin-right: 5px;
    position: relative;
    top: 1px;
}
.call-us .ui-block-b {
    background-color: #5b9cff;
}
.call-us .ui-block-b span {
    background-position: 0 -215px;
    width: 16px;
    height: 16px;
    display: inline-block;
    margin-right: 5px;
    position: relative;
    top: 3px;
}
.call-us .ui-block-c {
    background-color: #3f8bff;
}
.call-us .ui-block-c span {
    background-position: -22px -216px;
    width: 20px;
    height: 15px;
    display: inline-block;
    margin-right: 5px;
    position: relative;
    top: 3px;
}
.call-us .ui-block-a,
.call-us .ui-block-b,
.call-us .ui-block-c {
    padding: 15px 10px;
    color: #fff;
    height: 50px;
    float: left;
}
.call-us a {
    color: #fff;
}
.block-3 .ui-block-a,
.block-3 .ui-block-b,
.block-3 .ui-block-c {
    width: 33.33%;
}
/* home-banner Start From Here */

.home-banner {
    background-color: #272d37;
    position: relative;
}
.home-banner .home_content {
    position: absolute;
    bottom: 45px;
    z-index: 2;
    padding: 0 15px;
    width: 100%;
    text-align: center;
    color: #fff;
}
.home-banner .home_content .logged-in {
    display: none;
}
.home-banner .home_content h1 {
    font-size: 1.8em;
    font-weight: 400;
    line-height: 1.2em;
    margin-bottom: 10px;
}
.home-banner .home_content .taglin-1 {
    color: #e7dcad;
    font-weight: 400;
}
.home-banner .home_content .custom-search .form-control {
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    border-radius: 4px;
    border: 0 none;
}
/* testimonials Start From Here */

.testimonials {
    background-color: #e6f0f5;
    padding: 20px 15px 40px;
    overflow: hidden;
}
.testimonials li {
    font-size: 0.875em;
    text-align: left;
}
.testimonials li:before {
    content: '“';
    font-size: 40px;
    line-height: 40px;
    position: relative;
    top: 10px;
    color: #2f5ea6;
}
.testimonials .slick-initialized .slick-slide {
    width: 345px;
    margin-right: 35px;
    margin-left: 10px;
}
@media (max-width: 320px) {
    .testimonials .slick-initialized .slick-slide {
        width: 280px;
        margin-right: 15px;
    }
}
.testimonials .slick-dots li:before {
    content: none;
}
/* Blog landing page */

.logged-in {
    overflow: hidden;
}
.logged-in li .media {
    background-color: #fff;
}
.logged-in li .media-body {
    text-align: left;
    padding: 10px 15px 0px 0;
}
.logged-in .slick-initialized .slick-slide {
    width: 300px;
    margin-right: 15px;
}
@media (max-width: 320px) {
    .logged-in .slick-initialized .slick-slide {
        width: 280px;
    }
}
.home-banner {
    position: relative;
}
.home-banner li {
    position: relative;
}
.home-banner li .slide-caption {
    position: absolute;
    top: 30%;
    left: 0;
    right: 0;
}
.home-banner li h1 {
    font-size: 28px;
    font-weight: 400;
    line-height: 34px;
    margin-bottom: 10px;
    text-align: center;
}
.home-banner li strong {
    font-weight: 400;
    display: block;
    color: #fff;
    text-align: center;
}
.home-banner .slick-initialized .slick-slide {
    width: 640px;
}
@media (max-width: 480px) {
    .home-banner .slick-initialized .slick-slide {
        width: 480px;
    }
}
.popular-courses {
    overflow: hidden;
    padding: 20px 0 20px 0;
}
.popular-courses h2 {
    text-align: left;
    margin-left: 15px;
}
.popular-courses li {
    padding-left: 15px;
}
.popular-courses li .media {
    background-color: #fff;
    height: 121px;
    -webkit-box-shadow: 0px 0px 15px rgba(0, 0, 0, 0.1);
    -moz-box-shadow: 0px 0px 15px rgba(0, 0, 0, 0.1);
    box-shadow: 0px 0px 15px rgba(0, 0, 0, 0.1);
}
.popular-courses li .media-body {
    text-align: left;
    padding: 10px 10px 0px 10px;
}
.popular-courses li .media-left {
    padding-right: 0;
}
.popular-courses li p {
    padding-bottom: 0;
}
.popular-courses li strong {
    font-weight: 600;
}
.popular-courses .slick-initialized .slick-slide {
    width: 300px;
    margin: 15px 0;
}
@media (max-width: 320px) {
    .popular-courses .slick-initialized .slick-slide {
        width: 280px;
    }
}
.serach-wrap {
    background-color: #ddd;
    padding: 15px;
    position: relative;
}
.serach-wrap .form-control {
    padding-right: 70px;
    position: relative;
}
.serach-wrap button {
    position: absolute;
    right: 20px;
    color: #2f5ea6;
    top: 25px;
    font-weight: 600;
    border: 0 none;
    background-color: transparent;
}
.bottom-0 .log-out {
    display: none;
}
.bottom-0 .logged-in {
    display: block !important;
}
.trending-course {
    background-color: #f3f8fa;
    padding: 30px 15px;
    overflow: hidden;
}
.trending-course li {
    width: 135px;
    display: block;
    -webkit-box-shadow: 0px 0px 15px rgba(0, 0, 0, 0.1);
    -moz-box-shadow: 0px 0px 15px rgba(0, 0, 0, 0.1);
    box-shadow: 0px 0px 15px rgba(0, 0, 0, 0.1);
}
.trending-course li .img-box {
    display: block;
    height: 135px;
    width: 135px;
    vertical-align: middle;
    background: #fff;
}
.trending-course li .title {
    text-align: left;
    background-color: #fff;
    padding: 5px 10px;
    display: block;
}
.trending-course li img {
    display: inline-block;
}
.trending-course .slick-initialized .slick-slide {
    width: 135px;
    margin-right: 15px;
}
.trending-course .slick-list {
    padding-bottom: 10px !important;
}
.course-new {
    background-color: #f3f8fa;
    padding: 30px 15px;
    overflow: hidden;
}
.course-new .media {
    display: table;
    width: 47%;
    display: inline-block;
    -webkit-box-shadow: 0px 0px 15px rgba(0, 0, 0, 0.1);
    -moz-box-shadow: 0px 0px 15px rgba(0, 0, 0, 0.1);
    box-shadow: 0px 0px 15px rgba(0, 0, 0, 0.1);
    background: #fff;
    margin: 0 1% 20px 1%;
    vertical-align: bottom;
}
.course-new .media .media-body {
    vertical-align: middle;
    text-align: left;
}
.course-new .media .title {
    background-color: #fff;
    padding: 0 0 0 10px;
    display: inline-block;
    vertical-align: bottom;
    text-align: left;
}
.course-new .media .img-box {
    display: block;
    height: 50px;
    width: 50px;
    vertical-align: middle;
    text-align: right;
    position: relative;
}
.course-new .media .img-box img {
    width: 100%;
    position: relative;
    bottom: -10px;
}
.white-bg {
    background-color: #fff;
}
.job-assistance {
    background-color: #fff;
    padding: 30px 15px;
    overflow: hidden;
}
.job-assistance li {
    width: 135px;
    display: block;
    -webkit-box-shadow: 0px 0px 15px rgba(0, 0, 0, 0.1);
    -moz-box-shadow: 0px 0px 15px rgba(0, 0, 0, 0.1);
    box-shadow: 0px 0px 15px rgba(0, 0, 0, 0.1);
}
.job-assistance li .img-box {
    display: block;
    width: 135px;
    height: 120px;
    vertical-align: middle;
    background: #fff;
    position: relative;
    overflow: hidden;
}
.job-assistance li .img-box img {
    position: relative;
    bottom: -15px;
}
.job-assistance li .title {
    text-align: left;
    background-color: #fff;
    padding: 5px 10px;
    display: table-cell;
    height: 85px;
    vertical-align: middle;
    font-size: 12px;
}

.job-assistance li img {
    display: inline-block;
}
.job-assistance .slick-initialized .slick-slide {
    width: 135px;
    margin-right: 15px;
}
.job-assistance .slick-list {
    padding-bottom: 10px !important;
}
.how-it-works {
    background-color: #fff;
    padding: 30px 15px;
    overflow: hidden;
}
.how-it-works ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}
.how-it-works li {
    display: block;
    font-size: 14px;
    margin-top: 30px;
    margin-top: 20px;
}
.how-it-works li figure {
    padding: 5px 10px;
    display: block;
    margin: 0 auto;
    width: 72px;
    height: 74px;
}

.inputTags-list {
    width: 100%;
    height: 40px;
    opacity:1;
    background-color: #fff;
}

/*.custom-search .inputTags-list {
  border-radius: 4px;
}*/

.custom-advnaced-search span.twitter-typeahead {
    width: 50%;
    float: left;
    border-right: 1px #ccc solid;
}

.custom-advnaced-search span.twitter-typeahead + .custom-advnaced-search span.twitter-typeahead {
    border-right: 0 none;
}

span.twitter-typeahead {
    background-color: #fff !important
}
