{% extends "console/base_console.html" %}
{% load static compress %}
{% load humanize %}
{% load thumbnail %}

{% block title %}
  <title>{{queue_title}} - Shine Learning</title>
{% endblock title %}

{% block css_block %}
    {{block.super}}

    {% compress css %}
    <link href="{% static 'packages/iCheck/skins/flat/green.css' %}" rel="stylesheet" type="text/css">
    <link type="text/css" href="{% static 'console/css/datepicker/daterangepicker.css' %}" rel="stylesheet">
    {% endcompress %}

{% endblock css_block %}



{% block pagecontent %}
<!-- page content -->
<div class="right_col" role="main">
  <div class="">
    <div class="page-title">
      <div class="title_left">
        <h3>{{queue_title}}</h3>
      </div>

      <form autocomplete="off" class="form-group" method="GET" id="filter-tables">
          <div class="title_right">
            <div class="col-md-6 col-sm-6 col-xs-12 form-group pull-right top_search">
              <div class="input-group">
                <input type="text" name="query" class="form-control" {% if query %} value="{{query}}" {% endif %} placeholder="Search for...">

                <div style="display:none">
                    <div class="form-group">
                        <div class="col-md-12 col-sm-12 col-xs-12">
                            {{ filter_form.created }}
                        </div>
                        <br/>
                    </div>
                </div>

                <span class="input-group-btn">
                  <button type="submit" class="btn btn-default" id="search_button" type="button">Go!</button>
                </span>

              </div>
            </div>
          </div>
      </form>
    </div>

    <div class="row top_tiles">

      <div class="col-lg-3 col-md-3 col-sm-6 col-xs-12">
        <button type="button" class="btn btn-app" data-toggle="modal" data-target=".bs-example-modal-sm"><i class="fa fa-filter"></i>Filter By</button>
      </div>
      <div class="modal fade bs-example-modal-sm filter" tabindex="-1" role="dialog" aria-hidden="true">
            <div class="modal-dialog modal-sm">
              <div class="modal-content">

                <div class="modal-header">
                  <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">×</span>
                  </button>
                  <h4 class="modal-title" id="myModalLabel2">Filter By</h4>
                </div>
                <div class="modal-body">
                  <form autocomplete="off" class="form-group" method="GET" id="list-filter-form">
                        <div class="form-group">
                            <label class="control-label col-md-6 col-sm-6 col-xs-12">{{ filter_form.created.label }}</label></br>
                            <div class="col-md-12 col-sm-12 col-xs-12">
                                {{ filter_form.created }}
                            </div>
                            <br/>
                        </div>
                       {% if query %}
                           <input type="hidden" name="query" value="{{query}}">
                       {% endif %}
                    </form>
                </div>
                <div class="modal-footer">
                  <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                  <button type="button" id="id_filter" class="btn btn-primary" data-dismiss="modal">Filter</button>
                </div>
              </div>
            </div>
        </div>
        <!-- /modals -->
    </div>

    <div class="row">
      <div class="col-md-12 col-sm-12 col-xs-12">
        {% if messages %}
            {% for message in messages %}

              <div{% if message.tags %} class="alert alert-{{ message.tags }} alert-dismissable"{% endif %}>
              <button type="button" class="close" data-dismiss="alert" aria-hidden="true">&times;</button>

              {{ message }}
              </div>
            {% endfor %}
        {% endif %}

      </div>
    </div>

    
    <div class="clearfix"></div>
    
    <div class="row">

      <div class="col-md-12 col-sm-12 col-xs-12">
        <div class="x_panel">
          <div class="x_title">
            <ul class="nav navbar-right panel_toolbox">
              <li><a class="collapse-link"><i class="fa fa-chevron-up"></i></a>
              </li>
            </ul>
        {% if action_form  %}
            <form autocomplete="off" method="POST" role="form" id="action_form" action="{% url "console:userquery:user-query-action" %}">{% csrf_token %}
                <div class="col-sm-4">
                    <div class="input-group">
                        {{action_form.action}}
                        <input type="hidden" name="queue_name" value="{{queue_name}}" />
                        <input type="hidden" id="selected-id" name="selected_id" />
                        <span class="input-group-btn">
                          <button type="button" class="btn btn-primary" id="action_button_go">Go!</button>
                        </span>
                    </div>
                </div>
            </form>
        {% endif %}
            {% if queue_name == "human-resource-leads" %}
              		<div class="col-sm-3 col-md-5">
	              <form class="form-group" id="hrQueryForm" method="post" action="{% url 'console:userquery:download-hr-query' %}">
                          {% csrf_token %}
		        			<label>Date Range</label>
		        			<div class='input-group date' id='startdate'>
                             <input type="hidden" value="{{queue_name}}" name="queue_name">
							<input class="form-control date-range-picker" id="id_filter_date" name="date_range" placeholder="from date - to date" type="text"  value="{{ request.GET.date_range}}" >
	                        <span class="input-group-btn">
	                        <button type="submit" class="btn btn-primary" id="downloadReport">Download Report</button>
                            </span>
	                </div>
	             	</form>
             	</div>

              {% endif %}


            <!-- modal action -->
            <div class="modal fade bs-example-modal-lg" tabindex="-1" role="dialog" aria-hidden="true" id="actionModal">
                <div class="modal-dialog modal-lg">
                  <div class="modal-content">

                    <div class="modal-header">
                      <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">×</span>
                      </button>
                      <h4 class="modal-title" id="myModalLabel">Action</h4>
                    </div>
                    <div class="modal-body" id="myModalbody">
                      Are You Sure???
                    </div>
                    <div class="modal-footer">
                      <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                      <button type="button" class="btn btn-primary" id="action_button">Yes</button>
                    </div>

                  </div>
                </div>
            </div>
            <div class="clearfix"></div>
          </div>

          {% block main_pagination_top %}
                <div class="main_pagination">
                  {% if page_obj %}
                  <div class="col-sm-4">
                       <div class="pull-left" style="display: inline-block;adding-left: 0;margin: 20px 0;">
                        {% with current_page=page_obj.number total_page=page_obj.paginator.num_pages %}Page {{ current_page }} of {{ total_page }}
                        {% endwith %}
                      </div>
                  </div>

                <div class="col-sm-8">
                    <div class="pull-right">
                        <ul class="pagination">
                        {% if page_obj.has_previous %}
                            <li class="paginate_button previous">
                                <a href="?page={{ page_obj.previous_page_number }}{% for key,value in request.GET.items %}{% ifnotequal key 'page' %}&{{ key }}={{ value }}{% endifnotequal %}{% endfor %}" >&laquo;</a>
                            </li>
                              <li class="paginate_button previous">
                                <a href="?page={{ page_obj.previous_page_number }}{% for key,value in request.GET.items %}{% ifnotequal key 'page' %}&{{ key }}={{ value }}{% endifnotequal %}{% endfor %}" >{{ page_obj.previous_page_number }}</a>
                            </li>
                        {% endif %}



                        {% if page_obj.number %}
                            <li class="paginate_button disable"><a href="javascript:void(0);">&hellip;</a></li>
                                <li class="paginate_button {% ifequal page_obj.number page_obj.number  %} active disable {% endifequal %}">
                                    <a href="?page={{page_obj.number }}{% for key,value in request.GET.items %}{% ifnotequal key 'page' %}&{{ key }}={{ value }}{% endifnotequal %}{% endfor %}" >{{ page_obj.number }}</a>

                                </li>
                        {% endif %}

                        {% if page_obj.has_next %}
                                <li class="paginate_button disable ">
                                    <a href="?page={{page_obj.next_page_number }}{% for key,value in request.GET.items %}{% ifnotequal key 'page' %}&{{ key }}={{ value }}{% endifnotequal %}{% endfor %}" >{{ page_obj.next_page_number }} </a>

                                </li>
                        {% endif %}



                        {% if page_obj.has_next %}
                            <li class="paginate_button next">
                                <a href="?page={{ page_obj.next_page_number }}{% for key,value in request.GET.items %}{% ifnotequal key 'page' %}&{{ key }}={{ value }}{% endifnotequal %}{% endfor %}" >&raquo;</a>
                            </li>
                        {% endif %}
                    </ul>
                  </div>
                </div>
                {% endif %}

                </div><!-- main_pagination end here -->
                {% endblock main_pagination_top %}

          <div class="x_content">

            <div class="table-responsive">
              <table class="table table-striped jambo_table bulk_action" id="inbox-table">
                <thead>
                  <tr class="headings">
                    <th>
                        <input autocomplete="off" type="checkbox" id="check-all" class="flat">
                    </th>
                    <th class="bulk-actions" colspan="100%">
                        <a class="antoo" style="color:#fff; font-weight:500;">Bulk Actions ( <span class="action-cnt"> </span> ) <i class="fa fa-chevron-down"></i></a>
                    </th>
                    <th class="column-title">Name</th>
                    <th class="column-title">Email</th>
                    <th class="column-title">Mobile</th>
                    <th class="column-title">Message</th>
                    <!--th class="column-title">Lead Source</th-->
                    <th class="column-title">Product</th>
                    <th class="column-title">Path</th>
                    <th class="column-title">Modified</th>
                    <th class="column-title">Created</th>
                  </tr>
                </thead>

                <tbody id="body-table-list">
                  {% for obj in userquery %}
                    <tr class="even pointer">
                        <td class="a-center ">
                            <input autocomplete="off" type="checkbox" class="flat" name="table_records" value="{{obj.pk}}" >
                        </td>
                        <td>{{obj.name}}</td>
                        <td>{{obj.email}}</td>
                        <td>{{obj.country.phone}} - {{obj.phn_number}}</td>
                        <td>{{obj.message}}</td>
                        <!--td>{{obj.get_lead_source}}</td-->
                        <td>{{obj.product}}</td>
                        <td>{{obj.path}}</td>
                        <td>{{obj.modified}}</td>
                        <td>{{obj.created}}</td>
                    </tr>
                  {% endfor %}
                </tbody>
              </table>
            </div>
              {% comment %}
            {% block main_pagination_bottom %}
                <div class="main_pagination">
                  {% if page_obj %}
                  <div class="col-sm-4">
                       <div class="pull-left" style="display: inline-block;adding-left: 0;margin: 20px 0;">
                        {% with current_page=page.number total_page=page.paginator.num_pages %}Page {{ current_page }} of {{ total_page }}
                        {% endwith %}
                      </div>
                  </div>

                <div class="col-sm-8">
                    <div class="pull-right">
                        <ul class="pagination">
                            {% if page_obj.has_previous %}
                            <li class="paginate_button previous">
                                <a href="?page={{ page_obj.previous_page_number }}{% for key,value in request.GET.items %}{% ifnotequal key 'page' %}&{{ key }}={{ value }}{% endifnotequal %}{% endfor %}" >&laquo;</a>
                            </li>
                              <li class="paginate_button previous">
                                <a href="?page={{ page_obj.previous_page_number }}{% for key,value in request.GET.items %}{% ifnotequal key 'page' %}&{{ key }}={{ value }}{% endifnotequal %}{% endfor %}" >{{ page_obj.previous_page_number }}</a>
                            </li>
                        {% endif %}

                        {% for page_number in begin %}
                            <li class="paginate_button {% ifequal page.number page_number %} active disable {% endifequal %} ">
                                <a href="?page={{ page_number }}{% for key,value in request.GET.items %}{% ifnotequal key 'page' %}&{{ key }}={{ value }}{% endifnotequal %}{% endfor %}" >{{ page_number }}</a>
                            </li>
                        {% endfor %}

                        {% if middle %}
                            <li class="paginate_button disable"><a href="javascript:void(0);">&hellip;</a></li>
                            {% for page_number in middle %}
                                <li class="paginate_button {% ifequal page.number page_number %} active disable {% endifequal %}">
                                    <a href="?page={{ page_number }}{% for key,value in request.GET.items %}{% ifnotequal key 'page' %}&{{ key }}={{ value }}{% endifnotequal %}{% endfor %}" >{{ page_number }}</a>
                                    
                                </li>
                            {% endfor %}
                        {% endif %}

                        {% if page_end %}
                            <li class="paginate_button disable"><a href="javascript:void(0);">&hellip;</a></li>
                            {% for page_number in page_end %}
                                <li class="paginate_button {% ifequal page.number page_number %} active disable {% endifequal %}">
                                    <a href="?page={{ page_number }}{% for key,value in request.GET.items %}{% ifnotequal key 'page' %}&{{ key }}={{ value }}{% endifnotequal %}{% endfor %}" >{{ page_number }}</a>
                                </li>
                            {% endfor %}
                        {% endif %}

                        {% if page.has_next %}
                            <li class="paginate_button next">
                                <a href="?page={{ page.next_page_number }}{% for key,value in request.GET.items %}{% ifnotequal key 'page' %}&{{ key }}={{ value }}{% endifnotequal %}{% endfor %}" >&raquo;</a>
                            </li>
                        {% endif %}
                    </ul>
                  </div>
                </div>
                {% endif %}

                </div><!-- main_pagination end here -->
                {% endblock main_pagination_bottom %}
                            {% endcomment %}

                
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<!-- /page content -->


{% endblock pagecontent %}

        
{% block js_block %}
  {{ block.super }}

  {% compress js %}
  <script type="text/javascript" src="{% static 'console/js/moment/moment.min.js' %}"></script>
  <script type="text/javascript" src="{% static 'console/js/datepicker/daterangepicker.js' %}"></script>
  <!-- Parsley Validate Scripts -->
  <script type="text/javascript" src="{% static 'packages/parsleyjs/parsley.min.js' %}"></script>
  <script type="text/javascript" src="{% static 'packages/iCheck/icheck.min.js' %}"></script>

  <script type="text/javascript" src="{% static 'console/js/userquery/userquery-action.js' %}"></script>
  {% endcompress %}

{% endblock js_block %}
