
// $static-url: get('staticUrl');
// $static-url : '/media/static/';
// $path: $static-url + "score-checker/images/mobile";

@import '../_path.scss';

%blue-gr {
    background: #7b46ab; 
    background: -moz-linear-gradient(45deg,  #7b46ab 0%, #997bd5 50%, #997bd5 50%, #b0a2f4 100%); /* FF3.6-15 */
    background: -webkit-linear-gradient(45deg,  #7b46ab 0%,#997bd5 50%,#997bd5 50%,#b0a2f4 100%); /* Chrome10-25,Safari5.1-6 */
    background: linear-gradient(45deg,  #7b46ab 0%,#997bd5 50%,#997bd5 50%,#b0a2f4 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#7b46ab', endColorstr='#b0a2f4',GradientType=1 );
}

%green-tick {
    &::before {
        @include size(14px, 11px);
        content: '';
        background-image: url('#{$path}/sprite.png');
        background-repeat:  no-repeat;
        background-position: -28px -310px;
        display: block;
        position: absolute;
        left: 0;
        top: 17px;
        
    }
}

%blue-bullet {
    &::before {
        content: '';
        @include size(7px, 7px);
        flex: 0 0 7px;
        border-radius: 50%;
        background-color: $primary;
        display: block;
        position: relative;
        top: 6px;
        left: -15px;

    }
}


%remove-space {
    margin: 0;
    padding: 0;
  }

  %button {
    background-color: transparent;
    background-image: none;
    border: 1px solid transparent;
    cursor: pointer;
    font-size: 1em;
    font-weight: normal;
    line-height: 1.6;
    margin-bottom: 0;
    padding: 10px 12px;
    text-align: center;
    touch-action: manipulation;
    user-select: none;
    vertical-align: middle;
    white-space: nowrap;
    font-weight: $font-weight-medium;
    font-family: $font-family-montserrat;
  }