@import '../../../../../styles-mobile/abstracts';

.m-domain-jobs {
    padding-bottom: 0;
    display: flex;

    &__list {

        strong {
            display: block;
        }

        ul {
            list-style-type: none;
            margin: 1.5rem 0 1.5rem 0;
            padding: 0;

            li {
                font-size: 1.3rem;
                position: relative;
                padding-left: 1.5rem;

                &:not(:last-child) {
                    margin-bottom: .8rem;
                }
                
                &::before {
                    content: '';
                    background: $sprite -34px -17px;
                    width: .5rem;
                    height: .9rem;
                    display: inline-block;
                    position: absolute;
                    left: 0;
                    top: .5rem;
                }
            }
        }
    }
}