.login-error .js-error{
    display:block; /*opacity: 1 !important;*/
    color: rgba(255, 0, 0, 0.8);
  }
.js-error{
  display:none;
  /*opacity: 0;*/
  float: left;
}
.login-error .formfield{
  box-shadow: 0 1px 0 #fff,0 -2px 5px rgba(244, 67, 54, 0.35) inset !important;
  border: 1px solid #F44336 !important;
  color: #F44336 !important;
}