

{% block search_check %}

<div class="form-group">
<div class="col-md-12 col-sm-12 col-xs-12">
    &nbsp;    &nbsp;     &nbsp;

<label class="radio-inline"><input type="radio" name="rad_search"value="number" checked><b>OrderId</b></label>

<label class="radio-inline"><input type="radio" name="rad_search" value="email" {{email}}><b>Email</b></label>
<label class="radio-inline"><input type="radio" name="rad_search"value="mobile" {{mobile}}><b>Mobile</b></label>
&nbsp;

                      </div>
</div>
{% endblock search_check %}