@import '../../path';
@import '../library/variables';
@import '../library/mixin';

/* Base for label styling */
[type="checkbox"]:not(:checked),
[type="checkbox"]:checked {
  position: absolute;
  left: -9999px;
}

/* Base for label styling */
[type="checkbox"]:not(:checked) + label,
[type="checkbox"]:checked + label {
  position: relative;
  padding-left: 25px;
  cursor: pointer;
  display: block;
}

/* checkbox aspect */
[type="checkbox"]:not(:checked) + label:before,
[type="checkbox"]:checked + label:before {
  content: '';
  position: absolute;
  left:0; 
  top: 0px;
  width: 15px; 
  height: 15px;
  border: 1px solid $border-grey-c1;
  background-color:transparent;
  display:block;
}

[type="checkbox"]:not(:checked) + label:before,
[type="checkbox"]:checked + label:before {
  top: 2px;
}

/* checked mark aspect */
[type="checkbox"]:not(:checked) + label:after,
[type="checkbox"]:checked + label:after {
  content: '';
  position: absolute;
  top: 5px; 
  left: 3px;
  width: 10px;
  height: 8px;
  font-size: 16px;
  color: $txt-grey-666;
  background: url($image-path) no-repeat 1px -200px;
  transition: all .2s;
}

[type="checkbox"]:not(:checked) + label:after,
[type="checkbox"]:checked + label:after {
  top: 7px;
}

/* checked mark aspect changes */
[type="checkbox"]:not(:checked) + label:after {
  opacity: 0;
  transform: scale(0);
}
[type="checkbox"]:checked + label:before {
  opacity: 1;
  transform: scale(1);
  border: 1px solid #a5a5a5 ;
}

/* disabled checkbox */
[type="checkbox"]:disabled:not(:checked) + label:before,
[type="checkbox"]:disabled:checked + label:before {
  box-shadow: none;
  border-color: $border-grey-f5;
  background-color: $border-grey-f5;
}
[type="checkbox"]:disabled:checked + label:after {
  color: $txt-grey-999;
}
[type="checkbox"]:disabled + label {
  color: #aaa;
}
/* accessibility */
[type="checkbox"]:checked:focus + label:before,
[type="checkbox"]:not(:checked):focus + label:before {
  border: 1px dotted blue;
}

/* hover style just for information */
label:hover:before {
  border: 1px solid $bg-blue;
}


.right-navbar {
    [type="checkbox"]:not(:checked) + label,
    [type="checkbox"]:checked + label {
      width: 100%;
      display: block;
      padding-left: 0;
  }

  [type="checkbox"]:not(:checked) + label:before, [type="checkbox"]:checked + label:before {
    top: 50%;
    right:0;
    left: auto;
    margin-top: -7px;
  }

  /* checked mark aspect */
  [type="checkbox"]:not(:checked) + label:after,
  [type="checkbox"]:checked + label:after {
    top: 18px; 
    right: 4px;
    left: auto;
  }
}

.select-product {

    [type="checkbox"]:not(:checked) + label,
    [type="checkbox"]:checked + label,
      [type="radio"]:not(:checked) + label,
    [type="radio"]:checked + label {
    position: relative;
    cursor: pointer;
    border: 1px solid $border-grey-c1;
    padding: 10px 10px 10px !important;
    width: 1000px;
    display: table-cell;
    vertical-align: middle;
    height: 115px
  }

  [type="checkbox"]:checked + label,
  [type="radio"]:checked + label {
    border: 1px solid $bg-blue;
    border-bottom: 19px solid $bg-blue;
    box-shadow: $box-shadow-2;
  }


  p {
    line-height: 1.3em;
  }

  /* checkbox aspect */
  [type="checkbox"]:not(:checked) + label:before,
  [type="checkbox"]:checked + label:before,
  [type="radio"]:not(:checked) + label:before,
  [type="radio"]:checked + label:before {
    border: 0 none;
    bottom: 5px;
    top: auto;
    right: 10px;
    left: auto;
  }

  /* checked mark aspect */
  [type="checkbox"]:not(:checked) + label:after,
  [type="checkbox"]:checked + label:after,
  [type="radio"]:not(:checked) + label:after,
  [type="radio"]:checked + label:after {
    top: auto;
    bottom: -13px;
    right: auto; 
    left: 50%;
    margin-left: -6px;
    width: 12px;
    height: 9px;
    background: url($image-path) no-repeat -88px -201px;
    z-index: 999;
  }

  .table {
    td {
      padding: 5px 0;
    }
  }
}

.course {
  [type="checkbox"]:not(:checked) + label,
    [type="checkbox"]:checked + label {
    padding: 5px;
  }
}

#sidebar-countries {
  [type="checkbox"]:not(:checked) + label:after,
  [type="checkbox"]:checked + label:after {
    top: 23px;
  }
}

.tnc {
  [type="checkbox"]:not(:checked) + label:after,
  [type="checkbox"]:checked + label:after {
    top: 7px !important;
  }
}



[type="radio"]:checked,
[type="radio"]:not(:checked) {
  position: absolute;
  left: -9999px;
}
[type="radio"]:checked + label,
[type="radio"]:not(:checked) + label
{
  position: relative;
  padding-left: 28px;
  cursor: pointer;
  line-height: 20px;
  display: inline-block;
  color: #666;
}
[type="radio"]:checked + label:before,
[type="radio"]:not(:checked) + label:before {
  @include square(16px, block);
  content: '';
  position: absolute;
  left: 0;
  top: 0;
  border: 1px solid $bg-blue;
  border-radius: 100%;
  background: #fff;
}
[type="radio"]:checked + label:after,
[type="radio"]:not(:checked) + label:after {
  @include square(10px, block);
  content: '';
  background: $bg-blue;
  position: absolute;
  top: 4px;
  left: 4px;
  border-radius: 100%;
  -webkit-transition: all 0.2s ease;
  transition: all 0.2s ease;
}
[type="radio"]:not(:checked) + label:after {
  opacity: 0;
  -webkit-transform: scale(0);
  transform: scale(0);
}

[type="radio"]:checked + label:after {
  opacity: 1;
  -webkit-transform: scale(1);
  transform: scale(1);
}
