@import '../../path';
@import '../library/variables';
@import '../library/mixin';
@import '../library/reset';

/* Header footer */
@import '../components/header-footer';

/* Breadcrumb */
@import '../components/breadcrumb';

/* Filter menu */
@import '../components/filter-menu';

/* Main CSS Start From Here */
@import '../components/popup';

/* Button  Start From Here */
@import '../components/buttons';

@import '../components/form-items';

/* Line form Start From Here */
@import '../components/line-form';

/* Line form with transition  Start From Here */
@import '../components/inline-form';
@import '../components/search-bar';

@import '../components/tabbing';


.blue-link {
  color: -imp($txt-blue);
}

.block {
  display: block;
}

.justify-content-center {
  justify-content: center
}

.justify-content-around {
  justify-content: space-around;
}

.justify-content-between {
  justify-content:space-between;
}

.justify-content-evenly {
  justify-content: space-evenly;
}

.align-items-center {
  align-items: center;
}

.align-items-end {
  align-items: flex-end;
}

.align-items-start {
  align-items: flex-start;
}

.inline-block {
  display: inline-block;
}

.pull-left {
  float: left;
}

.pull-right {
  float: right;
}

.d-flex {
  display: flex;
}

.w100fl {
  @extend .pull-left;
  width: 100%;
}

.w100 {
  width: 100% !important;
}

.w49 {
  width: 49% !important;
}

.side-spacer {
  padding: 0 15px;
}

.w50fl {
  float: left;
  width: 50%;
}

.text-upper {
  text-transform: uppercase;
}

.text-center {
  text-align: center;
}

.red-text {
  color: #d31515;
}

.clearfix {
  clear: both;
}

.img-responsive {
  display: block;
  max-width: 100%;
  width: 100%;
  height: auto;
}

.he100 {
  height: 100px;
}

.wf100 {
  width: 100%;
  float: left;
}

.he-auto {
  height: -imp(auto);
}

.table {
  display: table;
  width: 100%;
}

.strike-through {
  text-decoration: line-through;
}

.table-row {
  display: table-row;
}

.table-cell {
  display: table-cell;
  vertical-align: middle;
}

.bold {
  font-weight: 700 !important;
}

.semi-bold {
  font-weight: 600 !important;
}
.wrapper {
  display: block;
  min-height: 100%;
  position: relative;
  width: 100%;
}

.body-wrapper {
  width: 100%;
  padding: 0 0 65px;
  clear: both;
}

.body-wrapper-back {
  width: 100%;
  padding: 0 0 60px;
}

.main-heading, h2 {
  font-size: 21px;
  font-weight: 600;
  line-height: 25px;
  margin-bottom: 10px;
}

.ui-grid-a {
  float: left;
  width: auto;
  margin: 0;
}

.ui-block-a, .ui-block-b, .ui-block-c {
  float: left;
  @extend %half-width;
  padding: 5px;
}


.media-right {
  @extend %tablecell-top;
}

.media-body {
  @extend .media-right;
  width: 10000px;
}

.media-left {
  @extend .media-right;
  padding-right: 15px;
}

.content-box {
  padding: 15px;
}

.rel {
  position: relative;
}

.row {
  margin-left: -15px;
  margin-right: -15px;
}

.overlay {
  width: 100%;
  height: 100%;
  position: absolute;
  background-color: rgba(0, 0, 0, .4);
}

.css-scroll {
  overflow-x: auto;
  overflow-y: hidden;
  width: 100%;
  white-space: nowrap;

  li {
    margin-right: 20px;
    max-width: 220px;
    display: inline-block;
    white-space: normal;

    a {
      display: block;
      padding: 10px 0 10px;
      color: $txt-grey-666;
      text-decoration: none;
      font-weight: 600;
    }
  }
  .active a {
    color: $txt-blue;
    border-bottom: 2px solid $txt-blue;
  }

  ::-webkit-scrollbar {
    width: 1px;
    height: 1px;
  } 
}

.w-auto {
  width: auto;
}

.btn-blue {
  background-color: $bg-blue;
  color: $txt-white;
}

.btn-grey {
  background-color: $bg-grey-f1;
  color: $txt-grey-333;
}

.btn-yellow {
  background-color: #ffcf26;
  color: $txt-grey-333;
}

.btn-orange {
  background-color: #ff5d00;
  color: $txt-white;
}

.btn-outline {
  border: 1px solid $bg-blue;
  color: $txt-blue;
}

.border-bottom {
  border-bottom: 1px solid $border-grey-f2;
}

.border-top {
  border-top: 1px solid $border-grey-f2;
}

.border-top-none {
  border-top: none 0 !important;
}

.tagging {

  a {
    @include border-radius (3px);
    display: inline-block;
    padding: 2px 5px;
    margin: 0 2px;
    text-transform: uppercase;
    font-size: 11px;
    color: $txt-grey-999;
    background-color: $bg-grey-eb;
  }
}

.container {
  padding: 15px 0;
}

.videoWrapper {
  position: relative;
  padding-bottom: 56.25%; /* 16:9 */
  //padding-top: 25px;
  height: 0;
  margin: 15px 0;

  iframe {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
  }
}

.stick_bottom {
    position: fixed;
    bottom: 0;
    z-index: 999;
    background-color: #fff;
    -webkit-box-shadow: 0 -2px 4px 1px rgba(0, 0, 0, 0.1);
    -moz-box-shadow: 0 -2px 4px 1px rgba(0, 0, 0, 0.1);
    box-shadow: 0 -2px 4px 1px rgba(0, 0, 0, 0.1);
    width: 100%;
    left: 0;

    .content-box {
      padding-bottom: 10px;
      padding-top: 10px;
    } 
}

.main-menu {
  position: relative;
  z-index: 1;
}


.blue-circle-60 {
  @include border-radius(50%);
  @include box (60px, 60px, block);
  background-color: $bg-blue;
  position: relative;
}

article {
  h4, h5 {
    color: $txt-grey-333;
    font-weight: 600;
  }

  ol {
    padding-left: 15px;
    padding-bottom: 15px;

    li {
      padding-bottom: 10px;
      list-style-type: decimal;
    }
  }
}

.box {
  @extend %white-box;
  padding: 15px;
}

.remove-second {
  position: fixed;
  top: -2px;
  width: 100%;
  background-color: $bg-white;
  z-index: 999;
}

.user {
  @include border-radius (50%);
  @include square (50px, block);
}

.vertical-middle {
  vertical-align: -imp(middle);
}

.helping-links {
  margin-bottom: 20px;
  margin-top: 20px;
  color: $txt-grey-999;


  li {
    margin-bottom: 10px;

    a {
      display: block;
      padding-left: 12px;
      position: relative;

      &:before {
        @include icon-block (5px, 9px, -101px -206px);
        background-image: url($image-path);
        content: '';
        position: absolute;
        left: 0;
        top: 6px;
      }
    }
  }
}

.hide {
  display: none;
}


.line-height-sm {
  line-height: 1.2rem;
}
.sidebar-filter {
  z-index: 999999999999 !important;
}


.slide-container, .review-container {
  overflow: hidden;
  width: 100%;
}


.acc_content ul {
  padding-left: 15px;

  li {
    list-style-type: disc;
    margin-bottom: 10px;
    min-height: auto;
  }
}


.mt-sub-10{
  margin-top:-10px;
}


.error .form-control {
  border-color: #f34a38;
}

.error .error-txt {
  font-size: 85%;
  padding-top: 3px;
  color: #f34a38;
  display: block;
  padding-bottom: 0; }

.error .mgs {
  font-size: 85%;
  padding-top: 3px;
  color: #f34a38;
  display: block;
  padding-bottom: 0; }

.mgs {
  display: none;
}

.error-txt {
  display: none; }


  .fl100 {
    float: left;
    width: 100%;
  }

  .brd-bottom {
    border-bottom: 1px solid #efefef;
  }

/* linkedin login page css */

.linkedin-tnc {
  font-size: $font-size;
  color: $txt-grey-666;

  label {
    font-weight: $font-weight !important;
    color: $txt-grey-666;
  } 

  ul {
    margin: 0 0 0 24px;
    padding: 0;

    li {
      margin-bottom: 5px;
      list-style: disc;
    }
  }
}

.collapse.in {
    display: block;
}
.collapse {
    display: none;
}

.custom-search {
  position: relative;
  .form-control {
    @include border-radius (4px);
    border: 0 none;
    color: #333;
    background: #fff;
  }

  .search-icon-tab {
    @include icon-inblock (40px,40px, 0 -333px);
    @include border-radius (0 4px 4px 0);
    cursor: pointer;
    border: none;
    position: absolute;
    right: 0;
    top: 0;
    background-color: #ffcf00;
  }

  .tt-hint {
    color: #999;
  }
}

/* Call us  */
@import '../components/call-us';
@import '../utilities/font';
@import '../utilities/padding';
@import '../utilities/margin';


/*------marketing popup css------*/
.marketing-popup {
  .content-box {
    .number {
      width: 72%;
      margin-left: 15px;
    }
  }
  .code {
    width: 22%;
  }
  border-radius: 0 !important;

  .header {
    background-image: url("../../../images/popup-bg-1.jpg");
    background-size: cover;
    display: block;
    padding-bottom: 10px;

    h2 {
      color: $txt-white;
      border-bottom: none;
      font-size: $font-size+11;
      padding: 20px 15px 0 15px;
    }

    .icon-close {
      top: 10% !important;
      background-position: -189px -175px;
    }
  }
}

.discount-coupon {
  background-image: url("../../../images/discount-bg-1.png");
  background-size: cover;
  width: 258px;
  height: 54px;
  margin: 20px 0 0 -1px;
  display: block;

  .discount-price {
    font-size: $font-size+9;
    color: $txt-white;
    font-weight: $font-weight+300;
    width: 60px;
    display: inline-block;
    line-height: 20px;
    margin: 9px 0 0 11px;

    small {
      font-size: $font-size - 4;
      font-weight: $font-weight+300;
      display: block;
    }
  }

  .starting-price {
    font-size: $font-size - 1;
    color: #edfeff;
    font-weight: $font-weight+100;
    display: inline-block;
    line-height: 18px;
    margin: 20px 0 0 0;
    vertical-align: top;

    strike {
      font-size: $font-size - 1;
      color: #8c85e3;
    }

    .price {
      font-size: $font-size+3;
      font-weight: $font-weight+200;
    }
  }
}


.thankyou-popup {
  text-align: center;
  font-size: $font-size;
  color: $txt-grey-999;
  font-weight: $font-weight+100;
  margin: 15% 0 15% 0;

  .tick-icon {
    background-image: url("../../../images/tick.png");
    background-size: cover;
    width: 69px;
    height: 64px;
    margin: 20px auto;
    display: block;
  }

  strong {
    font-size: $font-size+19;
    color: #08d0d5;
    display: block;
    margin: 25px 0 30px 0;
  }
}


.btn-grOrange {
  color: $txt-white;
  /* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#efa859+0,e39344+100 */
background: #efa859; /* Old browsers */
background: -moz-linear-gradient(left, #efa859 0%, #e39344 100%); /* FF3.6-15 */
background: -webkit-linear-gradient(left, #efa859 0%,#e39344 100%); /* Chrome10-25,Safari5.1-6 */
background: linear-gradient(to right, #efa859 0%,#e39344 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#efa859', endColorstr='#e39344',GradientType=1 ); /* IE6-9 */
}

.university-marketing-popup {
  .content-box {
    .number {
      width: 72%;
      margin-left: 15px;
    }
  }
  .code {
    width: 22%;
  }
  border-radius:13px;

  .header {
    background-image: url("../../../images/popup-bg-1.jpg");
    background-size: cover;
    display: block;
    padding-bottom: 10px;

    h2 {
      color: $txt-white;
      border-bottom: none;
      font-size: $font-size+11;
      padding: 20px 15px 0 15px;
    }

    .icon-close {
      top: 10% !important;
      background-position: -189px -175px;
    }
  }
}

.resume-writing-service-head {
  font-size: 16px;
  font-weight: 700;
  color: #3f5f94;
}

.resume-writing-service-txt {
  font-size: 13px;
  color: #999;
}

.resume-writing-service-btn {
  font-size: 16px;
  color: #333;
  background: #ffcf26;
}

.header-taging{
    position: relative;
    // z-index: 2;

}

// .breadcrumb {
//     position: relative;
//     z-index: 99;

// }



.h-100 {
    height: 100%;
}


address {
  margin-bottom: 20px;
  font-style: normal;
  line-height: 1.428571429;
}

mr-40 {
    margin-right: 40px;
}