.icon-share, .icon-fb, .icon-tw, .icon-gp, .icon-wp, .icon-fb-2, .icon-tw-2, .icon-gp-2, .icon-filter {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  margin: auto; }

.icon-edit, .icon-close-sm {
  position: absolute;
  right: 10px;
  top: 50%;
  margin-top: -7px; }

/* current element like this */
[class^="icon-"] {
  display: block;
  text-indent: 200%;
  overflow: hidden;
  white-space: nowrap; }

.icon-bar {
  background-position: 0 0;
  width: 20px;
  height: 20px; }

.icon-logo {
  background-position: -25px 0;
  width: 167px;
  height: 67px;
  display: block;
  margin-top: -16px;
  margin-left: 10px; }

.icon-search {
  background-position: 0 -22px;
  width: 21px;
  height: 21px;
  display: block; }

.icon-cart {
  background-position: -3px -46px;
  width: 18px;
  height: 18px;
  display: block;
  margin-left: 25px; }

.icon-close {
  background-position: -124px -175px;
  width: 19px;
  height: 19px;
  display: block;
  -webkit-transform: scale(0.8);
     -moz-transform: scale(0.8);
      -ms-transform: scale(0.8);
       -o-transform: scale(0.8);
          transform: scale(0.8); }

.icon-view {
  background-position: 0 -67px;
  width: 15px;
  height: 9px;
  display: inline-block;
  color: #fff;
  font-size: 72%; }

.icon-forward {
  background-position: 0 -78px;
  width: 12px;
  height: 10px;
  display: inline-block; }

.icon-grey-view {
  background-position: -14px -79px; }

.icon-back {
  background-position: -196px -1px;
  width: 17px;
  height: 19px;
  display: inline-block; }

.icon-chat-sm {
  background-position: 0 -92px;
  width: 12px;
  height: 10px;
  display: inline-block;
  vertical-align: middle; }

.icon-chat {
  background-position: -13px -91px;
  width: 18px;
  height: 14px;
  display: inline-block;
  vertical-align: middle;
  margin-right: 5px; }

.icon-share {
  background-position: -38px -68px;
  width: 27px;
  height: 22px;
  display: inline-block; }

.icon-fb {
  background-position: -75px -70px;
  width: 10px;
  height: 20px;
  display: inline-block; }

.icon-tw {
  background-position: -126px -71px;
  width: 18px;
  height: 15px;
  display: inline-block; }

.icon-gp {
  background-position: -97px -71px;
  width: 21px;
  height: 15px;
  display: inline-block; }

.icon-wp {
  background-position: -154px -67px;
  width: 23px;
  height: 22px;
  display: inline-block; }

.icon-tick {
  background-position: -37px -96px;
  width: 10px;
  height: 7px;
  display: inline-block; }

.icon-file {
  background-position: 0 -110px;
  width: 34px;
  height: 32px;
  display: inline-block; }

.icon-graph {
  background-position: 0 -150px;
  width: 40px;
  height: 40px;
  display: inline-block; }

.icon-comments {
  background-position: -64px -112px;
  width: 13px;
  height: 12px;
  display: inline-block;
  position: relative;
  top: 2px; }

.icon-jobs {
  background-position: -81px -111px;
  width: 14px;
  height: 12px;
  display: inline-block;
  margin-right: 4px; }

.icon-bag {
  background-position: -181px -106px;
  width: 12px;
  height: 15px;
  display: inline-block;
  margin-right: 4px;
  position: relative;
  top: 2px; }

.icon-certificate {
  background-position: -99px -112px;
  width: 10px;
  height: 18px;
  display: inline-block;
  margin-right: 4px;
  position: relative;
  top: 5px; }

.icon-fb-2 {
  background-position: -48px -176px;
  width: 10px;
  height: 18px;
  display: inline-block; }

.icon-tw-2 {
  background-position: -100px -177px;
  width: 18px;
  height: 15px;
  display: inline-block; }

.icon-gp-2 {
  background-position: -71px -177px;
  width: 21px;
  height: 15px;
  display: inline-block; }

.icon-link-2 {
  background-position: -73px -291px;
  width: 21px;
  height: 34px;
  display: inline-block;
  }

.icon-edit {
  background-position: -148px -177px;
  width: 14px;
  height: 15px;
  display: inline-block; }

.icon-close-sm {
  background-position: -193px -177px;
  width: 15px;
  height: 15px;
  display: inline-block; }

.icon-filter {
  background-position: -165px -175px;
  width: 23px;
  height: 23px;
  display: inline-block; }

.icon-filter-white {
  background-position: -113px -199px;
  width: 23px;
  height: 23px;
  display: inline-block; }

.icon-cart-big {
  background-position: -4px -240px;
  width: 32px;
  height: 34px;
  display: inline-block;
  position: absolute;
  top: 50%;
  left: 50%;
  margin: -16px 0 0 -17px; }

.icon-coupon {
  background-position: -283px 0;
  width: 32px;
  height: 32px;
  display: inline-block;
  position: absolute;
  top: 50%;
  left: 50%;
  margin: -16px 0 0 -15px; }

.icon-apply-coupon {
  background-position: -325px 0;
  width: 39px;
  height: 24px;
  display: inline-block;
  position: absolute;
  top: 50%;
  left: 50%;
  margin: -12px 0 0 -20px; }

.icon-hand {
  background-position: -374px 0;
  width: 22px;
  height: 32px;
  display: inline-block;
  position: absolute;
  top: 50%;
  left: 50%;
  margin: -17px 0 0 -12px; }

.icon-download-big {
  background-position: -238px -34px;
  width: 30px;
  height: 30px;
  display: block; }

.icon-tick-green {
  background-position: -11px -197px;
  width: 12px;
  height: 10px;
  display: inline-block; }

.icon-tick-cross {
  background-position: -72px -200px;
  width: 12px;
  height: 12px;
  display: inline-block; }

.icon-comment-white {
  background-position: -227px -73px;
  width: 16px;
  height: 15px;
  display: inline-block;
  position: relative;
  top: 2px;
  margin-right: 5px; }

.icon-request {
  background-position: -266px -71px;
  width: 50px;
  height: 44px;
  display: inline-block; }

.icon-speaak {
  background-position: -323px -71px;
  width: 44px;
  height: 44px;
  display: inline-block; }

.icon-get {
  background-position: -377px -71px;
  width: 44px;
  height: 45px;
  display: inline-block; }

.icon-interview {
  background-position: -436px -71px;
  width: 34px;
  height: 45px;
  display: inline-block; }

.icon-lock {
  background-position: -250px -153px;
  width: 10px;
  height: 13px;
  display: inline-block;
  margin-right: 5px; }

.icon-wait {
  background-position: -276px -137px;
  width: 29px;
  height: 42px;
  display: inline-block; }

.icon-tick {
  background-position: -319px -140px;
  width: 50px;
  height: 37px;
  display: inline-block; }

.more-chances {
  background-position: 0 0; }

.more-faster {
  background-position: -81px 0; }

.more-fortune {
  background-position: -161px 0; }

.more-quick {
  background-position: -241px 0; }

.icon-cart-df {
  background-position: -4px -240px;
  width: 32px;
  height: 34px;
  display: inline-block;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  margin: auto; }

.icon-call-df {
  background-position: -144px -206px;
  width: 36px;
  height: 37px;
  display: inline-block;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  margin: auto; }

.icon-feedback-df {
  background-position: -185px -207px;
  width: 30px;
  height: 42px;
  display: inline-block;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  margin: auto; }

.icon-download-df {
  background-position: -223px -204px;
  width: 31px;
  height: 33px;
  display: inline-block;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  margin: auto; }

.icon-material-df {
  background-position: -261px -195px;
  width: 33px;
  height: 28px;
  display: inline-block;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  margin: auto; }

.icon-learning-df {
  background-position: -303px -194px;
  width: 33px;
  height: 41px;
  display: inline-block;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  margin: auto; }

.icon-certified-df {
  background-position: -346px -195px;
  width: 30px;
  height: 37px;
  display: inline-block;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  margin: auto; }

.icon-evaluate-df {
  background-position: -386px -186px;
  width: 29px;
  height: 35px;
  display: inline-block;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  margin: auto; }

.icon-recieve-df {
  background-position: -425px -188px;
  width: 30px;
  height: 30px;
  display: inline-block;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  margin: auto; }

.icon-resume-df {
  background-position: -466px -186px;
  width: 27px;
  height: 37px;
  display: inline-block;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  margin: auto; }

.icon-expert-df {
  background-position: -135px -249px;
  width: 32px;
  height: 38px;
  display: inline-block;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  margin: auto; }

.icon-accessing-df {
  background-position: -177px -257px;
  width: 38px;
  height: 25px;
  display: inline-block;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  margin: auto; }

.icon-increase-df {
  background-position: -224px -248px;
  width: 29px;
  height: 29px;
  display: inline-block;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  margin: auto; }

.icon-featured-df {
  background-position: -260px -231px;
  width: 37px;
  height: 36px;
  display: inline-block;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  margin: auto; }

.icon-10x-df {
  background-position: -327px -282px;
  width: 42px;
  height: 19px;
  display: inline-block;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  margin: auto; }

.icon-verification-df {
  background-position: -305px -241px;
  width: 32px;
  height: 35px;
  display: inline-block;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  margin: auto; }

.icon-download-df {
  background-position: -346px -240px;
  width: 31px;
  height: 33px;
  display: inline-block;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  margin: auto; }

.icon-1kx-df {
  background-position: -377px -279px;
  width: 47px;
  height: 12px;
  display: inline-block;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  margin: auto; }

.icon-talk-df {
  background-position: -264px -266px;
  width: 31px;
  height: 26px;
  display: inline-block;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  margin: auto; }

.icon-assessment-df {
  background-position: -386px -232px;
  width: 33px;
  height: 32px;
  display: inline-block;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  margin: auto; }

.icon-educators-df {
  background-position: -429px -230px;
  width: 44px;
  height: 41px;
  display: inline-block;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  margin: auto; }

.icon-loc {
  background-position: -2px -306px;
  width: 12px;
  height: 17px;
  display: inline-block;
  position: absolute;
  left: 0;
  top: 0; }

.mail-iconStrock {
  background-position: -21px -304px;
  width: 28px;
  height: 22px;
  display: inline-block;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  margin: auto; }
