/* current element like this */
[class^="icon-"] {
  background-image: url("../../../images/mobile/common/sprites.svg"); }

.fill-star,
.unfill-star,
.countries sup,
.smk_accordion .accordion_in .acc_head .acc_icon_expand,
.call-us .ui-block-a span,
.call-us .ui-block-b span,
.call-us .ui-block-c span,
.define-flow li span:before,
.suggest-list li span,
.level-control:after,
.payment-summary .list-item li .item:before,
.search-icon-tab, .icon-loc, .mail-iconStrock {
  background-image: url("../../../images/mobile/common/sprites.svg"); }


.icon-cart {
 background-position: -3px -46px;
 width: 18px;
 height: 18px;
 display: block;
 margin-left: 25px;
 position: relative;
 overflow: visible;
 text-indent: -1000px;
}

.icon-cart span {
 position: absolute;
 background-color: #fecd2f;
 color: #000;
 border-radius: 50%;
 width: 15px;
 height: 15px;
 line-height: 15px;
 text-align: center;
 left: -7px;
 top: -10px;
 text-indent: 0px;
 font-size: 9px;
 font-weight: 600;
 letter-spacing: -1px;
}

