@import '../../path';
@import '../library/variables';
@import '../library/mixin';


[class^="icon-"] {
	background-image: url($image-path);
}

.fill-star, 
.unfill-star, 
.countries sup,
.smk_accordion .accordion_in .acc_head .acc_icon_expand,
.call-us .ui-block-a span,
.call-us .ui-block-b span,
.call-us .ui-block-c span,
.define-flow li span:before,
.suggest-list li span,
.level-control:after,
.payment-summary .list-item li .item:before,
.search-icon-tab, .icon-loc, .mail-iconStrock {
	background-image: url($image-path);
}


[class^="exe-icon-"],
[class^="execIcon-"] {
	background-image: url($executive-sprite);
	background-repeat: no-repeat;
}

.apply-execIcon::before,
.batch-execIcon::before,
.duration-execIcon::before,
.price-execIcon::before,
.manager::before,
.senior-managers::before,
.department-heads::before,
.line-manager::before,
.free-services::before,
.global::before,
.refernEarn::before,
.content .accordion-wrap .acc_head .acc_icon_expand,
.date-icon::before {
	background-image: url($executive-sprite);
	background-repeat: no-repeat;
}

[class^="amcats-"] {
	background-image: url($amcats-sprite);
	background-repeat: no-repeat;
}