@import '../../path';
@import '../library/variables';
@import '../library/mixin';

#main-sidebar {
  overflow: scroll;
}

nav {
  border-bottom: 1px solid $border-grey-f2;
  position: relative;

  &:last-child {
    border-bottom: 0 none;
  }
}

.sb-menu {
  /* Apply to <ul> or <ol>. */
  font-size: 14px;
  font-weight: 400;
  list-style-type: none;
  margin: 0;
  padding: 15px 0 0;
  clear: left;

  &:last-child {
    border-bottom: 0 none;
  }
  
  li {
    width: 100%;
    padding: 0;
    margin: 0;
    
    a {
      width: 100%;
      color: $txt-grey-666;
      /* Makes links full width. */
      display: inline-block;
      padding: 10px 15px;
      /* Creates an even padding the same size as your font. */
      position: relative;

      span {
        @include box(21px, 21px, inline-block);
        margin-right: 12px;
        position: relative;
        top: 4px;
      }
    }
  }
  > li {
    &:first-child {
      border-top: none;
      /* Removes top border from first list item.. */
    }
    &:last-child {
      border-bottom: none;
      /* Removed bottom border from last list item. */
    }
  }
}

.sb-menu li a:hover {
  text-decoration: none;
  background-color: rgba(255, 255, 255, 0.05);
  /* Will lighten any background colour you set. */
}


.login_wrap {
  background-color: #1564b2;
  background-repeat: no-repeat;
  color: $txt-white;
  position: relative;
  height: 90px;

  >img {
    opacity: 0.05;
    width: 100%;
    height: 100%;

  }

  span {
    img {
      border-radius: 100%;
      width: 100%;
    }
  }

  p {
    a {
      color: $txt-white;
    }
  }
}


.login_content {
  @include position(absolute, 0 0 null null, 9);
  @include square(100%, 100%);
  font-size: $font-size;
}

.user_details {
  @include box(1000px, 90px, table-cell);
  padding: 0 15px;
  vertical-align: middle;

  a {
    img {
      @include size (50px, 50px, block);
      @include border-radius (50%);
    }
  }

  span {
    @include square(50px, block);
  }

  .btn {
    @include border-radius (4px);
    margin-right: 8px;
    padding-top: 3px;
    padding-bottom: 3px;
    font-size: 14px;
    border-color: #fff;
    color: #fff;
  }
}


%level {
  position: absolute;
  top: 0;
  background: #fff;
  width: 100%;
  height: 100%;
  display: none;

  ul {
    padding: 10px 0;
  }
}

.level-one {
  @extend %level;
  left: 0;
  z-index: 9;
}

.level-two {
  @extend %level;
  z-index: 10;
  font-size: 12px;
}

.backthis {
  width: 100%;
  position: relative;
  top: 0;
  left: 0;
  z-index: 9;
  background-color: #1976d2;
  text-align: center;
  color: -imp($txt-white);
  font-weight: 700;

  &:hover, &:focus {
    background-color: -imp(#1976d2);
  }
}

.veiw-nav {
  display: block;
  transition: all 300ms ease;
}

.level-control {
  position: relative;

  &:after {
    content: '';
    position: absolute;
    top: 18px;
    right: 16px;
    background-repeat: no-repeat;
    background-position: -184px -71px;
    width: 7px;
    height: 14px;
  }
}

.sb-menu {
  li {
    a {
      &.backthis {
        color: -imp($txt-white);
        padding: 15px;
      }
    }
  }
}


.icon {

  &-home {
    background-position: -44px -150px;
  }

  &-home-search {
    background-position: -66px -150px;
  }

  &-rec-course {
    background-position: -87px -150px;
  }

  &-dashboard {
    background-position: -108px -150px;
  }

  &-career {
    background-position: -129px -150px;
  }

  &-all-courses {
    background-position: -150px -150px;
  }

  &-job {
    background-position: -171px -150px;
  }

  &-sample {
    background-position: -192px -150px;
  }

  &-practice-test {
    background-position: -239px -346px;
  }

  &-talentEco {
    background-position: -143px -346px;
  }
}

.new-tag {
  @include border-radius(3px);
  background-color: $bg-yellow ;
  padding: 0px 6px 1px;
  color: $txt-grey-333;
  font-size: 10px;
  font-weight: 600;
  position: relative;
  top: -6px;
}

.sidebar {
  position: fixed;
  top: 56px;
  bottom: 0;
  width: 300px;
  background-color: $bg-white;
}

#sidebar-main {
  top: 56px;
}

.sidebar.right {
  right: -300px;
  text-align: right;
}

.sidebar.left {
  left: -300px;
}

.sidebar-filter {
  position: fixed;
  top: 56px;
  bottom: 0;
  width: 100%;
  background-color: $bg-white;
}

.sidebar-filter.right {
  right: -100%;
  text-align: right;
}

.sidebar-filter.left {
  left: -100%;
}

.dashboard {
  margin-top: 10px !important;
  border-top: 1px solid $border-grey-f2;
  border-bottom: 1px solid $border-grey-f2;
  padding-bottom: 10px !important;

  ul {
    padding-left: 35px;

    li {
      a {
        color: $txt-grey-999;
        padding-top: 10px;
        padding-bottom: 10px;
      }
    }
  }
}