@import '../../path';
@import '../library/variables';
@import '../library/mixin';

.smk_accordion {
	position: relative;
	// border-bottom:1px solid #e0e0e0;

    .accordion_in {
        border-top: 1px solid #e0e0e0;
        margin-bottom: 1px;
        margin-top: -1px;
        overflow: hidden;
        position: relative;
        z-index: 1;

        .acc_head {
            cursor: pointer;
            display: block;
            font-weight: bold;
            padding: 12px 30px 12px 15px;
            position: relative;
            color: $txt-grey-333;
            margin-top: 0;

            h2 {
                color: #444;
                margin: 0 !important;
                text-transform: none;
            }

            .acc_icon_expand {
                @include icon-block (13px, 8px, -405px -321px);
                margin-top: -4px;
                position: absolute;
                right: 10px;
                top: 50%;
                transition: all .3s;
            }

        }/* acc head ends here */

        .acc_content {
            background: #f7f7f7;
            color: #666;
            padding:15px;
            border-top: 1px solid #eeeeee;
        }
    }/* accordion_in ends here */

    .accordion_in.acc_active {
        .acc_head .acc_icon_expand {
            transform: rotate(180deg);
        }

        .acc_content{ 
            display: block;
        }
    }
}/* smk_accordion ends here */

/* JS requires */
.smk_accordion .accordion_in.acc_active 
.smk_accordion .accordion_in.acc_active .acc_head{
	background: #fff;
}
.smk_accordion.acc_with_icon .accordion_in .acc_head,
.smk_accordion.acc_with_icon .accordion_in .acc_content{
}


/*.acc_active {
	border-bottom: 0 none !important;
    margin-bottom: 0 !important;
}*/

.accordion-wrap {
    background-color: $bg-grey-f6;

    .acc_head {
        background-color: $bg-grey-f6 !important;
        padding: 10px 15px;
        margin: 0;
        font-size: 1.250em;
        font-weight: 600 !important;
    }

    .acc_content {
        background-color: $bg-grey-f6 !important;
        border-top: 0 none !important;
        padding-top: 0 !important;
        color: $txt-grey-333;
    }
}

.faq-wrap {
    background-color: $bg-white;

    h2 {
        padding: 0 15px;
    }


    .acc_content {
        background-color: $bg-white !important;
        border-top: 0 none !important;
        padding-top: 0 !important;
    }
}
