@import '../../../../../styles/variables/vars.scss';
@import '../../../../../styles/variables/mixins.scss';

.preview-section {
	padding: 20px 0;
	font-weight: 600;
	color: $txt1;

	strong {
		margin: 0 20px 20px 20px;
		display: block;
	}

	&__orange-button {
		padding: 12px 30px !important;
		margin: 0 auto;
		display: flex !important;
		align-items: center;
		justify-content: center;
	}

	.accordion__item {
		border-top: none !important;
		border-bottom: none !important;
	}
}

.preivew-scroll {
	overflow-y: scroll;
	height: 360px;
}

.change-theme {

	border-top: 1px solid $grey2;

	&--theme-heading {
		display: block;
		padding: 15px 20px;
		color: $blue1;
		position: relative;
		background: $white;

		&:after {
			position: absolute;
			right: 22px;
			top: 14px;
			content: '+';
			font-size: 2.1rem;
		}
	}	

	&--active {
		background-color: $blue1;
		color: $white !important;

		a {
			color: $white !important;
		}

		&:after {
			position: absolute;
			right: 25px;
			top: 14px;
			content: '-';
			font-size: 2.1rem;
		}

		.icon-change-theme {
		    background-position: 0 -107px;
		}

		.icon-change-font {
		    background-position: -50px -107px;
		}

		.icon-change-reorder {
		    background-position: -107px -107px;
		}
	}

	.accordion__button {
		padding: 0 !important;
		background: $grey-bg1 !important;
	}

	.accordion__panel {
		border: 1px solid transparent;
	}

	.accordion__item {
		border-top: none !important;
		border-bottom: none !important;
	}
}

.change-theme-content {
	list-style-type: none;
	margin: 20px 0 15px 0;
	padding: 0;

	li {
		color: $blue1;
		display: inline-block;
		width: 48%;
		margin: 5px 0;
		padding: 0 15px;

		input {
			display: none;

			&:checked + label {
				display: block;

				&:after {
					content: '';
					background: $sprite -167px -108px;
					width: 23px;
					height: 23px;
					z-index: 999;
					position: absolute;
					top: -10px;
					left: 10px;
					display: inline-block;
					box-shadow: 0 4px 10px 0 rgba(90,89,89,0.50);
					@include border-radius(100%);
				}
			}
		}

		label {
			position: relative;
			width: 102px;
			height: 32px;
			display: block;
			cursor: pointer;
			@include border-radius(4px);
			box-shadow: 0 2px 4px 0 rgba(180,177,177,0.50);

			.theme-green {
				width: 50%;
				height: 32px;
				display: inline-block;
				background-color: $theme-green;
				border-bottom-left-radius: 5px;
				border-top-left-radius: 5px;
			}
			.theme-blue {
				width: 50%;
				height: 32px;
				display: inline-block;
				background-color: $theme-blue;
				border-bottom-left-radius: 5px;
				border-top-left-radius: 5px;
			}
			.theme-red {
				width: 50%;
				height: 32px;
				display: inline-block;
				background-color: $theme-red;
				border-bottom-left-radius: 5px;
				border-top-left-radius: 5px;
			}
			.theme-black {
				width: 50%;
				height: 32px;
				display: inline-block;
				background-color: $theme-black;
				border-bottom-left-radius: 5px;
				border-top-left-radius: 5px;
			}
			.theme-brown {
				width: 50%;
				height: 32px;
				display: inline-block;
				background-color: $theme-brown;
				border-bottom-left-radius: 5px;
				border-top-left-radius: 5px;
			}
			.theme-violet {
				width: 50%;
				height: 32px;
				display: inline-block;
				background-color: $theme-violet;
				border-bottom-left-radius: 5px;
				border-top-left-radius: 5px;
			}
		}
	}
}

.change-font-content {
	list-style-type: none;
	margin: 0;
	padding: 0 0 15px 0;

	li {
		display: block;
		margin: 20px 15px 25px 15px;

		strong {
			margin: 0 0 15px 0;
			display: block;
			color: $txt2;
			font-weight: 400;
		}
	}

	&--font-box {
		background: $grey2; 
		height: 8px; 
		@include border-radius(5px); 
		width: 100%; 
		position: relative; 
		font-size: 1.2rem; 
		color: $txt1;
	}

	&--font-bar {
		width: 0%; 
		background-color: $blue1; 
		line-height: 8px; 
		height: 8px;

		&__bar {
			position: absolute; 
			right: 205px;
			top: -4px;
			width: 15px; 
			height: 15px; 
			overflow: hidden;
			width: 15px; 
			background-color: $blue1; 
			height: 15px;
			@include border-radius(100%); 
		}
	}

	&--text-align {
		@include flexbox();
		justify-content: space-between;
		font-size: 1.2rem;
		color: $txt2;
		margin-top: 5px;
		font-weight: 400;
	}
}

.reorder-content {
	margin-top: 20px;
	&--select-box {
		border: 1px solid $grey2;
		height: 34px;
		margin: 5px 5px;
		padding: 0 5px 0 10px;
		font-size: 1.3rem;
		@include flexbox();
		align-items: center;

		.icon-descend, .icon-ascend {
			display: none;
		}

		&__select {
			box-shadow: 0 0 9px 0 rgba(140,140,140,0.40);
			.icon-descend, .icon-ascend {
				display: inline-block;
				cursor: pointer;
			}

		}
	}

}
