{% extends "mobile/basic/base.html" %}
{% load static compress %}
{% load humanize search_tags compress %}
{% block css_section %}
{{ block.super }}
    {% compress css %}
    <link type="text/scss" href="{% static 'shinelearn/css/mobile/common/checkbox.scss' %}" rel="stylesheet">
    <link type="text/scss" href="{% static 'shinelearn/css/mobile/shop/course-detail.scss' %}" rel="stylesheet">
    <link type="text/scss" href="{% static 'shinelearn/css/mobile/common/slick.scss' %}" rel="stylesheet">
    <link type="text/scss" href="{% static 'shinelearn/css/mobile/common/smk-accordion.scss' %}" rel="stylesheet">
    <link type="text/scss" href="{% static 'shinelearn/css/mobile/zopim_chat/custom.css' %}" rel="stylesheet">
    <link type="text/css" href="{% static 'shinelearn/css/common/mobile/typeaheadjs.css' %}" rel="stylesheet">
    {% endcompress css %}
{% endblock css_section %}
{% block title %}
  {% if meta.title %}{{ meta.title }}{% else %}{{prd_H1}}{% endif %}
{% endblock title %}
{% block canonical_url %}
  <link rel="canonical" href="https://{{ SITE_DOMAIN }}{{canonical_url}}">
{% endblock canonical_url %}

        {% block django_meta %}
            {% include 'meta/meta.html' %}
        {% endblock django_meta %}


{% block header %}
    <header class="w100fl he-auto">
        <img aria-label="header image" src="{% static 'shinelearn/images/mobile/shop/header-img-3.png' %}">
        <!-- header menu Icon Starts here -->

        {% if not navigation %}
            <div class="main-menu w100fl">
                <div class="pull-left">
                    <!--a id="sidebar-main-trigger" class="icon-bar pull-left" role="button"></a-->
                </div>

                <div class="pull-right">

                   <!--a class="icon-search pull-left" href="search-listing.html">search</a-->

                   <!--a class="icon-cart" href="{% url "cart:payment-summary" %}" >cart <span id="cart-counter-id">{{cart_count}}</span></a-->
                </div><!-- / Right side Icon ends here -->
            </div><!-- header menu Icon ends here -->
        {% else %}
            <div class="main-menu w100fl">
                <div class="pull-left">
                    <a id="sidebar-main-trigger" class="icon-bar pull-left" role="button"></a>
                </div>
                <div class="pull-right" style="width:90%;">
                    
                   <a class="icon-cart pull-right" href="{% url "cart:payment-summary" %}" >cart <span id="cart-counter-id">{{cart_count}}</span></a>
                   <form method='get' id="search-form">
                    <div class="searchbox">
                        <input id='id_q' type="text" placeholder="Search here" name="search" class="searchbox-input" autocomplete="off">
                        <span class="searchbox-icon"></span>
                    </div>
                    </form>
                </div><!-- / Right side Icon ends here -->
            </div><!-- header menu Icon ends here -->
        {% endif %}


        <h1 class="heading-back w100fl pb-0">{{prd_H1}}</h1>
         {% block breadcrumbs %}
                  {% if sqs.id in linkedin_resume_services %}
                    <ol class="breadcrumb mt-30 z-auto" itemscope itemtype="http://schema.org/BreadcrumbList">
                        <li class="active"></li>
                    </ol>
                  {% else %}
                    {% include "shop/partials/breadcrumb.html" %}
                  {% endif %}
              {% endblock breadcrumbs %}
        <div class="clearfix"></div>
        {% include "shop/partials/packagediv.html" %}
    </header><!-- header ends here -->    
{% endblock header %}

{% block container %}
    <div class="body-wrapper">
        <section class="content-box">
            <div class="mb-10 c6">
                {% if prd_num_rating %}
                <div class="rating inline-block ml-0 fs-12">
                  <sup class="fill-star"></sup>
                  {{prd_rating}}/5
                </div><!-- end of star rating -->
                {% endif %}
                <ul class="inline-block fs-12 jobs-icon-wrap">
                    <li>
                        <figure class="icon-comments"></figure>
                        {% if prd_num_rating %}
                        <a href="javascript:void(0);">{{prd_num_rating}}
                        {%if prd_num_rating == 1 %}
                            review
                            {%else%}
                            reviews
                            {% endif %}
                        </a>
                        {% else %}
                        <span class="fs-11">Write a review</span>
                        {% endif %}
                    </li>
                    {% if prd_num_jobs %}
                        <li>
                            <figure class="icon-bag"></figure>
                            <strong>{{prd_num_jobs}} Jobs</strong>
                        </li>
                    {% endif %}
                    <li>
                        <figure class="icon-jobs"></figure>
                        <strong>
                            {{prd_num_bought}}
                        </strong> bought
                    </li>
                    {% if prd_cert %}
                        <li>
                            <figure class="icon-certificate"></figure>
                        </li>
                    {% endif  %}
                </ul>
            </div><!-- end of icons wrapper -->
        
        <hr class="row">
        <article class="mt-20">
        {% if prd_about %}
            <h2>Overview</h2>
            <style>
                .morecontent span {
                      display: none;
                  }
                  .morelink {
                      display: block;
                  }
            </style>
            <p class="more">
                {{prd_about|safe}}
            </p>
            <!--<p><a href="#">know more</a></p>-->
        {% endif %}
        
            {% include "mobile/shop/partials/prd_cart.html" %}
            {% include "mobile/shop/partials/product_child.html" %}
            {% include "mobile/shop/partials/frequentlybought.html" %}
            <!-- Select products container Satrts here  -->
            {% include "mobile/shop/partials/product_variations.html" %}

            <!-- Select products container ends here -->
            <div class="container mb-30">
            <!-- Accordion begin -->
                <div class="accordion_example1 accordion-wrap row">
                    <!-- Section 1 -->
                    {% if prd_desc %}    
                        <div class="accordion_in">
                            <div class="acc_head">About Product</div>
                            <div class="acc_content">
                                <p>{{prd_desc|safe}}</p>
                            </div>
                        </div>
                    {% endif %}
                    
                    {% if prd_uget %}
                        <!-- What’ll you get starts here  -->
                        <div class="accordion_in">
                            <div class="acc_head">What’ll you get</div>
                            <div class="acc_content">
                                <p>{{prd_uget|safe}}</p>
                            </div>
                        </div><!-- What’ll you get edns here  -->
                    {% endif %}
                        <!-- Delivery flow starts here  -->
                        <div class="accordion_in">
                        {% include "mobile/shop/partials/delivery_flow.html" %}
                        </div>
                        <!-- Delivery flow ends here  -->
                        <!-- Program Structure starts here  -->
                        <div class="accordion_in">
                        {% include "mobile/shop/partials/program_structure.html" %}
                        </div>
                        <!-- Program Structure ends here  -->
                    </div>
                    <!-- Accordion end -->
                    <!-- Accordion FAQ’s Starts here  -->
                    <div class="accordion_example1 faq-wrap row mt-40">
                        <h2>FAQ’s</h2>
                        <div class="accordion_in">

                            {% include "mobile/shop/partials/faq.html" %}

                        </div>
                    </div>
                    <!-- Accordion FAQ’s Ends here  -->
                </div><!-- end of container -->
                <!-- Revew Slide widget -->
                {% include "mobile/shop/partials/reviews.html" %}
            </article>
        </section><!-- end of section here -->
    </div><!-- body wrapper ends here -->

    {% if prd_service == 'course' and pop %}
        <div class="sidebar" id="sidebar-secondary">
            <div class="right-navbar pt-0">
                <h2 class="mb-0">Other providers</h2>
                <ul class="underline">
                {% for provider in pop_list|slice:"0:4" %}
                    <li>
                        <a href="{{provider.url}}" for="test1">
                            <span>
                                <img aria-label="provider vendor image" src="{{provider.vendor.image.url}}" style="z-index: 10;">
                                {{provider.vendor}} - {{provider.heading}} (Rs.{{provider.inr_price|floatformat:"0"}})
                            </span>
                        </a>
                    </li>
                {% endfor %}
                </ul>
            </div>
        </div>
    {% elif product.type_flow == 5 %}
        <!-- Other packages start here -->
        <div class="sidebar" id="sidebar-secondary">
          <div class="right-navbar packages pt-0">
            <h2 class="mb-0">Other packages</h2>
            <ul class="underline">
            {% for package in pop_list|slice:"0:4"  %}
                <li>
                    <a href="{{package.url}}">
                    {% if package.duration %} 
                        <strong>
                            {{ package.duration }} days
                        </strong>
                    {% endif %}
                    </a>
                </li>
            {% endfor %}
            </ul>
          </div>
        </div><!-- Other packages ends here -->
    {% else %}
    <!-- Other packages start here -->
    <div class="sidebar" id="sidebar-secondary">
      <div class="right-navbar packages pt-0">
        <h2 class="mb-0">Other packages</h2>
        <ul class="underline">
        {% for package in pop_list|slice:"0:4"  %}
            <li>
                <a href="{{package.url}}{% if sqs.id in linkedin_resume_services %}?token={{request.GET.token}}{% endif %}" class="blue-link pb-0">
                {% if package.experience %} 
                    <strong>
                        {{package.experience|get_choice_display:"EXP_DICT"}}
                    </strong>
                {% endif %}
                </a>
            </li>
        {% endfor %}
        </ul>
      </div>
    </div><!-- Other packages ends here -->
    {% endif %}

    {% if prd_service == 'resume' and var_list %}
        <!-- Select countries (optional) start here -->
        <div class="sidebar" id="sidebar-countries">
            <div class="right-navbar packages pt-0">
                <ul class="underline">
                {% for country in var_list %}
                    <li id="element_checked">
                        <input {% if country.id in selected_products %}checked{% endif %}
                        value='{{country.id}}' name="required_option" type="checkbox"data-id="{{country.id}}" data-price="{{country.inr_price}}" actual-price="{% if country.fake_inr_price %} {{country.fake_inr_price}}{% else %}{{country.inr_price}}{% endif %}" id="{{country.label}} ">
                        <label for="{{country.label}} ">
                            <p class="pb-0" id="text_val">{{country.label}}</p>
                        </label>
                    </li>
                {% endfor %}
                </ul>
                <div class="bottom-btn">
                    <a href="#" class="btn-slg btn-blue btn-round w100fl text-center" 
                    id="done_click">
                        DONE
                    </a>
                </div>
            </div>
        </div><!-- Select countries (optional) ends here -->
    {% endif %}
    <!-- leadform start here -->
    <!-- call us and chat widget starts here -->
    {% block call_us %}
        {% include "shop/partials/call_us.html" %}
    {% endblock call_us %}
{% endblock container %}

{% block js_section %}
    
    {{block.super}}
    {% compress js %}
    <script src="{% static 'shinelearn/js/mobile/cart/cart.js' %}"></script>
    <script src="{% static 'shinelearn/js/cart/cart.js' %}"></script>
    <script src="{% static 'shinelearn/js/mobile/shop/detail.js' %}"></script>
    <script src="{% static 'shinelearn/js/users/login.js' %}"></script>
    <script src="{% static 'shinelearn/js/mobile/zopim_chat/custom.js' %}"></script>
    {% endcompress %}
    
<script type="text/javascript">
    var display_info = " ";

function toggle_review(text_to_display) {
	display_info = text_to_display;
	var review_display = $('#review').children('h2').text();
	if (review_display == " ") {

		$('#review').children('h2').text('Reviews');
		$('#review').children('a').text(text_to_display);
		$('#review').children('a').css({
			'right': '15px',
			'left': '',
			'margin-top': '0px'
		});
		if ($('#write_review_container').is(":visible")) {
			$('#review').children('a').before('<input type="button" class="review-close" id="close" onclick="close_review()" value="X"></input>');
		}
	} else {
		$('#review').children('h2').text($('#review').children('a').text());
		$('#review').children('a').before('<input type="button" id="close" class="review-close" onclick="close_review()" value="X"></input>');
		$('#review').children('a').css({
			'display': 'none'
		});
	}
}

function close_review() {
	$('#close').remove();
	$('#review').children('h2').text("Reviews");
	$('#review').children('a').css({
		'display': 'block'
	});
	$('#write_review_container').css({'display':'none'});
	$('#write_review_container').css({
		'height': ''
	});
}

</script>

    <script type="text/javascript">
        $(document).ready(function(){  
            funcAreaSet = {{ func_area_set|safe }}
            if(commonJs.getParameterByName('type') == 'autoEnrol'){
               $('#enrol-now-button').trigger('click'); 
            }
            if(commonJs.getParameterByName('type') == 'autoCart'){
               $('#add-to-cart').trigger('click');
            } 
            
        });
        
    </script>
{% endblock js_section %}


{% if sqs.id in linkedin_resume_services %}
  {% block zendesk %}
    {{block.super}}
  {% endblock zendesk %}
{% endif %}


