div[data-test-id="ChatWidgetMobileButton"]{
    display: none !important;
}

div[data-test-id="ChatWidgetMobileUnreadCountBadge"]{
    height: 30px;
    left: 92%;
    bottom: 22px;
    width: 100%;
}


