@import '../../../../styles/functions';
@import '../../../../styles/variables';
@import '../../../../styles/mixins';


.howItWork {
    background-image: url('#{$path}/how-it-works.png');
    height: 225px;
    background-size: cover;
    position: relative;
    margin-top: -55px;

    &__wrap {
        padding-top: 60px;
        color: #333;
    }
}
