@charset "utf-8";
/* CSS Document */

@import url('https://fonts.googleapis.com/css?family=Open+Sans');

body {
	font-family: 'Open Sans', sans-serif;
}

* {
	box-sizing: border-box;
	margin: 0px auto;
	padding: 0px auto;
	webkit-transition: all 100ms ease-out;
    -moz-transition: all 100ms ease-out;
    -ms-transition: all 100ms ease-out;
    -o-transition: all 100ms ease-out;
}

a {
	text-decoration: none;
	color: #1d66af;
	-webkit-transition: all 250ms ease-in;
    -moz-transition: all 250ms ease-in;
    -o-transition: all 250ms ease-in;
    transition: all 250ms ease-in;
}
a:hover {
	color: #ff6d38;
	transition: all ease-in-out .2s;
}


.container-full {
	width: 100%;
	height: auto;
}

.container {
	width:90%;
    height: auto;    
}
.row {	
	width:100%;
	margin: 0;
	padding: 0;
}

.bg-red
{
	background: #ed3124;
}

.bg-grey
{
	background: #eeeeee;
}

img {
	border:none;
}

.box-padding {
	padding:50px 0px 50px 0px;
}


.text-center {
	text-align: center;
}

.pull-left {
	float: left;
}
.pull-right {
	float: right;
}

.clear-fix {
	clear: both;
}

.float-none {
	float: none;
}


h1 {
    font-size: 32px;
    color: #1f3c6b;
    line-height: 35px;
    font-weight: 600;
    padding-bottom: 30px;
    margin-bottom: 10px;
	margin-top: 40px;
	display: inline-block;
}


h1 span{
    font-size: 24px;
    color: #1f3c6b;
    font-weight: normal;
	display:block;
}

h2 {
    font-size: 28px;
    color: #fff;
    line-height: 36px;
    font-weight: 600;
    padding-bottom: 5px;
	padding-top: 15px;
}

h3 {
    font-size: 20px;
    color: #005aab;
    font-weight: normal;
    text-transform: uppercase;
}

h4 {
    display: block;
    text-align: center;
    color: #005aab;
    font-size: 20px;
    font-weight: 300;
    padding-bottom: 20px;
    text-transform: uppercase;
}

.top-head-sec {
	background-image: url(top-head-bg.jpg);
	background-repeat: no-repeat;
	background-size: cover;
    display: block;
    min-height: 566px;
	background-color: #e5e5e5;
}

.top-baner-left
{
	width:65%;
	float: left;
}

.top-baner-rgt
{
	width:35%;
	float: right;
}

.sprite {
	background-image: url(sprite.png);
	background-repeat: no-repeat;
}

.logo-main {
    margin: 15px 0px;
    background-position: -15px -0px;
    width: 300px;
    height: 68px;
    display: table-cell;
    float: left;
}

/* contact us start*/

.contact-icon {
    margin-right: 10px;
    background-position: -21px -87px;
    width: 33px;
    height: 32px;
    display: inline-block;
    float: left;
	font-size: 16px;
    color: #ffcf27;
}

.contact-box {
    font-size: 16px;
    color: #ffcf27;
    vertical-align: top;
    line-height: 35px;
    float: right;
	margin-top: 40px;
}
/* contact us end*/


/* banner li list start*/
.career {
	margin-top: 10px;
	padding-left: 0;
}

.career li {
    list-style-type: none;
    font-size: 16px;
    margin: 21px 0px 0px 0px;
    padding-left: 25px;
    color: #333;
    display: block;
    line-height: 20px;
    margin-right: 30px;
	background: url(arrow.png) no-repeat top left;
	background-position: 0px 4px;
}
/* banner li list end*/



/* form start*/
.register-bx-sec {
	width: 281px;
	border-radius: 5px;
    padding:9px 15px 0px 15px;
    text-align: left;
    background: #1f3c6b;
}



.register-bx-sec p {
    font-size: 18px;
    color: #fff;
    line-height: 24px;
    padding-bottom: 10px;
}

.register-bx-sec-cod {
    width: 100%;
    background: transparent;
    color: #fff !important;
    visibility: visible;
    padding: 13px 0px 13px 8px;
    margin-bottom: 14px;
    border: none;
    font: normal 14px "Open Sans";
    outline: 0;
    border-bottom: 1px #5880bf solid;
	margin-top: -2px;
}


.register-bx-sec input {
    width: 100%;
    background: transparent;
    color: #fff !important;
    visibility: visible;
    padding: 13px 0px 13px 8px;
    margin-bottom: 14px;
    border: none;
    font: normal 14px "Open Sans";
    outline: 0;
    border-bottom: 1px #5880bf solid;
}

.register-bx-sec input::placeholder {
   
    color: #fff;
}


.message_input {
    width: 100%;
    background: transparent;
    color: #fff !important;
    visibility: visible;
    padding: 13px 0px 13px 8px;
    margin-bottom: 14px;
    border: none;
    font: normal 14px "Open Sans";
    outline: 0;
    border-bottom: 1px #5880bf solid;
	height: 70px
}

.message_input::placeholder {
	color: #fff;
}


.register-bx-sec input#submit {
    background-color: #ffcf27;
    border: none;
    padding: 10px 0px;
    color: #1f3c6b !important;
    width: 100%;
    text-align: center;
    font-size: 15px;
    cursor: pointer;
    text-transform: uppercase;
    margin-top: 0;
	outline: 0;
	border-radius: 3px;
 
}
/* form end*/


/* main box start*/

.main-bx {
    width: 92%;
    margin:0px auto;
	line-height: 23px;
	text-align: center;
	font-size: 15px;
    color: #333333;
}

/* main box end*/




/* course highlight start */
.course-high {
	background: url(highlight.jpg) no-repeat top center;
	background-size:cover;
	min-height:312px;
	padding-bottom: 2px;
}

.course-high h2 {
    display: block;
    text-align: center;
    color: #fff;
    font-size: 20px;
    font-weight: 300;
    padding-bottom: 30px;
    text-transform: uppercase;
    padding-top: 30px;
}

.course-bx {
	border:1px #87b2f7 solid;
	padding: 25px 0px;
	color: #fff;
	text-align: center;
	font-size: 15px;
	margin-bottom: 30px;
}

.course-bx a {
	color: #fff;
	text-decoration: none;
}

.course-bx a:hover {
	color: #87b2f7;
	text-decoration: none;
}
/* course highlight end */

/* boottom box start*/
.wht-atnd {
	margin: 0px;
	background: url(btm-txt-bg.jpg) no-repeat bottom right #f3f3f3;
	min-height: 365px;
	padding-top: 75px;
}


.wht-atnd  ul {
   	margin-top: 10px;
	padding-left: 20px;
}

.wht-atnd li {
    margin-right: 25px; 
    padding: 9px 0;
    font: normal 16px 'Open Sans';
    text-align: left;
	list-style:square;	
	color: #333333;
}
/* boottom box end*/

.error{
    border-bottom: 1px #ff0000 solid !important;
};



@media screen and (max-width: 1024px) {
	
.top-baner-left {
    width: 60%;
    float: left;
}

.top-baner-rgt {
    width: 37%;
    float: right;
}	
	
h1 {
    font-size: 32px;
    color: #1f3c6b;
    line-height: 35px;
    font-weight: 600;
    padding-bottom: 30px;
    margin-bottom: 30px;
	margin-top: 40px;
	display: inline-block;
}


h1 span{
    font-size: 24px;
    color: #1f3c6b;
    font-weight: normal;
	display:block;
}

h2 {
    font-size: 28px;
    color: #fff;
    line-height: 36px;
    font-weight: 600;
    padding-bottom: 15px;
	padding-top: 15px;
}


.career li {
    list-style-type: none;
    font-size: 16px;
    margin: 21px 0px 0px 0px;
    padding-left: 25px;
    color: #333;
    display: block;
    line-height: 20px;
    margin-right: 30px;
	background: url(arrow.png) no-repeat top left;
	background-position: 0px 4px;
}
	
.register-bx-sec {
	width: 281px;
	border-radius: 5px;
    padding:15px 15px 5px 15px;
    text-align: left;
    background: #1f3c6b;
}
.course-bx {
    border: 1px #87b2f7 solid;
    padding: 25px 0px;
    color: #fff;
    text-align: center;
    font-size: 13px;
    margin-bottom: 30px;
}

}


@media screen and (max-width: 768px) and (min-width: 320px) {
	
	ul {
	margin: 0;
    padding: 0;
	}
	
.top-baner-left {
    width: 100%;
    float: left;
}

.top-baner-rgt {
    width: 100%;
    float: left;
}	
	
h1 {
    font-size: 22px;
    color: #1f3c6b;
    line-height: 35px;
    font-weight: 600;
    margin-top: 40px;
    width: 100%;
	margin-bottom: 0;
}


h1 span{
    font-size: 20px;
    color: #1f3c6b;
    font-weight: normal;
	display:block;
}

h2 {
    font-size: 28px;
    color: #fff;
    line-height: 36px;
    font-weight: 600;
    padding-bottom: 15px;
	padding-top: 15px;
}
	
h3 {
    font-size:17px;
    color: #005aab;
    font-weight: normal;
    text-transform: uppercase;
}
	
.career {
    margin-top: 10px;
    padding-left: 0;
    padding-bottom: 20px;
}

.career li {
    list-style-type: none;
    font-size: 15px;
    margin: 15px 0px 0px 0px;
    padding-left: 25px;
    color: #333;
    display: block;
    line-height: 20px;
    margin-right: 30px;
	background: url(arrow.png) no-repeat top left;
	background-position: 0px 4px;
}
	
.register-bx-sec {
	width: 100%;
	border-radius: 5px;
    padding:15px 15px 5px 15px;
    text-align: left;
    background: #1f3c6b;
	margin-top: 25px;
}
	
.course-bx {
    border: 1px #87b2f7 solid;
    padding: 25px 0px;
    color: #fff;
    text-align: center;
    font-size: 13px;
    margin-bottom: 30px;
}
	
}



