{% extends "mobile/basic/base.html" %}
{% load static compress %}
{% block title %}Forgot Password{% endblock %}
{% block css_section %}
{{ block.super }}

    {% compress css %}
    <link type="text/scss" href="{% static 'shinelearn/css/mobile/common/icons.scss' %}" rel="stylesheet">
    <link type="text/scss" href="{% static 'shinelearn/css/mobile/users/login.scss' %}" rel="stylesheet">
    <link type="text/css" href="{% static 'shinelearn/css/common/mobile/typeaheadjs.css' %}" rel="stylesheet">
    {% endcompress %}
{% endblock css_section %}
{% block header %}
    <!-- header menu Icon Starts here -->
    <header class="w100fl he-auto">
        <!-- header menu Icon Starts here -->
        <div class="main-menu w100fl">
            <div class="pull-left">
                
                <a class=" pull-left" id="sidebar-main-trigger" href="/"></a> 
                
                <a class="icon-back pull-left" role="button"  onclick="goBack()"></a> 
            </div><!-- / Left side Icon ends here -->

            <div class="pull-right">
                
                <!-- <a class="icon-cart" href="{% url "cart:payment-summary" %}" >cart <span id="cart-counter-id">{{cart_count}}</span></a> -->
            </div><!-- / Right side Icon ends here -->
        </div><!-- header menu Icon ends here -->

    </header><!-- header ends here -->
{% endblock header %}
    
{% block container %}
<!-- Tab content Satrts here -->
<div class="body-wrapper">
  <div class="content-box mt-20">

    <h2>Forgot Password</h2>
    <div class="row">
        <div class="col-lg-12">
            {% if messages %}
                {% for message in messages %}
                <div{% if message.tags %} class="alert alert-{{ message.tags }} alert-dismissable"{% endif %}>{{ message }}</div>
                {% endfor %}
            {% endif %}
        </div><!-- /.col-lg-12 -->
    </div>
  
    <form method="post" id="forgot_form" 
    action="{% url "users:forgot-email-sent" %}">
    {% csrf_token %}
        {% for field in reset_form %}
            <div class="form-group {% if field.errors %}error{% endif %}">
                {{field}}
                <p class="fs-12 c6 mt-5">Enter the Email Id which you are registered on Shine.com</p>
                {% for error in  field.errors %}{{ error }}{% endfor %}
            </div>
        {% endfor %}
        <input type="hidden" name="next" value="{{next_url}}">
      <button type="submit" class="btn btn-blue w100fl btn-round mb-20">
      Submit</button>
    </form>


  </div>
    </div>
<!-- Tab content ends here -->
{% endblock container %}

{% block js_section %}
    <script src="https://cdn.jsdelivr.net/npm/sweetalert2@9"></script>
    {{block.super}}
    {% compress js %}
    <script type="text/javascript" src="{% static 'shinelearn/js/users/forgot_password.js' %}"></script>
    {% endcompress %}
{% endblock js_section %}
{% block johukum %}
{% endblock johukum %}

{% block zendesk %}
{% endblock zendesk %}
