{% extends "mobile/basic/base.html" %}
{% load static %}
{% block title %}Forgot Password{% endblock %}
{% block css_section %}
{{ block.super }}
    <style type="text/css">
        .error {
            color: red;
        }
    </style>
    <link href="{% static 'shinelearn/css/mobile/common/icons.css' %}" 
    rel="stylesheet">
    <link href="{% static 'shinelearn/css/mobile/users/login.css' %}" 
    rel="stylesheet">
{% endblock css_section %}
    
{% block container %}
<!-- Tab content Satrts here -->
  <div class="content-box mt-20">

    <h2>Forgot Password</h2>
    <div class="row">
        <div class="col-lg-12">
            {% if messages %}
                {% for message in messages %}
                <div{% if message.tags %} class="alert alert-{{ message.tags }} alert-dismissable"{% endif %}>{{ message }}</div>
                {% endfor %}
            {% endif %}
        </div>
        <!-- /.col-lg-12 -->
    </div>
    <form method="post" id="forgot_form" 
    action="{% url "users:forgot-email-sent" %}">
    {% csrf_token %}
        {% for field in reset_form %}
            <div class="form-group {% if field.errors %}error{% endif %}">
                {{field}}
                {% for error in  field.errors %}{{ error }}{% endfor %}
            </div>
        {% endfor %}
      <button type="submit" class="btn btn-blue w100fl btn-round mb-20">
      Submit</button>
    </form>
  </div>
<!-- Tab content ends here -->
{% endblock container %}

{% block js_section %}
    {{block.super}}
    <script type="text/javascript">
    $().ready(function() {
        $("#forgot_form").validate({
            submitHandler: function(form) {
                var formData = $(form).serialize();
                var post_url = $(form).attr('action' );
                $.ajax({
                    url: post_url,
                    type: "POST",
                    data : formData,
                    dataType: 'json',
                    success: function(json) {
                        $("#forgot_form")[0].reset();
                        if (json.exist == true){
                            alert("Link has been sent your register email id");
                        }
                        else if (json.notexist == true){
                            alert("your email does not exist on shine learning");
                        }
                        else if (json.noresponse == true){
                            alert("Something went wrong. Try again later");
                        }
                    },
                    error: function(xhr, ajaxOptions, thrownError) {
                        alert("Something went wrong. Try again later");
                    }
                });
            },
            rules: {
                email:{
                    required:true,
                    email:true,
                }
            },
            messages:{
                email: { required:"Please enter a valid email address"},
            }
        });
    });
    </script>
{% endblock js_section %}
