{% extends "mobile/basic/base.html" %}
{% load static %}
{% block title %}Login Shine learning{% endblock %}
{% block css_section %}
{{ block.super }}
    <style type="text/css">
        .error {
            color: red;
        }
    </style>
    <link href="{% static 'shinelearn/css/mobile/common/checkbox.css' %}" 
    rel="stylesheet">
    <link href="{% static 'shinelearn/css/mobile/users/login.css' %}" 
    rel="stylesheet">
{% endblock css_section %}

{% block header %}
    <!-- header menu Icon Starts here -->
    <header class="w100fl he-auto">
        <!-- header menu Icon Starts here -->
        <div class="main-menu w100fl">
            <div class="pull-left">
                
                <a class=" pull-left" id="sidebar-main-trigger" href="/"></a> 
                
                <a class="icon-back pull-left" role="button"  onclick="goBack()"></a> 
            </div><!-- / Left side Icon ends here -->

            <div class="pull-right">
                
                <a class=" pull-left" href="search-listing.html">search</a>

                
                <a class=" pull-left" href="#">cart</a>
            </div><!-- / Right side Icon ends here -->
        </div><!-- header menu Icon ends here -->

    </header><!-- header ends here -->
{% endblock header %}


{% block container %}
    <div class="body-wrapper">
        <div class="tab-container">
            <ul class="tabs box-panel p-0">
                <li><a href="{% url 'login' %}" class="current">Login</a></li>
                <li><a href="{% url 'register' %}">Register</a></li>
            </ul>

            <!-- Tab content Satrts here -->
            <div class="content-box mt-20">
                {% if messages %}
                    {% for message in messages %}
                    <div {% if message.tags %} class="alert alert-{{ message.tags }} alert-dismissable"{% endif %}>{{ message }}</div>
                    {% endfor %}
                {% endif %}
                <form method="post" id="login_form" data-role="form">
                    {% csrf_token %}
                    {% for field in form %}
                        <div class="form-group {% if field.errors %}error{% endif %}">
                            {{field}}
                            {% for error in  field.errors %}{{ error }}{% endfor %}
                        </div>
                    {% endfor %}

                    <div class="form-group">
                        <p class="c9 pb-0">
                            <input type="checkbox" id="test10">
                            <label for="test10">Remember me</label>
                        </p>
                    </div>

                    <div class="form-group text-center">
                        <button type="submit" class="btn btn-blue w100fl btn-round mb-20">Login</button>
                        <a href="{% url "users:forgot-html" %}">Forgot Password?</a>
                    </div>

                    <div class="line_wrap w100fl">
                        <span>or sign in with</span>
                        <div class="line"></div>
                    </div>

                    <div class="social-login w100fl text-center">
                        <a class="fb" onclick="Login();">
                        <sup class="icon-fb-2"></sup></a>
                        <a href="{% url 'users:linkedin-code' %}" class="tw"><sup class="icon-tw-2"></sup></a>
                        <a class="gp" onclick="glogin()">
                        <sup class="icon-gp-2"></sup></a>
                    </div>
                    <div class="clearfix"></div>

                    <a href="#" class="any-query block mt-20 text-center row">Any Query ? We are here to help you..</a>
                </form>
            </div><!-- Tab content ends here -->
        </div><!-- container -->
    </div>
<script>
// Social Facebook Login 
    window.fbAsyncInit = function() {
        FB.init({
          appId  : '473197949429502', // App ID
          status : true, // check login status
          cookie : true, // enable cookies to allow the server to access the session
          xfbml  : true , // parse XFBML
          version: 'v2.10',
        });
    };
    
    function Login()
    {
        FB.login(function(response) {
           if (response.status == 'connected')
               {
                    var accessToken = response.authResponse.accessToken;
                    var expiresIn = response.authResponse.expiresIn;
                    window.location.href = '/user/social/login/?accessToken='+accessToken+'&expiresIn='+expiresIn+'&key=fb';
                    console.log(response);
               } 
            else 
                {
                 console.log('User cancelled login or did not fully authorize.');
                }
        },{scope: 'email'});
     }
    // Load the SDK asynchronously
    (function(d, s, id) {
        var js, fjs = d.getElementsByTagName(s)[0];
        if (d.getElementById(id)) return;
            js = d.createElement(s); js.id = id;
            js.src = "//connect.facebook.net/en_GB/sdk.js#xfbml=1&version=v2.10&appId=473197949429502";
            fjs.parentNode.insertBefore(js, fjs);
    }(document, 'script', 'facebook-jssdk'));


    // Social Gplus Login

    function loginCallback(result)
    {

        if(result['status']['signed_in'])
            {
                console.log(result);
                var access_token = result.access_token
                var expiresIn = result.expires_in
                window.location.href = '/user/social/login/?accessToken='+access_token+'&expiresIn='+expiresIn+'&key=gplus';
            }   
    }


    function glogin() 
    {
        var myParams = {
            'clientid' : '284765467291-lo164ec1u4pcnhtrbicird7tsdt553sm.apps.googleusercontent.com',
            'cookiepolicy' : 'single_host_origin',
            'callback' : 'loginCallback', //callback function
            'approvalprompt':'force',
            'scope' : 'profile email',
        };
        gapi.auth.signIn(myParams);
    }

    var auth2;
    var startApp = function() {
        gapi.load('auth2', function(){
            /* Retrieve the singleton for the GoogleAuth library and set up the client.*/
            auth2 = gapi.auth2.init({
                client_id: '284765467291-lo164ec1u4pcnhtrbicird7tsdt553sm.apps.googleusercontent.com',
                cookiepolicy: 'single_host_origin',
                /* Request scopes in addition to 'profile' and 'email'*/
                scope: 'profile email'
            });
        });
    };

    (function() {
       var po = document.createElement('script'); po.type = 'text/javascript'; 
       po.async = true;
       po.src = 'https://apis.google.com/js/client.js?onload=startApp';
       var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(po, s);
     })();
    
</script>
{% endblock container %}

{% block js_section %}
    {{block.super}}
    <script src="{% static 'shinelearn/js/users/login.js' %}"></script>
{% endblock js_section %}
{% block johukum %}
{% endblock johukum %}

