{% extends "mobile/basic/base.html" %}
{% load static %}
{% block title %}Forgot Password{% endblock %}
{% block css_section %}
{{ block.super }}
    <link href="{% static 'shinelearn/css/mobile/common/icons.css' %}" 
    rel="stylesheet">
    <link href="{% static 'shinelearn/css/mobile/users/login.css' %}" 
    rel="stylesheet">
{% endblock css_section %}
    
{% block container %}
<!-- Tab content Satrts here -->
  <div class="content-box mt-20">

    <h2>Forgot Password</h2>
    <p class="fs-12">
        Enter the Email ID with which you are registered on Shine.com
    </p>    
    <form method="post" id="forgot_form">
        {% for field in reset_form %}
            <div class="form-group {% if field.errors %}error{% endif %}">
                {{field}}
                {% for error in  field.errors %}{{ error }}{% endfor %}
            </div>
        {% endfor %}
      <button type="submit" class="btn btn-blue w100fl btn-round mb-20">
      Submit</button>
    </form>
  </div>
<!-- Tab content ends here -->
{% endblock container %}

{% block js_section %}
    {{block.super}}
    <script src="{% static 'shinelearn/js/users/login.js' %}"></script>
{% endblock js_section %}
