@import '../../../../../../styles/functions';
@import '../../../../../../styles/variables';
@import '../../../../../../styles/mixins';

.ui-list {
    list-style-type: none;
    margin: 0;
    padding: 0;
    display: flex;
    align-items: center;

    li {
        width: 22rem;
        height: 19.5rem;
        overflow: hidden;
        box-shadow: $box-shadow-sm;
        padding: 2rem;

        a {
            width: 100%;
            overflow: hidden;
            text-align: center;

            h3 {
                font-size: 1.4rem;
                font-weight: 600;
            }

            figure {
                height: 11rem;
                margin-bottom: 2rem;
                display: flex;

                img {
                    align-self: flex-end;
                    margin: 0 auto;
                }
            }
        }

        &:not(:last-child) {
            margin-right: 3rem;
        }

        &:hover, &:focus {
            box-shadow: $box-shadow;
        }

        &.active {
            position: relative;
            overflow: hidden;
            border-top-right-radius: .4rem;
            box-shadow: $box-shadow;

            &::before {
                width: 0;
                height: 0;
                border-top: 5rem solid $green;
                border-left: 5rem solid transparent;
                content: '';
                position: absolute;
                top: 0;
                right: 0;
            }

            &::after {
                content: '';
                position: absolute;
                top: 1rem;
                right: .6rem;
                background: $sprite  -88px -184px;
                width: 1.5rem;
                height: 1.2rem;
            }
        }
    }
}