        <!-- Accordion begin -->
        {% if sqs.pTF == 1 or sqs.pTF == 12 or sqs.pTF == 13 %}
            <!--Cover letter/second regular resume starts here  -->

                <h4 class="acc_head">How to begin</h4>
                <div class="acc_content">
                    <ul class="define-flow">
                        <li>
                            <span><sup class="icon-cart-df"></sup></span>
                            <p>Place order and upload your initial resume</p>
                            <small></small>
                        </li>

                        <li>
                            <span><sup class="icon-call-df"></sup></span>
                            <p>Our resume expert will contact you for discussion</p>
                            <small></small>
                        </li>

                        <li>
                            <span><sup class="icon-feedback-df"></sup></span>
                            <p>Receive 1st draft and give feedback to the expert</p>
                            <small></small>
                        </li>

                        <li>
                            <span><sup class="icon-download-df"></sup></span>
                            <p>Download your finalized professional resume</p>
                        </li>
                    </ul>
                </div>
        {% elif sqs.pTF == 2 %}
            <!--Courses starts here  -->

                <h4 class="acc_head">How to begin</h4>

                <div class="acc_content">
                    <ul class="define-flow">
                        <li>
                            <span><sup class="icon-cart-df"></sup></span>
                            <p>Place order</p>
                            <small></small>
                        </li>

                        <li>
                            <span><sup class="icon-material-df"></sup></span>
                            <p>Receive online access/study material from course provider </p>
                            <small></small>
                        </li>

                        <li>
                            <span><sup class="icon-learning-df"></sup></span>
                            <p>Access the material and start learning</p>
                            <small></small>
                        </li>

                        <li>
                            <span><sup class="icon-certified-df"></sup></span>
                            <p>Appear for exam – Get Certified (only if there is certificate available)</p>
                        </li>
                    </ul>
                </div>
        {% elif sqs.pTF == 3 %}
            <!--Resume Critique starts here  -->

                <h4 class="acc_head">How to begin</h4>

                <div class="acc_content">
                    <ul class="define-flow">
                        <li>
                            <span><sup class="icon-cart-df"></sup></span>
                            <p>Place order and upload your resume</p>
                            <small></small>
                        </li>

                        <li>
                            <span><sup class="icon-evaluate-df"></sup></span>
                            <p>Our resume expert will evaluate your resume</p>
                            <small></small>
                        </li>

                        <li>
                            <span><sup class="icon-recieve-df"></sup></span>
                            <p>Receive feedback from resume expert</p>
                            <small></small>
                        </li>

                        <li>
                            <span><sup class="icon-resume-df"></sup></span>
                            <p>Apply feedback to develop the best resume yourself </p>
                        </li>
                    </ul>
                </div>
        {% elif sqs.pTF == 4 %}
            <!--International Profile update starts here  -->

                <h4 class="acc_head">How to begin</h4>

                <div class="acc_content">
                    <ul class="define-flow">
                        <li>
                            <span><sup class="icon-cart-df"></sup></span>
                            <p>Place order and upload your resume</p>
                            <small></small>
                        </li>

                        <li>
                            <span><sup class="icon-expert-df"></sup></span>
                            <p>Our expert will update your profile</p>
                            <small></small>
                        </li>

                        <li>
                            <span><sup class="icon-accessing-df"></sup></span>
                            <p>Start accessing your profile</p>
                            <small></small>
                        </li>

                        <li>
                            <span><sup class="icon-increase-df"></sup></span>
                            <p>Increase your chances of getting relevant job matches </p>
                        </li>
                    </ul>
                </div>
        {% elif sqs.pTF == 5 %}
            <!--Featured profile starts here  -->
                <h4 class="acc_head">How to begin</h4>
                <div class="acc_content">
                    <ul class="define-flow">
                        <li>
                            <span><sup class="icon-cart-df"></sup></span>
                            <p>Place order and upload your resume</p>
                            <small></small>
                        </li>

                        <li>
                            <span><sup class="icon-expert-df"></sup></span>
                            <p>Our expert will update your profile</p>
                            <small></small>
                        </li>

                        <li>
                            <span><sup class="icon-featured-df"></sup></span>
                            <p>Get featured on shine </p>
                            <small></small>
                        </li>

                        <li>
                            <span><sup class="icon-10x-df"></sup></span>
                            <p>Get 10x recruiter views </p>
                        </li>
                    </ul>
                </div>
        {% elif sqs.pTF == 6 %}
            <!--IDFY/Assessment reports starts here  -->
                <h4 class="acc_head">How to begin</h4>
                <div class="acc_content">
                    <ul class="define-flow">
                        <li>
                            <span><sup class="icon-cart-df"></sup></span>
                            <p>Place order</p>
                            <small></small>
                        </li>

                        <li>
                            <span><sup class="icon-expert-df"></sup></span>
                            <p>Upload your details on partner site</p>
                            <small></small>
                        </li>

                        <li>
                            <span><sup class="icon-verification-df"></sup></span>
                            <p>Verification process by the team</p>
                            <small></small>
                        </li>

                        <li>
                            <span><sup class="icon-download-df"></sup></span>
                            <p>Download Assessment report</p>
                        </li>
                    </ul>
                </div>
        {% elif sqs.pTF == 7 or sqs.pTF == 15 %}
            <!--Resume booster starts here  -->
                <h4 class="acc_head">How to begin</h4>
                <div class="acc_content">
                    <ul class="define-flow">
                        <li>
                            <span><sup class="icon-cart-df"></sup></span>
                            <p>Place order</p>
                            <small></small>
                        </li>

                        <li>
                            <span><sup class="icon-feedback-df"></sup></span>
                            <p>Upload resume</p>
                            <small></small>
                        </li>

                        <li>
                            <span><sup class="icon-1kx-df"></sup></span>
                            <p>Resume shared with 1000+ Recruiters</p>
                            <small></small>
                        </li>

                        <li>
                            <span><sup class="icon-call-df"></sup></span>
                            <p>Increase chances of getting Interview Calls</p>
                        </li>
                    </ul>
                </div>
        {% elif sqs.pTF == 9 %}
            <!--Round one starts here  -->
                <h4 class="acc_head">How to begin</h4>
                <div class="acc_content">
                    <ul class="define-flow">
                        <li>
                            <span><sup class="icon-cart-df"></sup></span>
                            <p>Place order</p>
                            <small></small>
                        </li>

                        <li>
                            <span><sup class="icon-feedback-df"></sup></span>
                            <p>Upload resume</p>
                            <small></small>
                        </li>

                        <li>
                            <span><sup class="icon-talk-df"></sup></span>
                            <p>Talk to referrals </p>
                            <small></small>
                        </li>

                        <li>
                            <span><sup class="icon-call-df"></sup></span>
                            <p>Get an interview call</p>
                        </li>
                    </ul>
                </div>
        {% elif sqs.pTF == 10 %}
            <!--Courses study Mate starts here  -->
                <h4 class="acc_head">How to begin</h4>
                <div class="acc_content">
                    <ul class="define-flow">
                        <li>
                            <span><sup class="icon-cart-df"></sup></span>
                            <p>Place order</p>
                            <small></small>
                        </li>

                        <li>
                            <span><sup class="icon-assessment-df"></sup></span>
                            <p>Give assessment to start your course </p>
                            <small></small>
                        </li>

                        <li>
                            <span><sup class="icon-educators-df"></sup></span>
                            <p>Learn from best educators in the industry</p>
                            <small></small>
                        </li>

                        <li>
                            <span><sup class="icon-certified-df"></sup></span>
                            <p>Get Certified</p>
                        </li>
                    </ul>
                </div>
        <!-- Accordion end -->
        {% elif sqs.pTF == 16 %}
            <!--Courses study Mate starts here  -->
                <h2 class="fs-18">How it works</h2>
                <ul class="define-flow">
                    <li>
                        <span><sup class="icon-cart-df"></sup></span>
                        <p>Place order</p>
                        <small></small>
                    </li>

                    <li>
                        <span><sup class="icon-link-df"></sup></span>
                        <p>Get the link of the test onmail and sms</p>
                        <small></small>
                    </li>

                    <li>
                        <span><sup class="icon-test-df"></sup></span>
                        <p>Complete your test</p>
                        <small></small>
                    </li>
                    <li>
                        <span><sup class="icon-report-df"></sup></span>
                        <p>Get test reports and explanation to every question</p>
                        <!-- <small></small> -->
                    </li>

                    <!-- <li>
                        <span><sup class="icon-certified-df"></sup></span>
                        <p>Certificate gets added to your <br/>shine profile</p>
                    </li> -->
                </ul>
        <!-- Accordion end -->
    {% endif %}
<!-- end of section here -->
