<div class="container">
    <div class="w100fl" id="review" style="position:relative">
             {% if not prd_review_list %}
           <h2 class="pull-left">Write a Review </h2>
          {% else %}
        <h2 class="pull-left">
            {% if prd_num_rating > 15 %} Reviews {% else %}Write a Review {% endif %}</h2>
            <a class="write-review pull-right mt-5" role="button" data-toggle="collapse" id="write_review_btn" href="#collapseExampleform" aria-expanded="true" onclick="toggle_review({% if review_obj%}'Update your review'{%else%}'Write a review'{%endif%});">{% if review_obj%}Update your review{%else%}Write a review{%endif%}</a>
         {% endif %}


    </div>
    <div class="clearfix"></div>

    <!-- write-review starts here -->
    <div class="rate-now-box">
        <input type="hidden" name="page" id="id_review_page" value="{{prd_rv_page}}">
        <div >
          <div class="well box-panel write-review-box" {% if prd_review_list %} style="display:none" {% endif %}  id="write_review_container">
            <form role="form" id="feedback-form">
              {% csrf_token %}
              <div class="rating-feedback mt-10 mb-20">
                <div class="star-rate-box">
                  <fieldset class="rate">
                    <input type="radio" id="rating5" name="rating" value="5" {% if review_obj.average_rating == 5 or not review_obj.average_rating %} checked {% endif %}>
                    <label for="rating5" title="5 stars"></label>
                    <input type="radio" id="rating4" name="rating" value="4"  {% if review_obj.average_rating == 4 %} checked {% endif %}>
                    <label for="rating4" title="4 stars"></label>
                    <input type="radio" id="rating3" name="rating" value="3"  {% if review_obj.average_rating == 3 %} checked {% endif %}>
                    <label for="rating3" title="3 stars"></label>
                    <input type="radio" id="rating2" name="rating" value="2"  {% if review_obj.average_rating == 2 %} checked {% endif %}>
                    <label for="rating2" title="2 stars"></label>
                    <input type="radio" id="rating1" name="rating" value="1" {%  if review_obj.average_rating == 1  %} checked {% endif %}  >
                    <label for="rating1" title="1 star"></label>
                  </fieldset><!-- /.fieldset -->
                  <strong id="selected-rating">{% if review_obj.average_rating %} {{review_obj.average_rating|floatformat }} {% else  %} 5 {% endif%}<small>/5</small></strong>
                </div><!-- /. star-rate-box -->
                <span class="inline-block fs-11 c9">Click to rate on scale of 1-5</span>
                  <span class="error" style="color:red" id="rating-error"></span>      
              </div><!-- /. rating-feedback -->

              <div class="form-group">
                <label for="inputPassword3" class="bold pb-5 block">Title</label>
                <input class="form-control" type="text" name="title" required maxlength="30" {%if review_obj.title %}  value="{{review_obj.title}}" {% endif %} >
                  <small class="c9 fs-11">
                    Max 30 characters
                    <p> 
                      <span class="error" style="color:red" id="title-error"></span>  
                    </p>
                  </small>
              </div>

              <div class="form-group">
                <label for="inputPassword3" name="review" placeholder="Feedback"  class="bold pb-5 block" >Review</label>
                <div class="col-sm-10">
                  <textarea class="form-control"  id="id_review" rows="4" maxlength="1500" name="review" required>{%if review_obj.content %}{{review_obj.content}}{% endif %}</textarea>
                  <small class="c9 fs-11">
                  Max 1500 characters
                  <p>
                    <span class="error" style="color:red" id="review-error"></span>  
                  </p>
                  </small>
                   
                </div>
              </div>
              <div class="form-group">
                <div class="col-sm-offset-2 col-sm-10">
                  <input type="hidden" name="product_id" value="{{product.pk}}" />
                  {% if not review_obj %}
                  <button type="button" onclick="submit_feedback_form('{{is_logged_in}}')" class="btn btn-round btn-blue">Submit</button>
                  {% else  %}
                  <button type="button" onclick="update_feedback_form({{product.pk}})" class="btn btn-round btn-blue">Update</button>
                  {% endif %}
                </div>
              </div>
            </form>
          </div>
        </div>
    </div><!-- /. write-review -->
    
    
    
    <div class="box row pb-30">
        <div class="review-container rel">
            <ul class="review-slide">
        {% if prd_num_rating > 15 %}
              {% include 'mobile/shop/partials/review_snippet.html'%}
                {% endif %}
            </ul>
        </div><!-- end of review wrap -->
    </div><!-- end of box -->
</div><!-- end of container -->
{% if not is_logged_in%}


<div class="modal fade bs-example-modal-sm" tabindex="-1" role="dialog" data-backdrop="static" data-keyboard="false" aria-labelledby="mySmallModalLabel" id="login-modal">
  <div class="modal-helper">
    <div class="modal-vertical-center">
      <!-- Modal content -->
        <div class="modal-content">
         <div class="header">
            <button type="button" class="close" onclick="closePopup();" aria-label="Close"><span aria-hidden="true">&times;</span></button>
           <h2>Login</h2>
           <p><label id="non-field-error" class="error"></label></p>
        </div><!-- end of header -->

        <div class="content-box pt-0 pb-0">
           
           <div class="text-center mt-10">
              <form autocomplete="off" role method="post" id="login_form" >{% csrf_token %}
            
            <div class="form-group {% if loginform.email.errors %} error {% endif %}">
              {{loginform.email}}
              <span class="error-txt">{{loginform.email.errors.0}}</span>
            </div>
            <div class="form-group {% if loginform.password.errors %} error {% endif %}">
                 {{loginform.password}}
                 <span class="error-txt">{{loginform.password.errors.0}}</span>
            </div>
            <div class="form-check">
              <label class="form-check-label">
                <input type="checkbox" name="remember_me" class="form-check-input">
                Remember me
              </label>
            </div>
            <div class="form-group">
              <button type="button" id="login-button" class="btn btn-round btn-blue">Login and submit</button>
              <div>
              <small class="form-text text-muted text-center">
              <a href="javascript:void(0)" data-toggle="modal" data-dismiss="modal" 
                id="modalforgot">
                  Forgot Password?
                </a>
              </small>
              </div>
            </div>
            <div>
              <a class="facebook" onclick="reviewSocialLogin(window.location.href,'fb');"></a>
            </div>
            <div class="social-login">
              <a class="facebook" onclick="reviewSocialLogin(window.location.href,'fb');"></a>
              <a class="linkedin" onclick="reviewLinkedInLogin()"></a>
              <a class="gplus" onclick="reviewSocialLogin(window.location.href,'gplus');"></a>
            </div>
            <small class="form-text text-muted text-center">Don’t have an account yet? <a role="button" data-toggle="modal" data-target=".bs-example-modal-sm2" data-dismiss="modal">Register Now</a></small>
          </form>

           </div>
        </div><!-- Tab content ends here -->
       </div><!-- end of modal content here -->
    </div><!-- end of modal-vertical-center -->
  </div><!-- end of modal-helper -->
</div>

{% endif %}

