<div class="content-box">
    <h2 class="fs-18">What you get if you pass??</h2>
    <ul class="what-get mt-20">
        <li>
            <span class="icon-industry"></span>
            <p>Industry recognized certification after clearing the test</p>
        </li>
        <li>
            <span class="icon-badge"></span>
            <p>Get badge on shine.com and showcase your knowledge to the recruiters</p>
        </li>
        <li>
            <span class="icon-verified"></span>
            <p>Shine shows your skills as validated and certification as verified which build high trust among recruiters</p>
        </li>
        <li>
            <span class="icon-receive"></span>
            <p>Receive valuable feedback on your strong and weak areas to improve yourself</p>
        </li>
        <li>
            <span class="icon-certificate"></span>
            <p>Certified candidates gets higher salary as compared to non certified candidate</p>
        </li>
    </ul>
</div>