{% extends "mobile/basic/base.html" %}
{% load static %}
{% block title %}CMS | listing Shine learning{% endblock %}

{% block meta_html %}
        {{block.super}}
        {% include 'meta/meta.html' %}
{%  endblock meta_html %}

{% block canonical_url %}
    <link rel="canonical" href="{{ page_obj.get_absolute_url }}">
{% endblock canonical_url %}

{% block css_section %}
{{ block.super }}
    <link type="text/css" href="{% static 'shinelearn/css/mobile/common/checkbox.css' %}" rel="stylesheet">
    <link type="text/css" href="{% static 'shinelearn/css/mobile/cms/cms.css' %}" rel="stylesheet">
    <link type="text/css" href="{% static 'shinelearn/css/mobile/common/slick.css' %}" rel="stylesheet">
    <link type="text/css" href="{% static 'shinelearn/css/mobile/users/login.css' %}" rel="stylesheet">
{% endblock css_section %}
{% block back_icon %}<img src="{% static 'shinelearn/images/mobile/common/header-back-img.png' %}">{% endblock back_icon %}
{% block header_title %}<h1 class="heading-back w100fl pb-0">Resume format for freshers</h1>{% endblock header_title %}
{% block container %}
    <div class="body-wrapper ">
        <section class="content-box pt-0">
            {{ left_widgets|safe|default:'' }}

            {% if page_obj.allow_comment %}
                <div class="comment-wrap mt-20">
                    <input type='hidden' id='page_slug' value='{{page_obj.slug}}'/>
                    <input type='hidden' id='page_pk' value='{{page_obj.pk}}'/>
                    <form role="form" id="cms_comment_form">
                        {% csrf_token %}
                        <textarea placeholder="Write comments" class="form-control" id="id_message" name="message"></textarea>
                        {% if request.session.candidate_id %}
                            <input type='button' class="submit-button" id="comment_submit" value="Submit">
                        {% else %}
                            <input type='button' class="submit-button js_redirect" value="Submit">
                        {% endif %}
                    </form>
                    <ul class="mt-20" id="page_comment">
                        {{ comment_listing|safe|default:'' }}
                    </ul>
                </div><!-- end of Comment wrap here -->

            {% endif %}
            {{ right_widgets|safe|default:'' }}
        </section><!-- end of section here -->
    </div>
{% endblock container %}
{% block js_section %}
    {{block.super}}
    <script type="text/javascript" src="{% static 'shinelearn/js/mobile/common/smk-accordion.js' %}"></script>
    <script type="text/javascript" src="{% static 'shinelearn/js/cms/cms.js' %}"></script>
    <script type="text/javascript" src="{% static 'shinelearn/js/mobile/cms/cms.js' %}"></script>
{% endblock js_section %}



