{% extends "mobile/basic/base.html" %}

{% load static compress %}
{% block head %}
 {% block meta_html %}
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <!-- <meta name='viewport' content='width=device-width, initial-scale=1.0, user-scalable=0' > -->
    <meta name="description" content="Free Resume Format Online - Get Resume Format recommended by experts for experienced professionals or freshers. Download Resume Format samples in pdf or word doc">
    <meta name="keywords" content="E-Learning, Skills, Resume, India">
    <meta property="og:title" content="Resume Format - Download CV Samples with Examples - Shine Learning">
    <meta property="og:url" content="https://learning.shine.com/cms/resume-format/1/">
    <meta property="og:description" content="Free Resume Format Online - Get Resume Format recommended by experts for experienced professionals or freshers. Download Resume Format samples in pdf or word doc">
    <meta property="og:type" content="Website">
    <meta property="og:site_name" content="ShineLearning">
    <meta property="article:modified_time" content="2018-08-07 08:52:47.536574+00:00">
    <meta property="fb:profile_id" content="282244838633660">
    <meta property="og:image" content="https://static1.shine.com/l/s/shinelearn/images/cms/creative-1.jpg">
    <meta itemprop="name" content="Resume Format - Download CV Samples with Examples - Shine Learning">
    <meta itemprop="dateModified" content="2018-07-20 08:52:47.536574+00:00">
    <meta itemprop="url" content="https://learning.shine.com/cms/resume-format/1/">
    <meta itemprop="description" content="Free Resume Format Online - Get Resume Format recommended by experts for experienced professionals or freshers. Download Resume Format samples in pdf or word doc">

{% endblock meta_html %}
    {% block django_meta %}
    {% endblock django_meta %}

{% block canonical_url %}
<link rel="canonical" href="https://learning.shine.com/cms/resume-format/1/">
{% endblock canonical_url %}

<title> {% block title %}Resume Format - Download CV Samples with Examples - Shine Learning{% endblock title %}</title>

{% block css_section %}
 {% compress css %}
<link href="{% static 'shinelearn/css/mobile/cms/resume.css' %}" rel="stylesheet">
<link href="{% static 'shinelearn/css/mobile/cms//smk-accordion.css' %}" rel="stylesheet">
 <link rel="stylesheet" href="{% static 'shinelearn/css/mobile/cms/swipebox.css' %}">
 <link type="text/scss" href="{% static 'shinelearn/css/mobile/common/navigation.scss' %}" rel="stylesheet">
 <link type="text/scss" href="{% static 'shinelearn/css/mobile/common/images.scss' %}" rel="stylesheet" >
 <link type="text/scss" href="{% static 'shinelearn/css/mobile/common/global.scss' %}" rel="stylesheet">
 <link type="text/scss" href="{% static 'shinelearn/css/mobile/common/icons.scss' %}" rel="stylesheet">
 <link type="text/scss" href="{% static 'shinelearn/css/mobile/zopim_chat/custom.css' %}" rel="stylesheet">
 <link type="text/css" href="{% static 'shinelearn/css/common/mobile/typeaheadjs.css' %}" rel="stylesheet">

{% endcompress %}
{% endblock css_section %}
    <link rel="shortcut icon" href="https://static1.shine.com/l/s/shinelearn/images/fav_icon.png">

<script>
    (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
    (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
    m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
    })(window,document,'script','https://www.google-analytics.com/analytics.js','ga');
    ga('create', 'UA-3537905-41', 'auto');
    ga('send', 'pageview');
</script>

{% endblock head %}

  {% block main_container %}
  <div class="wrapper">

{% block header %}

 <header class="w100fl he-auto">
    <img alt="" src="{% static 'shinelearn/images/mobile/common/header-back-img-thumbnail.png' %}">
    <!-- header menu Icon Starts here -->
    <div class="main-menu w100fl">
        <div class="pull-left">
            <a id="sidebar-main-trigger" aria-label="sidebar navigation" class="icon-bar pull-left" role="button" ></a>
            <a class=" pull-left" aria-label="go back" role="button" onclick="goBack()"></a>
        </div><!-- / Left side Icon ends here -->
        <div class="pull-right" style="width:90%;">
                <a class="icon-cart pull-right" href="{% url "cart:cart-product-list" %}" >cart <span id="cart-counter-id">{{cart_count}}</span></a>
                <form method='get' id="search-form">
                    <div class="searchbox">
                        <input id='id_q' type="text" aria-label="Search" placeholder="Search here" name="search" class="searchbox-input" autocomplete="off">
                        <span class="searchbox-icon"></span>
                    </div>
                </form>
            </div>

        <!-- / Right side Icon ends here -->
    </div><!-- header menu Icon ends here -->
        <h1 class="heading-back w100fl pb-0"></h1>
</header>


{% endblock header %}
{% block container %}
    <div class="wrapper">
      <div class="body-wrapper">

<div class="content-box">
      <div class="col-md-12 d-resume fs-12 mt-15">
                <nav aria-label="breadcrumb">
                    <ol class="breadcrumb">
                        <li class="breadcrumb-item"><a href="/">Home</a></li>
                        <li class="breadcrumb-item">Resume Format</li>
                    </ol>
                </nav>
            </div>
    <div class="resume_format">
        <h1>Resume Format</h1>
        <p>A Resume is a summarised document which represents a job seeker’s professional background and skills for a prospective employer. A resume format usually describes an individual’s work experience, qualifications, and relevant skills about a job application. A perfect resume format will successfully pass applicant tracking systems which aims to access resume and other details electronically.</p>

        <p>Resume format is one of the essential parts of the application process. A relevant and well-organised format of resume will aid you to clear an interview, while a poor one will remain invisible in the pool of applicants. To solve this modern concern, we have introduced customised resume formats for discrete profiles.</p>

        <p>Our resume writers have bought their expertise in delivering quality to the customers by determining the correct order of sections on different types of resume formats. We will organise your education, work history, and other professional experience into a resume specific to your professional level.</p>

        <p>Facilitate your job hunting process through our most targeted resume format services and expedite your career growth.</p>

        <div class="blue_box">
            <strong>Select the most targeted resume format</strong>
            <ul>
                <li>
                <a title="Format for Fresher" href="https://learning.shine.com/cms/resume-format/freshers-2/2/" target="_blank">Format for Fresher</a>
                </li>
                <li><a title="Format for Experienced" href="https://learning.shine.com/cms/resume-format/experienced-professionals/6/" target="_blank">Format for Experienced</a></li>
                <li><a title="Format for Banking Fresher" href="https://learning.shine.com/cms/resume-format/banking-freshers/4/" target="_blank">Format for Banking Fresher</a></li>
                <li><a title="Format for IT Fresher" href="https://learning.shine.com/cms/resume-format/it-fresher/27/" target="_blank">Format for IT Fresher</a></li>
                <li><a title="Format for Teachers" href="https://learning.shine.com/cms/resume-format/teachers/41/" target="_blank">Format for Teachers</a></li>
            </ul>
        </div><!--./ blue_box -->
    </div><!-- /. resume_format -->
</div><!-- ./content-box-->

<div class="white_box_resume">
    <h2>Types of Resume formats and their use</h2>
    <p>From traditional format to a highly creative one, there are many proper resume formats from which you can choose. However, there are three basic formats which are widely accepted amongst recruiters. They are chronological, functional, and combination resume format. Another class of formats which are in consideration are creative and visual resume format.</p>
    <p class="text-center"> <img src="{% static 'shinelearn/images/mobile/cms/type-of-resume.jpg' %}" alt="Types of Resume formats"/></p>
</div><!--/. white_box_resume -->

<!-- Accordion begin -->
<div class="accordion_example1 accordion-wrap mt-30 mb-30">
    <!-- Section 1 -->
    <div class="accordion_in acc_active">
      <div class="acc_head"><h3>CHRONOLOGICAL RESUME FORMATS</h3></div>
      <div class="acc_content">
        <p>The chronological resume format is one of the most traditional and recognisable formats. Recruiters prefer this format because of its familiar and simple layout.  The information in the resume is presented in what is referred to as ‘reverse-chronological’ order which lists your recent to old experience through the time.</p>
        <div class="img-wrap">
            <div class="img-content">
                <a aria-label="CHRONOLOGICAL RESUME FORMAT" href="{% static 'shinelearn/static_media/chronological-resume-format.docx' %}" class="jcon-downlod"></a>
                <div class="overlay"></div>
                <img src="{% static 'shinelearn/images/mobile/cms/chrono-format-thumbnail.jpg' %}" alt="Chronological Resume Format" class="img-fluid">
            </div>
        </div>
        <strong>Features of a chronological resume format:</strong>
        <ul>
          <li>Simple, easy to go through, and detailed in nature. </li>
          <li>Used to highlight work history from recent to oldest. </li>
          <li>Enhances the way to showcase experience and achievements. </li>
          <li>Best to convert into a detailed CV.</li>
        </ul>

        <strong> Recommended for:</strong>
        <p>Experienced professionals (2+ years of experience), and graduates or above applying for higher education.</p>
      </div>
    </div>

    <!-- What’ll you get starts here  -->
    <div class="accordion_in">
      <div class="acc_head"><h3>FUNCTIONAL RESUME FORMATS</h3></div>
      <div class="acc_content">
        <p>A functional resume format is known for a skill based resume which emphasises on qualifications, skills, and accomplishments. The work history is generally listed at the bottom of the resume and is less elaborated in comparison to the chronological resume format. Moreover, this format does not follow a defined pattern, and recruiters generally find it the way to hide shortcomings.</p>
       <div class="img-wrap">
            <div class="img-content">
                <a href="{% static 'shinelearn/static_media/functional-resume-format.docx' %}" class="jcon-downlod"></a>
                <div class="overlay"></div>
                <img src="{% static 'shinelearn/images/mobile/cms/functional-thumbnail.jpg' %}" alt="Functional Resume Format" class="img-fluid">
            </div>
        </div>
        <strong> Features of a functional resume format: </strong>
        <ul>
          <li>Simple format with direct and factual information. </li>
          <li>Used to highlight skills, academic qualifications, achievements, etc. </li>
          <li>Versatile and can be made with tables, bullet points, or any other similar formatting. </li>
          <li>Easy to go through and doesn’t contain historical details</li>
        </ul>

        <strong> Recommended for:</strong>
<p>Freshers, undergraduate students applying for internships, college, etc. Back/front office job applications, part-time job applications.</p>
      </div>
    </div><!-- What’ll you get edns here  -->

    <!-- Delivery flow starts here  -->
    <div class="accordion_in">
      <div class="acc_head"><h3>COMBINATION RESUME FORMATS</h3></div>
      <div class="acc_content">
        <p>The combination resume format, also known as the hybrid resume format has gained popularity with its customizable yet practical form. You can showcase your skills at the top while using a chronological format which gives detail to your career path.</p>
       <div class="img-wrap">
            <div class="img-content">
                <a href="{% static 'shinelearn/static_media/combination-resume-format.docx' %}" class="jcon-downlod"></a>
                <div class="overlay"></div>
                <img src="{% static 'shinelearn/images/mobile/cms/mixed-format-thumbnail.jpg' %}" alt="combination Resume Format" class="img-fluid">
            </div>
        </div>
        <strong> Features of a combination resume format: </strong>
        <ul>
          <li>Used to highlight experience, learning, and achievements with an analytical/storytelling/detailed approach.</li>
          <li>Versatile with the customisation that can be made but follows a list-based content approach. </li>
          <li>Difficult to create and read as well. However, this resume format should be customised according to a job application.</li>
        </ul>

        <strong> Recommended for:</strong>
        <p>Experienced professionals, freelancers and candidates looking for a higher position.</p>
      </div>
    </div><!-- Delivery flow ends here  -->

  </div>
<!-- Accordion end -->


<div class="white_box_resume">
<h2>Creative and visual resume formats</h2>

<p>When it comes to creative resumes, there are no specific formats. The resume itself is used as a work sample, depiction, or presentation of skills apart from the information provided. Young professionals in creative profiles have started the trend of using visual resumes, especially graphic designers and writers. On similar lines, developers have used HTML based resumes, animators and filmmakers have used video scripts, UI/UEx developers have used interactive flash files, and so on. Here are a few samples to take inspiration from.</p>
<ul class="formats">
<li>
<a href="{% static 'shinelearn/images/mobile/cms/creative-1.jpg' %}" class="swipebox" title="Creative and visual resume formats">
<img src="{% static 'shinelearn/images/mobile/cms/creative-1-thumb-thumbnail.jpg' %}" alt="Creative and visual resume formats">
</a>
</li>
<li>
<a href="{% static 'shinelearn/images/mobile/cms/Creative-2.jpg' %}" class="swipebox" title="Creative and visual resume formats">
<img src="{% static 'shinelearn/images/mobile/cms/creative-2-Thumb-thumbnail.jpg' %}" alt="Creative and visual resume formats">
</a>
<li>
<a href="{% static 'shinelearn/images/mobile/cms/creative-3.jpg' %}" class="swipebox" title="Creative and visual resume formats">
<img src="{% static 'shinelearn/images/mobile/cms/creative-3-thumb-thumbnail.jpg' %}" alt="Creative and visual resume formats">
</a>
</ul>



<strong>Note:</strong>
<br/>
<p>
It is important to understand that these resumes are not accepted everywhere and should be used with care. Also, they are difficult or impossible to run through application tracking software.
</p>
</div>

<div class="white_box_resume mb-30">
                        <div class="media">
                            <div class="media-left">
                                <img class="mr-3" src="{% static 'shinelearn/images/mobile/cms/resume-writing-service-pic-thumbnail.png' %}"alt="Resume Writing Service">
                            </div>
                            <div class="media-body ml-15 fs-16">
                                <p class="resume-writing-service-head">Resume Writing Service</p>
                                <p class="resume-writing-service-txt">Having trouble writing your Resume? Hire our Professional Writers to give your Resume the best of everything. We know the recruitment industry for 10+ years.</p>
                                <a onlick="hitGA()" href="https://mlearning.shine.com/services/resume-services/freshers-level/pd-1921" class="btn mt-10 mb-30 resume-writing-service-btn">Write My Resume</a>
                            </div>
                        </div>
                    </div><!-- /. white-box -->
<!-- FAQ Accordion begin -->
<div class="white_box_resume mt-40" style="padding:0;">
    <h2 class="ml-15 pt-30" style="padding-bottom: 0;">Frequently Asked Questions (FAQs) </h2>
<div class="accordion_example1 accordion-wrap mb-30">
    
    <!-- Section 1 -->
    <div class="accordion_in acc_active">
      <div class="acc_head"><h3>What is a resume format? </h3></div>
      <div class="acc_content">
        <p>A resume format is a sample resume that can be edited and filled with the required details. It is often provided with instructions or sample text and needs a rigorous edit to make it useful. </p>
      </div>
    </div>

    <div class="accordion_in">
      <div class="acc_head"><h3>I’ve never created a resume before, how do I make a resume for the first time? </h3></div>
      <div class="acc_content">
        <p>Use a word template to start your resume and choose amongst the type of resumes mentioned above. Make your resume legible, readable and well managed with relevant titles and headings. </p>
      </div>
    </div><!-- What’ll you get edns here  -->

    <!-- Delivery flow starts here  -->
    <div class="accordion_in">
      <div class="acc_head"><h3>How to choose a resume format? </h3></div>
      <div class="acc_content">
        <p>There are various kinds of resume formats that can be used. You can also develop your customized format from scratch. The format should provide the required information strategically and clearly. Also, based on various factors like experience, skills, industry, etc, you can choose between a chronological resume format, a functional resume format, or a combination resume format. </p>
        <ul>
            <li>A chronological resume is used when you have been working in the same industry and you are applying for another job within the same space. </li>
            <li>A functional resume is used if you are a new graduate and have very less or no work experience. </li>
            <li>A combination resume is used when if you have skills developed outside your area of expertise, have career gaps or changing profession. </li>
        </ul>
      </div>
    </div><!-- Delivery flow ends here  -->

    <!-- Delivery flow starts here  -->
    <div class="accordion_in">
      <div class="acc_head"><h3>Why are resume formats important? </h3></div>
      <div class="acc_content">
        <p>Resume formats are important, especially the resume types that are mainstream due to their simplicity, targeting, and utility with job applications and their processing. A good resume is easily legible, readable and well managed with relevant titles and headings. Different resume formats are also important to show information in different ways to emphasize the connection of a candidate with the job profile, organization, and industry. </p>
      </div>
    </div><!-- Delivery flow ends here  -->

    <!-- Delivery flow starts here  -->
    <div class="accordion_in">
      <div class="acc_head"><h3>What makes a resume good and attractive? </h3></div>
      <div class="acc_content">
        <p>A resume is considered good if it looks neat, simple, well-managed, and is easy to read and skim through without missing important information. Simple text fonts in a maximum of two colors and three sizes are the basic requirements. Distributing information in shorter points, giving proper headings, aligning text on the left margin and other best practices make the resume look good and attractive. Composing simpler sentences, using appropriate vocabulary, highlighting or underlining important phrases, and similar practices with content will make it readable and legible. You can also use some creativity with these but keep it limited and uncompromising on its utility. </p>
      </div>
    </div><!-- Delivery flow ends here  -->

    <!-- Delivery flow starts here  -->
    <div class="accordion_in">
      <div class="acc_head"><h3>Should I include hobbies in my resume? </h3></div>
      <div class="acc_content">
        <p>One should only list hobbies if they are professionally relevant. Make sure the hobbies project skills and personality traits related to the job you are applying for. You can take advantage of this section if you have achievements to quote with your hobbies. </p>
      </div>
    </div><!-- Delivery flow ends here  -->

    <!-- Delivery flow starts here  -->
    <div class="accordion_in">
      <div class="acc_head"><h3>What makes a resume bad or unattractive? What not to do in a resume? </h3></div>
      <div class="acc_content">
        <p>There are several factors that can make a resume bad or unattractive; the worst is unmanaged and badly formatted text. Standard resume formats solve this problem beforehand. Apart from it, recursive or multiple grammatical and spelling mistakes can result in bad impressions. Using odd fonts, uneven text alignment, long paragraphs (<4-5 sentences), long sentences (<22 words), etc are a strict no-no. Do not include your picture and other unnecessary information. Do not make your resume longer than two A4 size pages. But also, do not cramp the text in the document; leave ample spaces between lines, paragraphs, and other elements in the resume. </p>
      </div>
    </div><!-- Delivery flow ends here  -->

    <!-- Delivery flow starts here  -->
    <div class="accordion_in">
      <div class="acc_head"><h3>Should I include an objective statement in my resume? </h3></div>
      <div class="acc_content">
        <p>Every employer has a different perspective. We suggest if you are including objective in your resume, make sure it is directed and specific to the employer. Also, objective statements work better without the heading 'Objective' or something else. </p>
      </div>
    </div><!-- Delivery flow ends here  -->

    <!-- Delivery flow starts here  -->
    <div class="accordion_in">
      <div class="acc_head"><h3>How many pages are allowed in a resume? </h3></div>
      <div class="acc_content">
        <p>Employers prefer resumes with 1 or 2 pages. Moreover, for freshers, a single-page resume is acceptable and for experienced two pages resume serves the purpose. In case of highly experienced, one more page can be added but it is best to not extend it further. </p>
      </div>
    </div><!-- Delivery flow ends here  -->

  </div>
  </div>
<!-- FAQ Accordion end -->

<div class="white_box_resume">
<h2>Resume formatting and layout tips</h2>
<p>Choosing the right resume format is essential, and hence different formats allow you to select professional attributes you want to highlight. Every preferred resume format should have the necessary attributes. Have a look at some formatting and layout tips.</p>

    <ul>
        <li>Present your work history in an order</li>
        <li>Try and avoid long paragraphs and lengthy bullet lists</li>
        <li>Avoid too much white space.</li>
        <li>Courier, Times New Roman, Helvetica, and Arial are some of the readable fonts.</li>
        <li>Never use double spaces between words and use just a single line space between lines.</li>
        <li>Use 0.5 inches to 1 inch of margins to give your resume a neat look.</li>
        <li>Avoid using a table with multiple columns.</li>
        <li>Don’t include graphics, background images or pictures in your resume</li>
        <li>Ensure that there are no spelling or grammatical errors in your resume.</li>
        <li>Ensure that you have just the relevant information in your resume and not a complete laundry list.</li>
    </ul>
    
    <h2 class="mt-30 pb-5 mb-0" class="">Why to choose professional resume over self created resume? </h2>
    <p>Your resume is a document which is the employer’s first impression. Obviously, you want to make a good one. Regardless of your polished skills and years of expertise, your resume should be built in a way so that it appears in a search or it passes well through the online applicant tracking system. Our resume experts analyse the market trend specific to your profile. The resume is built based on keyword optimisation and is tailored to what recruiters/managers are looking for. You can choose among the best-suited resume formats according to your skills and experience. To avail the service, we have listed free resume formats with examples and FAQs. </p>
</div>

<div class="white_box_resume">
<h2>Difference Between Resume, Curriculum Vitae (CV) and Biodata </h2>

<p>Resumes, CV and Biodata are very similar in nature and are used to present personal-professional information about a person. They are usually used in job applications, academic applications, and similar documentation. The primary differences between the three are: </p>

    <ul>
        <li>Biodata is a very short document with basic factual information only while resume and CV present the same information in more details. Curriculum Vitaes contain very detailed information while resumes have brief descriptions only. </li>
        <li>Biodata formats are single page while resume formats can extend to two pages and CV formats can be even longer due to the details presented. However, it is not recommended to have a CV longer than 3-pages unless you are highly experienced. </li>
        <li>Biodata is used widely and may be required for documentation other than jobs or academic. Resumes and CVs are mainly used for job applications and academic applications or similar professional use. </li>
        <li>Biodata follows the format of a functional resume while CVs can be made with either combination resume or chronological resume. </li>
    </ul>
    <p class="mt-15">Once done, get it reviewed by someone experienced and others and make it even better.</p>
    <p>Our best wishes for your job search!</p>
</div>

<button id="myBtn" class="request">Request a call</button>


<div class="white_box_resume white-box">
<strong class="white-box-heading">Related articles</strong>

<ul>
                            <li class="mb-20">
                                <div class="media">
                                    <a title="6 Things to be removed from Your Resume" href="https://learning.shine.com/article/6-things-to-be-removed-from-your-resume/14/" target="_blank">
                                    <img class="mr-3" src="{% static 'shinelearn/images/mobile/cms/related-1-thumbnail.jpg' %}" alt="6 Things to be removed from Your Resume"></a>
                                    <div class="media-body ml-15 fs-16">
                                        <h3><a title="6 Things to be removed from Your Resume" href="https://learning.shine.com/article/6-things-to-be-removed-from-your-resume/14/" target="_blank">6 Things to be removed from Your Resume</a></h3>
                                    </div>
                                </div>
                            </li><!-- /. l1 - 1 -->

                            <li class="mb-20">
                                <div class="media">
                                        <a title="Should I write CTC in my Resume" href="https://learning.shine.com/article/should-i-write-ctc-in-my-resume/3/" target="_blank">
                                            <img class="mr-3" src="{% static 'shinelearn/images/mobile/cms/related-2-thumbnail.jpg' %}" alt="Should I write CTC in my Resume">
                                        </a>
                                    <div class="media-body ml-15 fs-16">
                                        <h3><a title="Should I write CTC in my Resume" href="https://learning.shine.com/article/should-i-write-ctc-in-my-resume/3/" target="_blank">Should I write CTC in my Resume</a></h3>
                                    </div>
                                </div>
                            </li><!-- /. l1 - 2 -->

                            <li class="mb-20">
                                <div class="media">
                                        <a title="3 Ways To Self Evaluate Your Resume Format And Content" href="https://learning.shine.com/talenteconomy/career-help/3-ways-to-self-evaluate-your-resume-format-and-content/" target="_blank">
                                            <img class="mr-3" src="{% static 'shinelearn/images/mobile/cms/related-3-thumbnail.jpg' %}" alt="3 Ways To Self Evaluate Your Resume Format And Content">
                                        </a>
                                    <div class="media-body ml-15 fs-16">
                                        <h3><a title="3 Ways To Self Evaluate Your Resume Format And Content" href="https://learning.shine.com/talenteconomy/career-help/3-ways-to-self-evaluate-your-resume-format-and-content/" target="_blank">3 Ways To Self Evaluate Your Resume Format And Content </a></h3>
                                    </div>
                                </div>
                            </li><!-- /. l1 - 3 -->

                            <li class="mb-20">
                                <div class="media">
                                        <a title="7 Quick Strategic Changes In Your Resume Format You Can Do Right Away!" href="https://learning.shine.com/talenteconomy/career-help/7-quick-strategic-changes-in-your-resume-format-you-can-do-right-away/" target="_blank">
                                            <img class="mr-3" src="{% static 'shinelearn/images/mobile/cms/related-4-thumbnail.jpg' %} " alt="7 Quick Strategic Changes In Your Resume Format You Can Do Right Away!">
                                        </a>
                                    <div class="media-body ml-15 fs-16">
                                        <h3><a title="7 Quick Strategic Changes In Your Resume Format You Can Do Right Away!" href="https://learning.shine.com/talenteconomy/career-help/7-quick-strategic-changes-in-your-resume-format-you-can-do-right-away/" target="_blank">7 Quick Strategic Changes In Your Resume Format You Can Do Right Away! </a></h3>
                                    </div>
                                </div>
                            </li><!-- /. l1 - 4 -->

                            <li>
                                <div class="media">
                                        <a title="9 Words To Replace In Your Resume And Other Professional Communications!" href="https://learning.shine.com/talenteconomy/career-help/9-words-to-replace-in-your-resume-and-other-professional-communications/" target="_blank">
                                            <img class="mr-3" src="{% static 'shinelearn/images/mobile/cms/related-5-thumbnail.jpg' %}" alt="9 Words To Replace In Your Resume And Other Professional Communications!">
                                        </a>
                                    <div class="media-body ml-15 fs-16">
                                        <h3><a title="9 Words To Replace In Your Resume And Other Professional Communications!" href="https://learning.shine.com/talenteconomy/career-help/9-words-to-replace-in-your-resume-and-other-professional-communications/" target="_blank">9 Words To Replace In Your Resume And Other Professional Communications! </a></h3>
                                    </div>
                                </div>
                            </li><!-- /. l1 - 5 -->
                        </ul>

</div>
  </div>
</div>


 <div id="snackbar"> </div>
<!-- The Modal -->
<div id="myModal" class="modal">

  <!-- Modal content -->
  <div class="modal-content">
      <div class="header">
        <span class="icon-close close">&times;</span>
        <h2>Request a call</h2>
      </div>
    <div class="content-box">
        <form method="post" id="callback_form">
            <ul>
                <li class="form-group">
                    <input class="form-control" placeholder="Name" type="text" name="name" value="{{request.session.full_name|safe}}">
                    <span class="error-txt"></span>
                </li>

                <li class="form-group">
                    <input class="form-control" placeholder="Mobile Number" name="number" id="id_mobile"type="text" value="{{request.session.mobile_no|safe}}">
                    <span class="error-txt"></span>
                </li>
                        {% if  page_obj %}
                            <input type="hidden" name="lsource" value="7">
                            <input type="hidden" name="product" value="{{page_obj.pk}}">
                            <input type="hidden" name="prd" value="{{page_obj.heading}}">
                            <input type="hidden" name="path" value="{{request.build_absolute_uri}}">
                        {% endif %}
                <li class="form-group">
                    <textarea class="form-control" placeholder="Message" name='msg' rows="4"></textarea>
                    <span class="error-txt"></span>
                </li>
                <li class="form-group"><button type="button" id="id_callback" class="request">Submit</button></li>
            </ul>
        </form>
    </div><!-- /. login-form -->
  </div>

</div>
 {% block call_us %}
    {% include "shop/partials/call_us.html" %}
 {% endblock call_us %}

 {% endblock container %}

 {% block footer %}
    <!-- footer -->
    {% include 'basic/footer.html' %}
 {% endblock footer %}

{% block navigation %}
    <!-- left side menu -->
    {% include 'basic/navigation.html' %}
    <div class="navbar-header" itemscope itemtype="http://schema.org/Organization" >
    <a aria-label="shinelearning.com" class="navbar-brand" href="{% url 'homepage' %}"></a>
    <meta itemprop="name" content="Shine">
    <meta itemprop="url" content="https://learning.shine.com"/>

{% endblock navigation %}
    </div>

</div>

{% endblock main_container %}
    {% block js_section %}

<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.2/jquery.min.js"> </script>
<script src="https://ajax.googleapis.com/ajax/libs/jqueryui/1.11.4/jquery-ui.min.js"> </script>
<script src="https://ajax.aspnetcdn.com/ajax/jquery.validate/1.11.1/jquery.validate.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/corejs-typeahead/1.2.1/typeahead.bundle.js"></script>

  {% compress js %}
      <script type="text/javascript" src="{% static 'shinelearn/js/common/jquery.validate.min.js' %}"> </script>
      <script type="text/javascript" src="{% static 'shinelearn/js/mobile/common/jquery.bxslider.js' %}"> </script>
      <script type="text/javascript" src="{% static 'shinelearn/js/mobile/common/jquery.simpler-sidebar.js' %}"> </script>
      <script type="text/javascript" src="{% static 'shinelearn/js/mobile/common/multilevelnav.js' %}"></script>
      <script type="text/javascript" src="{% static 'shinelearn/js/mobile/common/smk-accordion.js' %}"> </script>
      <script type="text/javascript" src="{% static 'shinelearn/js/mobile/common/slick.js' %}"></script>
      <script type="text/javascript" src="{% static 'shinelearn/js/common/plugins.ga.js' %}"></script>
      <script type="text/javascript" src="{% static 'shinelearn/js/mobile/common/base.js' %}"> </script>
      <script type="text/javascript" src="{% static 'shinelearn/js/common/common.js' %}"> </script>
      <script type="text/javascript" src="{% static 'shinelearn/js/webmobile/webmobile.js' %}"> </script>
      <script type="text/javascript" src="{% static 'shinelearn/js/cms/validate.js' %}"></script>
      <script src="{% static 'shinelearn/js/mobile/zopim_chat/custom.js' %}"></script>
  {% endcompress %}

<script type="text/javascript">
  jQuery(document).ready(function($){
    $(".accordion_example1").smk_Accordion({
      showIcon: true, //boolean
      animation: true, //boolean
      closeAble: false, //boolean
      slideSpeed: 200 //integer, miliseconds
    });
  });

  function hitGA(){
    ga('send', 'event', 'Clicks', 'Write My Resume', 'Resume Static Page - Mobile');
  }
</script>
<script>
// Get the modal
var memodal = document.getElementById('myModal' );
// Get the button that opens the modal
var btn = document.getElementById("myBtn");
// Get the <span> element that closes the modal
var span = document.getElementsByClassName("close")[0];
// When the user clicks the button, open the modal
btn.onclick = function() {
    //modal.style.display = "block";
    modal('myModal','block');
}
function modal(id,option){
  document.getElementById(id).style.display = option;
}
// When the user clicks on <span> (x), close the modal
span.onclick = function() {
     modal('myModal','none');
    // modal.style.display = "none";
}
// When the user clicks anywhere outside of the modal, close it
window.onclick = function(event) {
    if (event.target == memodal) {
        modal('myModal','none');
    }
};
</script>

<script src="{% static 'shinelearn/js/mobile/cms/jquery.swipebox.min.js' %}"></script>

<script type="text/javascript">
;( function( $ ) {
  $( '.swipebox' ).swipebox();
} )( jQuery );
</script>
<script src = "{%static 'shinelearn/js/mobile/cms/lazy-loading.js'%}"></script>

<script>

$.validator.addMethod("numbercheck", function (value, element) {
    if( $('#id_country_code').val() == "91" && $('#id_cell_phone').val().length != 10){
         $('#enquire_form').removeAttr("disabled");
        return false;
    }
    else if($('#id_cell_phone').val().length >= 8 && $('#id_cell_phone').val().length <= 15){
        return true
    }
}, 'please enter valid mobile number');



$(function() {
  // Initialize form validation on the registration form.
  // It has the name attribute "registration"
  $("form[name='enq']").validate({
    // Specify validation rules
    rules: {
      number: {
        numbercheck : true,
      },
      msg: {
        maxlength:250,
      }
    },
    // Specify validation error messages
    messages: {
      number: {
            required: "Please enter your number",
            minlength: "please enter atleast 8 digit number",
      },

      msg: {
        maxlength: "Message should be within 250 characters",
      },

    },
    // Make sure the form is submitted to the destination defined
    // in the "action" attribute of the form when valid
  });
});

    (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
              (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
              m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
              })(window,document,'script','https://www.google-analytics.com/analytics.js','ga');
              ga('create', 'UA-3537905-41', 'auto', {'name': 'a'});
              ga('a.send', 'pageview');
              ga('create', 'UA-3537905-41', 'auto');
              ga('send', 'pageview');


function gaEvent(event_cat,event_lab,event_action){
  ga('send', 'event', event_cat, event_action, event_lab);
 }

function gaEventFunc(typeOfProduct,status){
    var event_cat='Form Interactions';
    gaEvent(event_cat,status,"Cms Enquiry");
 }


$('#enquire_form').click(function(event) {
    event.preventDefault();
    $('#enquire_form').attr("disabled", true);

    var $enquireform = $("#enquireform");
    var typeOfProduct = 'Cms Enquiry';
    var flag = $enquireform.valid();
    if (flag) {
        var formData = $enquireform.serialize();
        $.ajax({
            url: "/lead/lead-management/",
            type: "POST",
            data: formData,
            success: function(data, textStatus, jqXHR) {
                gaEventFunc(typeOfProduct,'success');
            pop('Your Query Submitted Successfully.');
                $('#enquireform')[0].reset();
                $('#enquire_form').removeAttr("disabled");
            },
            error: function(jqXHR, textStatus, errorThrown) {
                gaEventFunc(typeOfProduct,'failure');
                $('#enquire_form').removeAttr("disabled");
                pop('Something went wrong. Try again later.');
            }
        });
    }
});


function pop(param) {
    // Get the snackbar DIV
    var x = document.getElementById("snackbar");
    x.innerHTML=param;

    // Add the "show" class to DIV
    x.className = "show";

    // After 3 seconds, remove the show class from DIV
    setTimeout(function(){ x.className = x.className.replace("show", ""); }, 3500);
}


   </script>




{% endblock js_section %}

{% block johukum %}
   
{% endblock johukum %}