
  // Icons Starts here 
  .sprite {
    background-image: url('/media/images/sprite.png');
    background-repeat:  no-repeat;
}

.sprite1 {
    background-image: url('/media/images/sprite1.png');
    background-repeat:  no-repeat;
}

.upload {
    @include icon-block (14px, 19px, 0 0);
}

.export {
    @include icon-block (14px, 18px, -18px 0);
}

.layout-resume {
    @include icon-inblock (43px, 63px, 0 -22px);
}

.tips {
    @include icon-inblock (52px, 63px, 0 -88px);
}

.review-score {
    @include icon-inblock (46px, 63px, 0px -160px);
}

.expert-guidance {
    @include icon-inblock (45px, 63px, 0px -224px);
}

.upload-resume {
    @include icon-inblock (19px, 27px, 0 -308px);
}

.fb-black {
    @include icon-inblock (13px, 24px, -37px -541px);
}

.linledin-black{
    @include icon-inblock (25px, 24px, -64px -541px);
}

.tw-black {
    @include icon-inblock (20px, 24px, -105px -542px);
}

.green-tick {
    @include icon-inblock (14px, 11px, -28px -310px);
}

.question-mark {
    @include icon-inblock (13px, 20px, -27px -383px);
}

.caution-mark {
    @include icon-inblock (6px, 20px, 0 -416px);
}

.back-icon {
    @include icon-inblock (22px, 17px, -62px -158px);
}
.resume-analysis {
    @include size(27px, 27px);
    background-position: 0 -341px;
}

.get-resume {
    @include size(20px, 27px);
    background-position: 0 -380px;
}

.clip {
    @include icon-inblock (7px, 15px, -33px -328px);
    position: relative;
    margin-right: 5px;
    top: 2px;
}
