@import '../../../../../styles/functions';
@import '../../../../../styles/variables';
@import '../../../../../styles/mixins';

.popular-course-demand {
    position: relative;
    .nav-link {
        text-transform: uppercase !important;
    }
    .carousel {
        .carousel-control-prev, .carousel-control-next {
            display: none;
        }
        .carousel-indicators {
            margin-bottom: 0;
            li {
                width: 1rem;
                height: 1rem;
                background: $gray-500;
                border-radius: 100%;
                border: none;

                &.active {
                    background: $gray-200; 
                }
            }
        }
        .carousel-inner {
            padding-bottom: 4rem;
        }
    }
    .courses-tray__list {
        .card__heading {
            display: block;
            padding-top: 0;
            background: #F7899A;

            &.colbg1 {
                background: #F7899A;
            }
            &.colbg2 {
                background: #94B0D5;
            }
            &.colbg3 {
                background: #98C494;
            }
            &.colbg4 {
                background: #D7B675;
            }

            .flag-yellow {
                font-size: .9rem;
                font-weight: 600;
                text-transform: uppercase;
                background: $yellow;
                position: absolute;
                right: 0;
                top: 1rem;
                padding: 0 .5rem;
                border-top-left-radius: 0;
                border-bottom-left-radius: 0;
                box-shadow: 0 1px 1px 0 rgba(139,139,139,0.50);

                &::after {
                    content: '';
                    width: 0;
                    height: 0;
                    border-top: .7rem solid transparent;
                    border-right: .7rem solid $yellow;
                    border-bottom: .6rem solid transparent;
                    position: absolute;
                    left: -.7rem;
                    top: 0;
                }
            }

            .flag-blue1 {
                font-size: .9rem;
                font-weight: 600;
                text-transform: uppercase;
                background: $course-badge-blue;
                position: absolute;
                right: 0;
                top: 1rem;
                padding: 0 .5rem;
                border-top-right-radius: 0;
                border-bottom-right-radius: 0;
                box-shadow: 0 1px 1px 0 rgba(139,139,139,0.50);

                &::after {
                    content: '';
                    width: 0;
                    height: 0;
                    border-top: .7rem solid transparent;
                    border-right: .7rem solid $course-badge-blue;
                    border-bottom: .6rem solid transparent;
                    position: absolute;
                    left: -.7rem;
                    top: 0;
                }
            }

            figure {
                width: 6rem;
                height: 6rem;
                background: $white;
                border-radius: 100%;
                box-shadow: $box-shadow;
                margin: -3rem 0 1rem .5rem;

                img {
                    margin-top: .8rem;
                }
            }

            h3 {
                margin-left: .5rem;
                a {
                    color: $white;
                }
            }
        }
        .card__box {
            padding-left: 1.5rem;
            min-height: auto;

            .card__rating {
                .mode {
                    font-size: 1.1rem;
                    color: $gray-200;
                    background: rgba($color: $gray-900, $alpha: .5);
                    border-radius: 2rem;
                    padding: .1rem .7rem;
                    margin-left: auto;
                }
            }

            .view-program {
                font-size: 1.2rem;
                font-weight: 600;
                color: $blue;
                border-top: 1px solid $border-color;
                display: flex;
                justify-content: flex-end;
                padding-top: .7rem;
            }
        }
    }

    .pink-circle1 {
        position: absolute;
        left: -2rem;
        bottom: 5rem;
        background: rgba($color: $pink, $alpha: 0.3);
        width: 10rem;
        height: 10rem;
        border-radius: 100%;
        z-index: -9;
    }
}