{% extends "basic/base.html" %}
{% load static %}

{% block meta_html %}
    {{block.super}}
{%  endblock meta_html %}

{% block title %}
   Cart - Shine Learning
{% endblock title %}

{% block css_section %}
    {{block.super}}
    <link type="text/css" href="{% static 'shinelearn/css/cart/payment.css' %}" rel="stylesheet">
{% endblock css_section %}

{% block navigation %}
  <!-- navigation bar -->
  <nav class="navbar navbar-default navbar-fixed-top">
      <div class="container-fluid">
        <!-- Brand and toggle get grouped for better common display -->
        <div class="navbar-header">
          <a class="navbar-brand" href="/"></a>
        </div>

        <!-- Collect the nav links, forms, and other content for toggling -->
        <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
          
          <ul class="nav navbar-nav navbar-right">
            <li class="dropdown have-query">
              <a>Have a query? Call us at <strong>0124-3955001</strong></a>
            </li>
          </ul>
        </div><!-- /.navbar-collapse -->
      </div><!-- /.container-fluid -->
</nav>

{% endblock navigation %}


{% block container %}
    {% if cart_items %}
    <section class="container mt-53">
        <!-- page content body start -->
        <div class="row">
        <!-- left content start -->
        <div class="col-sm-9">
          <div class="cart">
            <ul class="bdr-btm">
              <li class="col-sm-5 col-md-6"><span class="cart-heading">Item</span></li>
              <li class="col-sm-3"><span class="cart-heading">Shipping</span></li>
              <li class="col-sm-2"><span class="cart-heading">Price</span></li>
              <li class="col-sm-2 col-md-1"></li>
            </ul>

            {% for item in cart_items %}
                <!-- item 1 -->
                {% with li=item.li addons=item.addons variations=item.variations %}
                    {% if li.product.is_course and variations %}

                        <ul {% if forloop.counter > 1 %} class="bdr-tp" {% endif %}>
                            <li class="col-sm-5 col-md-6">
                                <span class="cart-sub-heading">{{li.product.name}}</span>
                                <span class="provided-by">Provided by <a href="#">{{li.product.vendor}}</a></span>
                            </li>
                            <li class="col-sm-3">
                                <span class="custom-select">
                                    <select class="form-control">
                                        <option>Normal</option>
                                    </select>
                                </span>
                            </li>
                            <li class="col-sm-2">
                                <strong>Rs. {{variations.first.product.get_price}}/-</strong>
                            </li>


                            <form role="form" id="cart_remove_form{{li.id}}">{% csrf_token %}
                                <input type="hidden" name="reference_id" value="{{variations.first.reference}}">
                                <li class="col-sm-2 col-md-1">
                                    <a role="button" onclick="removeFromCart('{{li.id}}')">Remove</a>
                                </li>
                            </form>
                        </ul>
                        {% if addons %}
                            <span class="addons-heading"></span>
                            {% for addon in addons %}
                            <ul class="ml-15 addons">
                              <li class="col-sm-8 col-md-9">
                                {{addon.product.name}}
                              </li>
                              <li class="col-sm-2">
                                <strong>Rs. {{addon.product.get_price}}/-</strong>
                              </li>
                              <!--li class="col-sm-2 col-md-1">
                                <a href="#">Remove</a>
                              </li-->
                              <form role="form" id="cart_remove_form{{addon.id}}">{% csrf_token %}
                                <input type="hidden" name="reference_id" value="{{addon.reference}}">
                                <li class="col-sm-2 col-md-1">
                                    <a role="button" onclick="removeFromCart('{{addon.id}}')">Remove</a>
                                </li>
                            </form>
                            </ul>
                            {% endfor %}
                        {% endif %}

                    {% else %}

                        <ul {% if forloop.counter > 1 %} class="bdr-tp" {% endif %}>
                            <li class="col-sm-5 col-md-6">
                                <span class="cart-sub-heading">{{li.product.name}}</span>
                                <span class="provided-by">Provided by <a href="#">{{li.product.vendor}}</a></span>
                            </li>
                            <li class="col-sm-3">
                                <span class="custom-select">
                                    <select class="form-control">
                                        <option>Normal</option>
                                    </select>
                                </span>
                            </li>
                            <li class="col-sm-2">
                                <strong>Rs. {{li.product.get_price}}/-</strong>
                            </li>


                            <form role="form" id="cart_remove_form{{li.id}}">{% csrf_token %}
                                <input type="hidden" name="reference_id" value="{{li.reference}}">
                                <li class="col-sm-2 col-md-1">
                                    <a role="button" onclick="removeFromCart('{{li.id}}')">Remove</a>
                                </li>
                            </form>
                        </ul>
                        {% if addons or variations %}
                            <span class="addons-heading"></span>
                            {% for var in variations %}
                                <ul class="ml-15 addons">
                                  <li class="col-sm-8 col-md-9">
                                    {{var.product.name}}
                                  </li>
                                  <li class="col-sm-2">
                                    <strong>Rs. {{var.product.get_price}}/-</strong>
                                  </li>
                                  
                                  <form role="form" id="cart_remove_form{{var.id}}">{% csrf_token %}
                                    <input type="hidden" name="reference_id" value="{{var.reference}}">
                                    <li class="col-sm-2 col-md-1">
                                        <a role="button" onclick="removeFromCart('{{var.id}}')">Remove</a>
                                    </li>
                                </form>
                                </ul>
                            {% endfor %}

                            {% for addon in addons %}
                                <ul class="ml-15 addons">
                                  <li class="col-sm-8 col-md-9">
                                    {{addon.product.name}}
                                  </li>
                                  <li class="col-sm-2">
                                    <strong>Rs. {{addon.product.get_price}}/-</strong>
                                  </li>
                                  <!--li class="col-sm-2 col-md-1">
                                    <a href="#">Remove</a>
                                  </li-->
                                  <form role="form" id="cart_remove_form{{addon.id}}">{% csrf_token %}
                                    <input type="hidden" name="reference_id" value="{{addon.reference}}">
                                    <li class="col-sm-2 col-md-1">
                                        <a role="button" onclick="removeFromCart('{{addon.id}}')">Remove</a>
                                    </li>
                                </form>
                                </ul>
                            {% endfor %}
                        {% endif %}
                    {% endif %}
                {% endwith %}

            {% endfor %}


          </div>

        </div>
        <!-- left content end -->
        

        <!-- right content start -->
          <div class="col-sm-3 payment-summary-tab">
          <div class="box-panel checkout-box">
            Amount Payable
            <strong>Rs. {{total_amount}}/-</strong>
            <a href="{% url "cart:payment-login" %}">Proceed to checkout</a>
          </div>

          <!-- secure payment -->
          <div class="secure-payment">
            <figure class="secure-icon-payment"></figure>
            <strong>100% SECURE PAYMENT</strong>
            All major Credit and Debit cards accepted
            <figure class="cards-payment-icon mt-20"></figure>
          </div>

          </div>  
        <!-- right content end -->

        </div>
        <!-- page content body end -->

    </section>
    <!-- main section end -->
    {% else %}
        <!-- Blank Cart -->
        <section class="container">

            <!-- page content body start -->
            <div class="row">
                <!-- content start -->
                <div class="col-sm-12 mt-53">
                  <div class="empty-cart bdr">
                    <figure class="empty-cart-pic"></figure>
                    <article>You have no product in your cart. <br>Add your first product and earn <strong>Shine loyalty points</strong></article>
                    <a href="{% url "homepage" %}" class="search-button">Search now</a>
                  </div>
                </div>
                <!-- content end -->

                {% if recommended_products %}
                <!-- Recommended products start -->
                <div class="col-sm-12 mt-40">
                  <h2 class="detail-heading">Recommended products</h2>

                  <div class="row">

                    <ul class="listing">
                      {% for prd in recommended_products %}
                      <li class="col-sm-6 col-md-4">
                        <a title="prd.name" class="box-panel" href="{{prd.get_absolute_url}}">
                          <div class="media">
                            <div class="media-left">
                                <figure style="background-color:{{prd.get_bg}};">
                                    <img class="media-object" src="{{prd.image.url}}" alt="{{prd.image_alt}}" height="134" width="131">
                                </figure>
                            </div>
                            <div class="media-body">

                              <h3 class="listing-heading">{{prd.name}}</h3>
                              <div class="rating-review-box">
                                    {% for star in prd.get_ratings %}
                                          {% if star == '*' %}
                                            <figure class="full-star"></figure>
                                          {% elif star == '+' %}
                                            <figure class="half-star"></figure>
                                          {% else %}
                                            <figure class="blank-star"></figure>
                                          {% endif %}
                                    {% endfor %}
                                        
                                    <strong>{{prd.get_avg_ratings}}<small>/5</small></strong>
                                    <span class="jobs-available"><strong>{{prd.num_jobs}}</strong> jobs available</span>
                                </div>
                            </div>
                          </div>
                        </a>
                      </li>
                      {% endfor %}

                    </ul>

                  </div>

                </div>
                <!-- Recommended products end -->
                {% endif %}
            </div>
        </section>
    {% endif %}
{% endblock container %}
  

{% block js_section %}
   {{ block.super }}
   <script src="{% static 'shinelearn/js/cart/cart.js' %}"></script>
   <script type="text/javascript">
      function toggler(divId) {
          $("#" + divId).toggle();
      }
    </script>

{% endblock js_section %}
