{% extends "basic/base.html" %}
{% load static compress %}

{% block meta_html %}
    {{block.super}}
{%  endblock meta_html %}

{% block title %}
   Shipping detail - Shine Learning
{% endblock title %}

{% block css_section %}
    {{block.super}}
    {% compress css %}
    <link type="text/scss" href="{% static 'shinelearn/css/cart/payment.scss' %}" rel="stylesheet">
    {% endcompress %}
    <style type="text/css">
        .error{
            color:red;
        }
        .autocomplete-suggestions {
            border: 2px solid #e4e4e4;
            background: #F4F4F4;
            cursor: default;
            overflow: auto;
        }
        .autocomplete-suggestion {
            padding: 2px 5px;
            font-size: 1.2em;
            white-space: nowrap;
            overflow: hidden
        }
        .autocomplete-selected {
            background: #f0f0f0
        }
        .autocomplete-suggestions strong {
            font-weight: normal;
            color: #3399ff;
            font-weight: bolder
        }
    </style>
{% endblock css_section %}

{% block navigation %}
  <!-- navigation bar -->
  <nav class="navbar navbar-default navbar-fixed-top">
      <div class="container-fluid">
        <!-- Brand and toggle get grouped for better mobile display -->
        <div class="navbar-header">
          <a class="navbar-brand" href="/"></a>
        </div>

        <!-- Collect the nav links, forms, and other content for toggling -->
        <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">

          <ul class="nav navbar-nav navbar-right">
            <li class="dropdown have-query">

              <a href="tel:{{ggn_contact}}">Have a query? Call us at <strong>{{ggn_contact}}</strong></a>

            </li>
          </ul>
        </div><!-- /.navbar-collapse -->
      </div><!-- /.container-fluid -->
</nav>

{% endblock navigation %}


{% block container %}
    <section class="container mt-53">
       <!-- page content body start -->
        <div class="row greybg2 pad-25">

        <!-- left content start -->
          <div class="col-sm-3 payment-summary-tab">
          <!-- <a href="{% url "cart:payment-shipping" %}" class="active"><span>2</span> Shipping</a> -->
          <a><span class="green-circle">1</span> Summary</a>
          <a class="active"><span>2</span> Login</a>
          <a><span>3</span> Payment</a>
          </div>
        <!-- left content end -->

        <!-- right content start -->
        <div class="col-sm-9 round-border box-shadow">

        <!-- login -->
        <form class="personal-details col-sm-6 bdr-rt" method="post" action="" role="form" id="login_form">{% csrf_token %}
          <strong class="personal-details-heading ml-15">Login</strong>
            {% if email_exist %}
          {% if non_field_error %}
               <span class="error" style="left:14px;">{{non_field_error}}</span>
          {% endif %}
          <div class="form-group clearfix">
            <div class="col-sm-12 {% if email_error %} error {% endif %}">
              <input type="email"   class="form-control"  name="email" placeholder=" "   value="{{email}}"/>
              <label for="">Email id</label>
              <span class="error-txt">{{email_error}}</span>
            </div>
          </div>
            {% else %}
             {% if non_field_error %}
               <span class="error" style="left:14px;">{{non_field_error}}</span>
          {% endif %}
          <div class="form-group clearfix">
            <div class="col-sm-12 {% if email_error %} error {% endif %}">
              <input type="email"  name ="email" class="form-control" placeholder=" "    value="{% if request.session.email%}{{request.session.email}}{% elif request.session.lead_email %}{{ request.session.lead_email }}{% endif %}" {% if request.session.email %}  {% endif %}"/>
              <label for="">Email id</label>
              <span class="error-txt">{{email_error}}</span>
            </div>
          </div>
            {% endif %}
              <div class="form-group clearfix">
            <div class="col-sm-12 {% if form.first_name.errors %} error {% endif %}">
              <input type="password" class="form-control" required id="" name="password" placeholder=" "/>
              <label for="">Password</label>
              <span class="error-txt"></span>
            </div>
          </div>

          <div class="continue">
            <a class="pull-right mr-20" onclick="forgotPassword()">Forgot password?</a>
            <button type="submit">Continue</button>
          </div>

          <div class="col-sm-12 text-right social-icon-new mt-20">
            Login with
            <a class="facebook-social-icon" onclick="Login('/cart/payment-shipping/');soc_gaevent('Buy Flow','Facebook_BuyFlow','Sign In');"></a>
            <a class="linkedin-social-icon"  onclick="soc_gaevent('Buy Flow','Linkedin_BuyFlow','Sign In');" href="{% url 'users:linkedin-code' %}?next=/cart/payment-shipping/"></a>
            <a class="google-social-icon" onclick="glogin('/cart/payment-shipping/');soc_gaevent('Buy Flow','GooglePlus_BuyFlow','Sign In');"></a>
          </div>

        </form>

        <!-- Continue as guest -->
        <form  class="personal-details col-sm-6 bdr-rt hidden" method="post" action="" id="guest_form">{% csrf_token %}
          <strong class="personal-details-heading ml-15">Continue as guest</strong>
          {% if form.non_field_errors %}
               <span class="error" style="left:14px;">{{form.non_field_errors.0}}</span>
          {% endif %}
          <div class="form-group clearfix">
            <div class="col-sm-12 {% if form.first_name.errors %} error {% endif %}">
              <!-- {{form.first_name}} -->
              <input type="text" class="form-control" id="guest-name" name="name"  placeholder=" "/>
              <label for="">Your name</label>
              <span class="error-txt">{{form.first_name.errors.0}}</span>
            </div>
          </div>
          <div class="form-group clearfix">
            <div class="col-sm-12 {% if form.email.errors %} error {% endif %}">
              <!-- {{form.email}} -->
              <input type="email"
                     class="form-control"
                     name="email"
                     id="guest-email"
                     placeholder=" "
              />

              <label for="">Email id</label>
              <span class="error-txt">{{form.email.errors.0}}</span>
            </div>
          </div>
          <div class="form-group clearfix">
            <div class="col-sm-12 {% if form.mobile.errors or form.country_code.errors %} error {% endif %}">
              <div class="country-code">
                <div class="custom-select">
                    <select class="form--control" id="country_code" name="country_code">
                        {% for country in country_list %}
                            <option  value="{{country.phone}}">{{country.phone}}</option>
                        {% endfor %}
                    </select>
                </div>
              </div>
                 <div class="form-group wd2 pl-0">
                <input type="text" class="form-control"  id="guest-mobile" name="mobile" placeholder=" "/>
                <label for="">Mobile no.</label>
                <span class="error-txt">{% if form.mobile.errors %} {{form.mobile.errors.0}} {% else %}{{form.country_code.errors.0}}{% endif %}</span>
           </div>
            </div>
          </div>

          <div class="continue">
            <button type="button" id="login_guests">Continue</button>
          </div>
        </form>

            <!-- Forgot Password  -->
        <form  class="personal-details col-sm-6 bdr-rt hidden"
               method="post"
               id="forgot_form"
               action="{% url 'users:forgot-email-sent' %}"
               >{% csrf_token %}
          <strong class="personal-details-heading ml-15">Forgot Password</strong>
          {% if form.non_field_errors %}
               <span class="error" style="left:14px;">{{form.non_field_errors.0}}</span>
          {% endif %}
          <div class="form-group clearfix">
            <div class="col-sm-12 {% if form.first_name.errors %} error {% endif %}">
              <!-- {{form.first_name}} -->
              <input type="text" class="form-control" id="" name="email" placeholder=" "/>
              <label for="">Your email</label>
              <span class="error-txt">{{form.first_name.errors.0}}</span>
            </div>
          </div>
          <div class="continue">
            <button type="submit">Submit</button>
          </div>
        </form>


        <div class="col-sm-6 text-center" id="continue-as-guest-button">

          <div class="login-guest">
            <span>
              <a onclick="continueAsGuest()">
                <figure class="guestlogin-payment-icon"></figure>
                Continue as guest
              </a>
            </span>
          </div>

        </div>

        <div class="col-sm-6 text-center hidden" id="login-candidate-button">
          <div class="login-guest">
            <span>
              <a onclick="loginAsCandidate()">
                <figure class="login-payment-icon"></figure>
                Login
              </a>
            </span>
          </div>

        </div>


        </div>
        <!-- right content end -->

        </div>
        <!-- page content body end -->
    </section>
    <!-- main section end -->
{% endblock container %}


{% block js_section %}

   {{ block.super }}
      <script src="{% static 'shinelearn/js/cart/guest_login.js' %}"></script>

   {% compress js %}
   <script src="{% static 'shinelearn/js/common/jquery.autocomplete.min.js' %}"></script>
   <script src="{% static 'shinelearn/js/cart/payment-shipping.js' %}"></script>
   <script src="{% static 'shinelearn/js/cart/payment-login.js' %}"></script>
   <script src="{% static 'shinelearn/js/users/login.js' %}"></script>


   {% endcompress %}
{% endblock js_section %}

{% block johukum %}
{% endblock johukum %}

{% block zendesk %}
{% endblock zendesk %}