{% extends "basic/base.html" %}
{% load static compress search_tags %}

{% block meta_html %}
    {{block.super}}
{%  endblock meta_html %}

{% block title %}
   Payment Summary - Shine Learning
{% endblock title %}

{% block css_section %}
    {{block.super}}
    {% compress css %}
    <link type="text/scss" href="{% static 'shinelearn/css/cart/payment.scss' %}" rel="stylesheet">
    {% endcompress %}
{% endblock css_section %}

{% block navigation %}
  <!-- navigation bar -->
  <nav class="navbar navbar-default navbar-fixed-top">
      <div class="container-fluid">
        <!-- Brand and toggle get grouped for better mobile display -->
        <div class="navbar-header">
          <a class="navbar-brand" href="/"></a>
        </div>

        <!-- Collect the nav links, forms, and other content for toggling -->
        <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">

          <ul class="nav navbar-nav navbar-right">
            <li class="dropdown have-query">
              <a href="tel:{{ggn_contact}}">Have a query? Call us at <strong>{{ggn_contact}}</strong></a>

            </li>
          </ul>
        </div><!-- /.navbar-collapse -->
      </div><!-- /.container-fluid -->
</nav>

{% endblock navigation %}


{% block container %}
    <section class="container mt-53">
        <!-- page content body start -->
        <div class="row greybg2 pad-25">

        <!-- left content start -->
          <div class="col-sm-3 payment-summary-tab">
          <!-- <a href="{% url "cart:payment-shipping" %}"><span class="yellow-circle">2</span> Shipping</a> -->
          <a href="{% url "cart:payment-summary" %}" class="active"><span>1</span> Summary</a>
          <a href="{% url "cart:payment-login" %}"><span {% if candidate_in_session %} class="green-circle" {% endif %}>2</span> Login</a>
          <a><span>3</span> Payment</a>

          <!-- secure payment -->
          <!-- <div class="secure-payment">
            <figure class="secure-icon-payment"></figure>
            <strong>100% SECURE PAYMENT</strong>
            All major Credit and Debit cards accepted
            <figure class="cards-payment-icon mt-20"></figure>
          </div> -->

          </div>
        <!-- left content end -->

        <!-- right content start -->
        <div class="col-sm-9 payment-summary box-shadow">
        <!-- {% if request.session.checkout_type == 'cart' %}
        <div class="edit-cart">
          <a href="{% url "cart:cart-product-list" %}">Edit cart</a>
        </div>
        {% endif %} -->

        {% for item in cart_items %}

        {% with addons=item.addons variations=item.variations %}
            <!-- prdduct 1 -->
            <ul>
              <!-- {% if forloop.counter == 1 %}
                <li class="bdr-tp-btm">
                    <strong class="col-sm-8 col-md-9 item-heading">Item</strong>
                    <strong class="col-sm-4 col-md-3 item-heading">Price</strong>
                </li>
              {% endif %} -->

              {% if item.product_class == 'course' and variations and item.is_available and variations.0.is_available %}
                    <li>
                        <span class="col-sm-8 col-md-9 item-sub-heading"><figure class="mr-10"><img class="img-responsive" src="{% static 'shinelearn/images/hr.png' %}"></figure><strong>{{item.name}}</strong>{% if item.experience %}{{item.experience|get_choice_display:"EXP_DICT"}}{% endif %}
                        </span>
                        <strong class="col-sm-4 col-md-3">Rs. {{variations.0.price}}/-</strong>
                         <form role="form" id="cart_remove_form{{item.id}}">{% csrf_token %}
                                <input type="hidden" name="reference_id" value="{{variations.0.reference}}">
                                        <span class="close-icon"  onclick="removeFromCart('{{item.id}}')" id="id-remove-cart{{item.id}}"></span>
                            </form>
                    </li>
                    {% if variations.0.delivery_obj and variations.0.delivery_obj.get_price %}
                        <li>
                            <span class="col-sm-8 col-md-9"><figure class="checked-icon"></figure>{{variations.0.delivery_obj.name}}</span>
                            <span class="col-sm-4 col-md-3">Rs. {{variations.0.delivery_obj.get_price|floatformat:0}}/-</span>
                        </li>
                    {% endif %}
                  {% for addon in addons %}
                       {% if addon.is_available %}
                       <li>
                            <span class="col-sm-8 col-md-9"><figure class="checked-icon"></figure> {{addon.name}}</span>
                            <span class="col-sm-4 col-md-3">Rs. {{addon.price}}/-</span>
                        </li>
                       {% endif %}
                  {% endfor %}

              {% elif item.is_available %}
                  <li>
                    <span class="col-sm-8 col-md-9 item-sub-heading"><strong>{{item.name}}</strong>{% if item.experience %}{{item.experience|get_choice_display:"EXP_DICT"}}{% endif %}
                    </span>
                    <strong class="col-sm-4 col-md-3">Rs. {{item.price}}/-</strong>
                  </li>
                  {% if item.delivery_obj and item.delivery_obj.get_price %}
                        <li>
                            <span class="col-sm-8 col-md-9"><figure class="checked-icon"></figure> {{item.delivery_obj.name}}</span>
                            <span class="col-sm-4 col-md-3">Rs. {{item.delivery_obj.get_price|floatformat:0}}/-</span>
                        </li>
                  {% endif %}
                  {% for var in variations %}
                       {% if var.is_available %}
                       <li>
                            <span class="col-sm-8 col-md-9"><figure class="checked-icon"></figure> {{var.name}}</span>
                            <span class="col-sm-4 col-md-3">Rs. {{var.price}}/-</span>
                        </li>
                        {% endif %}
                  {% endfor %}
                  {% for addon in addons %}
                       {% if addon.is_available %}
                       <li>
                            <span class="col-sm-8 col-md-9"><figure class="checked-icon"></figure> {{addon.name}}</span>
                            <span class="col-sm-4 col-md-3">Rs. {{addon.price}}/-</span>
                        </li>
                        {% endif %}
                  {% endfor %}

              {% endif %}
            </ul>
        {% endwith %}
        {% endfor %}

        <!-- coupon & amount -->
        <ul>
          <li>
            <span class="col-sm-8 col-md-9 text-right subtotal-amount">Subtotal</span>
            <span class="col-sm-4 col-md-3 total-amount">Rs. {{total_amount}}/-</span>
            <style type="text/css">
              .error{
                  color:red;
              }
            </style>
            <!-- coupon -->
            <span class="col-sm-4 col-md-6 coupon">
              {% if cart_coupon %}
                <div id="showCoupon" >
                  <div class="form-group">
                    <input id="discount_code" type="text" value="Coupon {{cart_coupon.code}} is applied!" name="code" maxlength="15" disabled>
                    <span class="error-txt" id="discount-alert"></span>
                    <button type="button" onclick="JSRemoveDiscount();">Remove</button>
                  </div>
                </div>
              {% elif cart_wallet %}
                <div id="shineCredit" >
                <div class="form-group">
                  <input id="loyalty_point" type="text" placeholder="{{wallet_point}} loyalty points redeemed!" disabled>
                  <span class="error-txt" id="point-alert" ></span>
                  <button type="button" onclick="JSRemovePoint();">Remove</button>
                </div>
                </div>
              {% else %}
                <a href="javascript:void(0)" onclick="toggler('showCoupon',true);" id="show_hide_coupon">Apply coupon</a>
                {% if wallet %}
                  or
                  <a href="javascript:void(0)" onclick="toggler('shineCredit',false);">Redeem Shine credit</a>
                  
                {% endif %}
                  <form action="." id="discountForm">
                    <div id="showCoupon" class="hidden-div">
                      <div class="form-group pr">
                        <input id="discount_code" type="text" placeholder="Enter coupon code" name="code" maxlength="15">
                         <span class="error-txt" id="discount-alert"></span>
                        <button type="button" onclick="JSApplyDiscount();">Apply</button>
                      </div>
                    </div>
                  </form>
                {% if wallet %}
                  
                  <form action="." id="walletForm">
                    <div id="shineCredit" class="hidden-div">
                      You have {{wallet_total}} shine loyalty points.
                      <div class="form-group">
                        <input id="loyalty_point" type="number" placeholder="Enter loyalty points" min="0" max="{{wallet_total}}" name="point">
                        <span class="error-txt" id="point-alert" ></span>
                        <button type="button" onclick="JSApplyPoint();">Redeem</button>
                      </div>
                    </div>
                  </form>
                {% endif %}
                
              {% endif %}
              </span>

            <!-- amount -->
            <span class="col-sm-8 col-md-6">
              {% if cart_coupon %}
                    <span class="col-sm-6 text-right">Coupon applied</span>
                    <span class="col-sm-6">-Rs. <span>{{coupon_amount}}</span>/-</span>
              {% elif cart_wallet %}
                    <!--span class="col-sm-6 text-right">Your Shine cash</span>
                    <span class="col-sm-6">-Rs. 2000/-</span-->
                
                    <span class="col-sm-6 text-right">Shine loyalty points</span>
                    <span class="col-sm-6">-Rs. <span>{{redeemed_reward_point}}</span>/-</span>  
              {% endif %}
              {% if cart_coupon or cart_wallet %}
                    <span class="col-sm-6 text-right">Total</span>
                    <span class="col-sm-6">Rs. <span>{{amount_after_discount}}</span>/-</span>
              {% endif %}
              <span class="col-sm-6 text-right">SGST @ {{sgst}}%</span>
              <span class="col-sm-6">+Rs. <span>{{sgst_amount}}</span>/-</span>
              <span class="col-sm-6 text-right">CGST @ {{cgst}}%</span>
              <span class="col-sm-6">+Rs. <span>{{cgst_amount}}</span>/-</span>
              <!--span class="col-sm-6 text-right">IGST @ {{igst}}%</span>
              <span class="col-sm-6">+Rs. <span>{{igst_amount}}</span>/-</span-->
            </span>
          </li>
        </ul>

        <!-- Payable amount -->
        <ul>
          <li class="payable-amount">
            <span class="col-sm-8 col-md-9 text-right">Total</span>
            <span class="col-sm-4 col-md-3">Rs. {{total_payable_amount}}/-</span>
          </li>
        </ul>

        <!-- Make payment -->
        <span class="col-sm-7 col-md-8"></span>
        <span class="col-sm-3 col-md-4 continue">
          <a href="{% url "cart:payment-login" %}"><button type="button" id="payment-summary-continue-id">Proceed to payment</button></a>
          <!-- <figure class="secure-payment-icon"></figure>
          <span>100% Secure Payment</span> -->
        </span>

        </div>
        <!-- right content end -->

        </div>
        <!-- page content body end -->
    </section>
    <!-- main section end -->
{% endblock container %}


{% block js_section %}
   {{ block.super }}
    {% compress js %}
    <script type="text/javascript" src="{% static 'shinelearn/js/cart/payment-summary.js' %}"></script>
    {% endcompress %}
{% endblock js_section %}

{% block johukum %}
{% endblock johukum %}

{% block zendesk %}
{% endblock zendesk %}