@import '../../../../styles/functions';
@import '../../../../styles/variables';
@import '../../../../styles/mixins';
@import '../../../../styles/breadcrumb';


.banner-score {
    position: relative;
    background-image: url('#{$path}/result-score-curve.png');
    background-repeat: no-repeat;
    background-size: contain;
    height: 100%;
    display: flex;
    flex-direction: row;

    nav {
        position: absolute;
        left: 0;
    }

    &__resume-scoreWrap {
        @include size(347px, 336px);
        background-image: url('#{$path}/score.png');
        box-shadow: 0 20px 30px rgba($black, .2);
        align-self: flex-end;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        position: relative;
        margin-left: 70px;
    }

    &__myresume {
        display: flex;
        justify-content: space-between;
        align-items: center;
        align-self: flex-end;
        width: 100%;
        padding: 15px;
        margin-bottom: 15px;
        position: absolute;
        bottom: 26px;

        &--fileName {
            white-space: nowrap;
            overflow: hidden;
            text-overflow: ellipsis;
            padding-right: 30px;
        }
    }

    &__progressBar {
        flex-grow: 1;
        display: flex;
        align-items: center;
        padding-bottom: 70px;
        justify-content: center;
    }
}

.breadcrumb-item a {
    color: rgba($white, .8);
}

.breadcrumb-item + .breadcrumb-item::before {
    content: '-';
    padding-right: 0.5rem;
}




.ko-progress-circle {
	width:  $circle-size;
    height: $circle-size;
    margin-top: 90px;
	background-color: $circle-background;
    border-radius: 50%;
    position: relative;

    &__text {
        position: absolute;
        z-index: 1;
        color: $gray-300;
        width: 100%;
        text-align: center;

        strong {
            font-size: 58px;
            position: relative;
            top: 15px;
            
        }

        p {
            position: relative;
            margin-bottom: 0;
            top: -5px;
        }
    }
    
        .ko-progress-circle__slice, 
        .ko-progress-circle__fill {
			width:    $circle-size;
			height:   $circle-size;
			position: absolute;
			-webkit-backface-visibility: hidden;
			transition: transform $transition-length;
			border-radius: 50%;
		}
		.ko-progress-circle__slice {
			clip: rect(0px, $circle-size, $circle-size, $circle-size/2);
			.ko-progress-circle__fill {
				clip: rect(0px, $circle-size/2, $circle-size, 0px);
				background-color: $circle-color;
			}
	}
	.ko-progress-circle__overlay {
		width:       $inset-size;
		height:      $inset-size;
		position:    absolute;
		margin-left: ($circle-size - $inset-size)/2;
		margin-top:  ($circle-size - $inset-size)/2;

		background-color: $inset-color;
		border-radius: 50%;
	}

	$i: 0;
	$increment: 180deg / 100;
	@while $i <= 100 {
		&[data-progress='#{$i}'] {
				.ko-progress-circle__slice.full, .ko-progress-circle__fill {
          transform: rotate($increment * $i);
				}	
				.ko-progress-circle__fill.ko-progress-circle__bar {
					transform: rotate($increment * $i * 2);
				}
      $i: $i + 1;
		}
	}
}