.async-select{

    &.css-1r6akg3-container {
        border: 1px solid #eaeaea;
        border-top-left-radius: 0 !important;
        border-bottom-left-radius: 0 !important;
    }

    .css-yk16xz-control {
        border-radius: 0;
        border: 0 none;
        background-color: transparent;
    }
}

