{% extends "mobile/basic/base.html" %}
{% load static %}
{% block title %}
    Skill - Shine Learning
{% endblock %}
{% block css_section %}
{{ block.super }}
    <link href="{% static 'shinelearn/css/mobile/common/checkbox.css' %}" 
    rel="stylesheet">
    <link href="{% static 'shinelearn/css/mobile/skill/skill.css' %}" 
    rel="stylesheet">
    <link href="{% static 'shinelearn/css/mobile/common/slick.css' %}" 
    rel="stylesheet">
{% endblock css_section %}
{% block header %}
    <header class="w100fl he-auto">
        <img src="{% static 'shinelearn/images/mobile/skill/header-back-img-2.png' %}">
        
        <!-- header menu Icon Starts here -->
        <div class="main-menu w100fl">
            <div class="pull-left">
                
                <a class=" pull-left" id="sidebar-main-trigger" href="#"></a> 

                
                <a class="icon-back pull-left"  href="#"  onclick="goBack()"></a> 
            </div><!-- / Left side Icon ends here -->

            <div class="pull-right">
                
{#                <a class="icon-search pull-left" href="search-listing.html">search</a>#}
{##}
{#                #}
{#                <a class="icon-cart pull-left" href="#">cart</a>#}
            </div><!-- / Right side Icon ends here -->
        </div><!-- header menu Icon ends here -->
        <h1 class="heading-back w100fl pb-0">{{category_obj.name}} Programs</h1>
        <ul class="header-taging mt-10 w100fl">
            {% if top_3_prod.0 %}
            <li><a href="{{top_3_prod.0.pURL}}">{{top_3_prod.0.pNm}}</a></li>
            {% endif %}
            {% if top_3_prod.1 %}
            <li><a href="{{top_3_prod.1.pURL}}">{{top_3_prod.1.pNm}}</a></li>
            {% endif %}
            {% if top_3_prod.2 %}
            <li><a href="{{top_3_prod.2.pURL}}">{{top_3_prod.2.pNm}}</a></li>
            {% endif %}
        </ul>
    </header><!-- header ends here -->    
{% endblock header %}

{% block container %}
    
        <section class="content-box">
            <div class="skill-box">
                <div class="container pt-0 pb-5">
                {% if top_4_vendors %}
                    <h2 class="mb-0">Providers</h2>
                    <ul class="skill-provider home-slider">
                    {% for top_4_vendor in top_4_vendors %}
                        {% if top_4_vendor.icon or top_4_vendor.image %}
                        <li>
                            <a href="#" class="box">
                                <img src="{% if top_4_vendor.icon %}
                                    {{top_4_vendor.icon.url}}
                                {% elif top_4_vendor.image %}{{top_4_vendor.image.url}}{% endif %}">
                            </a>
                        </li>
                        {% endif %}
                    {% endfor %}
                    </ul>
                {% endif %}
                </div><!-- end of provider slider -->
                <div class="container">
                    <h2>About Product</h2>
                    <p class="pb-0">
                        {{category_obj.description | safe}}
                    </p>
                </div><!-- end of Six Sigma -->

                <div class="container">
                    <h2>Career Outcomes</h2>
                    <div class="box row">
                        <ul class="recommd-list">
                        {% for career_outcome in career_outcomes %}
                            <li>
                                <sup class="icon-tick"></sup>{{career_outcome}}
                            </li>
                        {% endfor %} 
                        </ul>
                        <div class="clearfix"></div>  
                    </div>
                </div><!-- end of Recommended  for -->

                <div class="container">
                    <h2>Demand in Market</h2>
                    <div class="box row">
                    {% if category_obj.graph_image %}
                        <div><img src="{{category_obj.graph_image.url}}"></div>
                    {% endif %}
                        <div class="market-demand mt-30 mb-30">
                            <div class="media">
                                <div class="media-left">
                                  <span class="icon-file mt-10"></span>
                                </div>
                                <div class="media-body">
                                  <span class="fs-22 blue-link">
                                  {{api_data.job_count}}</span>
                                  <p class="pb-0 c6">
                                    jobs in the market demanding this skill
                                  </p>
                                </div>
                            </div><!-- end of media -->
                            <div class="media">
                                <div class="media-left">
                                  <span class="icon-graph mt-10"></span>
                                </div>
                                <div class="media-body">
                                    <span class="fs-22 blue-link">Only 10%</span>
                                    <p class="pb-0 c6">
                                        candidates are six sigma certified
                                    </p>
                                </div>
                            </div><!-- end of media -->  
                        </div>

                        <p>Jobs require this skill in different functional area</p>
                        <ul class="links mb-10">
                            <li>
                                <a href="https://www.shine.com/job-search/quotes-{{slug}}-quotes-jobs?farea={{api_data.jFArea.0.0}}">{{api_data.jFArea.0.2}} ({{api_data.jFArea.0.1}})
                                </a>
                            </li>
                            <li>
                                <a href="https://www.shine.com/job-search/quotes-{{slug}}-quotes-jobs?farea={{api_data.jFArea.1.0}}">{{api_data.jFArea.1.2}} ({{api_data.jFArea.1.1}})
                                </a>
                            </li>
                            <li>
                                <a href="https://www.shine.com/job-search/quotes-{{slug}}-quotes-jobs?farea={{api_data.jFArea.2.0}}">{{api_data.jFArea.2.2}} ({{api_data.jFArea.2.1}})
                                </a>
                            </li>
                        </ul>
                    </div>
                </div><!-- end of Recommended for -->

                <div class="container" id="product_list">
                    <h2>{{category_obj.name}} Programs</h2>
                {% for product in products %}
                    <div class="box row mb-15">
                        <div class="media">
                            <div class="media-left">
                                <a href="javascript:void(0);" class="sigma-pro color1">
                                    <img src="{{ product.pImg}}">
                                </a>
                            </div>
                            <div class="media-body">
                                <p class="pb-0"><a href="{{site}}{{product.pURL}}">
                                    <strong>{{product.pNm}}</strong></a>
                                </p>
                        
                                <div class="mb-10 c6">
                                    <div class="rating inline-block ml-0 fs-12">
                                        <sup class="fill-star"></sup>
                                        {{product.pARx |floatformat:1}}/5
                                    </div>
                                    <div class="inline-block fs-12">
                                        <figure class="icon-comments"></figure>
                                        <a href="#">{{product.no_review}}</a>
                                        <figure class="icon-jobs ml-10"></figure>
                                        {% if product.pNJ %}
                                            <strong>{{product.pNJ}}</strong> Jobs
                                        {% endif %}
                                        {% if "true" in product.pCert %}
                                        <figure class="icon-certificate ml-10">
                                        </figure>Certification
                                        {% endif %}
                                    </div>
                                </div><!-- end of icons wrapper -->

                                <p class="pb-5 fs-12 c6">
                                    Providers
                                    <a href="#" class="tag-bg fs-11 ml-5">
                                    {{product.pPvn}}
                                    </a>
                                </p>
                                <p class="pb-0 fs-12">
                                    Starting at <strong>Rs. {{ product.pPin |floatformat:'0' }}/-</strong>{% if product.pPfin|floatformat:0|add:"0" %}<strike>Rs. {{ product.pPfin|floatformat:"0" }}/-</strike> <span class="discount">{{ product.discount }}% OFF</span>{% endif %}
                                </p>
                            </div><!-- end of media body -->
                        </div><!-- end of media -->
                    </div><!-- end of box -->
                {% endfor %}
                    {% if products.has_next %}
                        <p class="text-right pb-0">
                            <a href="javascript:void(0);" id="product_load_more"
                            class="load-more loadmore">
                            <strong>LoadMore</strong></a>
                        </p>
                    {% endif %}
                    <div id="prod_load_more">
                        {% if products.has_next %}
                            <input type="hidden" name="page" 
                            value="{{products.next_page_number}}" id="page_id">
                            <input type="hidden" name="slug" value="{{category_obj.pk}}" id="slug_id">
                        {% endif %}
                    </div>
                </div><!-- end of container -->

                <!-- Revew Slide widget -->
                <div class="container">
                {% if page_reviews %}
                    <div class="w100fl">
                        <h2 class="pull-left">Reviews</h2>
                    </div>
                    <div class="clearfix"></div>
                    <div class="box row pb-30">
                        <div class="review-container rel">
                            <ul class="review-slide" id="review_list">
                            {% for page_review in page_reviews %}
                                <li>
                                    <div class="wrap">
                                        {% for rating in page_review.get_ratings %}
                                        <div class="rating inline-block ml-0 fs-12">
                                            {% if rating == "*" %}
                                            <sup class="fill-star"></sup>
                                            {% else %}
                                            <sup class="unfill-star"></sup>
                                            {% endif %}
                                        </div><!-- end of star rating -->
                                        {% endfor %}
                                        <p>{{page_review.content | safe}}</p>
                                        <p class="fs-12 c9 pb-0">
                                            {{page_review.user_name}} 
                                            {{page_review.created|timesince}} ago
                                        </p>
                                    </div>
                                </li>
                            {% endfor %}
                            </ul>
                        </div><!-- end of review wrap -->
                    </div><!-- end of box -->
                {% endif %}
                </div><!-- end of container -->
            
            </div><!-- end of skill box -->
        </section><!-- end of section here -->
    
    
{% endblock container %}

{% block js_section %}
    {{block.super}}
    <script src="{% static 'shinelearn/js/skill/skillpage.js' %}"></script>
{% endblock js_section %}

