{% load static compress resume_tags %}
<!doctype html>
<html lang="en">
<head>
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    {% block css_section %}
        <link type="text/css" href="{% static 'shinelearn/css/resume-builder/resume6.css' %}" rel="stylesheet">
    {% endblock css_section %}

</head>
<body>
{% comment %}
For Mobile case
 <div style=" width: 1536px; transform-origin: top left; transform : scale(0.32); font-family: 'Segoe UI', 'Helvetica Neue', 'Roboto', Arial, 'sans-serif'; font-size: 14px; color: #777777; line-height: 20px;">
 {% endcomment %}
<div style="max-width: 1536px; width: 100%; font-family: 'Segoe UI', 'Helvetica Neue', 'Roboto', Arial, 'sans-serif'; font-size: 14px; color: #777777; line-height: 20px;">

    <div style="width: 100%; background: {{ current_config.color|background_color_choice }}; padding: 3%;">

        <!--top left 1-->

        {% include entity_position.0.entity_id|render_section:"partials1/" %}


        <!--top right  2-->
        {% include entity_position.1.entity_id|render_section:"partials1/" %}


    </div>

    <div style="width: 100%; border-bottom: 13px solid {{ current_config.color|background_color_choice }}; padding: 3% 3% 0 3%;">

        <!--Experience 3-->
        {% include entity_position.2.entity_id|render_section:"partials1/" %}


        <!--Skills 4-->
        {% include entity_position.3.entity_id|render_section:"partials1/" %}


        <!--Project  5-->
        {% include entity_position.4.entity_id|render_section:"partials1/" %}


        <!--Courses done  6-->
        {% include entity_position.5.entity_id|render_section:"partials1/" %}


        <!--Education  7-->
        {% include entity_position.6.entity_id|render_section:"partials1/" %}


        <!--Interest  8-->
        {% include entity_position.7.entity_id|render_section:"partials1/" %}


        <!--Achievement  9-->
        {% include entity_position.8.entity_id|render_section:"partials1/" %}


        <!--Reference  10-->
        {% include entity_position.9.entity_id|render_section:"partials1/" %}


        <!--Languages  11-->
{#        {% include entity_position.9.entity_id|render_section:"partials1/" %}#}


    </div>

</div>
<div style="position: fixed; left: 0; right: 0; top: 2%; margin: 0 auto;"><img src="images/watermark.png"
                                                                               alt="shinelearning.com"
                                                                               style="width: 100%;"></div>


</body>
</html>