{% load static compress %}
<!doctype html>
<html lang="en">
<head>
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    {% block css_section %}
        <link type="text/css" href="{% static 'shinelearn/css/resume-builder/resume6.css' %}" rel="stylesheet">
    {% endblock css_section %}

</head>
<body>
<div class="resume">
    <div class="resume-content">
        <div class="top-panel">
            <div class="resume-container">

                <div class="left-panel">
                  <span class="resume-image">
                    <img src="./images/resume-pic.jpg" alt="">
                  </span>
                    <h1>{{ candidate.first_name }} {{ candidate.last_name }}</h1>
                    <h2>{{ latest_exp }}</h2>

                    <p>{{ candidate.extra_info }}</p>
                </div><!-- left panel -->

                <div class="right-panel">
                    <ul class="resume-list">
                        <li>
                            <span class="icon"><img src="images/mobile-icon.png" alt=""></span>
                            <span>+91 {{ candidate.number }}</span>
                        </li>
                        <li>
                            <span class="icon"><img src="images/email-icon.png" alt=""></span>
                            <span>{{ candidate.email }}</span>
                        </li>
                        <li>
                            <span class="icon"><img src="images/location-icon.png" alt=""></span>
                            <span>{{ candidate.location }}</span>
                        </li>
                        {#                        <li>#}
                        {#                            <span class="icon"><img src="images/linkedin-icon.png" alt=""></span>#}
                        {#                            <span>linkedin.com/candidatename</span>#}
                        {#                        </li>#}
                        {#                        <li>#}
                        {#                            <span class="icon"><img src="images/facebook-icon.png" alt=""></span>#}
                        {#                            <span>Facebook.com/candidatename</span>#}
                        {#                        </li>#}
                    </ul>
                </div><!-- right panel -->
            </div>
        </div><!-- /. Top panel -->
        {% if experience %}
            <div class="resume-container">
            <div class="experience mb-30">
                <div class="heading">{{ preference_list.2.entity_text }}</div>
                <ul class="list">
                    {% for exp in experience %}
                        <li>
                            <span class="dot"></span>
                            <div class="experience-content">
                                <h3>{{ exp.job_profile }}</h3>
                                <p>{{ exp.company_name }}</p>
                                <p>{{ exp.work_description }}</p>
                            </div>
                            <span class="experience-status">({{ exp.start_date|date:"M Y" }} - Current)</span>
                        </li>
                    {% endfor %}
                </ul>
            </div><!-- experience-->
        {% endif %}

        {% if skills %}
            <div class="d-flex justify-content-between mb-30">
                <div class="skills w-50">
                    <div class="heading">{{ preference_list.4.entity_text }}</div>

                    <div class="skill-wrap">
                        <div class="skill-graph">
                            <!--5 skills-->
                            <div style="padding: 0; display: table; margin: 20% 0 5% 30%; height: 200px;">
                                <div style="position: relative;">
                                    <div style="position: absolute; left: 0; right: 0; display: table-cell; margin: 10px auto; width: 130px; height: 130px; border-radius: 50%; background-color: #ebebeb; background-image: linear-gradient({{ '14.4' }}deg, #d8d8d8 50%, transparent 50.1%, transparent),linear-gradient(270deg, #d8d8d8 50%, #ebebeb 50.1%, #ebebeb); text-align: center;">
                              <span style=" position: absolute; left: 50%; top: 50%; display: block; width: 100px; height: 100px; margin-left: -38%; margin-top: -38%; text-align: center; border-radius: 50%; background: #f4f4f4; z-index: 1; vertical-align: middle;">
                                <span style="display: block; margin: 36% 1px 0 1px; color: #333333; font-size: 13px; line-height: 13px;">Data Engineering</span>
                              </span>
                                    </div>
                                    <div style="position: absolute; top: -80px; left: 25px; display: table-cell; margin: 10px auto; width: 85px; height: 85px; border-radius: 50%; background-color: #ebebeb; background-image: linear-gradient(14.4deg, #ef8080 50%, transparent 50.1%, transparent),linear-gradient(270deg, #ef8080 50%, #ebebeb 50.1%, #ebebeb); text-align: center;">
                              <span style=" position: absolute; left: 50%; top: 50%; display: block; width: 65px; height: 65px; margin-left: -38%; margin-top: -39%; text-align: center; border-radius: 50%; background: #f4f4f4; z-index: 1; vertical-align: middle;">
                                <span style="display: block; margin: 36% 1px 0 1px; color: #333333; font-size: 13px; line-height: 13px;">Dev OPS</span>
                              </span>
                                    </div>
                                    <div style="position: absolute; top: 25px; right: -210px; display: table-cell; margin: 10px auto; width: 85px; height: 85px; border-radius: 50%; background-color: #ebebeb; background-image: linear-gradient(14.4deg, #a7c4f4 50%, transparent 50.1%, transparent),linear-gradient(270deg, #a7c4f4 50%, #ebebeb 50.1%, #ebebeb); text-align: center;">
                              <span style=" position: absolute; left: 50%; top: 50%; display: block; width: 65px; height: 65px; margin-left: -38%; margin-top: -39%; text-align: center; border-radius: 50%; background: #f4f4f4; z-index: 1; vertical-align: middle;">
                                <span style="display: block; margin: 36% 1px 0 1px; color: #333333; font-size: 13px; line-height: 13px;">Full stack developer</span>
                              </span>
                                    </div>
                                    <div style="position: absolute; bottom: -230px; left: 25px; display: table-cell; margin: 10px auto; width: 85px; height: 85px; border-radius: 50%; background-color: #ebebeb; background-image: linear-gradient({{ '90' }}deg, #e2bd58 50%, transparent 50.1%, transparent),linear-gradient(270deg, #e2bd58 50%, #ebebeb 50.1%, #ebebeb); text-align: center;">
                              <span style=" position: absolute; left: 50%; top: 50%; display: block; width: 65px; height: 65px; margin-left: -38%; margin-top: -39%; text-align: center; border-radius: 50%; background: #f4f4f4; z-index: 1; vertical-align: middle;">
                                <span style="display: block; margin: 36% 1px 0 1px; color: #333333; font-size: 13px; line-height: 13px;">Machine</span>
                              </span>
                                    </div>
                                    <div style="position: absolute; top: 25px; left: -80px; display: table-cell; margin: 10px auto; width: 85px; height: 85px; border-radius: 50%; background-color: #ebebeb; background-image: linear-gradient(14.4deg, #abc881 50%, transparent 50.1%, transparent),linear-gradient(270deg, #abc881 50%, #ebebeb 50.1%, #ebebeb); text-align: center;">
                              <span style=" position: absolute; left: 50%; top: 50%; display: block; width: 65px; height: 65px; margin-left: -38%; margin-top: -39%; text-align: center; border-radius: 50%; background: #f4f4f4; z-index: 1; vertical-align: middle;">
                                <span style="display: block; margin: 36% 1px 0 1px; color: #333333; font-size: 13px; line-height: 13px;">OOP</span>
                              </span>
                                    </div>
                                </div>
                            </div>

                        </div>
                    </div>
                </div><!-- Skills -->

                <div class="skills w-50">
                    <div class="heading">{{ preference_list.3.entity_text }}</div>

                    <ul class="list">
                        {% for project in projects %}
                            <li>
                                <span class="dot"></span>
                                <div class="experience-content w-100">
                                    <h3>{{ project.project_name }}</h3>
                                    <p>{{ project.description }}</p>
                                </div>
                            </li>
                        {% endfor %}
                    </ul>
                </div><!-- Skills -->
            </div><!-- D-flex -->
        {% endif %}

        {% if certifications %}
            <div class="d-flex justify-content-between mb-30">
            <div class="w-50">
                <div class="heading">{{ preference_list.7.entity_text }}</div>

                <ul class="list list-2">
                    {% for course in certifications %}
                        <li>
                            <span class="dot"></span>
                            {{ course.name_of_certification }}
                        </li>
                    {% endfor %}
                </ul>
            </div>
        {% endif %}


        {% if education %}
            <div class="w-50">
                <div class="heading">{{ preference_list.1.entity_text }}</div>
                <ul class="list">
                    {% for edu in education %}
                        <li>
                            <span class="dot"></span>
                            <div class="education-content">
                                <h3>{{ edu.specialization }} - 80%</h3>
                                <p> {{ edu.institution_name }}</p>
                            </div>

                            <div class="education-year">({{ edu.start_date|date:"Y" }} - {{ edu.end_date|date:"Y" }})
                            </div>
                        </li>
                    {% endfor %}
                </ul>
            </div>
            </div><!-- D-flex -->

        {% endif %}

        <div class="d-flex justify-content-between mb-30">
            <div class="w-50">
                <div class="heading">INTEREST</div>
                <ul class="list list-2">
                    {% for interest in extracurricular %}
                        <li>
                            <span class="dot"></span>
                            {{ interest }}
                        </li>
                    {% endfor %}

                </ul>
            </div>
            {% if achievements %}
                <div class="w-50">
                    <div class="heading">{{ preference_list.6.entity_text }}</div>
                    <ul class="list">
                        {% for award in achievements %}
                            <li>
                                <span class="dot"></span>
                                <div class="education-content w-100">
                                    {{ award.summary }}
                                </div>
                            </li>
                        {% endfor %}
                    </ul>
                </div>
                </div><!-- D-flex -->
            {% endif %}


        <div class="d-flex justify-content-between mb-30">
            {% if references %}
                <div class="w-50">
                    <div class="heading">{{ preference_list.9.entity_text }}</div>
                    <ul class="list">
                        {% for ref in references %}
                            <li>
                                <span class="dot"></span>
                                <div class="flex-row">
                                    <h3 class="heading2">{{ ref.reference_name }}<span>({{ ref.reference_designation }})</span>
                                    </h3>
                                    <p>{{ ref.about_candidate }}</p>
                                </div>

                            </li>
                        {% endfor %}
                    </ul>
                </div>

            {% endif %}
            {% if languages %}
                <div class="w-50">
                    <div class="heading">{{ preference_list.8.entity_text }}</div>
                    <ul class="list list-2">
                        {% for language in languages %}
                            <li>
                                <span class="dot"></span>
                                {{ language.name }}
                            </li>
                        {% endfor %}

                    </ul>
                </div>
            {% endif %}
        </div><!-- D-flex -->
        </div>
    </div>

</div>


</body>
</html>