{% load static compress resume_tags %}
<!doctype html>
<html lang="en">
<head>
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
</head>
<body>
{% comment %}
For Mobile case
 <div style=" width: 1536px; transform-origin: top left; transform : scale(0.32); font-family: 'Segoe UI', 'Helvetica Neue', 'Roboto', Arial, 'sans-serif'; font-size: 14px; color: #777777; line-height: 20px;">
 {% endcomment %}
<div style="max-width: 1536px; word-wrap: break-word; width: 100%; font-family: 'Segoe UI', 'Helvetica Neue', 'Roboto', Arial, 'sans-serif'; font-size: 14px; color: #777777; line-height: 20px;">

    <div style="width: {{ width }}%; background: {{ current_config.color|background_color_choice }}; padding: 3%;">

        <!--top left 1-->
        {% if entity_position.0.active %}
            {% include entity_position.0.entity_id|render_section:"partials1/" %}
        {% endif %}


        <!--top right  2-->
        {% if entity_position.1.active %}
            {% include entity_position.1.entity_id|render_section:"partials1/" %}
        {% endif %}


    </div>

    <div style="width: {{ width }}%; border-bottom: 13px solid {{ current_config.color|background_color_choice }}; padding: 3% 3% 0 3%;">

        <!--Experience 3-->
        {% if entity_position.2.active %}
            {% include entity_position.2.entity_id|render_section:"partials1/" %}
        {% endif %}


        <!--Skills 4-->
        {% if entity_position.3.active %}
            {% include entity_position.3.entity_id|render_section:"partials1/" %}
        {% endif %}


        <!--Project  5-->
        {% if entity_position.4.active %}
            {% include entity_position.4.entity_id|render_section:"partials1/" %}
        {% endif %}


        <!--Courses done  6-->
        {% if entity_position.5.active %}
            {% include entity_position.5.entity_id|render_section:"partials1/" %}
        {% endif %}


        <!--Education  7-->
        {% if entity_position.6.active %}
            {% include entity_position.6.entity_id|render_section:"partials1/" %}
        {% endif %}


        <!--Interest  8-->
        {% if entity_position.7.active %}
            {% include entity_position.7.entity_id|render_section:"partials1/" %}
        {% endif %}


        <!--Achievement  9-->
        {% if entity_position.8.active %}
            {% include entity_position.8.entity_id|render_section:"partials1/" %}
        {% endif %}


        <!--Reference  10-->
        {% if entity_position.9.active %}
            {% include entity_position.9.entity_id|render_section:"partials1/" %}
        {% endif %}

        <!--Language  11-->
        {% if entity_position.10.active %}
            {% include entity_position.10.entity_id|render_section:"partials1/" %}
        {% endif %}


    </div>

</div>
{% comment %} <div style="position: fixed; left: 0; right: 0; top: 2%; margin: 0 auto;"><img src="images/watermark.png"
                                                                               alt="shinelearning.com"
                                                                               style="width: 100%;"></div> {% endcomment %}


</body>
</html>