{% load static compress resume_tags %}
<!doctype html>
<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>Resume</title>
    <script src="https://kit.fontawesome.com/85df0f75f9.js"></script>
    
  </head>
  <body style="margin: 0; padding: 0; font-family: 'Segoe UI', 'Helvetica Neue', 'Roboto', Arial, 'sans-serif';">
    <div style="max-width: 1536px; width: 100%; font-family: 'Segoe UI', 'Helvetica Neue', 'Roboto', Arial, 'sans-serif'; font-size: 14px; color: #777777; float: left; display: table-row; line-height: 20px; word-wrap: break-word;">

      <!--left column-->
      <div style="width: 24%; background: {{ current_config.color|background_color_choice }}; padding: 3% 3% 6% 3%; display: table-cell; vertical-align: top;">
        {% if candidate.image %}
          <img src="{{candidate.image}}" alt="Resume" style="border-radius: 100%; margin-bottom: 10px; width: 150px; height: 150px;" width="150" height="150"/>
        {% endif %}
        <h1 style="margin: 0 0 10px 0; color: #ffffff; font-size: 32px; line-height: 32px; font-weight: bold;">{{ candidate.first_name }} {{ candidate.last_name }}</h1>
          <strong style="display: block; font-size: 16px; color: #c5e6ff; font-weight: normal; margin-bottom: 30px;">{{ latest_exp }}</strong>

        <!--Personal info-->
        {% if entity_position.0.active %}
            {% include entity_position.0.entity_id|render_section:"partials2/" %}
        {% endif %}

        <!--Skills-->
        {% if entity_position.1.active %}
            {% include entity_position.1.entity_id|render_section:"partials2/" %}
        {% endif %}

        <!--Languages-->
        {% if entity_position.2.active %}
            {% include entity_position.2.entity_id|render_section:"partials2/" %}
        {% endif %}
        

        <!--Interest-->
        {% if entity_position.3.active %}
            {% include entity_position.3.entity_id|render_section:"partials2/" %}
        {% endif %}

      </div>

      <!--right column-->
      <div style="width: 63.5%; background: #ffffff; padding: 3%; display: table-cell; vertical-align: top;">
        <!--Summary-->
        {% if entity_position.4.active %}
            {% include entity_position.4.entity_id|render_section:"partials2/" %}
        {% endif %}
        

        <!--Experience-->
        {% if entity_position.5.active %}
            {% include entity_position.5.entity_id|render_section:"partials2/" %}
        {% endif %}
        

        <!--Education-->
        {% if entity_position.6.active %}
            {% include entity_position.6.entity_id|render_section:"partials2/" %}
        {% endif %}
        

        <!--Course-->
        {% if entity_position.7.active %}
            {% include entity_position.7.entity_id|render_section:"partials2/" %}
        {% endif %}
        

        <!--Project-->
        {% if entity_position.8.active %}
            {% include entity_position.8.entity_id|render_section:"partials2/" %}
        {% endif %}

        <!--Awards-->
        {% if entity_position.9.active %}
            {% include entity_position.9.entity_id|render_section:"partials2/" %}
        {% endif %}
        

        <!--Reference-->
        {% if entity_position.10.active %}
            {% include entity_position.10.entity_id|render_section:"partials2/" %}
        {% endif %}

      </div>

    </div>
   {% if is_img %}
      <div style="position: fixed; left: 0; right: 0; top: 2%; margin: 0 auto;">
          <img src="{% static 'resumebuilder/images/watermark.png' %}"
              alt="shinelearning.com"
              style="width: 100%;">
      </div>
  {% endif %}
  </body>
</html>