<!DOCTYPE html>
<html>
<head>
</head>
<body>

<div style="
    text-align: center;
    padding: 0">
    <div style="
 position: relative;
    display: inline-block;
    margin: 1rem;
    width: 120px;
    height: 120px;
    border-radius: 50%;
    background-color: #ebebeb;
    background-image: linear-gradient(14.4deg, #66b8ff 50%, transparent 50.1%, transparent),linear-gradient(270deg, #66b8ff 50%, #ebebeb 50.1%, #ebebeb);
">

        <span style="  font-size: 1.5rem;
    color: #8b8b8b;
    position: absolute;
    left: 50%;
    top: 50%;
    display: block;
    width: 60px;
    height: 60px;
    line-height: 60px;
    margin-left: -30px;
    margin-top: -30px;
    text-align: center;
    border-radius: 50%;
    background: #fff;
    z-index: 1;">79%</span></div>
</div>


</body>
</html>