@import '../../../../styles-mobile/abstracts';

.m-form-pos-btm {
    position: fixed;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: 999;
}

input:-internal-autofill-selected { 
    background-color: rgb(255, 255, 255) !important;
}

.swal2-html-container {
    h3 {
        font-size: 2rem;
        font-weight: 600;
    }
}

input:-webkit-autofill,
input:-webkit-autofill:hover, 
input:-webkit-autofill:focus, 
input:-webkit-autofill:active  {
    -webkit-box-shadow: 0 0 0 30px white inset !important;
}

.m-big-review-star {
    margin: 15px 0;
    display: block;
    // padding-left: 60px;
    text-align: center;

    .micon-blankstar,
    .micon-fullstar {
        margin: 0 15px;
        transform: scale(2);
    }
}
.m-upload-modal {
    background: $white;
    .small {
        font-size: 1.1rem;
        margin: 0 10%;
        display: block;
        text-align: center;
    }

    .upload-btn-wrapper {
        position: relative;
        overflow: hidden;
        display: flex;
        cursor: pointer;
        align-items: center;
        justify-content: center;

        &:hover, &:focus {
            + input {
                background-color: $blue;
                color: $white;
            }
        }

        input[type=file] {
            position: absolute;
            left: 0;
            top: 0;
            opacity: 0;
            cursor: pointer;
            width: 13.6rem;
            height: 3.6rem;

            &:hover {
                ~ .btn-upload {
                    background-color: $blue;
                    color: $white;
                }
            }
        }
    }

    .btn-upload {
        border: 1px solid $blue;
        color: $blue;
        background-color: $white;
        padding: .8rem 2rem;
        border-radius: 2rem;
        font-size: 1.2rem;
        font-weight: 700;
        text-transform: uppercase;
        cursor: pointer;

        &:hover, &:focus {
            background-color: $blue;
            color: $white;
        }
    }

    .btn-blue {
        display: inline-block;
        width: auto !important;
        margin: 0 auto;
    }
} 

.m-form-pos-center-v {
    position: fixed;
    left: 0;
    right: 0;
    bottom: 0;
    top: 0;
    z-index: 999;
    padding: 0 2rem;

    &::before {
        content: '';
        position: absolute;
        left: 0;
        right: 0;
        top: 0;
        bottom: 0;
        z-index: 9;
        background: rgba($color: $black, $alpha: 0.4)
    }

    .m-modal-body {
        position: relative;
        z-index: 9999;
        left: 0;
        right: 0;
        top: 0;
        bottom: 0;
        background: $white;
        padding: 10%;
        flex: 1;
        margin: 0 2rem;

        .m-close {
            position: absolute;
            right: 1.5rem;
            top: .5rem;
            font-size: 2rem;
            font-weight: 400;
            color: $gray-200;
        }
    }
}

.m-offer-modal {
    height: 100vh;
    .m-offer-box {
        background: url('#{$path}mobile/offer-bg.jpg') no-repeat center top;
        background-size: cover;
        display: flex;
        width: auto;

        .m-offer-txt {
            align-self: flex-end;
            margin: 1.5rem;
            color: $white;

            .m-offer-heading {
                font-size: 2.2rem;
                line-height: 2.5rem;
                text-align: left;
                margin-bottom: 1rem;
                display: block;
                strong {
                    font-weight: 600;
                    display: block;
                }
            }

            p {
                font-size: 1.3rem;
                color: $white;
                display: flex;
                align-items: center;
                justify-content: center;

                .m-time {
                    margin: 0;
                    display: inline-block;

                    strong {
                        width: 4.5rem;
                        height: 4rem;
                        border-radius: .2rem;
                        font-size: 2.4rem;
                        font-weight: 600;
                        color: $gray-100;
                        background: $white;
                        display: block;
                        text-align: center;
                        vertical-align: middle;
                        // line-height: 4rem;
                    }

                    em {
                        font-style: normal;
                        display: block;
                        margin-top: .5rem;
                        margin-left: 0;
                        text-align: center;
                        width: 5.5rem;
                    }
                }
            }
        }
    }
    .m-brand-partner {
        text-align: center;
        strong {
            font-size: 1.2rem;
            font-weight: 700;
            width: 100%;
            position: relative;
            display: block;

            &::before {
                content: '';
                position: absolute;
                left: 0;
                right: 0;
                top: 1.7rem;
                border: 1px solid $border-color;
            }

            span {
                background: $white;
                padding: 0 1rem;
                display: inline-block;
                position: relative;
                z-index: 9;
                font-size: 1.2rem;
            }
        }

        span {
            font-size: 1.1rem;
            color: $gray-200;
            display: block;
            margin: 1rem 0;
        }
    }

    .m-close {
        color: $white !important;
        right: 1rem !important;
        top: 0 !important;
    }
}

.m-offer-modal-thanks {
    .m-close {
        color: $gray-100 !important;
    }
}
