@import '../../../../styles-mobile/abstracts';

.m-form-pos-btm {
    position: fixed;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: 99;
}

input:-internal-autofill-selected { 
    background-color: rgb(255, 255, 255) !important;
}

.swal2-html-container {
    h3 {
        font-size: 2rem;
        font-weight: 600;
    }
}

input:-webkit-autofill,
input:-webkit-autofill:hover, 
input:-webkit-autofill:focus, 
input:-webkit-autofill:active  {
    -webkit-box-shadow: 0 0 0 30px white inset !important;
}