.functional_area {

    display: flex;
    flex-direction: column;
    margin: 40px 5%;





    .functional_area_inside {


        display: flex;
        flex-direction: column;
        border-left: solid 4px $purple;
        background: $bg-white;
        box-shadow: $box-shadow-test;
        border-radius: 4px;

        margin: 10px 0 10px 30px;
        align-items: start;

        font-size: $font-size - 1;
        position: relative;



        &.border-0 {
            border-left: solid 4px $purple;
        }

        &.border-1 {
            border-left: solid 4px $sky;
        }

        &.border-2 {
            border-left: solid 4px $light_green;
        }

        &.border-3 {
            border-left: solid 4px $teal;
        }

        &.border-4 {
            border-left: solid 4px $pink;
        }

        &.border-5 {
            border-left: solid 4px $red;
        }

        &.border-6 {
            border-left: solid 4px $orange;
        }

        &.border-7 {
            border-left: solid 4px $yellow;
        }

        &.border-8 {
            border-left: solid 4px $cyan;
        }


        a {
            display: flex;
            width: 100%;
            flex-direction: column;
            padding: 10px 10px 10px 60px;
            min-height: 100px;
            justify-content: center;

        color: $txt-grey-666;




            &:hover {
                box-shadow: 0 3px 24px 0 #DEE7F3;
                background: $bg-white;
            }

        

        .fa_name {
            font-size: $font-size +3;
            
            font-weight: $font-weight ;
            color: $txt-grey-333 !important;
            margin-bottom: 5px;
            line-height:$font-size +8; 
           

        }
}

        .icon {
            background: url($practice-test) -10px -12px $bg-white;
            box-shadow: $box-shadow-test;
            width: 74px;
            height: 74px;
            border-radius: 50%;
            position: absolute;
            left: -40px;
            top: 10%;


            &.sales {
                background-position: 3px -138px;
            }

            &.info {
                background-position: 3px -197px;
            }

            &.banking {
                background-position: 11px -259px;
            }

            &.operations {
                background-position: 4px -324px;
            }


            &:hover {

                box-shadow: 0 3px 14px 0 #BAD5F6, inset 0 1px 3px 0 #BAD5F6;

            }



        }


    }




}