.cms .tabs li {
  width: 50%; }

.input-group .form-control, .input-group-addon, .input-group-btn {
  display: table-cell; }

.input-group-addon, .input-group-btn {
  vertical-align: middle;
  white-space: nowrap;
  width: 1%; }

/* current element like this */
/* Tabbing Start From Here */
.tab-container .tabs li {
  display: inline-block; }
  .tab-container .tabs li a {
    padding: 10px 5px;
    display: block;
    font-size: 80%; }

.tab-container .tabs .current {
  color: #666;
  border-bottom: 1px solid #6b6b6b; }

.tab-container .tab-content {
  display: none;
  padding: 15px; }
  .tab-container .tab-content .box-panel {
    margin-bottom: 15px; }
    .tab-container .tab-content .box-panel .media {
      border-bottom: 0 none;
      margin-bottom: 0;
      padding-bottom: 0; }

.tab-container .tab-content.current {
  display: inherit; }

.cms .tabs {
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  border-radius: 4px;
  overflow: hidden;
  border: 1px solid #e5e5e5; }
  .cms .tabs li {
    margin: 0;
    text-align: center; }
    .cms .tabs li a {
      background-color: #e5e5e5;
      display: block;
      color: #333; }
  .cms .tabs .current {
    background-color: #fff;
    border-bottom: 0;
    color: #333; }

/* Main CSS Start From Here */
.form-group {
  margin-bottom: 15px;
  position: relative; }

input, select, textarea, button {
  font-family: "Open Sans", sans-serif;
  font-size: 1em;
  line-height: 1.3;
  margin: 0; }

input:focus {
  border: 1;
  -webkit-box-shadow: none;
     -moz-box-shadow: none;
          box-shadow: none;
  outline: none; }

select {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  width: 100%;
  height: 40px;
  background: url("../../../images/mobile/common/dropdown.svg");
  background-color: #fff;
  background-position: 98% 2px;
  background-repeat: no-repeat;
  border: 1px solid #c1c1c1;
  color: #999;
  font-family: "Open Sans", sans-serif;
  font-size: 14px;
  outline: 0;
  padding: 6px 30px 6px 6px;
  text-align: left;
  -webkit-transition: all .3s ease;
  -o-transition: all .3s ease;
  -moz-transition: all .3s ease;
  transition: all .3s ease; }
  select option {
    padding: 6px; }

textarea.form-control {
  height: auto; }

button {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none; }

.input-group {
  border-collapse: separate;
  display: table;
  position: relative;
  margin-bottom: 15px;
  width: 100%; }
  .input-group .form-control {
    border: 1px solid #ddd;
    float: left;
    margin-bottom: 0;
    position: relative;
    width: 100%;
    z-index: 2; }

.input-group-addon {
  background-color: #fff;
  color: #555;
  padding: 6px 12px;
  text-align: center;
  font-weight: 400;
  line-height: 1;
  text-align: center;
  border: 1px solid #ddd; }
  .input-group-addon:first-child {
    -webkit-border-bottom-right-radius: 0;
       -moz-border-radius-bottomright: 0;
            border-bottom-right-radius: 0;
    -webkit-border-top-right-radius: 0;
       -moz-border-radius-topright: 0;
            border-top-right-radius: 0;
    border-right: 0; }
  .input-group-addon:last-child {
    border-left: 0 none;
    -webkit-border-radius: 0;
       -moz-border-radius: 0;
            border-radius: 0; }

.form-control {
  display: block;
  height: 40px;
  width: 100%;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  background-color: #fff;
  font-family: "Open Sans", sans-serif;
  border: 1px solid #c1c1c1;
  -webkit-border-radius: 0;
     -moz-border-radius: 0;
          border-radius: 0;
  color: #555;
  font-size: 14px;
  line-height: 1.42857;
  padding: 6px 12px;
  -webkit-transition: border-color 0.15s ease-in-out 0s, -webkit-box-shadow 0.15s ease-in-out 0s;
  transition: border-color 0.15s ease-in-out 0s, -webkit-box-shadow 0.15s ease-in-out 0s;
  -o-transition: border-color 0.15s ease-in-out 0s, box-shadow 0.15s ease-in-out 0s;
  -moz-transition: border-color 0.15s ease-in-out 0s, box-shadow 0.15s ease-in-out 0s, -moz-box-shadow 0.15s ease-in-out 0s;
  transition: border-color 0.15s ease-in-out 0s, box-shadow 0.15s ease-in-out 0s;
  transition: border-color 0.15s ease-in-out 0s, box-shadow 0.15s ease-in-out 0s, -webkit-box-shadow 0.15s ease-in-out 0s, -moz-box-shadow 0.15s ease-in-out 0s; }
  .form-control::-moz-placeholder {
    color: #999;
    opacity: 1; }

.comment-wrap ul {
  border-bottom: 1px solid #f2f2f2;
  margin-bottom: 15px; }
  .comment-wrap ul li {
    padding-left: 50px;
    font-size: 100%;
    margin-bottom: 20px; }
    .comment-wrap ul li sup {
      height: 40px;
      width: 40px;
      -webkit-border-radius: 50%;
      -moz-border-radius: 50%;
      border-radius: 50%;
      background-color: #ebebeb;
      position: absolute;
      left: 15px; }
      .comment-wrap ul li sup img {
        height: 40px;
        width: 40px;
        -webkit-border-radius: 50%;
        -moz-border-radius: 50%;
        border-radius: 50%; }

/* Main CSS Start From Here */
.modal {
  display: none;
  /* Hidden by default */
  position: fixed;
  /* Stay in place */
  z-index: 1;
  /* Sit on top */
  left: 0;
  top: 0;
  bottom: 0;
  right: 0;
  overflow-x: hidden;
  overflow-y: auto;
  background-color: black;
  /* Fallback color */
  background-color: rgba(0, 0, 0, 0.8);
  /* Black w/ opacity */
  /* Modal Content */ }
  .modal .modal-helper {
    display: table;
    width: 100%;
    height: 100%; }
  .modal .modal-vertical-center {
    display: table-cell;
    vertical-align: middle; }
  .modal .modal-content {
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;
    background-color: #fff;
    width: 95%;
    margin: auto;
    position: relative;
    overflow: hidden; }
    .modal .modal-content h2 {
      padding: 10px 15px;
      border-bottom: 1px solid #f5f5f5; }
    .modal .modal-content .header {
      position: relative; }
      .modal .modal-content .header .icon-close {
        position: absolute;
        top: 50%;
        right: 10px;
        margin-top: -10px; }

.extra {
  position: absolute;
  top: 50%;
  width: 100%;
  height: 46px;
  margin-top: 23px;
  padding-left: 15px; }
  .extra a {
    width: 47%;
    display: inline-block; }

.box-panel {
  border-bottom: 1px solid #c1c1c1; }
  .box-panel .current {
    border-bottom: 2px solid #2f5ea6 !important; }
  .box-panel li {
    width: 50%;
    margin: 0 -1px; }
    .box-panel li a {
      font-size: 1.1em !important;
      text-align: center;
      color: #333; }

.login-form .form-control {
  border: 0 none;
  border-bottom: 1px solid #c1c1c1;
  padding: 0; }

.content-box .code {
  width: 22%; }
  .content-box .code select {
    -webkit-border-radius: 0;
    -moz-border-radius: 0;
    border-radius: 0;
    border: 0 none;
    border-bottom: 1px solid #c1c1c1;
    color: #666; }

.content-box .number {
  width: 72%;
  margin-left: 15px; }

.line_wrap {
  margin: 5px 0 30px;
  position: relative;
  text-align: center; }
  .line_wrap span {
    background-color: #fff;
    color: #666;
    display: inline-block;
    font-size: 1em;
    padding: 5px 10px;
    position: relative;
    top: 13px; }
  .line_wrap .line {
    border-bottom: 2px solid #c1c1c1; }

.social-login a {
  display: inline-block;
  width: 55px;
  height: 40px;
  -webkit-border-radius: 3px;
     -moz-border-radius: 3px;
          border-radius: 3px;
  border-width: 1px;
  border-style: solid;
  position: relative;
  margin: 0 7px; }

.social-login .fb {
  border-color: #7c90b9; }

.social-login .tw {
  border-color: #7cc6e9; }

.social-login .gp {
  border-color: #e08478; }


.social-login .link {
  border-color: #007eb6; }


.any-query {
  background-color: #fbfbfb;
  padding: 30px; }

.error .form-control {
  border-color: #f34a38;
  color: #f34a38; }

.error .error-txt {
  font-size: 85%;
  padding-top: 3px;
  color: #f34a38;
  display: block;
  padding-bottom: 0; }

.error-txt {
  display: none; }
