{% load static sekizai_tags compress %}
{% spaceless %}
<!DOCTYPE html>
<html lang="en" itemscope itemtype="http://www.schema.org/WebPage">
    <head>
<!-- Google Tag Manager -->
<script>(function(w,d,s,l,i){w[l]=w[l]||[];w[l].push({'gtm.start':
new Date().getTime(),event:'gtm.js'});var f=d.getElementsByTagName(s)[0],
j=d.createElement(s),dl=l!='dataLayer'?'&l='+l:'';j.async=true;j.src=
'https://www.googletagmanager.com/gtm.js?id='+i+dl;f.parentNode.insertBefore(j,f);
})(window,document,'script','dataLayer','GTM-TFD6PTW');</script>

<script>(function(w,d,s,l,i){w[l]=w[l]||[];w[l].push({'gtm.start':
new Date().getTime(),event:'gtm.js'});var f=d.getElementsByTagName(s)[0],
j=d.createElement(s),dl=l!='dataLayer'?'&l='+l:'';j.async=true;j.src=
'https://www.googletagmanager.com/gtm.js?id='+i+dl;f.parentNode.insertBefore(j,f);
})(window,document,'script','dataLayer','GTM-M323HB');</script>
<!-- End Google Tag Manager -->


    <title> {% block title %}Shine Learning{% endblock title %}</title>
    {% block head %}
    {% block meta_html %}
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width shrink-to-fit=no, initial-scale=1.0, user-scalable=0">
    {% endblock meta_html %}
    {% block django_meta %}
    {% endblock django_meta %}
    {% block canonical_url %}
      <link rel="canonical" href="https://{{ SITE_DOMAIN }}{{ request.path }}">
   {% endblock canonical_url %}
    {% block css_section %}
        {% compress css %}
        <link type="text/scss" href="{% static 'shinelearn/css/mobile/common/global.scss' %}" rel="stylesheet">
        <link type="text/scss" href="{% static 'shinelearn/css/mobile/common/icons.scss' %}" rel="stylesheet">
        <link type="text/scss" href="{% static 'shinelearn/css/mobile/common/navigation.scss' %}" rel="stylesheet">
        <link type="text/scss" href="{% static 'shinelearn/css/mobile/common/images.scss' %}" rel="stylesheet" >
        {% endcompress %}
    {% endblock css_section %}
    {% block banner_ads %}
        <script async='async' src='https://www.googletagservices.com/tag/js/gpt.js'></script>
        <script>
        var googletag = googletag || {};
        googletag.cmd = googletag.cmd || [];
        </script>

        <script>
        googletag.cmd.push(function() {
        googletag.defineSlot('/1198510/ShineLearning_1x1_mobile', [1, 1], 'div-gpt-ad-1509431552856-0').addService(googletag.pubads());
        googletag.pubads().enableSingleRequest();
        googletag.enableServices();
        });
        </script>
    {% endblock banner_ads %}
        {% block marketing_pixel %}
            <!-- Google Tag Manager -->
            <!--<script>(function(w,d,s,l,i){w[l]=w[l]||[];w[l].push({'gtm.start':-->
            <!--new Date().getTime(),event:'gtm.js'});var f=d.getElementsByTagName(s)[0],-->
            <!--j=d.createElement(s),dl=l!='dataLayer'?'&l='+l:'';j.async=true;j.src=-->
            <!--'https://www.googletagmanager.com/gtm.js?id='+i+dl;f.parentNode.insertBefore(j,f);-->
            <!--})(window,document,'script','dataLayer','GTM-M323HB');</script>-->
            <!-- End Google Tag Manager -->
        {% endblock marketing_pixel %}
    {% endblock head %}
    {{ JS_SETTINGS|safe }}
    {% block GA %}
        <script async src="https://www.googletagmanager.com/gtag/js?id=UA-3537905-41"></script>
        <script>
          window.dataLayer = window.dataLayer || [];
          function gtag(){dataLayer.push(arguments);}
          gtag('js', new Date());
          {% if request.GET.itm_source or request.GET.itm_medium or request.GET.itm_campaign or request.GET.itm_content %}
            gtag('config', 'UA-3537905-41' ,{'dimension1': '{{request.GET.itm_source}}','dimension2' : '{{request.GET.itm_medium}}','dimension3':  '{{request.GET.itm_campaign}}','dimension4':'{{request.GET.itm_content}}',
                'useAmpClientId': true });
          {% else%}
            gtag('config', 'UA-3537905-41', {'useAmpClientId': true});

          {%endif%}
          gtag('config', 'UA-3537905-1',{'group':'mainProfile','useAmpClientId': true});
        </script>
    {% endblock GA %}
   </head>
    <body>
<!-- Google Tag Manager (noscript) -->
<noscript><iframe src="//www.googletagmanager.com/ns.html?id=GTM-TFD6PTW"
height="0" width="0" style="display:none;visibility:hidden"></iframe></noscript>

<noscript><iframe src="//www.googletagmanager.com/ns.html?id=GTM-M323HB"
height="0" width="0" style="display:none;visibility:hidden"></iframe></noscript>
<!-- End Google Tag Manager (noscript) -->

        {% if IS_MAINTENANCE %}
        <marquee> {{ MAINTENANCE_MESSAGE }} </marquee>
        {% endif %}
        {% block marketingpopup%}
          {% if marketing_popup_html %}
              {% include marketing_popup_html %}
          {% endif %}
        {% endblock %}

        {% block main_container %}
        <div class="wrapper">
            {% if show and offer_home%}
                <div class="offer" id="offer-widget">
                    <span class="close" id="close-offer" onclick="gaOffer_sticky_close()"></span>
                    <p class="pb-0" id="enroll-now" onclick="gaOffer_popup()">
                        {{sticky_text}}- <strong>{{offer_value}} <br/> Ends in <span id = 'sticky_timer_mobile'></span> - </strong> 
                        <a href="javascript:void(0)" class="offer--link">Enroll Now!</a> 
                    </p>
                </div>
            {% endif %}

            {% block header %}
            <!-- header menu Icon Starts here -->
                <header class="w100fl">
                    <!-- header menu Icon Starts here -->
                   <div class="main-menu w100fl">
                    <div class="pull-left">
                        <a id="sidebar-main-trigger" class="icon-bar pull-left" role="button" ></a>
                        {% block back_icon %}
                           <a href="/" class="icon-logo pull-left"></a>
                        {% endblock back_icon %}

                    </div><!-- / Left side Icon ends here -->

                   <div class="pull-right">
                        <!--a class="icon-search pull-left " href="search-listing.html">search</a-->
                        {% if show and offer_home%}
                            <a class="icon-offers" id="icon_offer" style="display: none;" href="javascript:void(0)" onclick="gaOffer_popup()"></a>
                        {% endif %}
                        <a class="icon-cart" href="{% url "cart:payment-summary" %}" >cart <span id="cart-counter-id">{{cart_count}}</span></a>
                   </div><!-- / Right side Icon ends here -->
                </div><!-- header menu Icon ends here -->
                {% block header_title %}{% endblock header_title %}
                    <!-- Search listing tagging ends here -->
                </header><!-- header ends here -->
            {% endblock header %}

            {% block container %}
                {% block call_us %}{% endblock call_us %}
            {% endblock container %}

            {% block footer %}
                <!-- footer -->
                {% include 'basic/footer.html' %}
            {% endblock footer %}

            {% block navigation %}
                <!-- left side menu -->
                {% include 'basic/navigation.html' %}
            {% endblock navigation %}
        </div>

        <div class="new-enquire offer-modal" id="open-offer"> 
            <div class="container pt-0">
                <span class="close" id="close-offer-modal" onclick="gaPopup_close()"></span>
                <div class="offer-modal--image">
                    <div class="content-box">
                        <div class="offer-modal--head">{{ banner_text }} - <strong>{{ offer_value }}</strong></div>
                        <p class="pb-5">Offer ending in</p>
                        <ul class="offer-modal__counter">
                            <li>
                                <span class="offer-modal__counter--box" id = 'days'>00</span>
                                <span class="offer-modal__counter--title">Days</span>
                            </li>
                           
                            <li>
                                <span class="offer-modal__counter--box" id = 'hours'>11</span>
                                <span class="offer-modal__counter--title">Hours</span>
                            </li>
                           
                            <li>
                                <span class="offer-modal__counter--box" id = 'min'>52</span>
                                <span class="offer-modal__counter--title">Min.</span>
                            </li>
                           
                            <li>
                                <span class="offer-modal__counter--box" id = 'sec'>12</span>
                                <span class="offer-modal__counter--title">Sec.</span>
                            </li>
                        </ul>
                    </div>
                </div>
                <div class="new-login-form offer-modal--formBox">
                    <p class="fs-22 semi-bold mb-10">Avail offer</p>
                    <form id="pop_up_form">
                        <ul>
                            <li class="form-group input-effect">
                                <input type="text" id="name" name="name" value="{{request.session.full_name}}" 
                                    class="form--control animation-input {% if request.session.full_name %}has-content{% endif %}" 
                                    placeholder="" onfocus="gaForm_fill()">
                                <label for="name">Name</label>
                                <span class="mgs"></span>
                            </li>
                            <li class="form-group d-flex">
                                    <div class="input-effect code">
                                        <select name="country_code" class="form--control" id="country-code">
                                        {% for country in country_choices %}
                                            <option value="{{country.0}}" {% if country.0 == '91' %} selected {% endif %} >{{country.0}}&emsp;&emsp;&emsp;&emsp;&emsp;-- {{country.1}}</option>
                                        {% endfor %}
                                        </select>
                                    </div>
                                    <div class="input-effect ml-auto number-w67 rel"> 
                                        <input type="text"  name="number" value="{{request.session.mobile_no }}" id="number" 
                                            class="form--control animation-input {% if request.session.mobile_no %}has-content{% endif %}" 
                                            placeholder="">
                                        <label for="mobile-id">Mobile</label>
                                        <span class="mgs"></span>
                                    </div>
                            </li>

                            <li class="form-group input-effect">
                                <input type="email" name="email" id="email-id" value="{{request.session.email}}"   
                                    class="form--control animation-input {% if request.session.email %}has-content{% endif %}"
                                    aria-describedby="email-id" placeholder="" >
                                <label for="email-id">Email id</label>
                                <span class="mgs"></span>
                            </li>
                            <li class="fs-14 semi-bold mb-5 mt-20">Course you would be interested in</li>
                            <li class="custom-checkbox offer-modal--checkboxes mb-25 error">
                                <label for="big-data">
                                    <input class="form-check-input" type="checkbox" id = "big-data" name = "course" value="Big data">
                                    <span>Big data</span>
                                </label>
                                
                                <label for="six-sigma">
                                    <input class="form-check-input" type="checkbox" id = "six-sigma" name = "course" value="Six Sigma">
                                    <span>Six Sigma</span>
                                </label>
                                
                                <label for="cc">
                                    <input class="form-check-input" type="checkbox" id = "cc" name = "course" value="Cloud computing">
                                    <span>Cloud computing</span>
                                </label>
                                
                                <label for="dm">
                                    <input class="form-check-input" type="checkbox" id = "dm" name = "course" value="Digital marketing">
                                    <span>Digital marketing</span>
                                </label>
                                
                                <label for="ds">
                                    <input class="form-check-input" type="checkbox" id = "ds" name = "course" value="Data Science">
                                    <span>Data Science </span>
                                </label>
                                
                                <label for="others">
                                    <input class="form-check-input" type="checkbox" id = "others" name = "course" value="Others">
                                    <span>Others </span>
                                </label>
                                <span id = "checkbox_error" class="mgs"></span>
                            </li>
                            <li>
                                <button class="btn btn-round btn-blue w100 semi-bold" type="submit" id="open-thanks" onclick="gaAvail_offer()">Avail offer now!</button>
                            </li>
                            <li class="fs-12 c9 text-center mt-10">*T&C applied, valid only on select courses</li>
                            <input type="hidden" name="product_offer" value="True">
                        </ul>
                    </form>
                </div>
            </div>
        </div><!-- Offer modal -->
        
        <div class="new-enquire offer-modal" id="thank-modal"> 
            <span class="close" id="close-thanks-modal"></span>
            <div class="content-box pt-0">
                <div class="offer-modal--thanks w-100 text-center">
                    <img src="{% static 'shinelearn/images/mobile/common/thank-you.jpg' %}" alt="">
                </div>
                <p class="fs-18 semi-bold text-center mt-15">Our expert will get in <br />touch with you.</p>
            </div>
        </div><!-- Thank You -->
        



        {% endblock main_container %}

    {% block js_section %}
        <!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
        <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.5.1/jquery.min.js"> </script>
        <script async src="https://cdnjs.cloudflare.com/ajax/libs/corejs-typeahead/1.3.1/typeahead.bundle.min.js"></script>
        <script src="https://ajax.googleapis.com/ajax/libs/webfont/1.5.18/webfont.js"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-validate/1.19.2/jquery.validate.min.js"></script>

        <script>
         WebFont.load({
            google: {
              families: ['Open+Sans:300,400,600,700']
            }
          });
        </script>
    <!-- <script src="https://cdnjs.cloudflare.com/ajax/libs/jqueryui/1.12.1/jquery-ui.min.js"></script> -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/slick-carousel/1.8.1/slick.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/bxslider/4.2.15/jquery.bxslider.min.js"></script>

        {% compress js %}
        <script type="text/javascript" src="{% static 'shinelearn/js/mobile/common/jquery-ui.min.js' %}"> </script>
        <!-- <script type="text/javascript" src="{% static 'shinelearn/js/common/jquery.validate.min.js' %}"> </script> -->
        <!-- <script type="text/javascript" src="{% static 'shinelearn/js/mobile/common/jquery.bxslider.js' %}"> </script> -->
        <script type="text/javascript" src="{% static 'shinelearn/js/mobile/common/jquery.simpler-sidebar.js' %}"> </script>
        <script type="text/javascript" src="{% static 'shinelearn/js/mobile/common/multilevelnav.js' %}"></script>
        <script type="text/javascript" src="{% static 'shinelearn/js/mobile/common/smk-accordion.js' %}"> </script>
        <!-- <script type="text/javascript" src="{% static 'shinelearn/js/mobile/common/slick.js' %}"></script> -->
        <script type="text/javascript" src="{% static 'shinelearn/js/common/plugins.ga.js' %}"></script>
        <script type="text/javascript" src="{% static 'shinelearn/js/mobile/common/base.js' %}"> </script>
        <script type="text/javascript" src="{% static 'shinelearn/js/common/common.js' %}"> </script>
        <script type="text/javascript" src="{% static 'shinelearn/js/webmobile/webmobile.js' %}"> </script>
        {% endcompress %}
        <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/corejs-typeahead/1.3.1/typeahead.bundle.min.js"> </script>

        <!-- {% block johukum %}
        <script type='text/javascript' id='spd-busns-spt' async=''
            src='https://cdn.joehukum.com/assets/share/js/joeChat.min.js'
            data-client='324ed0abb0694b0c66a6daecb178352d'>
        </script>
        {% endblock johukum %} -->

    {% endblock js_section %}

    
    {% block banner_ads_bottom %}
        <!-- /1198510/ShineLearning_1x1_mobile -->
        <div id='div-gpt-ad-1509431552856-0'>
        <script>

        {% if marketing_popup_html %}
            $('.marketing-popup').modal();
        {% endif %}
        </script>
        </div>
    {% endblock banner_ads_bottom %}
    </body>
</html>
{% endspaceless %}
{% block jquery_block %}
<script type="text/javascript">
    $("#id_q").on('keyup', function (e) {
    if (e.keyCode == 13) {
        if(e.target.value){
            location.href = '/search/results/?q='+encodeURI(e.target.value);
        }
    }
    });

    jQuery(document).ready(function($){

      $("#done_click").click(function(){
          updateTextArea();
          $("#sidebar-countries").hide();
          $(".cls_mask").hide();
          $('body').css('overflow','auto');
      });
      $("#sidebar-countries-trigger").click(function(){
          $("#sidebar-countries").show();
      });

      $("#enquire_btn").on('click', function() {
        $('#enquire').addClass('show');
      });

      $("#back_btn").on('click', function() {
        $('#enquire').removeClass('show');
      });
  });
  $(document).ready(()=>{
      if ($('.enquire-cta').length){
            $('footer').find('.content-box').addClass('pb-60')
      }
  })

</script>
{% endblock jquery_block %}


{% block zendesk %}
        <!--Start of Zendesk Chat Script-->
        <script type="text/javascript" >
          window.$zopim||(function(d,s){var z=$zopim=function(c){z._.push(c)},$=z.s=
          d.createElement(s),e=d.getElementsByTagName(s)[0];z.set=function(o){z.set.
          _.push(o)};z._=[];z.set._=[];$.async=!0;$.setAttribute("charset","utf-8");$.setAttribute("defer",null);
          $.src="https://v2.zopim.com/?5xDfzOy1OsJEYM1rLRdXyvsf3GOj6Qmb";z.t=+new Date;$.
          type="text/javascript";e.parentNode.insertBefore($,e)})(document,"script");


          const candidateId = '{{ request.session.candidate_id}}';

          if (candidateId) {
              const full_name = '{{ request.session.full_name }}';
              const  email ='{{ request.session.email }}';
              const mobile_no = '{{ request.session.mobile_no }}';


              $zopim(function () {
                  $zopim.livechat.set({
                      language: 'en',
                      name: full_name ? full_name : '',
                      email: email ? email : '',
                      phone: mobile_no ? mobile_no : ''
                  });
              });
          }
        </script>

        <!--End of Zendesk Chat Script-->
    {% endblock zendesk %}
