{% load static sekizai_tags compress %}
{% spaceless %}
<!DOCTYPE html>
<html lang="en" itemscope itemtype="http://www.schema.org/WebPage">
    <head>
    {% block head %}
    {% block meta_html %}
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width shrink-to-fit=no, initial-scale=1.0, user-scalable=0">
    {% endblock meta_html %}
    {% block django_meta %}
    {% endblock django_meta %}
    {% block canonical_url %}
      <link rel="canonical" href="https://{{ SITE_DOMAIN }}{{ request.path }}">
   {% endblock canonical_url %}

    <title> {% block title %}Shine Learning{% endblock title %}</title>

    {% block css_section %}
        <link href="https://fonts.googleapis.com/css?family=Open+Sans:300,400,700" rel="stylesheet">
        {% compress css %}
        <link type="text/scss" href="{% static 'shinelearn/css/mobile/common/global.scss' %}" rel="stylesheet">
        <link type="text/scss" href="{% static 'shinelearn/css/mobile/common/icons.scss' %}" rel="stylesheet">
        <link type="text/scss" href="{% static 'shinelearn/css/mobile/common/navigation.scss' %}" rel="stylesheet">
        <link type="text/scss" href="{% static 'shinelearn/css/mobile/common/images.scss' %}" rel="stylesheet" >
        {% endcompress %}
    {% endblock css_section %}
    {% block banner_ads %}
        <script async='async' src='https://www.googletagservices.com/tag/js/gpt.js'></script>
        <script>
        var googletag = googletag || {};
        googletag.cmd = googletag.cmd || [];
        </script>

        <script>
        googletag.cmd.push(function() {
        googletag.defineSlot('/1198510/ShineLearning_1x1_mobile', [1, 1], 'div-gpt-ad-1509431552856-0').addService(googletag.pubads());
        googletag.pubads().enableSingleRequest();
        googletag.enableServices();
        });
        </script>
    {% endblock banner_ads %}
        {% block marketing_pixel %}
            <!-- Google Tag Manager -->
            <!--<script>(function(w,d,s,l,i){w[l]=w[l]||[];w[l].push({'gtm.start':-->
            <!--new Date().getTime(),event:'gtm.js'});var f=d.getElementsByTagName(s)[0],-->
            <!--j=d.createElement(s),dl=l!='dataLayer'?'&l='+l:'';j.async=true;j.src=-->
            <!--'https://www.googletagmanager.com/gtm.js?id='+i+dl;f.parentNode.insertBefore(j,f);-->
            <!--})(window,document,'script','dataLayer','GTM-M323HB');</script>-->
            <!-- End Google Tag Manager -->
        {% endblock marketing_pixel %}
    {% endblock head %}
    {{ JS_SETTINGS|safe }}
    {% block GA %}
        <script async src="https://www.googletagmanager.com/gtag/js?id=UA-3537905-41"></script>
        <script>
          window.dataLayer = window.dataLayer || [];
          function gtag(){dataLayer.push(arguments);}
          gtag('js', new Date());
          {% if request.GET.itm_source or request.GET.itm_medium or request.GET.itm_campaign or request.GET.itm_content %}
            gtag('config', 'UA-3537905-41' ,{'dimension1': '{{request.GET.itm_source}}','dimension2' : '{{request.GET.itm_medium}}','dimension3':  '{{request.GET.itm_campaign}}','dimension4':'{{request.GET.itm_content}}',
                'useAmpClientId': true });
          {% else%}
            gtag('config', 'UA-3537905-41', {'useAmpClientId': true});

          {%endif%}
          gtag('config', 'UA-3537905-1',{'group':'mainProfile','useAmpClientId': true});
        </script>
    {% endblock GA %}
   </head>
    <body>
        {% if IS_MAINTENANCE %}
        <marquee> {{ MAINTENANCE_MESSAGE }} </marquee>
        {% endif %}
        {% block marketingpopup%}
          {% if marketing_popup_html %}
              {% include marketing_popup_html %}
          {% endif %}
        {% endblock %}

        {% block main_container %}
        <div class="wrapper">
            {% block header %}
            <!-- header menu Icon Starts here -->
                <header class="w100fl">
                    <!-- header menu Icon Starts here -->
                   <div class="main-menu w100fl">
                    <div class="pull-left">
                        <a id="sidebar-main-trigger" class="icon-bar pull-left" role="button" ></a>
                        {% block back_icon %}
                           <a href="/" class="icon-logo pull-left"></a>
                        {% endblock back_icon %}

                    </div><!-- / Left side Icon ends here -->

                   <div class="pull-right">
                        <!--a class="icon-search pull-left " href="search-listing.html">search</a-->
                        <a class="icon-cart" href="{% url "cart:cart-product-list" %}" >cart <span id="cart-counter-id">{{cart_count}}</span></a>
                   </div><!-- / Right side Icon ends here -->
                </div><!-- header menu Icon ends here -->
                {% block header_title %}{% endblock header_title %}
                    <!-- Search listing tagging ends here -->
                </header><!-- header ends here -->
            {% endblock header %}

            {% block container %}
                {% block call_us %}{% endblock call_us %}
            {% endblock container %}

            {% block footer %}
                <!-- footer -->
                {% include 'basic/footer.html' %}
            {% endblock footer %}

            {% block navigation %}
                <!-- left side menu -->
                {% include 'basic/navigation.html' %}
            {% endblock navigation %}
        </div>
        {% endblock main_container %}

    {% block js_section %}
        <!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.2/jquery.min.js"> </script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/corejs-typeahead/1.2.1/typeahead.bundle.js"></script>
        {% compress js %}
        <script type="text/javascript" src="{% static 'shinelearn/js/mobile/common/jquery-ui.min.js' %}"> </script>
        <script type="text/javascript" src="{% static 'shinelearn/js/common/jquery.validate.min.js' %}"> </script>
        <script type="text/javascript" src="{% static 'shinelearn/js/mobile/common/jquery.bxslider.js' %}"> </script>
        <script type="text/javascript" src="{% static 'shinelearn/js/mobile/common/jquery.simpler-sidebar.js' %}"> </script>
        <script type="text/javascript" src="{% static 'shinelearn/js/mobile/common/multilevelnav.js' %}"></script>
        <script type="text/javascript" src="{% static 'shinelearn/js/mobile/common/smk-accordion.js' %}"> </script>
        <script type="text/javascript" src="{% static 'shinelearn/js/mobile/common/slick.js' %}"></script>
        <script type="text/javascript" src="{% static 'shinelearn/js/common/plugins.ga.js' %}"></script>
        <script type="text/javascript" src="{% static 'shinelearn/js/mobile/common/base.js' %}"> </script>
        <script type="text/javascript" src="{% static 'shinelearn/js/common/common.js' %}"> </script>
        <script type="text/javascript" src="{% static 'shinelearn/js/webmobile/webmobile.js' %}"> </script>
        {% endcompress %}

        <!-- {% block johukum %}
        <script type='text/javascript' id='spd-busns-spt' async=''
            src='https://cdn.joehukum.com/assets/share/js/joeChat.min.js'
            data-client='324ed0abb0694b0c66a6daecb178352d'>
        </script>
        {% endblock johukum %} -->

    {% endblock js_section %}

    {% block zendesk %}
        <!--Start of Zendesk Chat Script-->
        <script type="text/javascript">
          window.$zopim||(function(d,s){var z=$zopim=function(c){z._.push(c)},$=z.s=
          d.createElement(s),e=d.getElementsByTagName(s)[0];z.set=function(o){z.set.
          _.push(o)};z._=[];z.set._=[];$.async=!0;$.setAttribute("charset","utf-8");
          $.src="https://v2.zopim.com/?5xDfzOy1OsJEYM1rLRdXyvsf3GOj6Qmb";z.t=+new Date;$.
          type="text/javascript";e.parentNode.insertBefore($,e)})(document,"script");


          const candidateId = '{{ request.session.candidate_id}}';

          if (candidateId) {
              const full_name = '{{ request.session.full_name }}';
              const  email ='{{ request.session.email }}';
              const mobile_no = '{{ request.session.mobile_no }}';


              console.log('request   ', full_name, email, mobile_no);
              $zopim(function () {
                  $zopim.livechat.set({
                      language: 'en',
                      name: full_name ? full_name : '',
                      email: email ? email : '',
                      phone: mobile_no ? mobile_no : ''
                  });
              });
          }
        </script>

        <!--End of Zendesk Chat Script-->
    {% endblock zendesk %}
    {% block banner_ads_bottom %}
        <!-- /1198510/ShineLearning_1x1_mobile -->
        <div id='div-gpt-ad-1509431552856-0'>
        <script>
        
        {% if marketing_popup_html %}
            $('.marketing-popup').modal();
        {% endif %}
        </script>
        </div>
    {% endblock banner_ads_bottom %}
    </body>
</html>
{% endspaceless %}
<script type="text/javascript">
    $("#id_q").on('keyup', function (e) {
    if (e.keyCode == 13) {
        if(e.target.value){
            location.href = '/search/results/?q='+encodeURI(e.target.value);
        }
    }
    });
</script>
