<footer>
    <div class="m-social-icon mt-20">
        <a aria-label="follow us on facebook" class="micon-facebook mr-10" href="https://www.facebook.com/shinelearningdotcom/" onclick="MyGA.SendEvent('social_media_follow','ln_social_media_follow', 'ln_facebook', 'homepage','', false, true);trackClickEvent();" ></a>
        <a aria-label="follow us on linkedin" class="micon-linkedin mr-10" href="https://www.linkedin.com/showcase/13203963/" onclick="MyGA.SendEvent('social_media_follow','ln_social_media_follow', 'ln_linkedin', 'homepage','', false, true);trackClickEvent();"></a>
        <a aria-label="follow us on twitter" class="micon-twitter" href="https://twitter.com/shinelearning" onclick="MyGA.SendEvent('social_media_follow','ln_social_media_follow', 'ln_twitter', 'homepage','', false, true);trackClickEvent();"></a>
    </div>
    <div class="content-box {% if show_chat %}pb-60{% endif %}">
            <p class="pb-0">Copyright © {% now "Y" %} HT Media Limited.</p>
            <p class="pb-0"><a href="/privacy-policy/" onclick="trackClickEvent()">Privacy Policy</a> | <a href="/tnc/" onclick="trackClickEvent()">Terms &amp; Conditions</a></p>
    </div>
</footer>