<footer class="footer-new">
    <div class="content-box {% if show_chat %}pb-60{% endif %}">
        <div class="footer-new__smo">
            <a href="#" class="sprite fb-black"></a>
            <a href="#" class="sprite linledin-black"></a>
            <a href="#" class="sprite tw-black"></a>
        </div>
        <p class="pb-0"><a href="/privacy-policy">Privacy Policy</a> | <a href="/tnc">Terms &amp; Conditions</a></p>
        <p class="pb-0">2017 HT Media Limited. All rights reserved</p>
    </div>
</footer>

