@import '../../../../../styles/variables/vars.scss';
@import '../../../../../styles/variables/mixins.scss';

h2 {
	margin: 0 10px !important;
}

.info-section {
	flex: 1;
	flex-direction: column;
	margin: 20px 10px 20px 20px;
}

.icon-edit__cursor {
	cursor: pointer;
}