@import '../../../../../styles/functions';
@import '../../../../../styles/variables';
@import '../../../../../styles/mixins';

.have-query {
    background-color: #F3F6FB;
    margin: 40px 0;
    height: 88px;
    display: flex;
    width: 100%;

    &--curve {
        background-image: url(#{$image-root}have-quer-bg.png);
        flex: 0 0 218px;
        height: 88px;
        width: 218px;
        display: block;
        font-size: 20px;
        display: flex;
        align-items: center;
        justify-content: center;
        font-weight: 600;
        margin: 0;
    }

    ul {
        display: flex;
        align-items: center;
        justify-content: space-between;
        flex-grow: 1;
        padding: 0 90px 0 60px;
    }

    .call-us,
    .mail-us {
        font-weight: 600;

        a {
            &::before {
                content: '';
                width: 18px;
                height: 18px;
                display: inline-block;
                background: $spriteDb;
                position: relative;
                margin-right: 10px;
            }
        }
    }

    .call-us a {
        &::before {
            background-position: -73px 0;
            top: 3px;
        }
    }
    
    .mail-us a {
        &::before {
            background-position: -99px 0;
            top: 7px;
        }
    }


}

.have-query-wrap {
    padding-left: 156px;
}