@import '../../../styles/variables/vars.scss';
@import '../../../styles/variables/mixins.scss';

.footer {
    background-color: $blue;
    color: rgba($white, .6);
    margin: -2rem -1.5rem 0;
    padding: 3.5rem 2rem 2rem;
    font-size: 1.2rem;
    text-align: center;

    &__items {
        display: flex;
        justify-content: center;
        margin-bottom: 1rem;

        a {
            color: $white;
        }
    }

    &__item {
        &:not(:last-child) {
            border-right: 1px solid $white;
            padding-right: 1rem;
            margin-right: 1rem;
        }
    }
}