@import '../../../Common/scss/library/variables';
@import '../../../Common/scss/library/mixin';
@import '../../../Common/scss/library/extends';
@import '../../../Common/scss/base/reset';
@import '../../../Common/scss/base/typography';
@import '../../../Common/scss/utilities/flex';
@import '../../../Common/scss/utilities/flex';
@import '../../../Common/scss/utilities/font-size';
@import '../../../Common/scss/utilities/margin';
@import '../../../Common/scss/utilities/padding';
@import '../../../Common/scss/utilities/text-align';

// From Components
@import '../../../Common/scss/components/icons';
@import '../../../Common/scss/components/buttons';
@import '../../../Common/scss/components/common';

.banner {
    @include size(100%, 450px, block);
    @extend %blue-gr;
    color: $white;
    position: relative;
    overflow: hidden;

    h1 {
        margin: 0;
        font-weight: $font-weight-bold;
        line-height: 1;
        font-size: 3.2rem;
    }

    &__image {
        z-index: 1;
        right: 0;
        bottom: 5px;
    }

    &__text {
        color: rgba($white, .6);
        font-size: 11px;
        margin-top: 20px;
    }

    .circle {
        top: -30px;
        left: 10px;
    }

    .dots {
        top: 16px;
        right: 30px;
    }

    &::after {
        @include size(100%, 26px, block);
        content: '';
        background-image: url('/media/images/curve.png');
        position: absolute;
        bottom: 0;
        background-size: cover;
    }
}