@import '../../../../../styles/variables/vars.scss';
@import '../../../../../styles/variables/mixins.scss';

h2 {
	margin: 0 10px !important;
	font-weight: 1.8rem;
	font-weight: 700;
}

.icon-experience__cursor {
	cursor: pointer;
}