.article-carousel {
  background: #3c70c2;
  clear: both;
  padding: 20px 0;
}
.article-carousel .carousel-heading-container {
  position: absolute;
  bottom: 20px;
  left: 40px;
}
.article-carousel .carousel-heading-container.b-mini {
  bottom: 10px;
  left: 10px;
}
.article-carousel .carousel-heading-container .heading-carousel {
  color: #fff;
  font-weight: 600;
  display: block;
  margin: 5px 0;
  line-height: 20px;
}
.article-carousel .carousel-heading-container .heading-carousel-primary {
  font-size: 20px;
}
.article-carousel .carousel-heading-container .heading-carousel-secondary {
  font-size: 18px;
}
.article-carousel .carousel-inner figure {
  height: 152px;
  overflow: hidden;
}
.article-carousel .carousel-inner figure:after {
  background: rgba(0, 0, 0, 0.2);
  content: '';
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  display: block;
}
@media (max-width: 992px) {
  .article-carousel .carousel-inner figure:after {
    bottom: 2px;
  }
}
.article-carousel .carousel-inner figure img {
  margin-top: -5%;
  width: 100%;
}
.article-carousel .carousel-inner figure.big-image {
  height: 325px !important;
  overflow: hidden;
}
.article-carousel .carousel-inner figure.big-image:after {
  background: rgba(0, 0, 0, 0.2);
  content: '';
  position: absolute;
  left: 15px;
  right: 15px;
  top: 0;
  bottom: 0;
  display: block;
}
@media (max-width: 992px) {
  .article-carousel .carousel-inner figure.big-image:after {
    bottom: 15px;
  }
}
.article-carousel .carousel-inner figure.big-image img {
  margin-top: -10%;
  width: 100%;
}
@media (max-width: 992px) {
  .article-carousel .carousel-inner figure.big-image img {
    margin-top: -7%;
  }
}
.article-carousel .carousel-control {
  width: 15px;
  top: 45%;
  opacity: 9;
}
.article-carousel .carousel-control.left {
  background: url(../../images/sprite.png) no-repeat -366px -322px;
  width: 45px;
  height: 45px;
}
.article-carousel .carousel-control.right {
  background: url(../../images/sprite.png) no-repeat -412px -322px;
  width: 45px;
  height: 45px;
}

.author {
  font-size: 12px;
  font-weight: 400;
}
.author-primary {
  color: #fff;
}
.author-secondary {
  color: #333;
  font-size: 14px;
  font-weight: 600;
}
.author figure {
  width: 37px;
  height: 37px;
  border-radius: 100%;
  display: inline-block;
  vertical-align: sub;
  margin: 0 10px 0 20px;
}
.author figure img {
  max-width: 100%;
}

.main-heading-article {
  color: #3f5f94;
  font-size: 26px;
  margin-bottom: 15px;
  margin-top: 0;
  display: block;
}

.product-title {
  border: 1px solid #fff;
  background: rgba(0, 0, 0, 0.5);
  font-size: 11px;
  border-radius: 2px;
  padding: 2px 5px;
  display: table;
  font-weight: 600;
  text-transform: uppercase;
  color: #fff;
}

.talent-economy {
  color: #fff;
  background-size: cover !important;
  background: url(../../images/talent-economy-bg.jpg) no-repeat 0 0;
  overflow: hidden;
  padding: 20px;
  border-radius: 10px;
  margin-bottom: 30px;
}
.talent-economy h1 {
  font-size: 20px;
  margin: 0 0 10px;
}
.talent-economy p {
  font-size: 14px;
}

.article-list {
  display: inline-block;
  margin-bottom: 20px;
}
.article-list .box-panel {
  display: block;
  padding-bottom: 20px;
  overflow: hidden;
}
.article-list figure.pr {
  height: 210px;
  overflow: hidden;
}
.article-list figure.pr img {
  margin-top: -5%;
  width: 100%;
}
.article-list figure .product-title-pos {
  position: absolute;
  top: 15px;
  left: 15px;
}
.article-list .heading-article {
  font-weight: 600;
  display: block;
  margin: 15px 20px 10px 20px;
  line-height: 20px;
  font-size: 18px;
  height: 40px;
  overflow: hidden;
}
.article-list p, .article-list article {
  font-size: 13px;
  color: #666;
  padding: 0 20px;
  height: 55px;
  display: block;
  margin-bottom: 15px;
  overflow: hidden;
}
.article-list hr {
  height: 1px;
  background: #f0f0f0;
  display: block;
  margin: 0 20px 10px 20px;
  clear: both;
  border: 0;
}
.article-list .view-forward {
  margin: 3px 20px 0 0;
  color: #999;
  float: right;
}

.heading-right-talent {
  font-size: 15px;
  color: #333;
  font-weight: 600;
  border-bottom: 2px solid #eaf8ff;
  margin: 0;
  padding-bottom: 10px;
  text-transform: uppercase;
  position: relative;
}
.heading-right-talent:after {
  border: 1px solid #62b2d6;
  position: absolute;
  left: 0;
  bottom: -2px;
  width: 50px;
  content: '';
}
.heading-right-talent:before {
  width: 0;
  height: 0;
  border-top: 5px solid #62b2d6;
  border-right: 5px solid transparent;
  content: '';
  position: absolute;
  left: 0;
  bottom: -7px;
}

.take-me-to {
  padding: 20px;
}
@media (max-width: 992px) {
  .take-me-to {
    width: 48%;
  }
}
.take-me-to ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}
.take-me-to ul li {
  display: inline-block;
  margin-top: 15px;
  border: 1px solid #e1e1e1;
  width: 48%;
  margin-left: 2%;
  vertical-align: top;
  min-height: 120px !important;
  overflow: hidden;
}
.take-me-to ul li:nth-child(2n+1) {
  margin-left: 0;
}
.take-me-to ul li h4 {
  font-size: 14px;
  color: #3f5f94;
  font-weight: 600;
  display: block;
  text-align: center;
  margin: 10px 0;
  vertical-align: middle;
  height: 32px;
  overflow: hidden;
}

.popular-courses {
  padding: 20px;
}
@media (max-width: 992px) {
  .popular-courses {
    width: 48%;
    margin-left: 4%;
  }
}
.popular-courses ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}
.popular-courses ul li {
  display: block;
  border-top: 1px solid #e1e1e1;
  vertical-align: top;
  padding: 10px 0;
}
.popular-courses ul li:first-child {
  border-top: none;
}
.popular-courses ul li h3 {
  font-size: 14px;
  color: #3f5f94;
  font-weight: 600;
  display: block;
  margin: 5px 0;
  line-height: 18px;
}
.popular-courses .jobs-available {
  font-size: 12px;
  color: #666;
  display: block;
  margin-bottom: 3px;
  position: relative;
  padding-left: 17px;
}
.popular-courses .jobs-available:before {
  content: '';
  position: absolute;
  left: 0;
  top: 0;
  background: url(../../images/sprite.png) no-repeat -460px -322px;
  width: 13px;
  height: 14px;
  vertical-align: sub;
}
.popular-courses .jobs-available strong {
  font-weight: 600;
}
.popular-courses .people-bought {
  font-size: 12px;
  color: #666;
  display: block;
  margin-bottom: 3px;
  position: relative;
  padding-left: 17px;
}
.popular-courses .people-bought:before {
  content: '';
  position: absolute;
  left: 0;
  top: 0;
  background: url(../../images/sprite.png) no-repeat -475px -322px;
  width: 13px;
  height: 12px;
  vertical-align: sub;
}
.popular-courses .people-bought strong {
  font-weight: 600;
}
.popular-courses .rating-box {
  display: block;
  color: #999;
  margin-bottom: 3px;
}
.popular-courses .rating-box strong {
  font-weight: 600;
  margin-left: 5px;
}
.popular-courses .rating-box b {
  font-weight: 600;
  margin-left: 10px;
  font-size: 14px;
  color: #3f5f94;
}

.contributor-carousel {
  position: relative;
  background: #f6f6f6;
  padding-top: 10px;
  padding-bottom: 40px;
}
.contributor-carousel figure {
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  -moz-box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  -webkit-box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  -ms-box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  background-color: #fff;
}
.contributor-carousel figure figcaption {
  color: #333;
  font-size: 16px;
  font-weight: 600;
  display: block;
  text-align: center;
  margin-top: 10px;
  padding-bottom: 10px;
}
@media (max-width: 992px) {
  .contributor-carousel figure figcaption {
    font-size: 14px;
  }
}
.contributor-carousel figure figcaption strong {
  color: #999;
  font-size: 12px;
  font-weight: 400;
  display: block;
  position: relative;
  margin-bottom: 10px;
  padding-bottom: 10px;
}
.contributor-carousel figure figcaption strong:after {
  border-bottom: 1px solid #e1e1e1;
  position: absolute;
  left: 0;
  bottom: -2px;
  right: 0;
  width: 30px;
  content: '';
  margin: auto;
  display: block;
}
.contributor-carousel figure figcaption .read {
  color: #3f5f94;
  font-size: 13px;
  font-weight: 600;
  text-align: center;
  display: block;
}
.contributor-carousel .col {
  width: 20%;
  float: left;
  padding-left: 10px;
  padding-right: 10px;
}
.contributor-carousel .box-panel {
  overflow: visible;
  background: transparent;
  box-shadow: none;
}
.contributor-carousel .carousel-inner {
  margin: auto;
  width: 100%;
}
.contributor-carousel .carousel-control {
  width: auto;
}
.contributor-carousel .carousel-control.left,
.contributor-carousel .carousel-control.right {
  background-image: none;
}
.contributor-carousel .glyphicon-chevron-left, .contributor-carousel .carousel-control .glyphicon-chevron-right {
  margin-top: -10px;
  margin-left: -10px;
  color: #444;
}
.contributor-carousel .carousel-inner {
  padding-bottom: 10px;
}
.contributor-carousel .carousel-inner a {
  display: table-cell;
  height: auto;
  width: auto;
  vertical-align: middle;
}
.contributor-carousel .carousel-inner img {
  margin: auto auto;
  max-width: 100%;
}
.contributor-carousel .carousel-control {
  width: 15px;
  top: 45%;
  opacity: 9;
}
.contributor-carousel .carousel-control.left {
  background: url(../../images/sprite.png) no-repeat -366px -371px;
  width: 45px;
  height: 45px;
}
.contributor-carousel .carousel-control.right {
  background: url(../../images/sprite.png) no-repeat -413px -371px;
  width: 45px;
  height: 45px;
}
.contributor-carousel .view-all {
  margin-top: 20px;
  margin-right: 27px;
}

/*----Article Category page css---*/
.article-category-header {
  clear: both;
  background: url(../../images/article-header-bg.jpg) no-repeat center top;
  background-size: cover;
  display: block;
}

.article-category-heading {
  display: table-cell;
}
.article-category-heading h1 {
  display: block;
  margin: 20px 0 30px 0;
  color: #fff;
}

/*# sourceMappingURL=article.css.map */
