@import '../../../../styles/functions';
@import '../../../../styles/variables';
@import '../../../../styles/mixins';

.dropdown:hover .dropdown-menu {
    display: block;
}

.top-search {
    margin-right: 1rem;
    // width: 23rem;

    .top-input {
        border-top-right-radius: 0;
        border-bottom-right-radius: 0;
        border-top-left-radius: 3rem;
        border-bottom-left-radius: 3rem;
        font-size: 1.3rem;
        height: 3.5rem;
        box-shadow: inset 0 1px 6px 0 rgba(201,199,199,0.50);
        flex: 1;
    }

    .btn-search {
        background: $yellow;
        border-top-right-radius: 3rem;
        border-bottom-right-radius: 3rem;
        border-top-left-radius: 0;
        border-bottom-left-radius: 0;
        padding: 0.8rem 1.2rem;
        height: 3.5rem;
    }

}

.config-tag {
    border-radius: 5px;
    background-color: #f9b54c;
    padding: 2px 6px 1px;
    color:#333;
    font-size: 10px;
    font-weight: 600;
    position: relative;
    top: -12px;
  }

.header-search-result {
    background: $white;
    color: $gray-100;
    font-size: 1.3rem;
    position: absolute;
    @extend %box-shadow;
    padding: 0;

    strong {
        font-weight: 600;
        background: $lightblue;
        padding: 1rem 1.5rem;
        display: block;
    }
    a {
        padding: 1rem 1.5rem;
        color: $gray-100;
        display: block;

        &:hover, &:focus {
            background-color: $blue;
            color: $white;
        }
    }
}

.truncate {
    width: 15rem;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    display: inline-block;
}
