<!-- Program Structure container -->
{% if chapter  and chapter_list %}

<!-- Program Structure container -->
<section class="container-fluid detail-box">
  <div class="container">
    <div class="row">
      <div id="programs" class="col-sm-12 col-md-8 program-structure">
        <h2>Course Outline</h2>
        <ul class="panel-group" id="accordion" role="tablist" aria-multiselectable="true">
          {% for chapter in chapter_list  %}
            
          <li class="panel panel-default">
            <div class="panel-heading" role="tab" id="headingOne{{forloop.counter}}">
              <h3 class="panel-title">
                <a role="button" data-toggle={% if chapter.content %}
                  "collapse" data-parent="#accordion" href="#collapseOne{{forloop.counter}}"{% else %}""{% endif %} 
                  {% if chapter.content %}
                  {% if forloop.counter == 1 %}aria-expanded="true"{% else %}aria-expanded="false" class="collapsed"{% endif %}
                  {% else %}
                  aria-expanded="false" class="collapsed disabled"
                  {% endif %}
                  aria-controls="collapseOne{{forloop.counter}}">
                  {{forloop.counter}}.&nbsp;{{chapter.heading}}
                </a>
              </h3>
            </div>

            <div id="collapseOne{{forloop.counter}}" class="panel-collapse collapse {% if forloop.counter == 1 %}
                  in{% endif %}" role="tabpanel" aria-labelledby="headingOne{{forloop.counter}}">
            {% if chapter.content %}
              <div class="panel-body">
                {{chapter.content|safe}}
              </div>
            {% endif %}
            
            </div>
          </li>
          {% endfor %}
        </ul>
      </div>
    </div>
  </div>      
</section>
{% endif %}
