{% if recommended_products %}
<!-- Recommended products start -->
<div class="col-sm-12 mt-40">
  <h2 class="detail-heading">Recommended products</h2>

  <div class="row">

    <ul class="listing">
      {% for prd in recommended_products %}
      <li class="col-sm-6 col-md-4">
        <a title="{{ prd.pTt }}" class="box-panel" href="{{prd.pURL}}">
          <div class="media">
            <div class="media-left">
                <figure style="background-color:{{prd.get_bg}};">
                    <img class="media-object" src="{{prd.pImg}}" alt="{{prd.pImA}}" height="134" width="131">
                </figure>
            </div>
            <div class="media-body">

              <h3 class="listing-heading">{{ product.pHd|truncatechars:55 }}</h3>
              <div class="rating-review-box">
                    {% for star in prd.pStar %}
                          {% if star == '*' %}
                            <figure class="full-star"></figure>
                          {% elif star == '+' %}
                            <figure class="half-star"></figure>
                          {% else %}
                            <figure class="blank-star"></figure>
                          {% endif %}
                    {% endfor %}

                    <strong>{{prd.pAR}}<small>/5</small></strong>
                    <span class="jobs-available"><strong>{{prd.pNJ}}</strong> jobs available</span>
                </div>
            </div>
          </div>
        </a>
      </li>
      {% endfor %}

    </ul>

  </div>

</div>
<!-- Recommended products end -->
{% endif %}