  {% for review in prd_review_list %}
    <li class="box-panel" itemscope itemtype="http://schema.org/Review">
      <span class="review-heading" itemprop="name">{% if not review.title %}{{review.get_remarks}} {% else %} {{ review.title }}{% endif %}</span>
      <div class="rating-review-box" itemprop="reviewRating" itemscope itemtype="http://schema.org/Rating">
          {% for star in review.get_ratings %}
            {% if star == "*" %}
              <figure class="full-star"></figure>
            {% elif star == "+" %}
              <figure class="half-star"></figure>
            {% elif star == "-" %}
              <figure class="blank-star"></figure>
            {% endif %}
          {% endfor %}
          <meta itemprop="worstRating" content="1">
          <strong><span itemprop="ratingValue">{{review.average_rating|floatformat:"1"}}</span>/<span itemprop="bestRating">5</span></strong>
      </div>
      <article itemprop="description">{{review.content|safe}}</article>
      <meta itemprop="author" content="{% if review.user_name %}{{review.user_name}}{% else %}anonymous{% endif %}" />
      <span class="editor">By <a ><span >{% if review.user_name %}{{review.user_name}}{% else %}anonymous{% endif %}</span></a>, <span >{{review.created|date:"M d, Y" }}</span></span>

      <div itemprop="itemReviewed" itemscope itemtype="http://schema.org/Product">
        <meta itemprop="name" content="{{prd_H1}}" />
        <meta itemprop="brand" content="{{prd_vendor}}">
        <meta itemprop="description" content="{{prd_about}}">
        <!-- <meta itemprop="offers" content="">
        <meta itemprop="review" content=""> -->
        <meta itemprop="sku" content="{{prd_product}}">
        <meta itemprop="mpn" content="{{prd_H1}}">
        <meta itemprop="image" content="{{prd_img}}">
        <div itemprop="aggregateRating"
                      itemscope itemtype="http://schema.org/AggregateRating">
            <meta itemprop="ratingValue" content="{{review.average_rating|floatformat:'1'}}">
            <meta itemprop="reviewCount" content="{{forloop.counter}}">
      </div>
      <div itemprop="review" itemscope itemtype="http://schema.org/Review">
            <meta itemprop="author" content="{% if review.user_name %}{{review.user_name}}{% else %}anonymous{% endif %}">
      </div>
      <div itemprop="offers" itemscope itemtype="http://schema.org/Offer">
        <meta itemprop="price" content="{% if selected_var %}{{var_list.0.inr_price|floatformat}}{% else %}{{sqs.pPinb|floatformat}} {% endif %}">
        <meta itemprop="availability" content="https://schema.org/OnlineOnly">
        <meta itemprop="priceCurrency" content="INR">
        <meta itemprop="priceValidUntil" content="{% now 'SHORT_DATETIME_FORMAT' %}">
        <meta itemprop="url" content="{{ SITE_DOMAIN }}{{url}}">
      </div>
    </div>
      
    </li>
  {% endfor %}
  {% if prd_review_list.has_next %}
    
    <a style="cursor:pointer;text-decoration:none;" data-product="{{product.id}}" class="load-more review-load-more" id="loadmorereviewbtn"> Load more</a>
  {% endif %}