  {% for review in prd_review_list %}
    <li class="box-panel">
      <span class="review-heading">{% if not review.title %}{{review.get_remarks}} {% else %} {{ review.title }}{% endif %}</span>
      <div class="rating-review-box">
          {% for star in review.get_ratings %}
            {% if star == "*" %}
              <figure class="full-star"></figure>
            {% elif star == "+" %}
              <figure class="half-star"></figure>
            {% elif star == "-" %}
              <figure class="blank-star"></figure>
            {% endif %}
          {% endfor %}
          <!-- <meta itemprop="worstRating" content="1"> -->
          <strong><span >{{review.average_rating|floatformat:"1"}}</span>/<span>5</span></strong>
      </div>
      <article>{{review.content|safe}}</article>
      <!-- <meta itemprop="author" content="{% if review.user_name %}{{review.user_name}}{% else %}anonymous{% endif %}" /> -->
      <span class="editor">By <a ><span >{% if review.user_name %}{{review.user_name}}{% else %}anonymous{% endif %}</span></a>, <span >{{review.created|date:"M d, Y" }}</span></span>     
    </li>
  {% endfor %}
  {% if prd_review_list.has_next %}
    
    <a style="cursor:pointer;text-decoration:none;" data-product="{{product.id}}" class="load-more review-load-more" id="loadmorereviewbtn"> Load more</a>
  {% endif %}