<section class="container-fluid detail-box">
  <div class="container">
    <div class="row">
      <div id="course" class="col-sm-12 col-md-8">
        <h2>What you get?</h2>                     
          <ul class="what-get row">
            <li class="col-md-6">
              <span class="icon-get-amcat1"></span>
              <p>Receive valuable feedback, from reliable exam reports, on your strong and weak areas</p>
            </li>

            <li class="col-md-6">
              <span class="icon-get-amcat2"></span>
              <p>Get real exam and practice environment</p>
            </li>

            <li class="col-md-6">
                <span class="icon-get-amcat3"></span>
              <p>In depth and exhaustive explanation to every question to enhance your learning</p>
            </li>
            <li class="col-md-6">
                <span class="icon-get-amcat4"></span>
              <p>Unlimited access to the assessment platform</p>
            </li>
            <li class="col-md-6">
                <span class="icon-get-amcat5"></span>
              <p>500+ questions to test your learning on variety of topics</p>
            </li>
            <li class="col-md-6">
                <span class="icon-get-amcat6"></span>
              <p>Gets Tips & Tricks to crack the test</p>
            </li>
          </ul>
        </div>
    </div>
  </div>
</section>