<div class="back-inbox">
  <a href="{% url "dashboard:dashboard" %}">Back to inbox</a>
</div>

<ul class="products-inbox">
  <li class="col-sm-12">
    <h2>Resume Writing - Exp: 0 to 1 Year</h2>
    <span class="transaction">Order ID : {{oi.order.number}}</span>
    <div class="hr mt-20"></div>
    <form role="form" id="feedback-form">{% csrf_token %}
        <div class="add-rating-feedback-box">
            <div class="add-rating-feedback">
                <fieldset class="rate">
                    <input type="radio" required id="rating5" name="rating" value="5" />
                    <label for="rating5" title="5 stars"></label>
                    <span class="error"></span>

                    <input type="radio" id="rating4" name="rating" value="4" />
                    <label for="rating4" title="4 stars"></label>

                    <input type="radio" id="rating3" name="rating" value="3" />
                    <label for="rating3" title="3 stars"></label>

                    <input type="radio" id="rating2" name="rating" value="2" />
                    <label for="rating2" title="2 stars"></label>

                    <input type="radio" id="rating1" name="rating" value="1" />
                    <label for="rating1" title="1 star"></label>
                </fieldset>
                <strong id="selected-rating">0<small>/5</small></strong>
            </div>
            <span>Click to rate on scale of 1-5</span></br>
            <span class="error" style="color:red" id="rating-error"></span>
            
       </div> 
      <textarea class="form-control" id="id_review" name="review" placeholder="Feedback" rows="4"></textarea>
      <span class="error"></span></br>
      <small>Max 100 characters</small></br>
      <input type="hidden" name="oi_pk" value="{{oi.pk}}" />
      <button role="button" class="blue-button pull-left" id="rating-submit">Submit</button>
    </form>
  </li>
</ul>