{% if pending_resume_items %}
To initiate your services, upload resume or download this <a href="{% url "dashboard:dashboard-downloadquestionnaire" %}">questionnaire</a> and upload it.

<form role="form" method="post" action="." id="resume-upload-form" enctype='multipart/form-data'>{% csrf_token %}
    <small id="non-field-errors" class="error">{{validation_error}}</small>

    <div class="resume-writing">
      <div class="input-file col-sm-6">
          <a class='' href='javascript:;'>
              <span class="error" id="file-error"></span>
              <input maxlength="200" type="file" name="file" id="file-id" style='position:absolute;z-index:2;top:0;left:0;width:100%;filter: alpha(opacity=0);-ms-filter:"progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";opacity:0;background-color:transparent;color:transparent;' size="30"  onchange='$("#upload-file-info").html($(this).val());'>
              <span class="choose-file">Choose file</span>
          </a>
          <span class="upload-file" id="upload-file-info"></span>
      </div>
      {% if resume_id %}
      <div class="col-sm-1"> Or</div>
      <div class="col-sm-5 use-shine">
        <label>
            <input type="checkbox" name="shine_resume" id="shine-res">Use Shine resume{% if shine_resume_name %}({{shine_resume_name}}){% endif %}
        </label>
      </div>
      {% endif %}
      <strong>Use this resume for following products</strong>
      {% for oi in pending_resume_items %}
          <div class="checkbox">
            <label>
              <input type="checkbox" name="resume_pending" value="{{oi.pk}}">
              {{oi.product.name}} {% if oi.product.get_exp %}- {{oi.product.get_exp}}{% endif %}
            </label>
          </div>
      {% endfor %}
      <span><b id="required_product_error" class="error"></b></span></br>
      <a role="button" id="upload-resume-button" class="blue-button">Upload now</a>
    </div>
</form>
{% endif %}
