{% load static %}
<!-- Recommended products container -->
<section class="container-fluid recommended-products">
  <div class="container">
    <div class="row">
      <div class="panel-group" id="accordion" role="tablist" aria-multiselectable="true">
        <div class="panel panel-default">
          <div class="panel-heading" role="tab" id="headingOne">
            <h3 class="panel-title">
              <a class="collapsed" role="button" data-toggle="collapse" data-parent="#accordion" href="#collapseOne" aria-expanded="false" aria-controls="collapseOne">
                  Recommended Products
                </a>
              </h3>
            </div>
          <div id="collapseOne" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingOne">
            <div class="panel-body">
              <div class="row">
                <ul class="listing">
                  <li class="col-sm-6 col-md-4">
                    <a title="Resume / Visual Resume / LinkedIn" class="box-panel" href="#">
                      <div class="media">
                        <div class="media-left">
                            <figure class="color1">
                              <img class="media-object" src="images/course-logo1.png" alt="Resume / Visual Resume / LinkedIn">
                            </figure>
                        </div>
                        <div class="media-body">

                          <h3 class="listing-heading">Prince2 Foundation Training</h3>

                          <div class="rating-review-box">
                              <figure class="full-star"></figure>
                              <figure class="full-star"></figure>
                              <figure class="half-star"></figure>
                              <figure class="blank-star"></figure>
                              <figure class="blank-star"></figure>
                              <strong>3.9<small>/5</small></strong>
                              <span class="jobs-available"><strong>212</strong> jobs available</span> 
                          </div> 

                        </div>
                      </div>
                    </a>
                  </li>
                  <li class="col-sm-6 col-md-4">
                    <a title="Background Verification" class="box-panel" href="#">
                      <div class="media">
                        <div class="media-left">
                            <figure class="color2">
                              <img class="media-object" src="images/course-logo2.png" alt="Resume / Visual Resume / LinkedIn">
                            </figure>
                        </div>
                        <div class="media-body">

                          <h3 class="listing-heading">Vskills Certified Project</h3>

                          <div class="rating-review-box">
                              <figure class="full-star"></figure>
                              <figure class="full-star"></figure>
                              <figure class="half-star"></figure>
                              <figure class="blank-star"></figure>
                              <figure class="blank-star"></figure>
                              <strong>3.9<small>/5</small></strong> 
                              <span class="jobs-available"><strong>212</strong> jobs available</span> 
                          </div> 

                        </div>
                      </div>
                    </a>
                  </li>
                  <li class="col-sm-6 col-md-4 hidden-sm">
                    <a title="The Complete Career Package" class="box-panel" href="#">
                      <div class="media">
                        <div class="media-left">
                            <figure class="color3">
                              <img class="media-object" src="images/course-logo3.png" alt="Resume / Visual Resume / LinkedIn">
                            </figure>
                        </div>
                        <div class="media-body">

                          <h3 class="listing-heading">PMI Agile Certified Practitioner</h3>

                          <div class="rating-review-box">
                              <figure class="full-star"></figure>
                              <figure class="full-star"></figure>
                              <figure class="half-star"></figure>
                              <figure class="blank-star"></figure>
                              <figure class="blank-star"></figure>
                              <strong>3.9<small>/5</small></strong> 
                              <span class="jobs-available"><strong>212</strong> jobs available</span> 
                          </div> 

                        </div>
                      </div>
                    </a>
                  </li>
                </ul>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div> 
  </div>     
</section> 