{% load static filter-tags %}
{% for obj in orderitems %}
        <li class="col-sm-12">
            {% if obj.product.type_flow == 5 %}
                {% if obj.oi_status == 28 or obj.oi_status == 34 or obj.oi_status == 35 %}
                    {% if obj.days_left_oi_product > 0  %}
                        <div class="days-remaining">
                            <P>DAYS REMAINING</P>
                            <span>{{ obj.days_left_oi_product|modulo:2 }}</span> <span>{{ obj.days_left_oi_product|modulo:1 }}</span> <span>{{ obj.days_left_oi_product|modulo:0 }}</span>
                        </div>
                    {% endif %}
                {% endif %} 
                
            {% endif %}
            <h2>{{obj.product.get_name}}
                {% if obj.product.get_exp_db %}
                 - {{obj.product.get_exp_db}}
                {% endif %}
                {% if obj.product.get_studymode_db %}
                 - {{obj.product.get_studymode_db}}
                {% endif %}
                {% if obj.product.get_coursetype_db %}
                 - {{obj.product.get_coursetype_db}}
                {% endif %}
                {% if obj.product.get_duration_db %}
                 - {{obj.product.get_duration_db}}
                {% endif %}
                {% if obj.delivery_service and not obj.delivery_service.slug == 'normal' %}
                    <span class="express-delivery">{{obj.delivery_service.name}}</span>
                {% endif %}
            </h2>
            <span class="transaction">Order ID : {{obj.order.number}}</span>
            <span hidden class="order-item-id">{{obj.id}}</span>
           {% if obj.product.type_flow == 17 %}
                <form role="form" id="download-resume-form{{obj.order.pk}}" method="POST" action="{% url "dashboard:dashboard-resumetemplatedownload" %}" >
                    <div style="display:none">
                        <input type="hidden" name="csrfmiddlewaretoken" value="{{csrf_token_value}}" />
                        <input type="hidden" name="order_pk" value="{{obj.order.pk}}" />
                        <input type="hidden" name="product_id" value="{{obj.product_id}}"/>
                    </div>
                   <p class="inline-block">
                    <a role="button" onclick="downloadOrderTemplate('{{obj.order.pk}}');event.stopPropagation()" id="download-order-invoice{{obj.order.pk}}">Download</a>
                   </p>
                   <p class="inline-block"><a role="button" onclick="editTemplate('desktop');event.stopPropagation()">Edit Template</a></p>
                </form>

            {% elif obj.product.type_flow == 1 or obj.product.type_flow == 12 or obj.product.type_flow == 13 %}

                {% if obj.oi_status == 2 %}
                    <p><strong>Status:</strong> {{obj.get_user_oi_status}} - <a role="button" class="upload-resume">Upload Resume</a></p>
                {% elif obj.oi_status == 23 and obj.draft_counter %}
                    <p><strong>Status:</strong> Modifications requested</p>

                {% elif obj.oi_status == 25 and obj.draft_counter %}
                    <p><strong>Status:</strong> Modifications requested</p>

                {% elif obj.oi_status == 26 and obj.draft_counter %}
                    <p><strong>Status:</strong> Modifications requested</p>

                {% elif obj.oi_status == 24 and obj.draft_counter == 1 %}
                    <p><strong>Status:</strong> Document is ready - <a href="{% url "dashboard:dashboard-resumedownload" obj.order.pk %}?path={{obj.oi_draft.name}}">Download</a></p>

                {% elif obj.oi_status == 24 and obj.draft_counter < max_draft_limit %}
                    <p><strong>Status:</strong> Revised Document is ready - <a href="{% url "dashboard:dashboard-resumedownload" obj.order.pk %}?path={{obj.oi_draft.name}}">Download</a></p>

                {% elif obj.oi_status == 4 and obj.draft_counter == max_draft_limit %}
                    <p><strong>Status:</strong> Final Document is ready - <a href="{% url "dashboard:dashboard-resumedownload" obj.order.pk %}?path={{obj.oi_draft.name}}">Download</a></p>
                    {% if not obj.order.service_resume_upload_shine %}
                        <div><input type="checkbox" onclick="uploadResumeShine(this,{{obj.order.pk}})">Upload Resume to Shine</button></div>
                    {% endif %} 

                {% elif obj.oi_status == 4 and obj.draft_counter < max_draft_limit %}
                    <p><strong>Status:</strong> Service has been processed and Document is finalized - <a href="{% url "dashboard:dashboard-resumedownload" obj.order.pk %}?path={{obj.oi_draft.name}}">Download</a></p>
                    {% if not obj.order.service_resume_upload_shine %}
                        <div><input type="checkbox" onclick="uploadResumeShine(this,{{obj.order.pk}})">Upload Resume to Shine</button></div>
                    {% endif %} 
                {% elif obj.oi_status == 161 or obj.oi_status == 162 or obj.oi_status == 163 or obj.oi_status == 164  %}
                    <p><strong>Status:</strong> {{obj.get_user_oi_status}}</p>
                {% elif obj.waiting_for_input %}
                    <p><strong>Status:</strong> Waiting for input</p>
                {% elif obj.order.auto_upload %}
                    <p><strong>Status:</strong> Service is under progress- <a role="button" class="upload-resume">Upload Resume</a></p>
                {% else %}
                    <p><strong>Status:</strong> Service is under progress</p> 
                {% endif %}

            {% elif obj.product.type_flow == 8 %}

                {% if obj.oi_status == 2 %}
                    <p><strong>Status:</strong> {{obj.get_user_oi_status}} - <a role="button" class="upload-resume">Upload Resume</a></p>
                {% elif obj.oi_status == 45 and obj.draft_counter %}
                    <p><strong>Status:</strong> Modifications requested</p>

                {% elif obj.oi_status == 47 and obj.draft_counter %}
                    <p><strong>Status:</strong> Modifications requested</p>

                {% elif obj.oi_status == 48 and obj.draft_counter %}
                    <p><strong>Status:</strong> Modifications requested</p>

                {% elif obj.oi_status == 46 and obj.draft_counter == 1 %}
                    <p><strong>Status:</strong> Document is ready - <a target="_blank" href="{% url "dashboard-draf-download" obj.pk %}">Download</a></p>

                {% elif obj.oi_status == 46 and obj.draft_counter < max_draft_limit %}
                    <p><strong>Status:</strong> Revised Document is ready - <a target="_blank" href="{% url "dashboard-draf-download" obj.pk %}">Download</a></p>

                {% elif obj.oi_status == 4 and obj.draft_counter == max_draft_limit %}
                    <p><strong>Status:</strong> Final Document is ready - <a target="_blank" href="{% url "dashboard-draf-download" obj.pk %}">Download</a></p>
                    {% if not obj.order.service_resume_upload_shine %}
                        <div><input type="checkbox" onclick="uploadResumeShine(this,{{obj.order.pk}})">Upload Resume to Shine</button></div>
                    {% endif %} 

                {% elif obj.oi_status == 4 and obj.draft_counter < max_draft_limit %}
                    <p><strong>Status:</strong> Service has been processed and Document is finalized - <a target="_blank" href="{% url "dashboard-draf-download" obj.pk %}">Download</a></p>
                    {% if not obj.order.service_resume_upload_shine %}
                        <div><input type="checkbox" onclick="uploadResumeShine(this,{{obj.order.pk}})">Upload Resume to Shine</button></div>
                    {% endif %}  
                {% elif obj.oi_status == 161 or obj.oi_status == 162 or obj.oi_status == 163 or obj.oi_status == 164  %}
                    <p><strong>Status:</strong> {{obj.get_user_oi_status}}</p>
                {% elif obj.waiting_for_input %}
                    <p><strong>Status:</strong> Waiting for input</p>
                {% elif obj.order.auto_upload %}
                    <p><strong>Status:</strong> Service is under progress- <a role="button" class="upload-resume">Upload Resume</a></p>
                {% else %}
                    <p><strong>Status:</strong> Service is under progress</p>

                {% endif %}

            {% elif obj.product.type_flow == 3 %}

                {% if obj.oi_status == 2 %}
                    <p><strong>Status:</strong> {{obj.get_user_oi_status}} - <a role="button" class="upload-resume">Upload Resume</a></p>
                {% elif obj.oi_status == 4 %}
                    <p><strong>Status:</strong> Service has been processed and Final document is ready - <a href="{% url "dashboard:dashboard-resumedownload" obj.order.pk %}?path={{obj.oi_draft.name}}">Download</a></p>
                    {% if not obj.order.service_resume_upload_shine %}
                        <div><input type="checkbox" onclick="uploadResumeShine(this,{{obj.order.pk}})">Upload Resume to Shine</button></div>
                    {% endif %} 
                {% elif obj.oi_status == 161 or obj.oi_status == 162 or obj.oi_status == 163 or obj.oi_status == 164  %}
                    <p><strong>Status:</strong> {{obj.get_user_oi_status}}</p>
                {% elif obj.waiting_for_input %}
                    <p><strong>Status:</strong> Waiting for input</p>
                {% elif obj.order.auto_upload %}
                    <p><strong>Status:</strong> Service is under progress- <a role="button" class="upload-resume">Upload Resume</a></p>
                {% else %}
                    <p><strong>Status:</strong> Service is under progress</p>
                
                {% endif %}

            {% elif obj.product.type_flow == 2 or obj.product.type_flow == 14 %}
                {% if obj.oi_status == 5 %}

                        <p><strong>Status:</strong> {{obj.get_user_oi_status}}
                         {% if  obj.product.type_flow == 2 and obj.product.vendor.slug == 'neo'  and not obj.neo_mail_sent and not obj.updated_from_trial_to_regular %}
                            <span id="board_neo_btn"><a role="button" onclick="boardNeoUser('{{obj.pk}}',)">:- Board On Neo</a></span>
                        {% endif %}
                         {% if  obj.product.type_flow == 2 and obj.product.vendor.slug == 'neo'  and obj.neo_mail_sent  %}
                            <span id="board_neo_msg"> :- Please Confirm Boarding on Mail Sent to you</span>
                        {% endif %}
                        {% if obj.product.type_flow == 2 and obj.product.vendor.slug == 'neo'  and obj.updated_from_trial_to_regular  %}
                            <span id="board_neo_msg"> :- Updated Account from Trial To Regular</span>
                        {% endif %}
                        </p>
                    
                
                {% elif obj.oi_status == 6 %}
                    <p><strong>Status:</strong> {{obj.get_user_oi_status}} - <a href="{% url "dashboard:dashboard-resumedownload" obj.order.pk %}?path={{obj.oi_draft.name}}">Download</a></p>
                {% elif obj.oi_status == 4 %}
                    {% if  obj.product.type_flow == 2 and obj.product.vendor.slug == 'neo' %}
                    <p><strong>Status:</strong> Service has been processed </p>

                    {% else%}
                    <p><strong>Status:</strong> Service has been processed - <a href="{% url "dashboard:dashboard-resumedownload" obj.order.pk %}?path={{obj.oi_draft.name}}">Download</a></p>
                    {% endif %}
                {% elif obj.oi_status == 161 or obj.oi_status == 162 or obj.oi_status == 163  or obj.oi_status == 164  %}
                    <p><strong>Status:</strong> {{obj.get_user_oi_status}}</p>
                {% endif %}

            {% elif obj.product.type_flow == 4 %}
                {% if obj.oi_status == 2 %}
                    <p><strong>Status:</strong> {{obj.get_user_oi_status}} - <a role="button" class="upload-resume">Upload Resume</a></p>

                {% elif obj.oi_status == 4 %}
                    <p><strong>Status:</strong> Service has been processed - <a href="{% url 'console:profile_credentials' obj.pk %}">Download Credential</a></p>
                    {% if not obj.order.service_resume_upload_shine %}
                        <div><input type="checkbox" onclick="uploadResumeShine(this,{{obj.order.pk}})">Upload Resume to Shine</button></div>
                    {% endif %} 

                {% elif obj.oi_status == 61 %}
                    <p><strong>Status:</strong> {{obj.get_user_oi_status}}</p>

                {% elif obj.oi_status == 161 or obj.oi_status == 162 or obj.oi_status == 163 or obj.oi_status == 164  %}
                    <p><strong>Status:</strong> {{obj.get_user_oi_status}}</p>
                {% elif obj.waiting_for_input %}
                    <p><strong>Status:</strong> Waiting for input</p>
                {% elif obj.order.auto_upload %}
                    <p><strong>Status:</strong> Service is under progress- <a role="button" class="upload-resume">Upload Resume</a></p>
                {% else %}
                   <p><strong>Status:</strong> Service is under progress</p>

                {% endif %}

            {% elif obj.product.type_flow == 5 %}
                {% if obj.oi_status == 2 %}
                    <p><strong>Status:</strong> {{obj.get_user_oi_status}} - <a role="button" class="upload-resume">Upload Resume</a></p>

                {% elif obj.oi_status == 4 or obj.oi_status == 28 or obj.oi_status == 29 %}
                    <p><strong>Status:</strong> Service has been processed</p>

                {% elif obj.oi_status == 61 %}
                    <p><strong>Status:</strong> {{obj.get_user_oi_status}}</p>

                {% elif obj.oi_status == 161 or obj.oi_status == 162 or obj.oi_status == 163 or obj.oi_status == 164  %}
                    <p><strong>Status:</strong> {{obj.get_user_oi_status}}</p>
                {% else %}
                   <p><strong>Status:</strong> Service is under progress</p>
                {% endif %}
                {% if obj.oi_status == 28 or obj.oi_status == 34 or obj.oi_status == 35 %}
                    {% if obj.days_left_oi_product > 0  %}
                        {% if obj.service_pause_status %}
                            <p class="pause-play-services">
                                <a role="button" onclick="pause_resume_service(this,{{obj.id}},34)">
                                    <i class="pause"> </i> Pause Service
                                </a>
                            </p>
                        {% else %}
                            <p class="pause-play-services">
                                <a role="button" onclick="pause_resume_service(this,{{obj.id}},35)">
                                    <i class="play"> </i> Resume Service
                                </a>
                            </p>
                        {% endif %}
                    {% endif %}
                {% endif %}

            {% elif obj.product.type_flow == 6 %}
                {% if obj.oi_status == 81 %}
                    <p><strong>Status:</strong> {{obj.get_user_oi_status}} - <a href="{% url "dashboard:dashboard-resumedownload" obj.order.pk %}?path={{obj.oi_draft.name}}">Download</a></p>

                {% elif obj.oi_status == 4 %}
                    <p><strong>Status:</strong> Service has been processed - <a href="{% url "dashboard:dashboard-resumedownload" obj.order.pk %}?path={{obj.oi_draft.name}}">Download</a></p>
                {% elif obj.oi_status == 161 or obj.oi_status == 162 or obj.oi_status == 163 or obj.oi_status == 164  %}
                    <p><strong>Status:</strong> {{obj.get_user_oi_status}}</p>
                {% else %}
                  <p><strong>Status:</strong> {{obj.get_user_oi_status}} </p>

                {% endif %}

            {% elif obj.product.type_flow == 7 or obj.product.type_flow == 15 %}
                {% if obj.oi_status == 2 %}
                <p><strong>Status:</strong> {{obj.get_user_oi_status}} - <a role="button" class="upload-resume">Upload Resume</a></p>
                <div class="booster-msg">* Uploaded resume will be boosted</div>
                {% else %}
                    <p><strong>Status:-</strong> {{obj.get_user_oi_status}} {% if obj.oi_draft.name %} - <a href="{% url "dashboard:dashboard-resumedownload" obj.order.pk %}?path={{obj.oi_draft.name}}">Download</a></p> {% endif %}
                {% endif %}

            {% elif obj.product.type_flow == 9 %}
                {% with obj.get_roundone_status as op_status %}
                    {% if op_status == 141 %}
                        <p><strong>Status:</strong> Your profile to be shared with interviewer is pending - <a href="{% url 'dashboard:dashboard_profile' %}">Complete Profile</a></p>
                    
                    {% elif op_status == 142 %}
                        <p><strong>Status:</strong>Service is under progress - <a href="{% url 'dashboard:dashboard_profile' %}">Edit your profile</a></p>

                    {% elif op_status == 143 %}
                        <p><strong>Status:</strong> Service has been expired</p>
                    {% elif obj.oi_status == 161 or obj.oi_status == 162 or obj.oi_status == 163 or obj.oi_status == 164  %}
                    <p><strong>Status:</strong> {{obj.get_user_oi_status}}</p>
                    {% endif %}
                {% endwith %}

            {% elif obj.product.type_flow == 10 %}
                {% if obj.oi_status == 5 %}
                    <p><strong>Status:</strong> {{obj.get_user_oi_status}}</p>
                
                {% elif obj.oi_status == 101 %}
                    <p><strong>Status:</strong> {{obj.get_user_oi_status}} - <a target="_blank" href="#">Take Test</a></p>

                {% elif obj.oi_status == 4 %}
                    <p><strong>Status:</strong> Service has been processed - <a href="{% url "dashboard:dashboard-resumedownload" obj.order.pk %}?path={{obj.oi_draft.name}}">Download</a></p>
                    
                {% elif obj.oi_status == 161 or obj.oi_status == 162 or obj.oi_status == 163 or obj.oi_status == 164 %}
                    <p><strong>Status:</strong> {{obj.get_user_oi_status}}</p>

                {% endif %}

            {% elif obj.product.type_flow == 16 and  obj.product.sub_type_flow == 1602 %}
                {% if obj.oi_status == 5 %}
                    <p><strong>Status:</strong> {{obj.get_user_oi_status}} - <a target="_blank" href="{{obj.autologin_url}}">Take Test</a></p>

                {% elif obj.oi_status == 4 %}
                    <p><strong>Status:</strong> {{obj.get_user_oi_status}}</p>

                {% endif %}

            {% endif %}

            <ul class="view-comments-links col-sm-7 col-md-8">
                <li>
                    <a role="button" onclick="viewDetailOrderitem('{{obj.pk}}',)">View details</a>
                </li>
                <li><a role="button" onclick="viewCommentOrderitem('{{obj.pk}}',)">Leave us a message</a></li>
            </ul>

            {% if obj.oi_status == 24 or obj.oi_status == 46 %}
            <div class="accept-reject col-sm-5 col-md-4">
                <a class="accept" role="button" onclick="acceptService('{{obj.pk}}')">Accept</a> <a  role="button" class="reject" onclick="rejectService('{{obj.pk}}')">Reject</a>
            </div>

            <!--Accept Modal-->
            <div class="modal fade bs-example-modal-sm3" tabindex="-1" id="accept-modal{{obj.pk}}" role="dialog" aria-labelledby="mySmallModalLabel">
              <div class="modal-dialog modal-sm" role="document">
                <div class="modal-content">
                 <div class="register">
                 <div>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                    <h1 class="modal-title" id="myModalLabel">Accept Confirmation</h1>
                  </div>
                    <form role="form" id="accept-form-id{{obj.pk}}">
                      <div style='display:none'>
                           <input type='hidden' name='csrfmiddlewaretoken' value='{{ csrf_token_value }}'/>
                           <input type='hidden' name='oi_pk' value='{{obj.pk}}'/>
                      </div>
                      <div class="form-group accept-msg">
                        <strong>Are you sure you want to accept ?</strong>
                        <small>Note: Once you accept, your service will be closed.</small>
                      </div>
                      <button type="button" id="accept-submit-button{{obj.pk}}" class="btn btn-primary submit">Accept</button>
                      <small class="form-text text-muted text-center"><a href="#" data-toggle="modal" data-target="" data-dismiss="modal">Skip</a></small>
                    </form>
                  </div>
                </div>
              </div>
            </div> 


            <!--Reject Modal-->
            <div class="modal fade bs-example-modal-sm4" id="reject-modal{{obj.pk}}" tabindex="-1" role="dialog" aria-labelledby="mySmallModalLabel">
              <div class="modal-dialog modal-sm" role="document">
                <div class="modal-content">
                 <div class="register">
                 <div>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                    <h1 class="modal-title" id="myModalLabel">Reject confirmation</h1>
                  </div>
                    <form class="reject-msg" id="reject-form-id{{obj.pk}}" enctype='multipart/form-data'>
                      <div style='display:none'><input type='hidden' name='csrfmiddlewaretoken' value='{{ csrf_token_value }}'/></div>
                      <div class="form-group error">
                        <label>If you have made any changes to the document, please upload here.</label>
                        <div class="input-file">
                          <a class='' href='javascript:;'>
                              <input maxlength="200" type="file" id="reject-file-id" name="reject_file" style='position:absolute;z-index:1;top:0;left:0;width:100%;filter: alpha(opacity=0);-ms-filter:"progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";opacity:0;background-color:transparent;color:#333;' size="30"  onchange='$("#upload-file-info1").html($("#reject-file-id")[0].files[0].name);'>
                               <span class="choose-file">Browse</span>
                          </a>
                          <span class="upload-file" id="upload-file-info1"></span>
                        </div>
                        <span class="error-txt"></span>
                      </div>
                      <div class="form-group text-center">
                        Or
                      </div>
                      <div class="form-group">
                        <label>Leave your comments</label>
                        <textarea class="form-control" id="reject-reason" name="comment" rows="1" placeholder="Comments"></textarea>
                        <span class="error-txt"></span>
                      </div>
                      <div class="form-group">
                        <input type="hidden" name="oi_pk" value="{{obj.pk}}" />
                      </div>
                      <button type="button" id="reject-submit-button{{obj.pk}}" class="btn btn-primary submit" data-toggle="modal">Submit</button>
                      <small class="form-text text-muted text-center"><a href="#" data-toggle="modal" data-target="" data-dismiss="modal">Skip</a></small>
                    </form>
                  </div>
                </div>
              </div>
            </div>
            {% endif %}

            {% if obj.oi_status == 4 and not obj.user_feedback %}
                <div class="col-sm-4 rating-feedback-box">


                    <!--<a role="button" href="javascript:void(0)" onclick="giveFeedbackOrderitem('{{obj.pk}}')">-->

                        <div class="rating-feedback">
                          <span>Your feedback</span>
                          <fieldset class="rate">
                            <input type="radio" id="rating-5-{{obj.pk}}" name="rating" value="5" checked="checked" onclick="giveFeedbackOrderitem('{{obj.pk}}','rating5')" />

                            <label for="rating-5-{{obj.pk}}" title="5 stars"></label>
`

                            <input type="radio" id="rating-4-{{obj.pk}}" name="rating" value="4" onclick="giveFeedbackOrderitem('{{obj.pk}}','rating4')" />
                            <label for="rating-4-{{obj.pk}}" title="4 stars"></label>


                            <input type="radio" id="rating-3-{{obj.pk}}" name="rating"  value="3"  onclick="giveFeedbackOrderitem('{{obj.pk}}','rating3')" />
                            <label for="rating-3-{{obj.pk}}" title="3 stars"></label>

                            <input type="radio" id="rating-2-{{obj.pk}}" name="rating" value="2" onclick="giveFeedbackOrderitem('{{obj.pk}}','rating2')"  />
                            <label for="rating-2-{{obj.pk}}" title="2 stars"></label>

                            <input type="radio" id="rating-1-{{obj.pk}}" name="rating" value="1" onclick="giveFeedbackOrderitem('{{obj.pk}}','rating1')" />
                            <label for="rating-1-{{obj.pk}}" title="1 star"></label>

                          </fieldset>
                          <small>Write feedback and earn loyalty points</small>
                        </div>
                    </a>
              </div>
            {% endif %}
            <div class="hr"></div>
        </li>

{% endfor %}

{% if orderitems.has_next %}
<div id="load_more_item">
<form role="form" id="load-orderitem-form">
    <div style='display:none'>
        <input type='hidden' name='csrfmiddlewaretoken' value='{{ csrf_token_value }}'/>
        <input type="hidden" name="page" value="{{orderitems.next_page_number}}">
        <input type="hidden" name="last_month_from" value="{{last_month_from}}">
        <input type="hidden" name="select_type" value="{{select_type}}">
    </div>
</form>
<a role="button" id="load-more-orderitem" class="load-more-list col-sm-12">Load more</a>
</div>
{% endif %}
