@import '../../../../../styles-mobile/abstracts';

.m-write-resume {
    @extend %box-shadow1;
    padding: 0 0 0 1.5rem;
    display: flex;
    @include border-radius(5px);
    overflow: hidden;

    &__text {

        strong {
            display: block;
            margin-top: 1.5rem;
            line-height: 2rem;
        }

        p {
            margin: 1rem 4rem 2rem 0;
            font-size: 1.3rem;
        }

        button {
            font-size: 1.3rem;
        }

    }

    &__img {
        align-self: flex-end;
        margin-left: auto;
        margin-bottom: 0;
    }
}