{% load static %}
<script src="{% static 'shinelearn/js/common/ga.impression.js' %}"></script>
<!-- <script>
function resolveAfterSeconds() {
    return new Promise(resolve => {
        setTimeout(() => {
            resolve('resolved');
        }, 2000);
    });
}

async function asyncCall() {
    console.log('calling');
    const result = await resolveAfterSeconds();
    console.log(result);
}

asyncCall();
</script> -->

<script>
    function GAImpression(event, options=null) {
    if (event) { var event_name = event; } else { var event_name = "{{ page }}" || event; }
    switch(event_name){
        case 'Product':
            HomeImpressionPush();
        case 'Search':
            SearchPageImpressionPush(list='Search Results');
        case 'productDetail':
            ProductDetailImpressionPush(list='Product', options);
    }
}
    {% if used_as %}

    function HomeImpressionPush() {
        const p_r_products = [];
        const t_products = [];
        {% if request.session.candidate_id and rcourses %}
            {% for course_list in rcourses %}
                {% for product in course_list %}
                p_r_products.push({
                        'name': '{{ product.pHd|default:product.pNm|truncatechars:40 }}',
                        'id': '{{ product.id }}',
                        'brand': ' {{ product.pPvn }}',
                        'category': '{{ product.pCat }}',
                        'variant': ' {{ product.pPc }}',
                        'price': '{{ product.pPin }}',
                        'list': 'Recommendations',
                        'position': '{{ forloop.counter }}',
                        'dimensions15': 'HomePage',
                        'dimensions16': '{% if product.pRC %} {{product.pARx|floatformat}} {% else %} null {% endif %}',
                        'dimensions17': '{{ product.pBC|default:"10" }}'
                    });
                {% endfor %}
            {% endfor %}
        {% else %}
        {% for course_list in pcourses %}
                {% for product in course_list %}
                p_r_products.push({
                        'name': '{{ product.pHd|default:product.pNm|truncatechars:40 }}',
                        'id': '{{ product.id }}',
                        'brand': ' {{ product.pPvn }}',
                        'category': '{{ product.pCat }}',
                        'variant': ' {{ product.pPc }}',
                        'price': '{{ product.pPin }}',
                        'list': 'Recommendations',
                        'position': '{{ forloop.counter }}',
                        'dimensions15': 'HomePage',
                        'dimensions16': '{% if product.pRC %}{{product.pARx|floatformat}}{% else %}null{% endif %}',
                        'dimensions17': '{{ product.pBC|default:"10" }}'
                    });
                {% endfor %}
            {% endfor %}
        {% endif %}        
        {% for course in tcourses %}
            {% for product in course.tprds %}
                t_products.push({
                        'name': '{{ product.pHd|default:product.pNm|truncatechars:40 }}',
                        'id': '{{ product.id }}',
                        'brand': ' {{ product.pPvn }}',
                        'category': '{{ product.pCat }}',
                        'variant': '{{ product.pPc }}',
                        'price': '{{ product.pPin }}',
                        'list': 'Trending Courses',
                        'position': '{{ forloop.counter }}',
                        'dimensions15': 'HomePage',
                        'dimensions16': '{% if product.pRC %} {{product.pARx|floatformat}} {% else %} null {% endif %}',
                        'dimensions17': '{{ product.pBC|default:"10" }}'
                });
            {% endfor %}
        {% endfor %}
    GALayer.SendImpression('productImpression', t_products, 'INR')
    GALayer.SendImpression('productImpression', p_r_products, 'INR')
    }

    function SearchPageImpressionPush(list) {
        s_products = []
        {% for product in products %}
            s_products.push({
                'name': '{{ product.pHd|default:product.pNm|truncatechars:40 }}',
                'id': '{{ product.id }}',
                'brand': '{{ product.pPvn }}',
                'category': '{{ product.pCat }}',
                'variant': '{{ product.pPc }}',
                'price': '{{ product.pPin }}',
                'list': list,
                'position': '{{ forloop.counter }}',
                'dimensions15': 'Search Page',
                'dimensions16': '{% if product.pRC %} {{product.pARx|floatformat}} {% else %} null {% endif %}',
                'dimensions17': '{{ product.pBC|default:"10" }}'
            });
        {% endfor %}
        GALayer.SendImpression('productImpression', s_products, 'INR');
    }

    function ProductDetailImpressionPush(list, options) {
        p_detail = []
        
        if (options) {
            var actionField = options[0].actionField;
            GALayer.SendImpression('productdetail', options, 'INR', actionField);
        }

        {% if product %}
            p_detail.push({
                'name': '{{ prd_H1 }}',
                'id': '{{ product.id }}',
                'brand': '{{ prd_vendor }}',
                'category': '{{ product.get_category_main }}',
                'variant': '{{ product.product_class }}',
                'price': '{% if selected_var %}{{var_list.0.inr_price|floatformat}}{% else %}{{sqs.pPinb|floatformat}} {% endif %}',
                'position': '1',
                'dimensions15': 'Product Page',
                'dimensions16': '{{ prd_rating }}',
                'dimensions17': '{{ prd_num_bought|default:"10" }}'
        })
        {% endif %}
        GALayer.SendImpression('productdetail', p_detail, 'INR', 'Product Page');
    }

    {% else %}

    function ProductDetailImpressionPush(list, options) {
        p_detail = []
        
        if (options) {
            var actionField = options[0].actionField;
            GALayer.SendImpression('productdetail', options, 'INR', actionField);
        }

        {% if product %}
            p_detail.push({
                'name': '{{ prd_H1 }}',
                'id': '{{ product.id }}',
                'brand': '{{ prd_vendor }}',
                'category': '{{ product.get_category_main }}',
                'variant': '{{ product.product_class }}',
                'price': '{% if selected_var %}{{var_list.0.inr_price|floatformat}}{% else %}{{sqs.pPinb|floatformat}} {% endif %}',
                'position': '0',
                'dimensions15': 'Product Page',
                'dimensions16': '{{ prd_rating }}',
                'dimensions17': '{{ prd_num_bought|default:"10" }}'
        })
        {% endif %}
        GALayer.SendImpression('productdetail', p_detail, 'INR', 'Product Page');
    }
    {% endif %}
GAImpression();
</script>