{% load static %}
<script src="{% static 'shinelearn/js/common/ga.impression.js' %}"></script>
<script>
    function GAImpression(event, options=null) {
    if (event) { var event_name = event; } else { var event_name = "{{ page }}" || event; }
    switch(event_name){
        
        case 'Product':
            HomeImpressionPush();
            break;
        case 'Search':
            SearchPageImpressionPush(list='Search Results');
            break;
        case 'productDetail':
            ProductDetailImpressionPush(list='Product', options);
            break;
        case 'addToCart':
            CartImpressionPush();
            break;
        case 'checkout':
            checkoutImpression(list='checkout', options);
            break;
        case 'checkout-complete':
            OrderConfirmationImpression();
            break;
        case 'removeFromCart':
            RemoveCartImpression(list='removeFromCart', options);
            break;
        default:
            break;


    }
}
    {% if used_as %}

    function HomeImpressionPush() {
        const p_r_products = [];
        const t_products = [];
        {% if request.session.candidate_id and rcourses %}
            {% for course_list in rcourses %}
                {% for product in course_list %}
                p_r_products.push({
                        'name': '{{ product.pHd|default:product.pNm|truncatechars:40 }}',
                        'id': '{{ product.id }}',
                        'brand': ' {{ product.pPvn }}',
                        'category': '{{ product.pCat }}',
                        'variant': ' {{ product.pPc }}',
                        'price': '{{ product.pPin }}',
                        'list': 'Recommendations',
                        'position': '{{ forloop.counter }}',
                        'dimensions15': 'HomePage',
                        'dimensions16': '{% if product.pRC %} {{product.pARx|floatformat}} {% else %} null {% endif %}',
                        'dimensions17': '{{ product.pBC|default:"10" }}'
                    });
                {% endfor %}
            {% endfor %}
        {% else %}
        {% for course_list in pcourses %}
                {% for product in course_list %}
                p_r_products.push({
                        'name': '{{ product.pHd|default:product.pNm|truncatechars:40 }}',
                        'id': '{{ product.id }}',
                        'brand': ' {{ product.pPvn }}',
                        'category': '{{ product.pCat }}',
                        'variant': ' {{ product.pPc }}',
                        'price': '{{ product.pPin }}',
                        'list': 'Recommendations',
                        'position': '{{ forloop.counter }}',
                        'dimensions15': 'HomePage',
                        'dimensions16': '{% if product.pRC %}{{product.pARx|floatformat}}{% else %}null{% endif %}',
                        'dimensions17': '{{ product.pBC|default:"10" }}'
                    });
                {% endfor %}
            {% endfor %}
        {% endif %}        
        {% for course in tcourses %}
            {% for product in course.tprds %}
                t_products.push({
                        'name': '{{ product.pHd|default:product.pNm|truncatechars:40 }}',
                        'id': '{{ product.id }}',
                        'brand': ' {{ product.pPvn }}',
                        'category': '{{ product.pCat }}',
                        'variant': '{{ product.pPc }}',
                        'price': '{{ product.pPin }}',
                        'list': 'Trending Courses',
                        'position': '{{ forloop.counter }}',
                        'dimensions15': 'HomePage',
                        'dimensions16': '{% if product.pRC %} {{product.pARx|floatformat}} {% else %} null {% endif %}',
                        'dimensions17': '{{ product.pBC|default:"10" }}'
                });
            {% endfor %}
        {% endfor %}
    GALayer.SendImpression('productImpression', t_products, 'INR')
    GALayer.SendImpression('productImpression', p_r_products, 'INR')
    }

    function SearchPageImpressionPush(list) {
        s_products = []
        {% for product in products %}
            s_products.push({
                'name': '{{ product.pHd|default:product.pNm|truncatechars:40 }}',
                'id': '{{ product.id }}',
                'brand': '{{ product.pPvn }}',
                'category': '{{ product.pCat }}',
                'variant': '{{ product.pPc }}',
                'price': '{{ product.pPin }}',
                'list': list,
                'position': '{{ forloop.counter }}',
                'dimensions15': 'Search Page',
                'dimensions16': '{% if product.pRC %} {{product.pARx|floatformat}} {% else %} null {% endif %}',
                'dimensions17': '{{ product.pBC|default:"10" }}'
            });
        {% endfor %}
        GALayer.SendImpression('productImpression', s_products, 'INR');
    }

    function checkoutImpression() {}

    function ProductDetailImpressionPush(list, options) {
        p_detail = []
        
        if (options) {
            var actionField = options[0].actionField;
            GALayer.SendImpression('productdetail', options, 'INR', actionField);
        }

        {% if product %}
            p_detail.push({
                'name': '{{ prd_H1 }}',
                'id': '{{ product.id }}',
                'brand': '{{ prd_vendor }}',
                'category': '{{ product.get_category_main }}',
                'variant': '{{ product.product_class }}',
                'price': '{% if selected_var %}{{var_list.0.inr_price|floatformat}}{% else %}{{sqs.pPinb|floatformat}} {% endif %}',
                'position': '1',
                'dimensions15': 'Product Page',
                'dimensions16': '{{ prd_rating }}',
                'dimensions17': '{{ prd_num_bought|default:"10" }}'
        })
        {% endif %}
        GALayer.SendImpression('productdetail', p_detail, 'INR', 'Product Page');
    }

    function CartImpressionPush() {
        c_product = []
        {% if cart_items %}
            {% for item in cart_items %}
                c_product.push({
                    'name': '{{ item.name }}',
                    'id': '{{ item.id }}',
                    'brand': '{{ item.vendor }}',
                    'category': '{{ item.category }}',
                    'variant': '{{ item.product_class }}',
                    'price': '{{ item.price }}',
                    'dimensions15': 'Cart Page',
                    'dimensions16': '{{ item.ratings }}',
                    'dimensions17': ' {{ item.buy_count }}'
                })
            {% endfor %}
        {% endif %}
        GALayer.SendImpression('addToCart', c_product, 'INR');
    }

    function RemoveCartImpression(list, options) {
        if (options) {
            GALayer.SendImpression(list, options, 'INR');
        }
    }

    function OrderConfirmationImpression() {
        o_product = []
        {% if oi_products %}
         console.log({{ oi_products.oi }})
         {% for item in oi_products %}
            o_product.push ({
                'name': '{{ item.oi.product.name }}',
                'id': '{{ item.oi.product.id }}',
                'brand': '{{ item.oi.product.vendor.name }}',
                'category': '{{ item.oi.product.get_category_main }}',
                'variant': '{{ item.oi.product.get_product_class }}',
                'price': '{{ item.oi.product.get_price }}',
                'dimensions15': 'Order Confirmation Page',
                'dimensions16': '{{ item.oi.product.get_ratings }}',
                'dimensions17': ''
            })
          {% endfor %}
        {% endif %}
        GALayer.SendImpression('checkout-complete', o_product, 'INR', actionField=[{'id': '{{ order_id }}', 'affiliation': 'Oneline Store', 'revenue': '{{ total_price }}', 'coupon': '', 'Tax': '{{ tax_exlude }}'}]);
    }
    
    {% else %}

    function ProductDetailImpressionPush(list, options) {
        p_detail = []
        
        if (options) {
            var actionField = options[0].actionField;
            GALayer.SendImpression('productdetail', options, 'INR', actionField);
        }

        {% if product %}
            p_detail.push({
                'name': '{{ prd_H1 }}',
                'id': '{{ product.id }}',
                'brand': '{{ prd_vendor }}',
                'category': '{{ product.get_category_main }}',
                'variant': '{{ product.product_class }}',
                'price': '{% if selected_var %}{{var_list.0.inr_price|floatformat}}{% else %}{{sqs.pPinb|floatformat}} {% endif %}',
                'position': '0',
                'dimensions15': 'Product Page',
                'dimensions16': '{{ prd_rating }}',
                'dimensions17': '{{ prd_num_bought|default:"10" }}'
        })
        {% endif %}
        GALayer.SendImpression('productdetail', p_detail, 'INR', 'Product Page');
    }

    function checkoutImpression(list, options) {

        if (options) {
            var actionField = options[0].actionField;
            GALayer.SendImpression('checkout', options, 'INR', actionField);
        }
    }

    {% endif %}
GAImpression();
</script>
