@import '../../../../styles-mobile/abstracts';

.m-cta {
    margin: 0;
    padding: 1.5rem !important;
    position: fixed;
    bottom: 0;
    left: 0;
    right: 0;
    background: $white;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    @extend %box-shadow-cta;
    z-index: 9;

    a {
        color: $blue;
        font-size: 1.2rem;
        font-weight: 600;
        figure {
            display: block;
            margin: 0 auto .5rem auto;
        }
    }
}