@import "../path";
@import "../common/bootstrap/variables";
@import "../common/bootstrap/mixins";

.search-header {
	clear: both;
	background: url(#{$imagePath}images/search-header-bg.jpg) #0d141b no-repeat center top; 
	background-size: cover;
	display: block;

	.search-caption {
		color: $white-color;
		text-align: center;
		margin: -1% 0 3% 0;
		display: block;

		h1 {
			font-size: $font-size+19;
			display: block;
			font-weight: $font-weight+300;
			line-height: 35px;
			text-align: left;
			color: $white-color;
		}
	}
}

.call-us {
	background: rgba(0, 0, 0, 0.5);
	font-size: $font-size+5;
	padding: 3px 10px;
	color: $white-color;
	float: right;
	margin-top: 35px;
}

.search-box {
	display: block;
	font-size: 0;

	.custom-select {
		position: relative;
		display: inline-block;
		margin-right: 1px;

		select {
			-webkit-appearance: none;
			-moz-appearance: none;
		    text-indent: 1px;
		    text-overflow: '';		    
			border-radius: 0;
			height: 44px;
			padding: 6px 25px 6px 12px;

			&::-ms-expand {
				display: none;
			}
		}

		&:after {
			content: '';
			width: 0;
			height: 0;
			border-left: 5px solid transparent;
			border-right: 5px solid transparent;
			border-top: 8px solid #7f7f7f;
			position: absolute;
			right: 10px;
			top: 20px;
			text-indent: 1px;
			text-overflow: '';
		}
	}

	input {
		border:1px solid $border-color;
		border-top-left-radius: 5px;
		border-bottom-left-radius: 5px;
		border-top-right-radius: 0;
		border-bottom-right-radius: 0;
		padding: 10px 15px;
		height: 52px;
		box-shadow: none;
		width: 550px !important;

		&:focus {
			box-shadow: none;
			border: 1px solid $white-color;
		}

	}

	.find-jobs-btn {
		border-top-right-radius: 5px;
		border-bottom-right-radius: 5px;
		height: 52px;
		padding: 6px 30px;
		position: relative;

		&:after {
			content: '';
			background: $sprite -526px -247px;
			position: absolute;
			margin: auto;
			left: 0;
			right: 5px;
			top: 0;
			bottom: 0;
			width: 20px;
			height: 20px;
		}
	}
}


.filters {
	font-size: $font-size+3;
	color: $secondary-color;

	strong {
		display: inline-block;
		padding: 5px 0 10px 0;
		margin: 0;
		font-size: $font-size+4;
		font-weight: $font-weight+300;
		text-transform: uppercase;
	}

	.cls_scroller {
		border-bottom: 1px solid $border-color;
		background: $white-color;
		z-index: 9;
		margin-bottom: 10px;
	}

	a {
		color: $secondary-color;
	}

	.panel {
		border: none;
		box-shadow: none;
		margin-bottom: 0;
	}

	.panel-heading {
		background: transparent;
		padding: 10px 0 5px 0;
	}

	.panel-body {
		padding: 10px 0;
		border-top: 1px solid transparent !important;

		.rating-review-box {
			input {
				margin-right: 5px;
			}
		}
	}

	.panel-title {
		font-size: $font-size+3;
		color: $primary-color;
		font-weight: $font-weight+300;
	}

	.panel-collapse {
		border: none;
	}

	.panel-title > a {
		position: relative;
		display: block;
	}

	label {
		display: table;

		input {
			display: table-cell;
		}

		span {
			font-size: $font-size+2;
			color: $secondary-color;
			display: table-cell;
			font-weight: $font-weight+100;
			vertical-align: middle;
			padding-left: 5px;
		}
	}

	.search-button {
		background-color: $anchor-color;
		font-size: $font-size+2;
		color: $white-color;
		display: block;
		padding: 3px 10px;
		border-radius: 2px;
		border: 1px solid $anchor-color;
		text-align: center;
		width: auto;
		margin-top: 20px;

		&:hover, &:focus {
			background-color: $anchor-color;
			border: 1px solid $blue-color;
			color: $white-color;
		}
	}
}

.listing-heading-box {
	padding: 7px 0;
	margin-bottom: 20px;

	h2 {
		margin: 0;
		font-weight: $font-weight+300;
	}

	strong, b {
		margin: 0;
		font-weight: $font-weight+300;
	}

	.custom-select {
		position: relative;
		display: inline-block;
		margin-right: 1px;
		float: right;
		width: 150px;

		@media (max-width: 1190px) {
			width: auto;
		}

		select {
			-webkit-appearance: none;
			-moz-appearance: none;
		    text-indent: 1px;
		    text-overflow: '';		    
			border-radius: 0;
			height: 28px;
			padding: 2px 15px 2px 4px;
			font-size: $font-size+1;
			font-weight: $font-weight+300;
			color: $grey-color;

			&::-ms-expand {
				display: none;
			}
		}

		&:after {
			content: '';
			width: 0;
			height: 0;
			border-left: 4px solid transparent;
			border-right: 4px solid transparent;
			border-top: 6px solid #7f7f7f;
			position: absolute;
			right: 5px;
			top: 12px;
			text-indent: 1px;
			text-overflow: '';
		}

		&:before {
			content: 'Sort by';
			color: $grey-color;
			position: absolute;
			left: -50px;
			top: 5px;
			font-size: $font-size+1;
			font-weight: $font-weight+300;
		}
	}
}

.listing1 {
	list-style-type: none;
	padding: 0;
	margin: 0;	

	li {
		display: block;
		padding: 10px 0 10px 10px;
		margin: 0 0 25px 0;

		&:hover {
			box-shadow: 0 0 20px rgba(0, 0, 0, 0.05);
		}

		&.featured {
			position: relative;
			border: 1px solid rgba(63, 95, 148, 0.5);

			&:after {
				content: 'Featured';
				position: absolute;
				bottom: 0;
				right: 0;
				background: $grey-bg;
				color: $grey-color;
				padding: 3px 15px;
				border-top-left-radius: 5px;
				font-size: $font-size;
			}
		}
	}

	.media {
		margin-top: 0;

		.media-left {
			padding-right: 0;

			figure {

				.media-object {
					width: 130px;
					height: 130px;
				}
			}
		}
	}

	.listing-heading {
		margin: 0 0 5px 0;
		display: block;
		color: $anchor-color;
		font-size: $font-size+7;
		font-weight: $font-weight+300;
	}

	.certification-jobs-box {
		float: right;
		font-size: $font-size+3;
		color: $secondary-color;
		margin: 0 0 10px 20px;
		min-width: 180px;

		.certification-jobs {
			border-top: 1px solid #f6f6f6;
			padding: 10px;
			display: block;

			&:first-child {
				border-top: none;
			}

			.jobs-number {
				color: $anchor-color;
				font-weight: $font-weight+300;
			}

			figure {
				margin-right: 5px;
			}
		}
	}

	.rating-review-box {
		display: block;
		color: $grey-color;

		strong {
			font-weight: $font-weight+300;
			margin-left: 5px;
		}

		b {
			font-weight: $font-weight+300;
			margin-left: 10px;
			font-size: $font-size+3;
			color: $anchor-color;
		}
	}

	.providers {
		color: $secondary-color;
		display: block;
		margin: 10px 0 0 0;

		span {
			display: inline-block;
			background-color: #ededed;
			font-size: $font-size+2;
			font-weight: $font-weight+300;
			color: $anchor-color;
			padding: 3px 5px;
			border-radius: 3px;
			margin: 0 5px 0 0;

			&:first-child {
				margin-left: 10px;
			}
		}
	}

	.pricing-box {
		border-top: 1px solid #f6f6f6;
		display: block;
		font-size: $font-size+1;
		color: $grey-color;
		margin-top: 15px;
		padding-top: 5px;
		clear: both;

		strong {
			font-size: $font-size+7;
			color: $primary-color;
			font-weight: $font-weight+300;
		}

		strike {
			color: #7f7f7f;
		}

		.discount {
			color: #45b34e;
		}
	}
}


/*slider css start*/
.slider {
  display: inline-block;
  vertical-align: middle;
  position: relative;
}
.slider.slider-horizontal {
  width: 145px;
  height: 20px;
  margin-left: 12px;

  @media (max-width: 1190px){
  	width: 120px;
  }

  @media (max-width: 991px){
  	width: 130px;
  }
}
.slider-txt {
	font-size: $font-size;
	display: $db;
	margin-top: 5px;
}
.slider.slider-horizontal .slider-track {
  height: 5px;
  width: 100%;
  margin-top: 0;
  top: 50%;
  left: 0;
}
.slider.slider-horizontal .slider-selection,
.slider.slider-horizontal .slider-track-low,
.slider.slider-horizontal .slider-track-high {
  height: 100%;
  top: 0;
  bottom: 0;
}
.slider.slider-horizontal .slider-tick,
.slider.slider-horizontal .slider-handle {
  margin-left: -10px;
}
.slider.slider-horizontal .slider-tick.triangle,
.slider.slider-horizontal .slider-handle.triangle {
  position: relative;
  top: 50%;
  transform: translateY(-50%);
  border-width: 0 10px 10px 10px;
  width: 0;
  height: 0;
  border-bottom-color: #0480be;
  margin-top: 0;
}
.slider.slider-horizontal .slider-tick-container {
  white-space: nowrap;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
}
.slider.slider-horizontal .slider-tick-label-container {
  white-space: nowrap;
  margin-top: 20px;
}
.slider.slider-horizontal .slider-tick-label-container .slider-tick-label {
  padding-top: 4px;
  display: inline-block;
  text-align: center;
}
.slider.slider-horizontal.slider-rtl .slider-track {
  left: initial;
  right: 0;
}
.slider.slider-horizontal.slider-rtl .slider-tick,
.slider.slider-horizontal.slider-rtl .slider-handle {
  margin-left: initial;
  margin-right: -10px;
}
.slider.slider-horizontal.slider-rtl .slider-tick-container {
  left: initial;
  right: 0;
}

.slider input {
  display: none;
}
.slider .tooltip.top {
  margin-top: -36px;
}
.slider .tooltip-inner {
  white-space: nowrap;
  max-width: none;
}
.slider .hide {
  display: none;
}
.slider-track {
  position: absolute;
  cursor: pointer;
  background-image: -webkit-linear-gradient(top, #f5f5f5 0%, #f9f9f9 100%);
  background-image: -o-linear-gradient(top, #f5f5f5 0%, #f9f9f9 100%);
  background-image: linear-gradient(to bottom, #f5f5f5 0%, #f9f9f9 100%);
  background-repeat: repeat-x;
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#fff5f5f5', endColorstr='#fff9f9f9', GradientType=0);
  -webkit-box-shadow: inset 0 1px 2px rgba(0, 0, 0, 0.1);
  box-shadow: inset 0 1px 2px rgba(0, 0, 0, 0.1);
  border-radius: 4px;
}
.slider-selection {
  position: absolute;
  background: #2f5da5;
  box-shadow: inset 0 -1px 0 rgba(0, 0, 0, 0.15);
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  border-radius: 4px;
}

.slider-track-low,
.slider-track-high {
  position: absolute;
  background: #d7d7d7;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  border-radius: 4px;
}
.slider-handle {
  position: absolute;
  top: 4px;
  width: 15px;
  height: 15px;
  background-color: #fff;
  -webkit-box-shadow: inset 0 1px 0 rgba(255,255,255,.2), 0 0 8px rgba(0,0,0,.2);
  box-shadow: inset 0 1px 0 rgba(255,255,255,.2), 0 0 8px rgba(0,0,0,.2);
  border: 0px solid transparent;
}
.slider-handle.round {
  border-radius: 50%;
}
.slider-handle.triangle {
  background: transparent none;
}
.slider-handle.custom {
  background: transparent none;
}
.slider-handle.custom::before {
  line-height: 20px;
  font-size: 20px;
  content: '\2605';
  color: #726204;
}
/*slider css end*/


/***search bar css***/

.home-advanced-search {
		position: relative;
		width: 1000px;
		margin: 0 auto;
		height: 64px;
		vertical-align: top;

		@media (max-width: 991px) {
			width: 750px;
		}
		
		.form-group {
			width: 518px;
			vertical-align: top;
			color: $primary-color;

			@media (max-width: 991px) {
				width: 380px;
			}

			input {
				
				@media (max-width: 991px) {
					padding: 10px 5px;
				}

				&:focus {
					box-shadow: none;
				}
			}
		}

		.advanced_functional {
			width: 350px !important;

			@media (max-width: 991px) {
				width: 280px !important;
			}
		}

		.find-jobs-btn {
			border-radius: 5px;
			height: 64px;
			width: 65px;
			padding: 0;
			text-transform: uppercase;
			margin-left: -9px;
			font-size: $font-size+5;
			position: relative;
			box-shadow: 0 0 40px rgba(0, 0, 0, 0.10);
			vertical-align: top;

			&:after {
				content: '';
				background: $sprite -526px -247px;
				position: absolute;
				margin: auto;
				left: 0;
				right: 5px;
				top: 0;
				bottom: 0;
				width: 20px;
				height: 20px;
			}
		}
	}


.error {

	input {
		border-bottom: 1px solid transparent !important;
	}
}


.cls_scroller.pr.scroll_mg {
	background: $white-color;
	padding-top: 30px;
}


/*** amcat section css ***/
.amcat-certification {
	margin: -10px 0 0 0;

	.box-panel {
		padding: 10px 20px 20px 20px;
	}
}

.amcat-box {
	display: flex;
	justify-content: space-evenly;
	align-items: center;
	font-size: $font-size+3;
	
	&__list {
		list-style-type: none;
		text-align: center;
		width: 140px;

		i {
			width: 70px;
			height: 70px;
			border-radius: 50%;
			display: block;
			background-color: #f6faff;
			margin: 0 auto 10px auto;
			position: relative;

			span {
				position: absolute;
				left: 0;
				right: 0;
				bottom: 0;
				top: 0;
				margin: auto;
			}
		}
	}
}

.amcat-tags {
	display: flex;
	justify-content: center;
	align-items: center;
	flex-wrap: wrap;

	a {
		padding: 10px;
		color: $primary-color;
		font-size: $font-size+2;
		background-color: #ececec;
		border-radius: 20px;
		padding: 7px 20px;
		margin: 0 5px 15px 5px;

		&.selected {
			background-color: #dee9f9;
		}
	}
}

.amcat-heading1 {
  width: 98px;
  height: 23px;
  background: $sprite 0 -537px;
  display: inline-block;
  vertical-align: middle;
}

.amcat-heading2 {
  width: 179px;
  height: 40px;
  background: $sprite 0 -560px;
  display: inline-block;
  vertical-align: sub;
  margin-bottom: 2px;
}