@import '../../../../../styles/functions';
@import '../../../../../styles/variables';
@import '../../../../../styles/mixins';


.reviews {
    .carousel-indicators {
        display: none;
    }

    .carousel-control-prev, .carousel-control-next {
        width: 7%;
    }

    .carousel-control-prev-icon {
        background: $sprite -438px 0;
        width: 5.2rem;
        height: 5.2rem;
    }
    .carousel-control-next-icon {
        background: $sprite -498px 0;
        width: 5.2rem;
        height: 5.2rem;
    }

    .carousel-inner {
        width: 90%;
        margin: 0 auto;
        padding: 2rem 0;
    }

    .card {
        box-shadow: $box-shadow;
        border: none;
        padding: 2rem;
        border-bottom: .5rem solid $card-btm-bdr;

        &__name {
            font-size: 1.6rem !important;
            display: block;
            color: $gray-200 !important;
            white-space: nowrap;
            overflow: hidden;
            text-overflow: ellipsis;
        }

        &__txt {
            font-size: 1.3rem;
            height: 11.7rem;
            overflow: auto;
            margin-top: 1rem;
        }

        strong {
            white-space: nowrap;
            overflow: hidden;
            text-overflow: ellipsis;
            font-size: 1.3rem;
            font-weight: 700;
            color: $gray-100;
        }

        &__location {
            font-size: 1.1rem;
            white-space: nowrap;
            overflow: hidden;
            text-overflow: ellipsis;
            font-weight: 600;
        }
    }
}

.btn-custom {
    font-size: 1.3rem;
    padding: 1rem 3rem;
}

.modal {
    .write-reviews-box {
        max-width: 47.5rem;
        text-align: center;

        .modal-content {
            .modal-header {
                border-bottom: none;
            }
            .modal-body {
                padding: 0 5rem 4rem 5rem;

                h2 {
                    font-size: 2rem;
                }

                .rating {
                    em {
                        margin-left: .7rem
                    }
                    span {
                        display: block;
                        font-size: 1.2rem;
                        margin-top: 1rem;
                    }
                }

                form {
                    .form-group{
                      position: relative;
                      margin-bottom: 1.5rem;
                    }
                
                    label {
                      position: absolute;
                      left: 1rem;
                      top:.8rem;
                      font-weight: 400;
                      font-size: 1.2rem;
                      background: $white;
                      padding: .3rem;
                      pointer-events: none;
                    }
                
                    input:focus + label, input:not(:placeholder-shown) + label{
                      opacity:1;
                      transform: scale(.9) translateY(-100%) translateX(-10px);
                      color: $blue;
                      left: 1.6rem;
                    }

                    textarea:focus + label, textarea:not(:placeholder-shown) + label{
                        opacity:1;
                        transform: scale(.9) translateY(-100%) translateX(-10px);
                        color: $blue;
                        left: 1.6rem;
                    }

                    .error {
                      label {
                        opacity:1;
                        transform: scale(.9) translateY(-100%) translateX(-10px);
                        color: $blue;
                        left: 1.6rem;
                        }
                    }
                
                    input, textarea {
                      &:focus {
                        border:.1rem solid $input-focus;
                        outline-color: $input-focus;
                        box-shadow: none;
                      }
                    }
                
                    input {
                      width:100%;
                      padding-left: 1rem;
                      height: 4.5rem;
                      font-size: 1.3rem;
                    }
                
                    input, label {
                      transition: all 0.2s;
                      transition-timing-function: ease;
                      transition-timing-function: cubic-bezier(0.25, 0.1, 0.25, 1);
                      opacity:1;
                    }
              
                    .submit-btn {
                        padding-left: 4rem;
                        padding-right: 4rem;
                        display: block;
                    }
                }
            }
        }
    }
}