@import '../../path';
@import '../library/variables';
@import '../library/mixin';
@import '../components/tabbing';


/* Rating */
@import '../components/rating';

/* Course icon CSS */
@import '../components/course-list';
@import '../components/breadcrumb';



.skill-box {

	h2 {
		color: $txt-grey-333;
		font-weight: 600;
		font-size: 115%;
	}

	.skill-provider {
		margin-left: -5px;
		
		li {
			padding: 10px;
			display: flex;


			a {
				@include box (180px, 65px, table-cell);
				vertical-align: middle;
				text-align: center;

				&:focus {
					outline: none;
				}


				// img {
				// 	@include box (auto, auto, inline-block);
				// }
			}
		}
	}

	.recommd-list {
		li {
			padding-left: 15px;
			position: relative;
			width: 50%;
			float: left;
			margin: 5px 0;
			color: $txt-grey-666;

			sup {
				position: absolute;
				left: 0;
				top: 5px;
			}
		}
	}
}

.market-demand {
	.media {
		border-bottom: 1px solid $border-grey-f5;
		padding-bottom: 10px;
		margin-bottom: 10px;

		&:last-child {
			border-bottom: 0 none;
			margin-bottom: 0;
			padding-bottom: 0;
		}
	}
}

.links {
	font-size: 100%;
	li {
		display: inline-block;
		border-right: 1px solid $bg-blue;
		margin-right: 10px;
		padding-right: 10px;

		&:last-child {
			border-right: 0 none;
			margin-right: 0;
			padding-right: 0;
		}
	}
}

.skill-provider .slick-slide {
  width: auto;

}