@import '../../../../../../styles-mobile/abstracts';

.m-ui-header-content {
    position: relative;
    display: flex;
    color: $white;
    align-items: center;
    padding: 1.5rem 1.5rem 0 1.5rem !important;

    h1 {
        color: $white;
        font-weight: 400;
    }
}