/* Breadcrumbs Starts here */
.breadcrumb {
  font-size: 11px;
  list-style: outside none none;
  margin-top: 10px;
  color: $txt-grey-999;
  position: relative;

  >li {
    display: inline-block;
    max-width: 250px;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    color: $txt-grey-999;
    height: -imp(auto) ;

    a {
      color: $txt-grey-999;
    }
  }

  >li+li {
    &:before {
      content: "-";
      color: $txt-grey-999;
      padding: 0 5px;
    }
  }

  .active {
    a {
      border-bottom: 0 none;
      color: -imp(#999);
    }
  }
}



