.cms .tabs li {
  width: 50%; }

.input-group .form-control, .input-group-addon, .input-group-btn {
  display: table-cell; }

.input-group-addon, .input-group-btn {
  vertical-align: middle;
  white-space: nowrap;
  width: 1%; }

.box-panel {
  -webkit-box-shadow: 0px 0px 15px rgba(0, 0, 0, 0.1);
     -moz-box-shadow: 0px 0px 15px rgba(0, 0, 0, 0.1);
          box-shadow: 0px 0px 15px rgba(0, 0, 0, 0.1);
  background-color: #fff;
  padding: 10px 15px; }

.author-item .author-detail h2 sup {
  height: 1px;
  width: 20px;
  display: inline-block;
  background-color: #e1e1e1;
  margin-bottom: 4px; }

/* current element like this */
/* Share Button Start From Here */
.share-wrap {
  position: fixed;
  bottom: 15px;
  right: 15px;
  display: block;
  z-index: 99; }
  .share-wrap #share-icon {
    display: none; }
  .share-wrap .share-bg a {
    background-color: #fff; }
  .share-wrap .fb-bg a {
    background-color: #3b5896; }
  .share-wrap .tw-bg a {
    background-color: #76a9ea; }
  .share-wrap .gp-bg a {
    background-color: #f34a38; }
  .share-wrap .wp-bg a {
    background-color: #2dd54b; }
  .share-wrap li {
    display: block;
    height: 50px;
    width: 50px;
    margin-top: 7px;
    margin-bottom: 7px;
    margin-left: auto;
    margin-right: auto; }
    .share-wrap li a {
      display: table-cell;
      height: 50px;
      width: 50px;
      -webkit-border-radius: 50%;
      -moz-border-radius: 50%;
      border-radius: 50%;
      text-align: center;
      font-size: 11px;
      line-height: 12px;
      vertical-align: middle;
      color: #666;
      -webkit-box-shadow: 0px 0px 15px rgba(0, 0, 0, 0.5);
         -moz-box-shadow: 0px 0px 15px rgba(0, 0, 0, 0.5);
              box-shadow: 0px 0px 15px rgba(0, 0, 0, 0.5);
      position: relative; }

/* Tabbing Start From Here */
.tab-container .tabs li {
  display: inline-block; }
  .tab-container .tabs li a {
    padding: 10px 15px;
    display: block;
    font-size: 90%; }

.tab-container .tabs .current {
  color: #666;
  border-bottom: 1px solid #6b6b6b; }

.tab-container .tab-content {
  display: none;
  padding: 15px; }
  .tab-container .tab-content .box-panel {
    margin-bottom: 15px; }
    .tab-container .tab-content .box-panel .media {
      border-bottom: 0 none;
      margin-bottom: 0;
      padding-bottom: 0; }

.tab-container .tab-content.current {
  display: inherit; }

.cms .tabs {
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  border-radius: 4px;
  overflow: hidden;
  border: 1px solid #e5e5e5; }
  .cms .tabs li {
    margin: 0 -1px;
    text-align: center; }
    .cms .tabs li a {
      background-color: #e5e5e5;
      display: block;
      color: #333; }
  .cms .tabs .current {
    background-color: #fff;
    border-bottom: 0;
    color: #333; }

/* Form items Start From Here */
.form-group {
  margin-bottom: 15px;
  position: relative; }

input, select, textarea, button {
  font-family: "Open Sans", sans-serif;
  font-size: 0.875em;
  line-height: 1.3;
  margin: 0; }

input:focus {
  border: 1;
  -webkit-box-shadow: none;
     -moz-box-shadow: none;
          box-shadow: none;
  outline: none; }

select {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  width: 100%;
  height: 40px;
  background: url("../images/dropdown.svg");
  background-color: #fff;
  background-position: 98% 2px;
  background-repeat: no-repeat;
  border: 1px solid #c1c1c1;
  color: #999;
  font-family: "Open Sans", sans-serif;
  font-size: 12px;
  outline: 0;
  padding: 6px 30px 6px 6px;
  text-align: left;
  -webkit-transition: all .3s ease;
  -o-transition: all .3s ease;
  -moz-transition: all .3s ease;
  transition: all .3s ease; }
  select option {
    padding: 6px; }

textarea.form-control {
  height: auto; }

button {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none; }

.input-group {
  border-collapse: separate;
  display: table;
  position: relative;
  margin-bottom: 15px;
  width: 100%; }
  .input-group .form-control {
    border: 1px solid #ddd;
    float: left;
    margin-bottom: 0;
    position: relative;
    width: 100%;
    z-index: 2; }

.input-group-addon {
  background-color: #fff;
  color: #555;
  padding: 6px 12px;
  text-align: center;
  font-weight: 400;
  line-height: 1;
  text-align: center;
  border: 1px solid #ddd; }
  .input-group-addon:first-child {
    -webkit-border-bottom-right-radius: 0;
       -moz-border-radius-bottomright: 0;
            border-bottom-right-radius: 0;
    -webkit-border-top-right-radius: 0;
       -moz-border-radius-topright: 0;
            border-top-right-radius: 0;
    border-right: 0; }
  .input-group-addon:last-child {
    border-left: 0 none;
    -webkit-border-radius: 0;
       -moz-border-radius: 0;
            border-radius: 0; }

.form-control {
  display: block;
  height: 40px;
  width: 100%;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  background-color: #fff;
  font-family: "Open Sans", sans-serif;
  border: 1px solid #c1c1c1;
  -webkit-border-radius: 0;
     -moz-border-radius: 0;
          border-radius: 0;
  color: #555;
  font-size: 12px;
  line-height: 1.42857;
  padding: 6px 12px;
  -webkit-transition: border-color 0.15s ease-in-out 0s, -webkit-box-shadow 0.15s ease-in-out 0s;
  transition: border-color 0.15s ease-in-out 0s, -webkit-box-shadow 0.15s ease-in-out 0s;
  -o-transition: border-color 0.15s ease-in-out 0s, box-shadow 0.15s ease-in-out 0s;
  -moz-transition: border-color 0.15s ease-in-out 0s, box-shadow 0.15s ease-in-out 0s, -moz-box-shadow 0.15s ease-in-out 0s;
  transition: border-color 0.15s ease-in-out 0s, box-shadow 0.15s ease-in-out 0s;
  transition: border-color 0.15s ease-in-out 0s, box-shadow 0.15s ease-in-out 0s, -webkit-box-shadow 0.15s ease-in-out 0s, -moz-box-shadow 0.15s ease-in-out 0s; }
  .form-control::-moz-placeholder {
    color: #999;
    opacity: 1; }

.comment-wrap ul {
  border-bottom: 1px solid #f2f2f2;
  margin-bottom: 15px; }
  .comment-wrap ul li {
    padding-left: 50px;
    font-size: 100%;
    margin-bottom: 20px; }
    .comment-wrap ul li sup {
      height: 40px;
      width: 40px;
      -webkit-border-radius: 50%;
      -moz-border-radius: 50%;
      border-radius: 50%;
      background-color: #ebebeb;
      position: absolute;
      left: 15px; }
      .comment-wrap ul li sup img {
        height: 40px;
        width: 40px;
        -webkit-border-radius: 50%;
        -moz-border-radius: 50%;
        border-radius: 50%; }

/* Related articles Start From Here */
.related-article {
  background-color: #ebebeb;
  padding: 15px; }
  .related-article a {
    color: #666; }
  .related-article h2 {
    color: #1f3d6e;
    font-weight: 600; }
  .related-article .media-heading {
    color: #666;
    font-weight: 600;
    font-size: 14px; }
  .related-article .media-body {
    font-size: 1.2em;
    font-weight: 600; }
    .related-article .media-body p {
      line-height: 1.2em; }

.related-article .slick-initialized .slick-slide {
  width: 345px; }

/* Breadcrumb Start From Here */
/* Breadcrumbs Starts here */
.breadcrumb {
  font-size: 11px;
  list-style: outside none none;
  margin-top: 10px;
  color: #999; }
  .breadcrumb > li {
    display: inline-block;
    max-width: 110px;
    overflow: hidden;
    -o-text-overflow: ellipsis;
       text-overflow: ellipsis;
    white-space: nowrap;
    color: #999;
    height: auto !important; }
    .breadcrumb > li a {
      color: #999; }
  .breadcrumb > li + li:before {
    content: "-";
    color: #999;
    padding: 0 5px; }
  .breadcrumb .active a {
    border-bottom: 0 none;
    color: #999 !important; }

/* Breadcrumb Start From Here */
/* Breadcrumbs Starts here */
.c-666 {
  color: #777777; }

/* Blog landing page */
.trending-articles {
  background-color: #254d8c; }
  .trending-articles .caption-bg-txt {
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    background: rgba(0, 0, 0, 0.3);
    padding: 20px; }
    .trending-articles .caption-bg-txt .caption-heading {
      font-size: 12px;
      color: #fff;
      text-transform: uppercase;
      font-weight: 600;
      position: absolute;
      top: 5px;
      left: 10px; }
  .trending-articles .heading {
    -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=$value)";
    filter: alpha(opacity=0.6);
    -khtml-opacity: 0.6;
    -moz-opacity: 0.6;
    opacity: 0.6;
    color: #fff;
    font-size: 100%;
    font-weight: 600;
    margin-bottom: 0;
    margin-top: 10px; }
  .trending-articles li {
    height: 177px;
    width: 220px;
    background-color: #777777;
    position: relative;
    width: 220px; }
    .trending-articles li a {
      display: block; }
      .trending-articles li a h2 {
        color: #fff;
        font-size: 80%;
        text-transform: uppercase;
        position: absolute;
        top: 2px;
        left: 10px;
        font-weight: 600; }
      .trending-articles li a .bottom-text {
        position: absolute;
        bottom: 5px;
        font-size: 115%;
        left: 10px;
        color: #fff;
        font-weight: 600; }
        .trending-articles li a .bottom-text p {
          line-height: 20px; }

.editor {
  position: relative;
  line-height: 18px; }
  .editor div {
    position: absolute;
    right: 5px;
    top: 0; }

.blog-heading {
  color: #999;
  font-size: 86%;
  margin-bottom: 10px;
  margin-top: -5px;
  font-weight: 600; }

.box-panel a {
  color: #333;
  font-weight: 600; }

.box-panel h2 {
  color: #1f3d6e;
  font-size: 100%;
  font-weight: 600; }

.box-panel h3 {
  font-size: 100%; }

.box-panel h4 {
  font-size: 100%;
  color: #333;
  margin-top: 0;
  font-weight: 600; }

.box-panel .media {
  border-bottom: 1px solid #f5f5f5;
  margin-bottom: 15px;
  padding-bottom: 10px; }

.view-forward {
  color: #999;
  display: inline-block;
  margin-top: 3px; }

.bottom-btn-wrap {
  position: fixed;
  bottom: 0;
  z-index: 2;
  padding: 10px; }

.blog-author {
  width: 100%;
  margin-top: 5px; }

article {
  line-height: 1.5;
  font-size: 100%;
  color: #333; }
  article h1 {
    color: #333;
    font-weight: 600;
    font-size: 130%; }

.trending-articles .slick-initialized .slick-slide {
  width: 220px;
  margin-right: 15px; }

.main-head {
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  border-radius: 3px;
  color: #fff;
  background-color: rgba(0, 0, 0, 0.5);
  border: 1px solid rgba(255, 255, 255, 0.5);
  padding: 1px 4px;
  text-transform: uppercase;
  font-size: 11px;
  margin-bottom: 5px;
  display: inline-block; }

.talent-gr-50 {
  position: absolute;
  height: 100%;
  width: 100%;
  /* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#3b6fc2+0,1c8bae+50,1097a6+100&0.5+0,0.5+100 */
  background: -moz-linear-gradient(-45deg, rgba(59, 111, 194, 0.5) 0%, rgba(28, 139, 174, 0.5) 50%, rgba(16, 151, 166, 0.5) 100%);
  /* FF3.6-15 */
  background: -webkit-linear-gradient(-45deg, rgba(59, 111, 194, 0.5) 0%, rgba(28, 139, 174, 0.5) 50%, rgba(16, 151, 166, 0.5) 100%);
  /* Chrome10-25,Safari5.1-6 */
  background: -webkit-linear-gradient(315deg, rgba(59, 111, 194, 0.5) 0%, rgba(28, 139, 174, 0.5) 50%, rgba(16, 151, 166, 0.5) 100%);
  background: -moz-linear-gradient(315deg, rgba(59, 111, 194, 0.5) 0%, rgba(28, 139, 174, 0.5) 50%, rgba(16, 151, 166, 0.5) 100%);
  background: -o-linear-gradient(315deg, rgba(59, 111, 194, 0.5) 0%, rgba(28, 139, 174, 0.5) 50%, rgba(16, 151, 166, 0.5) 100%);
  background: linear-gradient(135deg, rgba(59, 111, 194, 0.5) 0%, rgba(28, 139, 174, 0.5) 50%, rgba(16, 151, 166, 0.5) 100%);
  /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#803b6fc2', endColorstr='#801097a6',GradientType=1 );
  /* IE6-9 fallback on horizontal gradient */ }

.talent-gr {
  /* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#3b6fc2+0,1c8bae+77,1097a6+100 */
  background: #3b6fc2;
  /* Old browsers */
  background: -moz-linear-gradient(-45deg, #3b6fc2 0%, #1c8bae 77%, #1097a6 100%);
  /* FF3.6-15 */
  background: -webkit-linear-gradient(-45deg, #3b6fc2 0%, #1c8bae 77%, #1097a6 100%);
  /* Chrome10-25,Safari5.1-6 */
  background: -webkit-linear-gradient(315deg, #3b6fc2 0%, #1c8bae 77%, #1097a6 100%);
  background: -moz-linear-gradient(315deg, #3b6fc2 0%, #1c8bae 77%, #1097a6 100%);
  background: -o-linear-gradient(315deg, #3b6fc2 0%, #1c8bae 77%, #1097a6 100%);
  background: linear-gradient(135deg, #3b6fc2 0%, #1c8bae 77%, #1097a6 100%);
  /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#3b6fc2', endColorstr='#1097a6',GradientType=1 );
  /* IE6-9 fallback on horizontal gradient */ }

.talent-gr-nav {
  /* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#3b6fc2+0,1c8bae+77,1097a6+100 */
  background: #3b6fc2;
 }

.talent-gr li {
  height: 195px; }

.talent-gr .slick-initialized .slick-slide {
  width: 278px; }

.talent-economy {
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  border-radius: 3px;
  position: relative;
  overflow: hidden;
  width: 100%;
  height: 100%;
  margin-top: 15px;
  margin-bottom: 15px; }

.talent-content {
  position: absolute;
  width: 100%;
  height: 100%;
  z-index: 1;
  color: #fff;
  padding: 15px;
  font-size: 13px; }

.talent-content h1 {
  color: #fff;
  margin-bottom: 5px;
  font-size: 17px;
  font-weight: bold;
  margin-top: 0; }

.semi-head {
  font-size: 20px !important;
  font-weight: 600;
  color: #1f3d6e; }

.article-tag {
  font-size: 11px;
  font-weight: 600;
  text-transform: uppercase;
  color: #999; }

.article-list:last-child {
  border-bottom: 0 none;
  margin-bottom: 0;
  padding-bottom: 0; }

.contributors li {
  width: 130px;
  display: block;
  text-align: center;
  -webkit-box-shadow: 0px 0px 15px rgba(0, 0, 0, 0.1);
  -moz-box-shadow: 0px 0px 15px rgba(0, 0, 0, 0.1);
  box-shadow: 0px 0px 15px rgba(0, 0, 0, 0.1);
  margin-right: 20px;
  margin-bottom: 10px; }

.contributors .head {
  font-size: 14px;
  font-weight: 600; }

.contributors .post {
  font-size: 11px;
  color: #999;
  text-align: center;
  height: 25px; }
  .contributors .post span {
    display: block; }
  .contributors .post sup {
    height: 1px;
    width: 20px;
    display: inline-block;
    background-color: #999;
    margin-bottom: 4px; }

.bg-grey {
  background-color: #f6f6f6; }

.take-me {
  text-transform: uppercase;
  font-weight: 600;
  font-size: 18px;
  border-bottom: 2px solid #eaf8ff;
  position: relative; }
  .take-me .line {
    width: 50px;
    height: 2px;
    position: absolute;
    left: 0;
    background-color: #62b2d6;
    bottom: -2px; }
    .take-me .line sup {
      position: absolute;
      width: 0;
      height: 0;
      border-style: solid;
      border-width: 6px 6px 0 0;
      border-color: #62b1d6 transparent transparent transparent;
      left: 0; }

.take-list {
  margin: 0 -10px; }
  .take-list li {
    float: left;
    padding: 10px;
    width: 50%; }
    .take-list li .list-box {
      border: 1px solid #f1f1f1; }
    .take-list li .title {
      font-size: 14px;
      font-weight: 600;
      text-align: center;
      padding: 15px 0; }
      .take-list li .title a {
        color: #2f5ea6; }

.article-category {
  position: relative; }
  .article-category .content {
    position: absolute;
    width: 100%;
    height: 100%;
    z-index: 1;
    padding: 15px; }
    .article-category .content h1 {
      font-size: 20px;
      font-weight: 600;
      position: absolute;
      bottom: 0; }
  .article-category img {
    opacity: .2; }
  .article-category .breadcrumb {
    color: #fff; }
    .article-category .breadcrumb > li {
      color: #fff; }
      .article-category .breadcrumb > li a {
        color: #fff; }
    .article-category .breadcrumb > li + li:before {
      color: #fff; }
    .article-category .breadcrumb .active a {
      color: #fff !important; }

.h1-head {
  font-size: 20px;
  font-weight: 600;
  color: #333;
  line-height: 1.2; }

.spacer {
  padding: 0 5px; }

blockquote {
  background-color: #ecf6f5;
  border-left: 5px #2fc2e3 solid;
  margin-left: 0;
  margin-right: 0;
  padding: 15px;
  font-size: 15px;
  color: #333; }

.article-comment {
  border-bottom: 0 none !important; }
  .article-comment li {
    border-bottom: 1px solid #f2f2f2;
    padding-bottom: 15px; }
    .article-comment li:last-child {
      border-bottom: 0 none;
      padding-bottom: 0; }

#js_comments {
  display: none; }

.author-item {
  position: relative;
  padding-left: 110px;
  /* author-img ends here */
  /* author-detail ends here */ }
  .author-item .author-img {
    display: block;
    left: 0;
    position: absolute; }
    .author-item .author-img img {
      height: 90px;
      width: 90px;
      -webkit-border-radius: 100%;
      -moz-border-radius: 100%;
      border-radius: 100%; }
  .author-item .author-detail h2 {
    display: inline-block; }
    .author-item .author-detail h2 sup {
      display: block;
      margin-top: 5px;
      width: 45px; }
  .author-item ul li {
    margin-right: 5px; }

.italic {
  font-style: italic; }

.clearfix:after {
  content: '';
  clear: both;
  display: table;
}

.rel-imp {
  position: relative !important;
}

.is-hidden {
  padding: 0 !importance;
  margin: 0;
  width: 100% !importance;
}