{% extends "basic/base1.html" %}
{% load static meta compress %}

{% block title %}
  {% if meta.title %}{{ meta.title }}{% else %}{{prd_H1}}{% endif %}
{% endblock title %}
{% block canonical_url %}
  <link rel="canonical" href="//{{ SITE_DOMAIN }}{{canonical_url}}">
  <link rel="alternate" href="//{{ MOBILE_SITE_DOMAIN }}{{request.get_full_path}}">
  <link rel="amphtml" href="//{{ MOBILE_SITE_DOMAIN }}{{request.get_full_path}}?type=amp">
{% endblock canonical_url %}

        {% block django_meta %}
            {% include 'meta/meta.html' %}
        {% endblock django_meta %}
 
{% block css_section %}
    {{block.super}}
    {% compress css %}
    <link type="text/scss" href="{% static 'shinelearn/css/product/detail.scss' %}" rel="stylesheet">
    <link type="text/css" href="{% static 'shinelearn/css/skill/extra.css' %}" rel="stylesheet">
    {% endcompress %}
{% endblock css_section %}


{% block navigation %}
{% if not navigation %}
    <!-- navigation bar -->
    <nav class="navbar navbar-default navbar-fixed-top">
        <div class="container-fluid">
          <!-- Brand and toggle get grouped for better mobile display -->
          <div class="navbar-header">
            <a class="navbar-brand" href=""></a>
          </div>

          <!-- Collect the nav links, forms, and other content for toggling -->
          <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
            
            <ul class="nav navbar-nav navbar-right">
              <li class="dropdown have-query">
                <a href="tel:{{ggn_contact}}">Have a query? Call us at <strong>{{ggn_contact}}</strong></a>
              </li>
            </ul>
          </div><!-- /.navbar-collapse -->
        </div><!-- /.container-fluid -->
  </nav>
{% else %}
   {{block.super}}
{% endif %}

  {% endblock navigation %}


{% block main_container %}
    
    <div id="id-detail-body">
      {{product_detail|safe}}
   </div>
{% endblock main_container %}


{% block js_section %}
    {{block.super}}
    {% compress js %}
    <script src="{% static 'shinelearn/js/common/plugin.activeOnScroll.js' %}"></script>
    <script src="{% static 'shinelearn/js/cart/cart.js' %}"></script>
    <script src="{% static 'shinelearn/js/shop/detail.js' %}"></script>
    <script src="{% static 'shinelearn/js/common/scroller.js' %}" type="text/javascript"></script>
    <script src="{% static 'shinelearn/js/users/login.js' %}"></script>
    {% endcompress %}
{% endblock js_section %}

  {% block johukum %}
    {% if sqs.id in linkedin_resume_services %}
    {% else %}
      {{block.super}}
    {% endif %}
  {% endblock johukum %}