{% load static %}
 {% block page_heading %}

      <!-- header -->
      <header>
        
        <div class="detail-course-header">
          <div class="container pr">

              <!-- breadcrums -->
              {% block breadcrumbs %}
                  {% if sqs.id in linkedin_resume_services %}
                    <ol class="breadcrumb mt-30" itemscope itemtype="http://schema.org/BreadcrumbList">
                        <li class="active" ></li>
                    </ol>
                  {% else %}
                    {% include "shop/partials/breadcrumb.html" %}
                  {% endif %}
              {% endblock breadcrumbs %}
            
            {% block product_header %}
              <div class="course-caption col-sm-8 no-pad" itemscope itemtype="http://schema.org/Product">
                <div class="course-caption-img">
                  <figure style="background-color:#fff;">
                    <img aria-label="{{prd_img_alt}}" itemprop="image" src="{{prd_img}}" alt="{{prd_img_alt}}" class="img-responsive" >
                  </figure>
                </div>

                <div class="course-caption-content">
                  <h1 itemprop="name">{{prd_H1}}</h1>
                  <div itemprop="aggregateRating"
                      itemscope itemtype="http://schema.org/AggregateRating">
                      <meta itemprop="ratingValue" content="{{prd_rating}}">
                      <meta itemprop="reviewCount" content="{% if prd_num_rating > 0 %}
                      {{prd_num_rating}}
                      {% else %}
                        1      
                      {% endif %}">

                </div>

                  {% include "shop/partials/packagediv.html" %}
                </div>
                
              </div>

            {% endblock product_header %}

            <!-- query-price-box-scroll start -->
            <div class="query-price-box-scroll">

              {% block product_cart %}
                {% include "shop/partials/prd_cart.html" %}
              {% endblock product_cart %}

            </div>
            <!-- query-price-box-scroll end -->


          </div>
        </div>
            {% comment %}
            {% block product_cart %}
              {% include "shop/partials/prd_cart.html" %}
            {% endblock product_cart %}
            {% endcomment %}
        
      </header>

      
    {% endblock page_heading %}

    {% block section1 %}
      <!-- main parent1 section start -->
      <section class="container-fluid cls_sticky_scroller_p pr">
          <div class="row detail-box bt-none">

            <!-- sticky sub header 1 -->
            <div class="course-caption-bottom cls_sticky_scroller" >
              <div class="container">
                <div class="visible-onscroll hidden cls_scroller_hiddenDiv">
                  <strong>{{prd_H1}}</strong> by <small>{{prd_vendor}}</small>

                  <div class="enrol-cart-scroll pull-right">
                    <strong id="id-scroll-price" class="total-price" name="price_total" sum-price="{% if selected_var %}{{var_list.0.inr_price|floatformat}}{% else %}{{sqs.pPinb|floatformat}} {% endif %}" >Rs. {% if selected_var %}
                      {{var_list.0.inr_price|floatformat}}{% else %}
                    {{sqs.pPinb|floatformat}}{% endif %}/-</strong>

                    <!--strong id="total-price" name="price_total" sum-price="{% if selected_var %}{{var_list.0.inr_price|floatformat}}{% else %}{{sqs.pPinb|floatformat}} {% endif %}" >Rs. {% if selected_var %}
                      {{var_list.0.inr_price|floatformat}}{% else %}
                      {{sqs.pPinb|floatformat}}{% endif %}/- <small>(+taxes)</small></strong-->

                    {% if sqs.id in linkedin_resume_services %}
                    <!-- buy now button -->
                    <a role="button" class="enrol-now" id="enrol-now-button" prod-id="{{sqs.id}}" data-price="{{sqs.inr_price}}" href="javascript:void();">Enroll now</a>
                    {% endif %}

                    <!-- Add to cart button and redirect to cart add class- enrol-now -->
                    {% if sqs.id not in linkedin_resume_services %}
                        {% if prd_vendor_slug == 'neo' %}
                      <a role="button" class="enrol-now neo-enroll-button" data-neotest="1" prod-id="{{sqs.id}}" data-price="{{sqs.inr_price}}" >Enroll now</a>

                      {% else %}
                        <a role="button" class="enrol-now" id="add-to-cart" prod-id="{{sqs.id}}" data-price="{{sqs.inr_price}}" href="javascript:void();">Enroll now</a>
                      {% endif %}
                    {% endif %}

                    <!--a href="#" class="enrol-now" data-toggle="modal" data-target=".bs-example-modal-sm">Enroll now</a-->
                  </div>
                </div>

                  <ul >
                    {% if prd_num_rating %}
                    <li>
                      <div class="rating-review-box">

                        {% for star in prd_rating_star %}
                          {% if star == '*' %}
                            <figure class="full-star"></figure>
                          {% elif star == '+' %}
                            <figure class="half-star"></figure>
                          {% else %}
                            <figure class="blank-star"></figure>
                          {% endif %}
                        {% endfor %}  
                        <strong>{{prd_rating}}/5</strong>ratings
                      </div> 
                    </li>
                    {% endif %}
                    <li>
                     <a href="#review" class="cls_review">
                      <figure class="review-icon"></figure>
                      <span>
                          {% if prd_num_rating.count > 15 %}&nbsp;<strong class="anchor-color" >{{prd_num_rating}}</strong>Reviews
                          {% else %}
                           Write a review
                          {% endif %}</span>
                     </a> 
                    </li>
                    <li>
                    <figure class="bought-icon"></figure>
                    <span>
                    {% if prd_num_bought %}<strong>&nbsp;{{prd_num_bought}}</strong>{% else %}<strong>&nbsp;10</strong>{% endif %}&nbsp;people bought</span>
                    </li>
                    {% if prd_service == 'course' %}
                  
                    {% if prd_num_jobs %}
                      <li>
                       <a href="{% if num_jobs_url %}{{num_jobs_url}}{% else %}javascript:void(0);{% endif %}" target="_blank">
                        <figure class="course-jobs-icon"></figure>
                        <span><strong class="anchor-color">&nbsp;{{prd_num_jobs}}</strong>&nbsp;Jobs available</span>
                       </a> 
                      </li>
                    {% endif %}
                    
                    {% if prd_cert %}
                      <li>
                        <figure class="certification-icon"></figure>
                        <span>&nbsp;Certification</span>
                      </li>
                    {% endif %}
                  {% endif %}
                </ul>
                {% if prd_service == 'course' or product.type_flow == 16 %}
                <span class="byvskills">
                  <strong><a onclick="gaEvent('Search','{{prd_vendor}}','ViewAllProductVendor');" href="/search/results/?fvid={{product.vendor.id}}">All courses/ certification ({{prd_vendor_count}})</a></strong>
                  By {{prd_vendor}}
                </span>
                {% endif %}
              </div>
            </div>

            
            <div class="container">
            <!-- About course -->
              <div class="row">
                <div class="col-sm-12 col-md-8 mt-40">
                  {% if prd_vendor_slug == 'neo' %}

                  <div id="row_neo">
                    <div class="cefr_level mb-30">
                    <span class="cefr_level__img ml-10 mt-5">
                      <img src="{% static 'shinelearn/images/neo-course-img.jpg' %}" width="110" alt="" > 
                    </span>
                    <span class="cefr_level__txt">
                      <strong>Know your current English CEFR level,</strong>
                      corresponding TOEFL and IELTS score by taking this test.
                    </span>
                    <a class="cefr_level__link" data-toggle="modal" data-target="#myModal" id="take-test_button">Take free test</a>
                    </div>
                  </div>

                  <div id="cefr_level_box" style="display: none">
                    <div class="cefr_level cefr_level_level mb-10">
                      <span class="cefr_level__img--level">
                        <img src="{% static 'shinelearn/images/cefr-level-img.jpg' %}" width="78" alt="" > 
                      </span>
                      <span class="cefr_level__txt--level">
                        <strong id="cefr_level">B1</strong>
                        Your CEFR level
                      </span>
                    </div>
                    <a class="mb-30 db" href="https://www.coe.int/en/web/common-european-framework-reference-languages/table-1-cefr-3.3-common-reference-levels-global-scale" target="_blank"><span class="link-icon mr-5"></span> Official translations of CEFR global scale</a>
                  </div>
                  {% endif %}

                {% if prd_about %}
                  <h2 class="detail-heading">About {% if prd_service == 'course' %}course{% else %}service{% endif %}</h2>
                  <style>
                    .morecontent span {
                          display: none;
                      }
                      .morelink {
                          display: block;
                      }
                  </style>
                  <span class="more">
                  {{prd_about|safe}}
                  </span>
                {% endif %}
                </div>
              </div>

            {% include "shop/partials/product_child.html" %}
            
            {% include "shop/partials/product_variations.html" %}
            
            {% include "shop/partials/frequentlybought.html" %}
          </div>
      </section>
      <!-- main parent1 section end -->


    {% endblock section1 %}

    {% block section2 %}
      
      <!-- main parent2 section start -->
      <section class="container-fluid cls_scroller_parent pr">
        <div class="row">

             <!-- About course container -->
            <section id="about-course" class="container-fluid">
              <div class="row detail-course-links cls_scroller pr">
              <!-- sticky sub header 2 -->
                <div class="container">
                  <div class="col-sm-12 col-md-8 about-tab cls_scroll_tab">

                  {% if prd_uget %}
                      {% if prd_service == 'course' %}
                      <a title="Course Highlights" class="active cls_tab_child" href="#get">Course Highlights</a>
                      {% else %}
                         <a title="Service Highlights" class="active cls_tab_child" href="#get">Service Highlights</a>
                      {% endif %}

                  {% endif %}

                      {% if product.attend %}

                      <a title="How to begin" class=" cls_tab_child" href="#attends">Who Should Attend</a>

                      {% endif %}

                        {% if product.visibility %}
                    <a title="About Product" class=" cls_tab_child" href="#course">About Product</a>
                    {% else %}
                        {% if prd_desc %}
                        <a title="Shine Advantage" class=" cls_tab_child" href="#course">Shine Advantage</a>

                        {% endif %}
                    {% endif %}

                      {% if prd_service == 'course' and chapter_list %}
                    <a title="Course Outline" class="cls_tab_child" href="#programs">Course Outline</a>
                  {% endif %}


                  {% if prd_review_list %}
                    <a title="Reviews" id="review-tab" class="cls_tab_child" href="#review">Reviews</a>
                  {% endif %}

                      {% if faq %}
                   <a title="FAQs" class="cls_tab_child" href="#faq">FAQs</a>
                        {% endif %}
                  </div>
                </div>
              </div>
            </section>

             {% if prd_uget %}
            <!-- What’ll you get container -->
              <section class="container-fluid detail-box">
                <div class="container">
                  <div class="row">
                    <div id="get" class="col-sm-12 col-md-8">

                
                    <h2>{% if prd_service == 'course' %}Course {% else %}Service{% endif %}Highlights</h2>

                      {{prd_uget|safe}}
                    </div>
                  </div>
                </div>
              </section>
            {% endif %}

            {% if product.attend %}
              <section class="container-fluid detail-box">
              <div class="container">
                <div class="row">
                  <div id="attends" class="col-sm-12 col-md-8">
                  <h2>Who Should Attend</h2>
                      {{product.attend|safe}}
                  </div>
                </div>
              </div>
              </section>
            {% endif %}

            {% if prd_desc %}
              <section class="container-fluid detail-box">
              <div class="container">
                <div class="row">
                  <div id="course" class="col-sm-12 col-md-8">
                      {%if product.visibility %}
                    <h2>About {{prd_H1}}</h2>
                      {%else%}
                      <h2>Shine Advantage </h2>
                      {%endif%}

                      {% if prd_video %}
                        <iframe width="100%" height="315" src="https://{{prd_video}}" frameborder="0" allowfullscreen></iframe>
                      {% endif %}
                          {{prd_desc|safe}}
                    </div>
                </div>
              </div>
              </section>
            {% endif %}

            {% if prd_service == 'course' %}
              {% include "shop/partials/program_structure.html" %}
            {% endif %}

            {% include "shop/partials/delivery_flow.html" %}

            {% include "shop/partials/reviews.html" %}
            {% include "shop/partials/faq.html" %}

            {% if sqs.id not in linkedin_resume_services %}
              {% block prdrecommended %}
              <section class="container-fluid detail-box cls_hide_sticky_panel" id="heads">
                <div class="container">
                    <div class="row">
                      <div class="col-sm-12"></div>
                        <div id="recommended_product" style="display:block">
                          <img aria-label="loader" id="loadingimg" src="{% static 'shinelearn/images/loader.gif' %}" > 
                        </div>
                    </div>
                </div>
              </section>
              {% endblock prdrecommended %}
            {% endif %}
        </div><!-- ./ row -->
      </section><!-- main parent2 section end -->      
<!-- modal for neo tests -->
{% if prd_vendor_slug == 'neo' %}
{% csrf_token %}
<div class="modal fade bs-example-modal-sm login-div" role="dialog" aria-labelledby="mySmallModalLabel" id="neo-test-modal">
  <div class="modal-dialog modal-md" role="document" style="width: 515px;">
    <div class="modal-content neo-modal">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">×</span>
        </button>
      </div>
      <div class="modal-body text-center" id="neo-modal-body">
        <form id="neo-test-form" style="display:none;" >
          <h4 class="modal-title text-center mb-40" id="myModalLabel2">Fill the form below to start the test</h4>
          <div class="form-group">
          <input type="text" class="form-control" name="name" placeholder="  " value=""/>
          <label for="">Name</label>
          <span class="js-error"></span>

        </div>
        <div class="form-group">
          <input type="text" class="form-control" name="email" placeholder="  " value=""/>
          <label for="">Email</label>
          <span class="js-error"></span>
        </div>
        <div class="form-group wdselect">
          <div class="country-code">
            <div class="custom-select">
              <select name="country_code" class="form-control" id="country_code">
                <option value="+91">+91</option>
              </select>
            </div>
          </div>
        </div>
        <div class="form-group wd75">
          <input type="text" class="form-control" name="mobile" placeholder="  " value=""/>
          <label for="">Mobile</label>
          <span class="js-error"></span>

        </div>
         <div class="form-group mt-30">
            <button type="submit" class="take-test-button" id="neo-form-btn"> Take test </button>
        </div>
        </form>
        <iframe src="" sandbox="allow-scripts allow-same-origin" id="iframe" width="400" height="600" style="border:none;{% if not request.session.candidate_id %} display: none;{% endif %}"></iframe>
      </div>
    </div>
  </div>
</div>
<!-- end modal for neo tests -->

<!-- modal for take tests -->
<div class="modal fade bs-example-modal-sm login-div" id="neo-info-modal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
  <div class="modal-dialog modal-md" role="document" style="width: 515px;">
    <div class="modal-content neo-modal ">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">×</span>
        </button>
      </div>
      <div class="modal-body text-center pt-0" id="neo-modal-body">
        <figure><img src="{% static 'shinelearn/images/neo-course-img.jpg' %}" alt="" > </figure>
        <p class="mt-20">Take Neo english test to enroll for this course. This test will show you, your CEFR level and help you to improve your skill</p>
        <a class="mt-20 db" href="https://www.coe.int/en/web/common-european-framework-reference-languages/table-1-cefr-3.3-common-reference-levels-global-scale" target="_blank"><span class="link-icon mr-5"></span> Official translations of CEFR global scale</a>
         <div class=" mt-30">
            <button type="button" class="take-test-button mb-20" id="modal-take-test-btn"> Take test </button>
        </div>
      </div>
    </div>
  </div>
</div>
{% endif %}

<!-- end modal for take tests -->
    {% endblock section2 %}

