@import '../../../../../styles/functions';
@import '../../../../../styles/variables';
@import '../../../../../styles/mixins';

.m-frequently-bought {

    .m-heading2 {
        font-size: 2rem;
    }

    &__list {
        list-style-type: none;
        margin: 0;
        padding: 0;
        color: $gray-200;

        li {

            &:not(:last-child) {
                margin-bottom: .8rem;
            }

            label {
                display: flex;
                align-items: center;

                input {
                    margin-right: .7rem;
                }

                span {
                    &::before {
                        content: '\20B9';
                        margin-right: .5rem;
                    }
                }
            }
        }
    }
}