
@import '../../../styles/functions';
@import '../../../styles/variables';
@import '../../../styles/mixins';

.navbar {
    padding-top: 0;
    padding-bottom: 0;
}

.navbar-brand {
    @include size(204px, 41px);
    display: block;
    background: url('#{$path}/sprite.png') no-repeat 0 -448px;
    display: inline-block;
}

.nav-item {
    margin: 0 10px;
}

.nav-link {
    color: $gray-300;
    padding: 1.5rem 1rem;
}

.dropdown {
    &:hover .dropdown-menu  {
        display: block;
    }
}


.dropdown-menu {
    padding: 0;
    margin-top: -1px;
    box-shadow: 0 8px 10px rgba($black, .1);
    
    .dropdown-item {
        padding: 15px 20px;
        font-size: 14px;
        color: #333;
        font-weight: 400;

        &:hover {
            background-color: $blue;
            color: $white;
        }
    }   
}

.call-icon {
    background: url('#{$path}/sprite.png') no-repeat -58px 0; 
    @include size(21px, 21px);
    display: block;
}

.login-icon {
    background: url('#{$path}/sprite.png') no-repeat -113px 0; 
    @include size(20px, 24px);
    display: block;
}

.cart-icon {
    background: url('#{$path}/sprite.png') no-repeat -86px 0; 
    @include size(22px, 24px);
    display: block;
    position: relative;
}

.call-dropdown {
    a {
        &::after {
            content: none;
        }
    }

    .dropdown-menu {
        left: auto;
        right: -60px;
    }
}


.login-dropdown {
    a {
        &::after {
            content: none;
        }

        &:last-child {
            border-top: 1px solid #ddd;
        }
    }

    .dropdown-menu {
        right: -25px;
        left: auto;
    }
}

.cart-icon .cart-counter {
    position: absolute;
    border-radius: 50%;
    color: #333;
    background-color: #ffcf00;
    width: 18px;
    height: 18px;
    vertical-align: middle;
    text-align: center;
    right: -8px;
    top: -13px;
    line-height: 18px;
    font-size: 11px;
    font-weight: 600;
}