{% load static %}
<!doctype html>
<html>
<head>
<meta charset="utf-8">
<title>GST Certified Professional</title>
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<link href="https://fonts.googleapis.com/css?family=Open+Sans" rel="stylesheet">

<link href='{% static "shinelearn/css/marketing/gst-cert/bootstrap.css" %}' rel="stylesheet">
<link href='{% static "shinelearn/css/marketing/gst-cert/style.css" %}' rel="stylesheet">

<style>
            @media screen and (max-height: 1048px){
                #rc-imageselect, #captcha1 {transform:scale(0.80);-webkit-transform:scale(0.80);transform-origin:0 0;-webkit-transform-origin:0 0;}
            }
            .ferror .error{
                display: block;
            }
            .error {
                display: none;
            }
        </style>

</head>

<body>
<div class="container-full top-head-sec">
  <div class="container">
    <!-- header start -->
    <div class=""> 
     <a href="/" class="sprite logo-main"></a>     
    </div>
    <!-- header end -->
    <div class="clear-fix"></div>
    
    <div class="">
     <div class="offer"></div>
     
     
     <!-- banner left section start -->
      <div class="top-baner-left">
        <h1><span>Become a </span>GST Certified Professional </h1>
       <div class="clear-fix"></div>  
       <h2>(Government of India approved)</h2>
        <p>The course will provide intensive GST training and will help you to demonstrate clear understanding and practical aspects of GST and to get visible recognition for this knowledge. </p>
             
        <h3>Course Highlights</h3>        
        <ul class="career">
          <li>GST Levy and Exemptions</li>
          <li>Returns, Refunds, Assessments and Audits</li>
          <li>GST and GST Offences and PenaltiesLaw</li>
        </ul>        
      </div> <!-- banner left section end -->
      
      <!-- banner right section start -->
      <div class="top-baner-rgt">
        <div class="register-bx-sec pull-right">
          <h2>Join the course</h2>
          
          <div class="clear-fix"></div>
          <form id="lead" action="{% url "crmapi:lead-management" %}" method="post" class="cert-form">{% csrf_token %}
          <div>          
          <input type="text" id="name" name="name" placeholder="Your Full Name" value="{% if request.session.full_name %}{{request.session.full_name}}{% endif %}" maxlength="100">
          <span class="error" for="name" style="color: rgb(255, 0, 0);font-size: 11px;width:100%; " ></span>
         </div>
        
        <div>  
          <input type="email" id="email" name="email" placeholder="Email Address" value="{{request.session.email}}" maxlength="60">
          <span class="error" for="email" style="color: rgb(255, 0, 0);font-size: 11px;width:100%; "></span>
          
        </div>
        <div>
            <input type="hidden" id="country" name="country" aria-invalid="false" value="91">
                            
            <input id="mobile" type="text" name="number" onblur="leadSubmit();return false;"
            placeholder="Mobile Number" maxlength="10" aria-required="true" class="pull-right">          
            
            <span class="error" for="mobile" style="color: rgb(255, 0, 0);font-size: 11px;width:100%;" ></span>
         </div>
        
           <div>
                <textarea id="message" name="msg" hidden="hidden" class="message_input" placeholder="Message" rows="1"></textarea>
                <span class="error" for="message" style="color: rgb(255, 0, 0); font-size: 11px; width:100%; " ></span>
            </div>
           
           <select id="selection" name="selection" aria-invalid="false" class="register-bx-sec-cod pull-left">
               <option selected="selected" value="5133">GST Pro Certification - Rs.5200</option>
            </select>  
            
            <!--div style="clear:both; height:77px; overflow:hidden; display:block; position: relative;">
                <div id="captcha1" class="input-field" style="width:45%; margin: 0px;" ></div>
                <p style="color: rgb(255, 0, 0); display: none; font-size: 11px; margin: 0px; padding: 0px;  position: absolute; top: 58px;" id="hiddenrecaptcha"> Captcha Validation is required</p>
            </div-->
                            
            <input type="hidden" name="prd" value="{% if is_product_page and object %}{{ object.pk }}{% endif %}">
            <input type="hidden" name="source" value="{% if source %}{{ source }}{% endif %}">
            <input type="hidden" name="lsource" value="{{ lead_source }}">

            <input type="hidden" name="path" value="{{request.path}}">
                        
          <input id="submit"
            type="submit" value="Enquire Now" class="submit button" onclick="_gaq.push(['resume._trackEvent','Lead','submit']);$('#lead').submit();return false;" id="submit"
          >
          </form>
          
<!--        <a href="#" class="emi-butn">Easy EMI payment option</a>-->
       <p>Apply Coupon code on next page.<br>
*Easy EMI option available</p>
        </div>
      </div><!-- banner right section start -->
      
    </div>
  </div>
  <div class="clear-fix"></div>
</div>
<div class="clear-fix"></div>

<div class="container course-structure">
    <h3>Course Structure</h3>   
      <ul>
        <li>Taxation and GST Basics </li>
        <li>GST Registration</li>
        <li>GST Invoicing</li>
        <li>GST Returns</li>
        <li>Input Tax Credit.</li>
        <li>GST Valuation</li>
        <li> GST Administration</li>
        <li>GST Payment</li>
        <li>GST and Law</li>
        <li>IGST and UTGST</li>
        <li>GST Accounting and Record Keeping</li>
       <li>GST in other countries</li>
    </ul>
    
</div>

<div class="clear-fix"></div>
<div class="container-full bg-grey box-padding">
<div class="container wht-atnd">
<div class="who-shd-bx">
<img src="{{STATIC_CSS_URL}}marketing/gst-cert/who-shd-img.png" width="341" height="328" alt=""/></div>
    <h3>Who should attend?</h3>
      <ul>
        <li>Tax and Accounting Professionals / Consultants</li>
        <li>Business owners and Accounting Professionals who want to be GST ready for smooth functioning of their company.</li>
        <li>Professionals who want to shift to Finance and Taxation domain.</li>
        <li>Individuals / beginners seeking career opportunities in the taxation domain.</li>
        <li>Students with engineering/commerce or arts background.</li>              
    </ul>
    
</div>  
    <div class="clear-fix"></div>
</div>

<div class="clear-fix"></div>

<div class="container-full course-high">
<div class="container">
<div class="row">
    <h2>Why buy from Shine Shinelearning?</h2>
    
    <div class="col-lg-4 col-md-4 col-sm-6">
        <div class="course-bx">
        <div class="bdr-hvr"></div>
        <h2>Free featured profile</h2>
        <span>FREE featured profile worth Rs. 1399 for 1 month on Shine.com</span>
        </div>      
    </div>
    
    <div class="col-lg-4 col-md-4 col-sm-6">
        <div class="course-bx">
        <div class="bdr-hvr"></div>
        <h2>Shine credits</h2>
        <span>10% Shine credits redeemable on next purchase*</span>
        </div>      
    </div>
    
    <div class="col-lg-4 col-md-4 col-sm-6">
        <div class="course-bx">
        <div class="bdr-hvr"></div>
        <h2>Vskills certification</h2>
        <span>Get an industry recognized certification and get a ‘Vskills Certified’ tag on your Shine profile.</span>
        </div>      
    </div>
    
    <div class="col-lg-4 col-md-4 col-sm-6">
        <div class="course-bx">
        <div class="bdr-hvr"></div>
        <h2>Vskill job center</h2>
        <span>Become a part of Vskills job center for life.</span>
        </div>      
    </div>
    
    <div class="col-lg-4 col-md-4 col-sm-6">
        <div class="course-bx">
        <div class="bdr-hvr"></div>
        <h2>EMI</h2>
        <span>Easy EMI payment option.</span>
        </div>      
    </div>
    
    <div class="col-lg-4 col-md-4 col-sm-6">
        <div class="course-bx">
        <div class="bdr-hvr"></div>
        <h2>Counseling</h2>
        <span>Counselors to help you select the right course.</span>
        </div>      
    </div>
    
    <div class="clear-fix"></div>
    </div>
</div>
    
    
    
</div>

<script type="text/javascript" src="//ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>
<script type="text/javascript" src="http://ajax.aspnetcdn.com/ajax/jquery.validate/1.13.1/jquery.validate.min.js"></script>

        <script type="text/javascript">
            $(function() {
              $('a[href*=#]:not([href=#])').click(function() {
                if (location.pathname.replace(/^\//,'') == this.pathname.replace(/^\//,'') && location.hostname == this.hostname) {

                  var target = $(this.hash);
                  target = target.length ? target : $('[name=' + this.hash.slice(1) +']');
                  if (target.length) {
                    $('html,body').animate({
                      scrollTop: target.offset().top
                    }, 1000);
                    return false;
                  }
                }
              });
            });

            var _gaq = _gaq || [];

            $.validator.addMethod("lettersonly", function (value, element){
                return this.optional(element) || /^[a-z\s]*$/i.test(value);
            }, "Letters only please");

            $.validator.addMethod("defaultInvalid", function (value, element) {
                return !(element.value == element.defaultValue);
            }, "This field is required.");

            $.validator.addMethod("custommobile",
                function(value, element) {
                    return value.length == 10 ;
                }
            );
            
            function leadSubmit() {
                var form = $('#lead');
                var action = form.data('non_captcha_action');
                $.post(action, (form).serialize(), function (data) {
                    }, 'json');
            }

            $("#lead").validate({
                submitHandler:function (form) {
                    var action = $(form).attr('action');
                    $.post(action, $(form).serialize(), function (data) {
                        if (data['status']){
                        $.each($("#lead"), function (i, e) {
                            e.reset();
                        });
                        var conversion_id = 991709191;
                        var conversion_label = "ciw9CIetw1gQh5Dx2AM";
                        var ga_code = document.createElement('div');
                        ga_code.innerHTML = '<img height="1" width="1" style="border-style:none;" alt="" src="http://www.googleadservices.com/pagead/conversion/' + conversion_id + '/?label=' + conversion_label + '&amp;guid=ON&amp;script=0"/>';
                        document.body.appendChild(ga_code);
                        window.location.href ='thankyou-for-query';
                        return false;
                            
                        }
                        else {
                            alert("Error! Something went wrong. Please try again");                            
                        }

                    }, 'json');

                },
                rules:{
                    number:{
                        required:true,
                        custommobile:true,
                        number:true,
                    },
                    email:{
                        email:true,
                        required:true
                    },
                    name:{
                        lettersonly:true
                    },
                    msg:{
                        maxlength:500
                    }
                },
                messages:{
                    number:{
                       required:"Field is required",
                       number:"Enter only number",
                       custommobile: "Please enter 10 digits mobile number",
                    },
                    email:{
                        required:"Field is required"
                    },
                    msg:{
                        maxlength:"No more than 500 characters."
                    }
                },
                highlight:function(element, errorClass) {
                 $(element).parent().addClass('ferror');
                        },
                unhighlight:function(element, errorClass) {
                    $(element).parent().removeClass('ferror');
                    
                },
                
                errorPlacement: function(error, element) {

                    element.siblings('.error').html(error.text());
                 
               }
                });
        </script>

        <script type="text/javascript">
            var _gaq = _gaq || [];
            _gaq.push(['shine._setAccount', 'UA-3537905-1'],['shine._setDomainName', 'none'],['shine._setAllowLinker', true],['shine._trackPageview']);
            _gaq.push(['resume._setAccount', 'UA-3537905-41'],['resume._setDomainName', 'none'],['resume._setAllowLinker', true],['_setSiteSpeedSampleRate', 10],['resume._trackPageview']);
            (function() {
                var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
                ga.src = ('https:' == document.location.protocol ? 'https://' : 'http://') + 'stats.g.doubleclick.net/dc.js';
                var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
            })();
        </script>

        <!-- Facebook Pixel Code -->

        <script>

        !function(f,b,e,v,n,t,s){if(f.fbq)return;n=f.fbq=function(){n.callMethod?

        n.callMethod.apply(n,arguments):n.queue.push(arguments)};if(!f._fbq)f._fbq=n;

        n.push=n;n.loaded=!0;n.version='2.0';n.queue=[];t=b.createElement(e);t.async=!0;

        t.src=v;s=b.getElementsByTagName(e)[0];s.parentNode.insertBefore(t,s)}(window,

        document,'script','//connect.facebook.net/en_US/fbevents.js');



        fbq('init', '630068977028888');

        fbq('track', "PageView");</script>

        <noscript><img height="1" width="1" style="display:none"

        src="https://www.facebook.com/tr?id=630068977028888&ev=PageView&noscript=1"
        /></noscript>
        <script>
            $(document).ready(function() {
            $('[id^="txt"]').focus(function() {
                $(this).addClass('expand');
            });
            $('[id^="txt"]').blur(function() {
                $(this).removeClass('expand');
            });
        });
    </script>
</body>
</html>
