{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <!-- Google Tag Manager -->
<script>(function(w,d,s,l,i){w[l]=w[l]||[];w[l].push({'gtm.start':
new Date().getTime(),event:'gtm.js'});var f=d.getElementsByTagName(s)[0],
j=d.createElement(s),dl=l!='dataLayer'?'&l='+l:'';j.async=true;j.src=
'https://www.googletagmanager.com/gtm.js?id='+i+dl;f.parentNode.insertBefore(j,f);
})(window,document,'script','dataLayer','GTM-TFD6PTW');</script>

<script>(function(w,d,s,l,i){w[l]=w[l]||[];w[l].push({'gtm.start':
new Date().getTime(),event:'gtm.js'});var f=d.getElementsByTagName(s)[0],
j=d.createElement(s),dl=l!='dataLayer'?'&l='+l:'';j.async=true;j.src=
'https://www.googletagmanager.com/gtm.js?id='+i+dl;f.parentNode.insertBefore(j,f);
})(window,document,'script','dataLayer','GTM-M323HB');</script>
<!-- End Google Tag Manager -->

    <title>Thank you for contacting us</title>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <!-- The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags -->
    <link href="https://fonts.googleapis.com/css?family=Open+Sans:400,600,700" rel="stylesheet">
    <!-- Bootstrap -->
    <link href="{% static 'shinelearn/css/marketing/custom_bootstrap.css' %}" rel="stylesheet" type="text/css" />
    <link href="{% static 'shinelearn/css/marketing/shrm-cert/thank-you.css' %}" rel="stylesheet">
</head>
<body>
<!-- Google Tag Manager (noscript) -->
<noscript><iframe src="//www.googletagmanager.com/ns.html?id=GTM-TFD6PTW"
height="0" width="0" style="display:none;visibility:hidden"></iframe></noscript>

<noscript><iframe src="//www.googletagmanager.com/ns.html?id=GTM-M323HB"
height="0" width="0" style="display:none;visibility:hidden"></iframe></noscript>
<!-- End Google Tag Manager (noscript) -->

    <div class="main-wraper" id="cls-thank-you">
        <div class="container-fluid top-bar">
            <div class="container">
                <div class="row">
                    <div class="col-xs-12">
                        <a class="shinelearning-logo" href="#">
                        <img src="/media/static/shinelearn/images/marketing/six-sigma-cert-cpy/shine-learning-logo.png" alt="Shinelearning">
                        </a>
                    </div>
                </div>
            </div>
        </div><!-- Top bar ends-->

        <div class="container-fluid main-banner">
            <div class="text-center container">
                <div class="row">
                    <div class="col-xs-12">
                        <img src="{% static 'shinelearn/images/marketing/thank-you.png' %}" class="thank-img"/>
                        <p class="para-text">We strive to give the best possible answers to your queries and will get back to you soon. For further query or suggestions, please feel free to contact us at</p>

                        <div class="text-center btn-wrap">
                            <a href="#" class="btn-white">
                                <span class="phone-icon"></span>
                                0124-4312500
                                
                            </a>
                            <a href="#" class="btn-white">
                                <span class="mail-icon"></span>
                                contactus@shine.com
                            </a>
                        </div>
                    </div>
                </div>
            </div>
        </div><!-- banner ends here -->

        <div class="container main-body">
            <div class="row">
                <h2 class="heading">Related Articles</h2>
                <div class="article-list col-md-4 col-xs-12">
                    <a class="box-panel" href="https://learning.shine.com/talenteconomy/project-management/the-biggest-project-management-trends-that-will-shape-2018/" title="The Biggest Project Management Trends That Will Shape 2018" itemprop="url">
                        <figure class="pr"><img src="https://static1.shine.com/l/m/images/blog/The-biggest-project-management-trends-that-will-shape-2018.jpg" alt="The Biggest Project Management Trends That Will Shape 2018" itemprop="image"><span class="product-title product-title-pos">Project Management</span></figure>
                        <h3 class="heading-article" itemprop="name">The Biggest Project Management Trends That Will Shape 2018</h3>
                        <article>Project Management has taken the center-stage for many industries, especially with hyperpolarization and transnational businesses becoming more coherent to every business’ growth. This article is for the project managers of 2018 and the coming years.</article>
                        <hr>
                        <span class="view-forward">
                            <figure class="view-icon ml-20"></figure> 295
                        </span>
                        <div class="author author-secondary">
                            <figure>
                                <img src="https://static1.shine.com/l/m/images/blog/author/Neha_Kaul.jpg" alt="Neha Kaul">
                            </figure>
                            <span itemprop="author">Neha Kaul</span>
                        </div>
                    </a>
                    <meta itemprop="datePublished" content="Jan. 16, 2018"><meta itemprop="position" content="1"><meta itemprop="headline" content="The Biggest Project Management Trends That Will Shape 2018"><meta itemprop="dateModified" content="Jan. 16, 2018"><meta itemprop="mainEntityOfPage" content="/talenteconomy/"><div itemprop="publisher" itemscope="" itemtype="https://schema.org/Organization"><div itemprop="logo" itemscope="" itemtype="https://schema.org/ImageObject"><meta itemprop="url" content="https://static1.shine.com/l/s/shinelearn/images/logo.png"></div><meta itemprop="name" content="Shine"></div>
                </div><!-- col-4-->

                <div class="article-list col-md-4 col-xs-12" itemprop="itemListElement" itemscope="" itemtype="http://schema.org/Article">
                    <a class="box-panel" href="https://learning.shine.com/talenteconomy/project-management/how-prince2-certification-can-boost-your-career-growth/" title="How PRINCE2 Certification Can Boost Your Career Growth" itemprop="url"><figure class="pr"><img src="https://static1.shine.com/l/m/images/blog/How-PRINCE2-Certification-Can-Boost-Your-Career-Growth.jpg" alt="How PRINCE2 Certification Can Boost Your Career Growth" itemprop="image"><span class="product-title product-title-pos">Project Management</span></figure><h3 class="heading-article" itemprop="name">How PRINCE2 Certification Can Boost Your Career Growth</h3><article>
                        PRINCE2 is an ideal certification for Project Management professionals to meet the expanding demands of corporations. This article will take you through the nitty-gritty of how to go about getting a PRINCE2 certification.
                    </article><hr><span class="view-forward"><figure class="view-icon ml-20"></figure> 621
                        
                        </span><div class="author author-secondary"><figure><img src="https://static1.shine.com/l/m/images/blog/author/Kshtitij-Pandey-Author.jpg" alt="Kshitij Pandey"></figure><span itemprop="author">Kshitij Pandey</span></div></a><meta itemprop="datePublished" content="Jan. 15, 2018"><meta itemprop="position" content="2"><meta itemprop="headline" content="How PRINCE2 Certification Can Boost Your Career Growth"><meta itemprop="dateModified" content="Jan. 15, 2018"><meta itemprop="mainEntityOfPage" content="/talenteconomy/"><div itemprop="publisher" itemscope="" itemtype="https://schema.org/Organization"><div itemprop="logo" itemscope="" itemtype="https://schema.org/ImageObject"><meta itemprop="url" content="https://static1.shine.com/l/s/shinelearn/images/logo.png"></div><meta itemprop="name" content="Shine"></div></div>


                        <div class="article-list col-md-4 col-xs-12" itemprop="itemListElement" itemscope="" itemtype="http://schema.org/Article"><a class="box-panel" href="https://learning.shine.com/talenteconomy/project-management/pmp-vs-mba-what-should-you-opt-for/" title="PMP Vs MBA: What Should You Opt For?" itemprop="url"><figure class="pr"><img src="https://static1.shine.com/l/m/images/blog/8_2.jpg" alt="PMP Vs MBA: What Should You Opt For" itemprop="image"><span class="product-title product-title-pos">Project Management</span></figure><h3 class="heading-article" itemprop="name">PMP Vs MBA: What Should You Opt For?</h3><article>
                                Well, comparing the two can somewhat similar to comparing apples to oranges. However, looking at the current demand generation and skillset requirement, we’ve created a checklist for you to make a rather informed decision.
                            </article><hr><span class="view-forward">
                                
                                
                                    <figure class="view-icon ml-20"></figure> 1919
                                
                                </span><div class="author author-secondary"><figure><img src="https://static1.shine.com/l/m/images/blog/author/Neeraj-Author.jpg" alt="Neeraj Singh"></figure><span itemprop="author">Neeraj Singh</span></div></a><meta itemprop="datePublished" content="Dec. 4, 2017"><meta itemprop="position" content="3"><meta itemprop="headline" content="PMP Vs MBA: What Should You Opt For?"><meta itemprop="dateModified" content="Dec. 4, 2017"><meta itemprop="mainEntityOfPage" content="/talenteconomy/"><div itemprop="publisher" itemscope="" itemtype="https://schema.org/Organization"><div itemprop="logo" itemscope="" itemtype="https://schema.org/ImageObject"><meta itemprop="url" content="https://static1.shine.com/l/s/shinelearn/images/logo.png"></div><meta itemprop="name" content="Shine"></div></div>
            </div>
        </div>

        <footer>Copyright © {% now "Y" %} HT Media Limited.</footer>
    </div><!-- Main Wrapper-->

</body>
</html>