.mx-0 {
  margin-left: -imp(0);
  margin-right: -imp(0);
}

.mx-5 {
  margin-left: -imp(5px);
  margin-right: -imp(5px);
}

.mx-10 {
  margin-left: -imp(10px);
  margin-right: -imp(10px);
}

.mx-15 {
  margin-left: -imp(15px);
  margin-right: -imp(15px);
}

.my-0 {
  margin-bottom: -imp(0);
  margin-top: -imp(0);
}

.my-10 {
  margin-bottom: -imp(10px);
  margin-top: -imp(10px);
}

.my-15 {
  margin-bottom: -imp(15px);
  margin-top: -imp(15px);
}

.my-20 {
  margin-bottom: -imp(20px);
  margin-top: -imp(20px);
}

.mb-0 {
  margin-bottom: -imp(0);
}

.mb-5 {
  margin-bottom: -imp(5px);
}

.mb-10 {
  margin-bottom: -imp(10px);
}

.mb-15 {
  margin-bottom: -imp(15px);
}

.mb-20 {
  margin-bottom: -imp(20px);
}

.mb-25 {
  margin-bottom: -imp(25px);
}

.mb-30 {
  margin-bottom: -imp(30px);
}

.mb-40 {
  margin-bottom: -imp(40px);
}

.mb-50 {
  margin-bottom: -imp(50px);
}

.mb-60 {
  margin-bottom: -imp(60px);
}

.mt-0 {
  margin-top: -imp(0);
}

.mt-5 {
  margin-top: -imp(5px);
}

.mt-8 {
  margin-top: -imp(8px);
}


.mt-10 {
  margin-top: -imp(10px);
}

.mt-15 {
  margin-top: -imp(15px);
}

.mt-20 {
  margin-top: -imp(20px);
}

.mt-25 {
  margin-top: -imp(25px);
}

.mt-30 {
  margin-top: -imp(30px);
}

.mt-40 {
  margin-top: -imp(40px);
}

.mt-50 {
  margin-top: -imp(50px);
}

.mt-60 {
  margin-top: -imp(60px);
}

.mt-100 {
  margin-top: -imp(100px);
}

.mt-120 {
  margin-top: -imp(120px);
}


.ml-auto {
  margin-left: auto;
}

.ml-0 {
  margin-left: -imp(0);
}

.ml-5 {
  margin-left: -imp(5px);
}

.ml-10 {
  margin-left: -imp(10px);
}

.ml-15 {
  margin-left: -imp(15px);
}

.ml-20 {
  margin-left: -imp(20px);
}

.ml-40 {
  margin-left: -imp(40px);
}

.mr-auto {
  margin-right: -imp(auto);
}

.mr-0 {
  margin-right: -imp(0);
}

.mr-5 {
  margin-right: -imp(5px);
}

.mr-10 {
  margin-right: -imp(10px);
}

.mr-15 {
  margin-right: -imp(15px);
}

.mr-40 {
  margin-right: -imp(40px);
}

@media (max-width: 991px) {
  .mb-sm-120 {
    margin-bottom: -imp(120px);
  }
}
