@import '../../../../../styles/functions';
@import '../../../../../styles/variables';
@import '../../../../../styles/mixins';

.all-category {
    .carousel-indicators {
        display: none;
    }

    .carousel-control-prev {
        width: 7%;
        left: -2.5rem;
    }

    .carousel-control-next {
        width: 7%;
        right: -2rem;
    }

    .carousel-control-prev-icon {
        background: $sprite -579px -32px;
        width: 7.6rem;
        height: 7.6rem;
    }
    .carousel-control-next-icon {
        background: $sprite -645px -32px;
        width: 7.6rem;
        height: 7.6rem;
    }

    // .carousel-inner {
    //     width: 100%;
    //     margin: 0 auto;
    //     padding: 2rem 0;
    // }

    &__list {
        .card {
            strong {
                font-size: 1.2rem;
                font-weight: 400;
                color: $gray-200;
                display: block;
                margin: -1.5rem 0 2rem 2rem;
            }
        }
    }

    .pink-circle2 {
        position: absolute;
        left: -2rem;
        bottom: 4rem;
        background: rgba($color: $pink, $alpha: 0.3);
        width: 2.7rem;
        height: 2.7rem;
        border-radius: 100%;
    }

    .pink-circle3 {
        position: absolute;
        right: 0;
        top: 1rem;
        background: rgba($color: $pink, $alpha: 0.3);
        width: 6.5rem;
        height: 6.5rem;
        border-radius: 100%;
    }
}