@import '../../../../../styles-mobile/abstracts';

.m-upgrade-skills {
    h2 {
        margin-bottom: 1rem;
    }

    &__list {
        @extend %box-shadow1;
        padding: 1.5rem;
        @include border-radius(5px);
        display: flex;
        justify-content: center;
        align-items: center;
        border-bottom: .3rem solid $card-btm-bdr;

        figure {
            margin: 0 auto 1rem auto;
            display: block;
        }
    
        p {
            font-size: 1.2rem;
            height: 5.2rem;
            overflow: hidden;
            text-align: center;
            margin-bottom: 0;
        }
    }
    >.slick-slider {
        .slick-list {
            .slick-slide {
                width: 17rem !important;
                padding: 1.5rem 1rem !important;
            }
        }
    }
}

