{% extends "mobile/basic/base.html" %}
{% load static %}
{% load thumbnail %}
{% load static compress %}


{% block canonical_url %}
    <link rel="canonical" href="https://{{ SITE_DOMAIN }}{{ request.path }}">
{% endblock canonical_url %}

{% block title %}Payment Options | Shine Learning{% endblock %}

{% block css_section %}
    {{ block.super }}
    {% compress css %}
        <link href="{% static 'shinelearn/css/bootstrap-datepicker.min.css' %}" rel="stylesheet">
        <link type="text/scss" href="{% static 'shinelearn/css/mobile/common/global.scss' %}" rel="stylesheet">
        <link type="text/scss" href="{% static 'shinelearn/css/mobile/common/checkbox.scss' %}" rel="stylesheet">
        <link type="text/scss" href="{% static 'shinelearn/css/mobile/payment/payment.scss' %}" rel="stylesheet">
        <link type="text/scss" href="{% static 'shinelearn/css/mobile/common/smk-accordion.scss' %}" rel="stylesheet">
    {% endcompress %}

{% endblock css_section %}

{% block header %}
    <!-- header menu Icon Starts here -->
    <header class="w100fl he-auto">

      <!-- header menu Icon Starts here -->
      <div class="main-menu w100fl">
          <div class="pull-left">

              <a class="icon-back pull-left" role="button" onclick="goBack()"></a>
          </div><!-- / Left side Icon ends here -->
      </div><!-- header menu Icon ends here -->
  </header><!-- header ends here -->

{% endblock header %}

{% block container %}
<div class="clearfix"></div>
<div id = "loader" class="overlay-background"  text-align: center;">
    <img aria-label="loader" id="loadingimg" class="loader-position-mobile" src="{% static 'shinelearn/images/mobile/loader1.png' %}" >
</div>
<div class="payment">
    <div class="payment--bg"></div>
    <ul class="payment__steps">
        <li class="payment__steps__item">
            <a class='trig-loader' id="review-order-option" href="{% url "cart:payment-summary" %}">
                <!-- <span class="dot">1</span> -->
                <span class="tick"></span>
                Summary
            </a>
        </li>

        <li class="payment__steps__item">
            <a class='trig-loader' href="{% url "cart:payment-login" %}">
                <!-- <span class="dot">2</span> -->
                <span class="tick"></span>
                {%if candidate_in_session%}Login{%else%}Guest{%endif%}
            </a>
        </li>

        <li class="payment__steps__item">
            <a class='trig-loader' href="{% url "payment:payment-option" %}" class="active">
                <span class="dot">3</span>
                <!-- <span class="tick"></span> -->
                Payment
            </a>
        </li>
    </ul><!-- payment setps-->

    <div class="payment--white-box">
      <div class="p-15">
        <p class="fs-18">Choose your mode of payment</p>
      </div>
         </div>

        <div class="payment-type">
          <div class="payment-type--item">
            <span></span>
            <a class='trig-loader' id="card-netbanking" href="{% url "payment:razor-request" cart_id %}">Cards, Net Banking & UPI</a>
          </div>
        
          {% if type_flow != 17 or debug_mode %}

          <div class="accordion_example1 smk_accordion">
              <!-- <div class="accordion_in">
                <div class="acc_head payment-type--item">
                  <span></span>
                  Cash
                </div>
                  <div class="acc_content" style="display: none;">
                    <p class="fs-16">Deposit your cash at ICICI bank branches accross the country!</p>

                    <p class="fw600 c3">Step to follow</p>
                    <ul class="bullet-blue">
                      <li>Confirm the payment below to generate your Transaction ID</li>
                      <li>Deposit the cash at the nearest ICICI Bank branch</li>
                      <li>Mail us a scanned copy of the deposit slip at resumeservices@shine.com</li>
                    </ul>

                    <div class="payment-type__account">
                      <p class="fw600 c3 payment-type__account--head">Our Account Details with ICICI Bank</p>
                      <div class="payment-type__account--detail c3">
                        <div class="payment-type__account--item mb-10">
                          <span class="payment-type__account--name">Account Name</span>
                          <span>: HT Media Limited</span>
                        </div>

                        <div class="payment-type__account--item">
                          <span class="payment-type__account--name">Account No.</span>
                          <span>: 00705038629</span>
                        </div>
                      </div>
                    </div>
                <form role="form" id="id-cash-form" method="post" action="." >{% csrf_token %}
                    <div class="mt-15">
                        <select class="form--control" id="states_list" name="state">
                            <option disabled>Select State</option>
                             {% for state in state_list %}
                                 <option value="{{state.0}}" >{{ state.1}}</option>
                             {% endfor  %}
                         </select>
                        <p class="error--mgs"></p>
                        <input type="hidden" name="payment_type" value="cash">
                    </div>

                    <p class="fs-18 mt-10 c3"><strong>Rs. {{total_amount}}</strong> (amount payable)</p>
                    <p class="mt-20">
                        <button type="button" class="btn btn-yellow btn-round w100 trig-loader" id="cash-option-submit">Make Payment</button>
                    </p>
                </form>

                  </div>
              </div> -->

              <div class="accordion_in">
                <div class="acc_head payment-type--item">
                  <span></span>
                  Cheque
                </div>

                  <div class="acc_content" style="display: none;">
                   <form id="check-pay-form" method="post" action="">{% csrf_token %}

                    <p class="fs-16">Pay by Cheque</p>

                    <ul class="p-0 mt-15 mb-15 ">

                          <li class="login__item input-effect ">
                             <input maxlength="100" placeholder="" name="cheque_no" required class="animation-input form--control" type="text">
                             <label for="cheque">Cheque no. *</label>
                             <p class="error--mgs"></p>
                          </li>
                          <li class="login__item input-effect ">
                             <input maxlength="255" placeholder="" name="drawn_bank" required class="animation-input form--control" type="text">
                             <label for="cheque">Drawn on bank *</label>
                             <p class="error--mgs"></p>
                          </li>
                          <li class="login__item input-effect ">
                             <input name="deposit_date" data-date="" data-date-format="MM/DD/YYYY" required class="animation-input form--control" type="date" placeholder="">
                             <label for="cheque">Date of deposit *</label>
                             <p class="error--mgs"></p>

                          </li>
                    </ul>
                        <input type="hidden" name="payment_type" value="cheque">

<!--
                      <ul class="p-0 mt-15 mb-15">
                          <li class="login__item input-effect">
                              <input type="text" class="form--control animation-input" id="cheque" aria-describedby="cheque" placeholder="">
                              <label for="cheque">Cheque no. *</label>
                          </li>
                          <li class="login__item input-effect">
                              <input type="text" class="form--control animation-input" id="drawn" aria-describedby="drawn" placeholder="">
                              <label for="drawn">Drawn on bank *</label>
                          </li>
                          <li class="login__item input-effect">
                              <input type="text" class="form--control animation-input" id="deposit" aria-describedby="deposit" placeholder="">
                              <label for="deposit">Date of Desposit *</label>
                          </li>
                      </ul>
-->


                    <div class="payment-type__account">
                      <p class="payment-type__account--head fw600 c3 ">Our Account Details with ICICI Bank</p>
                      <div class="payment-type__account--detail c3">
                        <div class="payment-type__account--item mb-10">
                          <span class="payment-type__account--name">Account Name</span>
                          <span>: HT Media Limited</span>
                        </div>

                        <div class="payment-type__account--item">
                          <span class="payment-type__account--name">Account No.</span>
                          <span>: 00705038629</span>
                        </div>
                      </div>
                    </div><!-- /. Account Details -->

                    <p class="fw600 c3 mt-20">Step to follow</p>
                    <ul class="bullet-blue">
                      <li>Confirm the payment below to generate your Transaction ID</li>
                      <li>Deposit the cash at the nearest ICICI Bank branch</li>
                      <li>Mail us a scanned copy of the deposit slip at resumeservices@shine.com</li>
                    </ul>

                    <p class="fs-18 mt-20 c3"><strong>Rs. {{total_amount}}</strong> (amount payable)</p>
                    <p class="mt-20"><button type='button' id='check-sumit-button' class="btn btn-yellow btn-round w100">Make Payment</button></p>
                     </form>
                  </div><!-- /. accordion content -->
              </div><!-- /. Cheque accordion item -->
          </div><!-- /. accordion wrap -->


        {% endif %}

          {% comment %} <!-- <div class="payment-type--item">
            <span></span>
            <a class="trig-loader" id="buy-now-pay-later" href="{% url "payment:epaylater-request" cart_id %}" >Buy now, Pay Later
              <img src="{% static 'shinelearn/images/mobile/common/epaylater.jpg' %}" class="payment-type--item--img"/>
            </a>
          </div> --> {% endcomment %}
            {% if total_amount > 5000 %}

            <div class="accordion_example1 smk_accordion" id="zestMoneyAccordion" >
                <div class="accordion_in">
                  <div class="acc_head payment-type--item mb-10">
                    <span></span>
                      Zest Money EMI
                  </div><!-- // tab ends here -->

                    <div class="acc_content flex-direction-column d-flex p-0">
                        <div class="emi-options">
                            <h3>EMI Options</h3>

                            <ul class="p-0">
                              <li class="emi-options--item">
                                <span>Months</span>
                                <span id="emi-0-months"></span>
                                <span id="emi-1-months"></span>
                              </li>

                              <li class="emi-options--item">
                                <span>Monthly EMI</span>
                                <span id="emi-0-monthly-amount"></span>
                                <span id="emi-1-monthly-amount"></span>
                              </li>

                              <li class="emi-options--item">
                                <span>Interest</span>
                                <span id="emi-0-interest"></span>
                                <span id="emi-1-interest"></span>
                              </li>

                              <li class="emi-options--item">
                                <span>Interest rate</span>
                                <span id="emi-0-interest-rate"></span>
                                <span id="emi-1-interest-rate"></span>
                              </li>

                              <li class="emi-options--item">
                                <span>Down payment</span>
                                <span id="emi-0-down-payment"></span>
                                <span id="emi-1-down-payment">/span>
                              </li>

                              <li class="emi-options--item">
                                <span>Loan Amount</span>
                                <span id="emi-0-total-amount" ></span>
                                <span id="emi-1-total-amount"></span>
                              </li>
                            </ul>
                        </div><!-- // ROW Content ends here -->
                        <div class="mt-10 p-15 text-center">
                          <button type="button" class="btn btn-yellow btn-round w100 trig-loader" id="zestMakePaymentBtn">Make Payment</button>
                        </div>

                    </div><!-- /. accordion content -->
                </div><!-- /. cash accordion item -->
            </div><!-- /. accordion wrap -->

                {% endif %}
                   <div class="payment-type--item">
            <span></span>
            <a href="{% url "payment:payu-request" cart_id %}" id="amazon-pay-payment" >Amazon Pay, Paytm, PhonePe & Other Wallets
              <!-- <img src="{% static 'shinelearn/images/payments/amazon-pay.png' %}" width="89" class="payment-type--item--img"/> -->
            </a>
          </div>
        </div>

       <!-- /. payment type -->
    </div><!-- /. payment white-box -->
</div><!-- /. payment -->

<div class="bottom-cta">
    <div class="bottom-cta__price">
        <p class="fs-12 pb-0 c6">Payable Amount</p>
        <strong class="fs-22">Rs. {{total_amount}}</strong>
    </div>
</div>
{% endblock container %}
{% block footer %}

{% endblock footer %}


{% block js_section %}
<script src="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/3.4.1/js/bootstrap.min.js"></script>

<script type="text/javascript">
        var site_domain = "{{ SITE_PROTOCOL }}://{{ SITE_DOMAIN}}";
        var totalAmount = "{{total_amount}}";
        var cart_id     = "{{cart_id}}"
        var shineApiUrl = "{{shine_api_url}}"
        var trackingProductId = "{{tracking_product_id}}"
        var productTrackingMappingId = "{{product_tracking_mapping_id}}"
        var productAvailability = "{{product_availability}}"
        var trackingId = "{{tracking_id}}"
        var triggerPoint = "{{trigger_point}}"
        var uId = "{{u_id}}"
        var position = "{{position}}"
        var utmCampaign ="{{utm_campaign}}"
        var referal_product = "{{referal_product}}"
        var referal_subproduct = "{{referal_subproduct}}"
        console.log({ trackingProductId, shineApiUrl, productTrackingMappingId, trackingId })
        </script>
    {{block.super}}
    {% compress js %}
        <!-- <script src="{% static 'shinelearn/js/common/bootstrap.min.js' %}"></script> -->
        <script src="{% static 'shinelearn/js/common/bootstrap-datepicker.min.js' %}"></script>
        <script src="{% static 'shinelearn/js/payment/payment.js' %}"></script>
    {% endcompress %}

    {% compress js inline %}
        <script>
           jQuery(document).ready(function($){
              $(".accordion_example1").smk_Accordion({
                showIcon: true, //boolean
                animation: true, //boolean
                closeAble: true, //boolean
                slideSpeed: 200 //integer, miliseconds
              });
            });

            $(window).load(function(){
                $(".input-effect input").val("");
                
                $(".input-effect input").focusout(function(){
                    if($(this).val() != ""){
                        $(this).addClass("has-content");
                    }else{
                        $(this).removeClass("has-content");
                    }
                })
            });
        </script>
    {% endcompress js %}


{% endblock js_section %}

{% block johukum %}
{% endblock johukum %}

{% block zendesk %}
{% endblock zendesk %}