@import '../../../../../styles/functions';
@import '../../../../../styles/variables';
@import '../../../../../styles/mixins';

.domain-jobs {
    @extend %box-shadow;
    padding-bottom: 0;
    display: flex;

    &__list {

        strong {
            display: block;
        }

        ul {
            list-style-type: none;
            margin: 1.5rem 0 1.5rem 0;
            padding: 0;

            li {
            
                &:not(:last-child) {
                    margin-bottom: .8rem;
                }
                
                &::before {
                    content: '';
                    background: $sprite -34px -17px;
                    width: .5rem;
                    height: .9rem;
                    display: inline-block;
                    margin-right: 1rem;
                }
            }
        }
    }

    &__img {
        align-self: flex-end;
        margin-left: auto;
        // margin-bottom: 0;
        width: 15.5rem;
        height: 17.7rem;
        position: relative;


        .domain-tween1 {
            position: absolute;
            right: 1.5rem;
            bottom: 8rem;
            z-index: 9;
        }

        .domain-tween2 {
            position: absolute;
            right: 0;
            bottom: 0;
            z-index: 99;
        }
    }
}