{% if  %}

{% elif %}
  
{% endif %}
<!-- main package start -->
<div class="main-package">
  <div class="main-package-content">
    <span>Experience</span>
    <strong>0 -1 years</strong>
    <p>Starting at <small>Rs. 4000/-</small></p>
  </div>

  <div class="main-package-arrow"></div>
</div>
<!-- main package start end-->

<!-- other package start -->
<div class="other-package-box">
  <span>Other packages</span>
  <a href="#" class="other-package">
    <p>Experience
    <strong>1-4 years</strong></p>
  </a>

  <a href="#" class="other-package">
    <p>Experience
    <strong>4-8 years</strong></p>
  </a>

  <a href="#" class="other-package">
    <p>Experience
    <strong>8-15 years</strong></p>
  </a>
</div>
<!-- other package end -->