<!--hidden form -->
<div style="display: none">
    <form role="form" method="POST" id="cartForm" > {% csrf_token %}
        <input type="hidden" name="product_id" value="{{object.id}}">
        <input type="hidden" name="cart_type" id="id-cart-type" value="">
    </form>
</div>


<div class="container pr">
  <!-- right fixed content start -->
  <div id="price-box" class="col-sm-5 col-md-4  price-box">
  <div class="box-panel enrol-cart">
     <strong id="total-price" name="price_total" sum-price="{{object.get_price}}" >Rs. {{object.get_price}}/-</strong>
    <strike>Rs. {{object.get_fakeprice}}/-</strike>
    <small>  5% off</small>
    <span class="clearfix db"></span>

    <a role="button" class="enrol-now" id="enrol-now-button" prod-id="{{object.id}}" data-price="{{object.get_price}}" >Enrol now</a>

    <a role="button" class="add-cart" id="add-to-cart" prod-id="{{object.id}}" data-price="{{object.get_price}}">Add to cart</a>

    <!--a role="button" class="add-cart" onclick="addToCart('{{object.id}}')" data-price="{{object.get_price}}">Add to cart</a-->
    
    <div class="query-call">
      <a href="#"><figure class="email-icon"></figure> Have a query?</a>
      <a><figure class="calling-icon"></figure> 0124-395 5001</a>
    </div>
  </div>

  <a href="#" class="take-test mt-40"><figure class="test-icon"></figure> Take free Assessment test</a>
     
  </div>
<!-- right fixed content end -->

</div>
