<!-- Program Structure container -->
{% if prd_program_struct %}
  <li>
  <section class="container">
    <div class="row">
      <div id="programs" class="col-sm-12 col-md-8 program-structure scroll">
        <h2>Program Structure</h2>
        <ul class="panel-group" id="accordion" role="tablist" aria-multiselectable="true">  
          {% for chapter in topic_chap_list  %}
            
          <li class="panel panel-default">
            <div class="panel-heading" role="tab" id="headingOne{{forloop.counter}}">
              <h3 class="panel-title">
                <a role="button" data-toggle="collapse" data-parent="#accordion" href="#collapseOne{{forloop.counter}}"{% if forloop.counter == 1 %}
                  aria-expanded="true"{% else %}aria-expanded="false" class="collapsed"{% endif %}  aria-controls="collapseOne{{forloop.counter}}">
                  {{chapter.heading}}
                </a>
              </h3>
            </div>
            <div id="collapseOne{{forloop.counter}}" class="panel-collapse collapse {% if forloop.counter == 1 %}
                  in{% endif %}" role="tabpanel" aria-labelledby="headingOne{{forloop.counter}}">
              <div class="panel-body">
                {{chapter.answer|safe}}
              </div>
            </div>
          </li>
          {% endfor %}
          
        </ul>
      </div>
    </div>      
  </section>      
  </li>
{% endif %}
