@import '../styles/functions';
@import '../styles/variables';
@import '../styles/mixins';

 h2 {
    color: $gray-300;

    &::before {
        content: '';
        width: 100px;
        display: inline-block;
        border-top: 2px solid #40D2E7; 
        margin-bottom: 10px;
    }

    span {
        display: block;
    }
}

h1 {
    font-size: 4.4rem;
    font-weight: 700;
}

h2 {
    font-size: 3.0rem;
    font-weight: 700;
}

a {
    &:hover {
        text-decoration: none;
    }
}

.swal2-modal .swal2-styled:focus {
	-webkit-box-shadow: none;
	box-shadow: none;
}