{% load static thumbnail %}

{% if related_arts %}
<div class="related box-panel mb-40">
    <h2 class="heading-right">{{heading}}</h2>
    {% for art in related_arts %}
        <div class="media">
            <a href="{{art.get_absolute_url}}" target="_blank">
                {% if art.image %}
                    <div class="media-left">
                        {% thumbnail art.image "98x64" crop="center" as im %}
                            <img aria-label="{{art.image_alt}}" class="media-object" src="{{ im.url }}" width="{{ im.width }}" height="{{ im.height }}" alt="{{art.image_alt}}">
                        {% endthumbnail %}
                    </div>
                {% endif %}
                <div class="media-body">
                    {{art.display_name}}
                </div>
            </a>
        </div>
    {% endfor %}
</div>
{% endif %}
