<div class="request-call box-panel mb-40 cleafix">
    <h2 class="heading-right">request a call</h2>
      <form class="mt-20">
        <div class="form-group">
          <input type="text" class="form-control" id="exampleInputName" placeholder="Name">
          <span class="error"></span>
        </div>
        <div class="form-group">
          <input type="text" class="form-control" id="exampleInputMobile" placeholder="Mobile">
        </div>
        <div class="form-group">
          <textarea class="form-control" rows="3" placeholder="Message"></textarea>
        </div>
        <button type="submit" class="submit-button">Submit</button>
      </form>
      <div class="call-service">
        <strong>
          <span class="call-service-icon"></span>
          0124-395 5001
        </strong>
        9am to 7pm ist monday-saturday
      </div>
</div> 