<div class="col-sm-12 box-panel formatting mb-40">
   {{description}}
  {% comment %} 
  <article>
    As a Fresher, your Resume is one of the most important tool to get you a job interview, hence it deserves dedicated time and attention. Remember that as you have no full time work experience, you will be valued by employers for your attitude, skills and ability to work and deliver in teams. And the key in writing an impactful resume is to present a match between your qualities and the requirement of the job.
  </article>
  <h2>Formatting</h2>
  <ul>
     <li>Resume Format for Fresher</li>
     <li>For Banking - Freshers</li>
     <li>For IT Professional - Freshers</li>
     <li>For Finance Freshers</li>
     <li>For Teachers - Fresher</li>
  </ul>
  {% endcomment %}
</div>