.call-to-action {
    background-color: $primary;
    padding: 15px;
    position: fixed;
    bottom: 0;
    width: 100%;
    z-index: 1;
}

.file-upload {
    &__input {
        position: absolute;
        font-size: 50px;
        opacity: 0;
        right: 0;
        top: 0;
    }
}