.m-enquire-now {
  background: $white;
  box-shadow: 0 -2px 19px 0 rgba(148,148,148,0.50);

  .m-form-group{
    position: relative;
    margin-bottom: 1.5rem;
  }

  label {
    position: absolute;
    left: 1rem;
    top:1rem;
    font-weight: 400;
    font-size: 1.2rem;
    background: $white;
    padding: .3rem;
    pointer-events: none;
  }

  input:focus + label, input:not(:placeholder-shown) + label {
    opacity:1;
    transform: scale(.9) translateY(-100%) translateX(-10px);
    color: $gray-300;
    left: 1.6rem;
  }

  textarea:focus + label, textarea:not(:placeholder-shown) + label {
    opacity:1;
    transform: scale(.9) translateY(-100%) translateX(-10px);
    color: $gray-300;
    left: 1.6rem;
  }

  .m-error {
    label {
      opacity:1;
      transform: scale(.9) translateY(-100%) translateX(-10px);
      color: $red;
      left: 1.6rem;
    }
  
    input {
      border-color: $red;
    }

    .m-error-msg {
      background: $red;
      font-size: 1rem;
      padding: 0 .4rem;
      color: $white;
      position: absolute;
      right: 0;
      top: 0;
      border-top-right-radius: .4rem;
    }
  }

  input, textarea {
    &:focus {
      border: $border;
      outline-color: $border-color;
      box-shadow: none;
    }
  }

  input {
    width:100%;
    padding-left: 1rem;
    height: 4.6rem;
    border: $border;
    @include border-radius(4px);
    position: relative;
    opacity: 1;
    z-index: 0;
  }

  input, label {
    transition: all 0.2s;
    transition-timing-function: ease;
    transition-timing-function: cubic-bezier(0.25, 0.1, 0.25, 1);
    opacity:1;
  }
  textarea {
      height: 7rem !important;
      border: $border;
      @include border-radius(4px);
      width: 100%;
      padding: 1rem;
  }

  .btn-blue {
      padding: 1.3rem 4rem;
      font-size: 1.3rem;
      width: 100%;
      text-align: center;
  }

  .m-close {
    position: absolute;
    right: 2rem;
    top: 1rem;
    font-size: 2rem;
    font-weight: 400;
    color: $gray-300;
  }
}

.m-custom-select-box {
  position: relative;
  width: 7rem;
  margin-right: 1rem;

  .m-custom-select {
    @include border-radius(4px);
    background-color: $white;
    border: $border;
    height: 4.6rem;
    padding-left: 1rem;
    width: 100%;
    font-size: 1.3rem;
    color: $gray-300;

    &::after {
      content: '';
      background: $sprite no-repeat 0 0 -405px -28px;
      width: .8rem;
      height: .5rem;
      display: inline-block;
    }
  }
}