@import '../../../../../styles/functions';
@import '../../../../../styles/variables';
@import '../../../../../styles/mixins';

.about-section {
    width: 66%;
    
    p {
        font-size: 1.4rem;
        color: $gray-200;

        strong {
            font-weight: 600;
        }

        p {
            margin-bottom: 1rem;

            strong {
                margin: 1rem 0;
                font-weight: 600;
            }
        }

        ol {
            padding: 0;
            li {
                margin-bottom: 1rem;
                list-style: decimal;
                list-style-position: inside;
            }
        }
    }
}
