  <!-- footer -->
  <footer id="footer">
    <div class="container">
      <div class="row">

        <div class="row">
          <div class="footer-links mb-20 col-sm-8">
            <a href="/about-us" onclick="trackClickEvent();MyGA.SendEvent('homepage_footer','ln_homepage_footer', 'ln_homepage_footer_clicked', 'About Us','', false, true);">About Us</a>
            <!--a href="/partners">Partners</a-->
            <a href="/privacy-policy/" onclick="trackClickEvent();MyGA.SendEvent('homepage_footer','ln_homepage_footer', 'ln_homepage_footer_clicked', 'Privacy Policy','', false, true);">Privacy Policy</a>
            <a href="/tnc/" onclick="trackClickEvent();MyGA.SendEvent('homepage_footer','ln_homepage_footer', 'ln_homepage_footer_clicked', 'Terms & Conditions','', false, true);">Terms & Conditions</a>
            <a href="/contact-us" onclick="trackClickEvent();MyGA.SendEvent('homepage_footer','ln_homepage_footer', 'ln_homepage_footer_clicked', 'Contact Us','', false, true);">Contact Us</a>
            <a href="/disclaimer/" onclick="trackClickEvent();MyGA.SendEvent('homepage_footer','ln_homepage_footer', 'ln_homepage_footer_clicked', 'Disclaimer','', false, true);">Disclaimer</a>
          </div>

          <div class="footer-social-login col-sm-4">
            <a aria-label="follow us on facebook" class="facebook mr-10" href="https://www.facebook.com/shinelearningdotcom/" onclick="trackClickEvent();MyGA.SendEvent('social_media_follow','ln_social_media_follow', 'ln_facebook', 'homepage_footer','', false, true);" ></a>
            <a aria-label="follow us on linkedin" class="linkedin mr-10" href="https://www.linkedin.com/showcase/13203963/" onclick="trackClickEvent();MyGA.SendEvent('social_media_follow','ln_social_media_follow', 'ln_linkedin', 'homepage_footer','', false, true);"></a>
            <a aria-label="follow us on twitter" class="twitter" href="https://twitter.com/shinelearning" onclick="trackClickEvent();MyGA.SendEvent('social_media_follow','ln_social_media_follow', 'ln_twitter', 'homepage_footer,'', false, true);"></a>
          </div>

          <span class="ftr-bdr mb-20"></span>

          <div class="row mb-20">
            <div class="col-sm-4">
              <div class="secure-payment">
                <figure class="secure-icon"></figure>
                <span class="secure-text"><strong>100% Secure Payment</strong>
                All major credit & debit cards accepted</span>
              </div>
            </div>
            <div class="col-sm-5">
              <div class="payment-options">
                <figure class="payment-option-txt">Payment options</figure>
                <span class="payment-option-bg"></span>
              </div>
            </div>
            <div class="col-sm-3">
              <span class="copyright-txt mt-20">Copyright © {% now "Y" %} HT Media Limited.</span>
            </div>
          </div>
        </div><!-- ./ row -->
      </div><!-- ./ row -->
    </div><!-- ./ container -->
  </footer>