  <!-- footer -->
  <footer>
    <div class="container">
      <div class="row">

        <div class="row">
          <div class="footer-links mb-20 col-sm-8">
            <a href="/about-us">About Us</a>
            <!--a href="/partners">Partners</a-->
            <a href="/privacy-policy">Privacy Policy</a>
            <a href="/tnc">Terms & Conditions</a>
            <a href="/contact-us">Contact Us</a>
            <a href="/disclaimer">Disclaimer</a>
          </div>

          <div class="footer-social-login col-sm-4">
            <a aria-label="follow us on facebook" class="facebook mr-10" href="https://www.facebook.com/shinelearningdotcom/"></a>
            <a aria-label="follow us on linkedin" class="linkedin mr-10" href="https://www.linkedin.com/showcase/13203963/"></a>
            <a aria-label="follow us on twitter" class="twitter" href="https://twitter.com/shinelearning"></a>
          </div>

          <span class="ftr-bdr mb-20"></span>

          <div class="row mb-20">
            <div class="col-sm-4">
              <div class="secure-payment">
                <figure class="secure-icon"></figure>
                <span class="secure-text"><strong>100% Secure Payment</strong>
                All major credit & debit cards accepted</span>
              </div>
            </div>
            <div class="col-sm-5">
              <div class="payment-options">
                <figure class="payment-option-txt">Payment options</figure>
                <span class="payment-option-bg"></span>
              </div>
            </div>
            <div class="col-sm-3">
              <span class="copyright-txt mt-20">Copyright © {% now "Y" %} HT Media Limited.</span>
            </div>
          </div>
        </div><!-- ./ row -->
      </div><!-- ./ row -->
    </div><!-- ./ container -->
  </footer>