  <!-- footer -->
  <footer>
    <div class="container">
      <div class="row">

        <div class="row">
          <div class="col-sm-4">
            <div class="secure-payment">
              <figure class="secure-icon"></figure>
              <span class="secure-text"><strong>100% Secure Payment</strong>
              All major credit & debit cards accepted</span>
            </div>
          </div>
          <div class="col-sm-5">
            <div class="payment-options">
              <figure class="payment-option-txt">Payment options</figure>
              <span class="payment-option-bg"></span>
            </div>
          </div>
          <div class="col-sm-3">
            <div class="footer-social-login">
            <span>follow us</span>
              <a aria-label="follow us on facebook" class="facebook" href="https://www.facebook.com/shinelearningdotcom/"></a>
              <a aria-label="follow us on linkedin" class="linkedin" href="https://www.linkedin.com/showcase/13203963/"></a>
              <a aria-label="follow us on twitter" class="twitter" href="https://twitter.com/shinelearning"></a>
            </div>
          </div>
        </div><!-- ./ row -->
      </div><!-- ./ row -->
    </div><!-- ./ container -->

    <div class="footer-links">
      <div class="container">
        <div class="row">
          <a href="/about-us">About Us</a>
          <!--a href="/partners">Partners</a-->
          <a href="/privacy-policy">Privacy Policy</a>
          <a href="/tnc">Terms & Condition</a>
          <a href="/contact-us">Contact us</a>
          <a href="/disclaimer">Disclaimer</a>
          <span>Copyright © {% now "Y" %} HT Media Limited.</span>
        </div><!-- ./ row -->
      </div>
    </div>
  </footer>