<footer class="mt-40">
  <div class="container">
    <nav class="navbar navbar-expand-lg">
      <div class="collapse navbar-collapse" id="navbarText">
        <ul class="navbar-nav mr-auto">
          <li class="nav-item">
            <a class="nav-link" href="/about-us" onclick="MyGA.SendEvent('homepage_footer','ln_homepage_footer', 'ln_homepage_footer_clicked', 'About Us','', false, true);">About Us</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="/privacy-policy/" onclick="MyGA.SendEvent('homepage_footer','ln_homepage_footer', 'ln_homepage_footer_clicked', 'Privacy Policy','', false, true);">Privacy Policy</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="/tnc/" onclick="MyGA.SendEvent('homepage_footer','ln_homepage_footer', 'ln_homepage_footer_clicked', 'Terms & Conditions','', false, true);">Terms & Conditions</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="/contact-us" onclick="MyGA.SendEvent('homepage_footer','ln_homepage_footer', 'ln_homepage_footer_clicked', 'Contact Us','', false, true);">Contact Us</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="/disclaimer/" onclick="MyGA.SendEvent('homepage_footer','ln_homepage_footer', 'ln_homepage_footer_clicked', 'Disclaimer','', false, true);">Disclaimer</a> 
          </li>
        </ul>
        <span class="navbar-text social-icon">
          <a href="https://www.facebook.com/shinelearningdotcom/" class="b4-icon-facebook" onclick="MyGA.SendEvent('social_media_follow','ln_social_media_follow', 'ln_facebook', 'homepage','', false, true);"></a>
          <a href="https://www.linkedin.com/showcase/13203963/" class="b4-icon-linkedin" onclick="MyGA.SendEvent('social_media_follow','ln_social_media_follow', 'ln_linkedin', 'homepage','', false, true);"></a>
          <a href="https://twitter.com/shinelearning" class="b4-icon-twitter" onclick="MyGA.SendEvent('social_media_follow','ln_social_media_follow', 'ln_twitter', 'homepage','', false, true);"></a>
        </span>
      </div>
    </nav>
    <div class="d-flex justify-content-between align-items-center mt-20">
      <div class="secure-payment">
        <figure class="b4-icon-secure mr-20"></figure>
        <span>
          <strong>100% Secure Payment</strong>
          All major credit & debit cards accepted
        </span>
      </div>
      <div class="payment-option">
          Payment options
          <figure class="b4-icon-payment-option"></figure>
      </div>
      <div class="copyright">
          Copyright © {% now "Y" %} HT Media Limited.
      </div>
    </div>
  </div>
</footer>