{% load static %}
<!-- top first navigation -->
<nav class="container-fluid padlr-0 shadow position-relative zindex" >

  {% if IS_MAINTENANCE %}
  <marquee> {{ MAINTENANCE_MESSAGE }} </marquee>
  {% endif %}
  <div class="container padlr-0">
    <div class="navbar navbar-expand-lg navbar-light padlr-0" itemscope itemtype="http://schema.org/Organization">
      <a  class="navbar-brand" aria-label="shinelearning.com" href="{% url 'homepage' %}"></a>
      <meta itemprop="name" content="Shine">
      <meta itemprop="url" content="https://learning.shine.com"/>
      <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <form action="/search/results/" class="form-inline my-2 my-lg-0 mr-auto">
            <input class="form-control search-box" type="search" placeholder="Search course, assesssment…" name="q" aria-label="Search" autocomplete="off">
            <button class="btn btn-outline-success my-2 my-sm-0 nav-pad" type="submit"><figure class="b4-icon-search mb-0"></figure></button>
        </form>
        <ul class="navbar-nav navbar-right">
          <li class="nav-item dropdown dropdown-jobs">
            <a class="nav-link" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Job Assistance</a>
            <div class="dropdown-menu" aria-labelledby="navbarDropdown">
              <a onclick="trackClickEvent()" class="dropdown-item" href="/services/resume-writing/63/">Resume Writing</a>
              <a onclick="trackClickEvent()" class="dropdown-item" href="/services/resume-services/entry-level-freshers-4/pd-2553">International Resume</a>
              <a onclick="trackClickEvent()" class="dropdown-item" href="/services/resume-services/entry-level-freshers/pd-2052">Visual Resume</a>
              <a onclick="trackClickEvent()" class="dropdown-item" href="https://learning.shine.com/services/professional-service/jobs-on-the-move-3/pd-3411">Jobs On The Move</a>
              <a onclick="trackClickEvent()" class="dropdown-item" href="/services/linkedin-profile/180/">LinkedIn Profile</a>
              <a onclick="trackClickEvent()" class="dropdown-item" href="/services/recruiter-connect/featured-profile-10/pd-1939">Featured Profile</a>
              <!-- <a onclick="trackClickEvent()" class="dropdown-item" href="/services/background-verification-2/employment-verification/pd-2618">Background Verification Services</a>
              <a onclick="trackClickEvent()" class="dropdown-item" href="/services/interview-preparation-3/job-interview-coaching-by-sarabjeet-sachar/pd-1284">Interview Preparation</a> -->
              <a onclick="trackClickEvent()" class="dropdown-item" href="/services/recruiter-connect/application-highlighter-3/pd-4117">Application Highlighter</a>
              <a onclick="trackClickEvent()" class="dropdown-item" href="/resume-score-checker/">Resume Score Checker</a>
            </div>
          </li>
          <li class="nav-item">
            <a onclick="trackClickEvent()" class="nav-link" href="/practice-tests/">Practice Test</a>
          </li>
          <li class="nav-item dropdown dropdown-resources">
              <a  class="nav-link" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Free Resources</a>
              <div class="dropdown-menu category-tab" aria-labelledby="navbarDropdown">
              <div class="resources-tab">
                  <ul class="nav nav-tabs" id="myTab" role="tablist">
                      <li class="nav-item">
                        <a onclick="trackClickEvent()" class="nav-link active" id="resources-tab" data-toggle="tab" href="/cms/resume-format/1/" data-target="#resources-links1" role="tab" aria-controls="resources-tab" aria-selected="true">Resume Formats</a>
                      </li>
                      <li class="nav-item">
                        <a onclick="trackClickEvent()" class="nav-link" id="resources-tab" data-toggle="tab" href="/cms/resignation-letter-formats-samples/3/" data-target="#resources-links2" role="tab" aria-controls="resources-tab" aria-selected="false">Resignation Letter Formats</a>
                      </li>
                      <li class="nav-item">
                        <a onclick="trackClickEvent()" class="nav-link" id="resources-tab" data-toggle="tab" href="/cms/cover-letter-format/7/" data-target="#resources-links3" role="tab" aria-controls="resources-tab" aria-selected="false">Cover Letter Formats</a>
                      </li>
                      <li class="nav-item">
                        <a onclick="trackClickEvent()" class="nav-link" id="resources-tab" data-toggle="tab" href="/cms/resume-samples-and-templates/50/" data-target="#resources-links4" role="tab" aria-controls="resources-tab" aria-selected="false">Resume Templates</a>
                      </li>
                      <li class="nav-item">
                        <a onclick="trackClickEvent()" class="nav-link" id="resources-tab" data-toggle="tab" href="/cms/linkedin-summary-examples/43/" data-target="#resources-links5" role="tab" aria-controls="resources-tab" aria-selected="false">Linkedin Summary Example</a>
                      </li>
                      <li class="nav-item">
                        <a onclick="trackClickEvent()" class="nav-link" id="resources-tab" data-toggle="tab" href="/cms/relieving-letter-format/58/" data-target="#resources-links6" role="tab" aria-controls="resources-tab" aria-selected="false">Relieving Letter</a>
                      </li>
                  </ul>
                  <div class="tab-content" id="myTabContent">
                      <div class="tab-pane fade show active" id="resources-links1" role="tabpanel" aria-labelledby="resources-tab">
                        <a onclick="trackClickEvent()" href="/cms/resume-format/freshers-2/2/">Freshers </a>
                        <a onclick="trackClickEvent()" href="/cms/resume-format/banking-freshers/4/">Banking Freshers  </a>
                        <a onclick="trackClickEvent()" href="/cms/resume-format/experienced-professionals/6/">Experienced Professional   </a>
                        <a onclick="trackClickEvent()" href="/cms/resume-format/engineers-2/20/">Engineers   </a>
                        <a onclick="trackClickEvent()" href="/cms/resume-format/it/53/">IT </a>
                        <a onclick="trackClickEvent()" class="view-all-detail" href="/cms/resume-format/1/ ">View all </a>
                      </div>
                      <div class="tab-pane fade" id="resources-links2" role="tabpanel" aria-labelledby="resources-tab">
                        <a onclick="trackClickEvent()" href="/cms/resignation-letter-formats-samples/notice-period/5/">With Notice Period   </a>
                        <a onclick="trackClickEvent()" href="/cms/resignation-letter-formats-samples/personal-reasons/15/">Personal Reasons  </a>
                        <a onclick="trackClickEvent()" href="/cms/resignation-letter-formats-samples/higher-studies-or-going-abroad/49/ ">Higher Studies </a>
                        <a onclick="trackClickEvent()" href="/cms/resignation-letter-formats-samples/without-notice-period/17/">Without Notice Period   </a>
                        <a onclick="trackClickEvent()" href="/cms/resignation-letter-formats-samples/family-illness/18/">Family Illness </a>
                        <a onclick="trackClickEvent()" class="view-all-detail" href="/cms/resignation-letter-formats-samples/3/"> View all </a>
                      </div>
                      <div class="tab-pane fade" id="resources-links3" role="tabpanel" aria-labelledby="resources-tab">
                        <a onclick="trackClickEvent()" href="/cms/cover-letter-format/freshers/8/">Freshers </a>
                        <a onclick="trackClickEvent()" href="/cms/cover-letter-format/engineers/9/">Engineers </a>
                        <a onclick="trackClickEvent()" class="view-all-detail" href="/cms/cover-letter-format/7/"> View all </a>
                      </div>
                      <div class="tab-pane fade" id="resources-links4" role="tabpanel" aria-labelledby="resources-tab">
                        <a onclick="trackClickEvent()" href="/cms/resume-samples-and-templates/pharma/34/">Pharma </a>
                        <a onclick="trackClickEvent()" href="/cms/resume-samples-and-templates/freshers-3/55/">Freshers </a>
                        <a onclick="trackClickEvent()" class="view-all-detail" href="/cms/resume-samples-and-templates/50/"> View all </a>
                      </div>
                      <div class="tab-pane fade" id="resources-links5" role="tabpanel" aria-labelledby="resources-tab">
                        <a onclick="trackClickEvent()" href="/cms/linkedin-summary-examples/hr-professional/36/"> HR Professionals </a>
                        <a onclick="trackClickEvent()" class="view-all-detail" href="/cms/linkedin-summary-examples/43/"> View all </a>
                      </div>
                      <div class="tab-pane fade" id="resources-links6" role="tabpanel" aria-labelledby="resources-tab">
                        
                      </div>
                  </div>
              </div>
            </div>
          </li>
          <li class="nav-item">
              <a onclick="trackClickEvent()" class="nav-link" href="/talenteconomy/">Blog</a>
          </li>
          <li class="nav-item dropdown dropdown-call">
              <a class="nav-link link-ht" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                <figure class="b4-icon-call"></figure>
              </a>
              <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                <a class="dropdown-item"href="tel:{{ggn_contact}}"><strong>Call us:</strong> {{ggn_contact_full}}</a>
              </div>
            </li>
            <li class="nav-item dropdown dropdown-user">
                <a class="nav-link link-ht" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                  <figure class="b4-icon-user"></figure>
                </a>
                <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                  {% if request.session.candidate_id %}
                    <a onclick="trackClickEvent()" class="dropdown-item" href="{% url "dashboard:dashboard" %}">My Inbox</a>
                    <a onclick="trackClickEvent()" class="dropdown-item" href="{% url "dashboard:dashboard-myorder" %}">My Orders</a>
                    <a onclick="trackClickEvent()" class="dropdown-item" href="{% url "dashboard:dashboard-mywallet" %}">My Wallet</a>
                    <a onclick="trackClickEvent()" class="dropdown-item" href="{% url "dashboard:roundone-dashboard" %}">My Referrals</a>
                    <a class="dropdown-item" href="#">{{request.session.email}}</a>
                    <div class="dropdown-divider"></div>
                    <a onclick="trackClickEvent()" class="dropdown-item" onclick= "return clearLocalStorage();" href="{% url 'logout' %}">Logout</a>
                  {% else %}
                    <a class="dropdown-item" href="{% url 'login' %}">Login</a>
                    <a class="dropdown-item" href="{% url 'register' %}">Register</a>
                  {% endif %}
                </div>
              </li>
              <li class="nav-item position-relative">
                  {% if cart_count %}
                    <span class="counter">{{cart_count}}</span>
                  {% endif %}
                  <a onclick="trackClickEvent()" class="nav-link link-ht" href="{% url "cart:payment-summary" %}">
                    <figure class="b4-icon-cart"></figure>
                  </a>
              </li>
        </ul>
        
      </div>
    </div>
  </div>
</nav>
<!-- top first navigation end -->

<!-- top second navigation -->
<nav class="navbar-bg-light navbar navbar-expand-lg navbar-light">
  <div class="container">
    <div class="row">
      <ul class="navbar-nav" id=categories>
        <li class="nav-item dropdown dropdown-categories">
            <a  class="nav-link" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
              <span class="sm-txt">Explore</span></span>Categories
              <figure class="b4-icon-down"></figure>
            </a>
            <div class="dropdown-menu category-tab" aria-labelledby="navbarDropdown">
              <div class="categories-tab">
                  <ul class="nav nav-tabs" id="myTab" role="tablist">
                      <li class="nav-item">
                        <a onclick="trackClickEvent()" class="nav-link active" id="category-tab" data-toggle="tab" href="/courses/sales-and-marketing/17/" data-target="#tab-links1" role="tab" aria-controls="category-tab" aria-selected="true">Sales & Marketing</a>
                      </li>
                      <li class="nav-item">
                        <a onclick="trackClickEvent()" class="nav-link" id="category-tab"  data-toggle="tab" href="/courses/operation-management/19/" data-target="#tab-links2" role="tab" aria-controls="category-tab" aria-selected="false">Operation Management</a>
                      </li>
                      <li class="nav-item">
                        <a onclick="trackClickEvent()" class="nav-link" id="category-tab" data-toggle="tab" href="/courses/banking-and-finance/20/" data-target="#tab-links3" role="tab" aria-controls="category-tab" aria-selected="false">Banking & Finance</a>
                      </li>
                      <li class="nav-item">
                        <a onclick="trackClickEvent()" class="nav-link" id="category-tab"  data-toggle="tab" href="/courses/it-information-technology/22/" data-target="#tab-links4" role="tab" aria-controls="category-tab" aria-selected="false">Information Technology</a>
                      </li>
                      <li class="nav-item">
                        <a onclick="trackClickEvent()" class="nav-link" id="category-tab"  data-toggle="tab" href="/courses/hr-human-resource/25/" data-target="#tab-links5" role="tab" aria-controls="category-tab" aria-selected="false">Human Resources</a>
                      </li>
                      <li class="nav-item">
                        <a onclick="trackClickEvent()" class="nav-link" id="category-tab"  data-toggle="tab" href="/courses/management/27/"  data-target="#tab-links6" role="tab" aria-controls="category-tab" aria-selected="false">Management</a>
                      </li>
                      <li class="nav-item">
                        <a onclick="trackClickEvent()" class="nav-link" id="category-tab"  data-toggle="tab" href="/courses/mass-communication/29/" data-target="#tab-links7" role="tab" aria-controls="category-tab" aria-selected="false">Mass Communication</a>
                      </li>
                      <li class="nav-item">
                        <a onclick="trackClickEvent()" class="nav-link" id="category-tab"  href="/courses/personal-development/21/" data-toggle="tab" data-target="#tab-links8" role="tab" aria-controls="category-tab" aria-selected="false">Personal Development</a>
                      </li>
                      <li class="nav-item">
                        <a onclick="trackClickEvent()" class="nav-link" id="category-tab"  href="/courses/law/23/" data-toggle="tab" data-target="#tab-links9" role="tab" aria-controls="category-tab" aria-selected="false">Law</a>
                      </li>
                      <li class="nav-item">
                        <a onclick="trackClickEvent()" class="nav-link" id="category-tab"  href="{% url "course-catalogoue" %}" data-toggle="tab" data-target="#tab-links10" role="tab" aria-controls="category-tab" aria-selected="false">Course Catalogue</a>
                      </li>
                  </ul>
                  <div class="tab-content" id="myTabContent">
                      <div class="tab-pane fade show active" id="tab-links1" role="tabpanel" aria-labelledby="category-tab">
                          <a onclick="trackClickEvent()" href="/courses/sales-and-marketing/digital-marketing/32/">Digital Marketing</a>
                          <a onclick="trackClickEvent()" href="/courses/sales-and-marketing/sales/18/">Sales</a>
                          <a onclick="trackClickEvent()" href="/courses/sales-and-marketing/retail/35/ ">  Retail </a>
                          <a onclick="trackClickEvent()" href="/courses/sales-and-marketing/product-marketing/24/">Product Marketing</a>
                          <a onclick="trackClickEvent()" href="/courses/sales-and-marketing/service-marketing/30/">Service Marketing</a>
                          <a onclick="trackClickEvent()" class="view-all-detail" href="/courses/sales-and-marketing/17/">View all products</a>
                      </div>
                      <div class="tab-pane fade" id="tab-links2" role="tabpanel" aria-labelledby="category-tab">
                          <a onclick="trackClickEvent()" href="/courses/operation-management/six-sigma/193/">Six Sigma</a>
                          <a onclick="trackClickEvent()" href="/courses/operation-management/project-management/123/">Project Management </a>
                          <a onclick="trackClickEvent()" href="/courses/operation-management/logistics-and-supply-chain/135/">Logistic and Supply Chain</a>
                          <a onclick="trackClickEvent()" href="/courses/operation-management/service-quality/316/">Service Quality</a>
                          <a onclick="trackClickEvent()" href="/courses/operation-management/production/39/">Production </a>
                          <a onclick="trackClickEvent()" href="/courses/operation-management/customer-care/37/">Customer Care</a>
                          <a onclick="trackClickEvent()" class="view-all-detail" href="/courses/operation-management/19/">View all products</a>
                      </div>
                      <div class="tab-pane fade" id="tab-links3" role="tabpanel" aria-labelledby="category-tab">
                          <a onclick="trackClickEvent()" href="/courses/banking-finance/advanced-accounting/114/">Advanced Accounting</a>
                          <a onclick="trackClickEvent()" href="/courses/banking-finance/banking/113/">Banking</a>
                          <a onclick="trackClickEvent()" href="/courses/banking-finance/risk-management/95/">Risk Management</a>
                          <a onclick="trackClickEvent()" href="/courses/banking-finance/stock-market-trading/94/">Stock Market Training</a>
                          <a onclick="trackClickEvent()" href="/courses/banking-finance/financial-reporting-and-management/103/">Finanacial Reporting and Management</a>
                          <a onclick="trackClickEvent()" href="/courses/banking-finance/commercial-operation/112/">Commercial Operation </a>
                          <a onclick="trackClickEvent()" href="/courses/banking-finance/investment-banking/100/">Investment Banking </a>
                          <a onclick="trackClickEvent()" href="/courses/banking-finance/gst-2/507/">GST</a>
                          <a onclick="trackClickEvent()" class="view-all-detail" href="/courses/banking-and-finance/20/">View all products</a>
                      </div>
                      <div class="tab-pane fade" id="tab-links4" role="tabpanel" aria-labelledby="category-tab">
                          <a onclick="trackClickEvent()" href="/courses/it-information-technology/big-data/84/">Big Data </a>
                          <a onclick="trackClickEvent()" href="/courses/operation-management/project-management/123/">Project Management </a>
                          <a onclick="trackClickEvent()" href="/courses/it-information-technology/it-software/53/">IT Software</a>
                          <a onclick="trackClickEvent()" href="/courses/it-information-technology/graphic-design/54/">Graphic Design </a>
                          <a onclick="trackClickEvent()" href="/courses/it-information-technology/cloud-computing/82/">Cloud Computing</a>
                          <a onclick="trackClickEvent()" href="/courses/it-information-technology/ms-skills/98/">MS Skills</a>
                          <a onclick="trackClickEvent()" href="/courses/it-information-technology/it-language/80/">IT Language</a>
                          <a onclick="trackClickEvent()" href="/courses/it-information-technology/blockchain/496/">Blockchain</a>
                          <a onclick="trackClickEvent()" href="/courses/it-information-technology/data-science/497/">Data Science</a>
                          <a onclick="trackClickEvent()" class="view-all-detail" href="/courses/it-information-technology/22/">View all products</a>
                      </div>
                      <div class="tab-pane fade" id="tab-links5" role="tabpanel" aria-labelledby="category-tab">
                          <a onclick="trackClickEvent()" href="/courses/hr-human-resource/talent-acquisition/93/">Talent Aquistion </a>
                          <a onclick="trackClickEvent()" href="/courses/hr-human-resource/organizational-structure/97/">Organizational Structure </a>
                          <a onclick="trackClickEvent()" href="/courses/hr-human-resource/training-and-development/91/">Training & Development </a>
                          <a onclick="trackClickEvent()" href="/courses/hr-human-resource/compensation-2/110/">Compensation </a>
                          <a onclick="trackClickEvent()" class="view-all-detail" href="/courses/hr-human-resource/25/">View all products</a>
                      </div>
                      <div class="tab-pane fade" id="tab-links6" role="tabpanel" aria-labelledby="category-tab">
                          <a onclick="trackClickEvent()" href="/courses/management/general-management/102/">General Management </a>
                          <a onclick="trackClickEvent()" href="/courses/management/business-analyst/58/">Business Analyst </a>
                          <a onclick="trackClickEvent()" href="/courses/management/corporate-governance/59/">Corporate Governance </a>
                          <a onclick="trackClickEvent()" class="view-all-detail" href="/courses/management/27/">View all products</a>
                      </div>
                      <div class="tab-pane fade" id="tab-links7" role="tabpanel" aria-labelledby="category-tab">
                          <a onclick="trackClickEvent()" href="/courses/mass-communication/content/46/">Content</a>
                          <a onclick="trackClickEvent()" href="/courses/mass-communication/public-relations/96/">Public Relations </a>
                          <a onclick="trackClickEvent()" href="/courses/mass-communication/editor/106/">Editor </a>
                          <a onclick="trackClickEvent()" href="/courses/mass-communication/journalism/99/">Journalism </a>
                          <a onclick="trackClickEvent()" class="view-all-detail" tabindex="-1" href="/courses/mass-communication/29/">View all products</a>
                      </div>
                      <div class="tab-pane fade" id="tab-links8" role="tabpanel" aria-labelledby="category-tab">
                          <a onclick="trackClickEvent()" href="/courses/personal-development/language-learning/40/">Language Learning</a>
                          <a onclick="trackClickEvent()" href="/courses/personal-development/leadership/41/">Leadership </a>
                          <a onclick="trackClickEvent()" href="/courses/personal-development/personality-development/42/">Personality Development</a>
                          <a onclick="trackClickEvent()" href="/courses/personal-development/interview-preparation/38/">Interview Preparation</a>
                          <a onclick="trackClickEvent()" href="/courses/personal-development/communication-development/36/">Communication Development</a>
                          <a onclick="trackClickEvent()" class="view-all-detail" tabindex="-1" href="/courses/personal-development/21/">View all products</a>
                      </div>
                      <div class="tab-pane fade" id="tab-links9" role="tabpanel" aria-labelledby="category-tab">
                            <a onclick="trackClickEvent()" href="/courses/law/cyber-law/107/">Cyber Law</a>
                            <a onclick="trackClickEvent()" href="/courses/law/criminal-law/108/">Criminal Law </a>
                            <a onclick="trackClickEvent()" href="/courses/law/company-law/111/">Company Law</a>
                            <a onclick="trackClickEvent()" class="view-all-detail" tabindex="-1" href="/courses/law/23/">View all products</a>
                      </div>
                      <div class="tab-pane fade" id="tab-links10" role="tabpanel" aria-labelledby="category-tab">
                          <a onclick="trackClickEvent()" href="{% url 'course-catalogoue' %}">Course Catalogue</a>
                      </div>
                  </div>
              </div>
            </div>
        </li>
        <li class="nav-item">
          <a onclick="trackClickEvent()" class="nav-link" href="/courses/sales-and-marketing/digital-marketing/32/">Digital Marketing</a>
        </li>
        <li class="nav-item">
          <a onclick="trackClickEvent()" class="nav-link" href="/courses/operation-management/six-sigma/193/">Six Sigma</a>
        </li>
        <li class="nav-item">
          <a onclick="trackClickEvent()" class="nav-link" href="/courses/operation-management/project-management/123/">Project Management</a>
        </li>
        <li class="nav-item">
          <a onclick="trackClickEvent()" class="nav-link" href="/courses/it-information-technology/big-data/84/">Big Data</a>
        </li>
        <li class="nav-item">
          <a onclick="trackClickEvent()" class="nav-link" href="/courses/it-information-technology/it-software/53/">IT Software</a>
        </li>
        <!-- <li class="nav-item">
          <a onclick="trackClickEvent()" class="nav-link" href="/courses/management/general-management/102/">General Management</a>
        </li> -->
        <li class="nav-item">
          <a onclick="trackClickEvent()" class="nav-link" href="/courses/it-information-technology/data-science/497/">Data Science</a>
        </li>
        <li class="nav-item">
          <a onclick="trackClickEvent()" class="nav-link" href="/courses/it-information-technology/cloud-computing/82/">Cloud Computing</a>
        </li>

      </ul>
      <span class="pull-right mt-10" data-toggle="modal" data-target="#offerModal"><i class="offer-icon"></i></span>
    </div>
  </div>
</nav>
<!-- top second navigation end -->