{% load static %}
<nav id="id_nav" class="navbar navbar-default navbar-fixed-top">
  {% if IS_MAINTENANCE %}
  <marquee> {{ MAINTENANCE_MESSAGE }} </marquee>
  {% endif %}
  <div class="container-fluid">
    <!-- Brand and toggle get grouped for better mobile display -->
    <div class="navbar-header" itemscope itemtype="http://schema.org/Organization" >
      <a aria-label="shinelearning.com" class="navbar-brand" href="{% url 'homepage' %}"></a>
      <meta itemprop="name" content="Shine">
      <meta itemprop="url" content="https://learning.shine.com"/>
    </div>

    <!-- Collect the nav links, forms, and other content for toggling -->
    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
      <ul class="nav navbar-nav">
        <li class="dropdown courses-dropdown">
          <a class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false"><span class="hamburber-icon"></span>Courses</a>
          <div class="dropdown-menu courses-tabs">
            <ul class="nav nav-tabs" role="tablist">
              <li role="presentation" class="active" ><a href="/courses/sales-and-marketing/17/" data-target="#courses1" aria-controls="#courses1" role="tab">Sales &amp; Marketing</a></li>
              <li role="presentation"><a href="/courses/operation-management/19/" data-target="#courses2" aria-controls="courses2" role="tab">Operation Management</a></li>
              <li role="presentation"><a href="/courses/banking-and-finance/20/" data-target="#courses3" aria-controls="courses3" role="tab">Banking &amp; Finance</a></li>
              <li role="presentation"><a href="/courses/it-information-technology/22/" data-target="#courses4" aria-controls="courses4" role="tab">Information Technology</a></li>
              <li role="presentation"><a href="/courses/hr-human-resource/25/" data-target="#courses5" aria-controls="courses5" role="tab">Human Resources</a></li>
              <li role="presentation"><a href="/courses/management/27/" data-target="#courses6" aria-controls="courses6" role="tab">Management</a></li>
              <li role="presentation"><a href="/courses/mass-communication/29/" data-target="#courses7" aria-controls="courses7" role="tab">Mass Communication</a></li>
              <li role="presentation"><a href="/courses/personal-development/21/" data-target="#courses8" aria-controls="courses8" role="tab">Personal Development</a></li>
              <li role="presentation"><a href="/courses/law/23/"  data-target="#courses9" aria-controls="courses9" role="tab">Law</a></li>
             <!--  <li role="presentation"><a href="{% url 'skillpage:func_area_results' 'other-online' 5 %}#courses10" aria-controls="courses9" role="tab">Other Online Courses</a></li> -->
             <li role="presentation"><a href="{% url "course-catalogoue" %}" data-target="#courses10" aria-controls="courses10" role="tab">Course Catalogue</a></li>

            </ul>


            <!-- Tab panes -->
            <div class="tab-content">
              <div role="tabpanel" class="tab-pane active" id="courses1">
                <ul>
                <li><a href="/courses/sales-and-marketing/digital-marketing/32/">Digital Marketing</a></li>
                <li><a href="/courses/sales-and-marketing/sales/18/">Sales</a></li>
                <li><a href="/courses/sales-and-marketing/retail/35/ ">  Retail </a></li>
                <li><a href="/courses/sales-and-marketing/product-marketing/24/">Product Marketing</a></li>
                <li><a href="/courses/sales-and-marketing/service-marketing/30/">Service Marketing</a></li>
                <li><a href="/courses/sales-and-marketing/17/">View all products</a></li>
              </ul>
              </div>
              <div role="tabpanel" class="tab-pane" id="courses2">
                <ul>
                <li><a href="/courses/operation-management/six-sigma/193/">Six Sigma</a></li>
                <li><a href="/courses/operation-management/project-management/123/">Project Management </a></li>
                <li><a href="/courses/operation-management/logistics-and-supply-chain/135/">Logistic and Supply Chain</a></li>
                <li><a href="/courses/operation-management/service-quality/316/">Service Quality</a></li>
                <li><a href="/courses/operation-management/production/39/">Production </a></li>
                <li><a href="/courses/operation-management/customer-care/37/">Customer Care</a></li>
                <li><a href="/courses/operation-management/19/">View all products</a></li>
              </ul>
              </div>
              <div role="tabpanel" class="tab-pane" id="courses3">
                <ul>
                <li><a href="/courses/banking-finance/advanced-accounting/114/">Advanced Accounting</a></li>
                <li><a href="/courses/banking-finance/banking/113/">Banking</a></li>
                <li><a href="/courses/banking-finance/risk-management/95/">Risk Management</a></li>
                <li><a href="/courses/banking-finance/stock-market-trading/94/">Stock Market Training</a></li>
                <li><a href="/courses/banking-finance/financial-reporting-and-management/103/">Finanacial Reporting and Management</a></li>
                <li><a href="/courses/banking-finance/commercial-operation/112/">Commercial Operation </a></li>
                <li><a href="/courses/banking-finance/investment-banking/100/">Investment Banking </a></li>
                <li><a href="/courses/banking-finance/gst-2/507/">GST</a></li>
                <li><a href="/courses/banking-and-finance/20/">View all products</a></li>
              </ul>
              </div>
              <div role="tabpanel" class="tab-pane" id="courses4">
                <ul>
                <li><a href="/courses/it-information-technology/big-data/84/">Big Data </a></li>
                <li><a href="/courses/operation-management/project-management/123/">Project Management </a></li>
                <li><a href="/courses/it-information-technology/it-software/53/">IT Software</a></li>
                <li><a href="/courses/it-information-technology/graphic-design/54/">Graphic Design </a></li>
                <li><a href="/courses/it-information-technology/cloud-computing/82/">Cloud Computing</a></li>
                <li><a href="/courses/it-information-technology/ms-skills/98/">MS Skills</a></li>
                <li><a href="/courses/it-information-technology/it-language/80/">IT Language</a></li>
                <li><a href="/courses/it-information-technology/blockchain/496/">Blockchain</a></li>
                <li><a href="/courses/it-information-technology/data-science/497/">Data Science</a></li>
                <li><a href="/courses/it-information-technology/22/">View all products</a></li>
              </ul>
              </div>
              <div role="tabpanel" class="tab-pane" id="courses5">
                <ul>
                <li><a href="/courses/hr-human-resource/talent-acquisition/93/">Talent Aquistion </a></li>
                <li><a href="/courses/hr-human-resource/organizational-structure/97/">Organizational Structure </a></li>
                <li><a href="/courses/hr-human-resource/training-and-development/91/">Training & Development </a></li>
                <li><a href="/courses/hr-human-resource/compensation-2/110/">Compensation </a></li>
                <li><a href="/courses/hr-human-resource/25/">View all products</a></li>
              </ul>
              </div>
              <div role="tabpanel" class="tab-pane" id="courses6">
                <ul>
                <li><a href="/courses/management/general-management/102/">General Management </a></li>
                <li><a href="/courses/management/business-analyst/58/">Business Analyst </a></li>
                <li><a href="/courses/management/corporate-governance/59/">Corporate Governance </a></li>
                <li><a href="/courses/management/27/">View all products</a></li>
              </ul>
              </div>
              <div role="tabpanel" class="tab-pane" id="courses7">
                <ul>
                <li><a href="/courses/mass-communication/content/46/">Content</a></li>
                <li><a href="/courses/mass-communication/public-relations/96/">Public Relations </a></li>
                <li><a href="/courses/mass-communication/editor/106/">Editor </a></li>
                <li><a href="/courses/mass-communication/journalism/99/">Journalism </a></li>
                <li><a tabindex="-1" href="/courses/mass-communication/29/">View all products</a></li>
              </ul>
              </div>
              <div role="tabpanel" class="tab-pane" id="courses8">
                <ul>
                <li><a href="/courses/personal-development/language-learning/40/">Language Learning</a></li>
                <li><a href="/courses/personal-development/leadership/41/">Leadership </a></li>
                <li><a href="/courses/personal-development/personality-development/42/">Personality Development</a></li>
                <li><a href="/courses/personal-development/interview-preparation/38/">Interview Preparation</a></li>
                <li><a href="/courses/personal-development/communication-development/36/">Communication Development</a></li>
                <li><a tabindex="-1" href="/courses/personal-development/21/">View all products</a></li>
              </ul>
              </div>
              <div role="tabpanel" class="tab-pane" id="courses9">
                <ul>
                <li><a href="/courses/law/cyber-law/107/">Cyber Law</a></li>
                <li><a href="/courses/law/criminal-law/108/">Criminal Law </a></li>
                <li><a href="/courses/law/company-law/111/">Company Law</a></li>
                <li><a tabindex="-1" href="/courses/law/23/">View all products</a></li>
              </ul>
              </div>

              <div role="tabpanel" class="tab-pane" id="courses10">
              </div>


            </div>
          </div>
        </li>
        <li class="dropdown jobs-dropdown">
          <a class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Job Assistance</a>
          <ul class="dropdown-menu">
            <li><a href="/services/resume-writing/63/">Resume Writing</a></li>
            <li><a href="/services/international-resume-2/entry-level-freshers-5/pd-2553">International Resume</a></li>
            <li><a href="/services/visual-resume/entry-level-freshers-4/pd-2052">Visual Resume</a></li>
            <li><a href="https://learning.shine.com/services/professional-service/jobs-on-the-move-3/pd-3411">Jobs On The Move</a></li>
            <li><a href="/services/linkedin-profile/180/">LinkedIn Profile</a></li>

              <li><a href="/services/profile-update/featured-profile-10/pd-1939">Featured Profile</a></li>
              <li><a href="/services/background-verification-2/employment-verification/pd-2618">Background Verification Services</a></li>
            <li><a href="/services/interview-preparation-3/job-interview-coaching-by-sarabjeet-sachar/pd-1284">Interview Preparation</a></li>
           <li><a href="/services/recruiter-connect/application-highlighter-3/pd-4117">Application Highlighter</a></li>

              <!--<li><a href="/services/job-referral-2/job-referrals-pack/pd-2129">Job referral</a></li>-->
          </ul>
        </li>
        <li class="dropdown format-dropdown">
           <a class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Free Resources</a>
           <div class="dropdown-menu format-tabs">
              <ul class="nav nav-tabs" role="tablist">
                 <li role="presentation" class="active"><a href="/cms/resume-format/1/" data-target="#format1" aria-controls="format1" role="tab">Resume Formats</a></li>
                 <li role="presentation"><a href="/cms/resignation-letter-formats-and-samples/3/" data-target="#format2" aria-controls="format2" role="tab">Resignation Letter Formats</a></li>
                 <li role="presentation"><a href="/cms/cover-letter-format/7/" data-target="#format3" aria-controls="format3"  role="tab">Cover Letter Formats</a></li>
                 <li role="presentation"><a href="/cms/resume-samples-and-templates/50/" data-target="#format4" aria-controls="format4" role="tab">Resume Templates</a></li>
                 <li role="presentation"><a href="/cms/linkedin-summary-examples/43/" data-target="#format5" aria-controls="format5" role="tab">Linkedin Summary Example</a></li>
                 <li role="presentation"><a href="/article/" data-target="#format6" aria-controls="format6" role="tab">Career Guidance</a></li>
              </ul>
              <!-- Tab panes -->
              <div class="tab-content">
                 <div role="tabpanel" class="tab-pane active" id="format1">
                    <ul>
                      <li><a href="/cms/resume-format/freshers-2/2/">Freshers </a></li>
                       <li><a href="/cms/resume-format/banking-freshers/4/">Banking Freshers  </a></li>
                       <li><a href="/cms/resume-format/experienced-professionals/6/">Experienced Professional   </a></li>
                       <li><a href="/cms/resume-format/engineers-2/20/">Engineers   </a></li>
                       <li><a href="/cms/resume-format/it/53/">IT </a></li>

                       <li><a href="/cms/resume-format/1/ ">View all </a></li>
                    </ul>
                 </div>
                 <div role="tabpanel" class="tab-pane" id="format2">
                    <ul>
                       <li><a href="/cms/resignation-letter-formats-and-samples/with-notice-period/5/">With Notice Period   </a></li>
                       <li><a href="/cms/resignation-letter-formats-and-samples/personal-reasons/15/ ">Personal Reasons  </a></li>
                       <li><a href="/cms/resignation-letter-formats-and-samples/higher-studies-or-going-abroad/49/ ">Higher Studies </a></li>
                       <li><a href="/cms/resignation-letter-formats-and-samples/without-notice-period/17/ ">Without Notice Period   </a></li>
                       <li><a href="/cms/resignation-letter-formats-and-samples/family-illness/18/">Family Illness </a></li>
                       <li><a href="/cms/resignation-letter-formats-and-samples/3/"> View all </a></li>
                    </ul>
                 </div>
                 <div role="tabpanel" class="tab-pane" id="format3">
                    <ul>
                       <li><a href="/cms/cover-letter-format/freshers/8/">Freshers </a></li>
                       <li><a href="/cms/cover-letter-format/engineers/9/">Engineers </a></li>
                       <li><a href="/cms/cover-letter-format/7/"> View all </a></li>
                    </ul>
                 </div>
                 <div role="tabpanel" class="tab-pane" id="format4">
                    <ul>
                       <li><a href="/cms/resume-samples-and-templates/pharma/34/">Pharma </a></li>
                       <li><a href="/cms/resume-samples-and-templates/freshers-3/55/">Freshers </a></li>
                       <li><a href="/cms/resume-samples-and-templates/50/"> View all </a></li>
                    </ul>
                 </div>
                 <div role="tabpanel" class="tab-pane" id="format5">
                    <ul>
                       <li><a href="/cms/linkedin-summary-examples/hr-professional/36/"> HR Professionals </a></li>
                       <li><a href="/cms/linkedin-summary-examples/43/"> View all </a></li>
                    </ul>
                 </div>
                 <div role="tabpanel" class="tab-pane" id="format6">
                    <ul>
                       <li><a href="/article-categories/resume-tips/">Resume Tips </a></li>
                       <li><a href="/article-categories/job-alert/ "> Job Alert   </a></li>
                       <li><a href="/cms/relieving-letter-format/58/ "> Relieving Letter  </a></li>
                       <li><a href="/article-categories/job-search-guidance/ ">Job Search Guidance  </a></li>
                       <li><a href="/article-categories/general/ ">General  </a></li>
                       <li><a href="/article/">View all</a></li>
                    </ul>
                 </div>
              </div>
           </div>
        </li>
        <li class="ms-link">
          <a class="cls_eventtrack" href="/talenteconomy/" data-category="TELINK" data-action="Header" data-label="learing.shine"><span class="hidden-sm">Talent Economy</span></a>
        </li>
        <li class="ms-link">
          <a class="cls_eventtrack pr" href="/practice-tests/" data-category="" data-action="Header" data-label="learing.shine"><span class="hidden-sm">Practice Tests</span> <span class="new">New</span></a>
        </li>
<!--         <li class="ms-link">
          <a class="cls_eventtrack" href="/talenteconomy/" data-category="TELINK" data-action="Header" data-label="learing.shine"><span class="hidden-sm">Executive Course</span></a>
        </li> -->
      </ul>

      <ul class="nav navbar-nav navbar-right">
        <li class="dropdown searchbar-dropdown searchNavBar">
          <a class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false"><span class="search-icon"></span></a>
          <ul class="dropdown-menu">
            <li>
              <form action="" class="search searchNavBar cls_search">
                <input class="inputTags-list key_press_js_search form-control input-sm" data-selecttype="multiple"  maxlength="64" name="q" placeholder="Search" type="text" required="" autocomplete="off">
                <button type="submit" class="search-icon"></button>
              </form>
            </li>
          </ul>
        </li>
        <li class="dropdown call-dropdown">
          <a class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false"><span class="call-icon"></span></a>
          <ul class="dropdown-menu">
            <li><a class="text-center" href="tel:{{ggn_contact}}"><strong>Call us:</strong>{{ggn_contact_full}}</a></li>

          </ul>
        </li>
        <li>
          <a href="{% url "cart:payment-summary" %}"><span class="cart-icon"><span class="{% if cart_count %}cart-counter{% endif %}" id="cart-counter-id">{% if cart_count %}{{cart_count}}{% endif %}</span></span></a>
        </li>
        {% if request.session.candidate_id %}
        <li class="dropdown login-dropdown">
          <a class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false"><span class="loggedin-user"><img aria-label="user name" src="{% static 'shinelearn/images/user-loggedin.jpg' %}" align="user name"></span></a>

          <!--a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false"><span class="login-btn">{{request.session.email}}</span></a-->
          <ul class="dropdown-menu">
            <li><a href="{% url "dashboard:dashboard" %}">My Inbox</a></li>
            <li><a href="{% url "dashboard:dashboard-myorder" %}">My Orders</a></li>
            <li><a href="{% url "dashboard:dashboard-mywallet" %}">My Wallet</a></li>
            {% if roundone_user %}
            <li><a href="{% url "dashboard:roundone-dashboard" %}">Referrals</a></li>
            {% endif %}
            <li><a>{{request.session.email}}</a></li>
            <li><a onclick= "return clearLocalStorage();" href="{% url 'logout' %}">Logout</a></li>
          </ul>
        </li>
        {% else %}
        <li>
            <a href="{% url 'login' %}" ><span class="login-btn">Login</span></a>
        </li>
        <li>
          <a href="{% url 'register' %}" ><span class="login-btn">Register</span></a>
        </li>
        {% endif %}

      </ul>
    </div><!-- /.navbar-collapse -->
  </div><!-- /.container-fluid -->
</nav>

<script type="text/javascript">
  var productUrlSet = {{ product_url_set|safe }}
  var categoryUrlSet = {{ category_url_set|safe }}

    function clearLocalStorage(){
        localStorage.clear();
    }

</script>

