{% load static %}
<!-- top first navigation -->
<nav class="container-fluid padlr-0 shadow position-relative zindex" >

  {% if IS_MAINTENANCE %}
  <marquee> {{ MAINTENANCE_MESSAGE }} </marquee>
  {% endif %}
  <div class="container padlr-0">
    <div class="navbar navbar-expand-lg navbar-light padlr-0" itemscope itemtype="http://schema.org/Organization">
      <a  class="navbar-brand" aria-label="shinelearning.com" href="{% url 'homepage' %}" onclick="MyGA.SendEvent('logo_click', 'ln_logo_click', 'ln_logo_click', '{{meta.title}}','',false, true);trackClickEvent();"></a>
      <meta itemprop="name" content="Shine">
      <meta itemprop="url" content="https://learning.shine.com"/>
      <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <form action="/search/results/" class="form-inline my-2 my-lg-0 mr-auto">
            <input class="form-control search-box" type="search" placeholder="Search course, assesssment…" name="q" aria-label="Search" autocomplete="off">
            <button class="btn btn-outline-success my-2 my-sm-0 nav-pad" type="submit" onclick="MyGA.SendEvent('click_on_search','ln_click_on_search', 'ln_search_initiated_navigation', 'ln_click_on_search', 'click_on _search','', false, true);"><figure class="b4-icon-search mb-0"></figure></button>
        </form>
        <ul class="navbar-nav navbar-right">
          <li class="nav-item dropdown dropdown-jobs">
            <a class="nav-link" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false" onclick="MyGA.SendEvent('homepage_navigation','ln_homepage_navigation', 'ln_job_assisstance', 'ln_job_assisstance', '', false, true);trackClickEvent();">Job Assistance</a>
            <div class="dropdown-menu" aria-labelledby="navbarDropdown">
              <a onclick="MyGA.SendEvent('homepage_navigation','ln_homepage_navigation', 'ln_job_assisstance', 'ln_resume_writing', '', false, true);trackClickEvent();" class="dropdown-item" href="/services/resume-writing/63/">Resume Writing</a>
              <a onclick="MyGA.SendEvent('homepage_navigation','ln_homepage_navigation', 'ln_job_assisstance', 'ln_international_resume', '', false, true);trackClickEvent();" class="dropdown-item" href="/services/resume-services/entry-level-freshers-4/pd-2553">International Resume</a>
              <a onclick="MyGA.SendEvent('homepage_navigation','ln_homepage_navigation', 'ln_job_assisstance', 'ln_visual_resume', '', false, true);trackClickEvent();" class="dropdown-item" href="/services/resume-services/entry-level-freshers/pd-2052">Visual Resume</a>
              <a onclick="MyGA.SendEvent('homepage_navigation','ln_homepage_navigation', 'ln_job_assisstance', 'ln_jobs_on_the_move', '', false, true);trackClickEvent();" class="dropdown-item" href="https://learning.shine.com/services/professional-service/jobs-on-the-move-3/pd-3411">Jobs On The Move</a>
              <a onclick="MyGA.SendEvent('homepage_navigation','ln_homepage_navigation', 'ln_job_assisstance', 'ln_linkedin_profile', '', false, true);trackClickEvent();" class="dropdown-item" href="/services/linkedin-profile/180/">LinkedIn Profile</a>
              <a onclick="MyGA.SendEvent('homepage_navigation','ln_homepage_navigation', 'ln_job_assisstance', 'ln_feature_profile', '', false, true);trackClickEvent();" class="dropdown-item" href="/services/recruiter-connect/featured-profile-10/pd-1939">Featured Profile</a>
              <!-- <a onclick="trackClickEvent()" class="dropdown-item" href="/services/background-verification-2/employment-verification/pd-2618">Background Verification Services</a>
              <a onclick="trackClickEvent()" class="dropdown-item" href="/services/interview-preparation-3/job-interview-coaching-by-sarabjeet-sachar/pd-1284">Interview Preparation</a> -->
              <a onclick="MyGA.SendEvent('homepage_navigation','ln_homepage_navigation', 'ln_job_assisstance', 'ln_application_highlighter', '', false, true);trackClickEvent();" class="dropdown-item" href="/services/recruiter-connect/application-highlighter-3/pd-4117">Application Highlighter</a>
              <a onclick="MyGA.SendEvent('homepage_navigation','ln_homepage_navigation', 'ln_job_assisstance', 'ln_resume_score_checker', '', false, true);trackClickEvent();" class="dropdown-item" href="/resume-score-checker/">Resume Score Checker</a>
            </div>
          </li>
          <li class="nav-item">
            <a onclick="MyGA.SendEvent('homepage_navigation','ln_homepage_navigation', 'ln_practice_tests', 'ln_practice_tests', '', false, true);trackClickEvent();" class="nav-link" href="/practice-tests/">Practice Test</a>
          </li>
          <li class="nav-item dropdown dropdown-resources">
              <a  class="nav-link" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false" onclick="MyGA.SendEvent('homepage_navigation','ln_homepage_navigation', 'ln_free_resources', 'ln_free_resources', '', false, true);trackClickEvent();">Free Resources</a>
              <div class="dropdown-menu category-tab" aria-labelledby="navbarDropdown">
              <div class="resources-tab">
                  <ul class="nav nav-tabs" id="myTab" role="tablist">
                      <li class="nav-item">
                        <a onclick="MyGA.SendEvent('homepage_navigation','ln_homepage_navigation', 'ln_free_resources', 'ln_resume_formats', '', false, true);trackClickEvent();" class="nav-link active" id="resources-tab" data-toggle="tab" href="{{resume_shine_url}}/cms/resume-format/1/" data-target="#resources-links1" role="tab" aria-controls="resources-tab" aria-selected="true">Resume Formats</a>
                      </li>
                      <li class="nav-item">
                        <a onclick="MyGA.SendEvent('homepage_navigation','ln_homepage_navigation', 'ln_free_resources', 'ln_resignation_letter_formats', '', false, true);trackClickEvent();" class="nav-link" id="resources-tab" data-toggle="tab" href="{{resume_shine_url}}/cms/resignation-letter-formats-samples/3/" data-target="#resources-links2" role="tab" aria-controls="resources-tab" aria-selected="false">Resignation Letter Formats</a>
                      </li>
                      <li class="nav-item">
                        <a onclick="MyGA.SendEvent('homepage_navigation','ln_homepage_navigation', 'ln_free_resources', 'ln_cover_letter_formats', '', false, true);trackClickEvent();" class="nav-link" id="resources-tab" data-toggle="tab" href="{{resume_shine_url}}/cms/cover-letter-format/7/" data-target="#resources-links3" role="tab" aria-controls="resources-tab" aria-selected="false">Cover Letter Formats</a>
                      </li>
                      <li class="nav-item">
                        <a onclick="MyGA.SendEvent('homepage_navigation','ln_homepage_navigation', 'ln_free_resources', 'ln_resume_templates', '', false, true);trackClickEvent();" class="nav-link" id="resources-tab" data-toggle="tab" href="{{resume_shine_url}}/cms/resume-samples-and-templates/50/" data-target="#resources-links4" role="tab" aria-controls="resources-tab" aria-selected="false">Resume Templates</a>
                      </li>
                      <li class="nav-item">
                        <a onclick="MyGA.SendEvent('homepage_navigation','ln_homepage_navigation', 'ln_free_resources', 'ln_linked_summary_example', '', false, true);trackClickEvent();" class="nav-link" id="resources-tab" data-toggle="tab" href="{{resume_shine_url}}/cms/linkedin-summary-examples/43/" data-target="#resources-links5" role="tab" aria-controls="resources-tab" aria-selected="false">Linkedin Summary Example</a>
                      </li>
                      <li class="nav-item">
                        <a onclick="MyGA.SendEvent('homepage_navigation','ln_homepage_navigation', 'ln_free_resources', 'ln_relieving_letter', '', false, true);trackClickEvent();" class="nav-link" id="resources-tab" data-toggle="tab" href="{{resume_shine_url}}/cms/relieving-letter-format/58/" data-target="#resources-links6" role="tab" aria-controls="resources-tab" aria-selected="false">Relieving Letter</a>
                      </li>
                  </ul>
                  <div class="tab-content" id="myTabContent">
                      <div class="tab-pane fade show active" id="resources-links1" role="tabpanel" aria-labelledby="resources-tab">
                        <a onclick="MyGA.SendEvent('homepage_navigation','ln_homepage_navigation', 'ln_free_resources', 'ln_freshers', '', false, true);trackClickEvent();" href="{{resume_shine_url}}/cms/resume-format/freshers-2/2/">Freshers </a>
                        <a onclick="MyGA.SendEvent('homepage_navigation','ln_homepage_navigation', 'ln_free_resources', 'ln_banking_freshers', '', false, true);trackClickEvent();" href="{{resume_shine_url}}/cms/resume-format/banking-freshers/4/">Banking Freshers  </a>
                        <a onclick="MyGA.SendEvent('homepage_navigation','ln_homepage_navigation', 'ln_free_resources', 'ln_experience_professional', '', false, true);trackClickEvent();" href="{{resume_shine_url}}/cms/resume-format/experienced-professionals/6/">Experienced Professional   </a>
                        <a onclick="MyGA.SendEvent('homepage_navigation','ln_homepage_navigation', 'ln_free_resources', 'ln_engineers', '', false, true);trackClickEvent();" href="{{resume_shine_url}}/cms/resume-format/engineers-2/20/">Engineers   </a>
                        <a onclick="MyGA.SendEvent('homepage_navigation','ln_homepage_navigation', 'ln_free_resources', 'ln_IT', '', false, true);trackClickEvent();" href="{{resume_shine_url}}/cms/resume-format/it/53/">IT </a>
                        <a onclick="MyGA.SendEvent('homepage_navigation','ln_homepage_navigation', 'ln_free_resources', 'ln_view_all', '', false, true);trackClickEvent();" class="view-all-detail" href="{{resume_shine_url}}/cms/resume-format/1/ ">View all </a>
                      </div>
                      <div class="tab-pane fade" id="resources-links2" role="tabpanel" aria-labelledby="resources-tab">
                        <a onclick="MyGA.SendEvent('homepage_navigation','ln_homepage_navigation', 'ln_free_resources', 'ln_with_notice_period', '', false, true);trackClickEvent();" href="{{resume_shine_url}}/cms/resignation-letter-formats-samples/notice-period/5/">With Notice Period   </a>
                        <a onclick="MyGA.SendEvent('homepage_navigation','ln_homepage_navigation', 'ln_free_resources', 'ln_personal_reasons', '', false, true);trackClickEvent();" href="{{resume_shine_url}}/cms/resignation-letter-formats-samples/personal-reasons/15/">Personal Reasons  </a>
                        <a onclick="MyGA.SendEvent('homepage_navigation','ln_homepage_navigation', 'ln_free_resources', 'ln_higher_studies', '', false, true);trackClickEvent();" href="{{resume_shine_url}}/cms/resignation-letter-formats-samples/higher-studies-or-going-abroad/49/ ">Higher Studies </a>
                        <a onclick="MyGA.SendEvent('homepage_navigation','ln_homepage_navigation', 'ln_free_resources', 'ln_without_notice_period', '', false, true);trackClickEvent();" href="{{resume_shine_url}}/cms/resignation-letter-formats-samples/without-notice-period/17/">Without Notice Period   </a>
                        <a onclick="MyGA.SendEvent('homepage_navigation','ln_homepage_navigation', 'ln_free_resources', 'ln_family_illness', '', false, true);trackClickEvent();" href="{{resume_shine_url}}/cms/resignation-letter-formats-samples/family-illness/18/">Family Illness </a>
                        <a onclick="MyGA.SendEvent('homepage_navigation','ln_homepage_navigation', 'ln_free_resources', 'ln_view_all', '', false, true);trackClickEvent();" class="view-all-detail" href="{{resume_shine_url}}/cms/resignation-letter-formats-samples/3/"> View all </a>
                      </div>
                      <div class="tab-pane fade" id="resources-links3" role="tabpanel" aria-labelledby="resources-tab">
                        <a onclick="MyGA.SendEvent('homepage_navigation','ln_homepage_navigation', 'ln_free_resources', 'ln_freshers', '', false, true);trackClickEvent();" href="{{resume_shine_url}}/cms/cover-letter-format/freshers/8/">Freshers </a>
                        <a onclick="MyGA.SendEvent('homepage_navigation','ln_homepage_navigation', 'ln_free_resources', 'ln_engineers', '', false, true);trackClickEvent();" href="{{resume_shine_url}}/cms/cover-letter-format/engineers/9/">Engineers </a>
                        <a onclick="MyGA.SendEvent('homepage_navigation','ln_homepage_navigation', 'ln_free_resources', 'ln_view_all', '', false, true);trackClickEvent();" class="view-all-detail" href="{{resume_shine_url}}/cms/cover-letter-format/7/"> View all </a>
                      </div>
                      <div class="tab-pane fade" id="resources-links4" role="tabpanel" aria-labelledby="resources-tab">
                        <a onclick="MyGA.SendEvent('homepage_navigation','ln_homepage_navigation', 'ln_free_resources', 'ln_pharma', '', false, true);trackClickEvent();" href="{{resume_shine_url}}/cms/resume-samples-and-templates/pharma/34/">Pharma </a>
                        <a onclick="MyGA.SendEvent('homepage_navigation','ln_homepage_navigation', 'ln_free_resources', 'ln_freshers', '', false, true);trackClickEvent();" href="{{resume_shine_url}}/cms/resume-samples-and-templates/freshers-3/55/">Freshers </a>
                        <a onclick="MyGA.SendEvent('homepage_navigation','ln_homepage_navigation', 'ln_free_resources', 'ln_view_all', '', false, true);trackClickEvent();" class="view-all-detail" href="{{resume_shine_url}}/cms/resume-samples-and-templates/50/"> View all </a>
                      </div>
                      <div class="tab-pane fade" id="resources-links5" role="tabpanel" aria-labelledby="resources-tab">
                        <a onclick="MyGA.SendEvent('homepage_navigation','ln_homepage_navigation', 'ln_free_resources', 'ln_hr_professionals', '', false, true);trackClickEvent();" href="{{resume_shine_url}}/cms/linkedin-summary-examples/hr-professional/36/"> HR Professionals </a>
                        <a onclick="MyGA.SendEvent('homepage_navigation','ln_homepage_navigation', 'ln_free_resources', 'ln_view_all', '', false, true);trackClickEvent();" class="view-all-detail" href="{{resume_shine_url}}/cms/linkedin-summary-examples/43/"> View all </a>
                      </div>
                      <div class="tab-pane fade" id="resources-links6" role="tabpanel" aria-labelledby="resources-tab">
                        
                      </div>
                  </div>
              </div>
            </div>
          </li>
          <li class="nav-item">
              <a onclick="MyGA.SendEvent('homepage_navigation','ln_homepage_navigation', 'ln_blog', 'ln_blog', '', false, true);trackClickEvent();" class="nav-link" href="/talenteconomy/">Blog</a>
          </li>
          <li class="nav-item dropdown dropdown-call">
              <a class="nav-link link-ht" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                <figure class="b4-icon-call"></figure>
              </a>
              <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                <a class="dropdown-item"href="tel:{{ggn_contact}}" onclick="MyGA.SendEvent('header_icons','ln_header_icons', 'ln_call', 'tel:{{ggn_contact}}','', false, true)"><strong>Call us:</strong> {{ggn_contact_full}}</a>
              </div>
            </li>
            <li class="nav-item dropdown dropdown-user">
                <a class="nav-link link-ht" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false" onclick="MyGA.SendEvent('header_icons','ln_header_icons', 'ln_account', 'loggedin_account','', false, true)">
                  <figure class="b4-icon-user"></figure>
                </a>
                <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                  {% if request.session.candidate_id %}
                    <a onclick="MyGA.SendEvent('header_icons','ln_header_icons', 'ln_account', 'ln_my_inbox','', false, true);trackClickEvent();" class="dropdown-item" href="{% url "dashboard:dashboard" %}">My Inbox</a>
                    <a onclick="MyGA.SendEvent('header_icons','ln_header_icons', 'ln_account', 'ln_my_orders','', false, true);trackClickEvent();" class="dropdown-item" href="{% url "dashboard:dashboard-myorder" %}">My Orders</a>
                    <a onclick="MyGA.SendEvent('header_icons','ln_header_icons', 'ln_account', 'ln_my_wallet','', false, true);trackClickEvent();" class="dropdown-item" href="{% url "dashboard:dashboard-mywallet" %}">My Wallet</a>
                    <a onclick="MyGA.SendEvent('header_icons','ln_header_icons', 'ln_account', 'ln_my_referrals','', false, true);trackClickEvent();" class="dropdown-item" href="{% url "dashboard:roundone-dashboard" %}">My Referrals</a>
                    <a class="dropdown-item" href="#">{{request.session.email}}</a>
                    <div class="dropdown-divider"></div>
                    <a onclick="MyGA.SendEvent('header_icons','ln_header_icons', 'ln_account', 'ln_log_out','', false, true);trackClickEvent();" class="dropdown-item" onclick= "return clearLocalStorage();" href="{% url 'logout' %}">Logout</a>
                  {% else %}
                    <a class="dropdown-item" href="{% url 'login' %}" onclick="MyGA.SendEvent('header_icons','ln_header_icons', 'ln_login', 'login','', false, true)">Login</a>
                    <a class="dropdown-item" href="{% url 'register' %}" onclick="MyGA.SendEvent('header_icons','ln_header_icons', 'ln_register', 'register','', false, true)">Register</a>
                  {% endif %}
                </div>
              </li>
              <li class="nav-item position-relative">
                  {% if cart_count %}
                    <span class="counter">{{cart_count}}</span>
                  {% endif %}
                  <a onclick="MyGA.SendEvent('header_icons','ln_header_icons', 'ln_cart', 'cart','', false, true);trackClickEvent();" class="nav-link link-ht" href="{% url "cart:payment-summary" %}">
                    <figure class="b4-icon-cart"></figure>
                  </a>
              </li>
        </ul>
        
      </div>
    </div>
  </div>
</nav>
<!-- top first navigation end -->

<!-- top second navigation -->
<nav class="navbar-bg-light navbar navbar-expand-lg navbar-light">
  <div class="container">
    <div class="row">
      <ul class="navbar-nav" id=categories>
        <li class="nav-item dropdown dropdown-categories">
            <a  class="nav-link" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
              <span class="sm-txt">Explore</span></span>Categories
              <figure class="b4-icon-down"></figure>
            </a>
            <div class="dropdown-menu category-tab" aria-labelledby="navbarDropdown">
              <div class="categories-tab">
                  <ul class="nav nav-tabs" id="myTab" role="tablist">
                      <li class="nav-item">
                        <a onclick="MyGA.SendEvent('homepage_navigation','ln_homepage_navigation', 'ln_sales_marketing', '', '', false, true);trackClickEvent();" class="nav-link active" id="category-tab" data-toggle="tab" href="/courses/sales-and-marketing/17/" data-target="#tab-links1" role="tab" aria-controls="category-tab" aria-selected="true">Sales & Marketing</a>
                      </li>
                      <li class="nav-item">
                        <a onclick=" MyGA.SendEvent('homepage_navigation','ln_homepage_navigation', 'ln_operation_management', '', '', false, true);trackClickEvent();" class="nav-link" id="category-tab"  data-toggle="tab" href="/courses/operation-management/19/" data-target="#tab-links2" role="tab" aria-controls="category-tab" aria-selected="false">Operation Management</a>
                      </li>
                      <li class="nav-item">
                        <a onclick=" MyGA.SendEvent('homepage_navigation','ln_homepage_navigation', 'ln_banking_finance', '', '', false, true);trackClickEvent();" class="nav-link" id="category-tab" data-toggle="tab" href="/courses/banking-and-finance/20/" data-target="#tab-links3" role="tab" aria-controls="category-tab" aria-selected="false">Banking & Finance</a>
                      </li>
                      <li class="nav-item">
                        <a onclick=" MyGA.SendEvent('homepage_navigation','ln_homepage_navigation', 'ln_information_technology', '', '', false, true);trackClickEvent();" class="nav-link" id="category-tab"  data-toggle="tab" href="/courses/it-information-technology/22/" data-target="#tab-links4" role="tab" aria-controls="category-tab" aria-selected="false">Information Technology</a>
                      </li>
                      <li class="nav-item">
                        <a onclick=" MyGA.SendEvent('homepage_navigation','ln_homepage_navigation', 'ln_human_resources', '', '', false, true);trackClickEvent();" class="nav-link" id="category-tab"  data-toggle="tab" href="/courses/hr-human-resource/25/" data-target="#tab-links5" role="tab" aria-controls="category-tab" aria-selected="false">Human Resources</a>
                      </li>
                      <li class="nav-item">
                        <a onclick=" MyGA.SendEvent('homepage_navigation','ln_homepage_navigation', 'ln_management', '', '', false, true);trackClickEvent();" class="nav-link" id="category-tab"  data-toggle="tab" href="/courses/management/27/"  data-target="#tab-links6" role="tab" aria-controls="category-tab" aria-selected="false">Management</a>
                      </li>
                      <li class="nav-item">
                        <a onclick=" MyGA.SendEvent('homepage_navigation','ln_homepage_navigation', 'ln_mass_communication', '', '', false, true);trackClickEvent();" class="nav-link" id="category-tab"  data-toggle="tab" href="/courses/mass-communication/29/" data-target="#tab-links7" role="tab" aria-controls="category-tab" aria-selected="false">Mass Communication</a>
                      </li>
                      <li class="nav-item">
                        <a onclick=" MyGA.SendEvent('homepage_navigation','ln_homepage_navigation', 'ln_personal_development', '', '', false, true);trackClickEvent();" class="nav-link" id="category-tab"  href="/courses/personal-development/21/" data-toggle="tab" data-target="#tab-links8" role="tab" aria-controls="category-tab" aria-selected="false">Personal Development</a>
                      </li>
                      <li class="nav-item">
                        <a onclick=" MyGA.SendEvent('homepage_navigation','ln_homepage_navigation', 'ln_law', '', '', false, true);trackClickEvent();" class="nav-link" id="category-tab"  href="/courses/law/23/" data-toggle="tab" data-target="#tab-links9" role="tab" aria-controls="category-tab" aria-selected="false">Law</a>
                      </li>
                      <li class="nav-item">
                        <a onclick=" MyGA.SendEvent('homepage_navigation','ln_homepage_navigation', 'ln_course_catalogue', '', '', false, true);trackClickEvent();" class="nav-link" id="category-tab"  href="{% url "course-catalogoue" %}" data-toggle="tab" data-target="#tab-links10" role="tab" aria-controls="category-tab" aria-selected="false">Course Catalogue</a>
                      </li>
                  </ul>
                  <div class="tab-content" id="myTabContent">
                      <div class="tab-pane fade show active" id="tab-links1" role="tabpanel" aria-labelledby="category-tab">
                          <a onclick="MyGA.SendEvent('homepage_navigation','ln_navigation_explore', 'ln_sales_marketing', 'ln_Digital_marketing', '', false, true);trackClickEvent();" href="/courses/sales-and-marketing/digital-marketing/32/">Digital Marketing</a>
                          <a onclick="MyGA.SendEvent('homepage_navigation','ln_navigation_explore', 'ln_sales_marketing', 'ln_sales', '', false, true);trackClickEvent();" href="/courses/sales-and-marketing/sales/18/">Sales</a>
                          <a onclick="MyGA.SendEvent('homepage_navigation','ln_navigation_explore', 'ln_sales_marketing', 'ln_retail', '', false, true);trackClickEvent();" href="/courses/sales-and-marketing/retail/35/ ">  Retail </a>
                          <a onclick="MyGA.SendEvent('homepage_navigation','ln_navigation_explore', 'ln_sales_marketing', 'ln_product_marketing', '', false, true);trackClickEvent();" href="/courses/sales-and-marketing/product-marketing/24/">Product Marketing</a>
                          <a onclick="MyGA.SendEvent('homepage_navigation','ln_navigation_explore', 'ln_sales_marketing', 'ln_service_marketing', '', false, true);trackClickEvent();" href="/courses/sales-and-marketing/service-marketing/30/">Service Marketing</a>
                          <a onclick="MyGA.SendEvent('homepage_navigation','ln_navigation_explore', 'ln_sales_marketing', 'ln_view_all', '', false, true);trackClickEvent();" class="view-all-detail" href="/courses/sales-and-marketing/17/">View all products</a>
                      </div>
                      <div class="tab-pane fade" id="tab-links2" role="tabpanel" aria-labelledby="category-tab">
                          <a onclick="MyGA.SendEvent('homepage_navigation','ln_operation_management', 'ln_sales_marketing', 'ln_six_sigma', '', false, true);trackClickEvent();" href="/courses/operation-management/six-sigma/193/">Six Sigma</a>
                          <a onclick="MyGA.SendEvent('homepage_navigation','ln_operation_management', 'ln_sales_marketing', 'ln_project_management', '', false, true);trackClickEvent();" href="/courses/operation-management/project-management/123/">Project Management </a>
                          <a onclick="MyGA.SendEvent('homepage_navigation','ln_operation_management', 'ln_sales_marketing', 'ln_logistic_and_supplychain', '', false, true);trackClickEvent();" href="/courses/operation-management/logistics-and-supply-chain/135/">Logistic and Supply Chain</a>
                          <a onclick="MyGA.SendEvent('homepage_navigation','ln_operation_management', 'ln_sales_marketing', 'ln_service_quality', '', false, true);trackClickEvent();" href="/courses/operation-management/service-quality/316/">Service Quality</a>
                          <a onclick="MyGA.SendEvent('homepage_navigation','ln_operation_management', 'ln_sales_marketing', 'ln_production', '', false, true);trackClickEvent();" href="/courses/operation-management/production/39/">Production </a>
                          <a onclick="MyGA.SendEvent('homepage_navigation','ln_operation_management', 'ln_sales_marketing', 'ln_customer_care', '', false, true);trackClickEvent();" href="/courses/operation-management/customer-care/37/">Customer Care</a>
                          <a onclick="MyGA.SendEvent('homepage_navigation','ln_operation_management', 'ln_sales_marketing', 'ln_view_all', '', false, true);trackClickEvent();" class="view-all-detail" href="/courses/operation-management/19/">View all products</a>
                      </div>
                      <div class="tab-pane fade" id="tab-links3" role="tabpanel" aria-labelledby="category-tab">
                          <a onclick="MyGA.SendEvent('homepage_navigation','ln_navigation_explore', 'ln_banking_and_finance', 'ln_advanced_accounting', '', false, true);trackClickEvent();" href="/courses/banking-finance/advanced-accounting/114/">Advanced Accounting</a>
                          <a onclick="MyGA.SendEvent('homepage_navigation','ln_navigation_explore', 'ln_banking_and_finance', 'ln_banking', '', false, true);trackClickEvent();" href="/courses/banking-finance/banking/113/">Banking</a>
                          <a onclick="MyGA.SendEvent('homepage_navigation','ln_navigation_explore', 'ln_banking_and_finance', 'ln_risk_management', '', false, true);trackClickEvent();" href="/courses/banking-finance/risk-management/95/">Risk Management</a>
                          <a onclick="MyGA.SendEvent('homepage_navigation','ln_navigation_explore', 'ln_banking_and_finance', 'ln_stock_market_training', '', false, true);trackClickEvent();" href="/courses/banking-finance/stock-market-trading/94/">Stock Market Training</a>
                          <a onclick="MyGA.SendEvent('homepage_navigation','ln_navigation_explore', 'ln_banking_and_finance', 'ln_financial_reporting_and_management', '', false, true);trackClickEvent();" href="/courses/banking-finance/financial-reporting-and-management/103/">Finanacial Reporting and Management</a>
                          <a onclick="MyGA.SendEvent('homepage_navigation','ln_navigation_explore', 'ln_banking_and_finance', 'ln_commercial_operation', '', false, true);trackClickEvent();" href="/courses/banking-finance/commercial-operation/112/">Commercial Operation </a>
                          <a onclick="MyGA.SendEvent('homepage_navigation','ln_navigation_explore', 'ln_banking_and_finance', 'ln_investment_banking', '', false, true);trackClickEvent();" href="/courses/banking-finance/investment-banking/100/">Investment Banking </a>
                          <a onclick="MyGA.SendEvent('homepage_navigation','ln_navigation_explore', 'ln_banking_and_finance', 'ln_GST', '', false, true);trackClickEvent();" href="/courses/banking-finance/gst-2/507/">GST</a>
                          <a onclick="MyGA.SendEvent('homepage_navigation','ln_navigation_explore', 'ln_banking_and_finance', 'ln_view_all', '', false, true);trackClickEvent();" class="view-all-detail" href="/courses/banking-and-finance/20/">View all products</a>
                      </div>
                      <div class="tab-pane fade" id="tab-links4" role="tabpanel" aria-labelledby="category-tab">
                          <a onclick="MyGA.SendEvent('homepage_navigation','ln_navigation_explore', 'ln_information_technology', 'ln_big_data', '', false, true);trackClickEvent();" href="/courses/it-information-technology/big-data/84/">Big Data </a>
                          <a onclick="MyGA.SendEvent('homepage_navigation','ln_navigation_explore', 'ln_information_technology', 'ln_project_management', '', false, true);trackClickEvent();" href="/courses/operation-management/project-management/123/">Project Management </a>
                          <a onclick="MyGA.SendEvent('homepage_navigation','ln_navigation_explore', 'ln_information_technology', 'ln_it_software', '', false, true);trackClickEvent();" href="/courses/it-information-technology/it-software/53/">IT Software</a>
                          <a onclick="MyGA.SendEvent('homepage_navigation','ln_navigation_explore', 'ln_information_technology', 'ln_graphic_design', '', false, true);trackClickEvent();" href="/courses/it-information-technology/graphic-design/54/">Graphic Design </a>
                          <a onclick="MyGA.SendEvent('homepage_navigation','ln_navigation_explore', 'ln_information_technology', 'ln_cloud_computing', '', false, true);trackClickEvent();" href="/courses/it-information-technology/cloud-computing/82/">Cloud Computing</a>
                          <a onclick="MyGA.SendEvent('homepage_navigation','ln_navigation_explore', 'ln_information_technology', 'ln_ms_skills', '', false, true);trackClickEvent();" href="/courses/it-information-technology/ms-skills/98/">MS Skills</a>
                          <a onclick="MyGA.SendEvent('homepage_navigation','ln_navigation_explore', 'ln_information_technology', 'ln_it_langauge', '', false, true);trackClickEvent();" href="/courses/it-information-technology/it-language/80/">IT Language</a>
                          <a onclick="MyGA.SendEvent('homepage_navigation','ln_navigation_explore', 'ln_information_technology', 'ln_blockchain', '', false, true);trackClickEvent();" href="/courses/it-information-technology/blockchain/496/">Blockchain</a>
                          <a onclick="MyGA.SendEvent('homepage_navigation','ln_navigation_explore', 'ln_information_technology', 'ln_datascience', '', false, true);trackClickEvent();" href="/courses/it-information-technology/data-science/497/">Data Science</a>
                          <a onclick="MyGA.SendEvent('homepage_navigation','ln_navigation_explore', 'ln_information_technology', 'ln_view_all', '', false, true);trackClickEvent();" class="view-all-detail" href="/courses/it-information-technology/22/">View all products</a>
                      </div>
                      <div class="tab-pane fade" id="tab-links5" role="tabpanel" aria-labelledby="category-tab">
                          <a onclick="MyGA.SendEvent('homepage_navigation','ln_navigation_explore', 'ln_human_resources', 'ln_talent_acquistion', '', false, true);trackClickEvent();" href="/courses/hr-human-resource/talent-acquisition/93/">Talent Aquistion </a>
                          <a onclick="MyGA.SendEvent('homepage_navigation','ln_navigation_explore', 'ln_human_resources', 'ln_organisational_structure', '', false, true);trackClickEvent();" href="/courses/hr-human-resource/organizational-structure/97/">Organizational Structure </a>
                          <a onclick="MyGA.SendEvent('homepage_navigation','ln_navigation_explore', 'ln_human_resources', 'ln_training_and_development', '', false, true);trackClickEvent();" href="/courses/hr-human-resource/training-and-development/91/">Training & Development </a>
                          <a onclick="MyGA.SendEvent('homepage_navigation','ln_navigation_explore', 'ln_human_resources', 'ln_compensation', '', false, true);trackClickEvent();" href="/courses/hr-human-resource/compensation-2/110/">Compensation </a>
                          <a onclick="MyGA.SendEvent('homepage_navigation','ln_navigation_explore', 'ln_human_resources', 'ln_view_all', '', false, true);trackClickEvent();" class="view-all-detail" href="/courses/hr-human-resource/25/">View all products</a>
                      </div>
                      <div class="tab-pane fade" id="tab-links6" role="tabpanel" aria-labelledby="category-tab">
                          <a onclick="MyGA.SendEvent('homepage_navigation','ln_navigation_explore', 'ln_management', 'ln_general_management', '', false, true);trackClickEvent();" href="/courses/management/general-management/102/">General Management </a>
                          <a onclick="MyGA.SendEvent('homepage_navigation','ln_navigation_explore', 'ln_management', 'ln_business_analyst', '', false, true);trackClickEvent();" href="/courses/management/business-analyst/58/">Business Analyst </a>
                          <a onclick="MyGA.SendEvent('homepage_navigation','ln_navigation_explore', 'ln_management', 'ln_corporate_governance', '', false, true);trackClickEvent();" href="/courses/management/corporate-governance/59/">Corporate Governance </a>
                          <a onclick="MyGA.SendEvent('homepage_navigation','ln_navigation_explore', 'ln_management', 'ln_view_all', '', false, true);trackClickEvent();" class="view-all-detail" href="/courses/management/27/">View all products</a>
                      </div>
                      <div class="tab-pane fade" id="tab-links7" role="tabpanel" aria-labelledby="category-tab">
                          <a onclick="MyGA.SendEvent('homepage_navigation','ln_navigation_explore', 'ln_mass_communication', 'ln_content', '', false, true);trackClickEvent();" href="/courses/mass-communication/content/46/">Content</a>
                          <a onclick="MyGA.SendEvent('homepage_navigation','ln_navigation_explore', 'ln_public_relations', 'ln_content', '', false, true);trackClickEvent();" href="/courses/mass-communication/public-relations/96/">Public Relations </a>
                          <a onclick="MyGA.SendEvent('homepage_navigation','ln_navigation_explore', 'ln_mass_communication', 'ln_editor', '', false, true);trackClickEvent();" href="/courses/mass-communication/editor/106/">Editor </a>
                          <a onclick="MyGA.SendEvent('homepage_navigation','ln_navigation_explore', 'ln_mass_communication', 'ln_journalism', '', false, true);trackClickEvent();" href="/courses/mass-communication/journalism/99/">Journalism </a>
                          <a onclick="MyGA.SendEvent('homepage_navigation','ln_navigation_explore', 'ln_mass_communication', 'ln_view_all', '', false, true);trackClickEvent();" class="view-all-detail" tabindex="-1" href="/courses/mass-communication/29/">View all products</a>
                      </div>
                      <div class="tab-pane fade" id="tab-links8" role="tabpanel" aria-labelledby="category-tab">
                          <a onclick="MyGA.SendEvent('homepage_navigation','ln_navigation_explore', 'ln_personal_development', 'ln_language_learning', '', false, true);trackClickEvent();" href="/courses/personal-development/language-learning/40/">Language Learning</a>
                          <a onclick="MyGA.SendEvent('homepage_navigation','ln_navigation_explore', 'ln_personal_development', 'ln_leadership', '', false, true);trackClickEvent();" href="/courses/personal-development/leadership/41/">Leadership </a>
                          <a onclick="MyGA.SendEvent('homepage_navigation','ln_navigation_explore', 'ln_personal_development', 'ln_personality_development', '', false, true);trackClickEvent();" href="/courses/personal-development/personality-development/42/">Personality Development</a>
                          <a onclick="MyGA.SendEvent('homepage_navigation','ln_navigation_explore', 'ln_personal_development', 'ln_interview_preparation', '', false, true);trackClickEvent();" href="/courses/personal-development/interview-preparation/38/">Interview Preparation</a>
                          <a onclick="MyGA.SendEvent('homepage_navigation','ln_navigation_explore', 'ln_personal_development', 'ln_communication_develpoment', '', false, true);trackClickEvent();" href="/courses/personal-development/communication-development/36/">Communication Development</a>
                          <a onclick="MyGA.SendEvent('homepage_navigation','ln_navigation_explore', 'ln_personal_development', 'ln_view_all', '', false, true);trackClickEvent();" class="view-all-detail" tabindex="-1" href="/courses/personal-development/21/">View all products</a>
                      </div>
                      <div class="tab-pane fade" id="tab-links9" role="tabpanel" aria-labelledby="category-tab">
                            <a onclick="MyGA.SendEvent('homepage_navigation','ln_navigation_explore', 'ln_law', 'ln_cyber_law', '', false, true);trackClickEvent();" href="/courses/law/cyber-law/107/">Cyber Law</a>
                            <a onclick="MyGA.SendEvent('homepage_navigation','ln_navigation_explore', 'ln_law', 'ln_criminal_law', '', false, true);trackClickEvent();" href="/courses/law/criminal-law/108/">Criminal Law </a>
                            <a onclick="MyGA.SendEvent('homepage_navigation','ln_navigation_explore', 'ln_law', 'ln_company_law', '', false, true);trackClickEvent();" href="/courses/law/company-law/111/">Company Law</a>
                            <a onclick="MyGA.SendEvent('homepage_navigation','ln_navigation_explore', 'ln_law', 'ln_view_all', '', false, true);trackClickEvent();" class="view-all-detail" tabindex="-1" href="/courses/law/23/">View all products</a>
                      </div>
                      <div class="tab-pane fade" id="tab-links10" role="tabpanel" aria-labelledby="category-tab">
                          <a onclick="MyGA.SendEvent('homepage_navigation','ln_navigation_explore', 'ln_navigation_explore', 'ln_course_catalogue', '', false, true);trackClickEvent();" href="{% url 'course-catalogoue' %}">Course Catalogue</a>
                      </div>
                  </div>
              </div>
            </div>
        </li>
        <li class="nav-item">
          <a onclick="MyGA.SendEvent('navigation_menu','ln_navigation_menu', 'ln_digital_marketing_navigation', 'ln_digital_marketing', '', false, true);trackClickEvent();" class="nav-link" href="/courses/sales-and-marketing/digital-marketing/32/">Digital Marketing</a>
        </li>
        <li class="nav-item">
          <a onclick="MyGA.SendEvent('navigation_menu','ln_navigation_menu', 'ln_digital_marketing_navigation', 'ln_six_sigma', '', false, true);trackClickEvent();" class="nav-link" href="/courses/operation-management/six-sigma/193/">Six Sigma</a>
        </li>
        <li class="nav-item">
          <a onclick="MyGA.SendEvent('navigation_menu','ln_navigation_menu', 'ln_digital_marketing_navigation', 'ln_project_management', '', false, true);trackClickEvent();" class="nav-link" href="/courses/operation-management/project-management/123/">Project Management</a>
        </li>
        <li class="nav-item">
          <a onclick="MyGA.SendEvent('navigation_menu','ln_navigation_menu', 'ln_digital_marketing_navigation', 'ln_big_data', '', false, true);trackClickEvent();" class="nav-link" href="/courses/it-information-technology/big-data/84/">Big Data</a>
        </li>
        <li class="nav-item">
          <a onclick="MyGA.SendEvent('navigation_menu','ln_navigation_menu', 'ln_digital_marketing_navigation', 'ln_it_software', '', false, true);trackClickEvent();" class="nav-link" href="/courses/it-information-technology/it-software/53/">IT Software</a>
        </li>
        <!-- <li class="nav-item">
          <a onclick="trackClickEvent()" class="nav-link" href="/courses/management/general-management/102/">General Management</a>
        </li> -->
        <li class="nav-item">
          <a onclick="MyGA.SendEvent('navigation_menu','ln_navigation_menu', 'ln_datascience_navigation', 'ln_datascience', '', false, true);trackClickEvent();" class="nav-link" href="/courses/it-information-technology/data-science/497/">Data Science</a>
        </li>
        <li class="nav-item">
          <a onclick="MyGA.SendEvent('navigation_menu','ln_navigation_menu', 'ln_cloud_computing', 'ln_cloud_computing', '', false, true);trackClickEvent();" class="nav-link" href="/courses/it-information-technology/cloud-computing/82/">Cloud Computing</a>
        </li>
        {% if navlink_1 %}
            <li class="nav-item">
              <a class="nav-link" href="{{navlink_1.skill_page_url}}" onclick="MyGA.SendEvent('navigation_menu','ln_navigation_menu', 'ln_{{navlink_1.display_name}}', 'ln_{{navlink_1.display_name}}', '', false, true);nav1_gaEvent();">{{navlink_1.display_name}}{% if navlink_1.tag %}<small class="config-tag">{{navlink_1.tag}}</small>{% endif %}</a>
            </li>
          {% endif %}
          {% if navlink_2 %}
            <li class="nav-item">
              <a class="nav-link" href="{{navlink_2.skill_page_url}}" onclick="nav2_gaEvent();MyGA.SendEvent('navigation_menu','ln_navigation_menu', 'ln_{{navlink_2.display_name}}', 'ln_{{navlink_2.display_name}}', '', false, true);nav1_gaEvent();">{{navlink_2.display_name}}{% if navlink_2.tag %}<small class="config-tag">{{navlink_2.tag}}</small>{% endif %}</a>
            </li>
          {% endif %}

      </ul>
      <span class="pull-right mt-10" data-toggle="modal" data-target="#offerModal"><i class="offer-icon"></i></span>
    </div>
  </div>
</nav>
<!-- top second navigation end -->