{% extends "console/base_console.html" %}
{% load static compress %}
{% load humanize %}
{% load thumbnail %}

{% block title %}
  <title>History Welcomecall- Shine Learning</title>
{% endblock title %}

{% block css_block %}
    {{block.super}}
{% endblock css_block %}



{% block pagecontent %}
<!-- page content -->
<div class="right_col" role="main">
  <div class="">
    <div class="page-title">
      <div class="title_left">
        <h3>History Welcome Call Operation</h3>
      </div>

    </div>

    <div class="row">
      <div class="col-md-12 col-sm-12 col-xs-12">
        {% if messages %}
            {% for message in messages %}

              <div{% if message.tags %} class="alert alert-{{ message.tags }} alert-dismissable"{% endif %}>
              <button type="button" class="close" data-dismiss="alert" aria-hidden="true">&times;</button>

              {{ message }}
              </div>
            {% endfor %}
        {% endif %}

      </div>
    </div>

    <div class="clearfix"></div>
    {% if order %}
    <div class="row">
       <div class="col-md-12 col-sm-12 col-xs-12">
        <div class="x_panel">
          <div class="x_title">
            <h2>Order Details</h2>
            <ul class="nav navbar-right panel_toolbox">
              <li><a class="collapse-link"><i class="fa fa-chevron-up"></i></a>
              </li>
            </ul>
            <div class="clearfix"></div>
          </div>

          <div class="x_content">
            <div class="table-responsive">
              <table class="table table-striped jambo_table bulk_action">
                <thead>
                  <tr class="headings">
                    <th class="column-title">#OrderNumber</th>
                    <th class="column-title">Email</th>
                    <th class="column-title">Mobile</th>
                    <th class="column-title">Name</th>
                    <th class="column-title">Follow Up</th>
                    <th class="column-title">Category</th>
                    <th class="column-title">Sub Category</th>
                    <th class="column-title">Op Status</th>
                    <th class="column-title">Order Status</th>
                    <th class="column-title">Currency</th>
                    <th class="column-title">Payment Date</th>
                    <th class="column-title">Order Details</th>
                  </tr>
                </thead>

                <tbody>
                    <tr class="even pointer">
                      <td>{{order.number}}</td>
                  <td>
                    <div id="email{{order.id}}">
                      <div id="email_field{{order.id}}_1"></div>
                    </div>
                    <div>
                      <button type="button" class="btn btn-primary btn-xs" onclick="order_get_details('{{order.id}}','email,alt_email','email');"><i class="fa fa-search" aria-hidden="true"></i>ClickToView</button>
                    </div>
                  </td>
                  <td>
                    <div id="mobile{{order.id}}" style="display: -moz-inline-stack;">
                      <div id="mobile_field{{order.id}}_1"></div>
                    </div>
                      {% if exoitel_status%}
                      <button id="{{order.id}}callingBtn" class="fa fa-phone-square" style="font-size:30px;color:orange;border-width:0px;background:transparent;" type="button" title = "click to call" onclick="makeCallBtn({{order.id}});"></button>
                      <span style="height:100px; overflow-y: auto; overflow-x: hidden;" id="{{order.id}}callingbtn-error"></span>
                      {% endif %}
                    <button type="button" onclick="order_get_details('{{order.id}}','mobile,alt_mobile','mobile');" class="btn btn-primary btn-xs"><i class="fa fa-phone-square" aria-hidden="true"></i> ClickToView</button>
                  </td>
                      <td>{{order.first_name}} {{order.last_name}}</td>
                      <td>
                        {% if order.wc_follow_up %}
                          {{order.wc_follow_up}}
                        {% endif %}
                      </td>
                      <td>{{order.get_wc_cat}}</td>
                      <td>{{order.get_wc_sub_cat}}</td>
                      <td>{{order.get_wc_status}}</td>
                      <td>{{order.get_status}}</td>
                      <td>{{order.get_currency}}</td>
                      <td>{{order.payment_date}}</td>
                      <td><a target="_blank" href="{% url "console:order-detail" order.pk %}"><button type="button" class="btn btn-success btn-xs"><i class="fa fa-eye"></i>Order Details</button></a></td>
                    </tr>
                </tbody>
              </table>
            </div>
          </div>
        </div>
      </div>

      <div class="col-md-12 col-sm-12 col-xs-12">
        <div class="x_panel">
          <div class="x_title">
            <h2>Order items</h2>
            <ul class="nav navbar-right panel_toolbox">
              <li><a class="collapse-link"><i class="fa fa-chevron-up"></i></a>
              </li>
            </ul>
            <div class="clearfix"></div>
          </div>

          <div class="x_content">
          
            <div class="table-responsive">
              <table class="table table-striped jambo_table">
                <thead>
                  <tr class="headings">
                    <th class="column-title">Item Id</th>
                    <th class="column-title">Item Name</th>
                    <th class="column-title">Sub-Category</th>
                    <th class="column-title">Status</th>
                  </tr>
                </thead>
                <tbody>
                    {% for data in orderitems %}
                    {% with oi=data.oi combos=data.combos %}
                        <tr class="even pointer">
                          <td>{{oi.id}}</td>
                          <td>
                              {% if oi.parent and oi.is_variation %}
                                <strong>{{oi.parent.product.get_name}}{% if oi.parent.product.get_exp_db %} - Exp: {{oi.parent.product.get_exp_db}}{% endif %}:</strong><br/>
                              {% endif %}
                                  {{oi.product.get_name}}<br/>

                              {%if oi.product.get_exp_db %}
                                  <strong>Exp:</strong> {{oi.product.get_exp_db}}<br/>
                              {% endif %}
                              
                              {% if combos %}
                                   <br>
                                   <h3>This Package includes:</h3>
                                  {% for combo in combos %}
                                      {{combo.product.name}}<br/>
                                  {% endfor %}
                              {% endif %}
                          </td>
                          <td>{{oi.get_wc_sub_cat}}</td>
                          <td>{{oi.get_wc_status}}</td>
                        </tr>    
                    {% endwith %}
                  {% endfor %}
                </tbody>
              </table>
            </div>

          </div>
        </div>
      </div>

      <div class="col-md-12 col-sm-12 col-xs-12">
        <div class="x_panel">
          <div class="x_title">
            <h2>Operations</h2>
            <ul class="nav navbar-right panel_toolbox">
              <li><a class="collapse-link"><i class="fa fa-chevron-up"></i></a>
              </li>
            </ul>
            <div class="clearfix"></div>
          </div>
          
          <div class="x_content">
            <ul class="list-unstyled timeline">

              {% for op in ops %}
              <li>
                <div class="block">
                  <div class="tags">
                    <a href="" class="tag">
                      <span>operation</span>
                    </a>
                  </div>
                  <div class="block_content">
                    <h2 class="title">
                        Category: {{op.get_wc_cat}}          
                    </h2>
                    <h2>
                        Sub-Category: {{op.get_wc_sub_cat}}
                    </h2>

                    <h2>
                        Assigned To: {{op.assigned_to}}
                    </h2>

                    <h2>
                        Created By: {{op.created_by}}
                    </h2>

                    <p class="excerpt">Message: {{op.message}}</a>
                    <div class="byline">
                      Created On : {{op.created}}
                    </div>
                    </p>
                  </div>
                </div>
              </li>
              {% endfor %}
              
            </ul>

          </div>
        </div>
      </div>

    </div>
    {% endif %}
  </div>
</div>
<!-- /page content -->


{% endblock pagecontent %}

        
{% block js_block %}
  {{ block.super }}
 <script type="text/javascript" src = "{% static 'console/js/order-info.js' %}"></script>

{% endblock js_block %}
