[class^="micon-"] {
  text-indent: 200%;
  overflow: hidden;
  white-space: nowrap;
}

.micon-round-arrow {
  background: $sprite;
  @include icon-inblock(27px, 27px, 0 0);
}

.micon-choose1 {
  background: $sprite;
  @include icon-inblock(44px, 36px, -43px 0);
}

.micon-choose2 {
  background: $sprite;
  @include icon-inblock(44px, 30px, -99px -1px);
}

.micon-choose3 {
  background: $sprite;
  @include icon-inblock(44px, 37px, -159px 0);
}

.micon-choose4 {
  background: $sprite;
  @include icon-inblock(44px, 37px, -216px 0);
}

.micon-choose5 {
  background: $sprite;
  @include icon-inblock(44px, 32px, -269px -1px);
}

.micon-choose6 {
  background: $sprite;
  @include icon-inblock(44px, 33px, -326px 0);
}

.micon-fullstar {
  background: $sprite;
  @include icon-inblock(11px, 10px, -466px -24px);
}

.micon-blankstar {
  background: $sprite;
  @include icon-inblock(11px, 10px, -484px -24px);
}

.micon-halfstar {
  background: $sprite;
  @include icon-inblock(11px, 10px, -475px -37px);
}

.micon-pdf {
  background: $sprite;
  @include icon-inblock(15px, 20px, -476px 0);
}

.micon-enquiry {
  background: $sprite;
  @include icon-inblock(19px, 22px, -501px 0);
}

.micon-callus {
  background: $sprite;
  @include icon-inblock(19px, 19px, -530px 0);
}

.micon-whatsapp {
  background: $sprite;
  @include icon-inblock(21px, 21px, -559px 0);
}

.micon-chat {
  background: $sprite;
  @include icon-inblock(20px, 20px, -588px 0);
}

.micon-facebook {
  background: $sprite;
  @include icon-inblock(13px, 24px, -618px 0);
}

.micon-linkedin {
  background: $sprite;
  @include icon-inblock(25px, 23px, -641px 0);
}

.micon-twitter {
  background: $sprite;
  @include icon-inblock(24px, 20px, -676px 0);
}

.micon-search {
  background: $sprite;
  @include icon-inblock(18px, 18px, -382px -1px);
}

.micon-cart {
  background: $sprite;
  @include icon-inblock(20px, 20px, -410px -1px);
}

.m-skill-banner-bg {
  background: url('#{$path}/skill-header-bg.png') no-repeat 0 0;
  background-size: cover;
}

.micon-home {
  background: $sprite;
  @include icon-inblock(17px, 19px, -52px -48px);
}

.micon-resume-service {
  background: $sprite;
  @include icon-inblock(18px, 17px, -94px -48px);
}

.micon-linkedin-service {
  background: $sprite;
  @include icon-inblock(17px, 19px, -132px -48px);
}

.micon-recruiter-service {
  background: $sprite;
  @include icon-inblock(21px, 22px, -169px -48px);
}

.micon-free-resources {
  background: $sprite;
  @include icon-inblock(21px, 21px, -211px -48px);
}

.micon-other-services {
  background: $sprite;
  @include icon-inblock(19px, 18px, -252px -48px);
}

.micon-courses-services {
  background: $sprite;
  @include icon-inblock(20px, 18px, -292px -48px);
}

.micon-blog-services {
  background: $sprite;
  @include icon-inblock(21px, 20px, -331px -48px);
}

.micon-arrow-menusm {
  background: $sprite;
  @include icon-inblock(7px, 13px, -388px -27px);
}

.micon-back-menu-white {
  background: $sprite;
  @include icon-inblock(18px, 19px, -378px -49px);
}

.micon-voice-search {
  background: $sprite;
  @include icon-inblock(36px, 36px, -663px -33px);
}

.micon-voice-search {
  background: $sprite;
  @include icon-inblock(36px, 36px, -663px -33px);
}

.micon-search-black {
  background: $sprite;
  @include icon-inblock(18px, 18px, -636px -36px);
}

.micon-close-white {
  background: $sprite;
  @include icon-inblock(16px, 16px, -581px -38px);
}