.m-heading1 {
    font-size: 2.4rem;
    color: $gray-100;
    font-weight: 700;
    display: block;
    line-height: 2.2rem;
}

.m-heading2 {
    font-size: 1.8rem;
    color: $gray-100;
    font-weight: 700;
    display: block;
    line-height: 2rem;
    margin: 0 0 2rem 0;
}

.m-heading3 {
    font-size: 1.6rem;
    color: $gray-100;
    font-weight: 700;
    margin: 0;
}

.text-center {
    text-align: center;
}