{% extends "hrinsider/base.html" %}
{% load static humanize thumbnail compress %}
{% block django_meta %}
        {% include 'meta/meta.html' %}
    {%  endblock django_meta %}
    {% block canonical_url %}
      <link rel="canonical" href="//{{ SITE_DOMAIN }}{{ object.get_absolute_url }}">
      {% comment %} <link rel="alternate" href="//{{ MOBILE_SITE_DOMAIN }}{{ object.get_absolute_url }}"> {% endcomment %}
    {% endblock canonical_url %}

     {% block title %}
       {{object.display_name}} Career Articles | Shine Learning
    {% endblock title %}

    {% block css_section %}
        {{block.super}}
        {% compress css %}
        <link type="text/scss" href="{% static 'shinelearn/css/mobile/hr-insider/blog.scss' %}" rel="stylesheet">
        <link type="text/scss" href="{% static 'shinelearn/css/mobile/hr-insider/slick.scss' %}" rel="stylesheet">
        {% endcompress %}
    {% endblock css_section %}

    {% block container %}

    {% if top_article_list %}
    <!-- Trending articles Starts here -->
    <div class="trending-articles">
      <ul class="article-slider">
          {% if top_article_list.0 %}
            {% include './include/bannerbox.tmpl.html' with articlelist=top_article_list.0 %}
          {% endif %}
          {% if top_article_list.1 %}
            {% include './include/bannerbox.tmpl.html' with articlelist=top_article_list.1 %}
          {% endif %}
          {% if top_article_list.2 %}
            {% include './include/bannerbox.tmpl.html' with articlelist=top_article_list.2 %}
          {% endif %}
      </ul>
    </div><!-- Trending articles Ends here -->
    {% endif %}


    <!-- box panel starts here -->
    <div class="content-box" itemscope itemtype="https://schema.org/ItemList">
      <h1 class="primary-heading">Recently Added</h1>
      <ul class="article-list" id="hr-listing-container">
        {{article_list}}
      <ul>
    </div>
    <!-- box panel ends here -->

    {% include './include/authorSlide.tmpl.html' with authors=authors %}

    {% include './include/contact-info.html' %}
    
    {% endblock container %}

    {% block js_section %}
      {{block.super}}
      {% compress js %}
        <script type="text/javascript" src="{% static "packages/parsleyjs/parsley.min.js" %}"></script>

        <script src="{% static "shinelearn/js/hrinsider/hr-blog.js" %}"></script>
      {% endcompress %}
    {% endblock js_section %}