@import '../../../../styles/functions';
@import '../../../../styles/variables';




.loader-page {
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.7);
  display: block;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  margin: auto;
  z-index: 10999;
  padding: 0;
  display: flex;
  align-items: center;
  justify-content: center;
}

.loader-img {
    display: inline-table;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    margin: auto;
    width: 85px;
    font-size: 1.6rem;
    color: $white;
    line-height: 2rem;
}


.please-wait{
  width:100px;
}