/* http://meyerweb.com/eric/tools/css/reset/
   v2.0-modified | 20110126
   License: none (public domain)
*/
@import '../styles/variables/vars.scss';


* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  -webkit-overflow-scrolling: touch;
  -moz-overflow-scrolling: touch;
}

// html, body {
//     position: fixed;
//     width: 100%;
// }

html {
  font-size: 62.5%;
}

body {
  font-size: 1.6rem;
  background-color: $white;
  color: $grey-666;
  line-height: 1.4;
  font-family: 'Open Sans', sans-serif;
  height: 100vh;
}

a {
  color: $blue;
  text-decoration: none;
}


.swal2-container {
  z-index: 10000;
}