/*Main-Colors*/
$primary: #ff0000; //---heading with 40% opacity
$link: #0acade;
$white: #ffffff;
$black: #333333;
$grey1: #eaeaea;
$grey2: #efefef;
$txt1: #666666;
$blue1: #3E6EB8;
$border1: #ebebeb;
$orange: #FCA508;
$red: #ff0000;

$sprite: url(/images/sprite.svg);

%icon-block {
	width: 60px;
	height: 60px;
	background-color: $blue1;
}



