/*Main-Colors*/
$blue-dark      : #2A3C86;
$blue           : #3E6EB8;
$purple         : #6C66D7;
$orange         : #FCA508;
$white          : #ffffff;
$black          : #000;

$border1        : #ebebeb;


// Grey shades
$grey-light     : #eaeaea;
$grey-lightest  :#ebebeb;
$grey-bar        : #F0F0F0;
$grey-a7        : #A7A7A8;
$grey-ec        : #CECECE;
$grey-333       : #333333;
$grey-666       : #666666;
$grey-999       : #999999;
$grey-f2        : #f2f2f2;


$theme-green: #639F59;
$theme-blue: #4D7BA7;
$theme-red: #D95B5B;
$theme-black: #000000;
$theme-brown: #C6A828;
$theme-violet: #7C39CA;

$path: "/media/static/react/assets/images/mobile";
$sprite: $path + '/sprite.svg';



// Shadow
$box-shadow-light : rgba($black, .2);

