@import '../../path';
@import '../library/variables';
@import '../library/mixin';

.amcat-certification {
	margin: 0;
	overflow: hidden;
	padding-bottom: 10px;
}

.amcat-box {
	margin-top: 20px;
}

.amcat-tags {

	a {
		padding: 10px;
		color: #333;
		font-size: $font-size;
		background-color: #ececec;
		border-radius: 20px;
		padding: 7px 20px;
		margin: 0 5px 15px 5px;

		&.selected {
			background-color: #dee9f9;
		}
	}

	.slide-container {
		overflow: inherit;
	}
}
