.input-group .form-control, .input-group-addon, .input-group-btn {
  display: table-cell; }

.input-group-addon, .input-group-btn {
  vertical-align: middle;
  white-space: nowrap;
  width: 1%; }

/* current element like this */
/* Share Button Start From Here */
.share-wrap {
  position: fixed;
  bottom: 15px;
  right: 15px;
  display: block;
  z-index: 99; }
  .share-wrap #share-icon {
    display: none; }
  .share-wrap .share-bg a {
    background-color: #fff; }
  .share-wrap .fb-bg a {
    background-color: #3b5896; }
  .share-wrap .tw-bg a {
    background-color: #76a9ea; }
  .share-wrap .gp-bg a {
    background-color: #f34a38; }
  .share-wrap .wp-bg a {
    background-color: #2dd54b; }
  .share-wrap li {
    display: block;
    height: 50px;
    width: 50px;
    margin-top: 7px;
    margin-bottom: 7px;
    margin-left: auto;
    margin-right: auto; }
    .share-wrap li a {
      display: table-cell;
      height: 50px;
      width: 50px;
      -webkit-border-radius: 50%;
      border-radius: 50%;
      text-align: center;
      font-size: 11px;
      line-height: 12px;
      vertical-align: middle;
      color: #666;
      -webkit-box-shadow: 0px 0px 15px rgba(0, 0, 0, 0.5);
              box-shadow: 0px 0px 15px rgba(0, 0, 0, 0.5);
      position: relative; }

/* Share Button Start From Here */
.form-group {
  margin-bottom: 15px;
  position: relative; }

input, select, textarea, button {
  font-family: "Open Sans", sans-serif;
  font-size: 0.875em;
  line-height: 1.3;
  margin: 0; }

input:focus {
  border: 1;
  -webkit-box-shadow: none;
          box-shadow: none;
  outline: none; }

select {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  width: 100%;
  height: 40px;
  background: url("../../../images/mobile/common/dropdown.svg");
  background-color: #fff;
  background-position: 98% 2px;
  background-repeat: no-repeat;
  border: 1px solid #c1c1c1;
  color: #999;
  font-family: "Open Sans", sans-serif;
  font-size: 12px;
  outline: 0;
  padding: 6px 30px 6px 6px;
  text-align: left;
  -webkit-transition: all .3s ease;
  -o-transition: all .3s ease;
  -moz-transition: all .3s ease;
  transition: all .3s ease; }
  select option {
    padding: 6px; }

textarea.form-control {
  height: auto; }

button {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none; }

.input-group {
  border-collapse: separate;
  display: table;
  position: relative;
  margin-bottom: 15px;
  width: 100%; }
  .input-group .form-control {
    border: 1px solid #ddd;
    float: left;
    margin-bottom: 0;
    position: relative;
    width: 100%;
    z-index: 2; }

.input-group-addon {
  background-color: #fff;
  color: #555;
  padding: 6px 12px;
  text-align: center;
  font-weight: 400;
  line-height: 1;
  text-align: center;
  border: 1px solid #ddd; }
  .input-group-addon:first-child {
    -webkit-border-bottom-right-radius: 0;
            border-bottom-right-radius: 0;
    -webkit-border-top-right-radius: 0;
            border-top-right-radius: 0;
    border-right: 0; }
  .input-group-addon:last-child {
    border-left: 0 none;
    -webkit-border-radius: 0;
            border-radius: 0; }

.form-control {
  display: block;
  height: 40px;
  width: 100%;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  background-color: #fff;
  font-family: "Open Sans", sans-serif;
  border: 1px solid #c1c1c1;
  -webkit-border-radius: 0;
          border-radius: 0;
  color: #555;
  font-size: 12px;
  line-height: 1.42857;
  padding: 6px 12px;
  -webkit-transition: border-color 0.15s ease-in-out 0s, -webkit-box-shadow 0.15s ease-in-out 0s;
  transition: border-color 0.15s ease-in-out 0s, -webkit-box-shadow 0.15s ease-in-out 0s;
  -o-transition: border-color 0.15s ease-in-out 0s, box-shadow 0.15s ease-in-out 0s;
  -moz-transition: border-color 0.15s ease-in-out 0s, box-shadow 0.15s ease-in-out 0s;
  transition: border-color 0.15s ease-in-out 0s, box-shadow 0.15s ease-in-out 0s;
  transition: border-color 0.15s ease-in-out 0s, box-shadow 0.15s ease-in-out 0s, -webkit-box-shadow 0.15s ease-in-out 0s; }
  .form-control::-moz-placeholder {
    color: #999;
    opacity: 1; }

.comment-wrap ul {
  border-bottom: 1px solid #f2f2f2;
  margin-bottom: 15px; }
  .comment-wrap ul li {
    padding-left: 50px;
    font-size: 100%;
    margin-bottom: 20px; }
    .comment-wrap ul li sup {
      height: 40px;
      width: 40px;
      -webkit-border-radius: 50%;
      border-radius: 50%;
      background-color: #ebebeb;
      position: absolute;
      left: 15px; }
      .comment-wrap ul li sup img {
        height: 40px;
        width: 40px;
        -webkit-border-radius: 50%;
        border-radius: 50%; }

/* Rating */
.rating {
  color: #666;
  margin: 0 5px; }
  .rating span {
    color: #333; }
  .rating sup {
    display: inline-block;
    width: 13px;
    height: 12px;
    position: relative;
    top: 5px; }
  .rating .fill-star {
    background-position: -35px -110px; }
  .rating .unfill-star {
    background-position: -50px -110px; }

/* Ratings widget */
.rate {
  display: inline-block;
  border: 0; }

/* Hide radio */
.rate > input {
  display: none; }

/* Order correctly by floating highest to the right */
.rate > label {
  color: #e1e1e1;
  float: right;
  height: 16px; }

/* The star of the show */
.rate > label:before {
  display: inline-block;
  font-size: 20px;
  padding: 0 1px;
  margin: 0;
  cursor: pointer;
  content: "\2605 ";
  /* full star */ }

/* Zero stars rating */
.rate > label:last-child:before {
  content: "\2605 ";
  /* empty star outline */ }

/* Half star trick */
.rate .half:before {
  content: "\2605 ";
  /* half star no outline */
  position: absolute;
  padding-right: 0; }

/* Click + hover color */
.rating-feedback input:checked ~ label,
.rating-feedback label:hover, label:hover ~ label {
  color: #3f5f94; }

/* color previous stars on hover */
/* Hover highlights */
.rating-feedback input:checked + label:hover,
.rating-feedback input:checked ~ label:hover,
.rating-feedback input:checked ~ label:hover ~ label,
.rating-feedback label:hover ~ input:checked ~ label {
  color: #3f5f94; }

.rating-feedback input:checked ~ label:hover:before {
  border: 0 none; }

/* Share Button Start From Here */
.search-tagging {
  -webkit-border-radius: 4px;
  border-radius: 4px;
  background-color: rgba(0, 46, 102, 0.6);
  padding: 0;
  position: relative;
  z-index: 1;
}

.search-tagging .form-control {
    background-color: transparent;
    border: 0 none;
    color: #fff;
    font-size: 12px;
}

.search-tagging span.advanced {
    -webkit-border-radius: 4px;
    border-radius: 4px;
    background-color: #ebebeb;
    display: inline-block;
    font-size: 0.875em;
    padding: 3px 10px;
    margin: 2px;
  }

/* Course icon CSS */
.sigma-pro {
  display: block;
  height: 70px;
  width: 70px; }
  .sigma-pro img {
    width: 100%;
    height: 100%; }

.home-banner-img {
  display: block;
  height: 100px;
  width: 100px; }

.tag-bg {
  -webkit-border-radius: 2px;
  border-radius: 2px;
  background-color: #ededed;
  padding: 0 5px 1px;
  color: #2f5ea6; }

.strike-through {
  text-decoration: line-through;
  margin: 0 8px; }

.off {
  color: #45b34e; }

/* Course icon CSS */
.right-navbar, .cms-right {
  padding: 15px; }
  .right-navbar h2, .cms-right h2 {
    padding: 15px 0 10px;
    border-bottom: 1px solid #c1c1c1;
    font-weight: 600; }
  .right-navbar ul, .cms-right ul {
    margin-top: 10px; }
    .right-navbar ul li, .cms-right ul li {
      margin-bottom: 10px; }
  .right-navbar .form-control, .cms-right .form-control {
    -webkit-border-radius: 4px;
    border-radius: 4px; }

.underline li {
  border-bottom: 1px solid #c1c1c1;
  padding-bottom: 10px; }
  .underline li span {
    height: 40px;
    display: block; }
    .underline li span img {
      height: 100%; }

.bottom-btn {
  position: absolute;
  bottom: 25px;
  width: 90%; }

.cms-right .form-control {
  -webkit-border-radius: 0;
  border-radius: 0; }

.ui-widget.ui-widget-content {
  -webkit-border-radius: 4px;
  border-radius: 4px;
  z-index: 9999;
  -webkit-box-shadow: 0px 0px 15px rgba(0, 0, 0, 0.1);
          box-shadow: 0px 0px 15px rgba(0, 0, 0, 0.1);
  max-height: 200px;
  overflow: scroll; }
  .ui-widget.ui-widget-content li {
    padding: 5px 10px;
    color: #666;
    border-bottom: 1px solid #f2f2f2; }
    .ui-widget.ui-widget-content li .form-control:focus {
      border: 1px solid #ccc !important; }

.filter-pd {
  position: relative;
  padding-right: 30px; }
  .filter-pd a {
    position: absolute;
    top: 5px;
    right: 0; }
