@import '../lib/variables';
@import '../lib/mixin';


/* Tabbing Start From Here */
@import '../components/tabbing';

.vertical-tabbing {
  position: absolute;
  left: 0;
  width: 100%;
  height: 100%;

  .tab-container {
    @extend %flexbox; 
    height: 100%;
    width: 100%;
  }

  .tabs {
    background-color: $bg-grey-f5;
    width: 200px;
    li {
      display: block;
      width: 100%;

      a {
        
        border-bottom: 1px solid #ebebeb;
        padding-top: 15px;
        padding-bottom: 15px;
        font-size: 1em;
        color: $txt-grey-666;
        text-align: left;
      }
    }

    .current {
      color: $txt-grey-333;
      border-right: 1px solid #ebebeb;
      border-left: 2px solid $bg-blue;
      border-bottom: 0 none;
      border-right: 0 none;
      background-color: $bg-white;
      position: relative;
    }
  }

  .tab-content {
    width: 100%;

    ul {
      width: 100%;

      li {
        padding-bottom: 15px;
      }
    }
  }
}

.apply-bottom {
  position: fixed;
  bottom: 0;
  z-index: 9;
  width: 100%;
  padding-top: 15px;
  padding-bottom: 15px;
}
