{% extends "mobile/basic/base.html" %}
{% load static thumbnail compress %}
{% load static compress %}


{% block title %}Order item detail | Shine Learning{% endblock %}

{% block css_section %}
    {{ block.super }}
    {% compress css %}
    <link type="text/scss" href="{% static 'shinelearn/css/mobile/common/checkbox.scss' %}" rel="stylesheet">
    <link type="text/scss" href="{% static 'shinelearn/css/mobile/dashboard/dashboard.scss' %}" rel="stylesheet">
    <link type="text/css" href="{% static 'shinelearn/css/common/mobile/typeaheadjs.css' %}" rel="stylesheet">
    {% endcompress %}
{% endblock css_section %}

{% block header %}
    <!-- header menu Icon Starts here -->
    <header class="w100fl he-auto">
        <!-- header menu Icon Starts here -->
        <div class="main-menu w100fl">
            <div class="pull-left">
                
                <a class="pull-left" id="sidebar-main-trigger" role="button"></a> 

                <a href="{% url "dashboard:dashboard" %}" class="icon-back pull-left"></a> 
            </div><!-- / Left side Icon ends here -->

            <div class="pull-right" style="width:90%;">
                <a class="icon-cart pull-right" href="{% url "cart:cart-product-list" %}" >cart <span id="cart-counter-id">{{cart_count}}</span></a>
                <form method='get' id="search-form">
                    <div class="searchbox">
                        <input id='id_q' type="text" placeholder="Search here" name="search" class="searchbox-input" autocomplete="off">
                        <span class="searchbox-icon"></span>
                    </div>
                </form>
            </div>
        </div><!-- header menu Icon ends here -->
        
        <h1 class="heading-back w100fl pb-0">Details</h1>
        
    </header><!-- header ends here -->
{% endblock header %}

{% block container %}
<div class="body-wrapper">
    <div class="content-box pt-0">
        <div class="box row">
            <h2 class="mb-5">{{oi.product.get_name}}{% if oi.product.get_exp_db %}
             - {{oi.product.get_exp_db}}
            {% endif %}</h2>
            <p class="pb-0 c6">Order ID : {{oi.order.number}}</p>
            {% if oi.oi_status == 24 or oi.oi_status == 46 %}
                <div class="button-wrap mt-15">
                    <span class="accept"><a role="button" onClick="openPopup('accept-modal{{oi.pk}}');"><sup class="icon-tick-green"></sup>Accept</a></span>
                    <span class="reject"><a href="{% url "dashboard:dashboard-reject" %}?oi={{oi.pk}}"><sup class="icon-tick-cross"></sup>Reject</a></span>
                    <div class="clearfix"></div>        
                </div><!-- /.button-wrap -->

                <!-- The Accept Modal -->
                <div id="accept-modal{{oi.pk}}" class="modal">
                  <div class="modal-helper">
                    <div class="modal-vertical-center">
                       <!-- Modal content -->
                        <div class="modal-content">
                          <div class="header">
                            <h2>Accept Confirmation</h2>
                            <a role="button" class="icon-close" onclick="closePopup();"></a>
                          </div><!-- end of header -->

                          <div class="content-box pt-0 pb-0">
                            <p><strong>Are you sure you want to accept?</strong></p>
                            <p class="c9 fs-12">Note: Once you accept, your service will be closed.</p>
                            <div class="text-center mt-10">
                                <form role="form" id="mobileaccept-form{{oi.pk}}">{% csrf_token %}
                                    <div style='display:none'>
                                       <input type='hidden' name='oi_pk' value='{{oi.pk}}'/>
                                    </div>
                                    <p><button class="btn w100 btn-round btn-blue" onClick="mobileAccept('{{oi.pk}}')">Accept</button></p>
                                    <p class="fs-12"><a role="button" onclick="closePopup();">Skip</a></p>
                                </form>
                            </div>
                          </div><!-- Tab content ends here -->
                        </div><!-- end of modal content here -->
                    </div><!-- end of modal-vertical-center -->
                  </div><!-- end of modal-helper -->
                </div><!-- end of Login modal here --> 
            {% endif %}
        </div><!-- /.box and row -->

        <h2 class="mt-15 c9">Status</h2>

        <ul class="status-list">
            {% if oi.product.type_flow == 1 or oi.product.type_flow == 12 or oi.product.type_flow == 13 %}
                {% for op in ops %}
                    <li class="box row">
                        <div class="rel status-item">
                            {% if op.oi_status == 24 and op.draft_counter == 1 %}
                                {{op.get_user_oi_status}}
                            {% elif op.oi_status == 24 and op.draft_counter < max_draft_limit %}
                                Revised Document is ready
                            {% elif op.oi_status == 24 and op.draft_counter == max_draft_limit %}
                                Final Document is ready
                            {% else %}
                               {{op.get_user_oi_status}}
                            {% endif %}
                            <span>{{op.created.date}}</span>
                        </div>
                        {% if oi.oi_status == 2 and not oi.oi_resume %}
                            <a href="javascript:void(0)" role="button" class="btn btn-outline w100 mt-20 sidebar-secondary-trigger">Upload Resume</a>
                        {% elif op.oi_status == 24 %}
                            <a class="btn btn-outline w100 mt-20" href="{{oi.oi_draft.url}}" download>Download</a>
                        {% elif op.oi_status == 27 %}
                            <a class="btn btn-outline w100 mt-20" href="{{oi.oi_draft.url}}" download>Download</a>
                        {% endif %}
                    </li><!-- /.li -->
                {% endfor %}

            {% elif oi.product.type_flow == 8 %}
                {% for op in ops %}
                    <li class="box row">
                        <div class="rel status-item">
                            {% if op.oi_status == 46 and op.draft_counter == 1 %}
                                {{op.get_user_oi_status}}
                            {% elif op.oi_status == 46 and op.draft_counter < max_draft_limit %}
                                Revised Document is ready
                            {% elif op.oi_status == 4 %}
                                Document is finalized
                            {% else %}
                               {{op.get_user_oi_status}}
                            {% endif %}
                            <span>{{op.created.date}}</span>
                        </div>
                        {% if oi.oi_status == 2 %}
                            <a href="javascript:void(0)" role="button" class="btn btn-outline w100 mt-20 sidebar-secondary-trigger">Upload Resume</a>
                        {% elif op.oi_status == 46 %}
                            <a href="{% url "linkedin-draf-download" oi.pk op.pk %}" class="btn btn-outline w100 mt-20">Download</a>
                        {% elif op.oi_status == 27 %}
                            <a href="{% url "linkedin-draf-download" oi.pk op.pk %}" class="btn btn-outline w100 mt-20">Download</a>
                        {% endif %}
                    </li><!-- /.li -->
                {% endfor %}

            {% elif oi.product.type_flow == 3 %}
                {% for op in ops %}
                    <li class="box row">
                        <div class="rel status-item">
                            {{op.get_user_oi_status}}
                            <span>{{op.created.date}}</span>
                        </div>
                        {% if op.oi_draft %}
                            <a href="{{oi.oi_draft.url}}" class="btn btn-outline w100 mt-20" download>Download</a>
                        {% elif oi.oi_status and not oi.oi_resume %}
                            <a href="javascript:void(0)" role="button" class="btn btn-outline w100 mt-20 sidebar-secondary-trigger">Upload Resume</a>
                        {% endif %}
                    </li><!-- /.li -->
                {% endfor %}

            {% elif oi.product.type_flow == 2 or oi.product.type_flow == 14 %}
                {% for op in ops %}
                    <li class="box row">
                        <div class="rel status-item">
                            {{op.get_user_oi_status}}
                            <span>{{op.created.date}}</span>
                        </div>
                        {% if op.oi_status == 6 %}
                            <a href="{{oi.oi_draft.url}}" class="btn btn-outline w100 mt-20" download>Download</a>
                        {% endif %}
                    </li><!-- /.li -->
                {% endfor %}

            {% elif oi.product.type_flow == 4 %}
                {% for op in ops %}
                    <li class="box row">
                        <div class="rel status-item">
                            {{op.get_user_oi_status}}
                            <span>{{op.created.date}}</span>
                        </div>
                        {% if oi.oi_status == 2 and not oi.oi_resume %}
                            <a href="javascript:void(0)" role="button" class="btn btn-outline w100 mt-20 sidebar-secondary-trigger">Upload Resume</a>
                        {% elif op.oi_status == 6 %}
                            <a href="#" lass="btn btn-outline w100 mt-20">Download Credential</a>
                        {% endif %}
                    </li><!-- /.li -->
                {% endfor %}

            {% elif oi.product.type_flow == 5 %}
                {% for op in ops %}
                    <li class="box row">
                        <div class="rel status-item">
                            {{op.get_user_oi_status}}
                            <span>{{op.created.date}}</span>
                        </div>
                        {% if oi.oi_status == 2 and not oi.oi_resume %}
                          <a href="javascript:void(0)" role="button" class="btn btn-outline w100 mt-20 sidebar-secondary-trigger">Upload Resume</a>
                        {% endif %}
                    </li><!-- /.li -->
                {% endfor %}

            {% elif oi.product.type_flow == 6 %}
                {% for op in ops %}
                    <li class="box row">
                        <div class="rel status-item">
                            {{op.get_user_oi_status}}
                            <span>{{op.created.date}}</span>
                        </div>
                        {% if op.oi_draft %}
                            <a href="{{op.oi_draft.url}}" class="btn btn-outline w100 mt-20" download>Download</a>
                        {% endif %}
                    </li><!-- /.li -->
                {% endfor %}

            {% elif oi.product.type_flow == 7 %}
                {% for op in ops %}
                    <li class="box row">
                        <div class="rel status-item">
                            {{op.get_user_oi_status}}
                            <span>{{op.created.date}}</span>
                            {% if oi.oi_status == 2 and not oi.oi_resume and op.oi_status == 2 %}
                              <a href="javascript:void(0)" role="button" class="btn btn-outline w100 mt-20 sidebar-secondary-trigger">Upload Resume</a>
                            {% endif %}
                        </div>
                    </li><!-- /.li -->
                {% endfor %}

            {% elif oi.product.type_flow == 9 %}
                {% for op in ops %}
                    <li class="box row">
                        <div class="rel status-item">
                            {{op.get_user_oi_status}}
                            <span>{{op.created.date}}</span>
                        </div>
                        {% if op.oi_status == 141 %}
                            <a href="#" class="btn btn-outline w100 mt-20">Complete Profile</a>
                        {% elif op.oi_status == 142 %}
                            <a href="#" class="btn btn-outline w100 mt-20">Edit your profile</a>
                        {% endif %}
                    </li><!-- /.li -->
                {% endfor %}

            {% elif oi.product.type_flow == 10 %}
                {% for op in ops %}
                    <li class="box row">
                        <div class="rel status-item">
                            {{op.get_user_oi_status}}
                            <span>{{op.created.date}}</span>
                        </div>
                        {% if op.oi_status == 101 %}
                            <a href="#" class="btn btn-outline w100 mt-20">Take Test</a>
                        {% elif op.oi_draft == 101 %}
                            <a href="{{op.oi_draft.url}}" class="btn btn-outline w100 mt-20" download>Download</a>
                        {% endif %}
                    </li><!-- /.li -->
                {% endfor %}

            {% elif oi.product.type_flow == 16 %}
            
                {% for op in ops %}
                    <li class="box row">
                        <div class="rel status-item">
                            {{op.get_user_oi_status}}
                            <span>{{op.created.date}}</span>
                        </div>
                    </li><!-- /.li -->
                {% endfor %}


            {% endif %}

        </ul><!-- /.ul -->

        <a href="{% url "dashboard:dashboard-conversation" %}?oi={{oi.pk}}" class="btn btn-blue btn-round w100"><span class="icon-comment-white"></span>Leave us a message</a>
    </div>
</div><!-- body wrapper ends here -->

    {% block pending_items %}
        {% include "partial/notification-box.html" %}
    {% endblock pending_items %}

{% endblock container %}

{% block js_section %}
    {{block.super}}
    {% compress js %}
    <script src="{% static 'shinelearn/js/dashboard/dashboard.js' %}"></script>
    <script src="{% static 'shinelearn/js/mobile/dashboard/dashboard.js' %}"></script>
    {% endcompress %}
{% endblock js_section %}

{% block johukum %}
{% endblock johukum %}

{% block zendesk %}
{% endblock zendesk %}

