{% load static humanize %}
{% load shop_tags %}

{% for prd in products %}
  <div class="col-sm-4" itemprop="itemListElement" itemscope itemtype="http://schema.org/ListItem">
    <meta itemprop="position" content="{{forloop.counter}}" />
    <div class="exe-box exe-courses-offered pr">
      <div class="media">
        <div class="media-body">
          <figure>
            <i class="exe-university-small-img"><img aria-label="{{category_obj.name}}.png" src="{{category_obj.icon.url}}" alt="{{category_obj.name}}.png" class="img-responsive"></i>
            <figcaption>
              <a href="{{prd.pURL}}"><h3 itemprop="name">{{prd.pHd}}</h3></a>
              <p> <i class="exe-icon-batch-grey"></i>{% if prd.pUncdl %} Starts  <strong>{{prd.pUncdl.launchdate}}</strong>  |  {% endif %}<strong>{% if prd.pVrs.var_list %}{{prd.pVrs.var_list.0.dur_days|convert_to_month}} months{% endif %}</strong></p>
            </figcaption>
          </figure>
        </div>
        <div class="media-right">
          {% if prd.pUncdl.applydate >= today_date %}
          <span class="admission-open">Admission open</span>
          {% endif %}
          <a href="{{prd.pURL}}" itemprop="url">
          <figure>
            <img aria-label="{{prd.pImA}}" src="{{prd.pIc}}" alt="{{prd.pImA}}">
          </figure>
          </a>
        </div>
      </div>
    </div>
  </div>
{% endfor %}
             
<div class="clearfix mt-20"></div>
{% if products.has_next %}
<div id="id_load_more_course">
  <form id="form-load-more-university-course">
    <input type="hidden" name="page" 
      value="{{products.next_page_number}}">
    <input type="hidden" name="category_pk" value="{{category_obj.pk}}" 
    >
    <input type="hidden" name="page_size" value="{{PRODUCT_PAGE_SIZE}}" 
    >
    <button role="button" type="button" id="load-more-button-id" class="exe-button-view-more">View more</button>
  </form>
</div>
{% endif %}