@import '../../../../../../styles-mobile/abstracts';

.m-ui-list {
    list-style-type: none;
    margin: 0 -1rem;
    padding: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;

    li {
        overflow: hidden;
        @extend %box-shadow1;
        padding: 1rem;
        flex: 43%;
        margin: 1rem;

        a {
            width: 100%;
            overflow: hidden;
            text-align: center;

            h3 {
                font-size: 1.4rem;
                font-weight: 600;
                width: 12.5rem;
                text-align: center;
                margin: 0 auto;
            }

            figure {
                height: 9rem;
                margin-bottom: 1rem;
                display: flex;

                img {
                    align-self: flex-end;
                    margin: 0 auto;
                }
            }
        }

        &.active {
            position: relative;
            overflow: hidden;
            border-top-right-radius: .4rem;
            @extend %box-shadow1;

            &::before {
                width: 0;
                height: 0;
                border-top: 5rem solid $green;
                border-left: 5rem solid transparent;
                content: '';
                position: absolute;
                top: 0;
                right: 0;
            }

            &::after {
                content: '';
                position: absolute;
                top: 1rem;
                right: .6rem;
                background: $sprite  -226px -171px;
                width: 1.2rem;
                height: .9rem;
            }
        }
    }
}