@import '../../../../../styles/functions';
@import '../../../../../styles/variables';
@import '../../../../../styles/mixins';

.removeButtons {
    .carousel-control-prev {
        display: none;
    }

    .carousel-control-next {
        display: none;
    }
}

.other-providers {
    .carousel-indicators {
        display: none;
    }

    .carousel-control-prev {
        width: 7%;
        left: -2.5rem;
    }

    .carousel-control-next {
        width: 7%;
        right: -2.5rem;
    }

    .carousel-control-prev-icon {
        background: $sprite -579px -32px;
        width: 7.6rem;
        height: 7.6rem;
    }
    .carousel-control-next-icon {
        background: $sprite -645px -32px;
        width: 7.6rem;
        height: 7.6rem;
    }

    .carousel-inner {
        padding-bottom: 2rem;
        margin: 0 auto;
        width: 100%;
    }
}