{% extends "mobile/basic/base.html" %}
{% load static compress %}
{% load thumbnail compress %}

{% block django_meta %}
    {% include 'meta/meta.html' %}
<meta name="twitter:domain" content="{{SITE_DOMAIN}}">
        <meta name="twitter:card" content="summary">
        <meta name="twitter:site" content="@shinelearning">

   {% if main_article %}

        {% if main_article.image %}
        <meta name="twitter:image:src" content="{{main_article.image.url}}">
         <meta property="og:image" content="{{main_article.image.url}}">
        {% endif %}

<meta name="twitter:title" content="{{main_article.title}}">
<meta name="twitter:description" content="{{ main_article.get_description }}" />

{% endif %}



<link href="https://fonts.googleapis.com/css2?family=Montserrat&display=swap" media="print" onload="this.media='all'"
 rel="stylesheet">

    
{%  endblock django_meta %}
{% block canonical_url %}
  <link rel="canonical" href="https://{{ SITE_DOMAIN }}{{ object.get_absolute_url }}">
{% endblock canonical_url %}

{% block title %}
   {{main_article.title}} - Talent Economy
{% endblock title %}

{% block css_section %}
    {{ block.super }}
    {% compress css %}
    <link type="text/scss" href="{% static 'shinelearn/css/mobile/common/slick.scss' %}" rel="stylesheet">
    <link type="text/scss" href="{% static 'shinelearn/css/mobile/blog/blog.scss' %}" rel="stylesheet">
    <link type="text/scss" href="{% static 'shinelearn/css/mobile/zopim_chat/custom.css' %}" rel="stylesheet">
    <link type="text/css" href="{% static 'shinelearn/css/common/mobile/typeaheadjs.css' %}" rel="stylesheet">
    {% endcompress %}
<style>
    #related-container ul li {
    list-style:inside;
    }
</style>
{% endblock css_section %}

{% block header %}

<header class="w100fl">
    <div class="main-menu w100fl">
        <div class="pull-left">
            <a id="sidebar-main-trigger" class="icon-bar pull-left"  href="#" ></a> 
            <a href="/" class="icon-logo pull-left"></a>
        </div>
       
        <div class="pull-right" style="width:30%;">       
          <a class="icon-cart pull-right" href="{% url "cart:payment-summary" %}" >cart <span id="cart-counter-id">{{cart_count}}</span></a>
          <form method='get' id="search-form">
            <div class="searchbox">
              <input id='id_q' type="text" placeholder="Search here" name="search" class="searchbox-input" autocomplete="off">
              <span class="searchbox-icon"></span>
            </div>
          </form>
        </div>
    </div>
</header>

{% endblock header %}

{% block container %}
<div class="body-wrapper" style="padding-bottom: 140px;">
    <section class="content-box  content-box-article">
        <ul class="breadcrumb" itemscope itemtype="http://schema.org/BreadcrumbList">
          {% for bradcbs in breadcrumbs %}
            {% if bradcbs.url %}
              <li itemprop="itemListElement" itemscope itemtype="http://schema.org/ListItem"><a href="{{bradcbs.url}}" itemprop="item"><span itemprop="name">{{bradcbs.name}}</span></a></li>
            {% else %}
              <li class="active">{{bradcbs.name}}</li>
            {% endif %}
          {% endfor %} 
        </ul>
        <div id="related-container">
            {{detail_article}}

            <!-- Table Widgets -->
            <!-- <table border="1" cellspacing="0">
                <tbody>
                    <tr>
                    <td width="50%">
                        Absolute Path
                    </td>

                    <td width="50%">
                        Relative Path
                    </td>
                    </tr>

                    <tr>
                    <td>Absolute XPath starts from the root node and ends with desired descendant element’s node.</td>
                    <td>It starts with the top HTML node and ends with an input node.</td>

                    <tr>
                    <td>Absolute XPath starts from the root node and ends with desired descendant element’s node.</td>
                    <td>It starts with a double forward-slash (//)</td>
                    </tr>
                    <tr>
                    <td>It starts with a single forward-slash (/)</td>
                    <td></td>
                    </tr>
                </tbody>
            </table> -->
            <!-- // Table Widgets -->

            <!-- Related Articles -->
        {% if related_articles %}
            <div class="related-article-new">
                <h2><strong>Related Articles:</strong></h2>
                <div class="related-article-new__list">
                {% for article in related_articles %}
                    <div class="related-article-new__list--item">
                        <div class="related-article-new__list--box">
                            <a href="{{article.get_absolute_url}}">
                                <figure class="pr">
                                    <img aria-label="{{article.image_alt}}" src="{{article.image.url}}" alt="{{article.image_alt}}" itemprop="image">
                                </figure>
                            </a>

                            <div class="related-article-new__list--content">
                                <h3 class="heading-article mb-15" itemprop="name">
                                    <a href="{{article.get_absolute_url}}">{{article.name}}</a>
                                </h3>

                                <span class="view-forward">
                                    <figure class="icon-forward"></figure> {{article.no_shares}}
                                    <figure class="icon-view icon-grey-view ml-20"></figure> {{article.no_views}}
                                </span>
                            </div>
                        </div><!-- // Related Item box -->
                    </div><!-- // Related Item -->
                {% endfor %}
                    <!-- <div class="related-article-new__list--item">
                        <div class="related-article-new__list--box">
                            <a href="#">
                                <figure class="pr">
                                    <img aria-label="Test Product 12" src="{% static 'shinelearn/images/blog/related-article-2.png' %}" alt="Test Product 12" itemprop="image">
                                </figure>
                            </a>

                            <div class="related-article-new__list--content">
                                <h3 class="heading-article mb-15" itemprop="name">
                                    <a href="#">Fresher's Guide to Writing an Appealing Resume</a>
                                </h3>

                                <span class="view-forward">
                                    <figure class="icon-forward"></figure> 0
                                    <figure class="icon-view icon-grey-view ml-20"></figure> 249
                                </span>
                            </div>
                        </div>
                    </div>
                    
                    
                    <div class="related-article-new__list--item">
                        <div class="related-article-new__list--box">
                            <a href="#">
                                <figure class="pr">
                                    <img aria-label="Test Product 12" src="{% static 'shinelearn/images/blog/related-article-3.png' %}" alt="Test Product 12" itemprop="image">
                                </figure>
                            </a>

                            <div class="related-article-new__list--content">
                                <h3 class="heading-article mb-15" itemprop="name">
                                    <a href="#">Top 25 Mobile Testing Interview Questions & Answers</a>
                                </h3>

                                <span class="view-forward">
                                    <figure class="icon-forward"></figure> 0
                                    <figure class="icon-view icon-grey-view ml-20"></figure> 249
                                </span>
                            </div>
                        </div>
                    </div> -->

                </div><!-- // Related List -->
              </div><!-- //Related Articles -->
        {% endif %}
              
        </div>
        <div id="id_ajax_article"></div>
    </section>
    
    {% if popular_courses %}
        <section>
            {% include './include/popular.tmpl.html' with popular_courses=popular_courses page='talenteconomy-article-details' %}
        </section>
    {% endif %}
    
    {% comment %}
    <section>
        <!-- box panel starts here -->
        <div class="box-panel ">
            <p class="semi-head mt-5 mb-5">You may also like</p>
            
            {% for i in '1234' %}
            <div class="media article-list">
                <a title="Government Jobs" href="blog-detail.html">
                    <figure class="media-left">
                        <img loading="lazy" aria-label="" class="media-object w-auto" src="images/article-list-1.jpg" alt="...">
                    </figure>
                    <div class="media-body rel">
                        <span class="article-tag">Project Management</span>
                        <h4 class="media-heading">8 Reasons to consider a career change</h4>

                        <div class="blog-author fs-11">
                            <span class="editor">Ajay Mishra</span>
                            <span class="view-forward pull-right">
                              <figure class="icon-forward"></figure> 43 
                              <figure class="icon-view icon-grey-view ml-10"></figure> 21
                            </span>
                        </div>
                    </div>
                </a>
            </div>
            {% endfor %}
        </div>
    </section>
    {% endcomment %}

    <div class="share-wrap">
        <ul id="share-icon">
            <!-- <li class="gp-bg"><a href="https://plus.google.com/share?url={{SITEDOMAIN}}{{main_article.get_absolute_url}}" id="article_share" article-slug="{{main_article.slug}}" target="_blank">><span class="icon-gp"></span></a></li> -->
            <li><a href="https://api.whatsapp.com/send?text=https://{{SITEDOMAIN}}{{main_article.get_absolute_url}}" data-action="share/whatsapp/share"><span class="icon-wp-color"></span></a></li>
            <li><a href="http://pinterest.com/pin/create/link/?url=https://{{SITEDOMAIN}}{{main_article.get_absolute_url}}&media={{main_article.image.url}}&description={{main_article.meta_desc}}"><span class="icon-printrest-color"></span></a></li>
            <li><a href="https://www.linkedin.com/shareArticle?mini=true&url=https://{{SITEDOMAIN}}{{main_article.get_absolute_url}}&title={{main_article.title}}&summary={{main_article.meta_desc}}&source={{SITEDOMAIN}}/"><span class="icon-linkedin-color"></span></a></li>
            
            <li>
                <a href="https://www.twitter.com/share?url=https://{{SITEDOMAIN}}{{main_article.get_absolute_url}}" id="article_share" article-slug="{{main_article.slug}}" target="_blank">
                    <span class="icon-tw-color"></span>
                </a>
            </li>
            
            <li>
                <a href="https://www.facebook.com/sharer/sharer.php?u={{SITEDOMAIN}}{{main_article.get_absolute_url}}" id="article_share" article-slug="{{main_article.slug}}" target="_blank">
                    <span class="icon-fb-color"></span>
                </a>
            </li>
            
            <li class="share-bg">
                <a href="#">{{main_article.no_shares}}<br>{% if main_article.no_shares > 1 %} Shares {% else %}Share{% endif %}</a>
            </li>
        </ul>
        <a href="JavaScript:Void(0);" id="share-btn" class="white-circle-60"><span class="icon-share-white"></span></a>
    </div>
</div>

{% block call_us %}
  {% include "shop/partials/call_us.html" %}
{% endblock call_us %}

{% endblock container %}


{% block js_section %}
    {{block.super}}
    {% compress js %}
    <script type="text/javascript" src="{% static 'packages/parsleyjs/parsley.min.js' %}"></script>
    <script src="{% static 'shinelearn/js/blog/blog-detail.js' %}"></script>
    <script type="text/javascript" src="{% static 'shinelearn/js/mobile/talenteconomy/article.js' %}"></script>
    <script type="text/javascript" src="{% static 'shinelearn/js/talenteconomy/article.js' %}"></script>

    <script src="{% static 'shinelearn/js/mobile/zopim_chat/custom.js' %}"></script>
    {% endcompress %}
    {% compress js inline %}
        <script>
            $(function() {
                Article.init();
            });
            if (window.location.hash == '#_=_') {
                open(location, '_self').close();
            }
            showArticleOnScroll.scroll(); /* for calling infinite articles */
        </script>

    {% endcompress %}



{% endblock js_section %}

{% block johukum %}

{% endblock johukum %}