{% extends "mobile/basic/base.html" %}
{% load static %}
{% load thumbnail %}

{% block django_meta %}
    {% include 'meta/meta.html' %}
{%  endblock django_meta %}
{% block canonical_url %}
  <link rel="canonical" href="//{{ SITE_DOMAIN }}{{ object.get_absolute_url }}">
{% endblock canonical_url %}

{% block title %}
   {{category.name}} - Career & Certification Guidance @ Shine Learning
{% endblock title %}

{% block css_section %}
    {{ block.super }}
    <link href="{% static "shinelearn/css/mobile/common/slick.css" %}" rel="stylesheet">
    <link href="{% static "shinelearn/css/mobile/blog/blog.css" %}" rel="stylesheet">
{% endblock css_section %}

{% block header %}

<header class="w100fl">
    <!-- header menu Icon Starts here -->
    <div class="main-menu w100fl">
        <div class="pull-left">
            <a id="sidebar-main-trigger" class="icon-bar pull-left"  href="#" ></a> 
            <a href="/" class="icon-logo pull-left"></a>
        </div>

        <div class="pull-right">
            <!-- <a class="icon-search pull-left " href="#">search</a> -->
            <a class="icon-cart pull-left" href="{% url "cart:cart-product-list" %}" >cart</a>
        </div><!-- / Right side Icon ends here -->
    </div>
</header>
{% endblock header %}

{% block container %}
<div class="body-wrapper">
<div class="article-category talent-gr">
    <div class="content">
      <ul class="breadcrumb">
        {% for bradcbs in breadcrumbs %}
          {% if bradcbs.url %}
            <li><a href="{{bradcbs.url}}">{{bradcbs.name}}</a></li>
          {% else %}
            <li class="active">{{bradcbs.name}}</li>
          {% endif %}
        {% endfor %}
      </ul>

      <h1>{{category.name}}</h1>

    </div>
    <img src="{% static 'shinelearn/images/mobile/common/article-category.jpg' %}" class="img-responsive">
</div><!-- Trending articles Ends here -->

<!-- Starts of talent-economy list -->
<section class="content-box pt-0 pb-0">
  <!-- box panel starts here -->
  <div class="box-panel row ">
    <p class="semi-head">All articles</p>      
    {% for artList in recent_articles %}
      <div class="media article-list">
        <a title="{{artList.title}}" href="{{artList.url}}">
          <figure class="media-left">
            <img class="media-object w-auto" src="{{artList.image}}" alt="{{artList.image_alt}}">
          </figure>
          <div class="media-body rel">
            <span class="article-tag">{{artList.title}}</span>
            <h3 class="media-heading">{{artList.heading}}</h3>

            <div class="blog-author fs-11">
              <span class="editor">{{artList.author.name}}</span>
              <span class="view-forward pull-right">
                  <figure class="icon-forward"></figure> {{artList.no_shares}}
                  <figure class="icon-view icon-grey-view ml-10"></figure> {{artList.no_views}}
              </span>
            </div>
          </div>
        </a>
      </div>
      {% endfor %}  
  </div><!-- box panel ends here -->

  <h2 class="mt-20">Contributors</h2>
  <div class="slide-container">
    <ul class="contributors">
        {% for author in authors %}
        <li>
          {% if author.image %}
          {% thumbnail obj.image "130x130" crop="center" as im %}
          <img src="{{author.image.url}}" width="{{ im.width }}" height="{{ im.height }}">
          {% endthumbnail %}
          {% endif %}
          <p class="head pb-0">{{author.name}}</p>
          <p class="post pb-0"><span>{{author.designation}}</span> <sup></sup></p>
          <p class="fs-12"><a href="#">{{author.no_of_blog}} articles</a></p>
        </li>
        {% endfor %}

    </ul>
  </div>

  {% if categories %}
  <div class="box-panel row mt-20">
    <p class="take-me pb-0 mt-10"><span class="line"><sup></sup></span>take me to</p>

    <ul class="take-list mt-20">
      {% for category in categories %}
        <li>
          <div class="list-box">
            <img src="{{category.image}}" alt="{{category.image_alt}}" class="img-responsive">
            <p class="title"><a href="{{category.url}}" title="{{category.title}}">{{category.name}}</a></p>
          </div> 
        </li>

        {% if forloop.counter|divisibleby:2 %}
          <li class="clearfix is-hidden"></li>
        {% endif %}
      {% endfor %}      
    </ul>
    <div class="clearfix"></div>
  </div>
  {% endif %}

</section><!-- End of talent-economy list -->
</div>
{% endblock container %}


{% block js_section %}
    {{block.super}}
    <script type="text/javascript" src="{% static "shinelearn/js/mobile/talenteconomy/article.js" %}"></script>
    <script>
        $(function() {
            Article.init();
        });
    </script>
{% endblock js_section %}

{% block johukum %}

{% endblock johukum %}
