<h1 class="h1-head">Career management: Defining the process and purpose</h1>
<div class="clearfix border-bottom pb-10 mb-10 fs-13">
    <span class="editor">Ajay Mishra <span class="spacer c-666">/</span> <span class="c-666">03 Nov 2016</span></span>
    <span class="view-forward pull-right mt-0">
        <figure class="icon-chat-sm"></figure> <a href="#">23</a>
    <figure class="icon-view icon-grey-view ml-10"></figure> 21
</span>
</div>
<p class="mt-15"><img src="images/blog-detail.jpg" class="img-responsive"></p>
<article class="">
<p>In order to be eligible for the <a href="#">Civil Services Examination</a> - 2015, candidates must possess a Graduate degree or above. Candidates who are in their final year of Graduation examination are also eligible to apply for the Examination.</p>
<p>The minimum age limit for candidates is 21 years and the maximum age limit is 32 years. The upper age limit is further relaxed by 5 years and 3 years for candidates belonging to SC/ST and OBC categories respectively. The maximum number of attempts permitted is six for open category candidates, and nine for OBC candidates. There is no limit on the number of attempts for SC, ST candidates.</p>
<blockquote>The maximum number of attempts permitted is six for open category candidates, and nine for OBC candidates. There is no limit on the number of attempts for SC, ST candidates.
</blockquote>
<h2 class="fs-14 mb-0">Examination Pattern:</h2>
<p>As we all know, the <a href="#">CSE</a> is conducted in two stages - first, the preliminary examination and the second, Mains (Written examination and Interview)</p>
<h2 class="fs-14 mb-0">Preliminary Examination</h2>
<p>The <a href="#">UPSC CSE</a> 2015 preliminary examination will be an objective type examination, consisting of two papers as given below. Both these papers are worth two hundred marks and are of two hours duration each.</p>
<p><img src="images/articleDetail.jpg" class="img-responsive"></p>
<h2 class="fs-14 mb-0">A) General Studies paper</h2>
<p>There have been no changes in the General Studies paper I and therefore, the syllabus the paper is as follows:</p>
<ol>
    <li>Current events of national and international importance,</li>
    <li>History of India and Indian National Movement</li>
    <li>Indian Polity and Governance - Constitution, Political System, Panchayat Raj, Public Policy, Rights issues etc.</li>
    <li><a href="#">Economic and Social Development</a> - Sustainable development, poverty, Inclusion, Demographics, Social Sector Initiatives etc.</li>
    <li>Indian and world Geography - Physical, Social, Economic</li>
    <li>General Issues on Environmental Ecology, Bio- diversity and Climate Change</li>
    <li>General Science</li>
</ol>
<h2 class="fs-14 mb-0">B) General Studies paper II (CSAT)</h2>
<p>As per the UPSC CSE 2015 notice, the General Studies Paper II (CSAT) will be a qualifying paper. The qualifying marks for this paper have been fixed at 33% of the total marks of the paper.</p>
<p>In addition, the English Language Comprehension skill section of the General Studies paper II (CSAT) will be excluded.</p>
<hr>
<div class="tagging mt-30 mb-30">
    <p>Tagged in</p>
    <a href="#">CIVILSERVICES</a>
    <a href="#">UPSC</a>
    <a href="#">Government News</a>
</div>
<p class="take-me pb-0 mt-10">
    <span class="line"><sup></sup></span>
    <span class="icon-chat"></span>23 comments
</p>
<div class="comment-wrap mt-20">
    <ul class="mt-20 article-comment">
        <li>
            <sup><img src="images/default-user.jpg"></sup>
            <p><strong>Krishna Singh</strong> <span class="spacer c-666">/</span><span class="c-666">06 Nov, 2016</span></p>
            <p class="pb-0">Mix is a tech writer based in Amsterdam that loves cinema and probably hates the movies that you like. Tell him everything you despise about his work on Twitter or pitch him your terrible ideas via email.</p>
        </li>
        <li>
            <sup><img src="images/default-user.jpg"></sup>
            <p><strong>Krishna Singh</strong> <span class="spacer c-666">/</span><span class="c-666">06 Nov, 2016</span></p>
            <p class="pb-0">Mix is a tech writer based in Amsterdam that loves cinema and probably hates the movies that you like. Tell him everything you despise about his work on Twitter or pitch him your terrible ideas via email.</p>
        </li>
    </ul>
    <a href="#" class="btn-slg btn-grey block text-center">More comments</a>
    <p class="text-center mt-20 mb-20 text-upper bold"><a href="javascript:void(0);" class="" id="js_commentBtn"><span class="icon-leaveComment"></span>Leave a comment</a></p>
    <div class="mt-20 mb-20" id="js_comments">
        <textarea placeholder="Write comments" class="form-control"></textarea>
        <button class="btn-sm btn-blue btn-round mt-10">Submit</button>
    </div>
</div>
<!-- end of Comment wrap here -->
</article>
<!-- end of article -->