@import '../../../../styles/variables/vars.scss';
@import '../../../../styles/variables/mixins.scss';

.right-panel {
	padding-left: 5.5rem;
	width: 100%;
	height: 100%;
}

.buildResume {
	position: relative;
    height: 100%;
	padding: 1.5rem;
	
	&__wrap {
		box-shadow: 0 0 15px rgba($black, .2);
		border-radius: .5rem;
		height: 100%;
		overflow-y: auto; /* has to be scroll, not auto */
		  -webkit-overflow-scrolling: touch;
		  padding-bottom: 5.5rem;
		
	}

	&__heading {
		background-color: $grey-light;
		font-size: 1.6rem;
		color: $grey-333;
		padding: 1.0rem 1.5rem;

		display: flex;
		align-items: center;

	}
}

.heading {
	display: flex;
	flex-direction: row;

	&__info {
		flex: 1;

		display: flex;
		align-items: center;
	}
}

.subHeading {
	padding: 1.0rem;

	display: flex;
	justify-content: space-between;

	&__control {
		display: flex;
	}

	&__delete {
		height: 23px;
		margin-right: 5px;
		
		display: flex;
		align-items: center;
	}

	&__btn {
		@include size(26px, 24px, flex);
		align-items: center;
		justify-content: center;
		background-color: $grey-light;
		margin-left: 5px;
	}
}