@import '../../../../../styles-mobile/abstracts';

.m-learning-advantage{
    background-image: linear-gradient(138deg, #A68BF2 0%, #8E3E59 77%);
    color: $white;

    h2 {
        color: $white;
    }

    ul {
        display: flex;
        flex-direction: column;

        li {
            display: flex;
            justify-content: center;
            text-align: center;

            .learning-advantage__txt {
                display: flex;
                flex-direction: column;
                align-items: center;
            }

            p {
                margin: 1rem 2rem 2rem 2rem;
            }
        }
    }
}