<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">

<html xmlns="http://www.w3.org/1999/xhtml" >
<head>
    <title> Shine.com - Jobs in India. Careers in India and Employment in India.</title>
</head>
<body style="margin:0px;">
<table width="600px" cellpadding="0" cellspacing="0" style="border: 10px solid #ECECEC;">
    <tr>
        <td>
            <table width="100%" cellpadding="0" cellspacing="0" style="background:#FFFFFF; border: 1px solid #DEDEDE; font: 12px Arial;">
                <tr>
                    <td>
                        <table cellpadding="0" cellspacing="0" style="padding: 10px 5px; margin:0; width: 590px;">
                            <tr>
                                <td width="134" style="padding-top:12px; border-bottom: 1px solid #9C9C9C;"><!--img align="left" alt="HT Media" src="resume.shine.com/static/images/firefly-logo.gif"--></td>
                                <td width="21" style="border-bottom: 1px solid #9C9C9C;"></td>
                                <td width="289" style="border-bottom: 1px solid #9C9C9C;">
                                    <table cellpadding="0" cellspacing="0">
                                        <tr><td height="16"></td></tr>
                                        <tr>
                                            <td style="color: #000000; font: bold 21px Arial; line-height:23px; text-align: center; padding: 0px; margin: 0px;">HT Media Limited</td>
                                        </tr>
                                        <tr>
                                            <td style=" color: #000000; font: 13px Arial; text-align: center; line-height: 16px;padding: 0px; margin: 0px;"> Reg. Office 18-20, HT House,</td>
                                        </tr>
                                        <tr>
                                            <td style=" color: #000000; font: 13px Arial; text-align: center; line-height: 16px;padding: 0px; margin: 0px;">Kasturba Gandhi Marg, New Delhi - 110001.</td>
                                        </tr>
                                    </table>
                                </td>
                                <td width="11" style="border-bottom: 1px solid #9C9C9C;"></td>
                                <td width="133" valign="top" align="right" style="border-bottom: 1px solid #9C9C9C;">
                                    <table cellpadding="0" cellspacing="0" width="100%">
                                        <tr>
                                            <td width="65px" valign="bottom" style=" color: #000000; padding-bottom:3px; font: 11px Arial; text-align:left; text-decoration: none;">Invoice No. </td>
                                            <td width="60px" style="color: #000000; font: bold 12px Arial;text-decoration: none;">3897987</td>
                                        </tr>
                                        
                                        <!--tr>
                                            <td colspan="2" style=" color: #000000; font: 11px Arial; padding: 0 0 5px; text-align: right; text-decoration: none;"><a href="http://www.shine.com/"><img border="0" align="right" alt="Shine.Com" src="resume.shine.com/static/images/shine-invoice-logo.gif"></a></td>
                                        </tr-->
                                    </table>
                                </td>
                            </tr>
                        </table>
                    </td>
                </tr>
                <tr>
                    <td>
                        <table width="100%" cellpadding="0" cellspacing="0" style="padding:10px 0 10px 10px;">
                            <tr>
                                <td width="23%" style=" color: #000000; font: 14px Arial; text-align: left; line-height: 18px; padding: 6px 0 0 10px; margin: 0px;">Email</td>
                                <td width="4%"></td>
                                <td width="73%" style=" color: #000000; font: 14px Arial; text-align: left; line-height: 18px; padding: 6px 0 0 0px; margin: 0px;">na@gmail.com</td>
                            </tr>
                            <tr>
                                <td style=" color: #000000; font: 14px Arial; text-align: left;line-height: 18px; padding: 6px 0 0 10px; margin: 0px;">CellPhone</td>
                                <td></td>
                                <td style=" color: #000000; font: 14px Arial; text-align: left;line-height: 18px; padding: 6px 0 0 0px; margin: 0px;">878787878</td>
                            </tr>
                            <tr>
                                <td style=" color: #000000; font: 14px Arial; text-align: left;line-height: 18px; padding: 6px 0 0 10px; margin: 0px;">Invoice Date</td>
                                <td></td>
                                <td style=" color: #000000; font: 14px Arial; text-align: left;line-height: 18px;  padding: 6px 0 0 0px; margin: 0px;">28/07/2017</td>
                            </tr>
                            <tr>
                                <td style=" color: #000000; font: 14px Arial; text-align: left;line-height: 18px; padding: 6px 0 0 10px; margin: 0px;"></td>
                                <td></td>
                                <td style=" color: #000000; font: 14px Arial; text-align: left;line-height: 18px; padding: 6px 0 0 0px; margin: 0px;"></td>
                            </tr>
                        </table>
                    </td>
                </tr>
                <tr>
                    <td>
                        <table width="590px" cellpadding="0" cellspacing="0" style="padding:0 10px;">
                            <tr>
                                <td width="408" style="background:#383838; border: 1px solid #383838; padding: 0 0 0 6px; color: #FFFFFF; font: bold 15px Arial; height: 22px; padding: 6px 15px 0 15px; text-align: left;">Subscription</td>
                                <td width="180" style="background:#383838; border: 1px solid #383838; padding: 0 0 0 6px; color: #FFFFFF; font: bold 15px Arial; height: 22px; padding: 6px 15px 0 15px; text-align:center;">Amount (in Rs.)</td>
                            </tr>
                            
                                <tr>
                                    <td style=" border-bottom:solid 1px #CCCCCC; border-left:solid 1px #CCCCCC; border-right: 1px solid #CCCCCC; color: #333333; font: 15px Arial; padding: 5px 0 5px 13px;">Product 1</td>
                                    <td style="border-bottom:solid 1px #CCCCCC; border-right: 1px solid #CCCCCC; color: #333333; font: 15px Arial; padding: 5px 0 5px 0px; text-align:center;">10</td>
                                </tr>
                                <tr>
                                    <td style=" border-bottom:solid 1px #CCCCCC; border-left:solid 1px #CCCCCC; border-right: 1px solid #CCCCCC; color: #333333; font: 15px Arial; padding: 5px 0 5px 13px;">Product 2</td>
                                    <td style="border-bottom:solid 1px #CCCCCC; border-right: 1px solid #CCCCCC; color: #333333; font: 15px Arial; padding: 5px 0 5px 0px; text-align:center;">20</td>
                                </tr>

                            <tr>
                                <td style=" border-bottom:solid 1px #CCCCCC; border-left:solid 1px #CCCCCC; border-right: 1px solid #CCCCCC; color: #333333; font: 15px Arial; padding: 5px 0 5px 13px;">Sub Total</td>

                                <td style="border-bottom:solid 1px #CCCCCC; border-right: 1px solid #CCCCCC; color: #333333; font: 15px Arial; padding: 5px 0 5px 0px; text-align:center;">30</td>
                            </tr>

                            <tr>
                                <td style=" border-bottom:solid 1px #CCCCCC; border-left:solid 1px #CCCCCC; border-right: 1px solid #CCCCCC; color: #333333; font: 15px Arial; padding: 5px 0 5px 13px;">Discount (if any) 50%</td>

                                <td style="border-bottom:solid 1px #CCCCCC; border-right: 1px solid #CCCCCC; color: #333333; font: 15px Arial; padding: 5px 0 5px 0px; text-align:center;">15</td>
                            </tr>
                            <tr>
                                <td style=" border-bottom:solid 1px #CCCCCC; border-left:solid 1px #CCCCCC; border-right: 1px solid #CCCCCC; color: #333333; font: 15px Arial; padding: 5px 0 5px 13px;">Total</td>

                                <td style="border-bottom:solid 1px #CCCCCC; border-right: 1px solid #CCCCCC; color: #333333; font: 15px Arial; padding: 5px 0 5px 0px; text-align:center;">15</td>
                            </tr>
                           
                            <tr>
                                <td style=" border-bottom:solid 1px #CCCCCC; border-left:solid 1px #CCCCCC; border-right: 1px solid #CCCCCC; color: #333333; font: 15px Arial; padding: 5px 0 5px 13px;">Goods and Service Tax @ 18%</td>

                                <td style="border-bottom:solid 1px #CCCCCC; border-right: 1px solid #CCCCCC; color: #333333; font: 15px Arial; padding: 5px 0 5px 0px; text-align:center;">5</td>
                            </tr>
                            <tr>
                                <td style=" border-bottom:solid 1px #CCCCCC; border-left:solid 1px #CCCCCC; border-right: 1px solid #CCCCCC; color: #333333; font: 15px Arial; padding: 5px 0 5px 13px;">Grand Total</td>

                                <td style="border-bottom:solid 1px #CCCCCC; border-right: 1px solid #CCCCCC; color: #333333; font: 15px Arial; padding: 5px 0 5px 0px; text-align:center;">20</td>
                            </tr>
                        </table>
                    </td>
                </tr>
                <tr>
                    <td>
                        <table width="590px" cellpadding="0" cellspacing="0" style="padding:6px 10px 0;">
                            
                                <!--tr>
                                    <td colspan="3" style="color: #000000; font: 14px Arial; text-align: left; padding-bottom: 5px;">
                                        {% if internet_handling_charges %}
                                            asdfadsf
                                        {% else %}
                                            The above Goods and Service Tax amount includes CGST of {{order.get_currency}} {{ cess_amt_1|floatformat:2 }} and UTGST of {{order.get_currency}} {{ cess_amt_2|floatformat:2 }}
                                        {% endif %}
                                    </td>
                                </tr-->

                            <tr>
                                <td colspan="3" style="color: #000000; font: 14px Arial; text-align: left; padding-bottom: 5px;">Registered Details of HT Media Limited</td>
                            </tr>

                            <tr>
                                <td width="182" style="color: #000000; font: 14px Arial; text-align: left; padding: 0 0 0 10px; margin: 0px;">Pan No.</td>
                                <td width="15"></td>
                                <td width="421" style="color: #000000; font: 14px Arial; text-align: left; padding: 0px; margin: 0px;">AABCH3165P</td>
                            </tr>
                            <tr>
                                <td style="color: #000000; font: 14px Arial; text-align: left; padding: 0 0 0 10px; margin: 0px;">Goods and Service Tax No.</td>
                                <td></td>
                                <td style="color: #000000; font: 14px Arial; text-align: left; padding: 0px; margin: 0px;">07AABCH3165P2Z8</td>
                            </tr>
                            <tr>
                                <td style="color: #000000; font: 14px Arial; text-align: left; padding: 0 0 0 10px; margin: 0px;">Service Tax Category</td>
                                <td></td>
                                <td style="color: #000000; font: 14px Arial; text-align: left; padding: 0px; margin: 0px;">Other services n.e.c.</td>
                            </tr>
                            <tr><td height="5"></td></tr>
                        </table>
                    </td>
                </tr>
                <tr>
                    <td>
                    </td>
                </tr>
                <tr>
                    <td></td>
                </tr>
            </table>
        </td>
    </tr>
</table>
</body>
</html>
