<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">

<html xmlns="http://www.w3.org/1999/xhtml" >
  <head>
    <title>Invoice</title>
  </head>
  <body style="margin: 0; padding: 0;">
  <table width="600" border="0" cellpadding="0" cellspacing="0" style="border: 10px solid #ececec; font-size:13px; color:#333333; font-family:arial; padding:10px;">
      <tr>
        <td>
          <table width="100%" border="0" cellpadding="0" cellspacing="0" style="font-size: 12px; margin-bottom: 10px;">
              <tr valign="top">
                <td width="25%"></td>
                <td width="50%" align="center">
                  <strong style="display: block; font-size: 20px; font-weight: bold; margin-bottom: 3px;">HT Media Limited</strong>
                  Reg. Office 18-20, HT House, <br>Kasturba Gandhi Marg, New Delhi - 110001.
                </td>
                <td width="25%" align="right" style="font-size: 11px;">
                  Invoice No. <strong>866769</strong>
                </td>
              </tr>
          </table>
        </td>
      </tr>
      <tr style="border-top: 1px solid #dedede; display: block;">
        <td>
          <table width="100%" border="0" cellpadding="3" cellspacing="0" style="margin-top: 10px;">
              <tr>
                <td width="100">Email</td>
                <td>tarun.razdan@hindustantimes.com</td>
              </tr>
              <tr>
                <td>CellPhone</td>
                <td>1234567890</td>
              </tr>
              <tr>
                <td>Invoice Date</td>
                <td>April 11, 2017, 11:29 a.m. Subscription</td>
              </tr>
          </table>
        </td>
      </tr>
      <tr>
        <td>
          <table width="100%" border="1" bordercolor="#ccc" cellpadding="6" cellspacing="6" style="margin-top: 15px; margin-bottom: 15px; border-collapse: collapse;">
             <tr>
               <td bgcolor="#333333;" style="color: #ffffff;">
                <strong>Subscription</strong>
               </td>
               <td bgcolor="#333333;" style="color: #ffffff;">
                <strong>Amount (in Rs.)</strong>
               </td>
             </tr>
             <tr>
               <td>
                 Background Verification (Profile Experience Verification)
               </td>
               <td>
                 608.70
               </td>
             </tr>
             <tr>
               <td>
                 Skill Courses (Job Interview Prepration)
               </td>
               <td>
                 4520.87
               </td>
             </tr>
             <tr valign="top">
               <td>
                 Country Specific Resume
                  <table width="100%" border="0" cellpadding="0" cellspacing="4">
                      <tr>
                        <td>US</td>
                      </tr>
                      <tr>
                        <td>UK</td>
                      </tr>
                  </table>
               </td>
               <td>
                 &nbsp;
                 <table width="100%" border="0" cellpadding="0" cellspacing="4">
                      <tr>
                        <td>1043.48</td>
                      </tr>
                      <tr>
                        <td>1043.48</td>
                      </tr>
                  </table>
               </td>
             </tr>
             <tr>
               <td>
                 Sub Total
               </td>
               <td>
                 9041.75
               </td>
             </tr>
             <tr>
               <td>
                 Discount (if any) 0.000%
               </td>
               <td>
                 0.00
               </td>
             </tr>
             <tr>
               <td>
                 Total
               </td>
               <td>
                 9041.75
               </td>
             </tr>
             <tr>
               <td>
                 Service Tax @ 15.0
               </td>
               <td>
                 1356.26
               </td>
             </tr>
             <tr>
               <td>
                 Grand Total
               </td>
               <td>
                 10398.0
               </td>
             </tr>
          </table>
        </td>
      </tr>
      <tr>
        <td>
          The above amount include service tax of Rs. 1265.840 and Swachh Bharat Cess of Rs.45.210 and Krishi Kalyan Cess of Rs. 45.210
        </td>
      </tr>
      <tr>
        <td>
          <table width="100%" border="0" cellpadding="3" cellspacing="0" style="margin-top: 15px;">
              <tr>
                <td colspan="2">Registered Details of HT Media Limited</td>
              </tr>
              <tr>
                <td width="150">Pan No.</td>
                <td>AABCH3165P</td>
              </tr>
              <tr>
                <td>Service Tax No.</td>
                <td>AABCH3165PST001</td>
              </tr>
              <tr>
                <td>Service Tax Category</td>
                <td>Sale of Space and Time</td>
              </tr>
          </table>
        </td>
      </tr>
  </table>
  </body>
</html>