<div id="sidebar-menu" class="main_menu_side hidden-print main_menu">
	<div class="menu_section">
		<h3>General</h3>
		<ul class="nav side-menu">
			 <li><a><i class="fa fa-edit"></i> Blog <span class="fa fa-chevron-down"></span></a>
				<ul class="nav child_menu">
				    <li><a href="{% url "blog:blog-article-add" %}">Add New Article</a></li>
					<li><a href="{% url "blog:blog-article-list" %}">Article List</a></li>
					<li><a href="{% url "blog:blog-tag-add" %}">Add New Tag</a></li>
					<li><a href="{% url "blog:blog-tag-list" %}">Tags List</a></li>
					<li><a href="{% url "blog:blog-category-add" %}">Add New Category</a></li>
					<li><a href="{% url "blog:blog-category-list" %}">Category List</a></li>
					<li><a href="{% url "blog:blog-comment-moderate" %}">Comment Moderation List</a></li>
				</ul>
			</li>

		</ul>
	</div>

</div>