@import '../../../../styles-mobile/abstracts';

.bm-menu-wrap {
    background: $white;
}

.bm-burger-button {
    #react-burger-menu-btn {
        width: 4rem !important;
        height: 4rem !important;
    }
    span {
        position: relative;
        left: 1.5rem;
        top: 1rem;
        .bm-burger-bars {
            width: 2.3rem;
            height: .2rem !important;
            top: 0;
            background: $white !important;
            box-shadow: none !important;

            &:nth-child(1) {
                top: .8rem !important;
                width: 1.3rem !important;
            }

            &:nth-child(2) {
                top: 1.6rem !important;
            }
            &:nth-child(3) {
                top: 2.4rem !important;
            }
        }
    }
}

.m-guest-section {
    @extend %gradient;
    padding: 1.5rem 1rem;
    color: $white;
    display: flex !important;
    align-items: center;

    figure {
        width: 6rem;
        height: 6rem;
        @include border-radius(100%);
        margin-right: 1rem;
        background: $white;

        img {
            width: 100%;
        }
    }

    strong{
        display: block;
        margin-bottom: .5rem;
        font-size: 1.6rem;
    }

    a {
        &:not(:first-of-type) {
            margin-left: 1.5rem; 
        }
    }
}

.m-menu-links {
    padding: 0 1rem 1.5rem 1.5rem;

    .menu-item {
        margin: 2.5rem 0;
        color: $gray-600;
        font-size: 1.3rem;
        display: flex;
        align-items: center;

        figure {
            margin-right: 1rem;
        }
    }
}