@import '../../../../../../styles/functions';
@import '../../../../../../styles/variables';
@import '../../../../../../styles/mixins';

.find-job {
    
    form {
        .form-group{
            position: relative;
            margin-bottom: 1.5rem;

            .form-control {
            background: transparent;
            }
        }

        label {
            position: absolute;
            left: 1rem;
            top:1.3rem;
            font-weight: 400;
            font-size: 1.3rem;
            color: $gray-200;
            background: $white;
            padding: .3rem;
            pointer-events: none;
            margin-bottom: 0;
        }

        input:focus + label, input:not(:placeholder-shown) + label{
            opacity:1;
            transform: scale(.9) translateY(-100%) translateX(-10px);
            color: $blue;
            left: 1.6rem;
            top: 1rem;
            font-size: 1.2rem;
        }

        textarea:focus + label, textarea:not(:placeholder-shown) + label{
            opacity:1;
            transform: scale(.9) translateY(-100%) translateX(-10px);
            color: $blue;
            left: 1.6rem;
            top: 1rem;
        }
        .error {
            label {
            opacity:1;
            transform: scale(.9) translateY(-100%) translateX(-10px);
            color: $blue;
            left: 1.6rem;
            }
        }

        input, textarea {
            &:focus {
            border:.1rem solid $input-focus;
            outline-color: $input-focus;
            box-shadow: none;
            background: transparent;
            }
        }

        input {
            width:100%;
            padding-left: 1rem;
            height: 5.3rem;
            font-size: 1.3rem;
            background: transparent;
        }

        input, label {
            transition: all 0.2s;
            transition-timing-function: ease;
            transition-timing-function: cubic-bezier(0.25, 0.1, 0.25, 1);
            opacity:1;
        }

        .submit-btn {
            padding: 1.2rem 4rem;
            display: block;
            font-size: 1.3rem;
        }
        
        .custom-select-box {
            width: auto;
            margin-right: 0;

            &::after {
                background: $sprite -790px -23px;
                width: .8rem;
                height: .6rem;
                right: 2rem;
                top: 2.3rem;
            }

            .custom-select {
                background: transparent;
                height: 5.3rem;
                font-size: 1.3rem;
                padding-left: 1rem;

                &:focus {
                    box-shadow: none;
                }
            }
        }

        .checked {
            position: relative;

            &::after {
                content: '';
                position: absolute;
                right: -4rem;
                top: 2rem;
                background: $sprite -135px -185px;
                width: 1.9rem;
                height: 1.5rem;
                display: inline-block;
            }

            input, select {
                font-weight: 600;
            }
        }
        
        .form-group-custom {
            margin-bottom: 1rem;
            position: relative;

            .sticky-label {
                position: absolute;
                color: $blue;
                left: 1.6rem;
                top: -1rem;
                font-size: 1.1rem;
                background: $white;
                padding: .3rem;
                pointer-events: none;
                margin-bottom: 0;
            }

            &.checked {
                position: relative;
    
                &::after {
                    content: '';
                    position: absolute;
                    right: -4rem;
                    top: 40%;
                    background: $sprite -135px -185px;
                    width: 1.9rem;
                    height: 1.5rem;
                    display: inline-block;
                }
            }

            .custom-textarea {
                border: .1rem solid $border-color;
                border-radius: $border-radius;
                padding: 1.4rem 1rem;

                .custom-input {
                    border: transparent;
                    padding: 0;
                    height: auto;
                }

                .custom-btn {
                    border: none;
                    box-shadow: none;
                    background: transparent;

                    &:focus {
                        outline: none;
                    }
                }
            }

            .label-added {
                border: .1rem solid $border-color;
                position: unset;
                padding: .5rem 1rem;
                border-radius: 2rem;
                margin: 0 1rem 1rem 0;
                cursor: pointer;
                pointer-events: unset;
                font-size: 1.3rem;
                background: $course-light-bg;
                font-weight: 600;
                
                &::after {
                    content: '';
                    background: $sprite -164px -188px;
                    width: .8rem;
                    height: .8rem;
                    display: inline-block;
                    margin-left: .5rem;
                }
            }

            .label-add {
                border: .1rem solid $border-color;
                position: unset;
                padding: .5rem 1rem;
                border-radius: 2rem;
                margin: 0 1rem 1rem 0;
                cursor: pointer;
                pointer-events: unset;
                font-size: 1.3rem;
                
                &::after {
                    content: '';
                    background: $sprite -208px -189px;
                    width: .9rem;
                    height: .9rem;
                    display: inline-block;
                    margin-left: .5rem;
                }
            }
        }
    }
}
