@import "../path";
@import "../common/bootstrap/variables";
@import "../common/bootstrap/mixins";


.exe-header-faculty {
	background-size: cover !important;
	display: block;
	position: relative;
	min-height: 240px;

	.breadcrumb {
		margin-top: 30px;
	}
}

.faculty {

	margin-top: -160px;

	h1 {
		font-size: $font-size+39;
		color: $white-color;
		font-weight: $font-weight+300;
	}

	.faculty-pic {
		width: 210px;
		margin-right: 25px;
		display: inline-block;
		vertical-align: top;

		figure {
			width: 210px;
			height: 210px;
			position: relative;
			box-shadow: 0px 4px 24px 0px rgba(0, 0, 0, 0.31);
			border-radius: 5px;

			img {
				border-radius: 5px;
				width: 100%;
				height: 100%;
			}

			i {
				position: absolute;
				right: 20px;
				bottom: -25px;
				width: 72px;
				height: 62px;
				border-bottom: 5px solid $blue-color;
				display: inline-block;
				background-color: $white-color;
				box-shadow: -1px 0px 33px 0px rgba(0, 0, 0, 0.13);
				border-radius: 10px;
				padding: 10px 10px 0 10px;

				img {
					width: 100%;
					height: auto;
				}
			}
		}
		
	}

	.faculty-intro {
		display: inline-block;
		width: 78%;
		vertical-align: top;
		font-size: $font-size+3;
		position: relative;

		@media (max-width: 1190px) {
			width: 75%;
		}

		p {
			span {
				display: block;
			}
		}

		.sm-intro {
			color: $white-color;
			font-size: $font-size+2;
			margin-bottom: 60px;
		}
	}
	
}

.exe-courses-taken-box {
	background: url(#{$imagePath}images/executive/courses-offered-bg.jpg) #f6f6f6 no-repeat center top;
	background-size: cover;
	overflow: hidden;
	padding-bottom: 2%;
	min-height: 340px;
}

.exe-courses-offered {
	padding: 0 0 0 10px;
	margin: 15px 0;

	.media {
		margin: 0 0 0 15px;

		.media-right {
			position: relative;

			.admission-open {
				position: absolute;
				right: 5px;
				top: 14px;
				padding: 0 15px 0 7px;
				font-size: $font-size+1;
				font-weight: $font-weight+300;
				display: inline-block;
				background-color: $e-oragne-color;
				color: $white-color;
				height: 19px;
				line-height: 19px;

				&:before {
					
					width: 20px;
					height: 20px;
					content: '';
					width: 7px;
					height: 19px;
					position: absolute;
					left: -7px;
					background: $sprite-exe -419px -91px;
				}
			}

			figure {
				width: 120px;
				height: 120px;
				margin-top: 50px;

				img {
					max-width: 100%;
					display: block;
				}
			}
		}
	}

	.exe-university-small-img {
		width: 58px;
		height: 41px;
		border-bottom: 3px solid $blue-color;
		display: inline-block;
		background-color: $white-color;
		box-shadow: 0px 2px 13px 0px rgba(0, 0, 0, 0.11);
		border-radius: 5px;
		padding: 5px 5px 0 5px;
		margin: 15px 0 10px 0;
	}

	h3 {
		font-size: $font-size+5;
		font-weight: $font-weight+300;
		color: $anchor-color;
		margin-bottom: 10px;
		line-height: 20px;
	}

	p {
		font-size: $font-size+2;
		color: $grey-color;
		font-weight: $font-weight+100;
		display: table;

		i {
			display: table-cell;
			border-right: 28px solid transparent;
		}

		strong {
			font-weight: $font-weight+100;
			color: $e-secondary-color;
			display: inline-block;
		}

		.exe-icon-batch-grey {
			vertical-align: middle;
		}
	}
}