@import "../path";
@import "../common/bootstrap/variables";
@import "../common/bootstrap/mixins";


.exe-header-detail {
	background: linear-gradient( rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.3) ), url(#{$imagePath}images/executive/exe-header.jpg) no-repeat #000 center top;
	background-size: cover;
	display: block;
	position: relative;

	.exe-header-txt {
	  color: #fff;

	  h1 {
	  	font-size: $font-size+33;
	  	color: $white-color;
	  	font-weight: $font-weight+300;
	  }
	}

	.breadcrumb {
		margin-top: 30px;
	}
}

.exe-course-box {
	display: table;
	vertical-align: top;
	margin: 10px 0;

	.exe-course-img {
		width: 180px;
		height: 94px;
		border-bottom: 4px solid $blue-color;
		background-color: $white-color;
		border-radius: 5px;
		vertical-align: top;

		figure {
			width: 180px;
			height: 89px;
			padding: 0;
			display: block;
			text-align: center;
			vertical-align: middle;
			margin: 0 auto;

			img {
				max-width: 100%;
				height: 100%;
				text-align: center;
				vertical-align: middle;
				display: block;
				border: 0;
				margin: auto;
				padding: 5px 5px 3px 5px;
			}
		}
	}
}

.exe-enrol-now {
	text-align: center;
	margin-top: -40px;
	overflow: hidden;
	/*visibility: hidden;
	transition: visibility 0s 2s, opacity 2s linear;*/

	figure {
		display: block;
		padding: 20px 0 5px 0;

		figcaption {
			font-size: $font-size+4;
			color: $black-color;

			strong {
				display: block;
				font-size: $font-size+9;
				font-weight: $font-weight+300;
			}

			span {
				strong {
					font-size: $font-size+3;
					display: inline-block;
				}
			}

			.exe-price {
				color: #2e70d8;
				font-size: $font-size+21;
				font-weight: $font-weight+300;
			}
		}

		.sep {
			margin-left: 10%;
			margin-right: 10%; 
		}
	}

	.exe-icon-brochure {
		padding-bottom: 10px;
		vertical-align: middle;
		margin-right: 5px;
	}	
}

.exe-show-enrol-now {
	display: none;
	margin-top: 0;
	overflow: hidden;
	padding: 10px 20px;

	figure {
		display: block;
		padding: 5px 0;

		figcaption {
			font-size: $font-size+4;
			color: $primary-color;

			strong {
				font-size: $font-size+4;
				display: inline-block;
				font-weight: $font-weight+300;
				text-transform: none;

				span {
					font-size: $font-size+2;
					display: inline-block;
					width: 85px;
					color: $e-txt-color;
					font-weight: $font-weight+100;
				}
			}

			.exe-icon-brochure {
				text-align: left;
				vertical-align: middle;
				margin-right: 5px;
			}

			.exe-button-enrol {
				text-transform: none;
			}
		}
	}
}

.exe-course-highlights {
	background: rgba(0, 0, 0, 0.5);
	padding: 15px 15px;
	margin-top: 20px;

	.exe-course-highlights-box {
		color: $white-color;
		padding: 10px 20px;
		display: table;

		i {
			display: table-cell;
		}
		span {
			display: table-cell;
			padding-left: 30px;
			vertical-align: middle;
		}

		&.left-bdr {
			border-left: 1px solid #9d9da3;
		}
	}
}

.sep {
	border-bottom: 1px solid $e-border-color;
	display: block;
}

.exe-download-brochure {
	padding: 10px 0 0 0;
	display: block;
	text-align: center;
	color: $anchor-color;
	font-weight: $font-weight+300;
	font-size: $font-size+2;

	&:hover, &:focus {
		color: $anchor-color;
	}
}


.exe-detail-course-links {
	font-size: $font-size+3;
	color: $primary-color;
	border: 1px solid $e-border-color;
	display: block;
	font-weight: $font-weight+300;
	background-color: $white-color;
	position: relative;
	z-index: 777;
	padding-bottom: 6px;


	a {
		color: $e-secondary-color;
		margin-left: 1.5%;
		padding: 15px 2% 5px 2%;
		display: inline-block;
		line-height: 40px;
		border-bottom: 3px transparent $anchor-color !important;

		@media (max-width: 1190px) {
			margin-left: 1%;
			padding: 15px 1% 5px 1%;
		}

		&.active {
			padding: 9px 2% 8px 2%;	
			position: relative;

			&:after {
				content:"";
				height: 4px;
				display: block;
				position: absolute;
				bottom: 0;
				left: 0;
				right: 0;
				background: rgba(119,78,234,1);
				background: -moz-linear-gradient(left, rgba(119,78,234,1) 0%, rgba(83,139,223,1) 100%);
				background: -webkit-gradient(left top, right top, color-stop(0%, rgba(119,78,234,1)), color-stop(100%, rgba(83,139,223,1)));
				background: -webkit-linear-gradient(left, rgba(119,78,234,1) 0%, rgba(83,139,223,1) 100%);
				background: -o-linear-gradient(left, rgba(119,78,234,1) 0%, rgba(83,139,223,1) 100%);
				background: -ms-linear-gradient(left, rgba(119,78,234,1) 0%, rgba(83,139,223,1) 100%);
				background: linear-gradient(to right, rgba(119,78,234,1) 0%, rgba(83,139,223,1) 100%);
			}		
		}
	}
}

.query-price-box-scroll {
	width: 90%;
	position: absolute;
	right: 15px;
	top: 0;
	z-index: 99;
	display: block;
	opacity: 1 !important;
}

.samples_enquiry{
	.course-query{
		display: block;
		margin-bottom: 10px;
	}
	&.fixedSample{
		position: fixed;
		/*width: 21%;*/
		max-width: 270px;
		top:135px;
		/*visibility: visible;
		opacity: 1;
		transition: opacity 2s linear;*/
		

		@media (max-width: 1190px) {
			width: 22%;
		}

		.exe-show-enrol-now{
			display: block;
			/*visibility: visible;
			opacity: 1;
			transition: opacity 2s linear;*/
		}
	}
}

.exe-criteria-list {
	padding: 0;
	clear: both;
	margin-left: 7px;

	li {
		display: block;
		padding: 0 0 15px 20px;
		margin: 0;
		position: relative;
		font-size: $font-size+3;

		&:last-child {
			padding-bottom: 0;
		}

		&:before {
			content: '';
			width: 16px;
			height: 16px;
			position: absolute;
			left: -7px;
			top: 3px;
			background: $sprite-exe -447px -40px;
			display: inline-block;
		}
	}
}

.exe-who-attend {
	.media {
		margin-bottom: 10px;

		&:first-child {
			margin-top: 15px;
			width: 50%;
		}
	}
}

.exe-exclusive-benefits {
	h3 {
		color: $primary-color;
	}
	.thumbnail {
		border: none;
		padding: 0;
		margin-bottom: 0;

		.caption {
			padding: 9px 0;
			color: $e-txt-color;

			h3 {
				color: $e-secondary-color;
			}

			p {
				padding-top: 10px;
			}
		}
	}

	.e-btm-bdr {
		width: 97.5%;
		margin-left: 12px;
	}
}

.exe-why-shine-learning {
	padding: 0;
	clear: both;
	margin-left: 20px;
	list-style-type: none;;

	li {
		display: block;
		padding: 0 0 15px 20px;
		margin: 0;
		position: relative;
		font-size: $font-size+3;

		&:last-child {
			padding-bottom: 0;
		}

		&:before {
			content: '';
			width: 16px;
			height: 16px;
			position: absolute;
			left: -7px;
			top: 10px;
			background: $sprite-exe -447px -40px;
			display: inline-block;
		}
	}
}

.exe-structure-list1 {
	padding: 0;
	clear: both;
	margin-left: 7px;
	list-style-type: none;
	ul{
		padding:0px;
	}
	li {
		display: block;
		padding: 0 0 15px 15px;
		margin: 0;
		position: relative;
		font-size: $font-size+3;

		h3 {
			color: $e-secondary-color;
		}

		&:last-child {
			padding-bottom: 0;
		}

		&:before {
			content: '';
			width: 4px;
			height: 8px;
			position: absolute;
			left: -7px;
			top: 5px;
			background: $sprite-exe -450px -64px;
			display: inline-block;
		}
	}
}

.exe-structure-list2 {

	h3 {
		color: $e-secondary-color;
		font-size: $font-size+3;
		font-weight: $font-weight+100;
	}
}

.exe-sample-certificate {
	border: 1px solid #f0f0f0;
	background-color: $e-grey-bg;
	border-radius: 5px;
	display: block;
	padding: 3px;
	vertical-align: top;

	figure {
		width: 117px;
		height: 76px;
		display: inline-block;
		vertical-align: top;

		img {
			max-height: 100%;
		}
	}

	h3 {
		display: inline-block;
		vertical-align: middle;
	}
}

.exe-sample-certificate-modal {
	img {
		margin: 0 auto;
	}
}

.exe-institute {
	font-size: $font-size+3;

	figure {
		background: url(#{$imagePath}images/executive/institute-pic.jpg) no-repeat center top;
		background-size: cover;
		min-height: 190px;
		position: relative;

		.institute-txt {
			position: absolute;
			bottom: 30px;
			left: 30px;
			width: 92%;

			h3 {
				font-size: $font-size+22;
				color: $white-color;
				display: inline-block;
			}
		}
	}
}


.exe-request-call-form {
	background: url(#{$imagePath}images/executive/exe-request-call-bg.jpg) no-repeat #fff center top;
	background-size: cover;
	display: block;
	padding: 15px;

	h2 {
		font-size: $font-size+7;
		display: block;
		color: $primary-color;
		font-weight: $font-weight+300;
	}

	strong {
		font-size: $font-size+2;
		color: $secondary-color;
		display: block;
		font-weight: $font-weight+300;
	}

	.form-group {
		margin-bottom: 10px;

		.form-control {
			border-bottom: 1px solid $e-border-color;
			border-left: none;
			border-top: none;
			border-right: none;
			border-radius: 0;
			box-shadow: none;
			font-size: $font-size+2;
			padding-left: 0;
			font-weight: $font-weight+100;
		}
	}	
	
	.country-code {
		display: block;

		.custom-select {
			width: 51px;
			display: inline-block;
			height: 40px;
			position: relative;

			&:after {
				content: '';
				width: 0;
				height: 0;
				border-left: 4px solid transparent;
				border-right: 4px solid transparent;
				border-top: 6px solid $e-border-color;
				position: absolute;
				right: 8px;
				top: 16px;
				text-indent: 1px;
				text-overflow: '';
			}

			select {
				-webkit-appearance: none;
				-moz-appearance: none;
			    text-indent: 0;
			    text-overflow: '';
				border-radius: 0;
				height: 35px;
				padding: 6px 0;

				&::-ms-expand {
					display: none;
				}

				option {
					min-width: 100px;
				}
			}
		}

		.form-control {
			width: 75%;
			display: inline-block;

			@media (max-width: 1190px) {
				width: 69%;
			}
		}
	}

	.exe-button-submit {
		text-transform: none;
	}
}

.exe-fee-payments-box {
	.panel-default {
		padding: 0;

		.panel-heading {
			padding: 15px 20px;
		}
	}

	.panel-body {
		padding-bottom: 0 !important;
	}
}

.exe-program-fee {
	padding-bottom: 0;

	.overall-fees {
		font-size: $font-size+5;
		padding-left: 20px;
		color: $primary-color;

		strong {
			display: block;
			font-size: $font-size+16;
		}
	}

	.payment-deadline {
		font-size: $font-size;
		padding: 10px;
		color: $secondary-color;
		background-color: $e-grey-bg;
		border: 1px solid $e-blue-bdr;
		margin-right: 20px;
		border-radius: 5px;
		text-align: center;

		strong {
			display: block;
			font-size: $font-size+3;
			font-weight: $font-weight+300;
			color: $primary-color;
		}
	}

	.installment {
		background-color: $e-grey-bg;
		padding: 20px;
		overflow: hidden;
		font-size: $font-size+2;
		color: $secondary-color;

		.installment-available {
			border-right: 1px solid $e-border-color;

			&:last-child {
				border-right: 1px solid transparent;
			}

			strong {
				display: block;
				font-size: $font-size+10;
				font-weight: $font-weight+300;
			}

			.pay-deadline {
				font-size: $font-size+1;

				b {
					color: $primary-color;
					font-weight: $font-weight+300;
				}
			}
		}
	}	
}

.exe-application-process {

	.process-box {
		text-align: center;
		position: relative;
		margin-bottom: 20px;

		.exe-arrow {
			position: absolute;
			background: $sprite-exe -314px -91px;
			width: 67px;
			height: 27px;
			display: inline-block;
			top: 30px;
			left: -35px;
		}

		.circle {
			width: 86px;
			height: 86px;
			border-radius: 50%;
			display: inline-block;
			box-shadow: 0px 7px 25px 0px rgba(149, 149, 149, 0.2);
			margin-bottom: 15px;
			position: relative;

			i {
				position: absolute;
				left: 0;
				right: 0;
				top: 0;
				bottom: 0;
				margin: auto;
			}
		}
	}
}


.exe-late-fee {
	padding: 0 20px 20px 20px !important;
	p {
		padding-bottom: 20px;
	}
}

.you-may-like-carousel {
	background-color: #edf2f4;
	padding-bottom: 30px;

	.carousel-inner {
		width: 90%;
    	margin-left: 5%;

		&:before {
			content: '';
			width: 86px;
			height: 73px;
			position: absolute;
			left: 10px;
			top: 10px;
			background: $sprite-exe 0 -91px;
			display: inline-block; 
		}
	}

	.carousel-control {
		top: 35%;

		&.left {
			background-color: $white-color;
			width: 36px;
			height: 36px;
			border-radius: 10px;
			background-image: none;
			box-shadow: 0px 7px 25px 0px rgba(149, 149, 149, 0.2);
		}

		&.right {
			background-color: $white-color;
			width: 36px;
			height: 36px;
			border-radius: 10px;
			background-image: none;
			box-shadow: 0px 7px 25px 0px rgba(149, 149, 149, 0.2);
		}
	}
}
