{% load static %}
<!-- download wrap starts here -->
<div class="download-wrap mt-30 mb-15">
    <div class="download-pdf">
        {% if download_doc %}
        {% if request.amp %}
        <a download href="{{download_doc.doc.url}}">
                <div class="wrap">
                    <div class="table">
                        <div class="table-cell">
                            <span class="mt-10"><sup class="icon-download"></sup></span>
                            <p class="pb-0 fs-15">{{heading}}</p>
                        </div>
                    </div>
                </div>
                <amp-img
                    src="{{image.url}}"
                    alt="{{image_alt}}"
                    width="315"
                    height="90"
                    layout="responsive">
                </amp-img>
            </a>

            

        {% else %}
            <a id="id_download_button" href="{{download_doc.doc.url}}" data-popup="{% if request.session.candidate_id %}no{% else %}yes{% endif %}">
                <div class="wrap">
                    <div class="table">
                        <div class="table-cell">
                            <span class="mt-10" id="sidebar-countries-trigger"><sup class="icon-download"></sup></span>
                            <p class="pb-0 fs-15">{{heading}}</p>
                        </div>
                    </div>
                </div>

                <img aria-label="{{image_alt}}" src="{{image.url}}" alt="{{image_alt}}">
            </a>
        {% endif %}
        {% endif %}

    </div><!-- end of download pdf -->
</div><!-- download wrap Ends here -->



{% if request.amp %}
<!-- Select countries (optional) start here -->
<div class="sidebar hide"></div>

<!-- Select countries (optional) ends here -->

{% else %}
<!-- Select countries (optional) start here -->
<div class="sidebar" id="sidebar-countries">
    <div class="content-box cms-right packages pt-0">
        <h2 class="mb-0">{{heading}}</h2>

        <div class="mt-20">
            <form role="form" method="post" id="downloadpdf_form">
                {% csrf_token %}
                <div class="form-group">
                    <input type="text" class="form-control" placeholder="Name" id="user_name" name="name" {% if request.session.full_name %}value="{{request.session.full_name}}"{% endif %} maxlength="100">
                    <p class="mgs"></p>
                </div>

                <div class="form-group">
                    <input type="email" id="id_email" name="email"  class="form-control" placeholder="Email" {% if request.session.email %}value="{{request.session.email}}"{% endif %} maxlength="100">
                    <p class="mgs"></p>
                </div>

                <div class="form-group">
                    <div class="pull-left code">
                        <select name="country">
                            {% for country in country_choices %}
                            <option value="{{country.0}}" {% if country.0 == initial_country or country.0 == request.session.country_code %} selected {% endif %} >{{country.0}}&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;--&nbsp;&nbsp;&nbsp;&nbsp;{{country.1}}</option>
                            {% endfor %}
                        </select>
                    </div>
                    <input type="number" id="id_mobile" name="number" class="form-control pull-left number" placeholder="Mobile" {% if request.session.mobile_no %}value="{{request.session.mobile_no}}"{% endif %} maxlength="15">
                    <p class="mgs"></p>
                    <div class="clearfix"></div>
                </div>

                <div class="form-group mt-30 tnc">
                    <p class="c9">
                        <input type="checkbox"  name="term_condition" id="test1"/>
                        <label for="test1" class="fs-13">
                            By downloading this sample, you hereby accept our
                            <a href="#">Terms &amp; Conditions</a>
                        </label>
                        <span class="mgs"></span>
                    </p>
                </div>
                <div style='display:none'>
                    <!--input type='hidden' id="id_action" name='action_type'/-->
                    <input type='hidden' name='path' value="{{request.path}}" />
                    <input type='hidden' name='lsource' value="7" />
                    <input type="hidden" name="product" value="{{page_obj.pk}}">
                    <input type="hidden" name="prd" value="{{page_obj.heading}}">
                </div>
                <div class="form-group text-center tabs">
                    <button type="submit" id="id_download" class="btn btn-blue w100fl btn-round mb-20">Download</button>
                    <div class="clearfix"></div>
                    <p> <a href="javascript:void();" role="button" id="id_skip">Skip</a></p>
                </div>

            </form>
        </div>
    </div>
</div><!-- Select countries (optional) ends here -->
{% endif %}
