<div class="box row">
    <p class="fs-16">Choose and Download Resume Format and Samples Written by our Experts</p>

    <!-- tab container starts here -->
    <div class="tab-container cms mt-10">
        <ul class="tabs box-panel p-0">
            <li><a href="#" class="current" data-tab="tab-1">Functional area</a></li>
            <li><a href="#" data-tab="tab-2">Other formats</a></li>
        </ul>

        <!-- Tab content Satrts here -->
        <div id="tab-1" class="tab-content current row pb-0">
            <ul class="bullet">

                <li><a href="#">IT software</a></li>

                <li><a href="#">Marketing</a></li>

                <li><a href="#">IT hardware</a></li>

                <li><a href="#">Finance</a></li>

                <li><a href="#">Operation</a></li>

                <li><a href="#">Sales</a></li>

            </ul>
            <div class="clearfix"></div>
        </div><!-- Tab content ends here -->

        <!-- Tab content Satrts here -->
        <div id="tab-2" class="tab-content row pb-0">
            <ul class="bullet">

                <li><a href="#">Aenean tincidunt</a></li>

                <li><a href="#">Vestibulum</a></li>

                <li><a href="#">IT hardware</a></li>

                <li><a href="#">Aenean</a></li>

                <li><a href="#">Vestibulum</a></li>

                <li><a href="#">Nullam quis</a></li>

            </ul>
            <div class="clearfix"></div>
        </div><!-- Tab content ends here -->
    </div><!-- Tab container -->
</div><!-- box ends here -->
