{% load static humanize %}
{% load humanize_tags %}

{% static 'shinelearn/images/mobile/common/default-user.jpg' as default_user_pic %}
{% for comment in comments %}
    <li>
        <sup>
            {% if request.amp %}
            <amp-img
                src="{{ default_user_pic }}"
                width="40"
                height="40"
                alt="user">
            </amp-img>
            {% else %}
            <img aria-label="default user pic" src="{{ default_user_pic }}" alt="default user pic">
            {% endif %}
        </sup>
        <p class="pb-0">{{comment.message}}</p>
        <span class="editor fs-12 c9">{% if comment.name %}{{ comment.name|title }}, {% endif %}{% get_humanize_date comment.created_on %}</span>
    </li>
{% endfor %}
{% if not request.amp %}
{% if comments.has_next %}
    <div id="load_more">
        <form role="form" id="loadform">
            {% csrf_token %}
            <input type="hidden" name="page" value="{{comments.next_page_number}}">
            <input type="hidden" name="slug" value="{{page_obj.slug}}">
            <input type="hidden" name="pk" value="{{page_obj.pk}}">

        </form>
        <a id="comment_load_more" role="button" class="btn-outline btn"> <span class="comments-icon mr-10"></span>Load more Comments</a>
    </div>
{% endif %}
{% endif %}
