{% load static %}
<!-- box starts here -->
<div class="container">
    <div class="box row">
        <h2>{{heading}}</h2>
        <p>
        	{% if request.amp %}

        	<amp-img 
        		src="{{image.url}}" 
        		class="img-responsive"
        		width="345"
        		height="188"
        		layout="responsive">
        	</amp-img>
        	{% else %}
        	<img aria-label="image" src="{{'image.url'}}" class="img-responsive" alt="image">
        	{% endif %}
        </p>
        <p class="text-center fs-16 bold mt-15"><a  href="{{redirect_url}}">Take practice test</a></p>
    </div>
</div><!-- box ends here -->
