{% load static %}
<!-- Related articles Starts here -->
<div class="related-article row mb-30 mt-30">
    <h2 class="mb-10">Related articles</h2>

    <ul class="home-slider">

        <li>
            <div class="media">
                <a title="Government Jobs" href="#">
                    <figure class="media-left">
                        <img class="media-object w-auto" src="{% static 'shinelearn/images/mobile/cms/article-list-1.jpg' %}" alt="...">
                    </figure>
                    <div class="media-body rel">
                        <p class="mb-0">8 Reasons to consider a career change</p>
                    </div>
                </a>
            </div>
        </li>

        <li>
            <div class="media">
                <a title="Government Jobs" href="#">
                    <figure class="media-left">
                        <img class="media-object w-auto" src="{% static 'shinelearn/images/mobile/cms/article-list-2.jpg' %}" alt="...">
                    </figure>
                <div class="media-body rel">
                    <p class="mb-0">Career management: Defining the process and purpose</p>
                </div>
                </a>
            </div>
        </li>

        <li>
            <div class="media">
                <a title="Government Jobs" href="#">
                    <figure class="media-left">
                        <img class="media-object w-auto" src="{% static 'shinelearn/images/mobile/cms/article-list-3.jpg' %}" alt="...">
                    </figure>
                    <div class="media-body rel">
                        <p class="mb-0">8 Reasons to consider a career change</p>
                    </div>
                </a>
            </div>
        </li>

    </ul>
</div><!-- Related articles Ends here -->
