@import '../../../../../styles/functions';
@import '../../../../../styles/variables';
@import '../../../../../styles/mixins';

.skill-gain {
    flex: 1;
    &__list {
        width: auto;
        margin: 4rem 0 3rem 0;

        .badge {
            &::before {
                content: '';
                background: $sprite -32px 0;
                width: 1rem;
                height: .8rem;
                display: inline-block;
                margin-right: .7rem;
            }
        }
    }

    &__img {
        margin-left: auto;
        align-self: flex-end;
        width: 50rem;
        height: 37.9rem;
        position: relative;

        .skill-tween1 {
            position: absolute;
            left: 3rem;
            bottom: 2rem;
        }

        .skill-tween2 {
            position: absolute;
            left: 15rem;
            bottom: 0;
        }

        .skill-tween3 {
            position: absolute;
            left: 14.5rem;
            top: 6.7rem;
        }

        .skill-tween4 {
            position: absolute;
            left: 17rem;
            top: 2rem;
        }

        .skill-tween5 {
            position: absolute;
            left: 22rem;
            top: 0rem;
        }

        .skill-tween6 {
            position: absolute;
            left: 27rem;
            top: 1rem;
        }

        .skill-tween7 {
            position: absolute;
            left: 30.5rem;
            top: 4.5rem;
        }

        .skill-tween8 {
            position: absolute;
            left: 31.5rem;
            top: 10rem;
        }
    }

    &__banner {
        padding: 1.5rem;
        background-color: $free-test-banner-bg;
        border: 1px solid $free-test-banner-bdr;
        border-radius: $border-radius;
        display: flex;
        align-items: center;
        margin-right: 20%;

        p {
            width: 50%;
            margin-bottom: 0;
        }
    }
}