@import '../../../../../styles-mobile/abstracts';

.m-courses-detail {
    h2 {
        font-size: $font-size-lg;
        padding-right: 4rem;
    }
    figure {
        width: 6rem;
        height: 6rem;
        flex: 0 0 6rem;

        img {
            max-width: 100%;
        }
    }

    .m-share {
        @include size(25px, 25px, block);
        position: absolute;
        right: 10px;
        top: 15px;
        cursor: pointer;
        z-index: 9;

        &__box {
            position: absolute;
            right: -7px;
            width: 42px;
            top: 25px;
            z-index: 9;
            display: none;

            a {
                &::before {
                    content: '';
                    @include size(19px, 20px, block);
                    background: $spriteDb;
                    margin: 8px auto;
                }

                &:not(:last-child) {
                    border-bottom: 1px solid rgba(151, 151, 151, .11);
                    display: block;
                }
                
            }

            .m-facebook-icon {
                &::before {
                    background-position: -71px -78px;
                }
            }

            .m-linkedin-icon {
                &::before {
                    background-position: -70px -103px;
                }
            }

            .m-twitter-iocn {
                &::before {
                    background-position: -70px -127px;
                }
            }

            .m-whatsup-icon {
                &::before {
                    background-position: -69px -147px;
                }
            }
        }

        .icon-share {
            @include size(25px, 25px, block);
            background: $spriteDb;
            background-position: -90px -53px;
            position: absolute;
            right: 0;   
            cursor: pointer;
        }

        &:hover .m-share__box,
        &:active .m-share__box,
        &:focus .m-share__box{
            display: block;
        }
    }

    &--session {
        font-size: 1.1rem;

        span {
            flex: 0 0 82px;
        }

        strong {
            font-weight: $font-weight-semi-bold;
        }
    }

    &--alert {
        position: relative;
        padding-left: 55px;
        font-size: $font-size-xs;

        a {
            font-weight: 600;
        }
        
        &::before {
            content: '';
            @include size(28px, 28px, block);
            background-color: #D8D8D8;
            border-radius: 50%;
            position: absolute;
            left: 15px;
            top: 4px;
        }

        &::after {
            content: '';
            @include size(17px, 18px, block);
            background: $spriteDb;
            background-position: -93px -35px;
            position: absolute;
            left: 21px;
            top: 9px;
        }
    }

    &__bottomWrap {
        border-top: 1px solid rgba($gray-100, .2);
        border-bottom: 1px solid rgba($gray-100, .2);
        padding-top: 15px;
        padding-bottom: 15px;
        margin-top: 10px;
        display: flex;
        align-items: center;
        justify-content: space-between;
    
        .m-day-remaning {
            display: flex;

            &--box {
                @include size(25px, 25px, block);
                border-radius: 3px;
                border: 1px solid #C5C5C5;
                padding: 5px;
                font-size: 2.2rem;
                margin-right: 5px;
                line-height: 14px;
            }

            &--text {
                display: block;
                font-size: 1.1rem;
                line-height: 12px;
                padding-top: 1px;
            }
        }

        .m-db-start-course {
            display: flex;
            align-items: center;
            font-size: 1.3rem;

            &::before {
                content: '';
                @include size(23px, 23px, block);
                background: $spriteDb;
                background-position: -93px -84px;
                margin-right: 10px;
            }
        }

        .m-db-resume-course {
            display: flex;
            align-items: center;
            font-size: 1.3rem;

            &::before {
                content: '';
                @include size(23px, 23px, block);
                background: $spriteDb;
                background-position: -18px -189px;
                margin-right: 10px;
            }
        }
    }

    &__userInput {
        font-size: $font-size-xs;
        display: flex;
        align-items: center;
        justify-content: space-between;
        padding-top: 10px;
    }


    .m-db-comments {
        &::before {
            content: '';
            @include size(15px, 15px, inline-block);
            background: $spriteDb;
            background-position: -73px -57px;
            position: relative;
            top: 6px;
            margin-right: 8px;
        }
    }

    .m-rating {
        margin-left: 5px;

        .micon-blankstar,
        .micon-fullstar {
            margin: 0 2px;
        }
    }

    .m-mycourse-highlighter {
        background-color: #FBF9F0;
        font-size: 1.2rem;
        margin: 10px -12px -15px 0px;
        padding: 15px 20px 15px 15px;
    }
}

.m-reviews-list-wrap {
    position: absolute;
    top: 30px;
    right: 0;
    z-index: 9;

    &--bottom {
        border-top: 1px solid rgba(151, 151, 151, .2);
        padding-top: 20px;
        padding-left: 15px;
        text-align: center;
    }
}

.m-reviews-list {
    @include size(100%, 226px, block);
    @extend %custom-scroll;
    overflow-y: auto;
    overflow-x: hidden;
    padding: 0 15px;


    &--date {
        color: $gray-600;
        font-size: 1.1rem;
        margin: 5px 0;
        display: block;
    }

    &--text {
        color: $gray-200;
        font-weight: 500;
        font-size: 1.2rem;
    }

    ul {
        li {
            &:not(:last-child) {
                margin-bottom: 15px;
            }
        }
    }   
}