{% extends "console/base_console.html" %}
{% load static compress %}
{% load humanize %}
{% load console_tags %}

{% block title %}
  <title>Change Category</title>
{% endblock title %}

{% block css_block %}
  {{ block.super }}

  {% compress css %}
  <!-- Switchery -->
  <link href="{% static 'packages/switchery/dist/switchery.min.css' %}" rel="stylesheet" type="text/css">
  <link type="text/css" href="{% static 'console/css/myadmin/django-admin-widgets.css' %}" rel="stylesheet">
  {% endcompress %}

  {% compress css inline %}
  <style type="text/css">
    ul.parsley-errors-list {
        list-style: none;
        color: #fff;
        padding-left: 0;
    }
    ul.errorlist {
        list-style: none;
        color: #fff;
        padding-left: 0;
    }
    .empty-form{
      display: none;
    }
    .clearimg a{
      margin-right: 33%;
    }
  </style>
  {% endcompress %}
                
{% endblock css_block %}

{% block pagecontent %}
        <!-- page content -->
<div class="right_col" role="main">
  <div class="">
    <div class="page-title">
      <div class="title_left">
        <h3></h3>
      </div>

    </div>
    <div class="row">
      <div class="col-md-12 col-sm-12 col-xs-12">
        {% if messages %}
            {% for message in messages %}

              <div{% if message.tags %} class="alert alert-{{ message.tags }} alert-dismissable"{% endif %}>
              <button type="button" class="close" data-dismiss="alert" aria-hidden="true">&times;</button>

              {{ message }}
              </div>
            {% endfor %}
        {% endif %}

      </div>
    </div>
      <div class="row top_tiles">
        {% if not object.active %}
    
          <div class="col-lg-3 col-md-3 col-sm-6 col-xs-12" >
              <a class="btn btn-app click-modal" data-msg="active">
                <i class="fa fa-check-square-o"></i> Make Active</a>
            </div>
        {% else %}
          <div class="col-lg-3 col-md-3 col-sm-6 col-xs-12" >
              <a class="btn btn-app click-modal" data-msg="inactive">
                <i class="fa fa-minus-square"></i> Make Inactive</a>
            </div>
      
        {% endif %}
        {% if object.type_level != 1 and object.type_level != 2 %}
          
          {% if not object.is_skill and not object.is_service and not object.is_university %}
      
            <div class="col-lg-3 col-md-3 col-sm-6 col-xs-12" >
                <a class="btn btn-app click-modal" data-msg="skill">
                  <i class="fa fa-check-square-o"></i> Make Skill</a>
              </div>

            <div class="col-lg-3 col-md-3 col-sm-6 col-xs-12" >
                <a class="btn btn-app click-modal" data-msg="service">
                  <i class="fa fa-check-square-o"></i> Make Service</a>
            </div>

            <div class="col-lg-3 col-md-3 col-sm-6 col-xs-12" >
              <a class="btn btn-app click-modal" data-msg="university">
                <i class="fa fa-check-square-o"></i> Make University</a>
            </div>

          {% elif object.is_skill %}
            <div class="col-lg-3 col-md-3 col-sm-6 col-xs-12" >
                <a class="btn btn-app click-modal" data-msg="noskill">
                  <i class="fa fa-minus-square"></i> Remove Skill</a>
              </div>

          {% elif object.is_university %}
            <div class="col-lg-3 col-md-3 col-sm-6 col-xs-12" >
              <a class="btn btn-app click-modal" data-msg="nouniversity">
                <i class="fa fa-minus-square"></i> Remove University</a>
            </div>

          {% else %}
            <div class="col-lg-3 col-md-3 col-sm-6 col-xs-12" >
              <a class="btn btn-app click-modal" data-msg="noservice">
                <i class="fa fa-minus-square"></i> Remove Service</a>
            </div>
          {% endif %}

        {% endif %}
        
    </div>
    
    <form class="form-horizontal form-label-left" method="POST" novalidate id="approval-form">
      {% csrf_token %}
      <input type="hidden" name="category" value="{{object.pk}}">
      <input type="hidden" name="action" value="">
    </form>


    <div id="alertModal" class="modal fade in" tabindex="-1" role="dialog" aria-hidden="true" style="display: none;">
      <div class="modal-dialog modal-sm">
        <div class="modal-content">

          <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">×</span>
            </button>
            <h4 class="modal-title" id="alertModalTitle">Alert!</h4>
          </div>
          <div class="modal-body" id="alertModalBody"> 
          </div>
          <div class="modal-footer">
            <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
            <button type="button" class="btn btn-primary" id="alertModalOk" data-action="">Ok</button>
          </div>

        </div>
      </div>
    </div>
    
    

    <div class="clearfix"></div>

    <div class="row">
      <div class="col-md-12 col-sm-12 col-xs-12">
          {% if perms.shop.console_change_category_main %}
                
            <div class="x_panel">
                <div class="x_title">
                      <h2><i class="fa fa-thumb-tack"></i> Main</h2>
                      <ul class="nav navbar-right panel_toolbox">
                        <li><a class="collapse-link"><i class="fa fa-chevron-up"></i></a>
                        </li>
                      </ul>
                      <div class="clearfix"></div>
                    </div>
                    <div class="x_content">
                  
                  <form class="form-horizontal form-label-left" method="POST" action="." novalidate enctype="multipart/form-data" id="change-category-form">
                    {% csrf_token %}
                    {% if form.non_field_errors %}
                      <div class="alert alert-danger alert-dismissible fade in" role="alert">
                        <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">×</span>
                        </button>
                        {{form.non_field_errors}}
                      </div>
                    {% endif %}

                    <div class="item form-group">
                      <label class="control-label col-md-3 col-sm-3 col-xs-12" for="">Modified</label>
                      <div class="col-md-6 col-sm-6 col-xs-12">
                        <label style="padding-top:8px;">{{object.modified|naturaltime}}</label>
                      </div>
                    </div>


                    <div class="item form-group {% if form.name.errors %}bad{% endif %}">
                      <label class="control-label col-md-3 col-sm-3 col-xs-12" for="{{ form.name.id_for_label }}">Name <span class="required">*</span>
                      </label>
                      <div class="col-md-6 col-sm-6 col-xs-12">
                        {{form.name}}
                      </div>
                      <div class="alert">{{form.name.errors}}</div>
                    </div>

                    <div class="item form-group">
                      <label class="control-label col-md-3 col-sm-3 col-xs-12" for="">Slug</label>
                      <div class="col-md-6 col-sm-6 col-xs-12">
                        <label style="padding-top:8px;">{{object.slug}}</label>
                      </div>
                    </div>

                    <div class="item form-group {% if form.type_level.errors %}bad{% endif %}">
                      <label class="control-label col-md-3 col-sm-3 col-xs-12" for="{{ form.type_level.id_for_label }}">Level <span class="required">*</span>
                      </label>
                      <div class="col-md-6 col-sm-6 col-xs-12">
                        {{form.type_level}}
                      </div>
                      <div class="alert">{{form.type_level.errors}}</div>
                    </div>

                    
                    <div class="item form-group {% if form.banner.errors %}bad{% endif %}">
                      <label class="control-label col-md-3 col-sm-3 col-xs-12" for="{{ form.banner.id_for_label }}">Banner <span class="required"></span>
                      </label>
                      <div class="col-md-6 col-sm-6 col-xs-12 clearimg">
                        {{form.banner}}
                      </div>
                      <div class="alert">{{form.banner.errors}}</div>
                    </div>

                    <div class="item form-group {% if form.image.errors %}bad{% endif %}">
                      <label class="control-label col-md-3 col-sm-3 col-xs-12" for="{{ form.image.id_for_label }}">Image <span class="required"></span>
                      </label>
                      <div class="col-md-6 col-sm-6 col-xs-12 clearimg">
                        {{form.image}}
                      </div>
                      <div class="alert">{{form.image.errors}}</div>
                    </div>

                    <div class="item form-group {% if form.icon.errors %}bad{% endif %}">
                      <label class="control-label col-md-3 col-sm-3 col-xs-12" for="{{ form.icon.id_for_label }}">Icon <span class="required"></span>
                      </label>
                      <div class="col-md-6 col-sm-6 col-xs-12 clearimg">
                        {{form.icon}}
                      </div>
                      <div class="alert">{{form.icon.errors}}</div>
                    </div>

                    <div class="item form-group {% if form.display_order.errors %}bad{% endif %}">
                      <label class="control-label col-md-3 col-sm-3 col-xs-12" for="{{ form.display_order.id_for_label }}">Display Order <span class="required"></span>
                      </label>
                      <div class="col-md-6 col-sm-6 col-xs-12">
                        {{form.display_order}}
                      </div>
                      <div class="alert">{{form.display_order.errors}}</div>
                    </div>

                    <input type="hidden" name="category" value="{{object.pk}}">
                    <input type="hidden" name="slug" value="main">
                    
                    <div class="ln_solid"></div>
                    <div class="form-group">
                      <div class="col-md-9 col-sm-9 col-xs-12 col-md-offset-3">
                        <button type="submit" class="btn btn-success">Submit</button>
                      </div>
                    </div>
                  </form>
                  </div>
              </div>
          {% endif %}
          {% if perms.shop.console_change_category_seo %}
              <div class="x_panel">
                <div class="x_title">
                      <h2><i class="fa fa-thumb-tack"></i>SEO</h2>
                      <ul class="nav navbar-right panel_toolbox">
                        <li><a class="collapse-link"><i class="fa fa-chevron-up"></i></a>
                        </li>
                      </ul>
                      <div class="clearfix"></div>
                    </div>
                    <div class="x_content">
                      <form class="form-horizontal form-label-left" method="POST" action="." novalidate enctype="multipart/form-data" id="change-category-seo-form">
                        {{form.media}}
                        {% csrf_token %}
                        
                        {% if seo_form.non_field_errors %}
                          <div class="alert alert-danger alert-dismissible fade in" role="alert">
                            <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">×</span>
                            </button>
                            {{seo_form.non_field_errors}}
                          </div>
                        {% endif %}

                        <div class="item form-group">
                          <label class="control-label col-md-3 col-sm-3 col-xs-12" for="">Url</label>
                          <div class="col-md-6 col-sm-6 col-xs-12">
                            <a href="{{object.get_absolute_url}}" style="padding-top:8px;">{{object.get_absolute_url}}</a>
                          </div>
                        </div>
                        <div class="item form-group {% if seo_form.heading.errors %}bad{% endif %}">
                          <label class="control-label col-md-3 col-sm-3 col-xs-12" for="{{ seo_form.heading.id_for_label }}">Display Heading <span class="required">*</span>
                          </label>
                          <div class="col-md-6 col-sm-6 col-xs-12">
                            {{seo_form.heading}}
                          </div>
                          <div class="alert">{{seo_form.heading.errors}}</div>
                        </div>
                        
                        <div class="item form-group {% if seo_form.title.errors %}bad{% endif %}">
                          <label class="control-label col-md-3 col-sm-3 col-xs-12" for="{{ seo_form.title.id_for_label }}">Title <span class="required">*</span>
                          </label>
                          <div class="col-md-6 col-sm-6 col-xs-12">
                            {{seo_form.title}}
                          </div>
                          <div class="alert">{{seo_form.title.errors}}</div>
                        </div>

                        <div class="item form-group {% if seo_form.meta_desc.errors %}bad{% endif %}">
                          <label class="control-label col-md-3 col-sm-3 col-xs-12" for="{{ seo_form.meta_desc.id_for_label }}">Meta Description <span class="required"></span>
                          </label>
                          <div class="col-md-6 col-sm-6 col-xs-12">
                            {{seo_form.meta_desc}}
                          </div>
                          <div class="alert">{{seo_form.meta_desc.errors}}</div>
                        </div>
                        
                        <div class="item form-group {% if seo_form.meta_keywords.errors %}bad{% endif %}">
                          <label class="control-label col-md-3 col-sm-3 col-xs-12" for="{{ seo_form.meta_keywords.id_for_label }}">Meta Keywords <span class="required"></span>
                          </label>
                          <div class="col-md-6 col-sm-6 col-xs-12">
                            {{seo_form.meta_keywords}}
                          </div>
                          <div class="alert">{{seo_form.meta_keywords.errors}}</div>
                        </div>
                        
                        
                        <div class="item form-group {% if seo_form.image_alt.errors %}bad{% endif %}">
                          <label class="control-label col-md-3 col-sm-3 col-xs-12" for="{{ seo_form.image_alt.id_for_label }}">Image Alt <span class="required"></span>
                          </label>
                          <div class="col-md-6 col-sm-6 col-xs-12">
                            {{seo_form.image_alt}}
                          </div>
                          <div class="alert">{{seo_form.image_alt.errors}}</div>
                        </div>
                        
                        


                        <input type="hidden" name="category" value="{{object.pk}}">
                        <input type="hidden" name="slug" value="seo">
                        <div class="ln_solid"></div>
                        <div class="form-group">
                          <div class="col-md-9 col-sm-9 col-xs-12 col-md-offset-3">
                            <button type="submit" class="btn btn-success">Submit</button>
                          </div>
                        </div>
                      </form>
                  </div>
              </div>
          

          {% endif %}
          
          {% if perms.shop.console_change_category_main %}
            {% if object.type_level != 1 and object.type_level != 0 %}
              <div class="x_panel">
                  <div class="x_title">
                        <h2><i class="fa fa-thumb-tack"></i>Service/Skill/University Page Info</h2>
                        <ul class="nav navbar-right panel_toolbox">
                          <li><a class="collapse-link"><i class="fa fa-chevron-up"></i></a>
                          </li>
                        </ul>
                        <div class="clearfix"></div>
                      </div>
                      <div class="x_content">
                    
                    <form class="form-horizontal form-label-left" method="POST" action="." novalidate enctype="multipart/form-data" id="change-category-skill-form">
                      {{skill_form.media}}
                      {% csrf_token %}
                      
                      {% if skill_form.non_field_errors %}
                        <div class="alert alert-danger alert-dismissible fade in" role="alert">
                          <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">×</span>
                          </button>
                          {{skill_form.non_field_errors}}
                        </div>
                      {% endif %}

                      <div class="item form-group {% if skill_form.description.errors %}bad{% endif %}">
                        <label class="control-label col-md-3 col-sm-3 col-xs-12" for="{{ skill_form.description.id_for_label }}"> Description <span class="required">*</span>
                        </label>
                        <div class="col-md-6 col-sm-6 col-xs-12">
                          {{skill_form.description}}
                        </div>
                        <div class="alert">{{skill_form.description.errors}}</div>
                      </div>
                      
                      <div class="item form-group {% if skill_form.career_outcomes.errors %}bad{% endif %}">
                        <label class="control-label col-md-3 col-sm-3 col-xs-12" for="{{ skill_form.career_outcomes.id_for_label }}">{% if object.is_service %}Professional Advantages{% else %}Career Outcomes {% endif %} {% if not object.is_service %}<span class="required">*</span>{% endif %}
                        </label>
                        <div class="col-md-6 col-sm-6 col-xs-12">
                            {{skill_form.career_outcomes}}
                            <div id="suggestions-container" style="position: relative; float: left; width: 250px; margin: 10px;"></div>
                        </div>
                        <div class="alert">{{skill_form.career_outcomes.errors}}</div>
                      </div>

                      <div class="item form-group {% if skill_form.video_link.errors %}bad{% endif %}">
                        <label class="control-label col-md-3 col-sm-3 col-xs-12" for="{{ skill_form.video_link.id_for_label }}">Video Url 
                        </label>
                        <div class="col-md-6 col-sm-6 col-xs-12">
                          {{skill_form.video_link}}
                          {{ skill_form.video_link.help_text }}
                        </div>
                        <div class="alert">{{skill_form.video_link.errors}}</div>
                      </div>


                      <div class="item form-group {% if skill_form.graph_image.errors %}bad{% endif %}">
                        <label class="control-label col-md-3 col-sm-3 col-xs-12" for="{{ skill_form.graph_image.id_for_label }}">Graph <span class="required"></span>
                        </label>
                        <div class="col-md-6 col-sm-6 col-xs-12">
                          {{skill_form.graph_image}}
                        </div>
                        <div class="alert">{{skill_form.graph_image.errors}}</div>
                      </div>

                      
                      
                      <input type="hidden" name="category" value="{{object.pk}}">
                      <input type="hidden" name="slug" value="skill">
                      <div class="ln_solid"></div>
                      <div class="form-group">
                        <div class="col-md-9 col-sm-9 col-xs-12 col-md-offset-3">
                          <button type="submit" class="btn btn-success">Submit</button>
                        </div>
                      </div>
                    </form>
                    </div>
                </div>
              {% endif %}
          {% endif %}
                         
        
        {% if perms.shop.console_change_category_main %}
                
        {% if relationship_formset  %}
          
        <div class="x_panel">
          <div class="x_title">
            <h2><i class="fa fa-thumb-tack"></i> Add/Change Category Parents</h2>
            <ul class="nav navbar-right panel_toolbox">
              <li><a class="collapse-link"><i class="fa fa-chevron-up"></i></a>
              </li>
            </ul>
            <div class="clearfix"></div>
          </div>
          <div class="x_content">
            <div class="accordion" id="accordion" role="tablist" aria-multiselectable="true">
              <form class="form-horizontal form-label-left" method="POST" action="." novalidate enctype="multipart/form-data" id="change-category-relation-form">
                    {% csrf_token %}
                    {{ relationship_formset.management_form }}
                {% if relationship_formset.non_form_errors %}
                  <div class="alert alert-danger alert-dismissible fade in" role="alert">
                    <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">×</span>
                    </button>
                    {{ relationship_formset.non_form_errors }}
                  </div>
                {% endif %}
              <div class="inter-related-parent-div">    
              {% for inline_admin_form in relationship_formset.forms %}
              <div class="panel {% if forloop.last %} {% endif %}">
                <a class="panel-heading collapsed" role="tab" id="heading{{forloop.counter}}" data-toggle="collapse" data-parent="#accordion" href="#collapse{{forloop.counter}}" aria-expanded="false" aria-controls="collapse{{forloop.counter}}">
                  {% if  inline_admin_form|get_instance %}
                  <h4 class="panel-title">Category Parent:&nbsp;{{inline_admin_form|get_instance}}</h4>

                  {% else %}
                  <h4 class="panel-title">Category Parent: Add New
                  </h4>{% endif %}

                    
                </a>
                <div id="collapse{{forloop.counter}}" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingOne" aria-expanded="false" style="height: 0px;">
                  <div class="panel-body">
                      {% if  inline_admin_form.DELETE %}
                        <div class="pull-left">
                          {{inline_admin_form.DELETE}}<label for="{{ inline_admin_form.DELETE.id_for_label }}" style="color:#d9534f !important;">&nbsp;&nbsp;Delete
                          </label>
                          
                        </div>
                        </br>
                          <div class="clearfix"></div>
                      {% endif %}

                      {% for hidden in inline_admin_form.hidden_fields %}
                          {{ hidden }}
                      {% endfor %}
                  
                      <div class="item form-group {% if inline_admin_form.related_to.errors %}bad{% endif %}">
                      <label class="control-label col-md-3 col-sm-3 col-xs-12" for="{{ inline_admin_form.related_to.id_for_label }}">Parent <span class="required">*</span>
                      </label>
                      <div class="col-md-6 col-sm-6 col-xs-12">
                        {{inline_admin_form.related_to}}
                      </div>
                      <div class="alert">{{inline_admin_form.related_to.errors}}</div>
                    </div>
                    
                    <div class="item form-group {% if inline_admin_form.sort_order.errors %}bad{% endif %}">
                      <label class="control-label col-md-3 col-sm-3 col-xs-12" for="{{ inline_admin_form.sort_order.id_for_label }}">Sort Order <span class="required"></span>
                      </label>
                      <div class="col-md-6 col-sm-6 col-xs-12">
                        {{inline_admin_form.sort_order}}
                      </div>
                      <div class="alert">{{inline_admin_form.sort_order.errors}}</div>
                    </div>
                    

                    <div class="item form-group {% if inline_admin_form.is_main_parent.errors %}bad{% endif %}">
                      <label class="control-label col-md-3 col-sm-3 col-xs-12" for="{{ inline_admin_form.is_main_parent.id_for_label }}">Main Parent <span class="required"></span>
                      </label>
                      <div class="col-md-6 col-sm-6 col-xs-12">
                        {{inline_admin_form.is_main_parent}}
                      </div>
                      <div class="alert">{{inline_admin_form.is_main_parent.errors}}</div>
                    </div>

                    <div class="item form-group {% if inline_admin_form.active.errors %}bad{% endif %}">
                      <label class="control-label col-md-3 col-sm-3 col-xs-12" for="{{ inline_admin_form.active.id_for_label }}">Active <span class="required"></span>
                      </label>
                      <div class="col-md-6 col-sm-6 col-xs-12">
                        {{inline_admin_form.active}}
                      </div>
                      <div class="alert">{{inline_admin_form.active.errors}}</div>
                    </div>

                  </div>
                </div>
              </div>
              {% endfor %}
              </div>
             

              <input type="hidden" name="category" value="{{object.pk}}">
                <input type="hidden" name="slug" value="relation">
                <div class="ln_solid"></div>
                <div class="form-group">
                  <div class="col-md-9 col-sm-9 col-xs-9 col-md-offset-3">
                    <button type="submit" class="btn btn-success">Submit</button>
                  </div>
                </div>
              
              </form>
            </div>  

          </div>
        </div>
      {% endif %}
      {% endif %}

      {% if sub_heading_formset %}
      <div class="x_panel">
          <div class="x_title">
            <h2><i class="fa fa-thumb-tack"></i> Add/Change Sub Heading</h2>
            <ul class="nav navbar-right panel_toolbox">
              <li><a class="collapse-link"><i class="fa fa-chevron-up"></i></a>
              </li>
            </ul>
            <div class="clearfix"></div>
          </div>
          <div class="x_content">
            <div class="accordion" id="accordion2" role="tablist" aria-multiselectable="true">
              <form class="form-horizontal form-label-left" method="POST" action="." novalidate enctype="multipart/form-data" id="change-category-subheader-form">
                    {% csrf_token %}
                    {{ sub_heading_formset.management_form }}
                {% if sub_heading_formset.non_form_errors %}
                  <div class="alert alert-danger alert-dismissible fade in" role="alert">
                    <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">×</span>
                    </button>
                    {{ sub_heading_formset.non_form_errors }}
                  </div>
                {% endif %}
              <div class="inter-related-parent-div">    
              {% for inline_admin_form in sub_heading_formset.forms %}
              <div class="panel {% if forloop.last %} {% endif %}">
                <a class="panel-heading collapsed" role="tab" id="heading{{forloop.counter}}" data-toggle="collapse" data-parent="#accordion2" href="#collapse{{forloop.counter}}2" aria-expanded="false" aria-controls="collapse{{forloop.counter}}2">
                  {% if  inline_admin_form.instance and inline_admin_form.instance.id %}
                  <h4 class="panel-title">Sub Heading:&nbsp;{{inline_admin_form|get_instance}}</h4>

                  {% else %}
                  <h4 class="panel-title">Sub Header: Add New
                  </h4>{% endif %}

                    
                </a>
                <div id="collapse{{forloop.counter}}2" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingOne" aria-expanded="false" style="height: 0px;">
                  <div class="panel-body">
                      {% if  inline_admin_form.DELETE %}
                        <div class="pull-left">
                          {{inline_admin_form.DELETE}}<label for="{{ inline_admin_form.DELETE.id_for_label }}" style="color:#d9534f !important;">&nbsp;&nbsp;Delete
                          </label>
                          
                        </div>
                        </br>
                          <div class="clearfix"></div>
                      {% endif %}
                      

                      {% for hidden in inline_admin_form.hidden_fields %}
                          {{ hidden }}
                      {% endfor %}
                  
                    <div class="item form-group {% if inline_admin_form.heading.errors %}bad{% endif %}">
                      <label class="control-label col-md-3 col-sm-3 col-xs-12" for="{{ inline_admin_form.heading.id_for_label }}">{{inline_admin_form.heading.label}} <span class="required" style="color:red">*</span>
                      </label>
                      <div class="col-md-6 col-sm-6 col-xs-12">
                        {{inline_admin_form.heading}}
                      </div>
                      <div class="alert">{{inline_admin_form.heading.errors}}</div>
                    </div>

                    <div class="item form-group {% if inline_admin_form.description.errors %}bad{% endif %}">
                      <label class="control-label col-md-3 col-sm-3 col-xs-12" for="{{ inline_admin_form.description.id_for_label }}">{{inline_admin_form.description.label}} <span class="required" style="color:red;"></span>
                      </label>
                      <div class="col-md-6 col-sm-6 col-xs-12">
                        {{inline_admin_form.description}}
                      </div>
                      <div class="alert">{{inline_admin_form.description.errors}}</div>
                    </div>
                    
                    <div class="item form-group {% if inline_admin_form.display_order.errors %}bad{% endif %}">
                      <label class="control-label col-md-3 col-sm-3 col-xs-12" for="{{ inline_admin_form.sort_order.id_for_label }}">{{inline_admin_form.display_order.label}} <span class="required"></span>
                      </label>
                      <div class="col-md-6 col-sm-6 col-xs-12">
                        {{inline_admin_form.display_order}}
                      </div>
                      <div class="alert">{{inline_admin_form.display_order.errors}}</div>
                    </div>

                    <div class="item form-group {% if inline_admin_form.display_order.errors %}bad{% endif %}">
                      <label class="control-label col-md-3 col-sm-3 col-xs-12" for="{{ inline_admin_form.heading_choices.id_for_label }}">{{inline_admin_form.heading_choices.label}}
                      </label>
                      <div class="col-md-6 col-sm-6 col-xs-12">
                        {{inline_admin_form.heading_choices}}
                      </div>
                    </div>

                    <div class="item form-group {% if inline_admin_form.active.errors %}bad{% endif %}">
                      <label class="control-label col-md-3 col-sm-3 col-xs-12" for="{{ inline_admin_form.active.id_for_label }}">{{inline_admin_form.active.label}} <span class="required"></span>
                      </label>
                      <div class="col-md-6 col-sm-6 col-xs-12">
                        {{inline_admin_form.active}}
                      </div>
                      <div class="alert">{{inline_admin_form.active.errors}}</div>
                    </div>

                  </div>
                </div>
              </div>
              {% endfor %}
              </div>
             

                <input type="hidden" name="category" value="{{object.pk}}">
                <input type="hidden" name="slug" value="subheading">
                <div class="ln_solid"></div>
                <div class="form-group">
                  <div class="col-md-9 col-sm-9 col-xs-9 col-md-offset-3">
                    <button type="submit" class="btn btn-success">Submit</button>
                  </div>
                </div>
              
              </form>
            </div>  

          </div>
        </div>

        {% endif %}



      {% if testimonialcategory|length %}
      <div class="x_panel">
          <div class="x_title">
            <h2>Testimonial Listing</h2>
            <ul class="nav navbar-right panel_toolbox">
              <li><a class="collapse-link"><i class="fa fa-chevron-up"></i></a>
              </li>
            </ul>
            <div class="clearfix"></div>
          </div>

          <div class="x_content">

            <div class="table-responsive">
              <table class="table table-striped jambo_table bulk_action">
                <thead>
                  <tr class="headings">
                    <th class="column-title"># </th>
                    <th class="column-title">User Name</th>
                    <th class="column-title">Title</th>
                    <th class="column-title">#Edit</th>
                    </tr>
                </thead>

                <tbody>
                  {% for obj in testimonialcategory %}
                    <tr class="even pointer">
                      <td>{{forloop.counter}}</td>
                      <td>{{obj.testimonial.user_name}}</td>
                      <td>{{obj.testimonial.title}}</td>
                      <td>
                        <a href="{% url "console:testimonial-update" obj.testimonial.pk %}" class="btn btn-info btn-xs"><i class="fa fa-pencil"></i> Edit </a>
                      </td>
                    </tr>
                {% endfor %}
                </tbody>
              </table>
            </div>
          </div>
        </div>
        {% endif %}




      {% if childrens %}
        
      <div class="x_panel">
          <div class="x_title">
            <h2>Child Category Listing</h2>
            <ul class="nav navbar-right panel_toolbox">
              <li><a class="collapse-link"><i class="fa fa-chevron-up"></i></a>
              </li>
            </ul>
            <div class="clearfix"></div>
          </div>

          <div class="x_content">

            <div class="table-responsive">
              <table class="table table-striped jambo_table bulk_action">
                <thead>
                  <tr class="headings">
                    <th class="column-title"># </th>
                    <th class="column-title">Name</th>
                    <th class="column-title">Active</th>
                    <th class="column-title">Is SkillPage?</th>
                    <th class="column-title">Level</th>
                    <th class="column-title">#Edit</th>
                    </tr>
                </thead>

                <tbody>
                  {% for obj in childrens %}
                  
                <tr class="even pointer">
                  <td>{{obj.pk}}</td>
                  <td>
                    <a >{{obj.name}}</a>
                    <br />
                    <small>Modified {{obj.modified|naturaltime}}</small>
                  </td>
                  <td>
                      <button type="button" class="btn btn-success btn-xs">{{obj.get_active}}</button>  
                  </td>
                  <td>
                      <button type="button" class="btn btn-success btn-xs">{{obj.get_skillpage}}</button>  
                  </td>
                  <td>
                    <button type="button" class="btn btn-success btn-xs">{{obj.get_level}}</button>
                  </td>
                  <td>
                    <a href="{% url "console:category-change" obj.pk %}" class="btn btn-info btn-xs"><i class="fa fa-pencil"></i> Edit </a>
                  </td>
                </tr>
                {% endfor %}
                </tbody>
              </table>
            </div>
          </div>
      </div>
      {% endif %}
      {% if products %}
        
      <div class="x_panel">
          <div class="x_title">
            <h2>Product Listing</h2>
            <ul class="nav navbar-right panel_toolbox">
              <li><a class="collapse-link"><i class="fa fa-chevron-up"></i></a>
              </li>
            </ul>
            <div class="clearfix"></div>
          </div>

          <div class="x_content">

            <div class="table-responsive">
              <table class="table table-striped jambo_table bulk_action">
                <thead>
                  <tr class="headings">
                    <th class="column-title"># </th>
                    <th class="column-title">Name</th>
                    <th class="column-title">Vendor</th>
                    <th class="column-title">Type</th>
                    <th class="column-title">Active</th>
                    <th class="column-title">#Edit</th>
                    </tr>
                </thead>

                <tbody>
                  {% for obj in  products %}
                  
                <tr class="even pointer">
                  <td>{{obj.pk}}</td>
                  <td>
                    <a >{{obj.name}}</a>
                    <br />
                    <small>Modified {{obj.modified|naturaltime}}</small>
                  </td>
                  <td>
                    <a >{{obj.get_vendor}}</a>
                  </td>
                  
                  <td>
                    <button type="button" class="btn btn-success btn-xs">{{obj.get_type}}</button>
                  </td>
                  <td>
                    <button type="button" class="btn btn-success btn-xs">{{obj.get_active}}</button>
                  </td>
                  
                  <td>
                  
                    <a href="{% url "console:product-change" obj.pk %}" class="btn btn-info btn-xs"><i class="fa fa-pencil"></i> Edit </a>
                  
                  </td>
                </tr>
                {% endfor %}
                </tbody>
              </table>
            </div>
            
          </div>
      </div>
      {% endif %}
    </div>
  </div>

  
</div>
</div>
        <!-- /page content -->
{% endblock pagecontent %}

        
{% block js_block %}
  {{ block.super }}

  {% compress js %}
  <script src="{% static 'console/js/myadmin/django-admin.multiselect.js' %}"></script>
  <script src="{% static 'console/js/blog/blog.js' %}"></script>
  <!-- Parsley Validate Scripts -->
  <script type="text/javascript" src="{% static 'packages/parsleyjs/parsley.min.js' %}"></script>
  <!-- jQuery Tags Input -->
  <script type="text/javascript" src="{% static 'packages/jquery.tagsinput/src/jquery.tagsinput.js' %}"></script>

  <!-- Switchery -->
  <script type="text/javascript" src="{% static 'packages/switchery/dist/switchery.min.js' %}"></script>
  
  <!-- jquery.inputmask -->
  <script type="text/javascript" src="{% static 'packages/jquery.inputmask/dist/min/jquery.inputmask.bundle.min.js' %}"></script>
      
  
  <!-- Custom Theme Scripts -->
  <script type="text/javascript" src="{% static 'console/js/shop/console_shop.js' %}"></script>

  <script type="text/javascript" src="{% static 'console/js/shop/change_category.js' %}"></script>

  {% endcompress %}      

{% endblock js_block %}
