body {
  font-family: "Open Sans", sans-serif;
  font-size: 13px;
  font-weight: 400;
  padding-top: 53px;
}

a {
  color: #3f5f94;
}

a:hover, a:focus {
  color: #2f5da5;
}

a, a:hover, a:focus {
  text-decoration: none;
}

h1 {
  font-size: 30px;
}

h2 {
  font-size: 20px;
}

.bdr {
  border: 1px solid #e1e1e1;
}

/*---------header css---------*/
.navbar-default {
  background-color: #2f5da5;
  margin-bottom: 0;
}

.navbar-nav {
  min-height: 54px;
}
.navbar-nav li .dropdown-menu {
  border: none;
  padding: 10px;
  left: 20px;
  font-size: 13px;
  border-radius: 0;
  min-height: 100%;
  list-style-type: none;
}

.navbar-default .navbar-nav > .open > a, .navbar-default .navbar-nav > .open > a:hover, .navbar-default .navbar-nav > .open > a:focus {
  background-color: transparent;
  color: #fff;
  border-bottom: 4px solid #ffcf26;
}

.navbar-default .navbar-nav > li > a:hover, .navbar-default .navbar-nav > li > a:focus {
  color: #fff;
}

.navbar-default .navbar-nav > li > a, .navbar-default .navbar-nav > li > a:hover {
  color: #fff;
  cursor: pointer;
  padding-left: 0;
  padding-right: 0;
  margin-left: 20px;
}

.dropdown-menu > li > a {
  padding: 8px 20px;
  font-size: 13px;
  color: #666;
  font-weight: 300;
}
.dropdown-menu > li > a:hover {
  font-size: 13px;
  color: #666;
}

.navbar-right > li > a {
  padding-bottom: 0;
}

.login-dropdown a:focus {
  padding-bottom: 15px;
}
.login-dropdown .dropdown-menu {
  min-width: 280px;
  left: -209px !important;
}
.login-dropdown .dropdown-menu li {
  position: relative;
}
.login-dropdown .dropdown-menu li:last-child {
  border-top: 1px solid #ddd;
  margin-top: 10px;
}
.login-dropdown .dropdown-menu li:last-child > a {
  color: #3f5f94;
  padding: 10px 20px;
}

.cart-dropdown a:focus {
  padding-bottom: 4px;
}
.cart-dropdown .dropdown-menu {
  min-width: 180px;
  left: -200px !important;
}

.call-dropdown a:focus {
  padding-bottom: 7px;
}
.call-dropdown .dropdown-menu {
  min-width: 200px;
  left: -200px !important;
}

.jobs-dropdown .dropdown-menu {
  min-width: 300px;
}

.courses-dropdown .courses-tabs {
  padding: 0 !important;
}
.courses-dropdown .dropdown-menu {
  min-width: 630px;
}
@media (max-width: 1023px) {
  .courses-dropdown .dropdown-menu {
    min-width: 480px;
  }
}
.courses-dropdown .nav-tabs {
  display: table-cell;
  float: none;
  padding: 15px 0 10px 15px;
  vertical-align: top;
  min-width: 240px;
}
@media (max-width: 1023px) {
  .courses-dropdown .nav-tabs {
    min-width: 200px;
  }
}
.courses-dropdown .nav-tabs li {
  float: none;
  padding: 8px 10px;
  margin-right: 0;
  margin-bottom: 0;
  border: none;
}
.courses-dropdown .nav-tabs li.active {
  border: none;
  background-color: #ebebeb;
}
.courses-dropdown .nav-tabs li.active a {
  background-color: #ebebeb;
  border-radius: 0;
  border: none;
}
.courses-dropdown .nav-tabs li.active:hover {
  padding: 8px 10px;
}
.courses-dropdown .nav-tabs li a {
  color: #666;
  font-size: 13px;
  padding: 0;
  border: none;
}
.courses-dropdown .nav-tabs li a:hover {
  cursor: pointer;
  padding: 0;
  border: none;
}
.courses-dropdown .tab-content {
  display: table-cell;
  background-color: #ebebeb;
  padding-right: 10px;
  padding-left: 15px;
  min-width: 400px;
  position: relative;
}
@media (max-width: 1023px) {
  .courses-dropdown .tab-content {
    min-width: 250px;
  }
}
.courses-dropdown .tab-content ul {
  list-style-type: none;
  margin: 10px 0 0 0;
  padding: 0;
}
.courses-dropdown .tab-content ul li {
  display: block;
  padding: 8px 10px 8px 10px;
}
.courses-dropdown .tab-content ul li:last-child {
  border-top: 1px solid #ddd;
  position: absolute;
  left: 25px;
  bottom: 10px;
  width: 88%;
  padding-left: 0;
}
.courses-dropdown .tab-content ul li:last-child a {
  color: #3f5f94;
  padding: 10px 10px 10px 0;
}
.courses-dropdown .tab-content ul li a {
  color: #666;
  font-size: 13px;
  line-height: 20px;
}
.courses-dropdown .tab-content ul li a:hover {
  font-weight: 400;
}

/*---------footer css---------*/
footer {
  background-color: #dae0e3;
  padding: 30px 0 0 0;
  clear: both;
  display: block;
  overflow: hidden;
  margin-top: 50px;
}
footer article {
  font-size: 12px;
  color: #666;
  margin-bottom: 30px;
}
footer article strong {
  font-size: 18px;
  display: block;
  margin-bottom: 5px;
  font-weight: 400;
}
footer article a {
  color: #3f5f94;
}
footer .secure-payment {
  border-radius: 2px;
  font-size: 15px;
  color: #333;
  padding: 5px 15px;
  background-color: #fff;
  font-weight: 400;
  display: inline-block;
}
footer .secure-payment .secure-icon {
  background: url(../../images/microsite/sprite.png) no-repeat -596px 0;
  display: inline-block;
  float: left;
  width: 34px;
  height: 42px;
  margin-right: 10px;
}
footer .secure-payment .secure-text {
  display: inline-block;
}
footer .secure-payment .secure-text strong {
  font-size: 26px;
  font-weight: 300;
  display: block;
  line-height: 26px;
}
footer .payment-options {
  border-radius: 2px;
  display: inline-block;
  float: right;
  background-color: #fff;
  padding: 5px 10px;
}
footer .payment-options .payment-option-bg {
  background: url(../../images/microsite/sprite.png) no-repeat -290px -1px;
  display: block;
  width: 299px;
  height: 37px;
}
footer .payment-options .payment-option-txt {
  display: block;
  color: #999;
  font-size: 11px;
  margin-bottom: 3px;
}
footer .footer-links {
  background-color: #ced6da;
  font-size: 12px;
  color: #333;
  padding: 15px 0 25px 0;
  display: block;
  overflow: hidden;
  clear: both;
  margin-top: 40px;
}
footer .footer-links a, footer .footer-links a:hover {
  color: #333;
  margin-right: 10px;
}
footer .footer-links span {
  float: right;
}

/*--------- all internal page format css---------*/
.page-header {
  margin-bottom: 25px;
}
.page-header h1 {
  font-size: 33px;
  margin: 0;
}

.col-main {
  display: table;
  width: 100%;
  vertical-align: top;
}

.col-left {
  display: table-cell;
  vertical-align: top;
  width: 70%;
  max-width: 800px;
}
@media (max-width: 1180px) {
  .col-left {
    width: auto;
    max-width: auto;
  }
}

.col-right {
  width: 100%;
  vertical-align: top;
  margin-left: 40px;
  max-width: 300px;
}
@media (max-width: 1180px) {
  .col-right {
    width: auto;
    max-width: auto;
  }
}

.box-panel {
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.05);
  -moz-box-shadow: 0 0 20px rgba(0, 0, 0, 0.05);
  -webkit-box-shadow: 0 0 20px rgba(0, 0, 0, 0.05);
  -ms-box-shadow: 0 0 20px rgba(0, 0, 0, 0.05);
  background-color: #fff;
}

.heading-right {
  font-size: 15px;
  color: #3f5f94;
  font-weight: 600;
  border-bottom: 2px solid #3f5f94;
  margin: 0;
  padding-bottom: 5px;
  text-transform: uppercase;
}

/*-------login signup css-------*/
.register {
  background-color: #fff;
  font-family: "Open Sans", sans-serif;
  padding: 20px;
}
.register h1 {
  font-size: 20px;
  color: #666;
  display: block;
  margin-bottom: 20px;
}
.register input {
  border-top: 1px solid #fff;
  border-right: 1px solid #fff;
  border-bottom: 1px solid #ccc;
  border-left: 1px solid #fff;
  border-radius: 0;
  font-size: 14px;
  color: #333;
  padding-left: 0;
}
.register .form-check-label {
  font-size: 12px;
  color: #666;
  margin-top: 10px;
  font-weight: 300;
}
.register .form-check-input {
  vertical-align: sub;
  margin-right: 3px;
}
.register .submit {
  background-color: #2f5da5;
  font-size: 14px;
  font-weight: 600;
  color: #fff;
  display: block;
  width: 100%;
  line-height: 30px;
  margin: 20px 0 10px 0;
}
.register .form-control:focus {
  border-top: 1px solid #fff;
  border-right: 1px solid #fff;
  border-bottom: 1px solid #5cb3fd;
  border-left: 1px solid #fff;
}
.register a, .register a:hover {
  color: #2f5da5;
  text-decoration: none;
}
.register .form-group {
  position: relative;
}
.register .form-group .form-control {
  box-shadow: none;
}
.register small {
  display: block;
}

.social-login {
  text-align: center;
  display: block;
  font-size: 14px;
  color: #666;
  margin: 15px 0 15px 0;
}
.social-login span {
  display: block;
  margin-bottom: 15px;
}
.social-login .facebook {
  border-radius: 2px;
  background: url(../../images/microsite/sprite.png) no-repeat -633px 6px;
  width: 52px;
  height: 35px;
  border: 1px solid #3b5896;
  display: inline-block;
  text-align: center;
}
.social-login .twitter {
  border-radius: 2px;
  background: url(../../images/microsite/sprite.png) no-repeat -764px 7px;
  width: 52px;
  height: 35px;
  border: 1px solid #3aa9de;
  display: inline-block;
  text-align: center;
  margin-left: 10px;
}
.social-login .gplus {
  border-radius: 2px;
  background: url(../../images/microsite/sprite.png) no-repeat -719px 6px;
  width: 52px;
  height: 35px;
  border: 1px solid #d14635;
  display: inline-block;
  text-align: center;
  margin-left: 10px;
}
.social-login .linkedin {
  border-radius: 2px;
  background: url(../../images/microsite/sprite.png) no-repeat -671px 5px;
  width: 52px;
  height: 35px;
  border: 1px solid #3aa9de;
  display: inline-block;
  text-align: center;
  margin-left: 10px;
}
.social-login .share-txt {
  border-radius: 2px;
  background: #fff;
  width: 52px;
  height: 35px;
  border: 1px solid #ccc;
  display: inline-block;
  margin-right: 12px;
  color: #999;
  overflow: hidden;
  float: left;
}
.social-login .share-txt strong {
  display: block;
  font-weight: 600;
  color: #999;
  margin-left: 5px;
  overflow: hidden;
}
.social-login .share-txt small {
  font-size: 11px;
  display: block;
  overflow: hidden;
  margin-left: 5px;
  line-height: 11px;
}

.share {
  font-size: 13px;
  margin-right: 5px;
  display: inline-block !important;
  vertical-align: text-bottom;
}

.share-mg {
  float: right;
  margin-bottom: 0;
}
@media (max-width: 991px) {
  .share-mg {
    margin-right: 0;
  }
}

.request-call {
  padding: 20px;
}
.request-call .form-control {
  border-radius: 0;
  border: 1px solid #e1e1e1;
  color: #e1e1e1;
  font-size: 13px;
}
.request-call .form-group {
  position: relative;
}
.request-call .form-group input {
  border-top: 1px solid #fff;
  border-right: 1px solid #fff;
  border-bottom: 1px solid #ccc;
  border-left: 1px solid #fff;
  border-radius: 0;
  padding-left: 0;
  box-shadow: none;
  color: #999;
}
.request-call .form-group textarea {
  border-top: 1px solid #fff;
  border-right: 1px solid #fff;
  border-bottom: 1px solid #ccc;
  border-left: 1px solid #fff;
  border-radius: 0;
  padding-left: 0;
  box-shadow: none;
  color: #999;
}
.request-call .call-service {
  font-size: 11px;
  color: #999;
  text-align: center;
  text-transform: uppercase;
  margin-top: 20px;
  border-top: 1px solid #e6e6e6;
}
.request-call .call-service strong {
  font-size: 18px;
  font-weight: 600;
  color: #2f5da5;
  display: block;
  margin: 10px 0 0 0;
}

/*---------error message css---------*/
.error-txt {
  display: none;
}

.error {
  position: relative;
}
.error input {
  border-bottom: 1px solid #ff0000 !important;
}
.error .error-txt {
  display: block;
  color: #ff0000;
  font-size: 11px;
  position: absolute;
  left: 0;
  bottom: -13px;
}

/*---------button css---------*/
.login-btn {
  border-radius: 2px;
  border: 1px solid #fff;
  padding: 1px 8px 3px 8px;
}

.practice-test-button {
  border-radius: 20px;
  border: 1px solid #e8e8e8;
  padding: 7px 20px;
  font-size: 16px;
  color: #3f5f94;
  font-weight: 600;
  margin: 0 auto;
  display: table;
  text-align: center;
}

.submit-button {
  background-color: #3f5f94;
  font-size: 15px;
  color: #fff;
  display: block;
  padding: 7px;
  border-radius: 0;
  border: 1px solid #3f5f94;
  text-align: center;
  width: 100%;
}
.submit-button:hover, .submit-button:focus {
  background-color: #3f5f94;
  border: 1px solid #2f5da5;
  color: #fff;
}

.view-article {
  font-size: 15px;
  font-weight: 600;
  color: #3f5f94 !important;
}

.load-more {
  padding: 10px;
  display: block;
  color: #333;
  background-color: #f1f1f1;
  text-align: center;
  font-size: 15px;
  font-weight: 600;
}
.load-more:hover {
  color: #333;
}
.load-more:focus {
  color: #333;
  overflow: hidden;
}

.anchor-color {
  color: #3f5f94;
}

.find-jobs-btn {
  background-color: #ffcf25;
  border: 1px solid #ffcf25;
  color: #333;
  border-radius: 0;
  height: 44px;
  margin-left: -1px;
  padding: 6px 15px;
  font-weight: 600;
}

/*---------icons css---------*/
.hamburber-icon {
  width: 12px;
  height: 11px;
  display: inline-block;
  margin-right: 10px;
  background: url(../../images/microsite/sprite.png) no-repeat -597px -50px;
}

.search-icon {
  width: 24px;
  height: 22px;
  background: url(../../images/microsite/sprite.png) no-repeat -437px -47px;
  display: inline-block;
}

.call-icon {
  width: 23px;
  height: 23px;
  background: url(../../images/microsite/sprite.png) no-repeat -464px -46px;
  display: inline-block;
}

.cart-icon {
  display: inline-block;
  width: 28px;
  height: 26px;
  background: url(../../images/microsite/sprite.png) no-repeat -492px -47px;
}

.download-icon {
  width: 54px;
  height: 54px;
  background: url(../../images/microsite/sprite.png) no-repeat -620px -45px;
  display: inline-block;
}

.sample-download-icon {
  width: 22px;
  height: 22px;
  background: url(../../images/microsite/sprite.png) no-repeat -563px -70px;
  display: inline-block;
  vertical-align: middle;
}

.call-service-icon {
  width: 20px;
  height: 20px;
  background: url(../../images/microsite/sprite.png) no-repeat -557px -47px;
  display: inline-block;
  vertical-align: middle;
}

.search {
  padding: 0;
  width: auto;
  height: 32px;
  position: relative;
  left: 10px;
  top: -5px;
}

.search input {
  position: absolute;
  width: 0;
  height: 32px;
  line-height: 30px;
  padding: 0 0 0 0;
  right: 0;
  border: none;
  border-radius: 2px;
  text-indent: 10px;
  opacity: 0;
}

.search:hover input, .search input:focus {
  width: 200px;
  margin-left: 0px;
  opacity: 1;
  transition: all 100ms ease;
}

.search:hover .search-icon, .search:hover input:focus .search-icon {
  background: url(../../images/microsite/sprite.png) no-repeat -525px -47px;
  z-index: 999;
}

.search .search-icon {
  border: none;
  z-index: 9;
  position: absolute;
  right: 5px;
  top: 5px;
}

.forward-icon {
  width: 13px;
  height: 11px;
  background: url(../../images/microsite/sprite.png) no-repeat -460px -75px;
  display: inline-block;
  vertical-align: middle;
}

.view-icon {
  width: 18px;
  height: 11px;
  background: url(../../images/microsite/sprite.png) no-repeat -438px -74px;
  display: inline-block;
  vertical-align: inherit;
}

.view-icon1 {
  width: 18px;
  height: 11px;
  background: url(../../images/microsite/sprite.png) no-repeat -477px -74px;
  display: inline-block;
  vertical-align: middle;
}

.comments-icon {
  width: 23px;
  height: 19px;
  background: url(../../images/microsite/sprite.png) no-repeat -533px -74px;
  display: inline-block;
  vertical-align: sub;
}

.comment-small-icon {
  width: 15px;
  height: 13px;
  background: url(../images/sprite.png) no-repeat -446px -97px;
  display: inline-block;
  vertical-align: sub;
}

.jobs-growth-icon {
  width: 38px;
  height: 37px;
  background: url(../../images/microsite/sprite.png) no-repeat -679px -45px;
  display: inline-block;
  vertical-align: sub;
}

.career-growth-icon {
  width: 42px;
  height: 41px;
  background: url(../../images/microsite/sprite.png) no-repeat -726px -45px;
  display: inline-block;
  vertical-align: sub;
}

.certification-icon {
  width: 15px;
  height: 22px;
  background: url(../../images/microsite/sprite.png) no-repeat -770px -45px;
  display: inline-block;
  vertical-align: sub;
}

.jobs-icon {
  width: 18px;
  height: 16px;
  background: url(../../images/microsite/sprite.png) no-repeat -727px -87px;
  display: inline-block;
  vertical-align: sub;
}

.orange-rating-icon {
  width: 14px;
  height: 15px;
  background: url(../../images/microsite/sprite.png) no-repeat -710px -87px;
  display: inline-block;
  vertical-align: sub;
}

.grey-rating-icon {
  width: 14px;
  height: 15px;
  background: url(../../images/microsite/sprite.png) no-repeat -695px -87px;
  display: inline-block;
  vertical-align: sub;
}

.review-icon {
  width: 25px;
  height: 23px;
  background: url(../../images/microsite/sprite.png) no-repeat -288px -91px;
  display: inline-block;
  vertical-align: sub;
  margin-right: 5px;
}

.bought-icon {
  width: 23px;
  height: 26px;
  background: url(../../images/microsite/sprite.png) no-repeat -316px -91px;
  display: inline-block;
  vertical-align: sub;
  margin-right: 5px;
}

.course-jobs-icon {
  width: 27px;
  height: 22px;
  background: url(../../images/microsite/sprite.png) no-repeat -343px -90px;
  display: inline-block;
  vertical-align: sub;
  margin-right: 5px;
}

.email-icon {
  width: 17px;
  height: 13px;
  background: url(../../images/microsite/sprite.png) no-repeat -750px -88px;
  display: inline-block;
  vertical-align: sub;
}

.calling-icon {
  width: 17px;
  height: 17px;
  background: url(../../images/microsite/sprite.png) no-repeat -770px -88px;
  display: inline-block;
  vertical-align: sub;
}

.test-icon {
  width: 25px;
  height: 24px;
  background: url(../../images/microsite/sprite.png) no-repeat -375px -90px;
  display: inline-block;
  vertical-align: inherit;
}

.checked-icon {
  width: 16px;
  height: 16px;
  background: url(../../images/microsite/sprite.png) no-repeat -466px -92px;
  display: inline-block;
  vertical-align: sub;
}

.delete-icon {
  width: 19px;
  height: 23px;
  background: url(../../images/microsite/sprite.png) no-repeat -486px -89px;
  display: inline-block;
  vertical-align: inherit;
}

.secure-icon-payment {
  background: url(../../images/microsite/sprite.png) no-repeat 0 -118px;
  display: block;
  width: 56px;
  height: 68px;
  margin: 0 auto;
}

.cards-payment-icon {
  background: url(../../images/microsite/sprite.png) no-repeat -71px -108px;
  display: block;
  width: 175px;
  height: 79px;
  margin: 0 auto;
}

.secure-payment-icon {
  background: url(../../images/microsite/sprite.png) no-repeat -508px -89px;
  display: block;
  width: 10px;
  height: 13px;
  margin: 0 auto;
}

.mobikwik-icon {
  background: url(../../images/microsite/sprite.png) no-repeat -524px -98px;
  display: block;
  width: 93px;
  height: 24px;
}

.waiting-icon {
  background: url(../../images/microsite/sprite.png) no-repeat -250px -108px;
  display: block;
  width: 33px;
  height: 47px;
  margin: 0 auto;
}

.checked-blue-icon {
  width: 27px;
  height: 27px;
  background: url(../../images/microsite/sprite.png) no-repeat -287px -120px;
  display: inline-block;
  vertical-align: sub;
}

.checked-grey-icon {
  width: 27px;
  height: 27px;
  background: url(../../images/microsite/sprite.png) no-repeat -317px -120px;
  display: inline-block;
  vertical-align: sub;
}

.request-referral-icon {
  width: 50px;
  height: 45px;
  background: url(../../images/microsite/sprite.png) no-repeat -101px -193px;
  display: block;
}

.speak-referrer-icon {
  width: 44px;
  height: 45px;
  background: url(../../images/microsite/sprite.png) no-repeat -155px -193px;
  display: block;
}

.get-referred-icon {
  width: 52px;
  height: 54px;
  background: url(../../images/microsite/sprite.png) no-repeat -202px -193px;
  display: block;
}

.interview-call-icon {
  width: 39px;
  height: 51px;
  background: url(../../images/microsite/sprite.png) no-repeat -255px -193px;
  display: block;
}

.referrals1-icon {
  width: 120px;
  height: 120px;
  display: block;
  background: #ff832d;
  position: relative;
  border-radius: 50%;
}
.referrals1-icon:after {
  content: '';
  position: absolute;
  left: 0;
  right: 0;
  bottom: 0;
  top: 0;
  margin: auto;
  background: url(../../images/microsite/sprite.png) no-repeat -299px -151px;
  width: 79px;
  height: 43px;
}

.referrals2-icon {
  width: 120px;
  height: 120px;
  display: block;
  background: #ff832d;
  position: relative;
  border-radius: 50%;
}
.referrals2-icon:after {
  content: '';
  position: absolute;
  left: 0;
  right: 0;
  bottom: 0;
  top: 0;
  margin: auto;
  background: url(../../images/microsite/sprite.png) no-repeat -386px -152px;
  width: 67px;
  height: 51px;
}

.referrals3-icon {
  width: 120px;
  height: 120px;
  display: block;
  background: #ff832d;
  position: relative;
  border-radius: 50%;
}
.referrals3-icon:after {
  content: '';
  position: absolute;
  left: 0;
  right: 0;
  bottom: 0;
  top: 0;
  margin: auto;
  background: url(../../images/microsite/sprite.png) no-repeat -460px -130px;
  width: 84px;
  height: 69px;
}

.referrals4-icon {
  width: 120px;
  height: 120px;
  display: block;
  background: #ff832d;
  position: relative;
  border-radius: 50%;
}
.referrals4-icon:after {
  content: '';
  position: absolute;
  left: 0;
  right: 0;
  bottom: 0;
  top: 0;
  margin: auto;
  background: url(../../images/microsite/sprite.png) no-repeat no-repeat -550px -130px;
  width: 49px;
  height: 45px;
}

/*---------login signup banner page css---------*/
.login-signup-box {
  -webkit-box-shadow: 0px 0px 21px 3px #ededed;
  -moz-box-shadow: 0px 0px 21px 3px #ededed;
  box-shadow: 0px 0px 21px 3px #ededed;
  position: absolute;
  right: 10%;
  top: 60px;
  width: 370px;
}
@media (max-width: 1190px) {
  .login-signup-box {
    width: 320px;
  }
}
@media (max-width: 991px) {
  .login-signup-box {
    right: 2%;
  }
}

.login-page-btn {
  border: 1px solid #fff;
  border-radius: 3px;
  cursor: pointer;
  margin-top: 5px;
  padding: 2px 10px;
  background: none;
  color: #fff;
  display: inline-block;
  font-size: 14px;
}

.login-page-bg {
  background: url(../../images/microsite/sprite.png) no-repeat 0 0;
  width: 100%;
  height: 357px;
  background-size: cover;
  margin-top: 70px;
  position: relative;
  margin: 110px 0 100px 0;
}

.login-bg-txt {
  width: 123px;
  margin: 10% 0 0 5.5%;
  display: inline-block;
  color: #666;
  font-size: 14px;
  font-weight: 300;
  text-align: center;
  vertical-align: top;
}
@media (max-width: 1190px) {
  .login-bg-txt {
    margin: 10% 0 0 4%;
  }
}
@media (max-width: 991px) {
  .login-bg-txt {
    margin: 10% 0 0 1%;
  }
}
.login-bg-txt .login-icon1 {
  border-radius: 50%;
  width: 70px;
  height: 70px;
  background-color: #4762c6;
  margin: 0 auto;
  display: block;
  position: relative;
}
.login-bg-txt .login-icon1::after {
  content: '';
  background: url(../../images/microsite/sprite.png) no-repeat -290px -49px;
  width: 42px;
  height: 38px;
  position: absolute;
  left: 14px;
  top: 14px;
}
.login-bg-txt .login-icon2 {
  border-radius: 50%;
  width: 70px;
  height: 70px;
  background-color: #4798c6;
  margin: 0 auto;
  display: block;
  position: relative;
}
.login-bg-txt .login-icon2::after {
  content: '';
  background: url(../../images/microsite/sprite.png) no-repeat -344px -49px;
  width: 42px;
  height: 34px;
  position: absolute;
  left: 14px;
  top: 18px;
}
.login-bg-txt .login-icon3 {
  border-radius: 50%;
  width: 70px;
  height: 70px;
  background-color: #4762c6;
  margin: 0 auto;
  display: block;
  position: relative;
}
.login-bg-txt .login-icon3::after {
  content: '';
  background: url(../../images/microsite/sprite.png) no-repeat -398px -49px;
  width: 31px;
  height: 39px;
  position: absolute;
  left: 20px;
  top: 16px;
}
.login-bg-txt strong {
  font-size: 30px;
  color: #3f5f94;
  display: block;
  font-weight: 600;
}

/*---------reviews css---------*/
.reviews {
  font-size: 15px;
  color: #666;
  position: relative;
}
.reviews h2 {
  color: #333;
  font-size: 26px;
  margin-bottom: 15px;
}
.reviews ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}
.reviews ul li {
  display: block;
  padding: 20px;
  margin: 0 0 25px 0;
}
.reviews ul li .rating-review-box {
  display: block;
  color: #999;
}
.reviews ul li .rating-review-box strong {
  font-weight: 600;
  margin-left: 5px;
}
.reviews ul li .rating-review-box b {
  font-weight: 600;
  margin-left: 10px;
  font-size: 14px;
  color: #3f5f94;
}
.reviews ul li .editor {
  font-size: 13px;
}
.reviews ul li article {
  margin: 10px 0;
}
.reviews ul li .review-heading {
  font-size: 18px;
  color: #3f5f94;
  display: block;
  font-weight: 600;
}
.reviews .write-review {
  position: absolute;
  right: 0;
  top: 95px;
}

.write-review-box {
  border: none;
  border-radius: 0;
  padding: 20px 0;
}

/*---------margin padding css---------*/
.mt-0 {
  margin-top: 0;
}

.mt-5 {
  margin-top: 5px;
}

.mt-10 {
  margin-top: 10px;
}

.mt-15 {
  margin-top: 15px;
}

.mt-20 {
  margin-top: 20px;
}

.mt-30 {
  margin-top: 30px;
}

.mt-40 {
  margin-top: 40px;
}

.mt-45 {
  margin-top: 45px;
}

.mt-53 {
  margin-top: 53px;
}

.mb-0 {
  margin-bottom: 0px;
}

.mb-10 {
  margin-bottom: 10px;
}

.mb-15 {
  margin-bottom: 15px;
}

.mb-20 {
  margin-bottom: 20px;
}

.mb-30 {
  margin-bottom: 30px;
}

.mb-40 {
  margin-bottom: 40px;
}

.ml-30 {
  margin-left: 30px;
}

.ml-20 {
  margin-left: 20px;
}

.mr-10 {
  margin-right: 10px;
}

.mr-20 {
  margin-right: 20px;
}

.mtm-20 {
  margin-top: -20px !important;
}

.no-pad {
  padding: 0;
}

.db {
  display: block;
}

.dib {
  display: inline-block !important;
}

.pr {
  position: relative;
}

.vatb {
  vertical-align: text-bottom;
}

/*# sourceMappingURL=header-footer.css.map */
