.ro-heading {
  font-size: 27px;
  border-bottom: 1px solid #ff832d;
  display: table;
  margin: 40px auto 20px auto;
  line-height: 34px;
}

.roundone-header {
  clear: both;
  background: url(../../images/microsite/roundone-header-bg.jpg) no-repeat center top;
  background-size: cover;
  overflow: hidden;
  display: block;
}
.roundone-header .roundone-caption {
  color: #fff;
  text-align: center;
  margin: 3% 0 5% 0;
  display: block;
}
.roundone-header .roundone-caption h1 {
  font-size: 36px;
  display: block;
  font-weight: 600;
  line-height: 45px;
  margin-bottom: 20px;
}

.call-us {
  background: rgba(0, 0, 0, 0.5);
  font-size: 16px;
  padding: 3px 10px;
  color: #fff;
  float: right;
  margin-top: 35px;
}

.roundone-search {
  display: block;
  font-size: 0;
}
.roundone-search .custom-select {
  position: relative;
  display: inline-block;
  margin-right: 1px;
}
.roundone-search .custom-select select {
  -webkit-appearance: none;
  -moz-appearance: none;
  text-indent: 1px;
  text-overflow: '';
  border-radius: 0;
  height: 44px;
  padding: 6px 25px 6px 12px;
}
.roundone-search .custom-select select::-ms-expand {
  display: none;
}
.roundone-search .custom-select:after {
  content: '';
  width: 0;
  height: 0;
  border-left: 5px solid transparent;
  border-right: 5px solid transparent;
  border-top: 8px solid #7f7f7f;
  position: absolute;
  right: 10px;
  top: 20px;
  text-indent: 1px;
  text-overflow: '';
}
.roundone-search input {
  border: 1px solid #e1e1e1;
  border-radius: 0;
  padding: 10px;
  height: 44px;
  box-shadow: none;
  width: 400px !important;
}
.roundone-search input:focus {
  box-shadow: none;
  border: 1px solid #fff;
}

.powered-by {
  font-size: 13px;
  color: #fff;
  margin-top: 20px;
  display: block;
}
.powered-by:after {
  content: '';
  background: url(../../images/microsite/sprite.png) no-repeat -1px -192px;
  width: 93px;
  height: 44px;
  display: inline-block;
  vertical-align: middle;
  margin-left: 5px;
}

.how-it-works {
  background-color: #f2f2f2;
  padding: 20px;
  overflow: hidden;
  list-style-type: none;
  margin: 0;
  text-align: center;
}
.how-it-works li {
  display: inline-block;
  width: 23.5%;
  padding: 0 2%;
  vertical-align: top;
  color: #999;
  border-left: 1px solid #e5e5e5;
  min-height: 170px;
  position: relative;
}
@media (max-width: 991px) {
  .how-it-works li {
    min-height: 230px;
  }
}
.how-it-works li:first-child {
  border-left: none;
  background: none;
}
.how-it-works li strong {
  font-size: 14px;
  color: #666;
  display: block;
  font-weight: 400;
  margin: 10px 0 5px 0;
}
.how-it-works li figure {
  margin: 20px auto 0 auto;
}
.how-it-works li:after {
  position: absolute;
  right: -12px;
  top: 45%;
  width: 10px;
  height: 15px;
  background: url(../../images/microsite/sprite.png) no-repeat -403px -131px;
  content: '';
  z-index: 9;
}

.why-referrals .media {
  border: 1px solid #e1e1e1;
  border-radius: 30px;
  width: 40%;
  display: inline-block;
  margin: 1%;
  padding: 15px;
}
.why-referrals .media .media-body {
  text-align: left;
  font-size: 16px;
}

.job-referrals-box {
  background-color: #f2f2f2;
  margin-top: 40px;
}
.job-referrals-box ul {
  list-style-type: none;
  margin: 2% 2% 0 12%;
  padding: 30px;
  overflow: hidden;
}
@media (max-width: 1190px) {
  .job-referrals-box ul {
    margin-left: 8%;
  }
}
@media (max-width: 991px) {
  .job-referrals-box ul {
    margin-left: 5%;
  }
}
.job-referrals-box ul li {
  display: block;
  clear: both;
  margin-bottom: 20px;
  font-size: 13px;
  color: #666;
  position: relative;
  padding: 0 0 0 40px;
}
.job-referrals-box ul li:before {
  content: '';
  width: 30px;
  height: 31px;
  background: url(../../images/microsite/sprite.png) no-repeat -349px -117px;
  display: block;
  position: absolute;
  left: 0;
  top: 3px;
  opacity: 0.5;
}
.job-referrals-box ul li strong {
  display: block;
  font-size: 14px;
  font-weight: 600;
}
.job-referrals-box .rotate {
  box-shadow: -15px 13px 0 0 #d9d9d9;
  display: inline-block;
  margin: 30px 0 50px 0;
  transform: rotate(357deg);
}
.job-referrals-box .job-referrals-banner {
  background: #fff;
  color: #ff832d;
  display: inline-block;
  font-size: 25px;
  font-weight: 700;
  line-height: 25px;
  margin: 0 0 -7px -7px;
  padding: 30px;
  text-align: center;
  transform: rotate(363deg);
}
.job-referrals-box .job-referrals-banner strong {
  color: #666;
  display: block;
  font-size: 35px;
  font-weight: 300;
  line-height: 45px;
}
.job-referrals-box .job-referrals-banner span {
  color: #333;
  display: block;
  font-size: 40px;
  font-weight: 400;
  line-height: 40px;
}
.job-referrals-box .job-referrals-banner a {
  background: #ff832d;
  color: #fff;
  display: inline-block;
  font-size: 20px;
  font-weight: 300;
  line-height: 20px;
  margin-top: 10px;
  padding: 5px 10px 10px;
  text-decoration: none;
}

.testimonials .item {
  margin: 0 auto;
  padding: 0 40px;
}
.testimonials .item img {
  border-radius: 100%;
}
.testimonials .item .carousel-caption {
  left: 15%;
  right: 5%;
  text-align: left;
  text-shadow: none;
  color: #666;
  font-size: 15px;
  padding-top: 0;
  top: 0;
}
@media (max-width: 1190px) {
  .testimonials .item .carousel-caption {
    left: 17%;
  }
}
@media (max-width: 991px) {
  .testimonials .item .carousel-caption {
    left: 21%;
  }
}
.testimonials .item .carousel-caption strong {
  display: block;
  font-weight: 600;
  font-style: italic;
  margin: 10px 0 0 0;
}
.testimonials .carousel-control {
  width: 15px;
  top: 30%;
}
.testimonials .carousel-control.left {
  background: url(../../images/microsite/sprite.png) no-repeat -383px -120px;
  width: 15px;
  height: 26px;
}
.testimonials .carousel-control.right {
  background: url(../../images/microsite/sprite.png) no-repeat -600px -130px;
  width: 15px;
  height: 26px;
}

.faq {
  font-size: 15px;
}
.faq ul {
  list-style-type: none;
}
.faq .panel-group {
  padding-left: 0;
}
.faq .panel, .faq .panel-default {
  box-shadow: none;
  border-top: 2px solid #e4e5e7;
  border-left: none;
  border-right: none;
  border-bottom: none;
  border-radius: 0;
  background-color: transparent;
  padding: 0;
}
.faq .panel-heading {
  border: none;
  background-color: transparent;
  border-radius: 0;
  padding: 15px 0 10px 0;
}
.faq .panel-title {
  font-size: 15px;
  font-weight: 600;
}
.faq .panel-group .panel-heading + .panel-collapse > .panel-body, .faq .panel-group .panel-heading + .panel-collapse > .list-group {
  border-top: none;
  padding: 15px 0;
}
.faq .panel-title > a {
  display: block;
  position: relative;
  color: #666;
}
.faq .panel-title > a:after {
  content: "";
  position: absolute;
  top: 0;
  right: 15px;
  font-size: 40px;
  color: #707070;
  font-weight: 400;
  background: url(../../images/microsite/sprite.png) no-repeat -445px -92px;
  width: 16px;
  height: 3px;
}
.faq .panel-title > a.collapsed:after {
  content: "";
  position: absolute;
  top: 0;
  right: 15px;
  font-size: 40px;
  color: #707070;
  font-weight: 400;
  background: url(../../images/microsite/sprite.png) no-repeat -427px -91px;
  width: 16px;
  height: 17px;
}

.tp-bdr-faq {
  border-top: 1px solid #e1e1e1;
  margin-top: 40px;
}

/*# sourceMappingURL=roundone.css.map */
