.carousel-inner .active.left {
  left: -33%;
}

.carousel-inner .active.right {
  left: 33%;
}

.carousel-inner .next {
  left: 33%;
}

.carousel-inner .prev {
  left: -33%;
}

.carousel-control.left {
  background-image: none;
}

.carousel-control.right {
  background-image: none;
}

.carousel-inner .item {
  background: #254c8b;
}

.carousel-bgcolor {
  background-color: #254c8b;
}
.carousel-bgcolor .carousel-control {
  width: 6%;
}

.blog-carousel {
  background-color: #254d8c;
  overflow: hidden;
  padding: 40px 0 25px 0;
}
.blog-carousel strong {
  font-size: 20px;
  color: #bdc5d6;
  font-weight: 400;
  display: block;
  margin-bottom: 10px;
}
.blog-carousel .item {
  background-color: #254d8c;
}
.blog-carousel .item a {
  position: relative;
  display: block;
  color: #fff;
}
.blog-carousel .item a .caption-bg-txt {
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  background: rgba(0, 0, 0, 0.3);
  padding: 20px;
}
@media (max-width: 991px) {
  .blog-carousel .item a .caption-bg-txt {
    padding: 10px;
  }
}
.blog-carousel .item a .caption-bg-txt .caption-heading {
  font-size: 12px;
  color: #fff;
  text-transform: uppercase;
  font-weight: 600;
}
.blog-carousel .item a .caption-bg-txt .txt-bottom {
  position: absolute;
  bottom: 20px;
  left: 20px;
  right: 20px;
  font-size: 20px;
  font-weight: 600;
  line-height: 24px;
}
@media (max-width: 991px) {
  .blog-carousel .item a .caption-bg-txt .txt-bottom {
    left: 10px;
    right: 10px;
    bottom: 10px;
    font-size: 16px;
    line-height: 18px;
  }
}
.blog-carousel .item a .caption-bg-txt .txt-bottom .editor {
  font-size: 13px;
  color: #fff;
  font-weight: 400;
  line-height: 16px;
}
.blog-carousel .item a .caption-bg-txt .txt-bottom .view-forward {
  font-size: 13px;
  color: #fff;
  float: right;
  font-weight: 400;
  line-height: 16px;
  margin-top: 7px;
}
@media (max-width: 991px) {
  .blog-carousel .item a .caption-bg-txt .txt-bottom .view-forward {
    margin-top: 3px;
  }
}

.left-arrow {
  width: 45px;
  height: 45px;
  background-color: #3b5f98;
  position: absolute;
  left: 0;
  top: 50%;
}
.left-arrow:before {
  content: '';
  background: url(../../images/common/sprite.png) no-repeat -508px -74px;
  display: inline-block;
  width: 7px;
  height: 13px;
  margin-top: 17px;
}

.right-arrow {
  width: 45px;
  height: 45px;
  background-color: #3b5f98;
  position: absolute;
  right: 0;
  top: 50%;
}
.right-arrow:before {
  content: '';
  background: url(../../images/common/sprite.png) no-repeat -518px -74px;
  display: inline-block;
  width: 7px;
  height: 13px;
  margin-top: 17px;
}

.blog-heading {
  font-size: 26px !important;
  color: #3f5f94;
}

.article-listing {
  padding: 20px;
  font-size: 14px;
}
.article-listing h2 {
  color: #666;
  margin-top: 0;
}
.article-listing a {
  color: #333;
}
.article-listing .media-left {
  padding-right: 20px;
}
.article-listing .media-heading {
  font-size: 23px;
  margin-bottom: 10px;
  line-height: 26px;
}
.article-listing .editor {
  font-size: 13px;
  color: #999;
}
.article-listing article {
  margin-bottom: 10px;
  display: block;
}
.article-listing .view-forward {
  font-size: 13px;
  color: #999;
  float: right;
}
.article-listing:hover {
  box-shadow: 0 0 40px rgba(0, 0, 0, 0.1);
}

.recently-popularity-tabs {
  font-size: 14px;
  color: #666;
  list-style-type: none;
  margin: 0 0 20px 0;
  padding: 0 0 0 0;
  border-bottom: 1px solid #efefef;
}
.recently-popularity-tabs li {
  display: inline-block;
  margin-right: 30px;
}
.recently-popularity-tabs li a {
  color: #666;
  font-weight: 600;
}
.recently-popularity-tabs li.active {
  border-bottom: 2px solid #3f5f94;
  padding-bottom: 5px;
}

.categories {
  padding: 20px;
  font-size: 13px;
  color: #333;
}
.categories ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}
.categories ul li {
  display: block;
  margin-top: 12px;
}
@media (max-width: 991px) {
  .categories ul li {
    display: inline-block;
    width: 33%;
  }
}
.categories ul li a {
  color: #333;
}

.recent-popular-tabs {
  font-size: 14px;
  color: #666;
  list-style-type: none;
  margin: 0;
  padding: 20px;
}
.recent-popular-tabs ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}
.recent-popular-tabs ul li {
  display: inline-block;
  margin-right: 40px;
}
.recent-popular-tabs ul li h2 {
  font-size: 15px;
  color: #3f5f94;
  font-weight: 600;
  margin: 0;
  text-transform: uppercase;
  display: inline-block;
}
.recent-popular-tabs ul li h2 a {
  color: #3f5f94;
}
.recent-popular-tabs ul li a {
  color: #666;
  font-weight: 600;
}
.recent-popular-tabs ul li.active {
  border-bottom: 2px solid #3f5f94;
  padding-bottom: 5px;
}
.recent-popular-tabs .media {
  margin-top: 20px;
}
.recent-popular-tabs .media .media-body {
  font-size: 15px;
  color: #666;
  line-height: 20px;
  text-decoration: none;
  font-weight: 600;
}

.blog-detail-content article {
  margin-top: 30px;
  display: block;
  font-size: 17px;
  color: #333;
}
.blog-detail-content article h2 {
  display: block;
  font-size: 17px;
  font-weight: 600;
  margin: 0;
}
.blog-detail-content article ol {
  margin: 0;
  padding: 20px 0 0 20px;
}
.blog-detail-content article strong,
.blog-detail-content article b {
  font-weight: 600;
}

.blog-detail-content figure {
  margin-top: 30px;
}
.blog-detail-content figure img {
  width: 100%;
}
.blog-detail-content .page-header {
  border-bottom: 1px solid #f1f1f1;
}
.blog-detail-content .social-login {
  text-align: left;
}

.comments-box {
  font-size: 15px;
  color: #666;
}
.comments-box .media-body {
  overflow: visible;
}
.comments-box .form-group {
  position: relative;
}
.comments-box .form-group:before {
  content: '';
  position: absolute;
  left: -12px;
  top: 0;
  width: 13px;
  height: 21px;
  background: url(../../images/common/sprite.png) no-repeat -596px -72px;
  display: inline-block;
}
.comments-box .form-group textarea {
  box-shadow: none;
}
.comments-box .form-control {
  border: 1px solid #e5e5e5;
  border-radius: 0;
}
.comments-box .submit-button {
  display: inline-table;
  float: right;
  width: auto;
  padding: 7px 15px;
  border-radius: 2px;
}
.comments-box .time {
  display: block;
  color: #999;
  font-size: 12px;
  margin-top: 5px;
}

.comments-links {
  padding: 15px;
  display: block;
  color: #333;
  background-color: #f1f1f1;
  text-align: center;
  font-size: 15px;
  font-weight: 600;
}
.comments-links:hover {
  color: #333;
}
.comments-links:focus {
  color: #333;
  overflow: hidden;
}

.tagged-in {
  font-size: 15px;
  color: #333;
  display: block;
}
.tagged-in strong {
  font-weight: 400;
  display: block;
  margin-bottom: 10px;
}
.tagged-in span {
  display: inline-block;
  padding: 5px 10px;
  font-size: 13px;
  background-color: #ebebeb;
  color: #999;
  text-transform: uppercase;
  border-radius: 2px;
  margin-right: 10px;
}
.tagged-in span a {
  color: #999;
}

.page-header {
  margin-bottom: 20px;
}

.editor-comments-views {
  font-size: 13px;
  color: #999;
  margin: 10px 0 10px 0;
}
.editor-comments-views span {
  margin-right: 25px;
  display: inline-block;
}
.editor-comments-views span strong {
  font-weight: 600;
}
.editor-comments-views span figure {
  margin-top: 0;
}