{% load static %}
<!-- Section 1 -->
{% for data in order_list %}
    {% with order=data.order orderitems=data.orderitems item_count=data.item_count %}
        <div class="accordion_in {% if forloop.counter == 1 %}acc_active {% endif %}box mb-20">
            <div class="acc_head">{{order.number}}
                <div class="sub-head"><span>{{order.date_placed.date}}</span>  <span>Status <strong>
                    {% if order.status == 1 %}
                        Open
                    {% elif order.status == 0 %}
                        Unpaid
                    {% elif order.status == 3 %}
                        Closed
                    {% endif %}
                    </strong>
                </span>
                <span><strong>{{item_count}}</strong> items</span>
                </div>
            </div>
            <div class="acc_content">
                <table>
                    {% for obj in orderitems %}
                        <tr>
                            <td>
                                <a href="{% url "dashboard:dashboard-itemdetail" %}?oi={{obj.pk}}">{{obj.product.get_name}}
                                    {% if obj.product.get_exp_db %}
                                     - {{obj.product.get_exp_db}}
                                    {% endif %}
                                    {% comment %}
                                    {% if obj.product.get_studymode_db %}
                                     - {{obj.product.get_studymode_db}}
                                    {% endif %}
                                    {% if obj.product.get_coursetype_db %}
                                     - {{obj.product.get_coursetype_db}}
                                    {% endif %}
                                    {% if obj.product.get_duration_in_day %}
                                     - {{obj.product.get_duration_in_ddmmyy}}
                                    {% endif %}
                                    {% endcomment %}
                                </a>
                                <!--p class="c6 fs-12 pb-0">SRI3284683246</p-->
                            </td>
                            <td class="text-right">
                                {% if obj.oi_status == 4 %}
                                    Closed
                                {% elif obj.oi_status == 161 or obj.oi_status == 162 or obj.oi_status == 163 %}
                                    {{obj.get_user_oi_status}}
                                {% elif order.status == 0 %}
                                    Unpaid
                                {% elif order.status == 1 %}
                                    Service in progress
                                {% endif %}
                            </td>
                        </tr>
                    {% endfor %}
                    <tr>
                        <td>
                            <p class="c6 fs-12 pb-0">Total amount</p>
                            <p class="price">{% if order.currency %}{{order.currency}}{% else %}Rs.{% endif %}{{order.total_incl_tax}}/-</p>
                        </td>
                        {% if order.status == 1 or order.status == 3 %}
                            <td class="text-right">
                                <form role="form" id="download-invoice-form{{order.pk}}" method="POST" action="{% url "dashboard:dashboard-invoicedownload" %}">
                                    <div style="display:none">
                                        <input type="hidden" name="csrfmiddlewaretoken" 
                                        value="{{csrf_token}}" />
                                        <input type="hidden" name="order_pk" value="{{order.pk}}" />
                                   </div>
                                   <a role="button" class="btn btn-outline" onclick="downloadOrderInvoice('{{order.pk}}')" id="download-order-invoice{{order.pk}}">Download invoice</a>
                                </form>
                            </td>
                        {% endif %}
                        {% if order.status == 0 %}
                            <td class="text-right">
                                <a role="button" class="btn btn-outline" onClick="openPopup('cancelorder_div{{order.pk}}');" >Cancel Order</a>
                            </td>
                        {% endif %}
                    </tr>
                </table>
            </div>
        </div><!-- Section 1 edns here  -->
        {% if order.status == 0 %}
          <div class="modal fade bs-example-modal-sm" tabindex="-1" role="dialog" data-backdrop="static" data-keyboard="false" aria-labelledby="mySmallModalLabel" id="cancelorder_div{{order.pk}}">
            <div class="modal-helper">
              <div class="modal-vertical-center">
                 <!-- Modal content -->
                  <div class="modal-content">
                    <div class="header">
                      <h2>Do you wish to cancel the order?</h2>
                      <a role="button" class="icon-close" onclick="closePopup();"></a>
                    </div><!-- end of header -->

                    <div class="content-box pt-0 pb-0">
                      <p class="c9 fs-12"> Any credit points redeemed against this order will be refunded back to your wallet shortly. These points will be valid for the next 10 days.</p>
                      <div class="text-center mt-10">
                          <form role="form" id="download-invoice-form{{order.pk}}" method="POST" action="{% url "dashboard:cancel-order" %}">
                              <div style="display:none">
                                <input type="hidden" name="csrfmiddlewaretoken" 
                                    value="{{csrf_token}}" />
                                <input type="hidden" name="order_pk" value="{{order.pk}}" />
                              </div>
                              <p><button class="btn w100 btn-round btn-blue" onClick="mobileAccept('{{obj.pk}}')">Yes</button></p>
                              <p><button type="button" class="btn w100 btn-round btn-blue"  onclick="closePopup();">No</button></p>
                          </form>
                      </div>
                    </div><!-- Tab content ends here -->
                  </div><!-- end of modal content here -->
              </div><!-- end of modal-vertical-center -->
            </div><!-- end of modal-helper -->
          </div>
     {% endif %}
    {% endwith %}
{% endfor %}