@import '../../../styles/variables/vars.scss';
@import '../../../styles/variables/mixins.scss';

.header {
	background: $blue-dark;
	color: $white;
	width: 100%;
	padding: 1.0rem 1.5rem;
	position: fixed;
	top: 0;
	z-index: 2;
	height: 60px;
	
	display: flex;
	align-items: center;
	justify-content: space-between;

	&__left {
		font-size: 1.4rem;

		display: flex;
		align-items: center;
	}

	&__menu {
		margin-right: 10px;
		border: 0 none;
		background-color: transparent;

		-webkit-appearance: none;
		-moz-appearance: none;
		appearance: none;
	}

	.btn--outline {
		color: $white;
		border-color: $white;
	}
}