@import '../../../styles/variables/vars.scss';
header {
	background: #2A3C86;
	display: flex;
	flex-direction: row;
	height: 63px;
}

.container {
	margin: 0 5%;

	&--logo {
		width: 270px;
		height: 55px;
	}

	&--login-box {

	}
}

.container {
	margin: 0 5%;

	.logo {
		width: 270px;
		height: 55px;
		display: inline-block;
		
	}
}