<div class="form-group horizontal-checkbox {% if field.errors %}has-error{% endif %}">
  {% if field.label %}
    <label class="col-md-3 col-sm-3 col-xs-12 control-label {% if style.hide_label %}sr-only{% endif %}">
      {{ field.label }}
    </label>
  {% endif %}

  <div class="col-md-6 col-sm-6 col-xs-12">
    <input type="checkbox" name="{{ field.name }}" value="true" {% if field.value %}checked{% endif %} {% include "console/fields/attrs.html" %}>

    {% if field.errors %}
      {% for error in field.errors %}
        <span class="help-block">{{ error }}</span>
      {% endfor %}
    {% endif %}

    {% if field.help_text %}
      <span class="help-block">{{ field.help_text|safe }}</span>
    {% endif %}
  </div>
</div>
