%gradients-blue {
    /* Permalink - use to edit and share this gradient: https://colorzilla.com/gradient-editor/#2958a8+0,c486df+100 */
    background: #2958a8; /* Old browsers */
    background: -moz-linear-gradient(-45deg,  #2958a8 0%, #c486df 100%); /* FF3.6-15 */
    background: -webkit-linear-gradient(-45deg,  #2958a8 0%,#c486df 100%); /* Chrome10-25,Safari5.1-6 */
    background: linear-gradient(135deg,  #2958a8 0%,#c486df 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#2958a8', endColorstr='#c486df',GradientType=1 ); /* IE6-9 fallback on horizontal gradient */
}