* {
  box-sizing: border-box;
  -webkit-overflow-scrolling: touch;
}

html {
  height: 100%;
  scroll-behavior: smooth;
}

body {
  color: $txt-grey-333;
  display: block;
  font-family: $font-family;
  font-size: $font-size;
  font-weight: $font-weight;
  line-height: $line-height;
  margin: 0;
  padding: 0;
  height: 100%;
}

figure {
  margin: 0;
}

// remove space ny margin and padding
h2 {
  @extend %remove-space;
}

h3 {
  @extend %remove-space;
}

h4 {
  @extend %remove-space;
}

h6 {
  @extend %remove-space;
}

p {
  @extend %remove-space;
  padding-bottom: 10px;
  line-height: 1.4rem;
}


/*img {
  @include box(100%, auto, block);
}*/

a {
  color: $txt-blue;
  text-decoration: none;
}


li {
  @extend %remove-space;
  list-style: none;
}

ul, ol {
  @extend %remove-space;
  list-style: none;
}

h1 {
  color: $txt-white;
  font-size: 2em;
  font-weight: 400;
}

h2 {
  @extend .main-heading;
}

h3 {
  font-size: 115%;
  font-weight: 600;
}

h4 {
  color: $txt-white;
  font-weight: 400;
  margin-top: 20px;
}

h5 {
  @extend h4;
  font-size: .875em;
}

hr {
  border: 0 none;
  border-top: 1px solid #ddd;
  margin: 10px 0 15px;
}