@import "../../path";

// fonts size
$font-size: 14px;
$font-weight: 400;
$font-family: 'Open Sans', sans-serif;
$line-height: 20px;
$font-75: 12px;

// social color
$fb-color:         #386faa;
$gp-color:         #d94440;


// text
$txt-black:        #000;
$txt-grey-333:     #333;
$txt-grey-555:     #555;
$txt-grey-5563:    #55636c;
$txt-grey-666:     #666;
$txt-grey-89:      #898989;
$txt-grey-999:     #999;
$txt-success:      #9dbc07;
$txt-success-top:  #a2c000;
$txt-grey-b7:      #b7b7b7;
$txt-grey-c7:      #c7ddf3;
$txt-grey-ddd:     #ddd;
$txt-white-f1:     #f1f1f1;
$txt-white:        #fff; 
$txt-white-ffe:    #ffefef;
$txt-green:        #00a651;
$txt-red:          #c81b1b;


// Blue shades
$txt-blue:         #2f5ea6;
$txt-blue-1f3:     #1f3d6e;

// background
$bg-black     : #000;
$bg-blue      : #2f5ea6;
$bg-blue-254  : #254d8c;
$bg-white     : #fff;
$bg-grey-eb   : #ebebeb;
$bg-grey-777  : #777777;
$bg-grey-f1   : #f1f1f1;
$bg-grey-ed   : #ededed;
$bg-grey-f6   : #f6f7f9;
$bg-grey-fc   : #fcfcfc;
$bg-grey-f5   : #f5f5f5;
$grey-e5      : #e5e5e5;
$light-blue   : #ddf6ff;
$bg-yellow    : #f9b54c;

// border color
$border-grey-f5: #f5f5f5;
$border-grey-6b: #6b6b6b;
$border-grey-f2: #f2f2f2;
$border-grey-c1: #c1c1c1;

// opacity color
$blue-opacity: rgba(8,49,111, .4);


// box shadow
$box-shadow: 0px 0px 15px rgba(0, 0, 0, 0.1);
$box-shadow-2: 0px 0px 15px rgba(0, 0, 0, 0.2);
$box-shadow-5: 0px 0px 15px rgba(0, 0, 0, 0.5);
$box-shadow-10: 0px 0px 10px rgba(0, 0, 0, 0.1);
$box-shadow-test: 0 3px 17px 0 rgba(206,206,206,0.50);

$error: #f34a38;


// text shadow:


// images

$fullpath:        $path + 'images/mobile/common/';
$image-path:         $fullpath + 'sprites.svg';
$dropdown-default:   $fullpath + 'dropdown.svg';
$dropdown-white:   $fullpath + 'dropdown-white.svg';
$dropdown-black:   $fullpath + 'dropdown-black.svg';
$executive-sprite:    $fullpath + 'exec-sprite.svg';
$executive-images:    $path + 'images/mobile/executive-course/';
$practice-test:    $path + 'images/mobile/practice_test/practice_skill_sprite.svg';

// border radius
$global-radius: 4px;

// Executive Page variables
$yellow     : #ffcf26;
$grey-f4f   : #f4f4f4;
$blue       : #6b97e1;
$orange     : #f4a456;
$grey-f9f   : #f9f9f9;
$grey-f0f   : #f0f0f0;

//font size 
$font-size-xs   :   .75rem;
$font-size-base :    0.813rem;
$font-size-md   :   1rem;
$font-size-lg   :   1.25rem;
$font-size-xlg  :   1.75rem;
$font-size-14  :   .875rem;

$font-weight-normal :   400;
$font-weight-medium :   600;
$font-weight-bold   :   700;

$font-weight-base: $font-weight-normal;
$line-height-base: 1.5;



// practicetest Page variables

$blue_bt:#5168C7;

// practicetest bordercolors
$purple:#D0D2F2;
$sky:#B2E1F2;
$light_green:#F2F4D0;
$indigo:  #EDC3E7 ;
$pink:    #C9C3FF ;
$red:     #dc3545 ;
$orange:  #fd7e14 ;
$yellow:  #ffc107 ;
$green:   #BCF5E8 ;
$teal:    #EDD4B3 ;
$cyan:    #17a2b8 ;




%remove-space {
  margin: 0;
  padding: 0;
}

%half-width {
  width: 50%;
}

%display-cell {
  display: table-cell;
}

%ul-clear {
  clear: both;
  display: block;
  overflow: hidden;
  padding: 0.4em 1em;
  position: relative;
}

%button {
  background-color: transparent;
  background-image: none;
  border: 1px solid transparent;
  cursor: pointer;
  display: inline-block;
  font-size: 1em;
  font-weight: normal;
  line-height: 1.6;
  margin-bottom: 0;
  padding: 10px 12px;
  text-align: center;
  touch-action: manipulation;
  user-select: none;
  vertical-align: middle;
  white-space: nowrap;
}


%tablecell-top {
  display: table-cell;
  vertical-align: top;
}

%absolute-position {
  bottom: 0;
  left: 0;
  position: absolute;
  right: 0;
  top: 0;
}

%table-gap {
  vertical-align: middle;
  white-space: nowrap;
  width: 1%;
}

%stream-content {
  display: table;
  height: 100%;
  padding: 0 15px;
}

%stream-head {
  color: $txt-white;
  font-weight: 400;
  margin: 0;
  text-transform: none;
}

%bold {
  font-size: 700;
}

%hidden {
  display: none;
}

%rel {
  position: relative;
}

%full-width {
  width: 100%;
}

%relative-middle {
  display: inline-block;
  position: relative;
  vertical-align: middle;
}

%marginl--1 {
  margin-left: -1px;
}

%clear {
  clear: both;
  display: table;
  margin: 0;
  padding: 0;
}

%clearfix {
  &::after {
    @extend %clear;
    content: '';
  }

  &::before {
    @extend %clear;
    content: '';
  }
}

%list-none {
  ul {
    list-style: none;
    margin: 0;
    padding: 0;
	}
}

%horizonatal-center {
  position: absolute;
  left: 0;
  right: 0;
  margin: auto;
}


%full-size {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  width: 100%;
  height: 100%;
}

%all-center {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  margin: auto;
}

%white-box {
  box-shadow: $box-shadow;
  background-color: $bg-white;
  padding: 10px 15px;
}


%cruve {
  position: absolute;
  display: block;
  content: "";
  bottom: 0;
}

%all-center {
  position: absolute;
  right: 10px;
  top: 50%;
  margin-top: -7px;
}

%absolute-margin-0 {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  margin: auto;
}

%cart-heading {
  display: block;
  font-size: 16px;
  font-weight: 600;
  color: $txt-grey-666;
  margin-bottom: 5px;
}

%sub-line {
  height: 1px;
  width: 20px;
  display: inline-block;
  background-color: #e1e1e1;
  margin-bottom: 4px;
}
%white-box {
  background-color: $bg-white;
  border-radius: 5px;
  box-shadow: $box-shadow;
  margin-top: 30px;
  padding: 15px;
}