{% load humanize search_tags %}
<!-- left content start -->
<form action="{{searchquery}}" id="form_facets">
    <input type="hidden" name="page" id="id_page" value="1"/>
    <input type="hidden" name="sort" id="id_sort" value="{{search_params.sort}}"/>
    <input type="hidden" name="q" id="id_p_q" value="{{search_params.q}}"/>
    <input type="hidden" name="area" id="id_p_area" value="{{search_params.area}}"/>
    <input type="hidden" name="skills" id="id_p_skills" value="{{search_params.skills}}"/>
    <input type="hidden" name="search_type" id="id_search_type" value="{{search_type}}"/>
    <input type="hidden" name="rcount" id="id_rcount" value="{{paginator.num_pages}}"/>
    <input type="hidden" name="rstart" id="id_rstart" value="{{ page.number }}"/>

    <div class="col-sm-3 col-md-2 mt-40 cls_scroller_parent">
        <div id="filters" class="panel-group filters">
            <div class="cls_scroller pr">  
                <strong class="filter-heading">Filter</strong>
                <a href="javascript:void(0)" class="apply-filter js_apply_filter" >Apply</a>
            </div>
            {% if facets.pFA|length %}
            <div class="panel panel-default">
                <div class="panel-heading">
                    <h4 class="panel-title">
                        <a>
                        Functional area
                        </a>
                    </h4>
                </div>
                <div class="panel-collapse">
                    <div class="panel-body scroll js_filter_sxn">
                        {% if facets.pFA|length == 1 %}
                            <label title="{{facets.pFA.0.label}}">
                                <input type="checkbox" {% if areaf %}name="farea" {% else %}name="ign_farea"{% endif %} value="{{facets.pFA.0.id}}" checked="checked" disabled="disabled" />
                                <span>{{facets.pFA.0.label}} <b>({{facets.pFA.0.count}})</b></span>
                            </label>
                        {% else %}
                            {% for facet in facets.pFA %}
                            <label title="{{facet.label}}">
                                <input type="checkbox" name="farea" value="{{facet.id}}" {% if facet.id|stringformat:"i" in areaf %}checked="checked" {% endif %} />
                                <span>{{facet.label}} <b>({{facet.count}})</b></span>
                            </label>
                            {% endfor %}
                        {% endif %}
                    </div>
                </div>
            </div>
            {% endif %}
            {% if facets.pCL|length %}
            <div class="panel panel-default">
                <div class="panel-heading">
                    <h4 class="panel-title">
                        <a>
                        Course Level
                        </a>
                    </h4>
                </div>
                <div class="panel-collapse">
                    <div class="panel-body js_filter_sxn">
                        {% if facets.pCL|length == 1 %}
                            <label title="{{facets.pCL.0.label}}">
                                <input type="checkbox" {% if clevel %}name="fclevel" {% else %}name="ign_fclevel"{% endif %}
                                       value="{{facets.pCL.0.id}}" checked="checked" disabled="disabled" />
                                <span>{{facets.pCL.0.label}} <b>({{facets.pCL.0.count}})</b></span>
                            </label>
                        {% else %}
                            {% for facet in facets.pCL|slice:"15" %}
                            <label title="{{facet.label}}">
                                <input type="checkbox" name="fclevel" value="{{facet.id}}" {% if facet.id in clevel %}checked="checked" {% endif %} />
                                <span>{{facet.label}} <b>({{facet.count}})</b></span>
                            </label>
                            {% endfor %}
                        {% endif %}
                    </div>
                </div>
            </div>
            {% endif %}
            {% if facets.pCert|length %}
            <div class="panel panel-default">
                <div class="panel-heading">
                    <h4 class="panel-title">
                        <a>
                        Learning Options
                        </a>
                    </h4>
                </div>
                <div class="panel-collapse">
                    <div class="panel-body js_filter_sxn">
                        {% if facets.pCert|length == 1 %}
                        <label title="{{facets.pCert.0.label}}">
                            <input type="checkbox" {% if cert %}name="fcert" {% else %}name="ign_fcert"{% endif %}
                                       value="{{facets.pCert.0.id}}" checked="checked" disabled="disabled">
                            <span>{{facets.pCert.0.label}} <b>({{facets.pCert.0.count}})</b></span>
                        </label>
                        {% else %}
                            {% for facet in facets.pCert %}
                            <label title="{{facet.label}}">
                                <input type="checkbox" name="fcert" value="{{facet.id}}" {% if facet.id in cert %}checked="checked" {% endif %} />
                                <span>{{facet.label}} <b>({{facet.count}})</b></span>
                            </label>
                            {% endfor %}
                        {% endif %}
                    </div>
                </div>
            </div>
            {% endif %}

            {% if facets.pVid|length %}
            <div class="panel panel-default">
                <div class="panel-heading">
                    <h4 class="panel-title">
                        <a>
                        Vendors
                        </a>
                    </h4>
                </div>
                <div class="panel-collapse">
                    <div class="panel-body js_filter_sxn">
                        {% if facets.pVid|length == 1 %}
                        <label title="{{facets.pVid.label}}">
                            <input type="checkbox" {% if cert %}name="fvid" {% else %}name="ign_fvid"{% endif %}
                                       value="{{facets.pVid.0.id}}" checked="checked" disabled="disabled">
                            <span>{{facets.pVid.0.label}} <b>({{facets.pVid.0.count}})</b></span>
                        </label>
                        {% else %}
                            {% for facet in facets.pVid %}
                            <label title="{{facet.label}}">
                                <input type="checkbox" name="fvid" value="{{facet.id}}" {% if facet.id|stringformat:"i" in vid %}checked="checked" {%endif%} /> 
                                <span>{{facet.label}} <b>({{facet.count}})</b></span>
                            </label>
                            {% endfor %}
                        {% endif %}
                    </div>
                </div>
            </div>
            {% endif %}

            {% if facets.pDM|length %}
            <div class="panel panel-default">
                <div class="panel-heading">
                    <h4 class="panel-title">
                        <a>
                        Duration
                        </a>
                    </h4>
                </div>
                <div class="panel-collapse">
                    <div class="panel-body js_filter_sxn">
                        {% if facets.pDM|length == 1 %}
                        <label title="{{facets.pDM.0.label}}">
                            <input type="checkbox" {% if duration %}name="fduration" {% else %}name="ign_fduration"{% endif %}
                                       value="{{facets.pDM.0.id}}" checked="checked" disabled="disabled">
                            <span>{{facets.pDM.0.label}} <b>({{facets.pDM.0.count}})</b></span>
                        </label>
                        {% else %}
                            {% for facet in facets.pDM %}
                            <label title="{{facet.label}}">
                                <input type="checkbox" name="fduration" value="{{facet.id}}" {% if facet.id|stringformat:"i" in duration %}checked="checked" {% endif %} />
                                <span>{{facet.label}} <b>({{facet.count}})</b></span>
                            </label>
                            {% endfor %}
                        {% endif %}
                    </div>
                </div>
            </div>
            {% endif %}
            {% if facets.pStM|length %}
            <div class="panel panel-default">
                <div class="panel-heading">
                    <h4 class="panel-title">
                        <a>
                        Study mode
                        </a>
                    </h4>
                </div>
                <div class="panel-collapse">
                    <div class="panel-body js_filter_sxn">
                        {% if facets.pStM|length == 1 %}
                        <label title="{{facets.pStM.0.label}}">
                            <input type="checkbox" {% if mode %}name="fmode" {% else %}name="ign_fmode"{% endif %}
                                       value="{{facets.pStM.0.id}}" checked="checked" disabled="disabled">
                            <span>{{facets.pStM.0.label}} <b>({{facets.pStM.0.count}})</b></span>
                        </label>
                        {% else %}
                            {% for facet in facets.pStM %}
                            <label title="{{facet.label}}">
                                <input type="checkbox" name="fmode" value="{{facet.id}}" {% if facet.id in mode %}checked="checked" {% endif %} />
                                <span>{{facet.label}} <b>({{facet.count}})</b></span>
                            </label>
                            {% endfor %}
                        {% endif %}
                    </div>
                </div>
            </div>
            {% endif %}
            {% if facets.pAR|length %}
            <div class="panel panel-default">
                <div class="panel-heading">
                    <h4 class="panel-title">
                        <a>
                        Rating
                        </a>
                    </h4>
                </div>
                <div class="panel-collapse">
                    <div class="panel-body js_filter_sxn">
                    {% for i in '54321' %}
                        <div class="rating-review-box">

                            {% for facet in facets.pAR %}
                                {% if facet.id|stringformat:"i" == i %}
                                    {% if facet.count %}
                                    <input name="frating" type="checkbox" {% if i in rating %}checked="checked"{% endif %}
                                        {% if facets.pAR|length == 1 %}disabled="disabled"{% endif %} value="{{ i }}">
                                        {% for j in "12345" %}
                                        <figure class={% if j <= i %}"full-star"{% else %}"blank-star"{% endif %}> </figure>
                                        {% endfor %}
                                        &nbsp;<b>({{facet.count}})</b>
                                    {% endif %}
                                {% endif %}
                            {% endfor %}
                        </div>
                    {% endfor %}
                    </div>
                </div>
            </div>
            {% endif %}
            {% if facets.pPinr|length %}
            <div class="panel panel-default">
                <div class="panel-heading">
                    <h4 class="panel-title">
                        <a>
                        Price
                        </a>
                    </h4>
                </div>
                <div class="panel-collapse">
                    <div class="panel-body js_filter_sxn">
                        {% if facets.pPinr|length == 1 %}
                        <label title="{{facets.pPinr.0.label}}">
                            <input type="checkbox" {% if price %}name="fprice" {% else %}name="ign_fprice"{% endif %}
                                       value="{{facets.pPinr.0.id}}" checked="checked" disabled="disabled">
                            <span>{{facets.pPinr.0.label}} <b>({{facets.pPinr.0.count}})</b></span>
                        </label>
                        {% else %}
                            {% for facet in facets.pPinr %}
                            <label title="{{facet.label}}">
                                <input type="checkbox" name="fprice" value="{{facet.id}}" {% if facet.id|stringformat:"i" in price %}checked="checked" {% endif %} />
                                <span>{{facet.label}} <b>({{facet.count}})</b></span>
                            </label>
                            {% endfor %}
                        {% endif %}
                    </div>
                </div>
            </div>
            {% endif %}
        </div>
    </div>
</form>
<!-- left content end -->