%checkbox {
  @include square(16px);
  position: absolute;
  border: 1px solid $blue;
  background-color: $white;
  border-radius: 2px;
}

/* Base for label styling */
[type="checkbox"]:not(:checked),
[type="checkbox"]:checked {
  position: absolute;
  left: -9999px;
}
[type="checkbox"]:not(:checked) + label,
[type="checkbox"]:checked + label {
  position: relative;
  padding-left: 2.5rem;
  cursor: pointer;
  color: $grey-333;
  font-size: 1.4rem;
}

/* checkbox aspect */
[type="checkbox"]:not(:checked) + label:before,
[type="checkbox"]:checked + label:before {
  @extend %checkbox;
  content: '';
  left: 0; 
  top: 2px;
  
}
/* checked mark aspect */
[type="checkbox"]:not(:checked) + label:after,
[type="checkbox"]:checked + label:after {
  @extend %checkbox;
  content: '\2713';
  top: 2px; 
  left: 0;
  font-size: 1.3rem;
  line-height: 0.8;
  color: $white;
  background-color: $blue;
  transition: all .2s;
  display: flex;
  align-items: center;
  justify-content: center;
}
/* checked mark aspect changes */
[type="checkbox"]:not(:checked) + label:after {
  opacity: 0;
  transform: scale(0);
}
[type="checkbox"]:checked + label:after {
  opacity: 1;
  transform: scale(1);
}
/* disabled checkbox */
[type="checkbox"]:disabled:not(:checked) + label:before,
[type="checkbox"]:disabled:checked + label:before {
  box-shadow: none;
  border-color: #bbb;
  background-color: #ddd;
}
[type="checkbox"]:disabled:checked + label:after {
  color: #999;
}
[type="checkbox"]:disabled + label {
  color: #aaa;
}

.chatflow .responses li.feedback-response-list .input-body label span {
    display:none !important;
}

.form-wrap {
  [type="checkbox"]:checked + label:after,
  [type="checkbox"]:checked + label:before,
  [type="checkbox"]:not(:checked) + label:after,
  [type="checkbox"]:not(:checked) + label:before {
    border: 0 none;
  }
}

