.resume-color-theme {
    list-style-type: none;
    padding: 0;

    &__item {
        color: $blue;
        display: inline-block;
        width: 50%;
        padding: 10px;

        &--input {
            display: none;

            &:checked + label {
                display: block;
        
                &:after {
                    @include border-radius(100%);
                    @include square(23px,23px);
                    content: '';
                    background: $sprite -53px -260px $white;
                    z-index: 999;
                    position: absolute;
                    top: -10px;
                    left: -10px;
                    display: inline-block;
                    box-shadow: 0 4px 10px 0 rgba(90,89,89,0.50);
                }
            }
        }

        &__label {
            @include size(100%, 35px, block);
            position: relative;
            cursor: pointer;
            @include border-radius(4px);
            box-shadow: 0 2px 4px 0 rgba(180,177,177,0.50);
        }

        &__theme {
            @include size (50%, 35px,inline-block);
            
            border-bottom-left-radius: 5px;
            border-top-left-radius: 5px;
        }

        &--blue {
            background-color: $theme-blue;
        }

        &--green {
            background-color: $theme-green;
        }

        &--red {
            background-color: $theme-red;
        }

        &--black {
            background-color: $theme-black;
        }

        &--brown {
            background-color: $theme-brown;
        }

        &--violet {
            background-color: $theme-violet;
        }
    }
}


.form {

    &__radio-group {
        width: 100%;
        display: inline-block;
    }

    &__radio-label {
        position: relative;
        padding-left: 3.0rem;

    }

    &__radio-input {
        display: none;
    }

    &__radio-button {
        @include square(2.0rem);
        border-radius: 50%;
        border: 2px solid $grey-a7;
        display: inline-block;
        position: absolute;
        top: 0.2rem;
        left: 0;

        &::after {
            content: '';
            display: block;
            @include square(1.0rem);
            border-radius: 50%;
            position: absolute;
            top: 50%;
            left: 50%;
            transform: translate(-50%, -50%);
            background-color: $blue;
            opacity: 0;
            transition: opacity .2s;
        }
    }

    &__radio-input:checked ~ &__radio-label &__radio-button::after {
        opacity: 1;
    }
}
