@import './variables/vars.scss';
@import './variables/mixins.scss';

.form {
  padding: 10px;

  &__group {
    display: flex;
    flex-direction: column;
    margin-bottom: 1.5rem;
  }

  &__label {
    font-size: 1.3rem;
    font-weight: 600;
    padding-bottom: 5px;
  }

  &__input {
    @extend %input;

    &:focus {
      outline: 0;
      box-shadow: 0 1rem 2rem rgba($black, .1);
    }
  }

  &__select {
    @extend %input;
    background-image: url('#{$path}/downArrow.png');
    background-repeat: no-repeat;
    background-position: right center;
  }
}


// line form starts here 
.line-form {
  padding: 10px;

  &__group {
    display: flex;
    flex-direction: column;
    margin-bottom: 2rem;
    height: 35px;
  }

  &__label {
    font-size: 1.3rem;
    font-weight: 600;
    padding-bottom: 5px;
    transition: all .3s;
    transform: translateY(-4.5rem);
  }

  &__input {
    @extend %line-input;

    &:focus {
      outline: 0;
    }
  }

  &__select {
    @extend %line-input;
    background-image: url('#{$path}/downArrow.png');
    background-repeat: no-repeat;
    background-position: right center;
  }

  &__input:placeholder-shown + &__label {
    opacity: 0;
    visibility: hidden;
    transform: translateY(-3rem);
  }

  &__mobile {
    .code {
      width: 60px;
    }

    .number {
      flex: 1;
      margin-left: 1.5rem;
    }
  }
}


.input-group {
  position: relative;
  width: 100%;

  display: flex;
  flex-wrap: wrap;
  align-items: stretch;

  &__prepend {
    margin-right: -1px;

    display: flex;
  }

  &__text {
    @include size(40px, auto, flex);
    text-align: center;
    white-space: nowrap;
    background-color: $grey-light;
    border: 1px solid $grey-lightest;
    border-radius: .5rem;

    border-top-right-radius: 0;
    border-bottom-right-radius: 0;

    align-items: center;
    justify-content: center;
  }

  .form__input {
    border-top-left-radius: 0;
    border-bottom-left-radius: 0;
    position: relative;

    flex: 1 1 auto;
    width: 1%;
    margin-bottom: 0;
  }


}

.form-check-label {
  font-size: 1.2rem;
  text-align: right;

  .form-check-input {
    margin-right: 5px;
    position: relative;
    top: 2px;
  }
}