@import './variables/vars.scss';
@import './variables/mixins.scss';

.sprite {
    background-image: url('/media/static/react/assets/images/mobile/sprite.svg');
    background-repeat: no-repeat;
}

.icon {
    &--menu-bar {
        @include size(20px, 12px, block);
        background-position: -37px -18px; 
    }

    &--firstName {
        @include size(14px, 18px, block);
        background-position: -51px -36px;
    }

    &--lastName {
        @include size(20px, 15px, block);
        background-position: -49px -58px;
    }

    &--designation {
        @include size(16px, 15px, block);
        background-position: -52px -79px;
    }

    &--company {
        @include size(16px, 16px, block);
        background-position: -53px -102px;
    }

    &--personal {
        @include size(16px, 16px, block);
        background-position: 0 -37px;
    }

    &--summary {
        @include size(15px, 20px, block);
        background-position: 0 -56px;
    }

    &--experience{
        @include size(17px, 16px, block);
        background-position: 0 -80px;
    }

    &--education {
        @include size(23px, 20px, block);
        background-position: 0 -102px;
    }
    
    &--education-grey {
        @include size(22px, 20px, block);
        background-position: -71px -39px;
    }
    
    &--skills {
        @include size(20px, 20px, block);
        background-position: 0 -128px;
    }
    
    &--skills-grey {
        @include size(20px, 20px, block);
        background-position: -72px -14px;
    }
    
    &--add-more {
        @include size(12px, 28px, block);
        background-position: -25px -345px;
    }

    &--edit {
		@include size(20px, 20px, block);
		background-position: 5px -13px;
        float: left;
    }
    
    &--mobile {
        @include square(15px);
        background-position: 0 -179px;
    }
    
    &--mail {
        @include size(15px, 11px, block);
        background-position: 0 -199px;
    }
    
    &--address {
        @include size(11px, 16px, block);
        background-position: 0 -216px;
    }
    
    &--linkedin {
        @include size(15px, 16px, block);
        background-position: 0 -236px;
    }
    
    &--facebook {
        @include size(9px, 16px, block);
        background-position: 0 -260px;
    }
    
    &--language {
        @include size(22px, 19px, block);
        background-position: -53px -128px;
    }
    
    &--award {
        @include size(19px, 20px, block);
        background-position: -55px -155px;
    }
    
    &--course {
        @include size(19px, 21px, block);
        background-position: -55px -182px;
    }
    
    &--course-grey {
        @include size(19px, 21px, block);
        background-position: -101px -1px;
    }
    
    &--project {
        @include size(19px, 23px, block);
        background-position: -54px -210px;
    }
    
    &--project-gray {
        @include size(19px, 23px, block);
        background-position: -102px -27px;
    }
    
    &--reference {
        @include size(19px, 19px, block);
        background-position: -54px -238px;
    }

    &--camera {
        @include size(22px, 18px, block);
        background-position: 0 -282px;
        margin-right: 10px; 
    }

    &--delete {
        @include size(14px, 18px, block);
        background-position: 0 -327px;   
    }

    &--upArrow {
        @include size(10px, 6px, block);
        background-position: -87px -114px;   
    }

    &--downArrow {
        @include size(10px, 6px, block);
        background-position: -87px -100px;   
    }
    
    &--date {
        @include size(19px, 19px, block);
        background-position: -77px -62px;   
    }
    
    // &--back-white {
    //     @include square(15px, 15px);
    //     display: block;
    //     background-position: -29px -300px;   
    // }
    
    &--back-white {
        @include size(15px, 19px, block);
        background-position: -29px -335px;  
    }
    
    &--theme {
        @include size(18px, 23px, block);
        background-position: -28px -178px;  
    }
    
    &--plus {
        @include size(12px, 28px, block);
        background-position: -25px -345px;  
    }
    
    &--font {
        @include size(20px, 20px, block);
        background-position: -27px -207px;  
    }
    
    &--reorder {
        @include size(20px, 18px, block);
        background-position: -27px -233px;  
    }

    &--minus {
        @include size(7px, 24px, block);
        background-position: 0 -348px;  
    }
    
    &--control {
        @include size(8px, 14px, block);
        background-position: -61px -288px; 
    }
    
    &--prev {
        @include size(7px, 24px, block);
        background-position: -61px -288px;  
    }

    &--zoom {
        @include square(45px);
        display: block;
        position: absolute;
        top: 0;
        right: 0;
        background-position: -53px -315px;  
    }

    &--expertise {
        position: relative;

        &::before {
            @include size(13px, 20px, block);
            content: '';
            background-image: url($sprite);
            position: absolute;
            background-position: -106px -59px;
            top: .2rem;
            left: 0;

        } 
    }

    &--build {
        position: relative;

        &::before {
            @include size(16px, 16px, block);
            content: '';
            background-image: url($sprite);
            position: absolute;
            background-position: -104px -85px;
            top: .2rem;
            left: 0;

        } 
    }

    &--download {
        position: relative;

        &::before {
            @include size(13px, 13px, block);
            content: '';
            background-image: url($sprite);
            position: absolute;
            background-position: -107px -107px;
            top: .2rem;
            left: 0;

        } 
    }

    &--custom {
        position: relative;

        &::before {
            @include size(16px, 16px, block);
            content: '';
            background-image: url($sprite);
            position: absolute;
            background-position: -110px -127px;
            top: .2rem;
            left: 0;

        } 
    }

    &--power {
        position: relative;

        &::before {
            @include size(16px, 16px, block);
            content: '';
            background-image: url($sprite);
            position: absolute;
            background-position: -111px -156px;
            top: .2rem;
            left: 0;

        } 
    }

    &--resume {
        background-position: -110px -179px;
    }

    &--create {
        background-position: -112px -198px;
    }

    &--increase {
        background-position: -112px -217px;
    }

    &--application {
        height: 22px !important;
        transform: scale(2) !important;
        top: 20px !important;
        background-position: -112px -237px;
    }

    &--choose-resume {
        background-position: -9px -10px;
    }

    &--choose-verify {
        background-position: -9px -118px;
    }

    &--choose-download {
        background-position: -9px -226px;
    }

    &--switch {
        @include size(16px, 19px, block);
        background-position: -114px -261px;
    }

    &--editText {
        @include size(20px, 20px, block);
        background-position: -27px -207px;
        transform: scale(1) !important;
        top: auto !important;
    }

    &--theme {
        @include size(18px, 23px, block);
        background-position: -28px -178px;
        transform: scale(1) !important;
        top: auto !important;
    }

    &--move {
        @include square(16px);
        display: block;
        background-position: -114px -283px;
    }

    &--upload {
        @include size(16px, 17px, block);
        background-position: -114px -302px;
    }

    &--preview {
        @include square(16px);
        display: block;
        background-position: -114px -323px;
    }
}



.sidebar--active {
    background-color: $blue; 

    .icon {
        &--personal {
            background-position: -26px -37px;
        }
    
        &--summary {
            background-position: -26px -56px;
        }
    
        &--experience{
            background-position: -26px -80px;
        }
    
        &--education {
            background-position: -26px -102px;
        }
        
        &--skills {
            background-position: -26px -128px;
        }
        
        &--add-more {
            background-position: -26px -154px;
        }

        &--language {
            background-position: -82px -128px;
        }
        
        &--award {
            background-position: -84px -155px;
        }
        
        &--course {
            background-position: -84px -182px;
        }
        
        &--project {
            background-position: -83px -210px;
        }
        
        &--reference {
            background-position: -83px -238px;
        }
    }
}