.mb-15 {
    margin-bottom: 1.5rem;
}

.mb-30 {
    margin-bottom: 3rem;
}


// Top margin
.mt-0 {
    margin-top: 0;
}

.mt-5 {
    margin-top: 0.5rem;
}
.mt-10 {
    margin-top: 1.0rem;
}
.mt-15 {
    margin-top: 1.5rem;
}
.mt-20 {
    margin-top: 2.0rem;
}
.mt-25 {
    margin-top: 2.5rem;
}
.mt-30 {
    margin-top: 3.0rem;
}

// right Margin
.mr-auto {
    margin-right: auto;
}

.mr-5 {
    margin-right: 5px;
}

.mr-10 {
    margin-right: 10px;
}

.mr-15 {
    margin-right: 15px;
}

.mr-20 {
    margin-right: 20px;
}

// left Margin

.ml-auto {
    margin-left: auto;
}