.hide {
    display: none !important;
}

.show {
    display: block;
}

.visible {
    visibility: visible;
}

.hidden {
    visibility: hidden;
}

.h-300 {
    height: 30.0rem;
}

.h-150 {
    height: 15rem;
}

// Fonts

.fs-12 {
    font-size: 1.2rem;
}

.fs-14 {
    font-size: 1.4rem !important;
}

.fs-16 {
    font-size: 1.6rem !important;
}

.fs-20 {
    font-size: 2.0rem !important;
}

.fs-22 {
    font-size: 2.2rem !important;
}

.fs-26 {
    font-size: 2.6rem !important;
}

.bold {
    font-weight: 700;
}

.semi-bold {
    font-weight: 600;
}

.font-weight-light {
    font-weight: 400;
}

.line-through {
    text-decoration: line-through;
}

// Color 

.color-333 {
    color: #333;
}

.color-999 {
    color: $grey-999;
}


.link-color {
    color: $blue;
}


.bg-white {
    background-color: $white;
}


.d-flex {
    display: flex;
}

.d-block {
    display: block;
}

.justify-content-end {
    justify-content: flex-end;
}

.justify-content-start {
    justify-content: flex-start;
}

.justify-content-between {
    justify-content: space-between !important;
}

.justify-content-center {
    justify-content:center;
}

.align-items-center {
    align-items: center;
}

.sorry-popup {
    border-bottom-right-radius: .5rem;
    border-bottom-left-radius: .5rem;
    height: 32%;
}

.text-center {
    text-align: center;
}

.text-uppercase {
    text-transform: uppercase;
}

.text-right {
    text-align: right;
}

.relative {
    position: relative;
}

.img-fluid {
    width:100%;
    height: auto;
    display: block;
}

.overlay-hidden {
    overflow: hidden;
}

.ml-auto {
    margin-left: auto;
}

.mr-auto {
    margin-right: auto;
}

.m-auto {
    margin: 0 auto;
}

.w-150 {
    width: 15rem;
}

.w-100 {
    width: 100%;
}

.position-relative {
    position: relative;
}


.overflow-visible {
    overflow: visible !important;
}

.overflow-hidden {
    overflow: hidden;
}

.close {
    @include size (30px, 30px, flex);
    color: $white;
    font-size: 2.6rem;
    transform: rotate(-45deg);
    position: relative;
    right: -3px;

    justify-content: center;
    align-items: center;
}