

.resume_format {
    padding-bottom: 10px;
    line-height: 1.35rem;
}

.resume_format h1 {
    font-size: 1.3rem;
    line-height: 24px;
    color: #333;
}

.blue_box {
    padding: 20px;
    background: #f3f8fa;
    margin: 20px 0;
}

.blue_box ul {
    margin-top: 10px;
}
.icon-downlod {
    background-position: 0 0;
    width: 44px;
    height: 44px;
    display: block;
    background-image: url("../../images/mobile/cms/sprite.png");
    background-repeat: no-repeat;
    position: absolute;
    bottom: 20px;
    right: 20px;
    z-index: 9; }
.blue_box li {
    list-style: circle;
    margin-left: 20px;
    padding: 5px 0;
}


.white_box_resume {
    background: #fff;
    padding: 25px 15px;
    margin: 0 0 10px 0;
    box-shadow: 0 0 20px 10px rgba(250, 250, 250, 0.9);
}

.white_box_resume h2 {
    padding-bottom: 10px;
    font-size: 1rem;
    line-height: 1.3rem;
    color: #333;
}

.white_box_resume ul {
    margin-top: 10px;
}

.white_box_resume li {
    list-style: circle;
    margin: 2px 0 2px 15px;
}

.white_box_resume .accordion_in {
    border-top: 1px solid #e0e0e0;
    margin-bottom: 1px;
    margin-top: -1px;
    overflow: hidden;
    position: relative;
    z-index: 1;
}

.white_box_resume .accordion_in ul {
    margin: 10px 0;
}

.white_box_resume .accordion_in li {
    list-style: circle;
    margin-left: 15px;
}

.img-wrap {
    position: relative;
    height: 238px;
    width: 183px;
    border: .1rem solid #3f5f94;
    padding: .5rem;
    margin: 10px auto;
}

.img-wrap .img-content .overlay {
    background-color: rgba(0, 0, 0, 0.6);
    width: 92%;
    height: 94%;
    position: absolute;
}

.img-fluid {
    width: 164px;
    height: 217px;
}

.jcon-downlod {
    width: 44px;
    height: 44px;
    display: block;
    position: absolute;
    background: url("../../../images/mobile/cms/resume_sprite.svg") 1px -48px;
    right: 10px;
    bottom: 10px;
    z-index: 100;
}

.white-box-heading {
    color: #1f3d6b;
    border-bottom: 2px solid #1f3d6b;
    display: block;
    font-size: 1rem;
    font-weight: 700;
    text-transform: uppercase;
    margin-bottom:20px; 
}

.media {
    display: flex;
    align-items: flex-start;
}

.white-box ul li {
    list-style-type: none;

    margin: 10px 0;
    line-height: 1.1rem;
}

.white-box ul li a {
    color: #666;
    font-weight: 500;
    font-size: 1rem;
    vertical-align: middle;
}

.ml-15,
.mx-15 {
    margin-left: 1.5rem !important;
}
.request {
  display: block;
  width: 80%;
  margin: 10px auto 20px;
  background: #3e7fea;
  color: #fff;
  text-align: center;
  padding: 8px 0;
  font-size: 1.1rem;
  border: none;
}


    .modal-content .request {
      width: 100%;
    }


.formats li {
  list-style: none;
  width: 30%;
  display: inline-block;
  margin: 2px 2% 2px 0 !important; 

}


.formats li img {
  width: 98%;
  height: 95%;
  border: .1rem solid #3f5f94;
  padding: .25rem;
   position: relative;
}

  .formats .overlay {
    background-color: rgba(0, 0, 0, 0.6);
    width: 100%;
    height: 100%;
    position: absolute;
   
    z-index: 100;
}

.formats1 li {
  list-style: none;
  width: 100%;
  display: inline-block;
  margin: 2px 2% 2px 0 !important; 

}


.formats1 li img {
  width: 98%;
  height: 95%;
  border: .1rem solid #3f5f94;
  padding: .25rem;
   position: relative;
}

  .formats1 .overlay {
    background-color: rgba(0, 0, 0, 0.6);
    width: 100%;
    height: 100%;
    position: absolute;
   
    z-index: 100;
}

.error-txt{
    color:red;

}

#snackbar {
    visibility: hidden;
    min-width: 250px;
    margin-left: -125px;
    background-color: #333;
    color: #fff;
    text-align: center;
    border-radius: 2px;
    padding: 16px;
    bottom: 740px;
    position: fixed;
    left: 43%;
    font-size: 17px;
    top: 5%;
    height: 50px;

}

#snackbar.show {
    visibility: visible;
    -webkit-animation: fadein 0.5s, fadeout 0.5s 2.5s;
    animation: fadein 0.5s, fadeout 0.5s 2.5s;
}

#webkit-keyframes fadein {
    from {bottom: 0; opacity: 0;}
    to {bottom: 30px; opacity: 1;}
}

#keyframes fadein {
    from {bottom: 0; opacity: 0;}
    to {bottom: 30px; opacity: 1;}
}

#webkit-keyframes fadeout {
    from {bottom: 30px; opacity: 1;}
    to {bottom: 0; opacity: 0;}
}

#keyframes fadeout {
    from {bottom: 30px; opacity: 1;}
    to {bottom: 0; opacity: 0;}
}

.print-version {
  display: block;
  font-size: 12px;
  margin-top: 5px;
  margin-bottom: 10px;
  text-align: center;
}